[2021-06-28 11:50] tomaslovato opened #2212 "How to compare model tos to ESACCI-SST data cmorized for variable ts"
I tried the cmorizer for ESACCI-SST (satellite sea surface temperature) and it works fine ..

The cmorized data are associated to the atmospheric variable [ts](http://clipc-services.ceda.ac.uk/dreq/u/90c49fce92dc1f21647dad07d1342843.html) as from the original NCL implementation of the cmorizer (see #1895) with the objective to be used within recipe `recipe_perfmetrics_CMIP5.yml`

Is there a smart

[2021-06-29 09:53] bettina-gier commented on #2198
recipe_perfmetrics_land_CMIP5.yml fails for the fgco2 diagnostics:
[code]

I was able to track it back to missing bounds in the longitude coordinate for some models - these models go through regridding first. When I added a guess bounds
[code]

to longitude in the core _multimodel.py after l.259 it ran through.

Not sure that's the best idea to implement though - but having a problem with the mmm

[2021-06-29 10:12] remi-kazeroni opened #2215 "Missing data for the WFDE5 cmorizer"
**Describe the bug**

The recently merged cmorizer for the WFDE5 #1991 data works fine but the test recipe `recipe_check_obs.yml` crashes with the cmorized data. It returns the following error:
[code]
It seems to me that raw data for the first year and the pr variable is not complete because `recipe_check_obs.yml` runs fine with `start_year: 1980` instead of `1979`. The suspicious files seem to be

[2021-06-30 10:30] valeriupredoi commented on #2189
I'd like to bring forth two topics of discussion:

- retiring support for Python 3.6 in ESMValCore https://github.com/ESMValGroup/ESMValCore/pull/1200
- temporary revert to v2.2.0 multimodel model while the new multimodel module goes through shakedown https://github.com/ESMValGroup/ESMValCore/issues/1201

[2021-06-30 12:02] valeriupredoi commented on #2215
we have two options here: we forget about 1979 completely as you propose or we add a mask to the data in the 1979 file that masks the missing data; I don't know to what extent the data is **really** needed to be from 1979 as well, I say we forget about it and if users complain a lot then we produce a 1979 data file with a mask in it?

[2021-06-30 12:07] valeriupredoi commented on #2212
what better way to seek an answer to this question than to ask the person who helps produce this data - @cjroberts - Charles contributed the cmorizer and data parameters, and only the integration was done by me :+1:  Charles, I know you started a new position recently, if you are not in touch with the SST data production, could you maybe pls point us to a person we can contact? Cheers :beer:

[2021-06-30 12:10] valeriupredoi commented on #2209
Welcome to ESMValTool! have you guys managed to get full contributors' credentials from @axel-lauer ? (Cheers, Axel BTW!) You can just open a Draft pull request with the branch and while work is being done we can have a look from afar (if need be), and then when it's all good for review, change it from Draft to Ready for Review :beer:

[2021-06-30 12:11] valeriupredoi commented on #2194
did this happen? Can we close the isue and maybe open a new one for July? :beer:

[2021-06-30 12:14] valeriupredoi commented on #2175
thx @ehogan and again, it took me two weeks to be back here :laughing: I am going to try replicate it locally now, but the automated tests run OK for Python 3.8, see [Github Actions for 3.8](https://github.com/ESMValGroup/ESMValTool/runs/2947703095?check_suite_focus=true)

[2021-06-30 13:47] valeriupredoi commented on #2175
Hi @ehogan I could not manage to reproduce the issue, from a base Python 3.9.4 (I can try a 3.8.5 if need be) and conda 4.10.1, maybe if you retry and/or upgrade the base Python to 3.9? There may be issues with the R packages installs from time to time, but most of these get resolved by re-trying. Having said that, we should update the automated tests since Circle uses the latest Python and the Gi

[2021-06-30 13:50] rswamina commented on #2194
This meeting is now done.

[2021-06-30 13:50] #2194 closed

[2021-06-30 18:54] cjroberts commented on #2212
Hi V, you could try Owen in the Surface Temperature group. I don't seem to be able to mention him here, so I will send an email to you both putting you in touch.

[2021-07-01 09:19] rswamina commented on #2189
I'd like to give an update from the recently held User Engagement Team meeting.

[2021-07-01 09:41] valeriupredoi commented on #2212
cheers @cjroberts :beer:

[2021-07-01 11:29] zklaus commented on #2198
To keep track of what is still open, I'll mark all comments that have been resolved with a :tada:

[2021-07-01 13:21] bouweandela commented on #2189
Thank you for attending everyone! Here is a summary of the topics we discussed in the meeting:

User engagement update by @rswamina
- 2 new members @ehogan and @SarahAlidoost
- the team will make introductory talks to ESMValTool available on www.esmvaltool.org, please share any ESMValTool related talks with @ESMValGroup/userengagementteam
- Slides are available for re-use if you would like to intr

[2021-07-01 16:03] SarahAlidoost commented on #2189
Here I am tagged as a new member :bowtie: but "Tamzin Palmer" is one of the new members of the user engagement team.

[2021-07-02 07:53] schlunma opened #2217 "ESMValTool installed in development mode does not run"
**Describe the bug**

After installing ESMValTool in development mode from scratch, running the tool with `esmvaltool run recipe_python.yml` fails immediately with a

[code]

The installation itself works well and doesn't raise an error. Here is the log of it: [install.log](https://github.com/ESMValGroup/ESMValTool/files/6753020/install.log)

Doing a `import iris` or `import netCDF4` in a `python`

[2021-07-02 08:48] valeriupredoi commented on #2217
yes, we have the most basic one, `esmvaltool help` :grin: If you do a `which pip` what do you get Manu? I have noticed recently that conda decides to supersede the environment's pip with the one installed in `base` env and was not sure if that is an issue just on my machine; I'll have a look at this later on today :+1:

[2021-07-02 09:26] zklaus commented on #2217
I did run into the same issue as @schlunma.
I think it is a bug in the netcdf4 conda-forge package:
Running `mamba list netcdf4` or `conda list netcdf4` in the environment returned a Build which starts with `nompi_py39...` so it should not depend on mpi, but
[code]
lists a libmpi as not found library.

I was able to work around that with a simple `conda update netcdf4`, but clearly that's sub-opti

[2021-07-02 12:25] valeriupredoi commented on #2217
OK I have just created a brand new env (with `mamba` since conda would not finish even after 30min heh) and I *believe* `mpich` is the problem here, you have a dodgy floater off `external_0` build (always, always stay away from external builds), if I update my `mpich` to that I run in exactly the same lib import issue (note that --help actually works, but a test run doesn't, but we do have test ru

[2021-07-02 12:29] valeriupredoi commented on #2217
`mpich` has a linux-64 native build 3.4.2 as we can see in the [package list](https://anaconda.org/conda-forge/mpich/files) - why conda/mamba want to install the external build is beyond me

[2021-07-02 12:38] bouweandela commented on #2198
To help with this task and to prepare for automating it better in the future, I tried to run all recipes on Mistral. The output can be seen [here](https://esmvaltool.cloud.dkrz.de/shared/esmvaltool/v2.3.0-test/).

Note that if you see a web page when viewing the results of a successful recipe run and some plots or other output is missing from it, this is because provenance has not been implemented

[2021-07-02 12:45] bouweandela commented on #6
Note that @zklaus has made some progress on this issue and `esmvalcore` as well as `esmvaltool-python` are now available on conda-forge.

[2021-07-02 12:46] valeriupredoi commented on #2217
trying to force that at env solving while asking for the latest `mpich` with `"mpich[version='>=3.4.2,!=3.4.2',build=external_0]"` results in env solving error, I guess there is a conflicter package that really wants that or below. Instead of doing that, pinning `netcdf4>=1.5.7` results in package conflict as well:
[code]
We'll have to pin `mpich to <3.4` for now

[2021-07-02 13:03] valeriupredoi commented on #2217
just noticed that we do indeed pin `mpich<3.4` in the CI config meta.yml (I must have left it there inadvertently when I removed the pin in the other two files gah)

[2021-07-02 13:06] zklaus commented on #2217
Possibly relevant: https://github.com/conda-forge/mpich-feedstock/issues/55

[2021-07-02 13:12] bouweandela commented on #2189
Sorry, I must have been sleeping when I was taking the notes :zzz: :zzz: :zzz:

[2021-07-02 13:17] zklaus commented on #2189
The discussion about multi-model issues is now available at #2218, though a few issues are still missing.

[2021-07-02 14:00] tomaslovato commented on #2212
@valeriupredoi Given that this cmorizer is dedicated to support and existing recipe it does not make sense to change it, if there is a way to mix up datasets with two different variable names in the diagnostics section of the recipe (model `Omon, tos`  and obs `Amon, ts`) ?

If not, then the ESACCI-SST data should be, e.g.,  duplicated to create files referring to `Omon, tos` cmor variable in orde

[2021-07-02 14:31] #2217 closed

[2021-07-02 14:37] valeriupredoi commented on #2217
yep that's the bugger @zklaus - it appears there are possible solutions but nothing solid, well, more solid than pinning to an older version. Let's keep an eye on this stuff, maybe we should open an issue and close it only when we can get a definitive solution?

[2021-07-02 14:39] zklaus commented on #2217
Yeah, maybe we can spitball some ideas there. For example, could it be possible to forbid `*external*` builds?

[2021-07-05 08:21] schlunma commented on #2217
Cheers @valeriupredoi and @zklaus, thanks for the quick fix and sorry for the slow response! Just re-tested this and everthing works well now! :tada:

Just one quick question: Do we need a similar treatment for ESMValCore's `environment.yml` and `meta.yml`?

[2021-07-05 14:13] ruthlorenz commented on #2198
Has anyone successfully run a recipe with ncl diagnostics? I try to run recipe_collins13ipcc.yml but receive an error from $diag_scripts/../interface_scripts/auxiliary.ncl

fatal:Undefined` identifier: (ncdf_write) is undefined, can't continue

Not sure if this is related to the new core or I am doing something very wrong....

[2021-07-05 14:18] bettina-gier commented on #2198
I ran perfmetrics, smpi and gier2020bg which had no problems with ncl. Manuel also ran anav judging from the list. And Remi ran the ncl test recipe. Can you see if there's a error further up in the log for why ncdf_write is undefined for you? I did change that function a bit to allow for writing several variables into one netcdf file, but hadn't found any issues testing it without using that optio

[2021-07-05 14:25] ruthlorenz commented on #2198
Thanks for that, I attach the full log, the first error is:
fatal:syntax error: line 156 in file $diag_scripts/../interface_scripts/auxiliary.ncl before or near \n
  elseif (meta .eq. "diag_script")

[log.txt](https://github.com/ESMValGroup/ESMValTool/files/6764902/log.txt)

[2021-07-05 14:27] bettina-gier commented on #2198
You need to update your ncl version, elseif was introduced in version 6.5, you're using 6.4. Which is weird cause the environment.yml file specifies ncl>=6.5

[2021-07-05 14:29] ruthlorenz commented on #2198
aha, it picks up 6.4 somehow, (because thats the default on the machine maybe), or something stupid I did, thanks!!! I try with >=6.5

[2021-07-05 16:43] tomaslovato commented on #2212
a quick feedback on this ... its rather simple to obtain the `tos` variable from this cmorizer by adding it on the bottom of the configurations files as in the following :
[code]
Then the discussion would be if it can go this way or not ...

Besides, I would like to suggest to have a direct control of start/end year values of the available raw data directly in the configuration file, as by now it

[2021-07-06 09:12] Emmadd opened #2222 "Reference period hardcoded in KCS local_resampling, not taken from recipe"
I'll try to make a pull request to fix this.
The reference period is not taken from the KCS recipe, but hardcoded in line 333 of local_resampling.py (control = ...)
Regards, Emma

[code]

[2021-07-06 09:19] Emmadd commented on #2222
And perhaps also fix that in line 405 the scenario years to be used for the plots are hardcoded (and plots are produced even when there is no data)

[2021-07-06 12:26] lukasbrunner opened #2224 "Bug in ploting routines for ClimWIP test recipes"
**Describe the bug**
In a recent PR (#1859) we have slightly modified the recipe structure required for the mapplot and lineplot routines. We need to update the older recipes accordingly otherwise they crash (see #2198)

I will do this for the three recipes in separate PRs:
- recipe_climwip_test_basic.yml
- recipe_climwip_test_performance_sigma.yml
-  recipe_climwip_brunner2019_med.yml

[2021-07-07 13:58] morobking commented on #1945
@valeriupredoi Is there a way to fix those errors please?

[2021-07-08 16:04] Peter9192 commented on #2224
@lukasbrunner I'm a bit confused by the three PRs you have now. #2226 touches only the "brunner 2019" recipe, but the other PRs both touch all three recipes, with quite similar changes. Is there a certain order in which they should be reviewed/merged? Or did you intend to modify only 1 recipe per PR?

[2021-07-09 08:08] lukasbrunner commented on #2224
Sorry for the confusion I think it was only #2225 where I messed up. This should be fixed now. I tried to keep the 3 recipes in separate PRs indeed...

[2021-07-09 09:52] fserva opened #2228 "Update of zmnam"
**Short description of the diagnostic update**
The purpose of the update is to extend the zonal mean northern annular mode recipe (zmNAM) to work with the southern hemisphere case as well. The choice of latitudes could be managed by a parameter in the revised recipe.
The name does not need update, since this would simply become Zonal MeaN Annular Mode

**Branch and pull request**
Once you've start

[2021-07-09 14:32] Peter9192 commented on #2224
It would be helpful if you could write explicitly what was changed about the recipe

[2021-07-09 19:30] fserva commented on #2228
I've checked the results of the updated code.

The northern annular mode is  the same since the code is not changed (apart from moving the
latitude selection from esmvalcore to the code).

For the SAM (note longitudes are rotated and methodology is not exactly the same of the two references, but I am not aware of better examples)
![image](https://user-images.githubusercontent.com/30461527/12512678

[2021-07-12 09:36] #2224 closed

[2021-07-12 16:43] valeriupredoi opened #2231 "We are using a rather old hdf5 version; `iris>=3.0.1` prevents using a more modern one"
`hdf5` needs to be kept at a relatively new version (otherwise all sorts of mayhem can happen), and ours is rather old, very old I should say 1.10.6 (last updated more than 6 months ago)

 Reason is iris, see [comment](https://github.com/ESMValGroup/ESMValTool/issues/2231#issuecomment-882579934)

[2021-07-13 11:45] zklaus commented on #2157
Since the PR is still in scientific review, I am bumping this to 2.4.0.

[2021-07-13 11:47] zklaus commented on #2155
Since the PR is still before both reviews, I am bumping this to 2.4.0.

[2021-07-13 15:22] ValerioLembo opened #2233 "Recipe: recipe_thermodyn_diagtool.yml (TheDiaTo)"
**Short description of the diagnostic**
This recipe includes the Thermodynamic Diagnostic Tool (TheDiaTo) suite of diagnostics for the thermodynamics of the climate system, described in [Lembo et al. 2019](https://gmd.copernicus.org/articles/12/3805/2019/)

Documentation:
https://github.com/ESMValGroup/ESMValTool/blob/version2_thediato_v2/doc/sphinx/source/recipes/recipe_thermodyn_diagtool.rst

Br

[2021-07-13 15:59] #2233 closed

[2021-07-13 16:36] #2190 closed

[2021-07-14 07:23] mwjury commented on #2215
Good catch!
It concerns the first 7 timesteps of the raw 1979 PR hourly files. I'd assume that this has a negligible impact on the daily/monthly aggregations, but nevertheless, better save than sorry.

[2021-07-14 08:03] #2215 closed

[2021-07-14 14:28] valeriupredoi opened #2235 "stdout says "INFO Using config file None" when using default config-user file in $HOME/.esmvaltool"
which is a direct consequence of the fact that the file is indeed `None` at the beginning, before delving into `read_config_user_file()` that sets it. It's not nice, and needs fixing (I'll do it in a bit)

[2021-07-19 09:34] findoslice commented on #973
@valeriupredoi @bouweandela Hi both, I'm currently following the tutorial and have encountered a similar issue when trying to run `pip install --editable`. It looks like a separate issue but potentially related so didn't want to raise a new issue, my error output from it is:
[code]
Any ideas on how to solve?

[2021-07-19 09:40] findoslice commented on #973
Apologies for bothering you, I missed the comment which actually had the solution and that also sorted my issue. Sod's law that I saw the solution after asking for it! :sweat_smile:

[2021-07-19 12:45] valeriupredoi commented on #2231
you are correct, Kman, I get the same message even if I pin `nco>=5.0.1`:
[code]

Having a look now

[2021-07-19 14:09] valeriupredoi commented on #2231
OK I pinned down the problem - I tried getting and env done only with `hdf5>=1.12` and `iris>=3.0.1`:
[code]
then I pinned python to `python>=3.9` and I still get the same complaint. Using conda doesn't help, it hits that infamous UnsatisfiableError, but it mutters something:
[code]

[2021-07-19 14:48] valeriupredoi commented on #973
no problemo, `pip` works in mysterious ways :laughing:

[2021-07-19 15:57] rswamina opened #2239 "September ESMValTool User Engagement Team Meeting"
The next ESMValTool User Engagement Team Meeting will be on Sep 6th, 2021 between 14:00-15:00 BST. Please message here if you would like an invitation to join on MS Teams or would like to add to the agenda.

[2021-07-21 09:36] #2235 closed

[2021-07-21 10:21] bouweandela opened #2240 "Monthly ESMValTool meeting August"
The next monthly ESMValTool meeting will be in August. The result of the poll is that it will be on

Thursday, August 5 at 11:00 CEST (10:00 BST).

The duration will be one hour. [Join the zoom meeting](https://us02web.zoom.us/j/86356385817).

Calendar invitations to the meeting are sent to the mailing list, join it [here](https://docs.esmvaltool.org/en/latest/introduction.html#user-mailing-list).

[2021-07-21 10:25] #2189 closed

[2021-07-21 10:26] valeriupredoi commented on #2198
OK don't worry about this for now, we have matplotlib pinned to `<3.4` for now and that does the job for that recipe, there are still issues with `iris` and the latest `nc-time-axis` see https://github.com/SciTools/iris/issues/3959 - we'll try unpin matplotlib when we can see that all sorted :+1:

[2021-07-21 10:28] #2173 closed

[2021-07-21 10:31] bouweandela commented on #2149
@zklaus Do you have an indication when that will be?

[2021-07-21 11:23] zklaus opened #2241 "ERA-Interim cmorizer puts bounds on plev coordinate"
**Describe the bug**
The ERA-Interim cmorizer puts bounds on the plev coordinate in https://github.com/ESMValGroup/ESMValTool/blob/1c2bbd24e17e649a66dfaa7f7376fd9160b16ce7/esmvaltool/cmorizers/obs/cmorize_obs_era_interim.py#L159. This makes intuitive sense, but is problematic because these bounds are not part of the CMIP standard for the plev(19) coordinate and are thus incompatible with the CMIP

[2021-07-21 11:30] zklaus commented on #2149
It should be in 2.4.0, and rather earlier in devel, say early September.

[2021-07-21 21:02] ruthlorenz commented on #2241
I would not call myself an expert on plev coordinates...
But not adding bounds if the CMIP data do not have them sounds reasonable to me.

[2021-07-22 08:02] zklaus opened #2242 "Changed argument order broke some recipes"
**Describe the bug**
In #1827 the order of arguments for function `esmvaltool.diag_scripts.shared.plot.quickplot` was changed to make `filename` a keyword argument. However, not all recipes that make use of this function were adapted which broke `recipe_consecdrydays.yml`.

[2021-07-22 08:05] zklaus commented on #2242
@bouweandela, @Peter9192, @schlunma, I assigned you because you were involved in the change of argument order. If you could address this that would be great. It's probably a simple change to `diag_scripts/droughtindex/diag_cdd.py`.

[2021-07-22 13:01] zklaus opened #2243 "Landschuetzer2016 cmorizer uses custom longnames for coordinates"
**Describe the bug**
The Lanschuetzer2016 cmorizer creates latitude and longitude coordinates with long names of "latitude coordinate" and "longitude coordinate", respectively. This seems ok on the face of it, but CMIP6 models use only "latitude" and "longitude" for the long name and this discrepancy creates slight problems for the cube arithmetics.

I suggest to change the cmorizer to use only th

[2021-07-23 14:55] bouweandela commented on #2242
Thanks, I'll have a look

[2021-07-23 14:57] bouweandela commented on #2198
It looks like that was just fixed with the release of iris 3.0.4

[2021-07-23 15:34] zklaus commented on #2198
In principle yes, but we noticed that the update to iris 3.0.4 comes with a bunch of (very useful) implications:
- Drop of Python 3.6
- Update cftime to 1.5.1, bringing with it a slurry of changes in calendar and time handling
- Update of scipy
- Update of matplotlib

so we decided to pin to <3.0.4 for the bugfix release now. Let's discuss how to proceed in a separate issue.

[2021-07-23 16:14] bouweandela commented on #2242
Were there any other recipes broken, or just recipe_consecdrydays.yml?

[2021-07-26 06:48] bouweandela commented on #2243
To be more precise, [CMIP6 models use "Longitude"](https://github.com/ESMValGroup/ESMValCore/blob/90842fde5916a2a3d1370d6925fe192fedcd984b/esmvalcore/cmor/tables/cmip6/Tables/CMIP6_coordinate.json#L850) and [CMIP5 uses "longitude"](https://github.com/ESMValGroup/ESMValCore/blob/90842fde5916a2a3d1370d6925fe192fedcd984b/esmvalcore/cmor/tables/cmip5/Tables/CMIP5_Amon#L76). However, variables that are

[2021-07-26 06:50] bouweandela commented on #2243
An alternative would be to come up with our own standard for these very common coordinate names, because it's always going to give trouble when trying to combine iris cubes from different projects.

[2021-07-26 09:15] zklaus commented on #2243
I think short-term it's a good idea to remove the ` coordinate` part from the long names. Mid- to long-term, having our own convention would be one way to go. Another alternative could be to change the Iris matching code to take the particular, but rather specific CF conventions ways of identifying [latitude](http://cfconventions.org/cf-conventions/cf-conventions.html#latitude-coordinate) and [lon

[2021-07-26 09:42] valeriupredoi opened #2245 "ESMValCore: pin on `iris<3.0.4` to still allow (formal) support for Python=3.6"
OK here's a twisted one: @zklaus and myself have pinned `iris<3.0.4` (the latest release from last week; here's the PR https://github.com/ESMValGroup/ESMValCore/pull/1252 ) because they dropped support for Python=3.6 in that latest version and we would still (formally) support it until we release 2.4. Hence we have released [ESMValCore 2.3.1](https://github.com/ESMValGroup/ESMValCore/releases/tag/

[2021-07-26 10:40] zklaus commented on #2243
I just saw that this change is actually performed in the helper function `esmvaltool.cmorizers.utilities:fix_coords` which is used in a number of cmorizers, so to be conservative, I will not perform this change for this release, but there is a risk that a lot more observational datasets are affected.

[2021-07-26 10:53] zklaus commented on #2242
I didn't check; `recipe_consecdrydays.yml` is the only one I know of.

[2021-07-26 13:15] zklaus commented on #2242
Ok, now I tried to grep (well, really ack) for it and didn't find any other diagnostic script that used this, so I think we are good for now.

[2021-07-26 15:15] #2242 closed

[2021-07-27 13:49] #2157 closed

[2021-07-30 17:37] hsuchyta opened #2249 "Trying to revert to a previous version of esmvaltool"
Hi! I have been trying to run ESMValTool but so far I have been unsuccessful. I think the issue comes from an updated version of esmvalcore being used, so I have been trying to revert back to esmvalcore 2.1.0. I have been able to delete the esmvaltool environment in conda and install esmvalcore 2.1.0 by using:

conda create -n esmvalcore210
conda activate esmvalcore210
conda install -c esmvalgroup

[2021-08-02 07:34] bouweandela commented on #2249
The recommended procedure to install ESMValTool is available in our documentation [here](https://docs.esmvaltool.org/en/latest/quickstart/installation.html#conda-installation). Have you tried following the instructions there already?

In particular, it is recommended that you specify the python version in the installation command line, because conda can take several hours to solve the environment

[2021-08-02 07:35] bouweandela commented on #2249
A faster alternative to conda is [`mamba`](https://github.com/mamba-org/mamba), you can also give that a try if you feel conda is too slow.

[2021-08-02 08:12] bouweandela opened #2250 "ESMValTool v2.3 not available on Conda"
ESMValTool v2.3 is not available in the `ESMValGroup` conda channel: https://anaconda.org/ESMValGroup/esmvaltool

There is [`esmvaltool-python` v2.3 available on conda forge](https://anaconda.org/conda-forge/esmvaltool-python), but this only allows running the Python diagnostics.

This means that users who follow our [installation instructions](https://docs.esmvaltool.org/en/latest/quickstart/inst

[2021-08-03 11:01] fserva commented on #2059
Hi @bouweandela in #2230 I am trying to check the latest pushed changes with the bot, however in the last two attempts tagging it did not work at all (no bot reply).

Do you know if there is a problem (e.g. disk space or queues) on the server the bot is running on? Not sure if the processes timed out for some reason. Thanks

[2021-08-03 11:04] fserva commented on #2059
@esmvalbot Please run examples/recipe_my_personal_diagnostic.yml

[2021-08-03 11:41] bouweandela commented on #2059
It looks like the machine ran out of disk space, will try to clean up a bit.

[2021-08-04 16:01] remi-kazeroni commented on #2198
Regarding failing recipes because of "missing ERA5 data":

- recipe_ecs_constraints_20210625_151321: should be "Missing CMIP5 data" instead
- recipe_era5_20210625_150707: let's wait for #2182 to be merged. The problem is that the current recipe contains variables for which the cmorization is not supported according to the [doc ](https://docs.esmvaltool.org/en/latest/input.html#supported-datasets)(

[2021-08-05 10:52] bouweandela commented on #2240
Thanks for attending everyone!

Here are some updates about what everyone is working on:

- @hb326 Paper for ozone analysis with esmvaltool submitted
- @schlunma Successfully defended his PhD :partying_face:
- @jvegasbsc Working with @remi-kazeroni on improving the ease with which observational datasets can be downloaded and CMORized in #1657
- @katjaweigel Is still looking for reviewers for #2156

[2021-08-05 11:00] bouweandela commented on #2250
Work in progress by @zklaus in https://github.com/conda-forge/esmvaltool-python-feedstock/pull/6 and https://github.com/conda-forge/staged-recipes/pull/14637.

[2021-08-05 11:12] bouweandela opened #2255 "Where do I find the announcement for the Monthly meeting?"
The monthly meeting is now organized as a discussion, so we can try out if this format better facilitates the discussion of multiple topics ahead of and after the meeting.

Click the [Discussions](https://github.com/ESMValGroup/ESMValTool/discussions) tab above to go there or go to  https://github.com/ESMValGroup/ESMValTool/discussions/2254 to go directly to the discussion.

[2021-08-05 11:34] bouweandela commented on #2198
Thanks for looking into this @remi-kazeroni!

Yes. For example, if it turns out that they need 10 TB of RAM, they do not work

Yes, because the input data is so diverse that this is the only way to make sure everything works. I used 29 compute hours on Mistral for the tests I did in this issue, so the required amount of compute hours seems manageable so far.

You're probably right (cf https://gith

[2021-08-05 12:24] hsuchyta commented on #2249
Thank you! I ended up using the command :

conda create -n esmval_test -c conda-forge -c esmvalgroup esmvaltool==2.1.1 python=3.8

and it fixed my issue!!

[2021-08-05 12:24] #2249 closed

[2021-08-06 07:40] Peter9192 commented on #2240
Congrats!! 🎉 🍻

[2021-08-06 07:53] schlunma commented on #2240
Thanks @Peter9192 :smile:

[2021-08-06 11:54] hb326 opened #2259 "Out-of-schedule ESMValTool date for developer discussion about testing strategy"
Hey all,
after we had some problems with the recipe testing lately, and after we had a brief discussion about a possible ESMValTool testing strategy at the last monthly meeting, we decided that it would be a good thing to set aside some time to be able to discuss this in detail.
So there will be a half-day out-of-schedule ESMValTool developers meeting to talk about a testing strategy. Please indic

[2021-08-06 14:02] remi-kazeroni commented on #2198
On Mistral we have a shared directory for auxiliary data files (/mnt/lustre02/work/bd0854/DATA/ESMValTool2/AUX), similarly to OBS and RAWOBS. It could be an option to use this common directory to avoid duplications and missing data. Note that /mnt/lustre02/work/bd0854/DATA/ESMValTool2/AUX is mirrored to Jasmin.
Following the docs I could download everything but:
- `dem_file: 'wflow_parameterset/me

[2021-08-06 14:23] bouweandela commented on #2198
Great, could you add that to the config-user.yml that is shipped with ESMValCore so people can find it? I think we may run into similar issues as with the

Could you please open new issues for the missing auxiliary data files? Then we can tag the authors of the respective recipes there and hopefully get it solved.

[2021-08-06 14:54] Peter9192 commented on #2198
There is an example here: https://github.com/openstreams/wflow/blob/master/examples/wflow_rhine_sbm/staticmaps/wflow_dem.map although I'm not sure if that's the same region as currently specified in the extract_region preprocessor in the [recipe](https://github.com/ESMValGroup/ESMValTool/blob/main/esmvaltool/recipes/hydrology/recipe_wflow.yml).

Agree it would be good to document this, so as soon

[2021-08-09 08:08] remi-kazeroni opened #2260 "Missing instructions to download the shape file needed for the `hydrology/recipe_wflow.yml`"
**Describe the bug**
Running the recipe `hydrology/recipe_wflow.yml` requires a shape file: `dem_file: 'wflow_parameterset/meuse/staticmaps/wflow_dem.map'` for which instructions are currently missing in the [documentation](https://docs.esmvaltool.org/en/latest/recipes/recipe_hydrology.html). It would be good to document that so that the recipe can be tested thorougly (c.f. #2198).

[2021-08-09 08:16] remi-kazeroni opened #2261 "Difficulties to download the target grid file needed to run `hydrology/recipe_globwat.yml`"
**Describe the bug**
In #2198, we are aiming at testing all the recipes and I am having trouble to find the `target_grid_file: 'globwat/globwat_target_grid.nc'` required to run `hydrology/recipe_globwat.yml`. In the [documentation](https://docs.esmvaltool.org/en/latest/recipes/recipe_hydrology.html#user-settings-in-recipe), it is written that:

but I could not locate the file `prc01wb.asc` in the

[2021-08-09 10:37] Peter9192 commented on #2260
A wflow example dataset is available [here](https://github.com/openstreams/wflow/blob/master/examples/wflow_rhine_sbm/) and the specific dem-file for that example use case is available [here](https://github.com/openstreams/wflow/blob/master/examples/wflow_rhine_sbm/staticmaps/wflow_dem.map)

We could update the recipe so that it represents the same region as used in this example, and then point to

[2021-08-09 12:47] SarahAlidoost commented on #2261
I will follow up on this issue.

[2021-08-09 14:18] remi-kazeroni opened #2262 "Download instructions for the MSWEP data"
**Describe the bug**
The MSWEP data needed for the recipe `hydrology/recipe_hydro_forcing.yml` are a bit difficult to download. The current instructions can be found in the [ESMValCore documentation](https://docs.esmvaltool.org/projects/ESMValCore/en/latest/develop/fixing_data.html#mswep) but the link there ([http://www.gloh2o.org/mswep/](http://www.gloh2o.org/mswep/)) only gives access to the lat

[2021-08-09 14:54] Peter9192 commented on #2262
@jeromaerts perhaps you can comment on the version and (public) availability of MSWEP?

[2021-08-10 14:04] SarahAlidoost commented on #2261
@remi-kazeroni it seems that the link in the documentation does not direct to the data anymore. You can download the data using this [link](https://storage.googleapis.com/fao-maps-catalog-data/geonetwork/aquamaps/GlobWat-InputP1_prec.zip).  It is a zip file that includes several asc files like `prc01wb.asc`.
@babdollahi will fix the link in the documentation via a pull request.

[2021-08-17 14:07] valeriupredoi opened #2263 "Python 3.7 environment fails to solve with `conda env update` in Github Actions test"
[test](https://github.com/ESMValGroup/ESMValTool/runs/3345760560?check_suite_focus=true)

This is a recurring issue. I'm looking into it right now.

**Update - cause found**

The problem is that the conda incubator task uses a patched env file:
[code]

instead of using the command `conda create --name esmvaltool 'python=3.7' && conda env update --name esmvaltool` which works fine - the env updatei

[2021-08-17 14:47] valeriupredoi commented on #2250
through lots of sweat and blood from poor @zklaus (cheers, bro :beer: ) this is now available. However, I'd like to give it a nice test before we close this, I'll do that in the morrow

[2021-08-17 14:48] valeriupredoi commented on #2245
@bouweandela we have already eliminated support for Python 3.6 right? Do we need to do more on this?

[2021-08-17 14:56] valeriupredoi commented on #2231
OK there seems to be no direct action on either side (neither ours nor iris folks) so am closing this for now, we may have to reopen it sometime. The "if ain't broken don't fix it" rule applies for now :grin:

[2021-08-17 14:56] #2231 closed

[2021-08-17 15:08] valeriupredoi commented on #2263
snap! it took longer on me computer but it still did the trick, I'll try mamba instead of bugging the conda incubator guys for now

[2021-08-18 11:57] valeriupredoi opened #2265 "GitHub: authentication with token and cachiing it"
attm: all users and developers that use GitHub @ESMValGroup/esmvaltool-developmentteam

GitHub retired the username+password authentication mechanism on August 13. Now you are forced proper to create an access token (Personal Access Token or PAT) and configure it so you can do repo operations involving the remote server. Here's a quick guide for you to get started with this, if you haven't done so

[2021-08-19 07:44] bouweandela commented on #2245
It might be nice to unpin iris again so we can use the latest features?

I'm not sure there was ever a need to pin iris, because if you want to use our tool with Python 3.6 you can do so with the older version of iris and if you want to use it with a newer version of Python there is no need to use an old iris version.

[2021-08-19 14:53] #2263 closed

[2021-08-19 15:06] valeriupredoi commented on #2245
yeah no, was just about to do it today (then I got busy with bureaucracy shtuff at work), it's high time we did it, I'll do a PR now, let the GA tests go nuts too :+1:

[2021-08-19 16:24] valeriupredoi opened #2267 "Problem with Cartopy vectors on various projections"
Not sure if this affects us or not, but better safe than sorry - thanks to @ajheaps who flagged this to me https://github.com/SciTools/cartopy/issues/1179 - can someone who knows their diagnostic plots vectors and uses various projections with Cartopy have a look and see if their results are wonky, please? :beer:

[2021-08-20 09:30] #2245 closed

[2021-08-20 12:37] #1909 closed

[2021-08-20 13:09] remi-kazeroni commented on #2261
@SarahAlidoost Thanks, the link works fine and I could download the asc file. In the [documentation](https://docs.esmvaltool.org/en/latest/recipes/recipe_hydrology.html#user-settings-in-recipe), it is suggested to generate the NetCDF file by doing: `gdal translate -of netCDF ASCII prc01wb.asc globwat_target_grid.nc` but I think it should actually be: `gdal_translate -of netCDF prc01wb.asc globwat_

[2021-08-23 08:37] SarahAlidoost commented on #2261
@remi-kazeroni thanks for pointing this out. Banafsheh is currently on holiday, but I tag her here.  @babdollahi could you please have a look and fix the command, too?

[2021-08-23 20:26] hahsan1 opened #2270 "Generating 2D difference maps"
I would like to generate 2D NetCDF difference maps between various model reference cases and their perturbations.

I have the option for "Diagnostics write NetCDF files" set to true in the config-user.yml file. But this only generates a NetCDF file for the reference case. Is there an option to have a NetCDF generated for the difference between the reference and perturbation? Or a diagnostic script

[2021-08-24 14:50] hb326 opened #2272 "Updating the NIWA-BS CMORizer script"
I want to update the NIWA-BS CMORizer script so that it can handle the latest version of the dataset which includes more years than the version that is currently supported by the CMORizer.

I'm working on the branch "CMORizer_NIWA-BS_update", and just opened a draft pull request (#2271).

[2021-08-27 11:57] valeriupredoi opened #2274 "Conda Mamba related issues and pull requests"
Just collecting all the conda/mamba/boa/other big snakes-related issues and PRs in one issue so we keep track of them and hopefully fix them all and close them all at once (yeah, wishful thinking right?):

**Issues**
- https://github.com/ESMValGroup/ESMValTool/issues/2250
- https://github.com/ESMValGroup/ESMValTool/issues/2204
- https://github.com/ESMValGroup/ESMValTool/issues/2126
- https://githu

[2021-08-30 09:34] bouweandela opened #2275 "Docker image for ESMValTool v2.3 not available on DockerHub"
The docker image for ESMValTool v2.3 is not yet available on DockerHub:
https://hub.docker.com/r/esmvalgroup/esmvaltool/tags?page=1&ordering=last_updated

[2021-08-30 09:36] bouweandela opened #2276 "Automatic builds on DockerHub are failing"
There appears to be a problem with the Julia installation when building the container:
[code]
from https://hub.docker.com/repository/registry-1.docker.io/esmvalgroup/esmvaltool/builds/3457364a-0078-4bb2-8950-8af07622ae5e

[2021-08-30 21:18] hahsan1 opened #2277 "Land-sea masking takes 3 times longer to run"
When running a recipe with land-sea masking, I find that it can take 3 (and sometimes even up to 5) times longer to run compared to without a mask. Is this normal?

I'm running with ESMValTool v2.1.1.

[2021-08-31 13:41] hb326 commented on #2259
Hey all @ESMValGroup/esmvaltool-developmentteam @ESMValGroup/esmvaltool-coreteam,
please don't forget to fill out the poll, so that we can set a date and time for the disucssion about the recipe testing.

Thanks!!

[2021-08-31 14:52] ehogan commented on #2175
Hi @valeriupredoi, apologies for taking so long to reply to your message! I have been testing various configurations; using two seperate Conda installs, one with Conda v4.10.3 and base Python v3.7.6 and another with Conda v4.10.3 and base Python v3.9.5 (newly installed today from the latest miniconda installer):

* I am unable to run the following command in both cases:
`conda create --name esmval

[2021-08-31 17:19] hahsan1 commented on #2270
Taking a look at the documentation I found [here](https://docs.esmvaltool.org/en/latest/recipes/recipe_validation.html), it says:

I wonder if there are plans to implement this feature soon? Or is there a quick workaround? I am still new to python so any advice would be greatly appreciated!

[2021-09-01 10:54] zklaus commented on #2267
The only use of `quiver` in our code base that I could find is in `esmvaltool/diag_scripts/emergent_constraints/lif1f2.py`. There, it seems like this is not an issue because plot and data use the same projection (plate carrée). However, maybe this should be double checked? @katjaweigel and @axel-lauer have worked on that program. Could you two have a quick look?

[2021-09-01 13:23] zklaus commented on #2198
I will close this issue, since we are well passed the 2.3.0 release of ESMValTool.

I encourage everyone who has been involved in this issue to see if there are issues that were discovered here and have neither been resolved nor are being tracked in there own ticket yet and to open separate issues for those.

For the next round, i.e. 2.4.0, I suggest we try this exercise as a discussion instead of

[2021-09-01 13:23] #2198 closed

[2021-09-02 07:20] zklaus commented on #2250
Finally, we have https://github.com/conda-forge/esmvaltool-suite-feedstock, which leads to https://anaconda.org/conda-forge/esmvaltool, https://anaconda.org/conda-forge/esmvaltool-r, https://anaconda.org/conda-forge/esmvaltool-ncl.

Note that also the R part now is fully package and does no longer rely on our custom installation of R packages, so this might even help with #2175.

We did lose the J

[2021-09-02 07:30] bouweandela commented on #2250
[code]

[2021-09-02 09:22] bouweandela commented on #2005
@ESMValGroup/esmvaltool-recipe-maintainers Please note that this feature will be removed in the upcoming v2.4 release [planned for October](https://docs.esmvaltool.org/en/latest/community/release_strategy.html#upcoming-releases). Please update your recipes and their documentation if they support the `write_netcdf` or `write_plots` setting (or even require it to run successfully).

[2021-09-02 15:07] zklaus commented on #2250
I'll take a look at the documentation.

[2021-09-02 15:07] #2250 closed

[2021-09-02 16:31] schlunma opened #2280 "Do not deprecate classes Variable, Variables and Datasets on a specific version"
In #1944 it was announced that the classes `Variable`, `Variables` and `Datasets` will be deprecated in version 2.4. Since then, many new diagnostics have been merged that use these variables (as shown by a quick `grep`). I cannot change all affected diagnostics in time (I'm pretty sure that at the time #1944 was merged no diagnostic used them). For this reason, I will change the deprecation messa

[2021-09-03 08:43] zklaus commented on #2175
In the 2.3.0 release of ESMValTool we have changed the way that R packages are installed. @ehogan, could you try once more for the 2.3.0 version to install things?

Thanks for your efforts so far and for taking the time to report them!

[2021-09-03 08:49] ehogan commented on #2175
@zklaus after yesterday's monthly meeting that's exactly what I'm doing! ;) Solving the environment took somewhere between 40 and 90 minutes (I didn't notice the exact time as I was attempting to multitask!) and it's still running right now. I was going to try specifying `channel_priority: strict` next to see if that speeds things up :)

[2021-09-03 10:58] valeriupredoi commented on #2175
@ehogan yes, it is expected to take a long time unfortunately, here are a few tips and tricks you can try speed up the env solving (that is the bulk of time, the installation itself takes a bit too since it's installing the R and Julia packages that takes a bit, but by far the longest is the conda env solving):

- use the latest Python: so just do a `conda create --name esmvaltool --file environme

[2021-09-03 11:09] valeriupredoi commented on #2250
I am going to test this now, it's probably best to have a test run availbale via Github Actions (to see if all Pythons and OS's work with it) - in fact minimal test implementation is needed since the package should be picked up from forge automatically :+1:

[2021-09-03 13:04] valeriupredoi commented on #2277
@hahsan1 could you please post the recipe you using? Masking a rather time-consuming operation so am not surprised it takes longer, probably not 3-5x more though, I'll go straight and try answer the other issue you opened, my apologies, I was away :+1:

[2021-09-03 13:09] valeriupredoi commented on #2270
yes, I should have a stab at it sooner than later - no worries about coding skills, it's actually my job to get this done in an even more general way :+1: For now, is there a possibility for you to rename your local data files with a different model name? No need to rename the actual data, but to create symlinks with a slightly different name in the model name bit?

[2021-09-03 13:15] valeriupredoi opened #2281 "Generalize `recipe_validation*` recipes to allow for same model comparisons"
suggested in https://github.com/ESMValGroup/ESMValTool/issues/2270 - get the validation recipes to allow for the same model name for both EXPERIMENT and CONTROL, but obviously with different data parameters (experiment, ensemble, etc)

[2021-09-03 15:28] hahsan1 commented on #2270
Yes, for now I am renaming the data files to reflect the model and experiment and it's working for me. I'll close this issue now. Thank you for looking into this, I appreciate the help!

[2021-09-03 15:28] #2270 closed

[2021-09-03 17:00] hahsan1 commented on #2277
I have attached two recipes. The _global_diff_shp-10p-red_ has no mask applied to it and it took 0:17:53 to run. The other recipe is _land_diff_shp-10p-red_ and it masks out the sea. The time it took to run was 0:56:12.
[global_diff_shp-10p-red.txt](https://github.com/ESMValGroup/ESMValTool/files/7107451/global_diff_shp-10p-red.txt)
[land_diff_shp-10p-red.txt](https://github.com/ESMValGroup/ESMVal

[2021-09-06 11:55] valeriupredoi opened #2283 "[CEDA/JASMIN OBS] Wrong path for ERA-Interim and ERA-Interim-Land data on JASMIN"
Path to that data has a duplicate root dir: `/gws/nopw/j04/esmeval/obsdata-v2/Tier3/ERA-Interim/ERA-Interim` and `/gws/nopw/j04/esmeval/obsdata-v2/Tier3/ERA-Interim-Land/ERA-Interim-Land/` and needs to be fixed; I can fix this at my end of things on JASMIN right now, but at the next rsync from DKRZ this will be changed again; @remi-kazeroni could you please check the path on DKRZ and fix it of nec

[2021-09-06 11:58] valeriupredoi commented on #2277
cheers! I'll have a look today :beer:

[2021-09-06 13:34] valeriupredoi commented on #2270
@hahsan1 please have a look at #2281 and linked PR :+1:

[2021-09-06 13:37] valeriupredoi commented on #2281
@hahsan1 I have opened a pull request #2284  with the new feature included (allowing for using the validation diagnostic even when datasets have the same name ie different facets of the same model) - I would appreciate it if you had some time to test it and see if it solves your functional need and if you could also provide some feedback if there are any issues. Many thanks for working with us! :b

[2021-09-06 14:35] rswamina opened #2285 "Adding contact information of the different teams in the documentation pages"
Dear @ESMValGroup/userengagementteam, @ESMValGroup/esmvaltool-coreteam , @ESMValGroup/esmvaltool-developmentteam
At the User Engagement Team Meeting, it was decided to include information on the various [teams](https://github.com/orgs/ESMValGroup/teams) such as user engagement, development etc. with contact information where possible so people new to the community will find it easy to contact us.

[2021-09-06 15:15] valeriupredoi commented on #2277
hi @hahsan1 I tried running your recipes but that data can not be found neither locally on the ESGF node on CEDA/JASMIN nor on any other remote ESGF node to be downloaded - is that your locally produced model? If you could supply me with a used case that shows the massive cliff in performance due to masking, using readily-available ESGF data, that would be great! Also note that the difference in t

[2021-09-07 11:19] valeriupredoi commented on #2276
this seems to be a rather common fail https://github.com/docker/buildx/issues/101 maybe we should enable debug logs?

[2021-09-07 11:24] valeriupredoi commented on #2276
just out of curiosity, why is the latest build shown as 2 months old, did we not build one with 2.3.0? https://hub.docker.com/r/esmvalgroup/esmvaltool/builds

[2021-09-07 11:39] bouweandela commented on #2276
If you want to have a go at fixing this, that would be most welcome. I can give you a short introduction if needed.

The automatic builds were disabled for a while when Docker changed its policy. They used to be free for everyone and now they're only free for approved open source projects. We're an approved open source project now, but it took a while to get there.

[2021-09-07 14:46] hb326 commented on #2259
Hey all @ESMValGroup/esmvaltool-developmentteam @ESMValGroup/esmvaltool-coreteam,
we have a date and time for the out-of-schedule ESMValTool discussion about testing strategy:
**Thursday Oct 14, 2pm-5pm CEST**

Please mark this date in your calendars. We will send around information about the meeting details closer to the meeting date.

[2021-09-07 14:58] bouweandela commented on #2275
I'll try to at least add some documentation on how to create and upload the image..

[2021-09-07 20:50] hahsan1 commented on #2281
Hi @valeriupredoi, I tried running the recipe again with the updated scripts from pull request #2284 but I get this error: `UnboundLocalError: local variable 'experiment' referenced before assignment`.

I have uploaded the recipe I used as well as the log files if that may be of help to diagnose the error.

I have one comment about the recipe file. I specified the same dataset name (i.e. GISS-nudg

[2021-09-07 21:03] valeriupredoi commented on #2281
hi @hahsan1 cheers for trying out the enhanced diagnostic! Note however that you are still using the old diagnostic and its components, you need to make sure that `/people/ahsa361/.conda/envs/esmvaltool/lib/python3.8/site-packages/esmvaltool/diag_scripts/validation.py` and `/people/ahsa361/.conda/envs/esmvaltool/lib/python3.8/site-packages/esmvaltool/diag_scripts/shared/_validation.py` are updated

[2021-09-08 10:57] valeriupredoi commented on #1945
Hi Rob,

I have opened two pull requests - one in  Core https://github.com/ESMValGroup/ESMValCore/pull/1308 and another in Tool https://github.com/ESMValGroup/ESMValTool/pull/2291 - this way keep things tidy and organized, and allow for multiple pairs of eyes to see and comment on the code and functionalities. Could you please have a look at this comment https://github.com/ESMValGroup/ESMValCore/p

[2021-09-08 12:26] hahsan1 commented on #2281
I would like to report that it works!  🎉 As you pointed out, I needed to update the two scripts in the environment folder.

I have a minor suggestion. I was wondering if it would be a good idea to generalize the script so it could run more than one type of mip (e.g. Amon, AERmon) in the same recipe. As it stands, I believe we can only specify one type of mip per recipe.

[2021-09-08 12:29] valeriupredoi commented on #2281
Excellent news, cheers for updating and retesting :beer: - if you could approve the PR that would be fab :+1:

About mip's - you can specify however many/whatever mip you need to, it's mip per dataset, not mip per recipe, so in the dataset dictionary, just use the mip: key and request whichever mips you need for each dataset!

[2021-09-08 12:45] hahsan1 commented on #2281
Ah so would the syntax be something like this in the recipe:

[code]

[2021-09-08 13:09] hahsan1 commented on #2281
Hmm, it doesn't seem to work the way I suggested. I get this error:

[code]

This is what the recipe looks like, as attached.
[recipe_validation_CMIP6_2.txt](https://github.com/ESMValGroup/ESMValTool/files/7129037/recipe_validation_CMIP6_2.txt)

[2021-09-08 14:12] valeriupredoi commented on #2281
no, `mip: [Amon, AERmon]` will not work - the only way that will work is when you use it to complement missing data from eg Amon with AERmon data, but in a side-by-side comparison of two identical models (or even different models) that will give you ambiguous at best results, if not wrong. Using one mip per dataset is the way with the validation recipe. But if you told me the used case for multipl

[2021-09-08 14:49] schlunma opened #2294 "Add new version of GCP"
A new version of the [Global Carbon Budget (GCP)](https://doi.org/10.5194/essd-12-3269-2020) is available. I will add a new CMORizer.

[2021-09-08 15:42] hahsan1 commented on #2281
I'm interested in both the Amon and AERmon mips. Having the script accommodate both simultaneously would be great! But all in all, it wouldn't be a big deal if I had two separate recipes.

[2021-09-08 15:55] valeriupredoi commented on #2281
right! you want to run identical analyses on multiple mips in parallel - afraid that's not possible this way, you can, however, extend the recipe with more diagnostics that do exactly that - list all your datasets (with all the different mips, but one mip per dataset) in one `datasets` section, then list all the diagnostics you want to run, giving them relevant and different names, and including e

[2021-09-08 16:34] hahsan1 commented on #2281
I got it to work another way! I omitted the mip keys in the dataset section and added it to each variable in the diagnostic section, like this:

[code]

How do I approve the PR, do I simply leave a comment?

Thanks again for all the help!

[2021-09-08 16:36] valeriupredoi commented on #2281
oh yeah that works too, for different variables, well done :+1: Yes please, if you could just confirm there that it works, as comment on the PR that would be awesome, cheers :beer:

[2021-09-09 00:25] hahsan1 commented on #2277
I was able to reproduce it with data that can be found on ESGF, but on a smaller scale. So the global_test.yml recipe has no masking and it took 0:02:41, and the land_test.yml has sea masking and took 0:07:04, so about 2.5 times.
[land_test.txt](https://github.com/ESMValGroup/ESMValTool/files/7132347/land_test.txt)
[global_test.txt](https://github.com/ESMValGroup/ESMValTool/files/7132348/global_te

[2021-09-09 13:15] valeriupredoi commented on #2276
reopening since now the builds fail with a very conda-like issue https://hub.docker.com/repository/registry-1.docker.io/esmvalgroup/esmvaltool/builds/990cd58c-4bce-4d7d-9f84-eb2655fd5b3a

[2021-09-09 13:23] zklaus commented on #2276
@valeriupredoi, could you add me to the dockerhub organization?

[2021-09-09 13:25] valeriupredoi commented on #2276
sure what's your DockerHub ID? (send it in an email/whatsapp, this is public)

[2021-09-09 17:22] valeriupredoi commented on #2276
I'll be a monkey's uncle, that `mamba` thingie really works, check out the PR :grin:

[2021-09-10 15:25] valeriupredoi opened #2301 "Have NCL example recipe that doesn't use any OBS/OBS6 data"
If one wants to run some basic testing and they are not able to provide themselves with OBS/OBS6 data, we should not prevent them from running some example recipes: currently the NCL example needs OBS's, we should make a version of it without OBS's too :beer:

[2021-09-10 15:38] valeriupredoi opened #2302 "Example recipes should ideally use the same data amongst them"
Them example recipes (Python, R, NCL, Julia) should ideally use the same CMIP/obs4mips (and no OBS/OBS6 - maybe just a special NCL one with OBS's but one w/o them too) data amongst themselves - someone who wants to test the tool can then download the data via the pyESGF client just once and not have to download extra files everytime they run a new example recipe.

[2021-09-10 15:41] valeriupredoi commented on #2302
and especially NOT mega files like the R recipe needs

[2021-09-10 15:58] valeriupredoi opened #2303 "Example recipe `examples/recipe_julia.yml` fails"
output from diagnostic log:
[code]

Packages used:
[code]
[code]
which is not off conda: the only trace of any julia in me conda is our pkg:
[code]

[2021-09-10 16:18] bouweandela commented on #2303
I'm a bit worried about the weird mix of ESMValTool versions and packages you have installed, they should all be the same version because we pin the subpackages of the esmvaltool metapackage that has all the other packages as dependencies. And why is the esmvaltool-python package not installed?

How did you install this?

[2021-09-10 16:58] valeriupredoi commented on #2303
nops, we don't have a 2.3.0 version for the secondary packages https://anaconda.org/esmvalgroup/esmvaltool-julia - also esmvaltool-python is not installed explicitly for conda to pick up as a dependency when you install the tool in dev mode, core in dev mode too

[2021-09-11 08:36] #2276 closed

[2021-09-12 11:41] Jon-Lillis opened #2304 "Filepath of default config file is printed as 'None' in main_log"
When launching ESMValTool with a config file specified as an argument, the line 'Using config file path/to/config-user.yml' is printed correctly in the logs. When launching ESMValTool without specifying a config file (using the default file in ~/.esmvaltool/), the line 'Using config file None' is printed instead.

When debugging during development, it would be useful to see at a glance exactly whi

[2021-09-12 12:30] Jon-Lillis opened #2305 "Error "Requested fx variable 'areacello' not available" introduced by 2.3 update"
@Ehogan and I have been converting AutoAssess radiation budget scripts into an ESMValTool diagnostic, the branch for which can be found [here](https://github.com/ESMValGroup/ESMValTool/tree/radiation_budget_new_diagnostic). We’ve been developing against ESMValtool v2.2, but recently upgraded to v2.3 and are now encountering the following issue.

Our radiation budget diagnostic runs correctly under

[2021-09-13 09:50] zklaus commented on #2303
We do have "secondary" packages, only not for julia, which we dropped. The packages from esmvalgroup should not be there.

[2021-09-13 10:19] valeriupredoi commented on #2303
sory Klaus, I am afraid I don't understand yer comment, could maybe pls elaborate? Which packages are missing and where should we grab them from, and how? :beer:

[2021-09-13 10:24] valeriupredoi commented on #2304
This PR should have fixed it https://github.com/ESMValGroup/ESMValCore/pull/1233 - can you please make sure you are using the latest (or a more modern) version of ESMValCore? Please tell me what version you are using by doing a `conda list esmval` or `esmvaltool version` - if this still persists, I will move the issue to ESMValCore since that's where it needs to be (re)fixed :beer:

[2021-09-13 11:10] valeriupredoi commented on #2303
so it seems the Julia thing is hosed in all sorts of ways: just tested with the central install on JASMIN: this is the latest released package both for Core and Tool with Julia installed in the central install
[code]

I get this absolute marvel of a diagnostic error:
[code]

[2021-09-13 12:05] valeriupredoi commented on #2304
I just checked, ehat Core PR I linked above did not make it in the 2.3.1 bugfix release (it was merged on Jul 21, we made the bugfix release two days later, I don't remember us considering it important enough to include it), see the [changelog](https://docs.esmvaltool.org/projects/esmvalcore/en/latest/changelog.html#v2-3-1), so if you test the current Core development branch (`main`) that'll have

[2021-09-13 12:50] valeriupredoi commented on #2305
Hi @Jon-Lillis awesome work with the diags! About the FX vars v2.2 vs v2.3 - we have introduced the use of builtin cell measures, please see the [documentation](https://docs.esmvaltool.org/projects/ESMValCore/en/latest/recipe/preprocessor.html?highlight=areacella#fx-variables-as-cell-measures-or-ancillary-variables) - if you are not specifying and custom variable to be used by your area statistic

[2021-09-13 12:58] zklaus commented on #2175
I think this is solved. @ehogan, please reopen if you still have problems.

[2021-09-13 12:58] #2175 closed

[2021-09-13 13:13] valeriupredoi commented on #2303
running a fresh install on me laptop: conda create env, install esmvaltool, install esmvaltool Julia:
[code]
so the esmvaltool-julia doesn't even show up anymore?

Anyway, running the example recipe results in in a long wait, inwhich conda is running in the background (why are we running conda while a diagnostic? installing missing packages, but that's totally unsafe!) and then it still crashes:
[

[2021-09-13 13:25] katjaweigel commented on #2267
Yes, it uses the same projection and no rotate_vector (and at least the current map is rather close to the Equator than to the Pole), so this shouldn't be an issue in esmvaltool/diag_scripts/emergent_constraints/lif1f2.py

[2021-09-13 13:28] zklaus commented on #2303
My suggestion is to leave the Julia stuff alone for now. Until the Julia situation in conda-forge is solved, people will have to continue to rely on their own ability to install Julia.

Recommend closing this issue.

[2021-09-13 13:30] zklaus commented on #2303
Independently, the channel "<develop>" suggest that you are not using conda-forge packages here? Since those are the only official packages, I don't think you are in a supported situation.

[2021-09-13 13:35] zklaus commented on #2267
Thanks @katjaweigel, closing. @valeriupredoi, please reopen if you still have doubts.

[2021-09-13 13:35] #2267 closed

[2021-09-13 13:55] valeriupredoi commented on #2267
all good, was just about to do the same, cheers @katjaweigel :beer:

[2021-09-13 14:00] valeriupredoi commented on #2303
`<develop>` means I have pip installed it locally, from the gitball, man. I had to pip install Core so I can use the esgf-client branch to get the data to run locally on my laptop, otherwise Core would have been off conda-forge, installed during the Tool env creation process. Cool, I'll leave it until you have fixed Julia and her stuff :grin: But we need to post somewhere that Julia matters are at

[2021-09-13 14:01] valeriupredoi commented on #2303
No no, Julia stuff's not working, unless you have a dedicated issue that tells users about Julia troubles, we're not closing this :+1:

[2021-09-13 14:05] zklaus commented on #2303
I don't think anything has changed with regards to Julia really, but sure, the documentation can always be improved. I don't have any immediate plans to get more involved in Julia on conda-forge, but if this is an issue close to your heart, you can get involved [here](https://github.com/conda-forge/julia-feedstock).

We did have a conda package in our own channel at some point, but since that was

[2021-09-13 14:06] valeriupredoi commented on #2305
@zklaus I think we can safely remove this off the 2.4 milestone since the implementation that fixes this issue is already in 2.3 (in fact, it looks like a user issue here, all Jon needs to do is to get data :grin: ) :+1:

[2021-09-13 14:07] schlunma commented on #2305
Hi @Jon-Lillis! If you don't want to use any fx files, you can specify `fx_variables: []` for the relevant preprocessors. If you're working only with atmospheric variables, something like

[code]

might be more relevant (see #2203) as an example.

However, the behavior you describe here is actually a bug: Similar to `sftof`, `areacello` shouldn't be added automatically as default fx variables if t

[2021-09-13 14:09] valeriupredoi commented on #2303
as much as I like the name Julia, it's not an issue close to me heart :laughing: In fact, am readily fed up with maintenance, but this is not an optional matter, stuff's not working with our Julia support, so we either drop it or try and fix it. Tbh I don't even know what's wrong here - we don't install the needed packages anymore maybe? :beer:

[2021-09-14 10:03] valeriupredoi commented on #2265
this has been around for a month now, am closing it unless people think we should anything to the documentation? @ESMValGroup/esmvaltool-developmentteam please chime in if you think we need documentation on this :+1:

[2021-09-14 10:53] valeriupredoi opened #2309 "Calculate obs climatologies on the fly to allow users outside JASMIN to run AutoAssess soilmoisture recipe"
Files mentioned in this comment https://github.com/ESMValGroup/ESMValTool/pull/2296#issuecomment-916826024 with an upload strategy provided by Zenodo and mentioned by @bouweandela in this comment https://github.com/ESMValGroup/ESMValTool/pull/2296#issuecomment-916830927 - @alistairsellar the key question here is if we are allowed to do this, since these files are (mostly, if not all) Met Office pr

[2021-09-14 11:34] zklaus commented on #2265
Agree, this really has little to do with us as a project and is just telling people to read the doc of their tools, in this case github.

[2021-09-14 11:34] #2265 closed

[2021-09-14 11:59] remi-kazeroni commented on #2283
@valeriupredoi my bad, there was something wrong in the synchronization script. This is now fixed and the data are in the right directories with no more duplicates in the paths.

[2021-09-14 12:08] valeriupredoi commented on #2283
you are legend @remi-kazeroni Just checked, all good, many thanks for a quick fix! :beer:

[2021-09-14 12:08] #2283 closed

[2021-09-14 12:17] valeriupredoi commented on #2265
sounds good, cheers for closing Klaus :beer:

[2021-09-14 15:44] bouweandela commented on #2303
The bot also failed run the Julia (https://github.com/ESMValGroup/ESMValTool/pull/2289#issuecomment-914406028) and it is using the recommended installation procedure, so I agree with @valeriupredoi that this is probably a real problem with the Julia diagnostics and/or installation and the issue should be kept open.

I also agree with @valeriupredoi that supporting Julia is taking way more time tha

[2021-09-14 15:52] valeriupredoi commented on #2303
good points, Bouwe! I think we should continue supporting Julia (Roberts) :grin: it is touted as the future of Python after all, so it's quite avant-garde for us to have diagnostic(s preferably) and support her, sorry, it :+1: But beats me if I can do more maintenance this week, maybe @jhardenberg can, plus he knows Julia way better than me

[2021-09-17 12:52] zklaus opened #2313 "Bullet lists on readthedocs are not formatted correctly"
**Describe the bug**
Bullet lists in our documentation are not formatted correctly at the moment. C.f. ESMValGroup/ESMValCore#1179.

[2021-09-17 14:32] #2313 closed

[2021-09-17 16:49] alistairsellar commented on #2309
I've taken a first look at these. Did all files in [this list](https://github.com/ESMValGroup/ESMValTool/pull/2296#issuecomment-916826024) come from the Met Office? I believe that only a small fraction are used by ESMValTool so far - correct?

They fall into three categories as far as I can tell:
1. Publicly available datasets (e.g. CERES-EBAF) that have been processed into seasonal climatologies,

[2021-09-20 14:37] #2240 closed

[2021-09-20 14:42] bouweandela commented on #2302
It would be nice to automate testing these recipes too, maybe using the [ESMValTool_sample_data](https://pypi.org/project/ESMValTool-sample-data/)?

[2021-09-20 14:55] bouweandela commented on #2239
The meeting has been held

[2021-09-20 14:55] #2239 closed

[2021-09-21 12:22] valeriupredoi commented on #2309
OK thanks lots @alistairsellar for looking into this; I'll compile a detailed list and attach it here so we can check items as they go and upload them upon approval - how's that sound? :beer:

[2021-09-22 19:23] alistairsellar commented on #2309
I think it sounds good - do you mean a list of which of these datasets is actually being used?

[2021-09-23 14:45] valeriupredoi commented on #2309
yes, and by doing a (more or less) deep search I see only these to be needed by `soilmoisture` and `permafrost`:
[code]

[2021-09-24 09:02] bouweandela commented on #2274
This could be an interesting package for this discussion, it is a drop-in replacement for the miniconda installer that supports mamba out of the box https://github.com/conda-forge/miniforge#mambaforge and uses conda-forge as the default channel, avoiding potential licensing issues.

[2021-09-24 11:58] valeriupredoi commented on #2275
we should build this now that we've fixed our development builds, @zklaus you wanna do it or I can do it?

[2021-09-24 12:00] valeriupredoi commented on #2274
yussss Bouwe :partying_face: :beer:

[2021-09-24 12:06] valeriupredoi commented on #2255
you wanna close this @bouweandela , now that's on the Discussions board?

[2021-09-24 12:07] zklaus commented on #2275
@valeriupredoi, go ahead!

[2021-09-24 13:35] bouweandela commented on #2255
No, let's keep it around for a few months so people can find the current meeting. We could also consider moving the meetings to the [Community](https://github.com/esmvalgroup/community) repo.

[2021-09-27 16:52] thomascrocker opened #2320 "Running ClimWIP recipe on JASMIN"
**Describe the bug**
I'm trying to run the `recipe_climwip_brunner2019_med.yml` recipe on JASMIN. I have the required ERA5 data downloaded and setup. However, the recipe consistently seems to get stuck after successfully executing the first task or two from the preprocessor, e.g:
[code]
That was obviously hours earlier this morning, the ESMValTool processes are still alive, but they don't appear t

[2021-09-28 06:25] lukasbrunner commented on #2320
I can't really help with JASMIN I'm afraid but something you could try (to check if the recipe runs in principle) is to comment out most of the models (line 23- in the recipe). Maybe one of them makes problems. I encountered that repeatedly (in fact two of them are commented out by default because I could not run them).

[2021-09-28 07:39] thomascrocker commented on #2320
Thanks, that's a good idea. I left the jobs going overnight to see if any progress would be made, my first two (mentioned in my OP) are still stuck at the same place, a third got much further, (6/18 tasks completed) but the tasks "in progress" are shown as "sleeping" using top. It'll be good to see if I can at least get a minimalist proof of concept run to complete.
I am running directly on the se

[2021-09-28 07:52] Peter9192 commented on #2320
In addition to Lukas' suggestion to try with a smaller set of data first, I'd also recommend to run serially (max_parallel_tasks=1). That leads to a much cleaner debug log.

[2021-09-28 08:29] thomascrocker commented on #2320
OK, I have tried a couple of things,

1. Running the recipe "properly" on the JASMIN slurm batch computing system, (with all the models) same behaviour it got stuck after 2 processes completed, but no error messages.
2. Running on the analysis server, but in serial, and with all except the first 3 models and the ERA5 data commented out. This managed to complete all the pre processing steps, but th

[2021-09-28 08:34] mattiarighi commented on #1057
Related to this, you might be interested in the python [GeoCAT](https://geocat-comp.readthedocs.io/en/latest/) package, which translates many of the original NCL function in Python.

It could be a way to encourage NCL users to move to Python...

[2021-09-28 09:56] thomascrocker commented on #2320
Ah it looks like the plotting bug is resolved by https://github.com/ESMValGroup/ESMValTool/pull/2226 I can incorporate that into my copy of the recipe I think.

Also, explictly setting the max number of processors in config-user.yml looks like it may have resolved the issues with the recipe running in paralell, as another job just launched with 8 processors has got much further and still seems to

[2021-09-28 10:24] thomascrocker commented on #2320
Hmm.. May have spoken too soon. The job with 8 processors has got stuck after completing 8 tasks, there are 6 running but they appear to be stuck..
I'll try getting in touch with JASMIN support and see if they have any ideas.

[2021-09-28 14:21] remi-kazeroni opened #2322 "Cmorizer for the Eppley-VGPM-MODIS dataset is broken"
**Describe the bug**
While rerunning some cmorizers for #1657, I realized that the Eppley-VGPM-MODIS cmorizer is not working anymore. The file format is no longer supported:
[code]
@tomaslovato, @valeriupredoi: would you have any idea why that is the case?

**Please attach**
  - Command used: `cmorize_obs -c config-user.yml -o Eppley-VGPM-MODIS`
  - The `main_log_debug.txt` file, this can also be

[2021-09-28 14:43] remi-kazeroni opened #2323 "Cmorizer for the ESACCI-OC dataset is broken"
**Describe the bug**
While testing the cmorizers in #1657, I realized that the ESACCI-OC one is broken because the time coordinate is non-monotonous:
[code]
I guess this may not have been an issue at the time this cmorizer was releases. @tomaslovato: could you please have a look since you authored this cmorizer? Thanks!

**Please attach**
  - Command used: `cmorize_obs -c config-user.yml -o ESACCI

[2021-09-28 14:50] tomaslovato commented on #2323
@remi-kazeroni I'll have a look in next days to this (and #2322), but I would definitely prefer to do it only after we complete and close PR #1812

[2021-09-28 14:53] thomascrocker commented on #2320
Have got no further in running the recipe in paralell, but managed to _almost_ complete it in serial.

I am running for a different region though and it fell over in the diagnostic script while attempting to calculate the weights.
[code]
I think I followed the instructions in the docs https://github.com/ESMValGroup/ESMValTool/blob/2d9329fc49f10a8ab212e01c7b38bc16a032f01a/doc/sphinx/source/recipes/

[2021-09-28 15:21] lukasbrunner commented on #2320
Okay that one I can help with :) We have not yet implemented on the fly independence sigma calculation as mentioned in the documentation:

To resolve this you have two options:
- comment in independence_sigma (line 591 the file you shared) -> this will run the weighting with independence weighting
**OR**
- comment out independence_contributions as well (lines599-605) -> this will disable the indep

[2021-09-28 15:24] thomascrocker commented on #2320
Great, thanks very much for the info. Sorry I missed the bit in the docs. I'll have a read of the references to help decide which approach is most appropriate for my work.

[2021-09-29 16:19] valeriupredoi commented on #2323
it's funny how iris gracefully creates time as aux coord even if points are not monotonic, but then belches out at longitude for the same reason. This is something that should probably raised with the ESACCI guys, maybe they'll thank us for it :grin: Can you post the time and lon points for us to have a look and see how bad it is maybe? :beer:

[2021-09-29 16:29] valeriupredoi commented on #2322
`hdf4` not supported by `rasterio` anymore unless one installs it without compiling from binary files, as it says [here](https://rasterio.groups.io/g/main/topic/hdf4_not_recognized_as_a/77984827?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,0,77984827) - that's dodgy if you asked me; I remember we used rasterio instead of something else that was causing issues (PyNIO?)

[2021-09-30 08:50] zklaus commented on #2323
Please note that we have picked this up in #2055.

[2021-09-30 09:33] babdollahi commented on #2261
@remi-kazeroni Thank you for drawing our attention to it. I apologize for the delay in responding; I was away on holiday.
I made modifications to the documentation file.

[2021-09-30 09:34] babdollahi commented on #2261
@SarahAlidoost Thank you for informing me.
I have modified the document.

[2021-09-30 11:15] valeriupredoi commented on #2323
good pointer @zklaus - that PR is dusty, I can give it a one go next week if need still be :+1:

[2021-09-30 11:16] valeriupredoi commented on #2322
also, I forgot to say, hdf4 is an ancient file format - maybe we can contact the data producers ask them to convert it to hdf5 or netCDF4?

[2021-09-30 12:13] remi-kazeroni commented on #2261
@babdollahi no worries and thanks for updating the documentation. I'm not sure where these modifications can be found. If the changes were made in a local branch, was it pushed to the ESMValTool gitHub repository? That is needed to open a pull request to review and accept the changes. This pull request should be linked to the current issue. If you need help with making the modifications public, pl

[2021-09-30 14:09] thomascrocker commented on #2320
So, I've had no luck running in parallel, but the recipe runs successfully using all models in serial. It takes around 80 minutes which isn't too prohibitive and means I probably won't spend much more time trying to solve the parallelization problem for now.

For the independence weighting my region is the ALP-3 region from EUCP, so for now I just chose an independence weighting of 0.67, being rou

[2021-09-30 14:50] lukasbrunner commented on #2320
Cool great to hear! I've made some comments in the recipe file (if you search for '# NOTE:' you should be able to easily find them.

Something that confused me: Are your input data all on the same grid? It seems like you don't regrid.

About the independence weighting: I would maybe recommend using global metrics to base the independence weights on (as we do in Brunner et al. 2020 and recipe_climw

[2021-09-30 15:37] babdollahi commented on #2261
@remi-kazeroni Thanks for your comment. I will check it with @SarahAlidoost

[2021-09-30 15:51] remi-kazeroni commented on #2323
Thanks for the info. Hopefully the updated cmorizer from that PR won't suffer from this problem. Let's keep the issue open for now until #2055 is merged.

Both the time and longitude contain duplicated points:
[code]
time (first few points):
[code]
longitude (a few points):
[code]

[2021-09-30 17:14] thomascrocker commented on #2320
Thanks very much for your help and the revised recipe Lukas, it's very much appreciated.

The global metric for independence makes sense, and also has the benefit of not requiring a regional recalculation to do it "properly".

No, I used the same set of models as in the 2019 recipe. I think you are confusing with the pre-processor structure from the 2020 recipe. In the 2019 one, the regridding set

[2021-10-01 08:10] remi-kazeroni opened #2324 "Recipes without a title do not run"
**Describe the bug**
It seems that recipes without a title can not be run since ESMValGroup/ESMValCore#1332 has been merged. Running : `esmvaltool run examples/recipe_python.yml` returns:
[code]

I'm using the latest versions of the Tool and the Core which I reinstalled. Am I understanding correctly that any recipe without a title cannot be run because of this [check](https://github.com/ESMValGrou

[2021-10-01 08:14] remi-kazeroni commented on #2324
Ok thanks for the explanations. I didn't not realize this change would happen so quickly. Adding titles to recipes would also be useful to test the release candidate for the Core.

[2021-10-01 08:29] bouweandela commented on #2324
@ESMValGroup/esmvaltool-recipe-maintainers Please [add a `title` to the `documentation` section of your recipes](https://docs.esmvaltool.org/projects/esmvalcore/en/latest/recipe/overview.html#recipe-section-documentation). This is required for the [upcoming release](https://docs.esmvaltool.org/en/latest/community/release_strategy.html#release-schedule). For most recipes the title can simply be cop

[2021-10-01 08:45] remi-kazeroni commented on #2324
Do we rather expect one PR per recipe / maintainer or one global PR for all recipes? I think it would be helpful to keep track of all the changes either here or in a global PR to make sure we don't release recipes without a tile.

[2021-10-01 09:15] bouweandela commented on #2324
I think it is fine to make one pull request for multiple recipes (for example, one per maintainer), but I would not recommend making a single pull request for all recipes. Some recipes may not have documentation and then it may take some time to figure out what the correct titles and descriptions should be.

[2021-10-01 09:23] zklaus opened #2325 "Remove mpich pinning for conda"
Currently we are pinning "mpich <3.4" for conda to avoid installing the `external` builds. With conda-forge/mpich-feedstock#60 merged, this should no longer be an issue. That means "mpich >=3.4.1" should be fine and we can probably remove the mpich pin all together, thus not mandating a specific mpi implementation for technical reasons.

[2021-10-01 09:59] bouweandela commented on #2322
This was changed in #1997 and back then it worked. Could you have another look at this please @tomaslovato?

[2021-10-01 11:52] valeriupredoi opened #2326 "Recipe `examples/recipe_python.yml` crashes with`cftime=1.5.1`"
`iris=3.1.0` needs `cftime>=1.5.1` but its API changed so we are running into:
[code]

We need to make sure other diags don't invoke such retired attributes. `cftime` is a PITA again :angry:

[2021-10-01 11:54] valeriupredoi commented on #2326
BTW this is something for the `iris` guys don't you reckon?

[2021-10-01 12:43] valeriupredoi commented on #2326
I totally missed `nc-time-axis` was the culprit (cheers @rcomer :beer: ) so we need to pin it to `>=1.3.1` and hopefully the iris guys will have a pin in their next release :+1:

[2021-10-01 16:32] thomascrocker commented on #2320
Great, it appears to be working fine. :smile:

I'm now able to present a warming range from ClimWIP weighting, alongside those of other sources..
e.g.
![all_violins_JJA](https://user-images.githubusercontent.com/17336982/135655491-76328129-a336-4a7e-8698-15cb2a6371e4.png)
I also made some further changes to the diagnostic to plot bar plots of the anomalies from each model, combined with the climwi

[2021-10-01 16:32] #2320 closed

[2021-10-04 10:55] valeriupredoi commented on #2241
Commenting from a purely functional point, we should:
- add bounds via `guess_bounds()` as few times as possible, these are generic, machine-produced bounds that may not reflect the true nature of the data
- surely not add linear bounds to log data
- be weary of adding bounds to ERA data when any other CMIP (and OBS?) datasets don't have them, this breaks the multimodel as I found out and @zklaus

[2021-10-04 15:14] bouweandela commented on #2241
I suspect that certain preprocessor functions may not function correctly without bounds?

I agree that t adding the wrong bounds doesn't make sense though.

[2021-10-04 15:19] bouweandela commented on #2241
Would it be possible to look up the correct bounds in the era interim documentation and add those instead?

[2021-10-04 23:27] zklaus commented on #2241
Hm. I looked into the documentation, it can be found [here](https://www.ecmwf.int/en/elibrary/8174-era-interim-archive-version-20).
But (for me) it is not straight-forward to understand what reasonable bounds could be. This is because the model used for the reanalysis produces the data on 60 "full" model levels, which are *not* pressure levels, but have pressure defined by some coefficients and th

[2021-10-05 11:29] bouweandela commented on #2285
I agree that it would be very good to have a description of all the different teams somewhere

[2021-10-05 13:53] zklaus commented on #2241
I spoke with an expert at our institute and he confirmed my view that for data on pressure levels that have been derived by interpolation from model levels it is almost impossible to have consistent bounds. In other words, using any kind of bound guessing, the vertical integrals are expected to be very wrong.

Hence, I suggest that perhaps to be extra sure, @remi-kazeroni, you could also speak wit

[2021-10-05 13:58] valeriupredoi commented on #2241
so polar bears will die eventually :laughing:

[2021-10-06 09:14] axel-lauer commented on #2005
Just opened a new pull request that removes all instances of "write_plots" and "write_netcdf" from all NCL diagnostics that were still supporting these options: https://github.com/ESMValGroup/ESMValTool/pull/2331

[2021-10-06 10:08] valeriupredoi commented on #2005
cheers @axel-lauer - I can review it techy-wise if you want me to :grin:

[2021-10-06 11:27] valeriupredoi commented on #2084
it decided to work now https://app.circleci.com/pipelines/github/ESMValGroup/ESMValTool/5638/workflows/35683632-a646-4bf3-92a4-07e29913f603/jobs/49812 plus we will remove the test anyway (once full integration in conda-forge is done)

[2021-10-06 11:29] valeriupredoi commented on #2126
it is finally working [Circle](https://app.circleci.com/pipelines/github/ESMValGroup/ESMValTool/5638/workflows/35683632-a646-4bf3-92a4-07e29913f603/jobs/49812) and {Github Actions](https://github.com/ESMValGroup/ESMValTool/runs/3809595110?check_suite_focus=true) - we will remove the test anyway once full integration/deployment on `conda-forge` has finished :+1:

[2021-10-06 11:29] #2126 closed

[2021-10-06 11:31] valeriupredoi commented on #2204
it is finally working [Circle](https://app.circleci.com/pipelines/github/ESMValGroup/ESMValTool/5638/workflows/35683632-a646-4bf3-92a4-07e29913f603/jobs/49812) and [Github Actions](https://github.com/ESMValGroup/ESMValTool/runs/3809595110?check_suite_focus=true) - we will remove the test anyway once full integration/deployment on `conda-forge` has finished :+1:

[2021-10-06 11:31] #2204 closed

[2021-10-06 11:36] valeriupredoi commented on #2123
good things come to those who wait - all seems to be solved now:
- [installation from conda on GA for all Pythons](https://github.com/ESMValGroup/ESMValTool/actions/runs/1310402423)
- [installation from source on GA for all Pythons](https://github.com/ESMValGroup/ESMValTool/actions/runs/1309849705)

[2021-10-06 11:36] #2123 closed

[2021-10-06 12:55] zklaus commented on #2123
Rather active waiting in this case :wink:

[2021-10-06 13:18] valeriupredoi commented on #2123
active from you, I just sat and waited :laughing:

[2021-10-06 14:32] bouweandela commented on #2322
I see no mention of rasrio dropping support for hdf4 in the link provided by @valeriupredoi. Do you have a source for this information?

[2021-10-06 14:46] tomaslovato commented on #2322
In the link posted by @valeriupredoi there is a reference to the issue of `rasterio` installation https://github.com/mapbox/rasterio/issues/2026#issuecomment-720125978 which explains why the library is producing the `not recognized as a supported file format.`
To fix the issue `rasterio` should be installed with the `--no-use-wheel` flag and this is (I guess) the source of concern of @valeriupredo

[2021-10-06 14:58] valeriupredoi commented on #2322
and I'm getting invoked more often than Jesus H. Christ on an Easter Sunday :laughing: Yes, @tomaslovato is correct, we need to install `rasterio` with a special flag to be able to have it read `hdf4`, and the stock pip installation won't be enough. What do you think @bouweandela - I don't like having custtom installs for our deps, that brings down the reproducibility of the environment and may in

[2021-10-06 15:09] valeriupredoi commented on #2322
hmmm could be, @remi-kazeroni or @tomaslovato you mind plugging it in `environment.yml` and see if that solves the problem? Not happy to see yet another conda dep but heyho mamba should be able to handle it :snake:

[2021-10-08 13:04] remi-kazeroni opened #2336 "Maintenance of the `recipe_ocean_bgc.yml`"
**Is your feature request related to a problem? Please describe.**
In the course of updating the WOA cmorizer with the latest data version in #1812, it was attempted to use that newer version of the WOA data in the `recipe_ocean_bgc.ylm`. This led to several issues that would be better cured in separate PRs. This issue aims at keeping track of the problems found when updating the recipe:

- [x] mu

[2021-10-08 13:52] remi-kazeroni opened #2337 "Capitalization of `obs4MIPs` in recipes"
**Is your feature request related to a problem? Please describe.**
In [#1217](https://github.com/ESMValGroup/ESMValCore/pull/1217) the `obs4mips` project was renamed `obs4MIPs`. While reviewing that PR, I was prompted to edit my `config-user.yml` file to account for that change. Using the Core and Tool in dev mode, I have just checked that one could still run recipes (e.g `recipe_smpi.yml`) contai

[2021-10-11 07:34] bouweandela commented on #2259
Some more relevant issues:
- #80
- #1115
- https://github.com/ESMValGroup/ESMValTool_sample_data/issues/1

@hb326 How is ESMValGroup/ESMValCore#1133 relevant for this discussion?

[2021-10-11 07:49] tomaslovato commented on #2336
If it may be of some help title and `write` options can be recovered from this [commit](https://github.com/ESMValGroup/ESMValTool/pull/1812/commits/841c32c3ab5f36165d737dcfddd35eeec1c92238)

[2021-10-11 12:57] valeriupredoi commented on #2325
I will get cracking with this today, it'd be good to have this in for 2.4 :+1:

[2021-10-11 13:18] tomaslovato commented on #2336
This recipe could be also extended by including the comparison of carbonate chemistry (e.g., `dissic`,`talk`) with the `GLODAP` observations introduced in #2185

[2021-10-11 13:57] remi-kazeroni opened #2341 "Instructions to support the cmorization of several versions of a dataset"
**Is your feature request related to a problem? Please describe.**
When a cmorizer script is updated to account for a newer version of a dataset, the cmorization of the previous version is usually no longer possible because the code and information are deleted (access to source files, cmorization script, options, ...). We [discussed ](https://github.com/ESMValGroup/ESMValTool/issues/2189#issuecomm

[2021-10-15 11:36] bouweandela commented on #2241
@remi-kazeroni How long does it take to CMORize this data? 300 GB is large-ish, but not a huge amount. If you don't know, maybe you could try how long it takes to CMORize 10 GB so we have an estimate?

[2021-10-15 11:55] remi-kazeroni commented on #2241
I think it would take about 6 hours to rerun the whole cmorizer, that's feasible on Mistral. I've been working with other branches lately but I'll rerun the cmorizer in a bit. If I understand correctly, the recipe `recipe_preprocessor_test.yml` should run fine with the newly cmorized ERA-Interim data? I'd like to make a couple of tests before deleting the old data...

[2021-10-15 13:48] valeriupredoi commented on #6
indeed, many x :beer: @zklaus

[2021-10-15 15:40] remi-kazeroni opened #2346 "[recipe testing strategy] Testing recipes on a weekly basis"
**Is your feature request related to a problem? Please describe.**
During the meeting on the recipe testing strategy #2259 on October 14, 2021, we discussed the possibility to test some recipes more frequently than shortly before a release. These tests would be done on a weekly basis for a subset of recipes. This testing approach would help to check if changes in the Core affect the recipes. Sever

[2021-10-19 12:19] tomaslovato commented on #2336
I might guess this is still in there because is referrend in the ESMValTool v2 paper as an example of available ocean diagnostic tools ...
It can be revised, with some update too, and keep it as a demonstrator for ocean bgc diagnostics.

[2021-10-19 14:42] zklaus opened #2350 "With pip 21.3, `pip install -e` doesn't work"
A recent bug in `pip` itself broke editable installs that we use for development installs of ESMValTool.
The same problem already appeared in ESMValCore, see ESMValGroup/ESMValCore#1358

[2021-10-20 12:07] zklaus opened #2354 "Prepare release 2.4.0"
# Dear @ESMValGroup/esmvaltool-developmentteam,

version 2.4.0 of ESMValTool is approaching fast.

On Monday, we released ESMValCore 2.4.0rc1, the release candidate of the core that this ESMValTool release will be based on.
Today we are entering the feature freeze for ESMValTool 2.4.0, which means that no new features will be merged anymore, restricting further changes to bugfixes.

Please help us

[2021-10-20 12:09] zklaus commented on #253
I'll bump this to 2.5.0, but we should have a conversation on the way forward.

[2021-10-20 15:24] valeriupredoi opened #2359 "`scitools-iris=3.0.3` as we now have in the env needs `pyke`"
...even though `iris` folk have dropped the dependency in their conda package:
[code]

iris in env:
[code]

[2021-10-20 15:30] valeriupredoi commented on #2359
this is a freshly made env, a couple hours ago, on me machine, lemme recreate it anyway (GA envs indeed have 3.1 so the pin from Core works there)

[2021-10-21 14:57] hb326 commented on #2354
Ok, seems like I was wrong and the instances of "write_netcdf" are indeed not present anymore in the "main" branch of the ESMValTool. I will have to check what I did...

[2021-10-29 13:13] remi-kazeroni opened #2396 "Missing ERA5 data (native6) break the `recipe_check_obs.yml`"
**Describe the bug**
The following hourly and monthly variables have recently been added to the list of suported ERA5 variables and the `examples/recipe_check_obs.yml`:

- `rlns`
- `rlus`
- `rsns`
- `rsus`

but no data were added to the RAWOBS pool on Mistral. Consequently, the `examples/recipe_check_obs.yml` fails because data are not found (see #2354). I understand that some of these variables d

[2021-10-29 15:11] tomaslovato opened #2398 "recipe_ocean_multimap.yml crashes with regular grid data"
This bug emerged in #2354 (details [here](https://esmvaltool.cloud.dkrz.de/shared/esmvaltool/v2.4.0-test2/recipe_ocean_multimap_20211028_142306/run/diag_surface_multimap/Global_Ocean_multi_vs_obs/log.txt))

When running `recipe_ocean_multimap.yml` with the default set of CMIP5 models the diagnostic script `diagnostic_maps_multimodel.py` crashes with the following error raised by Iris
[code]
In par

[2021-11-01 11:44] valeriupredoi commented on #2398
cheers guys! Pinging @jvegasbsc see what he thinks :beer:

[2021-11-01 11:48] valeriupredoi commented on #2396
@remi-kazeroni those are all derived variables, look up what CMOR stock variables they need in the `preprocessor/_derive` scripts. Let me know if you want me to compile that info in a table for you :+1:

[2021-11-01 11:53] valeriupredoi commented on #2396
eg `rsns` needs:
- `rsds` - "surface_downwelling_shortwave_flux_in_air" - Amon (and a bunch of other mips)
- `rsus` - "surface_upwelling_shortwave_flux_in_air" - Amon (and again, bunch of other mips)

[2021-11-01 11:59] valeriupredoi commented on #2396
and I checked for `rsns` - the only recipes that need that variable are a couple autoassess ones, and none of those uses ERA data, so that's off the record then :grin:

[2021-11-01 12:14] zklaus commented on #2396
@valeriupredoi yeah, well, the tricky part is this: `rsns` needs `rsds` and `rsus`, but `rsus` is also a derived variable, which in turn needs `rsds` and `rsns`. Now, what should be downloaded from ERA5 (which does not generally adhere to CMIP names)? The ERA5 docs are [here](https://confluence.ecmwf.int/display/CKB/ERA5%3A+data+documentation).

[2021-11-01 12:34] valeriupredoi commented on #2396
you're absolutely right @zklaus - but I am afraid I am well puzzleated now since that needs a variable that is in turn derived from itself, what's this circular recursion? `rsus` is well present as stock CMOR variable -- mucho confused :confused:

[2021-11-01 13:27] zklaus commented on #2060
There is a PR to make this change now in the bot repository and local changes on the VM are in place.

[2021-11-01 13:27] #2060 closed

[2021-11-02 00:11] hahsan1 opened #2400 "Do results indicate area-weighted averages?"
I have a question about running a basic recipe as attached, which masks out the sea and generates annual averages of the two variables. Are these averages area-weighted, perhaps during preprocessing? That is, is the fact that the cells differ in area (depending on latitude) taken into consideration?

[land_reference.txt](https://github.com/ESMValGroup/ESMValTool/files/7456819/land_reference.txt)

[2021-11-02 08:05] katjaweigel opened #2401 "recipe_flato13ipcc.yml fails because of issue with scalar time coordinates in ch09_fig09_14.py"
**Describe the bug**
Unfortunately, recipe_flato13ipcc.yml does still not run completely, after #2390 was merged (and several  non existing data sets where removed): There is an additional issue in ch09_fig09_14.py where a double scalar time coordinate is caused by different scalar time coordinates in the models (differ by one day or 12 hours). Because of this the multi-model mean fails.
I made an

[2021-11-02 08:07] katjaweigel commented on #2354
Unfortunately, recipe_flato13ipcc.yml does still not run completely, after #2390 was merged: There is an additional issue in ch09_fig09_14.py where a double scalar time coordinate is caused by different scalar time coordinates in the models (differ by one day or 12 hours). Because of this the multi-model mean fails. See issue #2401. I'm testing if the rest of recipe_flato13ipcc.yml runs without th

[2021-11-02 08:09] sloosvel opened #2402 "Fixing `recipe_seaice_drift` for 2.4"
**Describe the bug**
As pointed out in https://github.com/ESMValGroup/ESMValTool/issues/2354#issuecomment-954195415, `recipe_seaice_drift.yml` crashes in the diagnostic run. After debugging I found a couple of issues:

- For the GDFL dataset, the script crashes because there is a mismatch between the shapes of `areacello` and `sispeed`, which gets derived from `usi` and `vsi`. After taking a look

[2021-11-02 09:09] zklaus commented on #2401
Thanks, @katjaweigel, for tracking this down. A fix is available in #2403. Would you mind trying it out and giving a review over there?

[2021-11-02 09:30] jvegasbsc commented on #2402
Changes are ok. Thanks!

[2021-11-02 12:55] remi-kazeroni commented on #2354
I have re-run several of the recipes marked failed in https://esmvaltool.cloud.dkrz.de/shared/esmvaltool/v2.4.0-test2/ and for which a fix (removing `write_plots`, lack of computing power, missing data,...) (see the results in this [comment](https://github.com/ESMValGroup/ESMValTool/issues/2354#issuecomment-954786521)). I am not sure how I could share the results so that maintainers could check th

[2021-11-02 13:21] #2402 closed

[2021-11-02 13:22] #2401 closed

[2021-11-02 14:26] SarahAlidoost commented on #2396
Here some info about those missing variables mentioned in the first comment:
| var |data in cmip| data in era5| CMOR table|
|:-----|:---|:---|:---|
rlns| not available| [Surface net thermal radiation](https://apps.ecmwf.int/codes/grib/param-db?id=177)| [Surface Net downward Longwave Radiation](https://github.com/ESMValGroup/ESMValCore/blob/main/esmvalcore/cmor/tables/custom/CMOR_rlns.dat)|
rsns| n

[2021-11-02 14:49] remi-kazeroni commented on #2354
@ESMValGroup/esmvaltool-recipe-maintainers, failed recipes from the [previous](https://esmvaltool.cloud.dkrz.de/shared/esmvaltool/v2.4.0-test2/) set of tests have been rerun to check whether these run fine with the latest fixes in the code. Could you please check your recipes ran successfully and that the plots and provenance information are correct?

The runs were done with the same [settings](ht

[2021-11-02 14:55] remi-kazeroni commented on #2396
Thanks for summarizing my problem @zklaus and for providing the information @SarahAlidoost! I will try get the missing data on Mistral and I will close the issue as soon as this is done.

[2021-11-02 14:56] valeriupredoi commented on #2354
cheers muchly Remi!

Still we have 39 that poop the bed?

[2021-11-03 09:59] jvegasbsc commented on #2398
`long_name` should be `latitude` as it is stated in the CMOR tables. I will open a PR fixing that overlook in the regridding stock cube creation

[2021-11-03 10:07] zklaus commented on #2398
Strictly speaking, `long_name` is specified as `Latitude`, see https://github.com/PCMDI/cmip6-cmor-tables/blob/f35e08541ed75201e0063ddec58daa361b9dfa5e/Tables/CMIP6_coordinate.json#L827. But internal consistency in ESMValTool is the most important thing right now. Please just double-check and make sure that it works.

[2021-11-03 10:08] jvegasbsc commented on #2398
It is 'latitude' in CMIP5 definitions, and thus in OBS, so we are doomed with whichever we choose.

[2021-11-03 10:10] jvegasbsc commented on #2398
We probably should switch to the uppercase version after most of our observations are moved to OBS6. Anyway, I would recommend to always regrid to a datatest grid (usually the reference you want) to avoid this kind of inconsistencies

[2021-11-03 11:31] tomaslovato commented on #2398
@zklaus Given your comment in https://github.com/ESMValGroup/ESMValCore/pull/1381 a temporary fix to this issue would be to comment the 'GISS-E2-H-CC' dataset in the recipe for the time being ...

[2021-11-03 11:40] tomaslovato commented on #2398
@zklaus I think the proposed workaround in PR #2406 is fine ... I think that part of the issue may come also from the obs cmorizer in here https://github.com/ESMValGroup/ESMValTool/blob/e1eb27e9e463d0a04a8cc00185a23d538d9bc800/esmvaltool/cmorizers/obs/utilities.py#L437-L449

better to keep it in the list for v2.5!

[2021-11-03 11:43] valeriupredoi commented on #2400
hi @hahsan1 any of the `mask_*` preprocessors do not apply any weighting, they simply apply an fx mask on the input data and return the original data but with a boolean mask attached to it (where `True` represents the masked off points that fall in the area that needs to be masked off - either land, seas, or ice). The fx masks are specific to the model and are available as standard CMOR-compliant

[2021-11-03 12:31] #2398 closed

[2021-11-03 16:18] valeriupredoi commented on #2400
yes, that's the one! You can mask before so you keep only the desired areas then run `area_statistics` - that uses a method called `compute_area_weights` that computes the area weights then asses that as grid weights during the area statistics computation :+1:

[2021-11-03 17:33] hahsan1 commented on #2400
So I tried running with `area_statistics` instead and get this error in the log file: `iris.exceptions.CoordinateCollapseError: Cannot collapse a dimension which does not describe any data.`

Any idea what could be causing this? I have attached the recipe and the log files.
[land_reference.txt](https://github.com/ESMValGroup/ESMValTool/files/7469598/land_reference.txt)
[log.txt](https://github.com

[2021-11-04 11:36] valeriupredoi commented on #2400
you need to reverse the order of your preprocessors: first do land/sea masking, then area statistics. Area statistics collapses the data on `[longitude, latitude]` and returns time- or time-plev data, so the masking can not be performed after that since the horizontal dimensions have been collapsed

[2021-11-04 12:39] remi-kazeroni commented on #2396
In the course of downloading the `rlns` and `rsns` ERA5 data and trying to run the recipe_check_obs, I ran into various minor issues:

1. Since `rlus` and `rsus` are not available in ERA5, I could either derive them myself once and place them into the Mistral RAWOBS folder or add `derive: true` in the recipe_check_obs. I would prefer the second option as this requires less disk space but also give

[2021-11-04 12:58] valeriupredoi commented on #2396
@remi-kazeroni please edit the table if the `standard_name` is wrong there, cheers :+1:

[2021-11-04 14:34] SarahAlidoost commented on #2396
I suggest using 1hr for rlds. looking at the [definition of 1hr and 1hrPt ](https://github.com/PCMDI/cmip6-cmor-tables/blob/f35e08541ed75201e0063ddec58daa361b9dfa5e/Tables/CMIP6_CV.json#L2520), it makes sense to use 1hr for rlds.

[2021-11-04 15:13] hahsan1 commented on #2400
I tried reordering it like this but still get the same error
[code]

[2021-11-04 15:26] valeriupredoi commented on #2400
@hahsan1 the error happens in the `emissions_mip/initial_analysis-giss.py` diagnostic: have a look at the input data of that diagnostic and what the diagnostic needs to do with it please, I don't have access to your diagnostic and wouldn't know what happens there :smiley: Just looking the diag's log trace I see it crashes at:

[code]

which suggests to me you are trying to calculate an area statis

[2021-11-04 15:37] hahsan1 commented on #2400
Thanks for pointing that out! I see this chunk in the script you mentioned:
[code]
So it looks like we already compute the mean of the area-weighted cells for each variable.

[2021-11-04 15:42] valeriupredoi commented on #2400
indeed, but `diag_scripts/emissions_mip/initial_analysis-giss.py` is not a diagnostic in the `main` branch, so I assumed that is either the diagnostic you are currently developing, or it's someone else's development branch, if you could tell me what PR/branch that is then I can take a better look

[2021-11-04 15:46] hahsan1 commented on #2400
You can find the diagnostic file [here](https://github.com/JGCRI/ESMValTool/tree/master/esmvaltool/diag_scripts/emissions_mip) (this is our fork of ESMValTool)

[2021-11-04 15:47] zklaus commented on #2396
Just in case anybody was wondering, the `Pt` in `1hrPt` stands for "Point" meaning point in time, meaning that this is an instantaneous quantity, as opposed to an accumulated or averaged quantity. So if the parameter in question is associated with "instantaneous" in [the ERA5 parameter listing](https://confluence.ecmwf.int/display/CKB/ERA5%3A+data+documentation#ERA5:datadocumentation-Parameterlist

[2021-11-04 15:56] valeriupredoi commented on #2400
cheers! OK so that diag is actually computing area statistics inside it, so you'd have to decide where to best do it - the diag is using the ESMValCore's area statistic functionality, so maybe just not use it in the preprocessor? Incidentally note that your fork is about 500+ commits behind the main, so I'd suggest you refresh it with the latest main and use the latest ESMValCore - there are a num

[2021-11-04 16:17] hahsan1 commented on #2400
Thanks for looking into this! We will look into merging the new commits.

[2021-11-04 16:17] #2400 closed

[2021-11-04 16:31] Peter9192 opened #2407 "Support interactive output"
**Is your feature request related to a problem? Please describe.**
Currently, ESMValTool creates an html output page that shows all figures and lists output files. It would be really nice if this page could also include interactive figures.

An option that I quite like would be based on [Altair](https://altair-viz.github.io/). Altair generates a [vega-lite spec](https://vega.github.io/vega-lite/),

[2021-11-05 10:03] remi-kazeroni commented on #2396
Thanks for the inputs about the frequencies! Given that all variables of interests for the derivation of `rlus` and `rsus`, namely `rlns`, `rlds`, `rsns`, and `rsds`, are all listed in the [accumulation table](https://confluence.ecmwf.int/pages/viewpage.action?pageId=82870405#ERA5:datadocumentation-Table3) of the ERA5 documentation, these should all be using the `1hr` frequency. If I put these lat

[2021-11-05 10:20] zklaus commented on #2396
Let's bring it up in today's meeting. I think we might be able to do something with `extra_facets` in the spirit of ESMValGroup/ESMValCore#1125, though the exact format in that PR may be outdated.

[2021-11-05 10:22] zklaus commented on #2396
Another alternative is to include that information right in the derivation. If you look at https://github.com/ESMValGroup/ESMValCore/blob/caeffab87af615bf2f3bece986842c7ef154b045/esmvalcore/preprocessor/_derive/rsus.py#L16, you see that the project is passed to the function that determines the needed variables. There you could add the mip when the native6 project comes up.

[2021-11-05 10:57] katjaweigel commented on #2354
I finally managed to run a version of recipe_flato13ipcc.yml with reducing the data (Removing data missing on Mistral,  one model where a model fix seems to be necessary and correcting a non fitting time range for one model).
The output can be found on Mistral at: /work/bd1083/b380216/output/recipe_flato13ipcc_20211104_231212 (I haven't  manage to check all the figures, yet.)

[recipe_flato13ipcc.

[2021-11-05 15:24] remi-kazeroni opened #2408 "CMIP5 data missing to run recipes and not available on ESGF nodes"
**Describe the bug**
The recipe test runs done before the v2.4 release showed that quite a few recipes do not run because of missing CMIP5 data (see second table in this [comment](https://github.com/ESMValGroup/ESMValTool/issues/2354#issuecomment-954561482)). Not only the data are not found on the [default](https://github.com/ESMValGroup/ESMValCore/blob/caeffab87af615bf2f3bece986842c7ef154b045/esm

[2021-11-05 15:58] remi-kazeroni commented on #2396
After a discussion with @zklaus and @bouweandela, it was decided to tackle the problem with the ERA5 variable derivation after the release of v2.4. This is a Core issue and it is not quite clear if other variable derivations are affected beyond ERA5 `rlus` and `rsus` data.

For consistency with the [recipe_check_obs](https://github.com/ESMValGroup/ESMValTool/blob/main/esmvaltool/recipes/examples/r

[2021-11-05 15:58] #2396 closed

[2021-11-09 12:27] zklaus commented on #2354
Thanks, everyone for the hard work! Most issues have been resolved, the few remaining ones will be tracked for the next release.

[2021-11-09 12:27] #2354 closed

[2021-11-09 12:29] valeriupredoi commented on #1907
all done in #2236

[2021-11-09 12:29] #1907 closed

[2021-11-09 12:31] valeriupredoi commented on #2274
all the issues/PRs related have been closed/addressed (see the last big docs change in #2236 ) - the only one's left is the conda lock-related one, but that is not a mamba-dependent one, but rather a completely new functionality/strategy to be included, so am closing this :beer:

[2021-11-09 12:31] #2274 closed

[2021-11-09 12:33] valeriupredoi commented on #2354
cheers @zklaus and everyone else! We are finally ready-ready to release :guitar:

[2021-11-09 12:45] valeriupredoi commented on #2001
we have gotten this in our habit already, and produced a few Highlights sections both in Core and Tool release changelogs so far, safe to close methinks :beer:

[2021-11-09 12:45] #2001 closed

[2021-11-09 13:47] valeriupredoi opened #2413 "Fix provenance logger functionality in `thermodyn_diagtool/plot_script.py`"
Currently not working, @schlunma generalized the prov fixing in #2296 (cheers!) but this is not enough for this particular case. See l.84-107 in `diag_scripts/thermodyn_diagtool/plot_script.py`

[2021-11-09 16:12] valeriupredoi opened #2415 "Docker `exp` build run fails"
the experimental docker build [fails](https://hub.docker.com/repository/registry-1.docker.io/esmvalgroup/esmvaltool/builds/d6b9dc33-2728-4391-8e39-097c1cbc9af3) - it's been failing for a while now, so unrelated to the new release. I'll have a dive in it tomorrow :beer:

[2021-11-10 11:26] remi-kazeroni opened #2416 "Version of ESMValCore used in the source installation of ESMValTool"
It seems that a fresh installation from source (following the [docs](https://docs.esmvaltool.org/en/latest/quickstart/installation.html#install-from-source)) of the newly released version of ESMValTool uses the latest release candidate of ESMValCore rather than the released version, as shown in the [environment file](https://circle-production-customer-artifacts.s3.amazonaws.com/picard/589ba551c9e7

[2021-11-10 12:22] valeriupredoi commented on #2416
good find @remi-kazeroni - we completely forgot to remove the `conda-forge/label/esmvalcore_rc` channel when we released yesterday, @zklaus do you think we should do a bugfix release for that?

[2021-11-10 12:24] zklaus commented on #2416
Actually, we did not forget. Rather we thought about it and thought that the newer version should be picked up automatically. I am still thinking about why exactly this is not happening. I reckon it has something to do with strict channel priority, but a bit of investigation and thought is needed.

[2021-11-10 12:31] valeriupredoi commented on #2416
pip would never do that, but am not 100% sure what conda's doing - probably, as Klaus says, strict channel prio

[2021-11-10 12:32] valeriupredoi commented on #2416
ah yes, since the conda package recipe is different!

[2021-11-10 12:45] zklaus commented on #2416
Was this in an existing environment or a new one?

[2021-11-10 12:46] valeriupredoi commented on #2416
brand new one, that I just created on JASMIN while installing the Tool centrally

[2021-11-10 15:43] zklaus commented on #2416
Ok, it really does have something to do with channel_priority. From `conda config --describe channel_priority`:
[code]

With `channel_priority: disabled`, this works as I hoped. However, this is a bit outside our control and only useful really in the brief period where we have an rc and not yet the corresponding full release, so I agree with removing the line here as a better solution. Will do a P

[2021-11-10 16:07] zklaus commented on #2416
This should be fixed. Could you guys give it a try?

[2021-11-10 16:23] valeriupredoi commented on #2416
it did indeed, fresh env build brings this baby in:
[code]
:beer:

[2021-11-10 16:33] remi-kazeroni commented on #2416
Works fine for me as well, got the same result 🍻

[2021-11-10 17:43] valeriupredoi opened #2419 "Julia doesn't function well if the `miniconda3/envs/esmvaltool` install dir is not in `$HOME`"
I have been trying to figure this out the whole day today - finally concluded this: if one installs esmvaltool with the `miniconda3/envs/esmvaltool` dir and the `esmvaltool` source dir **not in** `$HOME`, `esmvaltool install Julia` will automatically install the dep packages in `$HOME/.julia`, and from there on all `PyCall`-related hell breaks loose. One can install the Julia deps anywhere else by

[2021-11-11 15:03] bouweandela commented on #883
Let's close this since we are no longer building the nightly packages. People can just install from source if they want the very latest features.

[2021-11-11 15:03] #883 closed

[2021-11-11 15:33] schlunma opened #2423 "Bug in trend unit calculation of `diag_scripts/mlr/preprocess.py`"
**Describe the bug**
In `diag_scripts/mlr/preprocess.py` there is a small error in the automatic unit calculation of the trend aggregation. In the following line, `+=` needs to be replaced by `=`:

https://github.com/ESMValGroup/ESMValTool/blob/f47afc5cc4762510f543e3cf8bd92ce325c4c422/esmvaltool/diag_scripts/mlr/preprocess.py#L654

In addition, `coord_name` needs to be replace with `dim_coord.name

[2021-11-12 09:26] zklaus commented on #2419
Hm. I thought Julia *always* installs everything in $HOME/.julia (custom mucking about with JULIA_DEPOT_PATH and friends notwithstanding). I also think Julia does quite a horrible job of playing with systems and helping packagers. But I also really like the Rainfarm. :shrug:

Perhaps we can keep it lingering for a bit while monitoring https://github.com/conda-forge/julia-feedstock, particularly co

[2021-11-12 12:01] valeriupredoi commented on #2419
No, if you set that DEPOT path it'll install wherever that path points to but then it gets very confused and it's saying none of the pkgs installed there are actually installed; maybe I have to set another path variable or another thing I dunno, but that's not what we'd expect a user with little experience of Julia (giggity :grin: )

OK, let's do that. I can't make the centrall install on JASMIIN

[2021-11-12 12:01] #2419 closed

[2021-11-15 12:01] sloosvel opened #2424 "Issues with Mamba installation?"
**Describe the bug**
We are having some issues at the BSC while trying to install the newly released v2.4 of ESMValTool:

[code]
Any clue on how to proceed?

FYI @kserradell

[2021-11-15 12:03] zklaus commented on #2424
It doesn't seem like you are using the conda-forge channel. If you are installing not using mambaforge, you might need to add `-c conda-forge` in there.

[2021-11-15 12:07] valeriupredoi commented on #2424
indeed, as Klaus says, the only two channels your `mamba` is looking at at the moment are `main` and `r` - if this is a conda-based install you need to add conda-forge as channelm or use the classic `mamba env create -n esmvaltool -f environment.yml` (no need to specify the Python, it'll grab the latest and see if it can solve with it)

[2021-11-15 12:10] kserradell commented on #2424
Yes, that works. Thanks, @zklaus and @valeriupredoi. I'm having some issues creating an EasyBuild recipe with the addition of mamba.

[2021-11-15 12:18] zklaus commented on #2424
I don't know EasyBuild enough, but note that using the `main` channel (and possibly the `r` channel, don't know) is likely to oblige you to buy licenses from Anaconda since the relatively recent change in licensing policy.

[2021-11-15 15:20] sloosvel commented on #2424
Thank you all, closing this as the installation is now successful.

[2021-11-15 16:40] valeriupredoi commented on #2424
uep! and the [documentation](https://docs.easybuild.io/en/latest/) looks as lengthy as Tolstoy's War and Peace :laughing:

[2021-11-15 16:46] kserradell commented on #2424
Yes, the documentation is quite large because Easybuild is a great and powerful tool! 😉

It automates many tasks from installation itself to module creation. Let me polish the recipe and I will share it with you.

[2021-11-15 17:55] Jon-Lillis commented on #2209
Sample output of AutoAssess Radiation Budget scripts (HadGEM3):

![Ebudget_AMIP__1981_2008_ann](https://user-images.githubusercontent.com/68286976/141830009-19d5323d-c0ae-480c-a4cd-f25062fa2b0e.png)

Sample output of ESMValTool conversion:

![HadGEM3-GC31-LL](https://user-images.githubusercontent.com/68286976/141830047-33f4c9fa-7835-44bb-93ff-207f8c8b3ef1.png)

[2021-11-15 21:20] hahsan1 commented on #2277
We managed to work around the longer processing time by running recipes in parallel. This seems to work for us.

[2021-11-15 21:20] #2277 closed

[2021-11-16 08:15] ehogan commented on #2175
Just to wrap this up, I have discovered the trick is to specify only the `conda-forge` channel, for example:
[code]
This takes about 15 minutes to complete and works for ESMValTool v2.4.0 as well :)

[2021-11-16 10:11] kserradell commented on #2424
@zklaus, please find attached an EasyBuild working recipe to install ESMValTool. Please feel free to share with people using this tool.

[code]

[2021-11-16 10:17] Jon-Lillis commented on #2209
Sample output of AutoAssess Radiation Budget scripts (UKESM):

![Ebudget_AMIP__1981_2008_ann](https://user-images.githubusercontent.com/68286976/141966549-d3635445-ccf8-4ff9-b417-3dab17f8fb49.png)

Sample output of ESMValTool conversion (UKESM):

![UKESM1-0-LL](https://user-images.githubusercontent.com/68286976/141966635-38dc7066-a01c-4c31-ae08-2e26a2c46ab6.png)

[2021-11-16 10:42] Jon-Lillis commented on #2209
### AutoAssess Seasonal Radiation Budget metrics:

**HadGEM3:**
Surface downwelling longwave flux in air ann,339.09822
Surface downwelling longwave flux in air djf,331.26307
Surface downwelling longwave flux in air jja,347.39699
Surface downwelling longwave flux in air mam,338.5007
Surface downwelling longwave flux in air son,339.23211
Surface downwelling shortwave flux in air ann,192.32674
Surfac

[2021-11-16 11:46] valeriupredoi commented on #2277
@hahsan1 excellent, cheers for the heads up! What are you guys working on with ESMValTool as a fork? it'd be nice if you dropped a brief description of the project either as an issue or in the Discussion section - that way we'd know more of your use of ESMValTool and we could offer assistance/pointers etc. Also we could add a link to the documentation for other users to be aware of your project (i

[2021-11-16 11:48] valeriupredoi commented on #2424
excellent, but if we keep this issue open then the title has to change to something that is relevant to the issue continuation please :beer:

[2021-11-16 13:25] valeriupredoi commented on #2209
@Jon-Lillis nice plots and results, I'd add these to the recipe#s documentation maybe? @alistairsellar what do you think?

[2021-11-16 16:36] hahsan1 commented on #2277
We are working on a project called Emissions-MIP which focusses on evaluating the sensitivity of models to various emissions characteristics. We are still in the stage of verifying our experimental protocol, and we've essentially been using ESMValTool for all of our analysis. You and your team have been extremely helpful and we thank you for that!

We presented preliminary results at the [AeroCOM

[2021-11-16 16:50] valeriupredoi commented on #2277
awesome, excellent work and very happy we could (and will, in the future) help! Cheers, mate, would you be OK if I quoted your project summary (in the comment above) in our communications? I am thinking we will gather some basic info on projects/teams using ESMValTool for pride&joy on either the website esmvaltool.org or in the intro in the documentation :beer:

[2021-11-16 16:54] hahsan1 commented on #2277
Yes that would be great, thanks!

[2021-11-16 16:57] valeriupredoi opened #2426 "Gather (basic) info on projects/teams that use ESMValTool and post it for pride&joy"
I just found out that there is a whole Emissions-MIP project (see https://github.com/ESMValGroup/ESMValTool/issues/2277#issuecomment-970451649 ) that uses ESMValTool for their work, also the IPCC AR6 report - lots of plots there done with ESMValTool: we should see if we can gather info from all these projects/teams/reports etc and we should post them (small testimonial-like format?) - either on th

[2021-11-16 23:29] hahsan1 opened #2427 "Error when running variable derivation module"
I am trying to generate the variable `toz` which is the total column ozone by following the instructions from the [guide](https://docs.esmvaltool.org/projects/ESMValCore/en/latest/recipe/preprocessor.html#variable-derivation), but I get an error. It's not clear to me from the error log what the problem is. Any insight would be greatly appreciated!

Here are the recipe and error log from the run.
[

[2021-11-17 15:43] Jon-Lillis opened #2428 "Add support for additional variables from the CERES-EBAF dataset"
As noted in #2209, while CERES-EBAF is in the [list of supported datasets](https://docs.esmvaltool.org/en/latest/input.html#supported-datasets), only four variables are currently available and three additional variables are required for the radiation budget diagnostic - rsdt, rsds, and rlds.

We are happy to add support for these ourselves, but aren't sure where to begin. Please could somebody pro

[2021-11-18 08:59] remi-kazeroni commented on #2428
Hi @Jon-Lillis, yes indeed, it is good practice to add support for observational data used in recipes. Otherwise recipes are difficult to test and run on different machines. In the case of CERES-EBAF, we are currently [supporting](https://github.com/ESMValGroup/ESMValTool/blob/main/esmvaltool/cmorizers/obs/cmor_config/CERES-EBAF.yml) four variables for the version `Ed4.0` of the data. I see that y

[2021-11-18 10:48] rswamina commented on #2426
Thanks @valeriupredoi . I am including this in our agenda for the next user enagegment team meeting.

[2021-11-18 11:37] valeriupredoi commented on #2426
cheers @rswamina :beer:

[2021-11-18 11:48] valeriupredoi commented on #2428
hi @Jon-Lillis - @remi-kazeroni is our resident maestro when it comes to OBS data, and his answer is spot on and pretty much exactly what I was just about to post myself. The only addition is that if you are working on JASMIN the OBS data is in /gws/nopw/j04/esmeval/obsdata-v2/Tier2/CERES-EBAF but that's not too much of help atm since none of the missing variables are there (note that you will nee

[2021-11-18 15:40] zklaus commented on #2424
Thanks @kserradell and all! @valeriupredoi, how do you build the module on jasmin? Perhaps we can integrate the easybuild recipe into the repository as a template for other HPC?

[2021-11-19 12:53] egalytska commented on #2062
Since the issue is not yet closed I would also like to contribute.
I just have recently installed ESMValTool v2.4 and started with running example python recipe as follows:

`esmvaltool run examples/recipe_python.yml --config-file /path/to/my/config/file/config-user.yml`

and it took quite a long time to figure out that ESMValTool reads the file from `${HOME}/.esmvaltool`, but not from the path I

[2021-11-19 12:58] valeriupredoi commented on #2062
@egalytska very good point, and it's been an item on my (extended) to-do list (very extended, mind you :grin: ) - we do have an issue in Core https://github.com/ESMValGroup/ESMValCore/issues/936 for this sort of behavior so I'm going to close this for now :+1:

[2021-11-19 12:58] #2062 closed

[2021-11-19 13:06] bouweandela commented on #2062
The problem described by @egalytska is also mentioned in this issue: https://github.com/ESMValGroup/ESMValCore/issues/797

[2021-11-22 07:41] egalytska commented on #2062
Alright, good to know. Thanks for taking care @valeriupredoi

[2021-11-23 12:07] valeriupredoi opened #2430 "Connect recipe filler to the `pyesgf-client` interface/API"
Thanks to @ledm for raising this at the workshop today: currently the automatic recipe filler looks for data locally only, we should connect it to the `pyesgf-client` ESGF search REST API to look for data on other ESGF nodes, possibly recycling/adapting bits of the `esgf` module of ESMValCore (note that this will **not** involve data downloads unless the recipe is run, in which case it will use th

[2021-11-25 09:28] ledm commented on #2430
Awesome - cheers V!

[2021-11-29 12:36] valeriupredoi opened #2433 "Julia dependencies installation fails due to `libunwind`"
[GA test fail](https://github.com/ESMValGroup/ESMValTool/runs/4351584759?check_suite_focus=true) and [Circle test fail](https://app.circleci.com/pipelines/github/ESMValGroup/ESMValTool/6030/workflows/5e08b0b6-055b-4766-97ff-4a75b83a9e3c/jobs/51854) symptomatic due to Julia not being built with `libunwind=1.6`

See these:
- https://github.com/conda-forge/libunwind-feedstock/issues/19
- https://gith

[2021-11-29 12:37] zklaus commented on #2433
I did some investigation. To me, it seems to be due to problems of the upstream Julia repositories.

[2021-11-29 12:59] valeriupredoi commented on #2433
cheers, Klaus! I am getting this with julia 1.6.4:
[code]
I'll try 1.6.3 that worked before

[2021-11-29 13:10] valeriupredoi commented on #2433
no luck, same situation with julia=1.6.3 - what do you think, Klaus, wait see if they sort their issues out?

[2021-11-29 13:29] valeriupredoi commented on #2433
indeed I did, still no show. What OS you using? Could it be Ubuntu-related?

[2021-11-29 13:57] valeriupredoi commented on #2433
OK here's what I did: I used a slightly older environment (from about a week or so ago), and installed the Julia deps all fine (with `esmvaltool install Julia`), then I looked up the julia version in that env: `julia=1.6.3=h2a39549_1`  from ` conda-forge`, and fixed the exact version number and build hash in the environment file to create a new env, did that, and checked again the installation of

[2021-11-29 14:04] valeriupredoi commented on #2433
BINGO! I found the offending dependency (got lucky it was only one that differed from the two envs): libunwind, the working one is
[code]
and the one that's killing Julia is 1.6

[2021-11-29 14:23] zklaus commented on #2433
Thanks for the excellent detective work. Let's not go down the pinning rabbit hole just yet. What this needs is a rebuild of Julia upstream. I am discussing with the conda-forge crew how to progress. Feel free to jump in in the gitter room https://app.element.io/#/room/#conda-forge:matrix.org

[2021-11-29 14:25] valeriupredoi commented on #2433
awesome, I will, in a second, I created a PR with the pin of `libunwind` just to be 100% sure that's the culprit (on a proper test platform), so I'll link that in the discussion, we don't have to merge it, as long as Julia rebuild happens soon enough :+1:

[2021-11-29 14:49] zklaus commented on #2433
So... As @valeriupredoi figured out, there was an update of libunwind. This broke abi compatibility in Julia, which means that the Julia package on conda-forge should be rebuilt. The question is why this didn't happen automatically and what needs to be changed in the conda-forge bowels. After brief discussions with the conda-forge crowd, we came down on relying on the abi-laboratory for an assessm

[2021-11-29 14:54] valeriupredoi commented on #2433
yer, and Klaus led me to what appears to be the most lively conversation about dependencies I've ever seen, I must have transcended to the highest level of geek space :rofl:

[2021-11-29 14:56] mkitti commented on #2433
I'm the julia-feedstock maintainer of the recent releases. I'm watching here and on gitter.

[2021-11-29 15:02] valeriupredoi commented on #2433
@mkitti welcome to our land! For now it's best to wait (until Tuesday, or latest Wed), since the ABI Lab will get rebuilt with the latest `libunwind=1.6` every Tuesday and Friday - that is currently causing Julia not to work properly, @zklaus can tell you what that ABI Lab is since I got no idea :laughing:

[2021-12-01 11:46] valeriupredoi commented on #2433
@zklaus our CI [tests](https://github.com/ESMValGroup/ESMValTool/runs/4375292894?check_suite_focus=true) are still failing even though it's Wed now (feels a bit like Tokyo Drift :grin: ) - has the ABI been updated?

[2021-12-02 15:52] mkitti commented on #2433
https://abi-laboratory.pro/index.php?view=timeline&l=libunwind ABI tests ran yesterday and did not show a problem with compatibility.

[2021-12-02 16:55] #2209 closed

[2021-12-03 11:31] valeriupredoi commented on #2433
cheers @mkitti - unfortunately our CI is still [stumbling](https://github.com/ESMValGroup/ESMValTool/runs/4402633963?check_suite_focus=true) - could it be that now the environment gets done with yet another newer `libunwind=1.6.2`?

[2021-12-03 11:37] valeriupredoi commented on #2433
OK since https://github.com/conda-forge/libunwind-feedstock/issues/19 and another related https://github.com/conda-forge/julia-feedstock/issues/132 are still open I am guessing the compatibility with `libunwind>=1.6` is not ready yet :+1:

[2021-12-06 13:12] valeriupredoi commented on #1650
RE this we have just been told that there now is a package that computes these sort of indices: [ICCLIM documentation](https://icclim.readthedocs.io/en/latest/) and [`icclim` GitHub page](https://github.com/cerfacs-globc/icclim)

[2021-12-06 15:29] remi-kazeroni opened #2437 "Cmorizer for the NDP dataset is broken"
**Describe the bug**
While testing the cmorizers in #1657, I realized that the NDP one is broken because the file format is not supported:

[code]
@schlunma: since you have written the cmorizer script, could you please have a look when you have time for that?

**Please attach**
  - Command used: `cmorize_obs -c config-user.yml -o NDP`
  - The `main_log_debug.txt` file, this can also be found in th

[2021-12-06 16:59] schlunma commented on #2437
Thanks for reporting this issue @remi-kazeroni!

I have no idea why `gdal` can't read the `.e00` file anymore. The file didn't change, so I guess for some reason the newer version of `gdal` struggles with the file. However, thankfully the dataset is also provided in `tif` format and `gdal` CAN read this format.

For this, the following modifications are necessary:

[code]

Do you want me change th

[2021-12-07 09:02] jvegasbsc commented on #2437
I applied the changes to #1657 and it works. Thanks!

[2021-12-07 10:32] remi-kazeroni commented on #2437
Thanks @schlunma for your investigation and providing a solution! Thanks @jvegasbsc for merging this into #1657! I have just checked and the NDP cmorizer works fine in #1657. No difference between the old and the new output (`cdo diffn`). So we can close this.

[2021-12-07 10:32] #2437 closed

[2021-12-07 10:58] zklaus commented on #2437
It's worth pointing out that often when a "Gdal suddenly doesn't read my format anymore" problem comes up, this is simply due to the installation method for Gdal. Since it relies on 3rd party libraries for most of its supported formats, they can be activated or deactivated during the installation. In particular, the Pypi wheel of Gdal is notorious for being *very* barebones.

In other words, chanc

[2021-12-07 11:08] zklaus commented on #1650
icclim is of course far from new and has been discussed in this group many times. I suppose so far nobody has had time and/or interest enough to integrate it into ESMValTool. As far as I understand, the new version delegates most of the actual calculations to one of the other packages that we have discussed, [xclim](https://xclim.readthedocs.io/en/latest/) which might be more suited to call direct

[2021-12-07 11:18] zklaus commented on #2433
I agree that things are still in motion and we need a bit more time. Perhaps we should deactivate the julia bit in our CI for the time being?

@mkitti, I think the timeline of the ABI tests *does* show compatibility problems. Specifically, the 1.6.0 version shows only 97% backwards compatibility. Drilling down (clicking on the percentage), we find that `struct unw_dyn_info` got a new member variab

[2021-12-07 11:22] pagecp commented on #1650
Yes it is not new at all, but it has been rewritten from scratch for the upcoming version 5.
It is using xclim functions, but adding on top a compatible API with earlier versions, as well as more functionalities such as user indices.

Christian
---
Ingénieur de recherche de haut niveau en scénarios climatiques/infrastructure de données, Ph. D.
tel: +33 (0)5 61 19 30 11          fax: +33 (0) 5 61 1

[2021-12-07 11:33] remi-kazeroni commented on #2437
In v2.4, we are using Gdal v3.3.3 while we were picking v3.1.4 before:
v.2.4:
[code]
v2.3:
[code]
If I understand the [release notes](https://github.com/OSGeo/gdal/blob/v3.4.0/gdal/NEWS.md#gdalogr-330-release-notes) of Gdal 3.3.0 correctly, support for e00 files has been removed. Legacy drivers can be obtained from a [repository](https://github.com/OSGeo/gdal-extra-drivers) that is not maintained.

[2021-12-07 11:40] zklaus commented on #2437
Good points, @remi-kazeroni. I mainly wanted to leave the comment here because gdal issues have popped up before and might again. In this case, it seems the driver really has been removed.

Also, a number of drivers have been deprecated and slated for removal in 3.5.0. Should we check whether any of them concern us?

[2021-12-07 11:57] schlunma commented on #2437
Thanks for the comment @zklaus! I think in the specific case of NDP we should definitely stay with reading the `tif` file. The output file didn't change at all and we don't need to add additional dependencies from (possibly not maintained) repositories.

[2021-12-07 14:26] mkitti commented on #2433
I see it now. https://abi-laboratory.pro/index.php?view=compat_report&l=libunwind&v1=1.5.0&v2=1.6.0&obj=8ee57&kind=abi

[2021-12-09 15:20] valeriupredoi commented on #2433
`julia=1.6.4` works well with `libunwind=1.5.0` see [here](https://github.com/ESMValGroup/ESMValTool/runs/4464788412?check_suite_focus=true) - I will close this since this configuration now works well for us, cheers :beer:

[2021-12-09 15:20] #2433 closed

[2021-12-14 07:21] sloosvel opened #2440 "Add recipe with examples using decadal data"
**Short description of the diagnostic**
As requested by @remi-kazeroni, I am uploading the recipe and diagnostic script that generates the figures using decadal data for D9.4 of ISENES-3. Requires the work on timeranges developed in ESMValCore.

**Branch and pull request**
Changes are in branch dev_decadal_example and PR #2441

[2021-12-15 11:37] valeriupredoi opened #2444 "🎄 Season's greetings 🎄"
Hey good people of @ESMValGroup/esmvaltool-developmentteam wishing you happy and safe holidays, and thank you muchly for all your great contributions and work all through 2021, here's to a good, Greek letter free 2022, and hope to see as many of you in person in the new year!

![esmvalToolCard2021](https://user-images.githubusercontent.com/28983971/146179578-f455c813-e302-4888-aff2-5051a9c4fefb.pn

[2021-12-15 11:46] valeriupredoi commented on #2444
also for our ditchers @mattiarighi and @bjoernbroetz :grin:

[2021-12-15 19:35] ehogan opened #2445 "WOA cmorizer test very slow since it downloads new version data"
**Describe the bug**
When the tests are run as part of the PR checks by CircleCI, the (265 + 1233 =) 1488 tests appear to take less than 8 minutes using `pytest -n 2`, see, for example, the [output from our last PR](https://app.circleci.com/pipelines/github/ESMValGroup/ESMValTool/5998/workflows/e56000f8-638a-413e-a4b5-b28b4c63120b/jobs/51685), which was produced using ESMValCore v2.4.0 on November

[2021-12-16 07:26] mattiarighi commented on #2444
Thank you @valeriupredoi! 🎁

I wish you and the whole @ESMValGroup/esmvaltool-developmentteam a great Christmas and a covid-free 2022. 🎅

[2021-12-16 13:58] valeriupredoi commented on #2445
hi @ehogan if you look at CircleCI and Github Actions tests take about 4-5min which is about right for an average CPU and running with 2 cores. You can port the [test monitor Action](https://github.com/ESMValGroup/ESMValCore/runs/4541708749?check_suite_focus=true) I implemented for ESMValCore and see which tests are hogging the time (I was meaning to get that Action in here too, at some point). I

[2021-12-16 14:09] valeriupredoi commented on #2444
great to see @mattiarighi and @bjoernbroetz here too - wishing you guys safe holidays too, a Weissbier (or five) at a Bavarian beergarden next year is the next milestone! :beer:

[2021-12-17 08:53] senesis commented on #1119
CMIP6 Data Request includes a number of requests for data at site locations, either point data (one level, see e.g. [that summary](http://clipc-services.ceda.ac.uk/dreq/u/33b0f666-a27a-11e6-bfbb-ac72891c3257.html)) or profiles ([here)](http://clipc-services.ceda.ac.uk/dreq/u/33b0f666-a27a-11e6-bfbb-ac72891c3257.html).

[2022-01-04 15:54] tepmo42 commented on #2445
The tests are also taking a long time for me to run.

[2022-01-04 16:37] tepmo42 opened #2448 "esmvaltool_developer"
issue for esmvaltool tutorial

**Branch and pull request**
developer_tutorial

[2022-01-04 16:39] tepmo42 commented on #2448
https://github.com/ESMValGroup/ESMValTool/pull/new/developer_tutorial

[2022-01-05 12:26] valeriupredoi commented on #2444
Happy New Year and hoping people had a good and healthy break, sadly closing this, time for a new year and new serious work :grin:  :beer:

[2022-01-05 12:26] #2444 closed

[2022-01-05 12:31] valeriupredoi commented on #2448
Hi @tepmo42 and welcome to the group! I would suggest you write a bit more in an issue rather than posting the name of a branch and a link - stuff like what the issue is about, why you seek help/what suggestions you have to improve the existing code or documentation - this type of information helps us understand what the matter is and how we can get involved. As Klaus says, have a look at the tuto

[2022-01-05 13:56] tepmo42 commented on #2448
Hi Valeriu,

I created this issue as part of Emma’s ESMValTool developer tutorial, it does not need any action from anyone other than myself. Sorry I though that it was only assigned to me so I would be the only one to see it, I’m still a bit new to github. I will try and close it.

Thanks

Tammy

From: Valeriu Predoi ***@***.***>
Sent: 05 January 2022 12:31
To: ESMValGroup/ESMValTool ***@***.***>

[2022-01-05 14:00] tepmo42 commented on #2448
Carried out as part of tutorial, issue closed

[2022-01-05 14:12] valeriupredoi commented on #2448
Hi Tammy, absolutely no problem at all, but for future - if you open a public issue (well, all issues are public) then everyone in the group will have seen it at some point, assigning it to yourself is good, but that doesn't mean others won't pass by and see what's the hap, that's I mentioned a bit of context is good to have so others can relate to it or not :smiley:

[2022-01-05 14:14] tepmo42 commented on #2448
Thanks, I will remember that for future and in that case it would be useful !  I have closed it now so hopefully that will avoid any further confusion?

From: Valeriu Predoi ***@***.***>
Sent: 05 January 2022 14:13
To: ESMValGroup/ESMValTool ***@***.***>
Cc: Palmer, Tamzin ***@***.***>; State change ***@***.***>
Subject: Re: [ESMValGroup/ESMValTool] esmvaltool_developer (Issue #2448)

This email w

[2022-01-05 14:26] valeriupredoi opened #2450 "[Julia] Julia installation from conda-forge throws SegFault and unsucessful conda rollback"
[see failed env solving](https://github.com/ESMValGroup/ESMValTool/runs/4715592816?check_suite_focus=true) - `libopenlibm.so` is missing - wasn't the ABI being regenerated every Tuesday? It looks like the one from yesterday might have gone sour again

[2022-01-05 15:56] valeriupredoi commented on #2445
@ehogan @tepmo42 please have a look at this test monitor: https://github.com/ESMValGroup/ESMValTool/runs/4716222019?check_suite_focus=true Github Action (see the parse_pymon.py run towards the bottom): for Python 3.9 the slowest test is indeed the WOA cmorizer test at about 33s - this is slow (and I'll have a look at it see if I can make it faster) but it's nowhere near as slow as you are reportin

[2022-01-05 16:04] ehogan commented on #2445
Happy new year @valeriupredoi! :) Thank you for your comments and the evidence that the test should take ~30 seconds to run! I'm not using a shared machine, so I'm not sure what is going on :/ Let me investigate a bit more and I'll get back to you :)

(I assigned the AutoAssess label to this as I mention running the tests during the tutorial we've developed for converting AutoAssess metrics and I

[2022-01-05 16:14] valeriupredoi commented on #2445
Happy New Year, Emma! sure, please have a looksee and ping me if you think something's fishy :fish:

[2022-01-05 18:01] ehogan commented on #2445
`pytest` header from test monitor:
[code]

`pytest` header from my Linux machine:
[code]

So it looks like the versions of Python, forked and xdist are different (and monitor is missing).

I created an environment to match the environment used by the tests monitor but it made no difference to the timings :(

[2022-01-05 18:04] ngam commented on #2450
We may need a more systematic solution here: https://github.com/conda-forge/julia-feedstock/issues/169#issuecomment-1005943961

[2022-01-06 11:00] ehogan commented on #2445
@valeriupredoi I discovered what is going on :) The problem is related to the fact that the test is attempting to download missing data:

[code]
It takes ~5 minutes to download a file, and it downloads 6 files during the test (~30 minutes). How are these files available to the test monitor? Would it be better to store all required test data with the tests?

[2022-01-06 12:19] valeriupredoi opened #2452 "[cmorizers] Updated WOA cmorizer expects different type of input than what we test for"
The new(er) WOA cmorizer expects raw data input in the form of:

[code]

with months going up from `00` to `01` etc. First off - this looks dodgy to me, why are we using an extra layer of directory structure depth to specify a single variable-ed file?

Second and more importantly, the test was never changed to account for this difference in input data: `tests/integration/test_cmorize_obs.py` is no

[2022-01-06 12:20] ehogan commented on #2445
There was an extra directory that wasn't being considered when writing the dummy data. I have fixed this in #2451 :)

[2022-01-06 12:25] valeriupredoi commented on #2445
@ehogan you are absolutely correct! I went inside that test and discovered it was never changed to account for the newer WOA cmorizer, I have opened https://github.com/ESMValGroup/ESMValTool/issues/2452 - I first need to make sure the input data structure is correct as requested by the cmorizer script, then I will change the test to account for those new changed paths. Many thanks for insisting on

[2022-01-06 12:56] valeriupredoi commented on #2450
cheers muchly @ngam :beer:
Now all's working on both [Circle](https://app.circleci.com/pipelines/github/ESMValGroup/ESMValTool?branch=main&filter=all) and [Github Actions](https://github.com/ESMValGroup/ESMValTool/runs/4726684510?check_suite_focus=true) via https://github.com/conda-forge/julia-feedstock/issues/169

[2022-01-07 13:05] rswamina opened #2456 "Missing CMOR-ized obs data set (FLUXCOM-GPP) from JASMIN"
A previously available observational data set for GPP (Gross Primary Productivity) is missing from the ``esmeval/obsdata-v2/Tier3/`` directory on JASMIN. I am not sure if this has to do with the recent release or if there is some other issue with the data files. Please let me know if it will be made available in CMOR-ized form or if I need to do something for that to happen. I wrote the CMOR-izati

[2022-01-07 13:07] valeriupredoi opened #2457 "Recipe `recipe_arctic_ocean.yml` broken: `cdo` displaying odd behaviour"
[code]

returns

[code]

This is a minimal reproduction of issues stemmed from running diags that use `esmvaltool/diag_scripts/arctic_ocean/utils.py`

I will poke around the cdo source, most probably a broken distribution, but by all means if you know what's the problem right away, post here please! :beer:

[2022-01-07 13:29] valeriupredoi commented on #2450
reopening this since now conda installation of Julia results in a segfault, see [GA test](https://github.com/ESMValGroup/ESMValTool/runs/4739104408?check_suite_focus=true)

[2022-01-07 13:53] valeriupredoi commented on #2457
I have just created a ticket on the CDO bug tracker https://code.mpimet.mpg.de/issues/10549

[2022-01-07 14:40] koldunovn commented on #2457
Thanks, @valeriupredoi , looks like a cdo issue to me. Maybe one can pin older version of cdo, I don't think a lot of very new functionality is used in ESMValTool :)

[2022-01-07 16:39] valeriupredoi commented on #2457
cheers @koldunovn - I wouldn't go the lower pin route just yet, let's see what the CDO folk have to say, it smells to me like a broken conda package recipe, an easy fix if that's the case (they probably introduced it in 2.0 and kept going with it since all works fine with 1.9.10)

[2022-01-07 17:16] valeriupredoi commented on #2456
Hi @rswamina cheers! @remi-kazeroni is the judge and jailer here since he's got the OBS data steering wheel at DKRZ and we receive it via sync at JASMIN, but I'm fairly sure we never had any FLUXCOM data in esmeval, so I *think* you should produce it (CMORize it) yourself, but I'd wait for Remi's reply though, my knowledge of OBS data is pretty basic :beer:

[2022-01-07 19:39] ngam commented on #2450
Did you try pinning curl to 7.80 and lower? This should fix it for now for you, I think

[2022-01-10 11:48] valeriupredoi commented on #2450
@ngam cheers! I'll do it now, when do you guys think this will be sorted out? We can pin it if the fix needs a bit longer :+1:

[2022-01-10 11:54] valeriupredoi commented on #2450
ah nevermind, I should have checked the CI and your discussion in the linked issue first, all works fine now with `curl=7.81` and julia `_3` build, many thanks! See the updated [environment](https://circle-production-customer-artifacts.s3.amazonaws.com/picard/589ba551c9e77c0001faef5d/61db77ccb87e5c3095b82467-0-build/artifacts/logs/conda.txt?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20220110T1152

[2022-01-10 11:55] #2450 closed

[2022-01-10 15:43] rswamina commented on #2456
@valeriupredoi - Thanks for your response. We did have that data and we use it as an example in the tutorial as well, hence the question. I will wait to hear from @remi-kazeroni and continue to create a copy as well.

[2022-01-10 18:08] zklaus commented on #2457
According to [this thread](https://code.mpimet.mpg.de/boards/2/topics/12290) on the CDO discussion board, the problem should be resolved. Could you give it another try? (With updated cdo and python-cdo packages)

[2022-01-11 08:22] stacristo opened #2458 "[Suggestion] Lists of Suggestion for ESMValTool Documentation"
1. **Substitute "Contact" in Introdudction and substitute with "Support" **
I believe that it will be better if the "Contact" section in the introduction chapter is substitute with a "Support" section which consists of ways how a user can find support for ESMValTool. The "User Mailing List" and "Discussions" can also be combined in this section also.
(![Screenshot from 2022-01-11 09-21-54](https:/

[2022-01-11 08:24] stacristo opened #2459 "[Suggestion] Update Core Development Team in "Introduction""
An update of the organizational structure of ESMValTool is necessary so that users know who is involved in the development of ESMValTool.

It is also possible that this section is erased and just update the organizations listed in the website.
![Screenshot from 2022-01-11 09-24-41](https://user-images.githubusercontent.com/95353789/148906753-b4d04633-d279-436a-9128-a47bb45dd81b.png)

[2022-01-11 08:26] stacristo opened #2460 "[Suggestion] Move Capabilites of ESMValTool in a different chapter"
Since "What ESMValTool can do for you" I believe is a very important section for the user to see, it can be more reachable by the user if it is in a different chapter, rather than inside the "Introduction".
![Screenshot from 2022-01-11 09-26-39](https://user-images.githubusercontent.com/95353789/148907039-61264988-c695-4273-ba9c-71cf6a5b64c8.png)

[2022-01-11 08:29] stacristo opened #2461 "[Suggestion]Switch position of how to obtain the source code and the prerequisites to install ESMValTool"
Switching the position of "Obtaining the source code" and the "Prerequisites" section of the documentation will help the user to experience a more streamline process of installing ESMValTool
![Screenshot from 2022-01-11 09-29-44](https://user-images.githubusercontent.com/95353789/148907490-361105d4-cfb6-459b-8047-a4ff2963f7f8.png)

[2022-01-11 08:32] stacristo opened #2462 "[Suggestion] Move "Using the development version of the ESMValCore package" to ESMValCore"
Since there is a section on how to use the development version of the ESMValCore package inside the documentation of ESMValTool, this can be confusing for a user. So, I believe that this can be moved to the ESMValCore section of the documentation to be more clear.
![Screenshot from 2022-01-11 09-31-51](https://user-images.githubusercontent.com/95353789/148907765-8ef07dc7-c530-4b75-babb-0c6259c3e82

[2022-01-11 08:34] stacristo opened #2463 "[Suggestion] Subsitute number labels with plot description"
Currently, the pictures inside "Gallery" are currently labeled with numbers that are linked to the title of the study below of the page, which links to the study. Replacing the number labels with the title will reduce the size of the page and create direct link to the study.
![Uploading Screenshot from 2022-01-11 09-34-23.png…]()

[2022-01-11 08:36] stacristo opened #2464 "[Suggestion] Combine sections in "Making a recipe or diagnostic" in one page"
Instead of having four separate pages on how to make a recipe or diagnostic, each sections can be combined into one page since each page are not very long.
![Screenshot from 2022-01-11 09-36-04](https://user-images.githubusercontent.com/95353789/148908345-4a091e8b-d2bf-4c22-8229-94b2e802fb4d.png)

[2022-01-11 08:38] stacristo opened #2465 "[Suggestion]Remove conda installation in "Installation" of ESMValCore"
Since Conda is not recommended for users to use when installing ESMValCore, this section can be removed and replaced with an explanation that ESMValCore is included when installing ESMValCore.
![Screenshot from 2022-01-11 09-38-11](https://user-images.githubusercontent.com/95353789/148908705-93f3a83b-49a6-4000-b9b3-2555ed21a878.png)

[2022-01-11 08:39] stacristo opened #2466 "[Suggestion] Add Introduction of ESMValCore"
For consistency purposes, an introduction of ESMValCore can be added which describes its capability and the differences to ESMValTool

[2022-01-11 13:33] valeriupredoi commented on #2457
OK so re-creating the `esmvaltool` environment and re-installing the tool, gives us an updated cdo:
[code]

Note that this is a slightly different dependency to what we used to have: it is now installed from PyPi (as a result of having `cdo` in `setup.py`) as opposed to having it installed from conda-forge together with `python-cdo`. Indeed if one just wants to install cdo from conda with eg this

[2022-01-11 14:32] Try2Code commented on #2457
no, it's fine. I didn't want to make something mandatory which simply isn't

[2022-01-11 14:46] babdollahi opened #2467 "Add support for the ERA5 ensemble"
Hi,
I want to run the GlobWat recipe with the ERA5 ensemble. However, I could not find it in the supported datasets list.
I was wondering if you could guide me in using this dataset or adding support for this dataset.
Thanks

[2022-01-11 14:47] valeriupredoi commented on #2457
awesome, cheers! Can I close the issue I opened on the CDO bug tracker as well or you guys do that? Cheers for taking care of fixing the issue and updating the package :beer:

[2022-01-11 14:52] Try2Code commented on #2457
sure - u can close it
I am happy that ppl find the module useful :-)

[2022-01-11 14:56] valeriupredoi commented on #2457
cheers, Brian! I'll close it :beer:

Actually, it's prob OK if I closed this one too, the env configuration needs no changes as I see it, then. Feel free to reopen @zklaus if you think we should change anything in the way we build the env :+1:

[2022-01-11 15:02] valeriupredoi commented on #2456
ah my bad, my memory is shorter these days for age-related reasons :grin:

[2022-01-11 15:08] valeriupredoi commented on #2458
@stacristo many thanks for opening (a fairly large number of) issues with us! Correct me if I'm wrong but I think all the issues are related to the documentation, would it be possible to concatenate all the issues into a single one called e.g. Proposed improvements in documentation, and containing all your points in e.g. bullets? - makes things a bit more centralized and addressable. Then we can a

[2022-01-11 15:15] valeriupredoi commented on #2462
no, this is here with a solid reason: the Core package is (most of the times, when the user doesn't need to make development changes in this package) installed as a dependency of ESMValTool; but when the user needs to perform development changes to the Core package (e.g. introduce a new preprocessor and test it), the Core package needs to be installed in development  mode, and this tells the user

[2022-01-11 15:47] zklaus commented on #2457
I am confused. Why isn't cdo coming from conda-forge? It should. Having it come via the binary wheel is dangerous because it fractures our library space.

So, @valeriupredoi, why isn't it coming from conda-forge? Let's remember that our goal is to have nothing installed via pip.

[2022-01-11 16:17] valeriupredoi commented on #2457
@zklaus good point about conda-forge! So as it stands now, the chain of events is as follows:

- when creating the conda env, with `mamba env create -n esmvalttool -f environment.yml`, mamba installs `cdo` from conda-forge, but tis not Python-functional since it doesn't have `python-cdo`:
[code]
- then, after installing ESMValTool with `pip install -e .[develop]`, `pip` installs the Python cdo whe

[2022-01-11 16:23] valeriupredoi commented on #2457
in fact I've just tested that, and adding `python-cdo` as dependency in our environment file ensures conda-forge cdo, and functional too:
[code]
Gonna open a PR now :+1:

[2022-01-11 16:28] ledm opened #2468 "Documentation Link no longer works"
Hi,

I've found that the documentation link in `source/develop/recipe.rst` no longer points to the correct page.

Ie:
https://github.com/ESMValGroup/ESMValTool/blob/main/doc/sphinx/source/develop/recipe.rst

points to:
https://esmvalgroup.github.io/ESMValTool_Tutorial/05-preprocessor/index.html

which no longer exists.

It should instead point to:

https://esmvalgroup.github.io/ESMValTool_Tutorial

[2022-01-11 16:38] ledm opened #2470 "Move references configuration file into recipes?"
Maybe this should be a discussion rather than an issue, but I find that the `reference` section of the recipe documentation to be a quite user-unfriendly. If you want to include a reference in your recipe, it needs to be added to the References configuration file: a weird hidden yaml file that no one else looks at. (Maybe this is already fixed?)

Wouldn't it make more sense if users could just add

[2022-01-11 18:19] zklaus commented on #2468
@ESMValGroup/userengagementteam

[2022-01-11 18:27] zklaus commented on #2467
It is a bit hidden, but if you read the section [cmorization as a fix](https://docs.esmvaltool.org/en/latest/input.html#cmorization-as-a-fix) in the documentation, you will find some information about ERA5 and a few more pointers.

[2022-01-12 08:55] schlunma opened #2471 "Add link to our documentation to "About" section of the GitHub page"
Many other projects (e.g., [numpy](https://github.com/numpy/numpy), [iris](https://github.com/SciTools/iris), [xarray](https://github.com/pydata/xarray), etc.) show the link to their documentation in the "About" section of their GitHub page, for example like this:

![grafik](https://user-images.githubusercontent.com/32543114/149095026-65d70ff0-9aee-4935-8b86-b2ec6f66c32a.png)

I think it would be

[2022-01-12 10:49] mo-fpearce opened #2472 "New diagnostics of implied heat transports from TOA fluxes"
**Short description of the diagnostic**
A new diagnostic that uses the top-of-the atmosphere fluxes and a Poisson solver to produce global maps of the full column implied heat transport. These maps add to the traditional diagnostic of meridional heat transport to produce a more in-depth view of the divergent heat within the Earth-atmosphere system.

**Branch and pull request**
implied_heat_transpo

[2022-01-12 13:03] #2445 closed

[2022-01-12 13:06] valeriupredoi commented on #2452
we merged https://github.com/ESMValGroup/ESMValTool/pull/2451 just now, but I would still be happy if @remi-kazeroni took a quick look at this issue and confirmed the new WOA cmorizer outputs the right way up, then we can close this :+1:

[2022-01-12 13:54] tomaslovato commented on #2452
First of all .. happy new year to all "ESMValTool"ers!

The data filenames are the original ones as distributed by WOA community, where for example `s00` is the annual mean data for salinity and `01` refer to the gridded product at 1 degree of horizontal resolution.
The subfolder for each variable relates to the fact that WOA dataset contains also other time averaged products that could be used to

[2022-01-12 14:02] valeriupredoi commented on #2452
Happy New Year to you too @tomaslovato and many thanks for the explanation! All's set then, we changed the test in #2451 - this issue was left open due to my head-scratching and propensity to double-check stuff, cheers much :beer:

[2022-01-13 08:42] #1833 closed

[2022-01-13 15:58] bouweandela commented on #2471
I just added www.esmvaltool.org, is that OK for you?

[2022-01-13 16:09] schlunma commented on #2471
Thanks, great!!

[2022-01-13 16:09] #2471 closed

[2022-01-14 13:26] valeriupredoi opened #2475 "[cmorizers] Ensure no unnecessary OBS data is downloaded automatically"
@ehogan and myself have noticed that (due to an unmodified test) the WOA cmorizer was happily downloading data when the actual data was created during the test session, albeit that was outputted in an obsolete format due to the fact that the test was left unchanged after the cmorizer was updated to the later version, this is documented in https://github.com/ESMValGroup/ESMValTool/issues/2452

This

[2022-01-14 13:46] valeriupredoi opened #2476 "[CRITICAL] Installation (from source) fails with latest `python=3.10.2`"
`pip install -e .[develop]` fails due to `rasterio` failing to build:
[code]

[2022-01-14 14:16] schlunma commented on #2476
Using our current installation instructions (`mamba create --name esmvaltool 'python=3.9'`, etc.) that shouldn't be an issue, right? I just created a brand new environment with the current `main` branches and everything worked fine.

[2022-01-14 14:25] zklaus commented on #2476
Right on, @schlunma, `rasterio` should have come from conda-forge. @valeriupredoi, can you figure out why it didn't?

[2022-01-14 14:27] sloosvel opened #2478 "Mediterranean hotspot diagnostic"
**Short description of the diagnostic**
@pepcos, our BSC VIP user, has been developing a nice diagnostic and with the upcoming publication of his paper he would like to contribute it to the repository.  Pep, do you want to add a short description in here?

@ESMValGroup/esmvaltool-coreteam how are new members added in the development team, so that @pepcos can create and push to his own branch?

**B

[2022-01-14 14:27] valeriupredoi commented on #2476
yes because you (and users) request python=3.9 - this affects the tests (or will, from tonight)

[2022-01-14 14:27] valeriupredoi commented on #2476
looking at it now

[2022-01-14 14:49] valeriupredoi commented on #2476
see https://github.com/ESMValGroup/ESMValTool/pull/2479 - I can now close #2477 since that was a preventive PR just in case we'd not fix the issue locally :+1:

[2022-01-14 15:00] #2476 closed

[2022-01-14 15:02] zklaus commented on #2476
So as @valeriupredoi explained, the problem was that on Pypi the binary wheels are not available right now for the latest Python version. With them missing, `pip` tries to install from source, but for that the whole build toolchain (compilers, and all) is not available.

Good early catch, @valeriupredoi! And an example why it's better to install everything from conda-forge if we manage.

[2022-01-14 15:06] valeriupredoi commented on #2476
absolutely! A bit of a strange case is that now, even with rasterio installed from conda-forge, if one does a `conda list rasterio`  the output shows that it's still from pypi:
[code]
the reassuring bits are: it actually works, and the output:
[code]

[2022-01-14 15:09] zklaus commented on #2476
That's a bit strange indeed. Is this a clean environment or did you try the pip install in this environment? Perhaps some left-overs?

[2022-01-14 15:13] valeriupredoi commented on #2476
also all clear and conda-forgey in the [GA test](https://github.com/ESMValGroup/ESMValTool/runs/4818413267?check_suite_focus=true)

[2022-01-14 15:35] pepcos commented on #2478
**Brief description of the diagnostic:**
The recipe and diagnostic scripts aim to reproduce the Mediterranean Hotspot figures from the upcoming Cos et al. 2022 publication (Figures 2, 3, S1, S2 and S4). The hotspot consists of comparing the Mediterranean region climate change against global climate change, which is done by comparing the future surface temperature and precipitation trends. Addition

[2022-01-17 07:55] stacristo commented on #2462
I see, then I'll leave it as is then

[2022-01-17 07:57] stacristo commented on #2458
It is definitely possible to combine the suggestions into one issue, I separated it just so that when there is a discussion the discussions are clear.

I will combine the suggestions into this issue to centralize the discussion.

[2022-01-17 12:21] valeriupredoi commented on #2462
cheers @stacristo - please reopen if need be :+1:

[2022-01-17 12:21] #2462 closed

[2022-01-17 12:24] valeriupredoi commented on #2458
brilliant, many thanks @stacristo :beer: Indeed, if issues are on different topics (or even the same topic, but with large variability in terms of what they propose) they should be separate - but here, as I see it, all the issues are on documentation and they propose fairly similar changes ie moving/replacing sections etc - very useful indeed, but collapsible into one issue IMO :+1:

[2022-01-17 13:13] schlunma opened #2480 "Plot functions should not implicitly collapse over dimensional coordinates"
The two map plot functions [`esmvaltool.diag_scripts.shared.plot.global_contourf`](https://github.com/ESMValGroup/ESMValTool/blob/470343de47dcb853d2bc94036ece0a28e0235126/esmvaltool/diag_scripts/shared/plot/_plot.py#L169) and [`esmvaltool.diag_scripts.shared.plot.global_pcolormesh`](https://github.com/ESMValGroup/ESMValTool/blob/470343de47dcb853d2bc94036ece0a28e0235126/esmvaltool/diag_scripts/shar

[2022-01-17 13:44] schlunma opened #2481 "Obsolete option `synda-download` still appears in documentation"
The obsolete option `synda-download` still appears in the [Running](https://docs.esmvaltool.org/en/latest/quickstart/running.html?highlight=download#running-a-recipe) section of our documentation:

![grafik](https://user-images.githubusercontent.com/32543114/149779702-1ff9f29b-ac0a-4f03-89e3-5f51d2834372.png)

This should be removed.

[2022-01-17 13:54] bouweandela commented on #2478
I believe you send an email to @axel-lauer

[2022-01-17 13:59] axel-lauer commented on #2478
Yes, please simply email me (including your github user name) so I can add you to the github team if you are interested in joining the development team.

[2022-01-18 11:36] schlunma opened #2486 "`recipe_ocean_bgc.yml` fails in `volume_statistics` preprocessor"
**Describe the bug**
While testing ESMValGroup/ESMValCore#1429 I found that `recipe_ocean_bgc.yml` fails (using the current main branches of ESMValTool and ESMValCore):

[code]

**Please attach**
  - https://github.com/ESMValGroup/ESMValTool/blob/main/esmvaltool/recipes/recipe_ocean_bgc.yml
  - [main_log_debug.txt](https://github.com/ESMValGroup/ESMValTool/files/7888684/main_log_debug.txt)

[2022-01-18 12:27] #2423 closed

[2022-01-18 12:27] #2480 closed

[2022-01-18 12:36] valeriupredoi commented on #2486
also of interest and related to this recipe https://github.com/ESMValGroup/ESMValTool/issues/2336

[2022-01-18 12:46] #2481 closed

[2022-01-18 17:35] zklaus opened #2489 "Pytest .pymon-journal problem"
We've been seeing quite frequently an annoying problem with the monitoring tests, where pytest picks up a `.pymon-journal` file while scanning for tests, but is unable to find it later. See for example [here](https://github.com/ESMValGroup/ESMValTool/runs/4855138586?check_suite_focus=true#step:10:27). I think we can mitigate this by adding an [ignore](https://docs.pytest.org/en/6.2.x/example/pytho

[2022-01-19 14:14] valeriupredoi commented on #2489
good catch! I was throwing these in the mental bin as SegFaults

[2022-01-20 16:21] valeriupredoi commented on #2309
@alistairsellar could you maybe open a draft PR with the code you've already written to do Option 1 from the list, then we can work on that together? :beer:

[2022-01-20 19:35] zklaus commented on #2309
Begs the question: How are the remaining four ecv_soil_moisture files derived? We have added/are in the preocess of adding a bunch of ESA CCI obs to the supported observations recently (@axel-lauer is the leader of that effort), so if this is a simple seasonal average or similar, perhaps this information, too, can just be calculated in the recipe?

[2022-01-21 13:53] babdollahi commented on #2467
Hi @zklaus, Thank you for the explanation.
I was hoping you could help me understand how to utilize ERA5-ensemble as additional datasets in the recipe.
I went to the website and only found information about ERA5 and ERA5-Land. So, shall I refer to the ERA5 ensemble as the ERA5-ensemble in the dataset entry? How should the data be stored in subdirectories? Similar to ERA5, in Tier 3?
"era5-total-pr

[2022-01-24 08:45] zklaus commented on #2467
Ah, now I understand better that you are specifically interested in the ensemble version of the data, i.e. the one where there is an additional dimension `ensemble_number` or similar.

Since this is about ERA5 and I think the support is based on [era5cli](https://era5cli.readthedocs.io), I would like to ask some colleagues for input.

@bvreede, @JaroCamphuijsen, do you have experience with the ens

[2022-01-24 09:54] babdollahi commented on #2467
Yes exactly. I am interested in the ensemble version of the data.
I can download it by adding --ensemble to the era5cli command.
My main concern is with its CMORization and uses in the ESMValtool recipes.
Is there any support for ERA5-ensemble's CMORization?
Where should I store it in subdirectories so that I can utilize it as a new dataset in the ESMValtool recipes?
Any assistance would be greatl

[2022-01-24 12:08] #2466 closed

[2022-01-24 12:09] #2465 closed

[2022-01-24 12:10] #2464 closed

[2022-01-24 12:10] #2463 closed

[2022-01-24 12:10] #2461 closed

[2022-01-24 12:11] #2460 closed

[2022-01-24 12:11] #2459 closed

[2022-01-24 16:50] valeriupredoi commented on #2458
- (re)move the installation of ESMValCpre in dev mode - this is important not to remove, or move, see my comment in the original issue https://github.com/ESMValGroup/ESMValTool/issues/2462#issuecomment-1010063078
- Substitute number labels with plot descriptions: in principle a good idea, I'd defer a decision to eg @axel-lauer or @ESMValGroup/userengagementteam  - same for the next Combine section

[2022-01-25 08:12] stacristo commented on #2458
- > Prerequisites before Obtaining the source code - where exactly is that, are you using the latest version of the docs https://docs.esmvaltool.org/en/latest/

This can be found under "Installation" when users want to obtain ESMValTool directly from the source codePrerequisites before
![image](https://user-images.githubusercontent.com/95353789/150936691-a11f0e4c-a5f0-4d19-93c4-3b11103d5363.png)

[2022-01-25 16:19] remi-kazeroni commented on #2456
Sorry for the late reply. The sync script between DKRZ and JASMIN is only ran on OBS/Tier2 data with an exception for ERA-Interim data. I think we never included other Tier3 data due to a lack of disk space on the shared folder on Jasmin. I don't remember seeing a directory like `esmeval/obsdata-v2/Tier3/FLUXCOM` since I took over the task to synchronize pools of obs data so I have no idea why it

[2022-01-26 08:26] remi-kazeroni commented on #2456
The data are now available in `esmeval/obsdata-v2/Tier3/FLUXCOM`. Could you please check that it works for you @rswamina? We could then close this issue.

[2022-01-26 08:52] zklaus commented on #2467
It's good to know that it is already supported in era5cli. I am afraid I don't know enough to help with the support in ESMValTool. @SarahAlidoost, @Peter9192, @bouweandela, can you step in?

[2022-01-26 09:04] zklaus opened #2497 "CI uses `defaults` channel in conda related activities"
Recently, we have seen some problems in [the automated tests](https://github.com/ESMValGroup/ESMValTool/runs/4948714016?check_suite_focus=true). In this specific case, the issue is that `numba` got pulled in from the `defaults` channel where it does not carry the required pinning from conda-forge.

In general, since conda-forge became completely self-contained back in September 2021, the `defaults

[2022-01-26 09:40] remi-kazeroni commented on #2486
Note that this recipe ran successfully when we tested all recipes for the release of v2.4: https://esmvaltool.dkrz.de/shared/esmvaltool/v2.4.0-test3/ When I first opened #2336, the automatic download option was not available. Using that option made it possible to test the recipe successfully for the past release. But looking at the `main_log_debug.txt` file posted by @schlunma, it looks like autom

[2022-01-26 10:43] Peter9192 commented on #2467
I don't think this is currently possible. There are CMOR fixes for the 'default' era5 data and for era5-land (see https://github.com/ESMValGroup/ESMValCore/tree/main/esmvalcore/cmor/_fixes/native6). I guess for era5-ensemble data you'd need a separate fix file.

I've never worked with that dataset though. Not sure what would be needed to make that work.

[2022-01-26 12:27] valeriupredoi commented on #2497
very good catch, Klaus! I have just noticed these fails myself, I reckon the best temporary solution (an interim one before we sort out our install instructions to use fully use miniforge, and the other CIs) is to force the install of `esmvaltool` from conda-forge, I'll test that in a PR, then we can adjust all other CIs and documentation for miniforge in your PR? It's a bit annoying since the Git

[2022-01-26 12:31] zklaus commented on #2497
Might I direct your attention to #2498? The PR is basically ready, no need for another interim one.

Wrt to the mentioning in GA, this is entirely as expected and has nothing to do with the use of mamba. Miniconda and conda always add `defaults` as the last channel.  Since that contains a newer version of `numba` and unfortunately and erroneously `strict` channel priorities had not been activated,

[2022-01-26 12:37] valeriupredoi commented on #2497
yes cheers man, saw that, and it's a very nice PR - but it's a non standard approach that currently will have been used only by the GA test, I want us to apply that strategy to Circle too, and include that in the install instructions in the documentation, before we rooll it out - what do you think?

[2022-01-26 12:42] valeriupredoi commented on #2497
forget about it, my qwikfix didn't work, let's get your PR in for now then open an issue about Circle and the documentation :+1: Gonna go see what's the hap with the failing circle tests in the PR

[2022-01-26 14:02] zklaus commented on #2489
Unfortunately, the fix in #2491 didn't solve the issue. It is difficult to be sure because it is essentially a race condition that pops up only every now and then, but now we saw it again in https://github.com/ESMValGroup/ESMValTool/runs/4949630634?check_suite_focus=true and so must do something else.

[2022-01-26 14:05] valeriupredoi commented on #2489
good call, was just about to reopen too gah - we can of course create a dummy `.pymon-journal` file and keep the `--ignore` opts so that it is ignored? A very peasant-y solution but at least it will work

[2022-01-26 14:07] zklaus commented on #2489
I think in principal the solution with restricting to `tests` is ok. The problem is that `tests` is a package (has a `__init__.py`). Solutions might involve moving `tests` around, or putting `.pymon-journal` somewhere else.

[2022-01-26 14:18] zklaus commented on #2489
Right. After digging a bit deeper, I think the `.pymon-journal` file is a phantom file from the journaling filesystem of the `.pymon` file, i.e. the pytest-monitor database. We can relocate that using the `--db` switch. I suggest we try moving it out of the source tree, i.e. `--db ../.pymon` or similar. Note that we must adjust the call of the parsing script accordingly.

[2022-01-26 14:28] zklaus commented on #2467
Having had a quick look at this, it seems the only difference is that it adds another axis to the cube with a dimensional coordinate that is the number of the ensemble member starting from 0 or 1.

[2022-01-26 15:07] valeriupredoi commented on #2489
good detective work! I'll take it from here see what to Daimler Benz :car:  :grin:

[2022-01-26 15:18] #2497 closed

[2022-01-26 17:39] #2489 closed

[2022-01-27 12:29] schlunma commented on #2458
Thanks @stacristo for your work on this!

I have one additional suggestions which I will add to your point 7 if people agree: [Here](https://docs.esmvaltool.org/en/latest/quickstart/installation.html#esmvaltool-installation) we say `conda activate ...`. I wonder if it makes more sense to consistently use `mamba` throughout our entire documentation, so e.g. use `mamba activate ...` here.

[2022-01-27 14:41] zklaus commented on #2458
Careful! According to [the mamba docu](https://mamba.readthedocs.io/en/latest/user_guide/mamba.html#mamba-vs-conda-clis), `activate` and `deactivate` are the only two commands that still must be done using `conda`, even when `mamba` is installed.

[2022-01-27 14:47] valeriupredoi commented on #2458
indeed, see me comment above:

[2022-01-27 14:56] schlunma commented on #2458
Ahh, didn't know that! That warning wasn't there when I last checked the mamba documentation (a long time ago), and I'm still using `mamba activate ...` without any problems.

[2022-01-27 15:17] remi-kazeroni commented on #2475
I went through the related issues and I think I understand the problem. When the WOA cmorizer was refactored, a feature was added to automatically download raw data if missing in RAWOBS when the cmorizer is called. The test was modified to account for the newer version of the variable but unfortunately not for this automatic download. So the test used to trigger a data downloading because the data

[2022-01-27 16:34] zklaus commented on #2458
Interesting. I saw the warning and never even tried `mamba activate`. Perhaps the documentation is out-of-date.

[2022-01-28 11:47] schlunma opened #2504 "Configuration file examples differ between ESMValTool and ESMValCore"
The configuration file examples in [ESMValTool](https://github.com/ESMValGroup/ESMValTool/blob/main/config-user-example.yml) and [ESMValCore](https://github.com/ESMValGroup/ESMValCore/blob/main/esmvalcore/config-user.yml) differ a lot.

@ESMValGroup/esmvaltool-coreteam Is this intentional? Would it make sense to unify them or to only provide one example file? The one in the core includes all the i

[2022-01-28 13:11] ledm opened #2505 "Problem with fx_variables not finding areacello."
I'm stuck in a loop of fx files failures. I have recently merged the main branch of ESMValCore, but I swear that this exact thing used to work for me. Maybe I'm missing something obvious here, please let there be an easy solution. Was I perhaps using a non-main branch that fixed this problem before?

The following script fails me on jasmin. There are a few lines commented out here that I have also

[2022-01-28 13:14] zklaus commented on #2505
Please attach the full debug log to give us a fighting chance.

[2022-01-28 13:28] valeriupredoi commented on #2505
it'd be nice if you removed the commented out lines from the recipe too, just for clarity. I assume you are running on JASMIN right? Is the data there (in `/badc/...`) or it needs to be downloaded?

[2022-01-28 13:48] ledm commented on #2505
I purposely put the commented out line in because it shows the different datasets and preprocessor options I have also tried.

[2022-01-28 13:49] ledm commented on #2505
What happens when you run this recipe? Do you get the same errors?

[2022-01-28 13:49] rswamina commented on #2456
@remi-kazeroni - Thanks for this. I was able to both access the data and run a recipe to use it succesfully. Just a note that we were allowed to share this data set on JASMIN for EsmValTool users by the group that produced the data set. Since I don;t need anything more at this time, will close the issue. To be reopened again if needed. Thanks!

[2022-01-28 13:49] #2456 closed

[2022-01-28 13:51] zklaus commented on #2505
Please attach the log (the file `main_log_debug.txt`) as per instructions in the issue template.

[2022-01-28 13:52] ledm commented on #2505
I'm struggling to copy it from jasmin right now. (ssh key issues with new pc).

[2022-01-28 13:55] zklaus commented on #2505
No worries. We'll wait.

[2022-01-28 13:57] ledm commented on #2505
[main_log.txt](https://github.com/ESMValGroup/ESMValTool/files/7959151/main_log.txt)
[main_log_debug.txt](https://github.com/ESMValGroup/ESMValTool/files/7959143/main_log_debug.txt)
[resource_usage.txt](https://github.com/ESMValGroup/ESMValTool/files/7959144/resource_usage.txt)
[test_fx.yml.txt](https://github.com/ESMValGroup/ESMValTool/files/7959150/test_fx.yml.txt)

[2022-01-28 14:03] valeriupredoi commented on #2456
cheers @rswamina and @remi-kazeroni :beer:

[2022-01-28 14:04] ledm commented on #2505
So it's not looking in the right place for `areacello`:
[code]

Note that the yml file here ran with the preprocessor:
[code]

but I have about 20 other log files that include the same message.

[2022-01-28 14:07] zklaus commented on #2505
I don't have an answer for you yet, but to answer your two points from above:

The `activity_id` is inferred from the experiment. Thus, there is no need to specify it. If you want to (perhaps worth a try particularly with that `'*'` for experiment), you can specify it as another facet `activity_id: ScenarioMIP`

Well, you already found it...

[2022-01-28 14:44] valeriupredoi commented on #2505
OK so as we know, UKESM1 fx data is only in `piControl`: `/badc/cmip6/data/CMIP6/CMIP/MOHC/UKESM1-0-LL/piControl/r1i1p1f2/Ofx/areacello/gn/latest/` so you can constrain your fx variable definition to that - without knowing this info in advance and doing the `*` wildcard dance, the `base_die` and `dirname_template` in `_data_finer.py` look like `/badc/cmip6/data/CMIP6` and `CMIP/MOHC/UKESM1-0-LL/*/

[2022-01-28 14:46] valeriupredoi commented on #2505
here's the cleaned up recipe for testing:
[code]

[2022-01-28 14:46] schlunma commented on #2505
In the latest version in no case yet, this is still only available in a PR (ESMValGroup/ESMValCore#1082).

[2022-01-28 14:50] valeriupredoi commented on #2505
ah @ledm - here's your answer then, cheers @schlunma - why was I under the impression that had already been merged?

[2022-01-28 14:51] #2505 closed

[2022-01-28 14:52] ledm commented on #2505
Yeah, me too!

[2022-01-28 14:53] valeriupredoi commented on #2505
so @ledm if you provide valid values for exp and ensemble, bearing in mind the fx data for UKESM1 is only in piControl you should be fine :+1:

[2022-01-28 14:59] ledm commented on #2505
That's the whole problem though! I've got 1000 lines of additional_datasets, and they all seem to put their FX files is stupid places. That's why we need wildcards instead of valid values for exp & ensemble.

[2022-01-28 15:06] valeriupredoi commented on #2505
heads up https://github.com/ESMValGroup/ESMValCore/pull/1082 runs beautifully with lee's example here :beer:

[2022-01-28 15:13] remi-kazeroni commented on #2323
Closing this since #2055 is merged. The ESACCI-OC cmorizer has been updated (`fv5.0`) and the problem mentioned here is not relevant anymore.

[2022-01-28 15:13] #2323 closed

[2022-01-28 15:14] valeriupredoi commented on #2505
Yis, we need to fx that mess, see what I did there :laughing:

[2022-01-28 15:24] remi-kazeroni commented on #2322
I'm closing this since the environment problem with `rasterio` was addressed in #2479. Incidentally, it solved this issue. The Eppley-VGPM-MODIS cmorizer works fine when using a fresh new environment.

[2022-01-28 15:24] #2322 closed

[2022-01-31 09:34] remi-kazeroni commented on #2458
Thanks a lot for all your suggestions and work @stacristo! I have a few additional questions/comments related to the points you raised:

 Good idea to update this section and mirror the list available in the website. that section says "DLR [...] contact for requests to use...". But there are no clear contact emails (or github ids) given. I guess it could make to add a link to the website where con

[2022-01-31 09:49] schlunma commented on #2458
Yes, agreed!

[2022-02-01 16:16] #2504 closed

[2022-02-02 12:49] LisaBock opened #2508 "Extending HadCRUT5 cmorizer"
The HadCRUT5 cmorizer has to be extended to create a `tasa` (near-surface air temperature anomaly) dataset alongside the `tas` (absolute near-surface air temperature) dataset.

By the way the version could be updated to `5.0.1.0`.

[2022-02-02 13:18] remi-kazeroni commented on #2508
Could you tell us how urgently this cmorizer update is needed? Perhaps you could assign a milestone to this issue depending on the ESMValTool version in which that should go. If #1657 is finished and merged soon, I can help you to apply the cmorizer update directly to the new framework. On the contrary, if #2509 is ready and approved first, then I'll see how to fit that into #1657.

[2022-02-02 13:26] LisaBock commented on #2508
Actually the cmorizer update is already finalized. I just have to fix the failed checks. I am just trying to understand what's going wrong...

[2022-02-02 13:26] LisaBock commented on #2508
Actually the cmorizer update is already finalized. I just have to fix the failed checks. I am just trying to understand what's going wrong...

[2022-02-02 13:38] bouweandela commented on #2458
@stacristo @valeriupredoi This issue would have been perfect for a [GitHub Discussion](https://github.com/esmvalgroup/esmvaltool/discussions), because there each "comment" there starts a new thread of replies, so the GitHub Discussion format allows for discussing many similar topics in an organized manner.

[2022-02-02 13:58] valeriupredoi commented on #2458
@bouweandela good point! But I feel that the Discussion bit is still not attracting as many contributors as the Issues, but I might be talking merely from my own perspective :grin:

[2022-02-02 15:00] remi-kazeroni commented on #2508
Please let us also know if we should support several versions if this dataset or only the latest one (i.e. `5.0.1.0`). In this case, the `HadCRUT5` dataset is not used in recipes so support for several versions is less critical.

[2022-02-02 16:32] valeriupredoi opened #2510 "Some oddities we should probably not have/support - at least not as utilities"
Just stumbled upon this dir https://github.com/ESMValGroup/ESMValTool/tree/main/esmvaltool/utils/editor-enhancements since I just saw our code composition contains 2% Lisp (yes, Lisp :rofl: - an order of magnitude more than Julia, for which we've been bashing our heads for months now) - two things about this: it contains a `csh` script (which, IMHO we shouldn't even include BASH scripts, let alone

[2022-02-02 19:06] zklaus commented on #2510
Ok, first of all: ![LISP](https://imgs.xkcd.com/comics/lisp_cycles.png).
Second, as far as I can see this is all stuff to help emacs edit NCL or yaml files. I tend to agree that we don't need that anymore. The yaml mode is easily available for emacs users like myself; I don't need the NCL bit.
Shall we just remove it and see what happens? I am fairly sure it is not actually used in any diagnostic.

[2022-02-03 07:22] LisaBock commented on #2508
I would suggest to support only the latest version. This is the one you could download form the webpage.

[2022-02-03 07:43] LisaBock commented on #2508
@remi-kazeroni The pull request is finalized. All tests were successfull. If I shall adjust the code to new structures please inform me.

[2022-02-03 08:49] remi-kazeroni commented on #1912
Closing this since the bot output now shows the installation logs and the environment file via `mamba env export`.

[2022-02-03 08:49] #1912 closed

[2022-02-03 10:25] valeriupredoi commented on #2510
hahahah! xkcd never fails to be on point :grin: OK sounds good, let me open a PR with the binning of those utils, but we'll have to test the recipe(s) that *might* use those...

[2022-02-03 11:48] LisaBock opened #2512 "Add cmorizer for Kadow dataset"
Adding a cmorizer for the Kadow dataset which contains the global mean temperature anomaly time series reconstructed with machine learning methods.

See [here](https://www.nature.com/articles/s41561-020-0582-5) the related publication.

[2022-02-03 12:29] LisaBock opened #2514 "Add cmorizer for NOAAGlobalTemp"
Adding cmorizer for NOAAGlobalTemp dataset (global mean surface temperature anomalies).

The NOAA Merged Land Ocean Global Surface Temperature Analysis (NOAAGlobalTemp) combines long-term sea surface (water) temperature (SST) and land surface (air) temperature datasets. See details [here](https://www.ncei.noaa.gov/products/land-based-station/noaa-global-temp).

[2022-02-04 11:24] annapedersen opened #2518 "SpecNotFOund: Invalid name, try the format: user/package"
Hello,

I'm very new to ESMvaltool, using my terminal and python. I'm trying to install ESMvaltool on my Macbook (M1) using the tutorial (https://esmvalgroup.github.io/ESMValTool_Tutorial/02-installation/index.html). However, I seem to get stuck after installing the ESMValTool package like this:

mamba create --name ESMValTool 'python=3.10'

This seem to work fine, but as I proceed to the next ste

[2022-02-04 13:24] #2518 closed

[2022-02-07 12:31] #2112 closed

[2022-02-07 13:59] stacristo opened #2520 "[Website Improvement] Add GDPR compliant tracking tool to track documentation and tutorial metrics"
I recognized that we currently do not have any data regarding how users use the documentation and tutorial. I would like to propose using GPDR compliant tools to get the data regarding the statistics of the documentation and tutorial, which will be insightful for us, especially in how users use the ESMValTool documentation and tutorial.

I have compiled a list of the tools which can be seen below:

[2022-02-07 14:33] valeriupredoi opened #2521 "Using `std_dev` as multimodel statistic is no longer accepted after ESMValCore PR 673 got merged"
After https://github.com/ESMValGroup/ESMValCore/pull/673 got merged `std_dev` statistic is not supported by the current `main` ESMValCore development branch, see https://github.com/ESMValGroup/ESMValTool/runs/5094158254?check_suite_focus=true - anyone know what's the hap?

[2022-02-07 15:05] valeriupredoi commented on #2521
no, I didn't - that's the first instance of the GA test fail after it had passed fine last night - it is possible that a Core PR that got merged around the same time or bit earlier triggered the fail - that's why I listed that PR

[2022-02-07 15:18] valeriupredoi commented on #2521
OK so the test is complaining that https://github.com/ESMValGroup/ESMValTool/blob/main/esmvaltool/recipes/recipe_esacci_lst.yml is asking for `std_dev` instead of `std` - a change that came from https://github.com/ESMValGroup/ESMValCore/pull/673

[2022-02-07 15:32] sloosvel commented on #2521
If it was working until https://github.com/ESMValGroup/ESMValCore/pull/673, then it's probably a mistake in that branch. The was very old and the merge with main was not easy, especially because the multimodel module that the branch was using was really outdated. I would not change the recipe itself, but rather looks at the _recipe_checks in ESMValCore.

[2022-02-07 15:41] zklaus commented on #2520
Interesting idea! We should look at that both from the @ESMValGroup/userengagementteam and @ESMValGroup/technical-lead-development-team perspective.

[2022-02-07 16:42] valeriupredoi commented on #2521
fixed by https://github.com/ESMValGroup/ESMValCore/pull/1478

[2022-02-07 16:42] #2521 closed

[2022-02-09 14:21] schlunma commented on #2212
@tomaslovato Release v2.5 is approaching quickly (the feature freeze will be on 2022-02-21). Since this issue is marked for v2.5, could you briefly comment if you further intend to include this in the new release and/or if you are facing any problems with it? Thanks!!

[2022-02-09 14:21] schlunma commented on #2341
@remi-kazeroni Release v2.5 is approaching quickly (the feature freeze will be on 2022-02-21). Since this issue is marked for v2.5, could you briefly comment if you further intend to include this in the new release and/or if you are facing any problems with it? Thanks!!

[2022-02-09 14:21] schlunma commented on #2408
@remi-kazeroni Release v2.5 is approaching quickly (the feature freeze will be on 2022-02-21). Since this issue is marked for v2.5, could you briefly comment if you further intend to include this in the new release and/or if you are facing any problems with it? Thanks!!

[2022-02-09 14:22] schlunma commented on #2413
@valeriupredoi Release v2.5 is approaching quickly (the feature freeze will be on 2022-02-21). Since this issue is marked for v2.5, could you briefly comment if you further intend to include this in the new release and/or if you are facing any problems with it? Thanks!!

[2022-02-09 14:22] schlunma commented on #2415
@valeriupredoi Release v2.5 is approaching quickly (the feature freeze will be on 2022-02-21). Since this issue is marked for v2.5, could you briefly comment if you further intend to include this in the new release and/or if you are facing any problems with it? Thanks!!

[2022-02-09 15:14] remi-kazeroni commented on #2341
Let's keep the milestone a bit. I'm not sure I'll have the time to take care of this documentation for the release. If not that will be in v2.6.

[2022-02-10 12:26] SarahAlidoost opened #2524 "Add some authors to CITATION.cff files"
I would like to add the lists below to the CITATION.cff files in both esmvaltool and esmvalcore:

[**esmvaltool citation.cff**](https://github.com/ESMValGroup/ESMValTool/blob/main/CITATION.cff):

[code]

[**esmvalcore citation.cff**](https://github.com/ESMValGroup/ESMValCore/blob/main/CITATION.cff):

[code]

More information about [List of authors](https://docs.esmvaltool.org/en/latest/community/c

[2022-02-10 13:03] tomaslovato commented on #2212
Hi @schlunma,
I've not much to add with respect to the above discussion.
As I initially reported the `ESACCI-SST` were cmorized as `ts` variable to be used within `recipe_perfmetrics_CMIP5.yml`, although these data should naturally refer to `tos` ocean variable.
I don't want to mess up here with existing recipes, so I would just reiterate my dummy idea of adding a set of commented lines in `ESACCI

[2022-02-10 13:53] zklaus commented on #2212
@tomaslovato, I basically agree with your approach, but since this is about cmorizers and we are doing a major overhaul of that part in  2.5.0, I suggest we bump this issue to 2.6.0 and tackle it before June.

Is that ok?

[2022-02-10 14:56] remi-kazeroni commented on #2524
Thanks @SarahAlidoost! Do you mind if I jump in and add myself for both? I forgot to do that earlier :)

[2022-02-10 15:15] SarahAlidoost commented on #2524
Sure, please add commit to those PRs :)

[2022-02-10 17:03] #2524 closed

[2022-02-14 13:14] valeriupredoi opened #2528 "`julia` gets installed from `apt` in our Docker builds"
I was looking at cleaning up https://github.com/ESMValGroup/ESMValTool/pull/2422 and realized we are doing  an ancient installation of Julia from `apt` - I mean, this is stock install for regular Julia, but we are not using it like this in ESMValTool - shall we modernize these builds with Julia installed only from `conda-forge`? I am getting a head start now, see what I can do :+1:

[2022-02-14 15:28] bouweandela commented on #2520
Good idea. In the IS-ENES3 project I was also asked to provide statistics for the number of visitors to https://esmvaltool.dkrz.de/shared/esmvaltool/v2.4.0/ and I couldn't.

[2022-02-14 16:19] stacristo commented on #2520
@bouweandela I can compile a table of pros and cons for each provider and add it to the post above, but as an introduction the main difference will be the price and interface. Google aanalytics is definitely the most known one. However I do not know how it suits our needs as it might not comply to the GDPR regulations, which the ones listed do comply with GDPR.

[2022-02-14 16:22] #2415 closed

[2022-02-14 17:13] stacristo commented on #2520
Here are the two references I used and each individual site, which is linked also:

- https://www.leadfeeder.com/blog/google-analytics-alternatives/
- https://blog.runcloud.io/google-analytics-alternatives/

[2022-02-14 17:48] #2528 closed

[2022-02-14 17:54] valeriupredoi opened #2532 "Remove `Dockerfile.exp` and associated experimental container"
The experimental container is giving us headache after headache (well me, lately :grin: ) - I fixed the handling of Julia installations in #2530 but the exp container continues to [fail to build](https://hub.docker.com/repository/registry-1.docker.io/esmvalgroup/esmvaltool/builds/5f3785e8-a69f-413b-8768-7766d097ec85) because it somehow picks up `rasterio` from PyPi and tries to build its wheel - w

[2022-02-15 07:52] sloosvel commented on #2532
Some of our users were using that container but we have switched our installation to a module that loads the current released version. So feel free to remove it.

[2022-02-15 12:09] valeriupredoi commented on #2532
muzik to me ears, cheers Saskia :beer:

[2022-02-15 13:03] zklaus commented on #2532
The thing that distinguishes the "exp" container from the others is that it is build on top of the `esmvalcore:latest` container instead of the `miniconda` container. As to why we have it: What does the docu say?

[2022-02-15 13:11] valeriupredoi commented on #2532
yis, the docu says nothing about it - we use the main Dockerfile for installation and the dev one for Circle CI tests, this one's homeless since BSC have disbanded its use

[2022-02-15 13:49] zklaus commented on #2532
I think the idea is to have a container that contains the current development version of ESMValCore. That does seem useful to me, but it should of course work and also be documented.

[2022-02-15 13:55] sloosvel commented on #2532
In my experience, that kind of container breaks a lot.

[2022-02-15 14:23] valeriupredoi commented on #2532
I confirm it does :grin:

[2022-02-15 15:47] remi-kazeroni opened #2535 "Preparing the release of v2.5.0"
@ESMValGroup/esmvaltool-developmentteam

The next release of ESMValTool and ESMValCore are approaching (see [schedule](https://docs.esmvaltool.org/en/latest/community/release_strategy.html#upcoming-releases)). As part of the release process, a candidate release has been made for the Core ([v2.5.0rc2](https://github.com/ESMValGroup/ESMValCore/releases/tag/v2.5.0rc2)) following the feature freeze [a

[2022-02-15 16:12] remi-kazeroni commented on #2535
### Recipe testing against v2.5.0rc2 of the Core

The result of the recipe testing is accessible at: https://esmvaltool.dkrz.de/shared/esmvaltool/v2.5.0-test-rc2/
Among the **119 available recipes, 80 were ran successfully and 39 failed**. A summary of the main failure reasons will be posted soon in this issue.

@ESMValGroup/esmvaltool-recipe-maintainers
**Please check that your recipes ran succes

[2022-02-16 09:42] schlunma commented on #2535
Below we summarize all the issues found by the automatic run. Feel free to expand this table as you see fit.

### Wontfix Issues

These issues will not be fixed in this release. They are generally due to data that has become unavailable or is not yet fully integrated into ESMValTool.

<details>

#### Missing data
| Recipe | Reason of failure | Known problem? | Current Status |
|--------|----------

[2022-02-16 11:13] remi-kazeroni commented on #2535
The overview of issues found by running all recipes automatically is now complete (see post above). Please add already opened issues to the tables, we may have missed some.

It seems that the missing CMIP5 issue has slightly worsened since the last release (see #2408). But we were told that some deleted data will be retrieved from the archive soon.

We also have a few failures with the automatic d

[2022-02-16 13:36] valeriupredoi commented on #2430
fortunately @bouweandela has written a pseudo-module for this functionality to be implemented in https://github.com/ESMValGroup/ESMValCore/issues/1484 so now my work is gonna be orders easier, I will start this today or tomorrow :+1:

[2022-02-16 13:37] zklaus commented on #2430
Surely you can not possibly have time for this right now when we are preparing 2.5.0?

[2022-02-16 13:41] valeriupredoi commented on #2430
shhh - don't wake up @ledm - he's a beast that you don't want howling around, keep him happy for now :rofl:

[2022-02-16 14:09] valeriupredoi commented on #2535
stellar work, guys! What's the actual problem with the two Julia recipes? For `recipe_autoassess_landsurface_soilmoisture` we have https://github.com/ESMValGroup/ESMValTool/issues/2309 - but should work on JASMIN where those files currently live, I'll have a test now :+1:

[2022-02-16 14:15] valeriupredoi commented on #2535
also, I'm gonna run a bunch of those CMIP5 missing recipes since we have CMIP5 on JASMIN (unlike some German HPC that did a terribly ungerman thing and deleted all that data :rofl: )

[2022-02-16 14:53] #2440 closed

[2022-02-16 15:18] valeriupredoi commented on #2535
OK here's me stuffs on JASMIN:

- `recipe_anav13jclim.yml`: missing a LOT of of OBS and two CMIP5 (even if I turn on auto dll): CMIP5_inmcm4: cSoil and CMIP5_inmcm4: cVeg
- `recipe_flato13ipcc.yml` - missing OBS, CMIP3 and areacello fx files for abrupt mip - a total data mess
-  `recipe_autoassess_landsurface_soilmoisture.yml` - ran OK (phew)
- `examples/recipe_julia.yml` - ran OK
- `recipe_rainfa