[2018-04-13 10:59] mattiarighi commented on #302
Can we make sure that 1.e20 is defined somewhere as a global constant instead of hard-coding it at every occurrence?

This is the standard _FillValue used in CMIP5 and CMIP6, so it makes sense to define it centrally.

The cmor module is also checking in advance that missing values are correctly set to this value, right @jvegasbsc ?

[2018-04-13 11:00] mattiarighi commented on #302
@valeriupredoi would you be willing to implement the above workaround in a dedicated branch that we can test?

[2018-04-13 11:41] alasdairhunter opened #306 "MAGIC WP7 Climate Extreme Index"
Recipe to compute the individual components of the combined weighted indices (with recipe_combinde_extreme_indices_wp6.yml) from the climdex.pcic indices. A vignette explaining the use of the R functions is available at: https://earth.bsc.es/gitlab/es/s2dverification/blob/develop-Magic/vignettes/risk_index/risk_index.md

Latest version:

R script:
https://github.com/ESMValGroup/ESMValTool/blob/MAG

[2018-04-17 13:51] #268 closed

[2018-04-17 13:51] #246 closed

[2018-04-17 15:17] valeriupredoi opened #309 "Integrating Autoassess in ESMValTool"
I have created a dedicated branch of ESMValTool that will contain all the autoassess-specific diagnostics and namelists (https://github.com/ESMValGroup/ESMValTool/tree/REFACTORING_autoassess) and placed the first ESMValTool namelist with a diagnostic that runs the stratosphere area from autoassess.

The namelist is at: https://github.com/ESMValGroup/ESMValTool/blob/REFACTORING_autoassess/esmvaltoo

[2018-04-18 11:57] mattiarighi opened #310 "Allow using reference_model and alternative_model as target grid in the namelist"
The horizontal and vertical regridding of the preprocessor allow to specify a given model (e.g., `ERA-Interim`) as a target grid (using the `levels` and `target_grid` options, respectively).

To make this more flexible, it would be good to have the possibility to pass `reference_model` or `alternative_model` instead of the hard-coded model name. This would allow applying the same preprocessor set

[2018-04-18 16:34] JosueBock opened #311 "systemfunc child process error"
Hello all,
an error is occurring randomly, with the following error message:

The error stem from the use of "systemfunc" in the function "write_references", in interface script "messaging.ncl":
`systemfunc("wc -c < " + output_refs)`
The "write_references" function is called at the beginning of many diagnostic scripts.

I tried to understand the origin of this error, and the only explanation I fou

[2018-04-18 16:50] JosueBock commented on #239
Dear Mattia,
I sent you the corrected files (aux_Emmons.ncl and latlon.ncl) by email when I told you about these two bugs, so I believe this issue can be closed now.

I also attach them to this answer (i changed the extension .ncl into .txt, since the former is not accepted by github for the attachments)

Best wishes,

Josué Bock

[aux_Emmons.txt](https://github.com/ESMValGroup/ESMValTool/files/19

[2018-04-19 06:34] mattiarighi commented on #239
Hi Josue, thanks for attaching the file.

We are currently in the process of transferring the ESMValTool diagnostic to the new version 2.0.
The bugfix you have provided will be implemented once the Emmons diagnostic is also ported, then we can close the issue. But for now it should stay open.

[2018-04-19 06:38] mattiarighi commented on #311
Yes, the error is well known.
As you said, it is due to an overload of the system.

In v2.0 we have completely revised and improved the memory management, so it should not occur anymore. Specifically to the `write_references` function, it is also planned to replace it by a more general python module that can be applied to all diagnostics, regardless of language (see #278).

[2018-04-19 06:38] #311 closed

[2018-04-19 09:10] JosueBock commented on #311
Alright, thank you for your answer.

Best wishes

[2018-04-19 13:57] #295 closed

[2018-04-20 11:33] #168 closed

[2018-04-20 11:39] valeriupredoi commented on #168
:grinning: :grinning:

[2018-04-20 15:42] earnone opened #312 "MAGIC WP7 RainFARM stochastic downscaling"
Namelist to call the RainFARM downscaling tool to perform stochastic downscaling of precipitation fields.

Latest version for ESMValTool v2:
https://github.com/ESMValGroup/ESMValTool/tree/REFACTORING_rainfarm

Namelist
https://github.com/ESMValGroup/ESMValTool/blob/REFACTORING_rainfarm/esmvaltool/namelists/namelist_rainfarm.yml

R script:
https://github.com/ESMValGroup/ESMValTool/blob/REFACTORING_

[2018-04-20 16:09] IreMav opened #313 "MAGIC WP5 Ensemble Clustering (EnsClus) cluster analysis tool for ensembles of climate model simulations"
Namelist to call a cluster analysis tool based on the k-means algorithm for ensembles of climate model simulations.

Wiki for the stand-alone version:
https://github.com/IreMav/EnsClus/blob/master/README.md

Latest version for ESMValTool v2:
https://github.com/ESMValGroup/ESMValTool/tree/fix_ensclus

Namelist
https://github.com/ESMValGroup/ESMValTool/blob/fix_ensclus/esmvaltool/namelists/namelist_

[2018-04-23 11:27] mattiarighi commented on #312
1. In v2.0, the parameters for the diagnositc scripts can be directly specified via namelist, although for r this is not yet tested. For auxiliary routines, please note the new [directory structure](https://github.com/ESMValGroup/ESMValTool/issues/106) for the diagnostic script.

2. We never had such a case so far, so we might need to define a strategy on how to distribute reference data other tha

[2018-04-23 14:06] IreMav commented on #313
Thank you for your quick reply.
I have solved the installation issue trying again the` python setup.py install` command and test.
I have solved the regridding issue as you suggested, by adding the following in the namelist: `preprocessors:  preproc:  regrid:  target_grid: 2.5x2.5`.
Now it works and it is synchronized on GitHub in the fix_ensclus branch.

[2018-04-23 15:40] valeriupredoi commented on #309
OK guys, more progress -- I got to the point where the Stratosphere diagnostic is well mature inside ESMValTool -- https://github.com/ESMValGroup/ESMValTool/blob/REFACTORING_autoassess/esmvaltool/namelists/namelist_autoassess_stratosphere.yml -- if you have the data in the namelist you can run it end to end by the usual esmvaltool -c config.yml -n namelist_autoassess_stratosphere.yml

[2018-04-25 10:05] valeriupredoi opened #314 "cube concatenation when different version files are present"
Hey guys, this is a very very obscure case but I think it needs to be addressed nonetheless: when one tries to run with a file, say, blah-blah_2000-2008.nc but in the same data dir there is a file that has exactly the same parameters but slightly different years blah-blah_2000-2005.nc (could be an older version or exactly the same file but with relabelled years, like in my case), concatenation thr

[2018-04-25 10:30] valeriupredoi commented on #314
@bjlittle @mattiarighi
Bill man, good to hear from you, bro!
Guys, my case is very stupid: I have a data directory (drs value in config set to default so all my CMIP5 data sits in a single default: /blah/blah/ directory, so no proper DRS) and in it I have the same file with two different names: CMIP5_BLAH_2000-2002.nc and CMIP5_BLAH_2000-2009.nc -- the files are ABSOLUTELY the same bar the name (t

[2018-04-25 10:38] mattiarighi commented on #314
I think this way of collecting the files should be discouraged. I mean, it's fine for quick tests by developers, but the user should really keep their data organized. So it's good to have this error message from Iris, maybe we could just make it more explicit ("data duplication found", or similar).

[2018-04-25 10:39] valeriupredoi commented on #314
yes and yes :grinning:

[2018-04-25 11:00] bjlittle commented on #290
@jvegasbsc I've stepped through the Iris code from cube subtraction down to the point of `Coord.__eq__`, which leans on `iris.util.arrray_equal` to determine the equality of coordinate values.

This is essentially using NumPy equality, so it's not Iris that is being too strict - we are merely providing the same numeric array equality that NumPy defines.

So it's your data that's the problem, other

[2018-04-25 11:10] bjlittle commented on #302
@mattiarighi and @valeriupredoi I'd recommend that you specifically nail down the fill-value on saving to preserve it. I'll dig a little further, as fill-value was particularly tricky to handle when it came to lazy masked dask arrays, but if you can nominate a standard fill-value that is representative of what you want in the actual data - then force the fill-value preservation to disk through the

[2018-04-25 11:24] mattiarighi commented on #290
Indeed this is an error in the coordinate of this particular model, which uses very slightly different latitude arrays for different variables (`rlut` and `rlucs` in our example, but there are other cases).

Ideally, this should be fixed via model-specific fix-file, but it's not so straightforward since we apply this check on a per-variable basis and there is no clear "correct latitude" to use as

[2018-04-25 11:25] bjlittle commented on #302
@mattiarighi I'm sure the backend regridding used its own definition of fill-value... it might be worthwhile for ESMValTool defining global constants that are then used by all it's packages, including regridding.

[2018-04-25 11:27] mattiarighi commented on #302
Good point, this was indeed the approach in v1.0 (see [here](https://github.com/ESMValGroup/ESMValTool/blob/e5f5e2ccfb5bcc71ca1255727357bf0caa90c2c1/reformat_scripts/constants.ncl#L39)).

@valeriupredoi, what do you think?

[2018-04-25 11:40] jvegasbsc commented on #290
I think these kind of differences are more likely to be due to the nature of float variables than to any other reason.

For this fixes we can use the fix_metadata step, which is almost not costly in computing time. We can check other variables and use the most common one

Numpy also provides the numpy.allclose() for equality with tolerance. Anyway, it will probably be to costly in computing power

[2018-04-25 11:43] valeriupredoi commented on #314
yes, correct! the fact that the files have different names plays in only at the loading point at the ESMValTool I/O stage ie there is a list made up of files that should contain the needed data, then on, that list is populated with two identical cubes, therefore the iris cubelist concatenation fails -- so as @mattiarighi says, it's good to have iris complaining about this case, but the message to

[2018-04-25 11:52] mattiarighi commented on #290
Where should we implement this fix?
Only in `_derive.py` for `lwcre` or at a more general level?

I've tested `swcre` and it goes through without problems, `toz` also combines different variables without problems, so it seems to be quite specific to `lwcre`.

[2018-04-25 11:53] valeriupredoi commented on #302
@bjlittle indeed the _MDI was set to 1e20 in regrid, but it was lost at saving :disappointed:
@mattiarighi I'll have a crack at implementing the workaround in the separate branch, I would stay away from global environment variables but rather define this as a fixed MDI per module, what say yous?

[2018-04-25 12:01] mattiarighi commented on #302
It would be good to define this value only once, if possible, to avoid inconsistencies. For example, in `preprocessor/__init__.py`. Would that make sense?

[2018-04-25 13:26] mattiarighi commented on #302
That's perfectly OK and it makes PR testing and review much faster. :+1:

[2018-04-25 13:36] valeriupredoi commented on #302
PR numero 315 :smile:

[2018-04-25 13:37] mattiarighi commented on #290
Sound good!

[2018-04-25 13:37] mattiarighi commented on #290
Feel free to use my branch REFACTORING_lwcre for that.

[2018-04-25 13:50] bjlittle commented on #314
So, it seems like you want to catch the `iris.exceptions.ConcatenateError`, issue an appropriate warning (?) and continue with either one of the identical cubes.

Seems reasonable to me.

[2018-04-25 13:52] bjlittle commented on #302
Or you could have a `preprocessor/constants.py` as a name space for all appropriate such constants...

[2018-04-25 13:53] valeriupredoi commented on #314
yes, sir, you read my mind :grinning:

[2018-04-25 13:55] mattiarighi commented on #302
This has been proposed at some point in the past, see #31, but we concluded that we can use scipy for physical constants and a separate file just for fillvalue would be a bit overkill.

[2018-04-25 13:55] valeriupredoi commented on #302
could do, but for now it'd be populated with a grand total of one constant, maybe in the future when we get all sorts of constants for the variable derivations? I think should be ok in io for now

[2018-04-25 13:55] jvegasbsc commented on #314
I will take a look, but I am not really sure we should go for a warning here. I think we won't have information to prefer one cube or the other in most cases

[2018-04-25 13:57] mattiarighi commented on #314
I agree, I think an error with a more informative message would be better.

[2018-04-25 15:03] jvegasbsc commented on #314
We have two options after catching the exception:
- Add some messages to the log and reraise the original exception
- Add some messages to the log and raise a new exception (esmvaltool.TaskFailedError or something like that)

What do you prefer?

[2018-04-25 15:05] mattiarighi commented on #314
I've no particular preference, but maybe the second one would be slightly clearer.
@valeriupredoi @bjlittle ?

[2018-04-25 15:24] mattiarighi opened #316 "How to test diagnostic scripts"
We cannot expect the diagnostics developers to write tests for their diagnostics, especially for external packages that will be included in the ESMValTool as they are and that most likely do not include tests.
We already have an example from the autoassess diagnostics recently implemented by @valeriupredoi (see #309).

We need therefore to develop an alternative strategy for testing diagnostic scr

[2018-04-25 16:40] bjlittle commented on #314
In my opinion, warning always get ignored... they're just noise.

So, I'd opt for option two. Catch the exception, log it and re-raise with a new exception :+1:

[2018-04-25 16:50] valeriupredoi commented on #314
Sounds good to me either way, guys

Dr Valeriu Predoi.
Computational scientist
NCAS-CMS
University of Reading
Department of Meteorology
Reading RG6 6BB
United Kingdom

On Wed, 25 Apr 2018, 17:40 Bill Little, <notifications@github.com> wrote:

[2018-04-26 06:55] mattiarighi commented on #302
Fixed by #315

[2018-04-26 06:55] #302 closed

[2018-04-26 08:34] mattiarighi commented on #290
The data type of the coordinates is always `double` and this is checked by the `CMORcheck` module.
The problem arises due to slightly different latitude coordinates in the `CCSM4` model between two variables (`rlutcs` and `rlut`) which are subtracted to calculate a derived variable (`lwcre`).
The two coordinates look like this:
[code]

I don't know if this problem occurs also for other models/vari

[2018-04-26 08:36] #283 closed

[2018-04-30 11:09] valeriupredoi opened #318 "large differences in resources between iris 1.13 and iris 2.0"
Hey guys, @mattiarighi has noticed that the same run done with different versions of iris raises differences in effective run times. He called iris as the root cause. So I decided to run some systematic tests to see first if iris is indeed the problem and not some variation in the transition python 2.7 -> python 3.6 environment, and second, observe by how much we are losing in resources due to iri

[2018-04-30 12:28] valeriupredoi commented on #318
I have done another test: read two netCDF files, get the root mean square of the two cube datas and assemble a composite mask of the cubes (|=), no writing to file, just operations in memory -- with iris 1.13 and 2.0:

Repeated masked array operations: 35 times
Iris 1.13: mean 0.740 s +/- std 0.125 s
Iris 2.00: mean 0.908 s +/- std 0.191 s

So even at a relatively simple load and a couple mathemat

[2018-04-30 13:10] valeriupredoi commented on #318
Here is the snippet I used for another timing test:

[code]

[2018-04-30 13:11] valeriupredoi commented on #318
This time around the time differences are even worse:
Repeated masked array operations: 35 times
Iris 1.13: mean 0.827 +/- std 0.173
Iris 2.00: mean 1.256 +/- std 0.254

[2018-04-30 14:02] jvegasbsc commented on #318
I think the main issue here is that we are not really using Dask in the backend. I made a sample test with a small cluster of 4 Dask workers and performance was awful. We need to update the code to be able to benefit from the potential of Iris 2.0 and Dask. It will probably be easier to do at the workshop, but we must decide if we can wait or if it will be too much

[2018-04-30 14:10] valeriupredoi commented on #318
I was under the assumption that iris 2.0 should work right out the box like iris <= 1.13 used to -- I mean, there are not too many operations we are using iris specifically for, it's mainly masked data arrays passed around and manipulated using generic numpy functions (ok - sliding window and Aggregator in masks, load/concatenate/save and that's pretty much it). Why would an extra level of optimiz

[2018-04-30 14:35] jvegasbsc commented on #318
It works out of the box, it is just using more resources. Those extra resources are something that I would expect as Dask is more complex than Biggus because of the extra features it has. the thing here is that we have just switched to a more complex option without using any of the extra features it provides, like delayed operations

[2018-04-30 14:43] valeriupredoi commented on #318
eugh, sounds like me going to a fancy pub instead of the dodgy ones, I can't just order my standard 'cheapest lager on tap'. OK, would it make sense to use 1.13 until we decide which fancy beer we go for? That works really nice within a python 3.6 environment and the basic changes from 1.13 to 2.0 (not the fancy Dask things) are exactly three lines in three codes: _time_area, _multimodel and _io

[2018-04-30 23:52] bjlittle commented on #318
We're in an really interesting space now that we've replaced `biggus` with `dask`.

Moving over to `dask` was inevitable, and a necessary change, so I don't see that as a backwards step; quite the opposite. However, leveraging the benefits of `dask` may require a little bit of effort and thought, as @jvegasbsc suggests in his [comment](https://github.com/ESMValGroup/ESMValTool/issues/318#issuecomm

[2018-05-01 09:06] bjlittle commented on #318
@valeriupredoi Or as an alternative approach, if you didn't want to work at the cube level, but just the data, and so keep the comparison between `1.13` and `2.0` fairer, you could opt to manipulate the `dask` lazy data directly e.g. something along the lines of...

[code]
At this point `csum` should still be lazy. To realize the result simply `csum.compute()`

That would also be interesting...

[2018-05-01 10:43] valeriupredoi commented on #318
Hey guys, great input here! @bjlittle cheers for your detailed explanation, man! I am as new to dask as King Kong was to New York City so I am going to get to grips with it in the following weeks. As of now, though, I'd like to ask for opinions for an immediate strategy about ESMValTool v2:

- it is obvious that without a careful tweaking iris 2 is not as nice with resources as iris 1.13; should w

[2018-05-01 16:11] bjlittle commented on #318
@valeriupredoi To help you guys come to an informed decision, it is useful to know that we only intent to (at most) perform point releases on the iris 1.13.x branch i.e bugfixes only, no new features. We simply don't have the capacity to fully support development on multiple variant release branches.

[2018-05-02 09:25] valeriupredoi commented on #318
@bjlittle -- with regards to iris 1.13, thanks, man, good to know what the status of the distribution is. We don't need any new features in iris 1.13, using it should be an interim solution until the ESMValTool code tweaks are done for iris 2.0 optimal work. I'll give the floor to @mattiarighi and co. on this matter. About the testing the data payloads, I am not in the position to do this right no

[2018-05-02 09:44] mattiarighi commented on #318
Thanks @valeriupredoi for testing and @jvegasbsc + @bjlittle for the comments!

We had an internal discussion here about this issue. Our suggestion for the way forward would be the following:

- we should bring back `REFACTORING_backend` to work with Iris1.13. This means reverting PR #298 and #315, and pin 1.13 in environment.yml (@valeriupredoi could you take care of this in a dedicated branch?)

[2018-05-02 09:50] valeriupredoi commented on #318
Sounds very good to me!
@mattiarighi I will do the work right away
@bjlittle -- adapting the small test code with not calling cube.data multiple times:

[code]
is not helping the time:

Iris 1.13: mean 1.135 s +/- std 0.317 s
Iris 2.00: mean 1.732 s +/- std 0.737 s

[2018-05-02 11:29] valeriupredoi commented on #318
Hi chaps @mattiarighi @bjlittle @jvegasbsc et co.
Branch created: https://github.com/ESMValGroup/ESMValTool/tree/REFACTORING_backend_iris113
Environment is python 3.6.5 and iris 1.13.0
Tested and see the performance curve for the preprocessor with only a single plev select.
To get the environment set up I recommend using a specific name for it:
[code]
BTW @mattiarighi my environment is using numba

[2018-05-02 11:49] valeriupredoi commented on #318
and here is the set of memory vs time for the same environments (py3) only with different irises, for a 'full' preprocessor (select level, regridding, masking, multimodels) and no diagnostic. I will use this namelist as reference when we get iris 2 to work smoothly.
![memvsrealtime_fullpp](https://user-images.githubusercontent.com/28983971/39521632-38dd604a-4e07-11e8-8eff-6210f088bd1a.png)

[2018-05-02 13:42] mattiarighi commented on #318
Thanks @valeriupredoi.
Go ahead with the pull request.

[2018-05-02 18:11] bjlittle commented on #318
@valeriupredoi Could you rerun the test again, but using the dask synchronous scheduler (as above - also see http://dask.pydata.org/en/latest/scheduler-overview.html#debugging-the-schedulers) for iris 2.0 ?

[2018-05-03 07:03] valeriupredoi commented on #318
Hey guys, will do this first thing today :)

Dr Valeriu Predoi.
Computational scientist
NCAS-CMS
University of Reading
Department of Meteorology
Reading RG6 6BB
United Kingdom

On Wed, 2 May 2018, 19:14 Bill Little, <notifications@github.com> wrote:

[2018-05-03 08:11] #314 closed

[2018-05-03 10:59] valeriupredoi commented on #318
Hey guys, I have added the lines that @pelson suggested right before any iris operation, but after importing iris:

[code]
and called this 'dask tweak'. Within a python 3.6.4-iris 2.0.0 esmvaltool environment:

[code]

and getting out the environment but preserving the python and iris versions

[code]
and again, going back into the esmvaltool environment

[code]

and in the same environment, compa

[2018-05-03 13:51] valeriupredoi commented on #267
Guys, it appears that Anaconda 5.1 (python2.7 version) comes prepackaged with the real-deal python 2.7 (and not the impostor py2.7 that is in fact 3.6) -- this is untested by me but rather info I got from my office mate, so don't hang me if it's wrong (he knows his stuff so I trust it to be accurate). What I've tested myself and can confirm is that in Anaconda 3, if you create an virtual env askin

[2018-05-04 10:11] earnone opened #322 "MAGIC WP4 Hydroclimatic intensity and extremes"
Namelist to calculate a set of 6 indices (among which the hydroclimatic intensity) to evaluate the response of the hydrological cycle to global warming with a joint view of both wet and dry extremes (Giorgi et al. 2011/2014). The tool also ingest ETCCDI indices from DLR extremeEvents namelist to perform additional and joint analysis.

Latest version for ESMValTool v2:
https://github.com/ESMValGrou

[2018-05-04 10:21] earnone opened #323 "MAGIC WP4 Quantile bias"
Namelist to calculate the precipitation quantile bias (following Mehran et al 2014).

First version for ESMValTool v2:
https://github.com/ESMValGroup/ESMValTool/blob/REFACTORING_quantilebias/esmvaltool/diag_scripts/quantilebias/main.r

Namelist
https://github.com/ESMValGroup/ESMValTool/blob/REFACTORING_quantilebias/esmvaltool/namelists/namelist_quantilebias.yml

Current status: First version of th

[2018-05-04 10:28] earnone opened #324 "MAGIC WP6 HyInt and ETCCDI trend and significant testing"
The HyInt namelist is exploited to calculate timeseries and trends producing output files and several types of figures based on HyInt and ETCDDI extreme events indices.

Latest version for ESMValTool v2:
https://github.com/ESMValGroup/ESMValTool/tree/fix_hyint

Namelist
https://github.com/ESMValGroup/ESMValTool/blob/fix_hyint/esmvaltool/namelists/namelist_hyint.yml

R script:
https://github.com/ES

[2018-05-04 10:38] earnone opened #325 "MAGIC WP4 Blocking metrics and indices"
1D and 2D atmospheric blocking calculations for the Northern Hemisphere are implemented through the MiLES namelist.

Latest version for ESMValTool v2:
V2 conversion complete: https://github.com/ESMValGroup/ESMValTool/tree/REFACTORING_miles
V1 version: https://github.com/ESMValGroup/ESMValTool/tree/MAGIC_MiLES

Namelist/recipe:
V2: https://github.com/ESMValGroup/ESMValTool/blob/REFACTORING_miles/es

[2018-05-04 10:42] earnone opened #326 "MAGIC WP6 Teleconnection indices and weather regimes"
Teleconnections (Z500 Empirical Orthogonal Functions) and North Atlantic weather regimes (additional tool not originally planned) are implemented through the MiLES namelist.

Latest version for ESMValTool v2:
not available yet. V1 version: https://github.com/ESMValGroup/ESMValTool/tree/MAGIC_MiLES

Namelist (v1):
https://github.com/ESMValGroup/ESMValTool/blob/MAGIC_MiLES/nml/namelist_miles.xml

R

[2018-05-04 10:59] earnone opened #327 "MAGIC WP4 Stratosphere-troposphere coupling"
Namelist to identify surface patterns that are the most connected with stratospheric variability: the spatial patterns and indices of the NAM.

Latest version for ESMValTool v2:
- namelist v2 working and uploaded to github repository, branch REFACTORING_zmnam
[https://github.com/ESMValGroup/ESMValTool/tree/REFACTORING_zmnam](https://github.com/ESMValGroup/ESMValTool/tree/REFACTORING_zmnam)

Curren

[2018-05-04 12:14] bjoernbroetz opened #328 "Definition of standard for output format of diagnostics"
In a recent conversation with @nielsdrost and @bouweandela it was discussed if we could come up with a standard for the output format of diagnostics. Once implemented this would allow to separate the visualization (i.e. generation of static plots, interactive web visualization, etc. ) from the computation in the diagnostics.

This conversation started facing the problem of using the output of the

[2018-05-04 12:44] bouweandela commented on #328
The code available in `esmvaltool/diag_scripts/shared/plot` probably covers most of the required functionality/plot types, though we will probably want to make use of the iris plotting capabilities to simplify using and maintaining the scripts.

[2018-05-04 12:55] mattiarighi commented on #328
For NCL routines, the separation between diagnostic and graphic scripts is to some extent already implemented, although it would need to be improved and simplified.

In particular, the way NCL plot resources are passed from the diagnostic scripts to the graphic routines is over elaborate and has been created some confusion to the users in the past.

This is however a big task, since it would requi

[2018-05-04 13:18] bouweandela commented on #328
The way I see it, a good way to implement this in esmvaltool would be to add a single `plot.py` or `plot.ncl` diagnostic script, that receives the output from the diagnostic script(s), i.e. a list of directories containing netcdf files adhering to some standard, and some plotting options as specified in the namelist and then does all plotting. That way the same plot scripts can be used independent

[2018-05-04 14:32] bouweandela commented on #318
@nielsdrost and I discussed this issue and we feel that the really important issues at the moment are the issues that prevent us from doing the v2 alpha release, see [this project](https://github.com/ESMValGroup/ESMValTool/projects/2) for a list. Even if iris 2 uses more resources, we are still much faster than ESMValTool V1. Therefore I would suggest not spending too much time on this now, but in

[2018-05-04 14:39] bjoernbroetz commented on #328
As @mattiarighi  wrote:

The implementation might be well to big for v2.0. I will remove the label. But here it is more about finding a strategy and defining a standard.

[2018-05-04 14:44] bouweandela opened #329 "Remove unused code"
There is quite a bit of unused code lying around in esmvaltool.

Unused code
- probably doesn't work anymore, because it is never run
- decreases readability
- makes software more work to maintain

This is no problem while we are still developing the new backend, but as we are nearing a release, we should start thinking about cleaning up. All unused code should be removed by the time we do the V2

[2018-05-04 15:15] earnone opened #330 "ESMValTool file finder is NOT case sensitive"
In our database we currently have data with model name "EC-EARTH" and data with model name "EC-Earth" because they have different provenance. I noticed ESMValTool is not case sensitive when handling model names - or it drops case sensitivity if the correct name is not found? This implies that it picks EC-EARTH data if the EC-Earth one is missing even if the model name in the namelist is EC-Earth,

[2018-05-07 10:53] IreMav commented on #213
Hi Javier, I have found this issue related to the tool I developed for PRIMAVERA WP1 and WP2.
What is this issue intended for?
The tool is available on GitHup at https://github.com/IreMav/WRtool

[2018-05-07 14:05] fserva opened #332 "MAGIC WP6 Indices of Annular Modes"
Namelist to identify surface patterns that are the most connected with stratospheric variability: the spatial patterns and indices of the NAM.

Latest version for ESMValTool v2:
- namelist v2 working and uploaded to github repository, branch REFACTORING_zmnam
[https://github.com/ESMValGroup/ESMValTool/tree/REFACTORING_zmnam](https://github.com/ESMValGroup/ESMValTool/tree/REFACTORING_zmnam)

Curren

[2018-05-08 10:47] mattiarighi commented on #290
What is the status here? Is the bugfix implemented?
It would be good to close this before the workshop.

[2018-05-08 11:04] valeriupredoi commented on #330
Great, maybe we can implement some AI features as well, maybe port code from Amazon Alexa ask you extra questions about models :grinning: I will look into this very soon, currently in the middle of a large overhaul of software on JASMIN, they moved our work spaces and all sorts of mayhem was triggered due to this :grimacing:

[2018-05-08 11:07] valeriupredoi commented on #318
sounds good, I'll have a start on adding the dask tweak and reinstating iris 2.0 as soon as I finish rebuilding my environment on Jasmin that got completely messed up by a move of the workspaces partitions :)

[2018-05-08 11:32] valeriupredoi commented on #318
sounds good, I'll have a start on adding the dask tweak and reinstating iris 2.0 as soon as I finish rebuilding my environment on Jasmin that got completely messed up by a move of the workspaces partitions :)

[2018-05-08 13:28] earnone commented on #330
@valeriupredoi - Thanks for the prompt interaction :-) I see no fnmatch.filter in the data_finder.py. We all run branch version2_knmi_sprint here.

[2018-05-08 13:33] mattiarighi commented on #330
@earnone was your branch created from `REFACTORING_backend`?
If yes, I would recommend to keep your branch synchronized with `REFACTORING_backend`.

Otherwise we run the risk that your branch diverges too much from the original one and it will be hard to examine the pull request once you are finished.

[2018-05-08 13:42] valeriupredoi commented on #330
@earnone , @mattiarighi is correct, that KNMI branch is pretty old (lots of new stuff since February). Pls get REFACTORING_backend and branch out/track it from there. I assume all your changes are in diagnostics and namelist and namelists so hopefully you'll be able to adapt your envronment quickly and benefit from the good stuff we have put in the backend in the meantime since the sprint

[2018-05-08 13:53] earnone commented on #330
@mattiarighi, @valeriupredoi ok, we'll move to REFACTORING_backend and keep that sync. No big problem, indeed we just have diagnostics and namelists. Thanks.

[2018-05-08 14:03] mattiarighi commented on #330
Given that @valeriupredoi tested this in the latest version and found no bug, I would close this.

@earnone feel free to reopen the issue if you spot anything.

[2018-05-08 14:03] #330 closed

[2018-05-08 14:26] valeriupredoi commented on #318
Hey guys, so I applied the fix suggested by @pelson and @bjlittle and tested by me previously (see above post, for which I actually got rather mixed results). Fix was applied to these files where iris is imported:

[code]

and here are results for three identical tests. Not conclusive to say the least, and all worse than iris1. Then again, maybe (and surely actually) in a lot of the code we use cu

[2018-05-08 14:37] mattiarighi commented on #318
@valeriupredoi Thanks for testing!
It looks like that we are still far from a satisfactory solution.

Supporting Bouwe's above comment, I would suggest to leave it for the moment and focus on other things at least until the workshop. We can discuss it again there and decide how to move forward.

But until then, [these issues](https://github.com/ESMValGroup/ESMValTool/issues?q=is%3Aopen+is%3Aissue+

[2018-05-08 14:48] valeriupredoi commented on #318
sounds like a good plan!

[2018-05-09 13:48] valeriupredoi opened #335 "Installation without NCL"
It occurred to me (via a few UKESM guys that are trialling ESMValTool and don't have NCL licences) that it should be able to install without NCL as an option -- yes, we can comment out the NCL lines in environment.yml and in main but would we want to make this an installation option so users can do it without hacking code themselves?

[2018-05-09 13:54] valeriupredoi opened #336 "Running a standalone diagnostic"
Another issue stemmed from talking to the UKESM guys trialling ESMValTool: they are wanting to write a diagnostic that uses ESMValTool preprocessing capability but it's not in the diag library (for getting used to the power of ESMValTool reasons). Currently this is not possible unless they write the diagnostic and git push it (obviously by creating their branch) -- this is bulky -- would it make s

[2018-05-09 15:37] valeriupredoi commented on #329
I like this issue :grinning: can I help?

[2018-05-10 11:14] earnone commented on #312
Namelist converted from branch version2_knmi_sprint to REFACTORING_backend (synchronized).

@mattiarighi the conversion was quick but I can see an issue for namelists working on more variables at the same time (e.g., pr, tas, ...). The former metadata.yml file is now replaced by one metadata.yml per variable, e.g.:
_esmvaltool_output/namelist_rainfarm_20180510_085345/preproc/rainfarm_preproc_pr/me

[2018-05-10 14:12] earnone opened #337 "Move preprocessing from the diagnostic script to the backend"
Is there a list of functionalities available in the preprocessor and instructions to use them?

Any option for geographical subsetting? Any further options than those listed in the developer_guide2 (levels, regridding, masking, multi-model)?

Thanks

Example from perfmetrics_CMIP5.yml:
_preprocessors:
  pp850:
    extract_levels:
      levels: 85000
      scheme: linear
    regrid:
      target_gr

[2018-05-10 14:48] fserva commented on #332
Hello, I am encountering some issues after the sync with the latest REFACTORING_backend. It seems that the functions get_cfg and get_input_files do not work, as now they are not returning the list of models, but their attributes (e.g., cmor_table, ensemble member and so on). Is this related to the different metadata structure, since now the variable name has disappeared?
@bouweandela @mattiarighi

[2018-05-10 15:00] earnone commented on #312
Namelist upgraded starting from REFACTORING_backend uploaded to repository as REFACTORING_rainfarm. See top comment.

[2018-05-11 07:28] alasdairhunter opened #339 "Magic WP7: Diurnal variation indicator (Energy tailored product)"
Recipe to compute the diurnal variation indicator, as described in http://secif.ipsl.fr/images/SECIF/documents/Communication/fiche_invulnerable/RC_indicateur_EN.pdf

Latest version:

R script:
https://github.com/ESMValGroup/ESMValTool/blob/MAGIC_BSC/esmvaltool/diag_scripts/magic_bsc/diurnal_temp_index.r

Recipe:
https://github.com/ESMValGroup/ESMValTool/blob/MAGIC_BSC/esmvaltool/recipes/recipe_diu

[2018-05-11 07:34] alasdairhunter opened #340 "Magic WP7: Heatwaves/Coldwaves (Energy tailored product)"
Recipe to compute the number of user defined heatwaves/coldwaves in a season, based on a user defined temperature threshold and the number of consecutive days.

Latest version:

R script:
https://github.com/ESMValGroup/ESMValTool/blob/MAGIC_BSC/esmvaltool/diag_scripts/magic_bsc/extreme_spells.r

Recipe:
https://github.com/ESMValGroup/ESMValTool/blob/MAGIC_BSC/esmvaltool/recipes/recipe_heatwaves_co

[2018-05-11 09:00] bouweandela commented on #336
There is no need to create your own branch: simply install ESMValTool in development mode and add your own namelist + diagnostic scripts,  installation in development mode is described in [README.md](https://github.com/ESMValGroup/ESMValTool/blob/REFACTORING_backend/README.md).

[2018-05-11 09:10] bouweandela commented on #337
Unfortunately this is not working in the online documentation yet, but you can have a look at `__all__` in the [`esmvaltool.preprocessor`](https://github.com/ESMValGroup/ESMValTool/blob/REFACTORING_backend/esmvaltool/preprocessor/__init__.py) module, that should give you a good impression of currently implemented functionality.

Regarding geographical subsetting: I think the function `extract_regi

[2018-05-11 09:32] earnone commented on #337
OK, I will try it. I would keep an (this?) issue open to keep track of what becomes available and what would be needed by diagnostic developers. A few words of guidance on the above functionalities would be great - is there a documentation somewhere?

[2018-05-11 09:47] bouweandela commented on #250
The above keys are entered twice and with different values in the model to institute mapping, @mattiarighi can you have a look? Maybe it is a good idea to order these lists alphabetically, to make this kind of mistake easier to spot.

[2018-05-11 09:48] valeriupredoi commented on #336
This is good to know and sorry for not being aware of this, slipped through many cracks :grinning: If this has been tested by other people (not us the devs only) then I shall close the issue right away @bouweandela

[2018-05-11 10:07] bouweandela commented on #337
Yes, the documentation is available on [readthedocs](http://esmvaltool.readthedocs.io/en/refactoring_backend/), the code documentation should be available under 'ESMValTool Code API Documentation', but it's broken at the moment, see issue #135. I think we need to fix this soon, before the workshop in June.

[2018-05-11 10:13] bouweandela commented on #332
My apologies for breaking things, I've created a better and working example Python diagnostic in the branch [`REFACTORING_example_python_diagnostic`](https://github.com/ESMValGroup/ESMValTool/tree/REFACTORING_example_python_diagnostic), see PR #333, which will hopefully be merged soon.

[2018-05-11 10:14] bouweandela commented on #312
@earnone My apologies for breaking things, I've created a better and working example Python diagnostic in the branch [`REFACTORING_example_python_diagnostic`](https://github.com/ESMValGroup/ESMValTool/tree/REFACTORING_example_python_diagnostic), see PR #333, which will hopefully be merged soon.

[2018-05-11 10:16] fserva commented on #332
Thanks Bouwe for your reply, no problem. I will have a look at the branch you suggest. Cheers

[2018-05-11 10:29] valeriupredoi commented on #336
also, before killing this issue, it may be useful to think if we want to make this run-your-own-crap a bit more straightforward for the user; I dont think we should spend too much effort on it since the dedicated way of deploying ESMValTool is on a big cluster with access to big data. But yeah... @bouweandela @mattiarighi

[2018-05-11 10:30] fserva commented on #332
Ok, I quickly browsed through your branch. Two questions:
- It seems that the functions get_cfg and get_input_data_files are gone,
and they are moved into _base.py. Also the main() is now main(cfg). Do you think
there will be further changes on this?
- I see that the new cfg-related functions have been changed. Which is the current structure
of the metadata? With or without the name of the variabl

[2018-05-11 10:40] bouweandela commented on #336
I think that installing in development mode is the best solution, because that makes it more likely that whatever you create will work once you decide you want to include it in esmvaltool. Adding this more explicitly to the documentation in a getting started section would probably be good though.

[2018-05-11 10:44] bjlittle commented on #17
@bouweandela I'm also not particularly fussed about versioneer, just thought I'd ask... but it was sooo long ago, I can't recall even asking :wink:

With regards to PEP440 vs semantic... I don't think that there are any restrictions with regards to whether `conda` or `PyPI` (or other packaging tools that we care about?) can parse both version formats.

We've recently moved from semantic to PEP440,

[2018-05-11 10:48] bouweandela commented on #332
- I think it will stay this way. Just add this bit of code
[code]
at the top of your diagnostic script and
[code]
at the bottom of your diagnostic script and define your `main(cfg)` function accordingly and you should be good to go.

- Without the name of the variable. If you think it is useful, I can add a library function that groups the files by variable name? Because it's fairly straightforwar

[2018-05-11 10:49] earnone commented on #312
@bouweandela No problem, we just need a confirmation that the current version with <namelist>_preproc_<var>/metadata.yml is definitive and we should upgrade our namelists to that.

I saw the nice example for python diagnostics, but still see the problem of not having the list of variables in the settings.yml nor in the metadata.yml which makes things not easily manageable in R - where should I rea

[2018-05-11 10:52] fserva commented on #332
- Ok I will try that
- No, I was just asking. In my case I do not need the variable name, and as long as the
cfg functions can handle that, it's absolutely fine.
Thanks

[2018-05-11 11:02] bouweandela opened #342 "Add example R diagnostic"

[2018-05-11 11:03] earnone commented on #312
A further thought: a final user will likely want to do some post-processing of the output data, and in that case all needed information to access the data should be easily available either in the settings.yml or metadata.yml. So the list of variables in the settings.yml would complete everything one needs.

[2018-05-11 11:05] bouweandela opened #343 "Install R packages"
In order to run R diagnostics, R must be installed as well as any required R packages. This should be added to the installation script. R can probably be installed by conda, but I'm not sure how to handle required R packages. Maybe we can create a `setup.r` script, which is called from `setup.py`?

[2018-05-11 11:08] bouweandela commented on #342
Similar to the example python diagnostic. There are probably also some R shared library functions needed for this.

[2018-05-11 11:17] bouweandela commented on #312
I've created issue #342 for creating an R example diagnostic similar to the Python one.

The reason that there is no list of variables in settings.yml is that such a list is only available if the diagnostic script you are running is ran directly after the preprocessor. It is also possible to chain diagnostic scripts (see e.g. the collect script in the perfmetrics namelist) and in that case only th

[2018-05-11 13:47] earnone commented on #312
I see. Thanks for #342. So if one wants the full list of variables it will need to list the directories, easy to do in R just not handy. Considering the possible chain of scripts, I guess the only way to achieve full control for one diagnostic is then to read the variables directly from the namelist that is stored with the output, am I wrong? I am thinking e.g. at DLR extremeEvents namelist, which

[2018-05-11 14:51] bouweandela commented on #312
I would recommend against getting the variable names from the namelist, because a lot of 'magic' happens in the translation from namelist to preprocessor output, to keep the namelist short.

It's more reliable to simply loop over the input data directories provided in settings.yml, read the metadata.yml file in each of those, randomly select an entry from metadata.yml and read it's 'short_name' or

[2018-05-11 14:55] bouweandela commented on #6
Created a first draft here:
https://github.com/ESMValGroup/ESMValTool/blob/REFACTORING_conda_recipe/meta.yaml

[2018-05-11 15:44] earnone commented on #312
Right, I can see that. But the way it is now it can still lead to error if more variables are present in the directory while the user specified just a subset of variables in one particular script of a chain (I guess not a major error since the script will then be applied to more variables than requested).

Example: first script works on tas and pr. Second script is extremeEvents called only on pr

[2018-05-13 19:40] mattiarighi commented on #250
I'm aware of this problem, but this is not an error in the yml file, but the actual way the CMIP5 data are structured for some specific drs (like DKRZ).

For example, the `HadGEM2-ES` model is listed twice under two different institutes (`MOHC` and `INPE`) and the variables are split between the two corresponding subdirectories.

One option could be to extend the file finder to accept lists as val

[2018-05-13 19:44] mattiarighi commented on #337
@valeriupredoi can you help here? If I remember correctly, you implemented a very first version of this but we haven't test it so far.

[2018-05-14 08:48] #203 closed

[2018-05-14 08:51] #217 closed

[2018-05-14 09:46] valeriupredoi commented on #337
@mattiarighi @earnone yes, this is in fact my "masterpiece" from back last year in May -- it needs a LOT of polishing so I'll have a look at it today, so if you guys would like to give me some more feedback as to how it should work it'd be much appreciated :)

[2018-05-14 09:49] mattiarighi commented on #337
Time and space operation were not originally planned for this release.

The reason is that they cover a huge number of possible options (extraction, average, weighted average, annual + seasonal cycle, climatologies, interannual variability etc.) and the gain of having them in the preprocessor rather than in the diags is relatively limited (both in time of CPU and memory).

But if you think it migh

[2018-05-14 09:55] valeriupredoi commented on #337
@mattiarighi -- sounds about right -- if the message is for me then the answer is I'd rather wait for this to be discussed first and decided upon what's needed in the preprocessor, I am not willing to start coding up stuff that will be deleted in the future :grinning: but I will have a look at the extract_region nonetheless since it's there anyway

[2018-05-14 09:56] mattiarighi commented on #337
As I said, this was not planned for this release so it should not be high priority, unless @earnone thinks it is absolutely required for his diag.

[2018-05-14 10:00] mattiarighi commented on #336
There are some inconsistencies between [README.md](https://github.com/ESMValGroup/ESMValTool/blob/REFACTORING_backend/README.md) and the [user guide](https://github.com/ESMValGroup/ESMValTool/blob/REFACTORING_backend/doc/sphinx/source/user_guide2/install.rst).

[2018-05-14 13:05] earnone commented on #337
@valeriupredoi @mattiarighi, thanks, sure I see it is better to include those functionalities when nicely polished. I started moving preprocessing from scripts to v2.0 preproc because I understood that was the message but we can surely go back to the current CDO preprocessing we do and wait. I may keep the extract_region in a namelist to do further tests and then update you @valeriupredoi.  Can yo

[2018-05-14 13:12] mattiarighi commented on #337
I can confirm that those 4 functionalities are implemented and quite extensively tested, mostly in the framework of `namelist_perfmetrics_CMIP5.yml`.

Additional testing with other namelists/diags is of course welcome, as not all options have been tried yet (e.g., regridding schemes other than linear).

[2018-05-14 13:16] earnone commented on #343
Good point. One of our diagnostics was developed with an installer script [https://github.com/ESMValGroup/ESMValTool/blob/MAGIC_MiLES/diag_scripts/aux/miles/installpack.R](url)
We could expand something like that to cover all diagnostics. Since some libraries are not so straight forward to install a general script may be very handy. @nmanuben @alasdairhunter, any possible conflicts among various l

[2018-05-14 14:28] bouweandela commented on #312
Some possible solutions:
- select only pr when computing climate precipitation indices
- add a wrapper script that calls the first script on both tas and pr and the second script only on pr.

[2018-05-14 15:03] bouweandela commented on #336
I've reviewed the documents above and added some corrections in PR #345 and #346

[2018-05-14 17:30] earnone commented on #312
OK, thanks. I guess a user should avoid ending up in the above situation when working on a chain of scripts. I would write a caveat in the user_guide on how scripts in a chain will ingest all variables they find from previous scripts even if the user subselect only part of them in the namelist.

[2018-05-15 09:40] mattiarighi opened #347 "Test with CMIP6 data"
Did anyone already try v2.0 with CMIP6 data?
@jvegasbsc ?

[2018-05-15 09:41] mattiarighi commented on #347
@valeriupredoi there should be CMIP6 historical simulations ready from UK MetOffice model(s).

[2018-05-15 10:00] mattiarighi commented on #17
We had a short discussion and decided to go for PEP440.

@ESMValGroup/esmvaltool-coreteam

@bouweandela , feel free to update the project names and close this.

[2018-05-15 12:47] bouweandela commented on #335
I guess we could create a separate conda package for this.

[2018-05-15 13:37] mattiarighi commented on #335
I don't get what is the problem with installing NCL even if not using it.
It's an open-source language, no license is required and the installation via conda seems to work fine.

Is it a matter of disk space / quota?

[2018-05-15 14:00] valeriupredoi commented on #335
my understanding from this particular user (a UKESM guy) had been that he was complaining he needed a licence for NCL which seemed odd, since he's managed to install it nonetheless. The problem can be closed -- I was thinking of a an installation flag alike --exclude [list of things you dont need to install], or something like --barebones that would do a very simplified installation, that's why I

[2018-05-15 14:02] #335 closed

[2018-05-15 14:46] DSenftleben opened #348 "preproc files highly demanding on disk space"
Thanks @mattiarighi for giving a great, detailed overview of ESMValTool v2.0.0 to the group at DLR earlier today. What you guys are developing looks great and we are looking forward to getting our hands on things.

One issue came up during the meeting about the disk space usage of the preproc (former: climo) files. The way it is now implemented, the backend creates one new file for each model entr

[2018-05-15 15:06] valeriupredoi commented on #347
@mattiarighi -- problem is that all present data from UKESM1 runs is in UM pp format, but I will ask around scoop us some CMIP6 if there is any

[2018-05-15 16:02] valeriupredoi commented on #347
Guys, news flash: found CMIP6 data (it was under my nose all this time): got "ta" for GFDL (piControl) and IPSL )historical), both r1i1p1f1: -- the good bit iris loads cubes nicely (iris 113), the bad bit - ESMValTool needs the key for CMIP6 in CFG dict and GFDL has stupid years (0001 to 0005) that makes ESMValTool complain since years start there from 1750; also cmor checks seem not to like the G

[2018-05-16 08:14] DSenftleben commented on #348
Alright, fine by me. Option 1 sounds good for now.
After the workshop we will probably have enough diagnostics ported to think about caching the preprocessed files. So this could be on the list for beta then, right?

[2018-05-16 09:30] mattiarighi commented on #348
Added to the to-do list in the [beta project](https://github.com/ESMValGroup/ESMValTool/projects/3). :+1:

[2018-05-16 09:36] valeriupredoi commented on #348
as @bouweandela says, option no 1 should be fairly straightforward -- one comment is this should be activated only if save_intermediary_cubes is set to False and debug level is in info mode, since otherwise it's obvious that the user wants to do some sorts of debugging and would want to keep his files around. Caching can be done as well, bit more involving than option 1 in terms of implementation

[2018-05-16 15:32] ledm opened #350 "PORTING namelist_GlobalOcean.yml into v2.0"
I'm going to attempt to port the namelist_GlobalOcean.yml (Ocean BioGeochemistry) namelist into v2, based on the tutorial here:

https://github.com/ESMValGroup/ESMValTool/blob/REFACTORING_extend_porting_guide/doc/sphinx/source/developer_guide2/porting.rst

With some help from @valeriupredoi and @mattiarighi .

[2018-05-17 11:39] schlunma opened #352 "PORTING namelist_flato13ipcc_fig9-42a.yml into v2.0"
This issue will track the porting of figure 9.42a of `namelist_flato13ipcc.xml` in the private repository (`python` diagnostic).

[2018-05-17 13:37] bouweandela commented on #17
In that case we will use the following [version names](https://www.python.org/dev/peps/pep-0440/#pre-releases) for version 2.0:
[code]
In case we need multiple alpha or beta releases for version 2.0, the number behind the `a`/`b` will be incremented

[2018-05-17 13:46] schlunma commented on #352
Work is done in [this](ESMValTool-private/tree/REFACTORING_flato13ipcc_fig9-42a) branch.

[2018-05-17 13:46] bjoernbroetz commented on #17
So, then this will be closed.

[2018-05-17 13:46] #17 closed

[2018-05-17 13:49] mattiarighi commented on #352
Is this merged already? The issue shall be close only after the pull requested has been reviewed and accepted and the branch merged.

[2018-05-18 08:05] bjoernbroetz opened #354 "License file"
Looks like we should check if we are using the Apache v2 in the right way. There has to be the full standard license text as part of the repository in the file LICENSE (currently missing). Additional remarks about contribution and copyright shall go in a file called NOTICE (currently in LICENSE).

[2018-05-18 08:15] axel-lauer commented on #178
I can only second Mattia, all preprocessor settings need to be made available to the diagnostics. This is required not only for putting meaningful labels and titles on the plots but in particular for keeping the provenance standards we introduced in v1.1. These include, for instance, detailed figure captions where information on regridding, masking, etc. is required. I do not see any problems in t

[2018-05-18 10:06] bouweandela commented on #240
[Link](https://docs.google.com/document/d/1ooeYe1CBpy205ItONYI8BJiJ1gHTkMH4m5HwCgrbg8I/edit?usp=sharing) to provenance design document produced by @nielsdrost.

[2018-05-18 10:08] bouweandela commented on #178
We have an open issue about implementing provenance: issue #240, as part of the solution to that issue, provenance information (including all settings used to preprocess the data) will be supplied to diagnostic scripts.

[2018-05-18 12:53] mattiarighi commented on #337
I guess this can be closed.
@earnone please open another issue if you have specific problems with any of the above functionalities.

[2018-05-18 12:53] #337 closed

[2018-05-18 13:02] mattiarighi commented on #65
The current approach of creating an issue for each diagnostic/namelist being implemented or ported from v1 properly addresses this issue.

Using tags and appropriate title is also helping to have a good overview of who is doing what.

[2018-05-18 13:02] #65 closed

[2018-05-18 13:14] axel-lauer opened #356 "PORTING namelist_lauer13jclim.yml into v2.0"
Namelist lauer13jclim is ported in ESMValTool-private repository as diagnostic script "clouds.ncl" contains changes that are only in the private repository. The branch can be found here: https://github.com/ESMValGroup/ESMValTool-private/tree/REFACTORING_clouds

Implementation issues encountered so far:
* how to get project class of models (needed for sorting plots in panel plot)
* implementation o

[2018-05-18 13:18] mattiarighi commented on #356
The `project` key for each model should be available as `model_info@project` (the same applies to all model keys defined in the `models` section of the namelist).

[2018-05-18 13:47] bouweandela commented on #135
I started working on this issue in branch `REFACTORING_user_guide`.

[2018-05-18 15:29] earnone commented on #323
First version for v2.0 written starting from branch REFACTORING_backend synchronized on 11 May 2018. R wrapper calling CDO commands. Only NetCDF output.

[2018-05-21 07:56] PeterBergSMHI opened #357 "MAGIC: extracting time series for the water sector"
Implementation of python script for extracting gridded data within a user provided polygon.
[watersector_shape.zip](https://github.com/ESMValGroup/ESMValTool/files/2021691/watersector_shape.zip)

[2018-05-22 07:39] bjoernbroetz commented on #357
Development for this is going on in the branch [MAGIC_watersector](/ESMValGroup/ESMValTool/tree/MAGIC_watersector)

[2018-05-22 12:29] mattiarighi commented on #293
Current list of the implemented diagnostics:

- [ ] `ta850`
- [ ] `ta200`
- [ ] `ta30`
- [ ] `ta5`
- [ ] `taZONAL` (differences w.r.t. v1.0 slightly larger due to different order of operations, but still <1%)
- [ ] `ua850`
- [ ] `ua200`
- [ ] `va850`
- [ ] `va200`
- [ ] `zg500`
- [ ] `hus400`
- [ ] `tas`
- [ ] `ts`
- [ ] `pr`
- [ ] `clt`
- [ ] `rlut`
- [ ] `rsut`
- [ ] `lwcre` (need issue #290 to

[2018-05-22 14:47] bouweandela opened #360 "Review preprocessor documentation"
The preprocessor documentation [as visible on readthedocs](https://esmvaltool.readthedocs.io/en/refactoring_user_guide/codedoc2/esmvaltool.preprocessor.html) should be checked and updated.

This should be done by updating the documentation in the Python code. If a variable/function/class should not be documented, it should be renamed so it's name starts with a single underscore.

[2018-05-22 15:19] bouweandela opened #361 "Review cmor module documentation"
The `esmvaltool.cmor` documentation [as visible on readthedocs](https://esmvaltool.readthedocs.io/en/refactoring_user_guide/codedoc2/esmvaltool.cmor.html) could be made more user friendly, if we want to provide this module to users.

This should mostly be done by updating the documentation in the Python code. If a variable/function/class should not be documented, it should be renamed so it's name

[2018-05-23 12:36] axel-lauer opened #363 "Problem with iris std_names"
When defining a new variable in "_derive.py" also an attribute "standard_name" has to be defined. Iris is checking whether this attribute of the new variable is in its own dictionary "std_names". If not, iris will abort with the error "[...] is not a valid standard name" (see also https://scitools.org.uk/iris/docs/v1.9.0/html/iris/iris/std_names.html?highlight=std_names#module-iris.std_names), e.g

[2018-05-23 12:39] BenMGeo commented on #363
Iris is capable of using long names without standard names. I would add a try/except call if needed, and then go to long?name instead (so you can keep your name)... std-names.py is using a cf conformal list.

[2018-05-23 13:22] bjoernbroetz opened #364 "MAGIC Surge height estimator"
This issue tracks the development of the Surge height estimator diagnostic in MAGIC.

Development is going on in  [MAGIC_surge_height](/ESMValGroup/ESMValTool/tree/MAGIC_surge_height).

[2018-05-23 15:38] valeriupredoi commented on #363
indeed, in Iris 2.0 one can set some crazy names for the variable without specifying standard_name. Here is an example how to build a cube from a preexistent one that will get the data but set the variable name to 'variably_variable' (which is CF compliant since it doesn't contain spaces :grin: ):

[code]

[2018-05-24 08:14] PeterBergSMHI commented on #357
First working production chain implemented. namelist = esmvaltool/namelists/namelist_shapeselect_py.yml

[2018-05-24 09:02] riddernina commented on #364
first version of surge diagnostics was pushed to branch MAGIC_surge_height
TO DO:
- namelist still needs to be adjusted to work with esmvaltool/main.py
- module to only select area of North Sea from input variables
- module to determine daily min psl and daily max ua0 & va0

[2018-05-24 11:36] bouweandela commented on #363
How about simply updating the allowed standard names before creating the cube, like this?
[code]

In fact, I think it should be fairly easy to change the `_derive.py` module such that you do no longer need to set the standard_name, long_name and units, as these are already provided in the custom CMOR table.

[2018-05-24 12:31] bouweandela commented on #364
Please consider removing the directory `diag_scripts/lib/python/surge_height/data` completly from the repository. It contains over 500 MB of data, that anyone who will ever work on esmvaltool has to download.

See e.g. [this github help page](https://help.github.com/articles/removing-sensitive-data-from-a-repository) for more information on how to do this. The easiest solutions seems to be to down

[2018-05-24 13:34] axel-lauer commented on #363
I like the idea to change _derive.py in a way that standard_name, long_name and units are taken from the cmor table.

[2018-05-24 13:59] mattiarighi commented on #186
Just to bring this issue up again.
There are two related issues that prevents this to be closed:

- [ ] #363
- [ ] #290

[2018-05-25 07:14] axel-lauer commented on #290
I would like to report another issue I encountered with this kind of variable derivation (using cubes):

`` lwcre = rlutcs_cube - rlut_cube ``

The new cube "lwcre" does not contain any of the attributes from the source cubes (rlutcs_cube, rlut_cube). The backend will correctly write the results (lwcre) to a netcdf file (preproc), but the corresponding model is missing in the \<variable>_info.ncl

[2018-05-25 08:10] bouweandela commented on #290
@axel-lauer Could you please open a separate issue for this? I do not think this is related to this issue.

[2018-05-25 08:58] mattiarighi commented on #232
Related to this, we've notice that Iris is much stricter in terms of metadata and it is often the case that reading in observational data in v2.0 result in an Iris error due to missing or inconsistent metadata.

Experience shows that this usually has to do with:
- missing auxiliary coordinates (such as `height`)
- inconsistent attributes across multiple files which are concatenated by the preproce

[2018-05-25 15:13] axel-lauer opened #371 "Variable derivation: loss of attributes & problems with NCL"
I encountered a problem when deriving a variable using cubes in a way like this:

``lwcre = rlutcs_cube - rlut_cube``

The new cube "lwcre" does not contain any of the attributes from the source cubes (rlutcs_cube, rlut_cube). The backend will correctly write the results (lwcre) to a netcdf file (preproc), but the corresponding model is missing in the \<variable>_info.ncl file and thus not visible

[2018-05-25 15:15] axel-lauer commented on #290
Just opened a new issue for that: #371

[2018-05-28 15:56] nielsdrost commented on #178
I'm not sure we will pass provenance info to the diagnostics in #240.

But agree with @mattiarighi  and @axel-lauer that passing preprocec settings is probably simplest solution for this issue. Downside is dependency on preproc dictionary.

Would it make sense to access the dict with a function so it is easy to spot any occurrences of access?

[2018-05-28 15:57] nielsdrost commented on #240
Discussion (via document) seems to not agree on if (and how) provenance info should be embedded. I propose we write it as a separate prov xml file for now.

[2018-05-28 16:41] #135 closed

[2018-05-30 09:40] PeterBergSMHI opened #372 "MAGIC: Drought indicator"
Basic version of drought indicator has been implemented. The drought indicator currently calculates indicators of meteorological drought by calculating the longest time period of consecutive dry days as well as the number of dry periods of a user defined minimum duration.
This will later be extended with SPI and SPEI indicators.

https://github.com/ESMValGroup/ESMValTool/blob/MAGIC_watersector/esm

[2018-05-30 15:58] valeriupredoi opened #373 "Multimodel output files not in metadata.yml"
hey guys, some diags will need to use the MM files as output model files and they should be in metadata.yml so that the diag (settings.yml) can grab them -- I know @mattiarighi is running NCL diags that integrate them as valid model files but how is the diag able to locate them? @bouweandela

[2018-05-30 16:08] bouweandela commented on #373
Are you sure you are using the latest version of the REFACTORING_backend branch? When I run a namelist that uses them, they are in metadata.yaml

[2018-05-30 16:11] valeriupredoi commented on #373
that is a question worth £5000 :grin: I am using the _autoassess branch that dates from April but the scientist that prompted me to this (Lee) should have a more modern branch -- I'll ping him and get back to you

[2018-05-31 08:08] ledm commented on #373
I've been working from the AutoAsess_backend, last merge with the remote was on the 10th of May. So, it's at least 3 weeks old, but it looks like that branch hasn't merged with the _backend branch since the 3rd of April.

Fortunately, I'm not using any of the autoassess specific parts, so I'll try to reproduce my work from the _backend branch.

[2018-05-31 08:13] valeriupredoi commented on #373
I am in the final stages of merging the autoassess branch into the latest
backend, which should be done by the end of today. I am sure this will fix
this issue (as in, this is by now a non issue). Once merged, I suggest you
merge the new backend into your branch, Lee, then take it from there :)

Dr Valeriu Predoi.
Computational scientist
NCAS-CMS
University of Reading
Department of Meteorology
Rea

[2018-05-31 08:35] bouweandela commented on #373
This issue was solved by #296, which was merged into REFACTORING_backend on April 20.

[2018-05-31 08:35] #373 closed

[2018-06-01 09:11] ledm opened #375 "ESMVallTool - diagnostic workflow questions."
Hi,

I have a general question about workflow with ESMValTool. I'm still new, so I apologise if this has been addressed already. I may also be using ESMValTool completely wrong, and I'm aware that it is still a work in progress.

I'm working to add new evaluation metrics into ESMValTool and I feel like the process could benefit from a couple minor quality of life improvements. This is my workflow:

[2018-06-01 09:52] bouweandela commented on #375
Hi Lee,

Most of your problems should be solved by using
[code]
(or `python setup.py develop`) instead of `python setup.py install`, as recommended [here](https://github.com/ESMValGroup/ESMValTool/tree/REFACTORING_backend#getting-started). This will install a link to your code instead of copy it, so that there is no longer a need to re-install after each change.

The last issue you can simply solv

[2018-06-01 10:13] bouweandela commented on #375
If the reply above answers your questions, please close this issue.

[2018-06-01 10:29] ledm commented on #375
Yeah, thats very helpful, thanks!

[2018-06-01 10:29] #375 closed

[2018-06-01 13:44] ledm commented on #375
Just a quick comment, `python setup.py develop` is much faster than `python setup.py install`, but didn't capture the changes in my local repository.

`pip install -e .` is clearly the way to go!

Thanks again!

[2018-06-01 14:34] ledm opened #378 "CMIP5 HadGEM2-ES & HadGEM2-CC ocean models contains latitude > 90. degrees."
The grid for the ocean components of the models HadGEM2-ES & HadGEM2-CC on BADC/Jasmin contains latitude coordinates greater than 90 degrees. This fails ESMValTool's CMOR checks with the error message:
`esmvaltool.cmor.check.CMORCheckError: There were errors in variable tos:
lat: has values > valid_max = 90.0`

The solution is to add a model specific module to the cmor/_fixes/CMIP5 directory, ie:

[2018-06-01 15:29] fserva commented on #332
I cannot find the branch with the fix anymore, and
therefore I cannot import run_diagnostic (I got an error 404
for REFACTORING_example_python_diagnostic).
Did you merge already? Thanks @bouweandela

[2018-06-01 16:05] #354 closed

[2018-06-01 16:10] bouweandela commented on #378
Yes, please fork and create a pull request to merge into the REFACTORING_backend branch. You should not need add a fix_data item in the preprocessor section, this will be automatically done by the namelist parser (in esmvaltool/_namelist.py).

[2018-06-01 16:13] bouweandela commented on #332
Yes, please use the `REFACTORING_backend` branch to start any new development from. Apologies for the name, we have an open issue on this #237.

[2018-06-01 16:22] fserva commented on #332
Thanks for the quick feedback. I still have a question though.
From your indications above, it seems that the script
`run_diagnostic.py` should be in `diag_scripts/shared/`...or is it not the case?
Sorry if I missed that and thanks for the explanation.

[2018-06-01 18:20] bouweandela commented on #332
`run_diagnostic` is a context manager which is part of the `esmvaltool.diag_scripts.shared` module and should be imported from there. It's actual definition is in esmvaltool/diag_scripts/shared/_base.py.

[2018-06-04 07:33] alasdairhunter opened #381 "Magic WP6: combine indices and compute area averages"
Description:
Tool to compute single and multi-model indices based on area averages

Latest version:
 R script: https://github.com/ESMValGroup/ESMValTool/blob/Magic_bsc/diag_scripts/magic_bsc/bsc_wp6.r
and namelist: https://github.com/ESMValGroup/ESMValTool/blob/Magic_bsc/nml/magic_bsc/namelist_bsc_magic_wp6.yml

Current status: Add missing metadata to output netcdf files.
--

[2018-06-04 08:40] bouweandela commented on #378
To see what the namelist parser made of your namelist, including the exact arguments passed to preprocessor functions, look for the description of the `DiagnosticTask` and `PreprocessorTask` objects under 'Namelist summary' in the debug log file in the output directory in run/main_log_debug.txt.

[2018-06-04 08:59] bouweandela opened #383 "PEP8 conformance issue"
Merging PR #365 broke the PEP8 conformance test, see https://circleci.com/gh/ESMValGroup/ESMValTool/2674

[code]

@valeriupredoi Could you please fix this?

[2018-06-04 09:16] mattiarighi opened #384 "Target grid for derived variables not found"
Setting the target grid of a derived variable to the reference model results in an error, since the code is looking for the derived variable itself in the model data instead of the primary variables used for derivation.

The error can be reproduced running `namelist_preprocessor_derive_test.yml` in branch `REFACTORING_cre`.

[2018-06-04 09:19] valeriupredoi commented on #383
Aw, sorry guys, on my way to work, will fix this asap

Dr Valeriu Predoi.
Computational scientist
NCAS-CMS
University of Reading
Department of Meteorology
Reading RG6 6BB
United Kingdom

On Mon, 4 Jun 2018, 09:59 Bouwe Andela, <notifications@github.com> wrote:

[2018-06-04 10:32] ledm commented on #378
I've created a fork, pushed my code and made a pull request: https://github.com/ESMValGroup/ESMValTool/pull/385

With regards to using `allvars` in fix_metadata, but `allvars` not working with `CMOR_Table`: is it worth creating a separate issue to address that problem?

[2018-06-04 10:33] valeriupredoi commented on #383
fixed here: https://github.com/ESMValGroup/ESMValTool/commit/ac81ed488741edc92df6525c92249ad1edaab266

[2018-06-04 10:33] #383 closed

[2018-06-04 11:09] ledm commented on #378
I'm finding that the fix_meta data doesn't apply the fix if it isn't requested in the namelist.yml.

Lee

[2018-06-04 12:04] bouweandela commented on #240
Main conclusion from telco on the interface between workflow manager (esmvaltool main program) and diagnostic scripts:
- The workflow manager will keep track of provenance
- Diagnostic scripts will provide a file (preferably in yaml format) containing a list of output files (figures, i.e. plots/netcdf files) with per output file the names of the input files used to create that output file and any

[2018-06-04 13:23] axel-lauer commented on #240
Here is a brief overview of how provenance is handled in version 1.1.0. Maybe we could use at least the kind of meta data created in v1.1.0 as a starting point. The actual meta data consists of so-called "tags" (e.g. R_atmos, P_crescendo, PT_geo). These tags can be translated to more human readable information using the lists defined in the file doc/MASTER_authors-refs-acknow.txt.
The meta data is

[2018-06-04 13:30] bouweandela commented on #240
We will probably make use of the [`prov`](https://pypi.org/project/prov/) library to write the provenance information to XML.

[2018-06-04 14:03] fserva commented on #332
Ok, thanks for the clarification.

[2018-06-05 10:11] ledm opened #387 "Issues with CMOR checks for marine biogeochemistry"
Hi,

I've encountered a few issues with CMOR checks while trying to set up a metric to evaluate Marine Biogeochemistry in CMIP5 models.

My current test case is looking at chlorophyll in the CanESM2 CMIP5 data.
/badc/cmip5/data/cmip5/output1/CCCma/CanESM2/historical/yr/ocnBgchem/Oyr/r1i1p1/latest/chl

The first issue is that BGC CMOR_tables don't accept the `allvars` `short_name` in `fix_data` or

[2018-06-05 14:21] ledm commented on #387
I've figured out that the cause of the second issue listed above was that the CMIP5 model data all use `depth` as the name of the vertical dimension of the model, however the CMOR standard is `olevel`.

A temporary solution is to edit for [CMIP5_Oyr](https://github.com/ESMValGroup/ESMValTool/blob/REFACTORING_backend/esmvaltool/cmor/tables/cmip5/Tables/CMIP5_Oyr) dictionary in two places, by adding

[2018-06-05 14:33] mattiarighi commented on #387
We should not modify the CMOR tables, if possible.
@jvegasbsc is there a more elegant solution?

[2018-06-05 14:33] ledm commented on #387
The third issue I describe here was indeed easy to address once the `generic_levels` issue was resolved.

However, it did highlight that there was no way to extract a vertical level outside the min-max depth range.

In CMIP5 models, the ocean starts at the surface at a depth of 0m. However, the first grid cell centre is the start of the possible extract_levels range. The first grid cell is typical

[2018-06-06 11:00] ledm opened #388 "run_diagnostic fails when re-running the diagnostic script."
Hi,

the run_diagnostic fails when re-running the diagnostic script. This is because the `cfg["write_netcdf"]` and `cfg["write_plots"]` are failing at the `os.mkdirs` stage, and these folders already exist. The simplest solution is to add an os.path.exists() before trying to make the directory.

`
    # Create output directories

    if cfg['write_netcdf']:

        if not os.path.exists(cfg['work

[2018-06-06 11:08] ledm commented on #388
This code was added here:

https://github.com/ledm/ESMValTool/commit/10d90c9a5579cb16a02f2c5d63017109cc252476

[2018-06-06 18:49] bouweandela commented on #388
@ledm The problem with this solution is that it may accidentally overwrite data the user has created manually while analysing the reason their script crashed. Also, the diagnostic script may behave differently/unexpectedly if files are already present in it's output directory.

A better solution would be to check if the directories exist, and if this is the case, warn the user that they should be

[2018-06-07 17:37] valeriupredoi commented on #250
yo @bouweandela @mattiarighi looks like I fixed this in here https://github.com/ESMValGroup/ESMValTool/commit/35f4562e8f20b84cbb6c844f670d50df03cbd65d can you guys have a looksee and let me know pls? I don't have access to DKRZ so I had to build a toy model of the paths to replicate and fix the issue

[2018-06-08 06:57] mattiarighi commented on #250
I've tried the `CFSv2-2011`, which is one of the models which is listed under two institutes in `config-developer.yml`, i.e. `['COLA-CFS', 'NOAA-NCEP']`.

This is the namelist entry:
[code]

I would expect `_data_finder.py` to search in these two directories:
[code]
and return the second, since the first does not exist. But I get an error message that it cannot find the first one.

[2018-06-08 07:01] valeriupredoi commented on #250
Oh shoot, I think I forgot to add handling if a file is not found, could
you send me the error pls?

Dr Valeriu Predoi.
Computational scientist
NCAS-CMS
University of Reading
Department of Meteorology
Reading RG6 6BB
United Kingdom

On Fri, 8 Jun 2018, 07:57 Mattia Righi, <notifications@github.com> wrote:

[2018-06-08 07:17] mattiarighi commented on #250
[code]

[2018-06-08 07:38] valeriupredoi commented on #250
right, cheers, crap -- I was under the assumption that the rootdir right
before [latestversion] would exist for both institutions, only that the
variables would be distributed across institutions; I'll put a
check/release for the root dir1 then.

On Fri, Jun 8, 2018 at 8:17 AM, Mattia Righi <notifications@github.com>
wrote:

--
Dr. Valeriu Predoi
Computational Scientist for UKESM Core Team
Departm

[2018-06-08 07:50] mattiarighi commented on #250
In the (possible?) case that the `exp`/`ensemble`/`variable` combination exists in both institutes, `latestversion` should be the criteria for selection. But I think that never happens.

[2018-06-08 07:56] valeriupredoi commented on #250
Cool, cheers for the clarification, it's easy-peasy - a check on the
existence of dir1 and then a cgeck on the members of the filelist, off to
work now wnd will put these in

Dr Valeriu Predoi.
Computational scientist
NCAS-CMS
University of Reading
Department of Meteorology
Reading RG6 6BB
United Kingdom

On Fri, 8 Jun 2018, 08:51 Mattia Righi, <notifications@github.com> wrote:

[2018-06-08 09:18] bouweandela opened #391 "Test tests.integration.cmor._fixes.CMIP5.test_CESM1_BGC.TestNbp.test_fix_data failing"
The test is failing after unpinning the libgdal library, could you please have a look? I suspect the code does not work with newer versions of the netcdf library.

See https://circleci.com/gh/ESMValGroup/ESMValTool/2774

[2018-06-08 09:21] bouweandela commented on #391
By the way, maybe that test should be renamed from `test_fix_data` to `test_fix_file`, as it appears to be testing the `fix_file` method.

[2018-06-08 09:38] bouweandela opened #392 "NCL installation broken in our environment"
https://circleci.com/gh/ESMValGroup/ESMValTool/2765

[2018-06-08 09:51] bouweandela commented on #237
Created branches:
`version2_development`
`version2_master`

[2018-06-08 09:57] mattiarighi commented on #237
What should we do with `REFACTORING_backend`?

To avoid confusion we could just delete it now and from now on merge remaining branches into `version2_development` ? Would that work out-of-the-box or are there any caveats?

We should also make sure that these new branches are protected.

[2018-06-08 10:05] valeriupredoi commented on #250
hey @mattiarighi this should fix your woes https://github.com/ESMValGroup/ESMValTool/commit/044d7c4673be4c515fb67a42474dea4c905aa181 give it a shot when you got time and let me know pls, if all goes well, this branch is ready for merging in the backend since Ive just merged backend into it yesterday before I started changing _data_finder

[2018-06-08 10:06] bouweandela commented on #237
@mattiarighi You are right there is some additional work needed.

Could you finalise this by:
1) protecting those branches on github
2) adding them for building on readthedocs
3) adding them for analysis on codacy
4) I think it would also be good if you could send an email to everyone who is working on version 2 that from now on the version 2 development branch is called `version2_development` ins

[2018-06-08 10:10] mattiarighi commented on #237
What about those branches which have been branced off `REFACTORING_backend`? Can they be merged later into `version2_development`, or is this breaking the history or something?

@axel-lauer and I will take care of these 4 issues

[2018-06-08 10:13] bouweandela commented on #237
Yes, merging them later into `version2_development` should work fine, because `version2_development` is also branched off `REFACTORING_backend`, so differences, if any, should be minimal.

[2018-06-08 11:44] bouweandela commented on #234
I've implemented the automation in PR #395.

[2018-06-08 13:15] mattiarighi commented on #237
1. Branches are protected
2. Done, please check
3. Done, please check
4. E-Mail sent and [discussion post](https://github.com/orgs/ESMValGroup/teams/esmvaltool-developmentteam/discussions/1) opened, the information should have reached everyone

[2018-06-08 13:28] bouweandela commented on #237
2. I only see `version2_development` on readthedocs, not `version2_master`, but maybe that's just fine.
3. I don't see the `version2_development` branch listed as one of the analysed branches here yet, only `master` and `REFACTORING_backend`: https://app.codacy.com/project/ESMValGroup/ESMValTool/dashboard (in the drop down menu). Can you check?

[2018-06-08 13:31] mattiarighi commented on #237
2. Added `version2_master` as well.

3. Had the same problem, solved by logging out and in again.

[2018-06-08 14:14] valeriupredoi commented on #388
@bouweandela @ledm this is inconvenient in the case of heavy diagnostic development, my local fix is to add a check in _base.py if.os.path.exists( yada yada...but it's still inconvenient since with each new installation I need to remember to place the check. I have raised this elsewhere as well, I think it's totally up to the user if they are negligent enough that's their problem, we need this thi

[2018-06-08 14:21] valeriupredoi opened #396 "Issue with iris plot from nc-time-axis"
I am having issues running an autoassess diagnostic that has run fine until today:

[code]

The same error for iris 1.13. BTW installing iris 2.0 via conda does not warrant an automatic inclusion of nc-time-axis as it was the case for iris 1.13. How do I get the latest working version of n-time-axis

The instructions in the README from the package say install by

[code]

but conda can't find the p

[2018-06-08 15:30] bouweandela commented on #396
The package was renamed to `nc-time-axis`:
[code]

[2018-06-08 15:34] bouweandela commented on #388
I'm not sure this is related to #348. I'll add some nicer warning messages and a `-f` flag to the diagnostic script to force emptying the output directories before a rerun.

[2018-06-08 15:34] valeriupredoi commented on #396
yes, I have it installed, I am having this very issue because I have it installed, otherwise I would have gotten the 'instal nc-time-axis' message. This is not resolving the issue so I will reopen it @bouweandela

[2018-06-08 15:43] ledm commented on #388
Perfect, thanks a lot!

Also, please remember to add the -f flag into the logger message following the message "To Re-run this script..."

[2018-06-08 16:19] bouweandela commented on #396
My apologies for misunderstanding your problem, by all means keep it open.

[2018-06-11 08:48] bouweandela opened #399 "Conda build broken because iris 1.13 requires cf_units < 2"
The conda build is broken because iris 1.13 requires cf_units < 2, but in this PR we updated to cf_units > 2: #367. The easiest solution would be to remove the cf_units=>2.0.1 requirement from setup.py.

https://circleci.com/gh/ESMValGroup/ESMValTool/2860

[2018-06-11 08:56] bouweandela commented on #399
Note that we could also solve this issue by upgrading to iris 2 instead.

[2018-06-11 09:29] #388 closed

[2018-06-11 09:58] valeriupredoi commented on #399
I am all up for going to iris=2.0, I think it's about time we start looking into getting this to work efficiently with ESMValTool; I have put a check on iris.__version__ in a few of the codes on autoassess branch, we can always do that so we maintain backwards compatibility

[2018-06-11 09:58] valeriupredoi commented on #399
```iris__version__```

[2018-06-11 10:34] bouweandela commented on #186
Issue #363 and #371 are addressed in PR #401.

[2018-06-11 10:45] valeriupredoi commented on #250
@mattiarighi did you have a chance to test this bit? :grin:

[2018-06-11 10:47] mattiarighi commented on #399
I think we are not ready for Iris 2 yet. The performance issues are not solved (https://github.com/ESMValGroup/ESMValTool/issues/318).

[2018-06-11 12:07] bouweandela commented on #186
Issue #384 is addressed in PR #402.

[2018-06-11 12:57] ledm commented on #230
@valeriupredoi, I'd like to volunteer to test changes related to irregular grids. Let me know when you're ready for me to have a crack at it!

[2018-06-11 13:20] valeriupredoi opened #403 "Iris 2.0 and 2.1 does not work with netcdf4=1.4.0"
when installing iris via anaconda with the usual  ```conda install -c conda-forge iris``` this will automatically pick up iris=2.0 and now it will pick up netcdf4=1.4.0. Iris does not work with this latest version though:

[code]

reverting to netcdf4=1.3.1, it works fine.

@bjlittle are you Iris folk aware of this? I am assigning a coule guys @mattiarighi and @bouweandela just so we are aware of

[2018-06-11 13:31] bouweandela opened #404 "Multimodel statistics function does not work with observational data when span: full selected"
Example where this fails: `diagnostic_2` using `preprocessor_2` in [esmvaltool/namelists/namelist_preprocessor_test.yml](https://github.com/ESMValGroup/ESMValTool/blob/version2_development/esmvaltool/namelists/namelist_preprocessor_test.yml). This happens with NCEP and ERA-Interim data.

Stack trace:
[code]

[2018-06-11 13:35] bouweandela commented on #403
@valeriupredoi This seems to be purely an issue with iris. Maybe it would be better to open an issue on [the github page of iris](https://github.com/SciTools/iris/issues) instead of on the esmvaltool page?

[2018-06-11 13:37] jvegasbsc commented on #391
Soory for the delay. I will take a look now

[2018-06-11 14:05] nielsdrost opened #405 "Output pdf report with all plots and metadata for namelist"
For the MAGIC project we would like to offer users (of our web portal) a way to download information on a namelist. For this we would like ESMValTool to be able to create a multi-page report for a namelist, with all plots, references, perhaps provenance info, etc, for the namelist run.

[2018-06-11 14:09] jvegasbsc commented on #387
Hi

First of all, sorry for the delay.

The allvars is just a code for a fix that should be applied to all files in a given model. By the description of the error, I think you are putting allvars in the namelist and it's failing as it should. You just need to put your desired var and it will applly first the fixes for allvars and then any specific fixes if found

The only thing that we check in a

[2018-06-11 14:42] jvegasbsc commented on #391
Ok. They fixed a bug I was exploiting to overwrite the fill value of a variable: they were not allowing to change it individually but not when setting all attributes using a dictionary.

I will need to complicate a bit the fix, but is not really difficult

[2018-06-11 14:55] valeriupredoi opened #407 "Iris 2.0 issue in plot.py"
contour(cube) from iris plot fails:

[code]

because of line 438 in plot.py:

change from netcdftime to cftime

Iris 2.1.0 has this change in and works finr with nc_time_axis

When we switch ESMValTool to iris 2.x -- we need to switch it to the latest 'x'
@bjlittle why is this not corrected in iris 2.0 but is corrected in 2.1.0?

[2018-06-11 14:58] valeriupredoi commented on #396
this is explained in https://github.com/ESMValGroup/ESMValTool/issues/407 and fortunately is not a conflict introduced by nc_time_axis but by iris/plot for iris 2.0

[2018-06-11 14:58] #396 closed

[2018-06-11 15:05] #384 closed

[2018-06-11 15:33] valeriupredoi commented on #403
@bouweandela yep, agreed, man, I added the iris label, it's just for bookkeeping for us here just in case someone hits this issue and doesn't know how to fix it. I emailed @bjlittle about it as well, am sure the Iris guys are aware of it nonetheless :)

[2018-06-11 15:36] valeriupredoi commented on #404
good catch, this is is a direct consequence of the cube not actually possessing a mask, I'll put the fix in

[2018-06-11 16:46] valeriupredoi commented on #404
this should fix it https://github.com/ESMValGroup/ESMValTool/commit/46051e78a35134e98e59c153dac719d0af9a0388

[2018-06-11 21:43] bjlittle commented on #403
@valeriupredoi There has been a bit of necessary churn in `iris` for various reasons.

To cut a very long story short, we've now cut `iris` version `2.1`, which unpins `matplotlib` to `2.2.2` and `numpy` to `1.14.3`. This will work with the latest `netcdf4` version `1.4.0` and pull in the new `cftime` package, which is a replacement for the `netcdf4.netcdftime` package which has been removed from

[2018-06-12 07:18] bjlittle commented on #407
@valeriupredoi See https://github.com/ESMValGroup/ESMValTool/issues/403

[2018-06-12 10:20] valeriupredoi commented on #403
@bjlittle thanks a bunch, man! Yes, we'll do that, once the switch from iris 1.13. So we'll go straight to 2.1 then. In factanything that uses nc-time-axis will not work unless the iris plot is changed or 2.1 is used, I had this issue on Friday with a diagnostic plotting and was quite bedazzled :grin:
I suggest keeping this issue and #404 open just as references for when we switch to 2.1. BTW 2.1

[2018-06-12 12:23] bjlittle commented on #403
@valeriupredoi No worries.

Also, slightly confused about you saying that `iris` version `2.1` is not working with `netcdf4` version `1.4.0`.

According to [travis-ci](https://travis-ci.org/SciTools/iris/jobs/390782073#L1007) on our latest `upstream/master` branch of `iris`... all is working just fine.

Infact, we've just added a `conda list --explict` to our `travis-ci` logging, so that you can e

[2018-06-12 12:29] #391 closed

[2018-06-12 13:24] valeriupredoi commented on #348
PR here https://github.com/ESMValGroup/ESMValTool/pull/410 guys

[2018-06-12 13:45] valeriupredoi commented on #403
hey @bjlittle have a looksee:

[code]
Not pretty :grin:

[2018-06-12 13:56] bjlittle commented on #403
@valeriupredoi Awesome, thanks.

We simply forgot to unpin `netcdf4` in the conda-forge `iris` recipe ... I'm on that right now!

Cheers :wink:

[2018-06-12 14:04] valeriupredoi commented on #403
whoopsy :grin:

[2018-06-12 14:12] bjlittle commented on #403
Yeah, guess we're human after all :stuck_out_tongue:

See https://github.com/conda-forge/iris-feedstock/pull/36

Cheers @valeriupredoi

[2018-06-12 14:17] valeriupredoi commented on #403
what, I thought iris is the precursor of Skynet :grinning: Cheeers @bjlittle

[2018-06-12 15:11] bjlittle commented on #403
@valeriupredoi My PR just got merged, so the fix should be available shortly from `conda-forge`.

[2018-06-12 16:29] mattiarighi commented on #347
GREAT! :clap: :clap: :clap:

[2018-06-12 16:30] mattiarighi commented on #347
Which model did you test?

[2018-06-12 16:59] valeriupredoi commented on #347
GFDL ESM2G, I also have IPSL data but that has a strange plev coordinate -
zoom_plev19_ta and the cmor check is losing its mind

Dr Valeriu Predoi.
Computational scientist
NCAS-CMS
University of Reading
Department of Meteorology
Reading RG6 6BB
United Kingdom

On Tue, 12 Jun 2018, 17:30 Mattia Righi, <notifications@github.com> wrote:

[2018-06-12 19:10] #219 closed

[2018-06-12 19:10] #310 closed

[2018-06-12 22:29] bjlittle commented on #403
@valeriupredoi The fix is now available from `conda-forge`.

Let me know if this resolves your issue.

[2018-06-13 07:28] mattiarighi commented on #250
Testing now.

[2018-06-13 08:08] jvegasbsc commented on #361
I think we should keep this public. Here at BSC we have a couple of projects in which can be useful.

I will update the documentation

[2018-06-13 08:22] jvegasbsc opened #411 "Start talking of datasets instead of models"
There is one thing in the namelists that bothers me: we name all data inputs options as if they were always models, even the additional_models and reference_models that usually are observations or reanalysis. I think we should start talking of datasets instead, to avoid confusions.

I know this may seem really minor compared to all the issues we have to solve yet, but this is the kind of change th

[2018-06-13 08:29] mattiarighi commented on #411
Good point. Let's discuss this next week.

[2018-06-13 08:30] #392 closed

[2018-06-13 08:43] bouweandela commented on #411
Having a good name for a single variable from a single model/observation would also help make the code much more readable. I'm not sure if dataset is such a great name though, because it's still pretty vague (and for me at least, confusion is possible with a netCDF4 [Dataset](http://unidata.github.io/netcdf4-python/#netCDF4.Dataset)).

[2018-06-13 08:50] jvegasbsc opened #412 "Readthedocs build timing out randomly"
Building time to the documentation is really close to ReadTheDocs maximum and this is causing random failures in the documentation auto-build procedure.

I will try to find a way to optimize the procedure, because I think we may be processing the NCL files multiple times.

[2018-06-13 08:56] bouweandela commented on #399
@bjlittle Maybe you can comment on this? The [iris 1.13 conda package requires cf-units < 2](https://github.com/conda-forge/iris-feedstock/blob/iris_1.13/recipe/meta.yaml), but it seems to work fine with cf-units 2. Also, from [the release notes of cf-units 2](https://github.com/SciTools/cf-units/releases/tag/v2.0.0) it looks like there are not problems to be expected from upgrading from cf-units

[2018-06-13 09:01] bouweandela commented on #412
Creating a conda environment is very time consuming, could that be the cause of the problems? It might be better to mock the python packages installed via conda (see environment.yml, at the moment iris, stratify and basemap) and build the documentation without conda.

[2018-06-13 09:22] jvegasbsc commented on #412
Conda is part of the problem, yes. Usually it takes half the time consumed, and some of the failed builds are caused by it taking longer than normal.

[2018-06-13 09:37] bouweandela commented on #412
Here's advice on how to mock out modules when building: http://docs.readthedocs.io/en/latest/faq.html#i-get-import-errors-on-libraries-that-depend-on-c-modules

[2018-06-13 10:05] bouweandela commented on #316
It looks like this is not just a problem with python diagnostic scripts, but with diagnostic scripts in any language.

I think the approach proposed by @mattiarighi is good, but we may not be able to use CircleCI for it, except for the most simple cases, because they provide a limited amount of compute in their free plan. They do have paid options though, where this would be possible.

https://git

[2018-06-13 10:17] valeriupredoi commented on #403
it do indeed:
[code]
cheers @bjlittle and the other ```iris``` eggheads :grin:

To be absolutely nitpicky, it would be nice if you guys pinned netcdf4=1.3.1 for iris=2.0 so people don't get confusado, at the moment with netcdf4=1.4 it will revert to iris 2.0 but not to netcdf4=1.3.1:

[code]

[2018-06-13 10:38] bouweandela commented on #78
Related issue that addresses part of this task https://github.com/ESMValGroup/ESMValTool/issues/228.

[2018-06-13 10:49] bouweandela commented on #244
I could start working on implementing this, but have some questions:
1. Is combining two experiments the only use case, or do you want this to work more generally?
2. What to do if the experiments specified overlap in time? Or does this never happen?

[2018-06-13 10:56] bouweandela commented on #269
Is this still an issue? Or can it be closed?

[2018-06-13 10:57] mattiarighi commented on #244
1. I think `exp` is the only use case, I can't think about any other model key that could be combined in a time-series (like `ensemble` or `mip`)
2. I would not exclude this case, it also depends on how the data are structured on the specific system (remember for example #314). In this case I would give priority to the first experiment in the list and this should be reported in the log.

I tag @be

[2018-06-13 11:00] #234 closed

[2018-06-13 11:08] valeriupredoi commented on #348
PR #410 merged, branch deleted, issue closed, dogs walked

[2018-06-13 11:08] #348 closed

[2018-06-13 11:14] ledm commented on #387
Hi @jvegasbsc,

thanks for the reply. The parts about the `allvars` are very helpful. However, I'm finding the generic_level problem to be somewhat intractable.

Unfortunately, I'm not finding this to be an adequate solution.

At your suggestion, I've added the following lines to the `allvars` call in the `fix_metadata` function:

[code]

I have also verified that these lines are active and are be

[2018-06-13 11:22] jvegasbsc commented on #244
I think this may be useful also for observations, but in this case probably we will need lots of flexibility, as I can imagine wanting to concatenate very different datasets. It is not required now, but if you see that adding more flexibility is not more difficult it can come in handy in the future

[2018-06-13 11:35] valeriupredoi commented on #407
iris 2.1 and nc_time_axis (installed as ```conda install -c conda-forge nc-time-axis```) completely solve this problem; iris 2.0 or 1.13 are not usable in this case; running autoassess diags (and any plotting that will use nc_time_axis from iris/plot will have to be done in iris 2.1). Closing this issue and requiring these deps for the autoassess branch in ESMValTool. Cheers @bjlittle for the assi

[2018-06-13 11:35] #407 closed

[2018-06-13 11:37] valeriupredoi commented on #404
how's this looking for you @bouweandela ? Ready for closy-close?

[2018-06-13 11:43] valeriupredoi commented on #403
am gunna close this, @bjlittle and the iris gang, great job, but pls bear in mind the last comment above :)
point to us -- go straight to iris 2.1+ when switching from 1.13

[2018-06-13 11:43] #403 closed

[2018-06-13 13:12] mattiarighi commented on #250
It works as expected. Thanks!

Go ahead with the PR and let @bouweandela check it.

[2018-06-13 13:15] valeriupredoi commented on #250
terrific! cheers @mattiarighi

[2018-06-13 13:46] jvegasbsc commented on #387
Can you try substituing this
[code]

with this

[code]

[2018-06-13 13:52] ledm commented on #387
Unfortunately, this does not resolve the problem described above.

[2018-06-13 14:56] valeriupredoi commented on #347
yo guys @mattiarighi I created a new branch ```REFACTORING_CMIP6``` and made a few basic code changes (add-ons actually, origin in version2_development) and a test namelist: https://github.com/ESMValGroup/ESMValTool/blob/REFACTORING_CMIP6/esmvaltool/namelists/namelist_cmip6_test.yml -- the namelist works fine with those two GFDL models. I have limited CMIP6 data but am trying to grab me some more

[2018-06-13 15:10] bouweandela commented on #127
@mattiarighi Your codacy setup is still alive and causing confusion, can you please remove it?
https://app.codacy.com/project/mattiarighi/ESMValTool/dashboard

[2018-06-13 15:13] bouweandela commented on #237
The confusion about Codacy appears to be caused this issue #127. The branches `version2_master` and `version2_development` should be enabled in this Codacy project:
https://app.codacy.com/project/ESMValGroup/ESMValTool/dashboard

[2018-06-13 15:17] bouweandela commented on #237
@bjoernbroetz I've assigned you as @mattiarighi thinks you might be the/an administrator of the ESMValGroup Codacy organization.

[2018-06-13 15:30] bouweandela commented on #404
Thanks, it works now. Next time please create a pull request instead of directly committing to the development branch.

[2018-06-13 15:31] valeriupredoi commented on #404
crap, did I? Sorries @bouweandela

[2018-06-13 16:17] valeriupredoi commented on #347
things don't look too bad so far - I've tested with these models:

  - ta_Amon_GFDL-CM4_piControl_r1i1p1f1_gr1_000101-000512.nc -- works fine!
  - ta_Amon_IPSL-CM6A-LR_historical_r1i1p1f1_gr_185001-185012.nc -- weird plev coord name: zoom_plev19_ta, cmor fixes fails because it can't find it in the cmor table
  - ta_Amon_GFDL-ESM2G_piControl_r1i1p1f1_gr1_000101-000112 -- works fine!
  - ta_Amon_CNR

[2018-06-13 18:13] #363 closed

[2018-06-13 18:13] #371 closed

[2018-06-14 07:04] mattiarighi commented on #237
@bjoernbroetz is not the admin, and I'm not either apparently.
@nielsdrost, do you have admin rights on codacy?

[2018-06-14 07:52] duncanwp commented on #232
Hey, if you're interested in reading the observations into Iris cubes now, rather than reformatting on disk you could use [CIS](https://github.com/cedadev/cis). It was designed to do exactly this and has a simple plugin system for fixing all the things like metadata and coordinate systems in these datasets, see e.g. http://cis.readthedocs.io/en/stable/plugin_development.html.

I'd be very happy to

[2018-06-14 08:34] jvegasbsc commented on #411
I agree with you. In general, we should discuss this not only for the "model" ones but also for all the namelist options in general, as they will be more or less fixed after the alpha release

[2018-06-14 08:52] nielsdrost commented on #237
@axel-lauer and myself are admin. I'll leave it to @axel-lauer to decide if/who needs to be added to te admin list. I've turned on the two additional branches.

[2018-06-14 10:04] nielsdrost opened #415 "Use a more descriptive term than namelist for the ESMValTool config file"
Inspired by https://github.com/ESMValGroup/ESMValTool/issues/411, perhaps it would be good to discuss the term "namelist". Inside this project it is perfectly clear what we mean, but for new users this is confusing.

For those that to not know, namelist is Fortran-speak for a configuration file:

https://gcc.gnu.org/onlinedocs/gfortran/Extensions-to-namelist.html

Ideas for a replacement term:

-

[2018-06-14 10:21] jvegasbsc opened #416 "R style guide"
Now that the NCL checker is ready, it's time to discuss about the R diagnostics style guide.

Unfortunately, there is no equivalent to PEP8 for R, but that not means that there is no options available. You can see some of them at https://stackoverflow.com/questions/5117359/any-r-style-guide-checker

I think we must choose one and implement it before of the release of alpha version.

[2018-06-14 14:13] jvegasbsc commented on #399
For the moment, I will revert partially the changes in #367 to add again our simplification of the calendar, but also I will made 'gregorian' the default to be fully compatible with cf-units 2.

Once we can move again to cf-units2, we will just delete again our simplification function and everything should work seamlessly

[2018-06-14 14:20] valeriupredoi commented on #347
OK -- IPSL now works as well, I had to introduce a fix for metadata (don't know what was in their mind when they CMORized it, if they ever did proper): https://github.com/ESMValGroup/ESMValTool/commit/03dd7f6889182024a9ba9cec57fde435844434d5 @jvegasbsc @mattiarighi can you guys have a look and pls let me know if the fix looks good (never plugged fixes in ESMValTool before) -- I tested it and it wo

[2018-06-14 15:02] mattiarighi commented on #347
`prw` is water vapor content in kg/m2, it is a T2Ms field (basically the water vapor column).
This variable is included in `namelist_flato13ipcc.xml` in v1.1.0.

[2018-06-14 15:44] valeriupredoi commented on #347
@mattiarighi  Danke schoen! I will test with that tomorrow, for now ```namelist_cmip6_test.yml``` is the first multimodel (test) namelist that fully works with CMIP6 data. here is a plot to prove I am not BS-ing :grin:
[ta_cycle_monthlyclim__Glob.pdf](https://github.com/ESMValGroup/ESMValTool/files/2103036/ta_cycle_monthlyclim__Glob.pdf)

[2018-06-14 16:24] #237 closed

[2018-06-15 11:58] valeriupredoi commented on #404
we good to close this? @bouweandela

[2018-06-15 12:04] valeriupredoi commented on #378
@jvegasbsc you the CMOR main man, man

[2018-06-15 12:06] valeriupredoi commented on #329
@bouweandela I shall have a look at this next week at ze workshop, better to ask in person if we'll ever need this or that black/function than deleting then recoding :grin:

[2018-06-15 12:14] valeriupredoi commented on #290
@mattiarighi @jvegasbsc I reckon a standard solution if we perform cube subtractions/sums/... would be to regrid one on another (if there is no regridding done at all), that way we ensure consistency between spatial coordinates

[2018-06-15 12:41] ledm commented on #378
Hi @valeriupredoi,

@jvegasbsc and I have been discussing the CMOR stuff in [issue #387](https://github.com/ESMValGroup/ESMValTool/issues/387). From what I can tell, the issue is that the CF standard used in iris is not compatible with the CMOR standard used in ESMValTool. Any ideas?

[2018-06-15 12:56] valeriupredoi commented on #378
@ledm can you send me a path to such a file pls (preferably BADC)

[2018-06-15 13:01] mattiarighi commented on #290
Regridding looks a bit overkill for this case, I would still prefer the fix in the coordinate.

It is a cleaner solution since it does not modify the original variable data, but only the coordinates. This can be a relevant issue, in particular if the user explicitly sets `regridding: none` in the namelist.

[2018-06-15 13:08] valeriupredoi commented on #290
@mattiarighi ```regrid: none``` and different MxN grid dimensions will result in complete failure of intercube operations; ```regrid: none``` with identical MxN grid dimensions will still be potentially problematic if the grid centers are not identical -- something that may cause (lat, lon) points to differ order dgrees and not only 1e-6 degrees, hence my suggestion to regrid to a common grid, for

[2018-06-15 13:11] mattiarighi commented on #290
True, but this would also slightly change that variable data, even when this is just a numerical error in the coordinates (as the case I mentioned above).

Maybe the results will be similar in the end, but conceptually I believe that the coordinate should be fixed without changing the variable data.

[2018-06-15 13:16] valeriupredoi commented on #290
OK, agreed, it's a case of balancing an error introduced by interpolation vs an error introduced by tweaking a grid point and keeping fixed the variable value attached to that grid point -- can we set a threshold e.g. if the delta((lat1, lon1) - (lat2, lon2)) is smaller than say double precision then we tweak the grid or not, we regrid?

[2018-06-15 13:16] ledm commented on #378
An good example of a file would be:
/badc/cmip5/data/cmip5/output1/CCCma/CanESM2/historical/mon/ocean/Omon/r1i1p1/latest/thetao/thetao_Omon_CanESM2_historical_r1i1p1_200101-200512.nc

This is 3D temperature for the CanESM2 model. I've been using this file for many of my recent tests.

[2018-06-15 13:19] valeriupredoi commented on #378
cheers! am grabbing it and having a looksee right now

[2018-06-15 13:33] mattiarighi commented on #290
If the coordinate system of two variable from the same model/exp/mip/ensemble differ, it is always an error, independently of the delta.

A specific fix for each case is the right solution, in my opinion, also because such cases are not very common I think.

[2018-06-15 14:09] valeriupredoi commented on #378
@ledm @jvegasbsc good news, fellas, depth level selection works seamlessly in ESMValTool with that file that @ledm provided me! I only had to change the CMIP5_Omon CMOR table under the ```thetao``` variable: ```dimensions:        longitude latitude depth_coord time```

[2018-06-15 14:14] valeriupredoi commented on #378
the thing is in the CMOR table ```generic_levels:   olevel``` is not defined, but I think in this case, the variable needs a purposely defined depth level just as ```plev``` in the atmospheric case ```plev17``` or ```plev19``` for CMIP6

[2018-06-15 14:30] valeriupredoi commented on #378
also note one thing -- the netCDF file was built with CMOR version ```:cmor_version = "2.5.4"``` whereas the minimum CMOR version imposed by the ESMValTool table is ```cmor_version: 2.6 ! minimum version of CMOR that can read this table``` so this may explain why the table has to be modified to work with this file

[2018-06-15 15:33] valeriupredoi commented on #378
OK fellas, I dug deeper in this crap: to be able to use the generic axis one needs to set:

```cube.coord('depth').attributes['generic_level'] = True```

but this will fail at saving stage to netCDF format because of netcdf4 > 1.2; now, to install netcdf4=1.2.4, one needs to downgrade hdf5 from 1.10 to 1.8.17 (anything equal or above 1.8.18 will not work); now, to downgrade to hdf5=1.8.17, you nee

[2018-06-15 15:44] ledm commented on #378
Sounds like a nightmare!

Also, we'd need to apply these changes needed to the other CMOR tables containing the olevel field. Do we need to look at the cmip6 tables too?

[2018-06-18 08:03] DSenftleben opened #418 "PORTING namelist_SeaIce into v2.0"
This is to keep track of the porting of namelist_SeaIce and its diagnostics to EMSValTool v2.0.0

[2018-06-18 10:15] jvegasbsc commented on #378
I've been reviewing all the code for the generic levels, and probably we were trying to be to clever. We have a check for the rank and the generic level checking was only trying to add another layer of security by checking the axis.

I think we should forgot about this and just ignore the check on the generic levels, also because in fact CMOR does not force them to meet any standard, not even name

[2018-06-18 10:19] jvegasbsc commented on #378
Abot CF and CMOR, CMOR is more restrictive than CF. All CMOR files are CF-compliant but this is not true the other way around

[2018-06-18 10:34] mattiarighi commented on #378
I think force renaming of the coordinates to a common one is a good idea, for the reason you mentioned.
This should apply also to time, lat and lon (some models are using `latitude`).

[2018-06-18 10:41] valeriupredoi commented on #378
@ledm there are such metadata dysfunctions in CMIP6 as well (see for example IPSL metadata that has negative longitueds and latitudes with reverse order https://github.com/ESMValGroup/ESMValTool/blob/REFACTORING_CMIP6/esmvaltool/cmor/_fixes/CMIP6/IPSL_CM6A_LR.py) -- it would be great f you could have a look at the same types of data you are looking in CMIP5 but in CMIP6 if they and when they becom

[2018-06-18 13:16] bjlittle commented on #399
@bouweandela Apologies for the tard response ...

I'm kinda surprised that `iris` version `1.13` would work with `cf-units` version `2+`...

When it comes to dealing with time the `iris` version `1.13` code will be expecting to deal with `netcdftime` objects, but `cf-units` is building using `cftime` not `netcdftime`, hence the pin back on `netcdf4 <1.4`

So in the main, `iris` version `1.13` may

[2018-06-18 13:31] bouweandela commented on #399
@bjlittle Thanks for the explanation. I guess we just haven't used the cases where it goes wrong so far.

[2018-06-18 13:34] koldunovn opened #421 "PORTING APPLICATE namelist to version 2"
First aim is to reproduce behaviour of the diagnostic in the second version. Secong aim is to refactor the diagnostic

- [x] Make new backend work with my files on DKRZ
- [x]  Create sample 3d ocean variable.
- [x] Make vertical profiles work
- [x] Make hofmouler work
- [x] Make TS plot work
- [x] Make AW related things work
- [x] Make 2D interpolation and ploting work
- [x] Make transects work
-

[2018-06-18 14:42] valeriupredoi commented on #230
hey guys, I've just started looking into this just today -- I grabbed MPI-ESM-LR/MR files for ```sic``` variable and had a first looksee through the files. Data has shape = (time, len(i), len(j)) where (i, j) represent  the indices along (dim1, dim2), in this case (lat, lon). The metadata comes with a set of (lat, lon) as well, as AuxCoords but len(j) differs from len(lon) (whereas len(i) = len(la

[2018-06-18 14:47] jvegasbsc opened #422 "Simplify model definitions"
Take a look at this section of one namelist
[code]

There is lots of duplicated info between entries, making maintenance painful. I think we should look
for a way to simplify this syntax.

By the way, having so many similar entries make it difficult to spot the real differences between model configurations

[2018-06-18 15:41] #290 closed

[2018-06-18 15:42] #186 closed

[2018-06-18 16:03] schlunma commented on #352
Current progress:

The diagnostic is now working properly, but there are still issues with two models:

- [ ] `ACCESS1-0`: The preprocessor fails because it throws a `ValueError: day is out of range for month` in the file`esmvaltool/cmor/check.py`.

- [ ] `MIROC-ESM`: The preprocessor crashes because `check_data` in `esmvaltool/cmor/check.py` throws an `AttributeError: 'NoneType' object has no att

[2018-06-19 06:36] mattiarighi commented on #352
Please ask @jvegasbsc, maybe a model specific fix is needed for these 2 models.

[2018-06-19 08:02] tillku commented on #230
@valeriupredoi @ledm Generally, the question of how to correctly interpolate data from the irregular grids of some ocean models to regular (lat-lon) grids has been hotly debated in the ocean modelling community for a long time. Some people would like to do an interpolation (e.g. us a for a meaningful intercomparison of several CMIPi models), and other people object to it because any interpolation

[2018-06-19 08:22] fdiblen commented on #416
This looks like a good option.
https://github.com/jimhester/lintr

[2018-06-19 08:26] mattiarighi opened #423 "Implement fx paths"
- [x] extend `config-developer.yml` with machine-dependent path to fx variables (similar to ìnput_dir`)
- [x] write a function to find the path to the fx files
- [x] make the file paths available to the diagnostics (for example using `<var>_info.ncl` / `metadata.yml`)
- [x] write ncl function for reading the fx variable within the diagnostics

[2018-06-19 08:32] tillku commented on #230
one more thought @valeriupredoi : if you len(j) and len(lon) differ by only 1 or 2, it could be a wrap-around thing? in that case, if we assume len(j) is that bit larger, the first and last values are identical perhaps?

[2018-06-19 08:37] ledm commented on #378
Just writing to confirm that removing the call to `report_error` in the `generic_level` check in cmor/check.py.

I'm happy with this solution, and if it doesn't cause trouble elsewhere, I'm happy to call this issue closed.

[2018-06-19 08:43] fdiblen commented on #6
Created Anaconda channel.
https://anaconda.org/esmvalgroup

[2018-06-19 08:45] jvegasbsc commented on #416
Yes.  We can integrate it into our tests by using rpy2 http://rpy2.readthedocs.io/en/version_2.8.x/

[2018-06-19 09:03] koldunovn commented on #230
We have just discussed with @valeriupredoi different ways of interpolation. I will just live here several links  that can be useful in this respect:
[Interpolation between grids with Basemap](http://earthpy.org/interpolation_between_grids_with_basemap.html)
[Interpolation between grids with cKDTree](http://earthpy.org/interpolation_between_grids_with_ckdtree.html)
[Interpolation between grids with

[2018-06-19 09:07] bouweandela commented on #230
It would be best if the regridding could be done through iris, possibly using one of those packages. @bjlittle Can you say something about this?

[2018-06-19 09:14] #404 closed

[2018-06-19 09:14] mattiarighi commented on #378
I've tested it with another nml and it does not break anything.

[2018-06-19 09:14] #378 closed

[2018-06-19 09:21] BenMGeo opened #424 "Add time format information about zone"
It is confusing to see output like:

`2018-06-19 11:14:39,068 [17898] INFO    Starting the Earth System Model Evaluation Tool v2.0.0 at time: 2018-06-19 --  09:14:39 ...`

Maybe we can specify the respective time format.

[2018-06-19 09:21] bouweandela commented on #194
This issue is related to #360

[2018-06-19 09:21] valeriupredoi commented on #230
hey guys, cheers muchly for the input -- great responses! I am thinking a simple interpolation will do for now, and then we can get to more complex solutions starting from this. @bouweandela iris has an interpolator: https://scitools.org.uk/iris/docs/v2.0/userguide/interpolation_and_regridding.html but am not sure how well it works for a case like ours, I have never used it myself. @bjlittle is th

[2018-06-19 11:05] bouweandela opened #425 "Add descriptive error message if the executable bit is set on diagnostic script but diagnostic script is not actually executable"
Add descriptive error message if the executable bit is set on diagnostic script but diagnostic script is not actually executable.

[2018-06-19 11:20] jvegasbsc commented on #387
Can you try with version2_development branch? This should be fixed now

[2018-06-19 11:49] bouweandela opened #428 "Make user configuration file more user friendly"
- Do not use the template as a default because it never works
- If no config file is suppllied, look if a file ~/.esmvaltool/config-user.yml exists and use that
- If it doesn't exist, create it and tell the user to customize it (at least the paths section)

[2018-06-19 12:11] zklaus opened #429 "PORTING flato13ipcc_14.xml into v2.0"

[2018-06-19 12:32] fdiblen commented on #343
Quick note:
anaconda R package
conda install -c r r-base

[2018-06-19 12:53] mattiarighi commented on #423
For `OBS`, I would suggest the following `fx_file`
`[project]_[model]_[type]_[version]_fx_[var].nc`

We can change it later if we come up with a better idea.

[2018-06-19 13:12] bouweandela commented on #424
It's UTC, we can add that to the log message. We may also want to consider settings the logger to UTC, as that will prevent the confusion from seeing two different times listed.

[2018-06-19 13:23] schlunma commented on #352
This can be merged now. As discussed with @jvegasbsc I excluded the model `ACCESS1-0` and wait for iris v2.0. See pull request no. 68 in the private repository.

[2018-06-19 13:54] ruthlorenz opened #431 "PORTING namelist_collins13ipcc to version 2.0"
Issues regarding porting of ipcc chapter 12 (projections) diagnostics to version 2.0

[2018-06-19 14:15] #424 closed

[2018-06-19 14:15] bouweandela opened #433 "Resource usage logger broken in Python 2"
The resource usage logger does not work in Python 2, execution fails with the following stack trace:

[code]

[2018-06-19 14:17] koldunovn opened #434 "Add flag in run_diagnostic to overwrite exiting files"
Now in the `run_diagnostic` function, there is a possibility to use `-f` flag, that results in deleting everything from the output directories.

I suggest adding another flag, that instead of deleting will overwrite existing files. It would become handy if one does not want to repeat long expensive calculations that are outputted to the files. In this case, the user can control through the setting

[2018-06-19 15:18] #425 closed

[2018-06-19 15:49] mattiarighi commented on #415
After a short brainstorming, "recipe" seems to be the preferred alternative.

[2018-06-20 06:46] mattiarighi commented on #411
Outcome of the discussion:

- we agree that `models` has to be changed for the reasons noted above
- several proposals were made, all of them with pros and cons
- `datasets`, despite the ambiguity it may have in some contexts (e.g. NetCDF, ESGF), is still the preferred solution and the most intuitive name for most users

@ESMValGroup/esmvaltool-coreteam

[2018-06-20 07:20] amarjiitpandde opened #440 "systemfunc is causing random errors"
Hello all,
I am using ESMValTool (1.1) on Ubuntu(16.04) on Windows 10 WSL, I downloaded NCL(6.4) from anaconda (Conda-forge). After ESMValTool installation (clone from GitHub), I ran the test runs for SA-Monsoon, which ran without any major error(fatal), I have attached the screenshot below for some warnings which were thrown. Now, I am trying to run other namelists and it is throwing errors in ma

[2018-06-20 08:49] bouweandela commented on #423
Add to `_initialize_variables`: `variable['fx_files'] = _get_input_fx_files(variable, config_user)`
and this function should return a dictionary looking like this:
[code]

[2018-06-20 09:00] zklaus opened #441 "Namelist version 1 to version 2 converter"
It would be nice to have a converter for namelists.
Since they are in the well structured xml format it might be possible to exploit that.

[2018-06-20 10:42] cehbrecht opened #444 "esmvaltool conda package contains docs"
... which makes the conda package quite big (90 MB currently). I'm using the conda esmvaltool package as a dependency. Testing on travis would run a bit faster with smaller packages.

[2018-06-20 10:48] bouweandela opened #445 "Write diagnostic output to stdout when running tasks sequentially"

[2018-06-20 10:52] bouweandela opened #446 "Create CONTRIBUTING.md, update README.md/install.rst"
Create a CONTRIBUTING.md file with a quickstart guide and advice on how to start developing. Most of the information is at the moment in README.md.

Also make sure that the information in doc/install.rst is up to date and in line with README.md and CONTRIBUTING.md

[2018-06-20 10:57] bouweandela opened #447 "Integrate dummydata into esmvaltool.testing module"
For testing namelists, we rely on the dummydata package to generate test data on systems where the real data is not available. At the moment we install the dummydata package via environment.yml from our github fork. This is rather hacky and it was decided some time ago that we would include the required dummydata code into esmvaltool. This should go into a new module called `esmvaltool.testing`.

[2018-06-20 10:58] bouweandela opened #448 "Run unit tests when creating conda package"
This will probably require adding a test section to meta.yaml: https://docs.conda.io/projects/conda-build/en/latest/resources/define-metadata.html#test-section

[2018-06-20 11:04] bouweandela opened #449 "Use namelists from namelist folder by default"
If the path to the namelist does not exist, the `esmvaltool` program should look in the esmvaltool/namelists directory to see if it can find it there. This will make it possible to run the namelists with an installed version of the tool.

[2018-06-20 11:09] bouweandela opened #451 "Switch to iris 2"
At the moment we are still using iris 1.13 because of issue #318. We would like to switch to iris 2 because the expectation is that iris 1.13 will not be maintained indefinitely.

[2018-06-20 11:29] LisaBock commented on #240
We made a first suggestion for the structure of the provenance with the prov library. The visualization could look like this:
![article-prov](https://user-images.githubusercontent.com/25476740/41654964-a0ea5ee2-747a-11e8-9875-676a2e599ac1.png)

[2018-06-20 12:03] BenMGeo commented on #238
We should include in the checker that no windows incompatible directory names are set by developers/users. Otherwise the aux-issue might come up with future pull-requests.

List of windows reserved directory names:

https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247(v=vs.85).aspx

Do not use the following reserved names for the name of a file:

CON, PRN, AUX, NUL, COM1, COM2, COM3,

[2018-06-20 12:21] bouweandela commented on #238
Have you actually been able to run esmvaltool on windows? If so, which version?

[2018-06-20 12:45] schlunma commented on #352
The general non-diagnostic-related parts of this issue are addressed in #454.

[2018-06-20 12:48] bjoernbroetz opened #455 "PORTING CVDP diagnostic to version 2"
There is a recent release of the CVDP package (5.0.0) available:
http://www.cesm.ucar.edu/working_groups/CVC/cvdp/code.html

Clarification needed in terms of:
* License compatibility
* Dependencies

[2018-06-20 13:08] #250 closed

[2018-06-20 13:13] koldunovn commented on #230
Sorry for double posting to some of you. Here is what is available now in iris:
https://scitools.org.uk/iris/docs/latest/iris/iris/experimental/regrid.html

The functions are experimental for now.

I would still go for solutions like `pyresample` or especially `ESMPy` since they are more general. For them, it does not matter if the original data are on regular or the curvilinear grid (or unstructu

[2018-06-20 14:32] BenMGeo commented on #238
No, but maybe for future (future-future) releases, we can already make sure you do not have to rename directories and check calls in scripts.

[2018-06-20 14:47] mattiarighi opened #457 "Clean documentation directory"
The `doc/` directory still contained mixed v1 and v2 documentation file.
This should be cleaned, keeping only v2 files and update them where necessary.

[2018-06-20 15:01] jvegasbsc commented on #238
Remember the case that started the issue

[2018-06-20 15:04] jvegasbsc commented on #238
I will prepare a test for it and another to avoid having files that only differ in capitalization, which creates a bunch of problems in OSX

[2018-06-20 15:23] bouweandela opened #458 "Provide diag_script directory via environmental variable to R and NCL"

[2018-06-20 15:29] #411 closed

[2018-06-20 15:29] #415 closed

[2018-06-20 15:36] mattiarighi commented on #249
Does #452 fix this?
We now renamed models to datasets and therefore `reference_model` is now `reference_dataset`.

[2018-06-20 15:39] mattiarighi commented on #360
I think it would be easier if the author of each module could take care of the documentation (like @jvegasbsc did for the cmor module in #456).

I will start taking care of the overall version2 documentation as part of #457.

[2018-06-20 15:41] mattiarighi commented on #422
After yesterday's discussion it looks like it's not a high priority issue, so we can remove the workshop label.

[2018-06-20 16:07] bouweandela commented on #360
In that case it would be good to make a list of who wrote which module, we have:
- derive
- download
- io
- mask
- multimodel
- reformat
- regrid
- time_area

[2018-06-20 16:10] bouweandela opened #463 "Observation data not found"
After merging PR #414, observation data is no longer found by the `esmvaltool._data_finder` module. This issue can be reproduced by running one of the example namelists.

[2018-06-20 16:26] bouweandela commented on #463
[code]

[2018-06-21 04:57] amarjiitpandde commented on #440
closed by mistake.

[2018-06-21 06:23] #458 closed

[2018-06-21 07:08] mattiarighi commented on #463
This should be solved by adding again the try/except when defining the variable `insts` around line 128.

[2018-06-21 08:19] bouweandela opened #467 "Provide convenience function to select by model/variable"
To the Python diagnostic, as suggested by @zklaus.

[2018-06-21 09:02] #463 closed

[2018-06-21 09:31] schlunma commented on #467
I tried to implement a similar functionalities in [this](https://github.com/ESMValGroup/ESMValTool/tree/version2_basic_python_diagnostic) branch, but not finished yet.

[2018-06-21 09:49] #449 closed

[2018-06-21 11:29] earnone commented on #342
Example diagnostic in branch
[https://github.com/ESMValGroup/ESMValTool/tree/REFACTORING_example_r](https://github.com/ESMValGroup/ESMValTool/tree/REFACTORING_example_r)

with namelist
[https://github.com/ESMValGroup/ESMValTool/blob/REFACTORING_example_r/esmvaltool/namelists/namelist_example_r.yml](https://github.com/ESMValGroup/ESMValTool/blob/REFACTORING_example_r/esmvaltool/namelists/namelist_e

[2018-06-21 12:31] mattiarighi commented on #230
Outcome of the workshop discsussion on this topic:
- the first goal would be to have a regridding package for dealing with 2D variables on irregular grids (like `sic`)
- Iris does not provide such a method (yet)
- the ESMF package is the preferred alternative and it is well established
- @koldunovn @zklaus and @valeriupredoi will work towards a first implementation within the ESMValTool `.preproce

[2018-06-21 13:12] earnone commented on #342
The script was upgraded to latest changes: namelist --> recipe, model --> dataset

Find recipe (former namelist) here:
[https://github.com/ESMValGroup/ESMValTool/blob/REFACTORING_example_r/esmvaltool/recipes/recipe_example_r.yml](https://github.com/ESMValGroup/ESMValTool/blob/REFACTORING_example_r/esmvaltool/recipes/recipe_example_r.yml)

[2018-06-21 14:19] #238 closed

[2018-06-21 14:25] jvegasbsc commented on #416
I have prepared the tests with lintr for the R code. We must agree in which tests to enforce

@nmanuben @earnone , could you take a look to the defaults and suggests any modification we should made?

[2018-06-21 14:27] #361 closed

[2018-06-21 14:30] valeriupredoi opened #471 "Implement the use of fx files in preprocessor"
Right now fx files are found and part of the ```variable['fx_files']``` - we need to use them in Preprocessor. The script that does the fx mask application for ```sftlf``` is on this branch: https://github.com/ESMValGroup/ESMValTool/blob/versione2_fx_paths_with_applyfxModule/esmvaltool/preprocessor/_applyfx.py @bouweandela if you could link this to the fx files via the Preprocessor would be suuper

[2018-06-21 14:45] jvegasbsc commented on #416
Lintr can be tested using #470

[2018-06-21 14:49] DSenftleben commented on #418
Full namelist ported for northern hemisphere, but only for models with regular ocean grids. Waiting for horizontal regridding for irregular grids issue to be solved (issue #230).

[2018-06-21 16:28] mattiarighi opened #473 "PORTING namelist_anav13jclim to v2"
ToDo:

- [x] Irregular regridding of `tos` of GFDL-ESM2M fails (#761)
- [x] `nbp` and `lai` for IPSL-CM5B-LR depend on #703.
- [x] Provenance (#649)
- [x] Remove legacy code from version 1.1.0
- [x] CMORizer for GCP (#1398)
- [x] CMORizer for HWSD (#1392)
- [x] CMORizer for NDP (#1379)
- [x] CMORizer for JMA-Transcom (#1399)
- [x] documentation
- [x] add example plots
- [x] CMORizer output type (#

[2018-06-22 06:46] mattiarighi opened #474 "Large binaries in the repository"
Due to an erroneous [commit](https://github.com/ESMValGroup/ESMValTool/commit/33805b949a8bd52ed03ffa2a0e9d4767ff9d28f5) in #364, a large amount (~600 MB) of binaries landed in the repository.

Although they have been deleted by the next commit, they are still downloaded when cloning the repository.

A solution proposed by @bjoernbroetz allows to clean the data from the repository but requires an a

[2018-06-22 07:19] alasdairhunter commented on #342
Hi,
Many thanks for this example, I have been making modifications to my namelists and I will compare them with this example before making a pull request.

One questions: do we have any good examples of how to write a netcdf output file in R, with all the necessary metadata etc?

[2018-06-22 07:33] bjoernbroetz commented on #474
So the way to go here will be (as @bouweandela already wrote [here](https://github.com/ESMValGroup/ESMValTool/issues/364#issuecomment-391696746) ) to rewrite the history of that branch and then all of us should execute
[code]
on all our local clones.

[2018-06-22 07:34] jvegasbsc commented on #474
I have seen that we don have the usual binary formats in our .gitignore files.
I will add them and look for a way to prevent this from happening again in a more general way

[2018-06-22 07:38] bjoernbroetz commented on #474
A further measure to prevent us from committing large binary files to the repository could be to setup a pre-commit hook.

[2018-06-22 07:46] jvegasbsc commented on #474
Somehing like this https://stackoverflow.com/questions/7147699/limiting-file-size-in-git-repository?

[2018-06-22 08:07] ruthlorenz opened #476 "Pass settings information to diagnostic in case of ancestors"
When running diagnostic we need to be able to read settings file from current diagnostic AS WELL AS ancestor. At the moment I can only read either one. At the moment it only works if child does not contain variable, but other wise it is not possible to grab metadata from both.
e.g. I write a netcdf in ancestor, need to grab that file in child but child diagnostic also has variable, dataset, prepro

[2018-06-22 08:47] fdiblen commented on #342
Hi @alasdairhunter,

Maybe you can check the examples here:
http://geog.uoregon.edu/bartlein/courses/geog490/week04-netCDF.html

Please let us know when you are done with the comparison.

[2018-06-22 09:01] zklaus opened #478 "Update namelist version 1 -> recipe converter"
With #452 some concepts changed names and the converter needs an update.

[2018-06-22 09:18] bjoernbroetz commented on #364
The history of this branch was rewritten to remove the big binaries. Furthermore, the diagnostic-files were placed in the appropriate place according to the new folder structure in version 2.

[2018-06-22 09:25] koldunovn opened #480 "fixes with `fix_data` presently do not work"
Applying `fix_data` to the variable at the `fix_data` preprocessor step results in:
[code]
The problem is that if math operation is applyed in the way it is done now in the fix files. e.g.:
[code]
 `iris` removes all global attributes after some mathematical operation is applyed on the cube (for whatever reason) and `save_cubes` from `preprocessor/_io.py` rely on the paths in `global attributes` o

[2018-06-22 09:30] fdiblen commented on #68
Updated the Dockerhub settings.
Dockerfile was updated in PR #481

[2018-06-22 09:34] fdiblen commented on #444
Fixed by  #482

[2018-06-22 09:34] #444 closed

[2018-06-22 09:43] bjoernbroetz commented on #474
The branch is fixed, see [here](https://github.com/ESMValGroup/ESMValTool/issues/364#issuecomment-399379323).
If you still have to run the `git fetch && git gc` on your local clone

[2018-06-22 10:49] bjoernbroetz commented on #474
Correction: Please, issue
[code]
on your local clone.

[2018-06-22 10:53] bouweandela opened #483 "Update documentation on how to use the docker image"
The dockerhub settings were updated in PR #481. However, the instructions on how to use esmvaltool still needs to be updated further for version 2.

[2018-06-22 11:36] mattiarighi commented on #457
Now it should be clean. The build is successful, but there a still a new warnings.

[2018-06-22 11:41] mattiarighi commented on #480
Is it affecting all fixes or just a specific one?

[2018-06-22 11:42] zklaus commented on #474
This can cause you to loose your stash, so `git stash pop` might not work anymore.
If you are not using `git stash` or make sure that there is no stash currently active, that is not an issue.

[2018-06-22 11:56] koldunovn commented on #480
@mattiarighi Should affect all fixes. I have tried two, both were broken.

[2018-06-22 11:57] zklaus commented on #474
If you already lost your stash you can find its commit (look for the blue stash label in gitk or try something like `git log stash`). Then with the hash you can do
[code]
to get the stash back and `git stash` to stow it away again.

[2018-06-22 12:12] zklaus commented on #474
For the developers @bjoernbroetz @jvegasbsc, [here](https://stackoverflow.com/a/42544963) is a stackoverflow answer that helps to find large objects in the repo.

[2018-06-22 12:13] bouweandela commented on #240
Work on this issue is done in the [`version2_provenance`](https://github.com/ESMValGroup/ESMValTool/tree/version2_provenance) branch.

[2018-06-22 13:25] mattiarighi opened #485 "NCL interface function to read fx-variables"
With PR #450, it is now possible to read fx variable (such as `areacello`, `sftlf`, `orog`, etc.) just by adding
the `fx_files` key to the variable dictionary in the recipe, for example:
[code]
(see also `recipe_preprocessor_test.yml`).

This will add the path to the selected fx-variable to the `metadata.yml` and `<var>_info.ncl` files in the `preproc/` dir.

The next step is to write an NCL Inter

[2018-06-22 13:30] bouweandela commented on #467
Also add a function to filter by key and by key+value.

[2018-06-22 13:52] schlunma commented on #352
[PR 68](https://github.com/ESMValGroup/ESMValTool-private/pull/68) in private repository now open.

[2018-06-22 14:49] #249 closed

[2018-06-22 15:01] mattiarighi commented on #243
According to the NCL documentation, multiple load statements do not add much to the computational burden. Implementing this feature seems to be not worthy the effort.

[2018-06-22 15:01] #243 closed

[2018-06-22 18:07] koldunovn commented on #421
Porting of the main functionality is done. Largest changes are in the treatment of PHC climatology. Amount of code "special" to climatology is minimized. Now to heavy refactoring of the code.

[2018-06-25 08:09] alasdairhunter opened #486 "Magic WP7: Wind capacity factor"
Description:
Tool to compute the wind capacity factor by extrapolating surface winds to 100 m winds.

Latest version:
 R script: https://github.com/ESMValGroup/ESMValTool/blob/MAGIC_BSC/esmvaltool/diag_scripts/MAGIC_BSC/capacity_factor.r
 Namelist: https://github.com/ESMValGroup/ESMValTool/blob/MAGIC_BSC/esmvaltool/recipes/recipe_capacity_factor_wp7.yml

Current status: The R script reads precompu

[2018-06-25 08:19] jvegasbsc commented on #480
The problem is that, if we want to have delayed operations, we must *not* use cube.data.

[2018-06-25 08:50] ledm commented on #474
I have run the commands:
`git gc
git reflog expire --expire=now --all &&  git gc --prune=now --aggressive
`
And also:
`git rev-list --objects --all \
| git cat-file --batch-check='%(objecttype) %(objectname) %(objectsize) %(rest)' \
| sed -n 's/^blob //p' \
| sort --numeric-sort --key=2 \
| cut -c 1-12,41- \
| numfmt --field=2 --to=iec-i --suffix=B --padding=7 --round=nearest
`
from the stack over

[2018-06-25 09:30] bjoernbroetz commented on #474
It is expected that the size of the local clone goes down to about the size of a newly cloned ESMValTool repository, i.e.: currently ca 144M (there are still some binaries there that will be removed later...)

If everything fails you could consider to create a new local clone.

[2018-06-25 10:56] valeriupredoi commented on #485
and I will implement today the actual preprocessor functionality to apply the fx masks in the preproc (after vertical level selection and before regridding), if the user wishes

[2018-06-25 11:00] valeriupredoi commented on #471
correction: I will do the preprocessor linking and actual mask application inside the preprocessor (start today) @bouweandela

[2018-06-25 11:04] valeriupredoi opened #487 "fx file retrieval for OBS"
This is not currently implemented. The strategy is as @mattiarighi mentions in #423 :-1:
[code]

[2018-06-25 11:11] mattiarighi commented on #487
If it works for the models, it should work out-of-the-box also for the obs.
We might need some renaming in our obs-data pool.

[2018-06-25 11:21] valeriupredoi commented on #474
guys, after a fresh git repo clone ```git fetch``` don't work no more and I suspect neither will ```git stash```. Bit of a bummer because I use them both...

[2018-06-25 11:22] valeriupredoi commented on #487
aye, @mattiarighi I will close the issue once we've tested and all looks to be a-okay!

[2018-06-25 11:30] zklaus commented on #474
Hej @valeriupredoi, could you be a little more specific? I just did a fresh clone followed by git fetch without a problem, so it does not seem to be a problem with the server repo per se.
What kind of error are you getting?

[2018-06-25 11:33] koldunovn commented on #487
@valeriupredoi I use it already for my OBS data, it works fine.

[2018-06-25 11:33] valeriupredoi commented on #474
hey @zklaus man, no error, git clone and followed it by git fetch and nothing shows up after git fetch, it returns to prompt

[2018-06-25 11:34] #487 closed

[2018-06-25 11:36] valeriupredoi commented on #487
excellent, cheers @koldunovn , closed shall remain then :grin:

[2018-06-25 11:47] zklaus commented on #474
Could it be that there simply is nothing to fetch? In that case there is no output and that is usually what you expect for a fetch right after the clone.

[2018-06-25 12:02] koldunovn commented on #480
Something like this seem to work in Iris2:
[code]
So after asighning `cube.core_data() * 100` the dask array in `cube.core_data()` has changed and include `mul` (I assume miltiplication operation). Judjing from the time the operation takes no real computations were performed. The `cube.data.max()` take some time to perform and return proper answer (max temperture in K multiplyed by 100). Other pro

[2018-06-25 13:49] valeriupredoi commented on #474
the verbose option works well and I can see the branches again cheers :grinning:

[2018-06-26 06:49] mattiarighi opened #489 "Filter Iris warnings?"
Would it be possible to filter Iris warning using `warnings`?
https://docs.python.org/3.1/library/warnings.html
They make the log on the stdout pretty verbose.

[2018-06-26 10:53] bouweandela commented on #489
After switching to iris 2 #451, most of the warnings should disappear. The ones that don't should probably be addressed instead of filtered.

[2018-06-26 11:07] #489 closed

[2018-06-26 15:47] mattiarighi opened #492 "Do not write empty arrays to settings.ncl"
If a NCL diagnostics is called without any input datasets (i.e., no `datasets` nor `additional_datasets` in the recipes, and also no ancestors), an empty array is added as attribute to `diag_script_info` in `settings.ncl`:
[code]
This notation is not valid and NCL would return an error when loading this file.

A simple solution would be to exclude this attribute if empty.

[2018-06-27 10:47] earnone commented on #342
@alasdairhunter we currently use something similar to what you find in this tool (also an ESMValTool diagnostic) under "Save to NetCDF":
[https://github.com/oloapinivad/MiLES/blob/master/script/block_fast.R](https://github.com/oloapinivad/MiLES/blob/master/script/block_fast.R)

but would like to refine it. Not very different from @fdiblen example. I agree, it would be good to have a reference "Sav

[2018-06-29 09:20] bouweandela commented on #480
A simpler solution might be to restore the cube metadata after applying the fix, i.e. do:
[code]

[2018-06-29 09:52] bouweandela commented on #492
Does this ever happen?

By the way, I learned some new NCL today and noticed that there a real list type: https://www.ncl.ucar.edu/Document/Manuals/Ref_Manual/NclVariables.shtml#ListVariables

Would it make sense to start using lists instead of arrays in the interface? It looks like a much more logical choice because it can contain mixed type objects (and can therefore be nested, i.e. a list can c

[2018-06-29 10:00] mattiarighi commented on #492
1. I've start porting the reformat scripts for observations from version 1 (see [this branch](https://github.com/ESMValGroup/ESMValTool/tree/version2_reformat_obs)). The way I'm implementing this is to run them as diagnostics and to have a dedicated recipe for this. The recipe contains anything but the script (no datasets, no preprocessing, no variables). And then I ran into this problem. We could

[2018-06-29 10:02] bouweandela commented on #486
What is small exactly? If the text files are really small, e.g. no more than a few kilobyte, they can just be stored in the esmvaltool/diag_scripts/MAGIC_BSC directory.

[2018-06-29 10:21] koldunovn commented on #480
@bouweandela Sure, this will work as well.

[2018-06-29 15:53] valeriupredoi opened #494 "Mixed-mip recipes dont work uless patching `_recipe.py`"
Recipes that need a number of mip's, e.g.: https://github.com/ESMValGroup/ESMValTool/blob/REFACTORING_autoassess/esmvaltool/recipes/recipe_autoassess_conservation.yml don't work with current `_recipe.py` because the mip is assigned by the code to `variable` dictionary and not kept from `raw_variable` dictionary. Patch is here: https://github.com/ESMValGroup/ESMValTool/pull/493/commits/b9686dc26080

[2018-07-02 12:53] bouweandela opened #495 "Allow specifying order of preprocessor steps from namelist"
Completely at your own risk. Once we have some experience with this option/recipes using this option, we could consider adding some checks.

[2018-07-02 13:21] bascrezee opened #496 "Handling of station data in ESMVal"
As part of C3S_511, data from the 'international soil moisture network' should be read and processed by ESMVal. As a first step, data needs to be cmorized, see #232. This issue/thread is meant to start a discussion with other contributors to ESMVal to find the best way to integrate station data and the collocation between station data and other (gridded) data within ESMVal. Currently, the collocat

[2018-07-02 13:47] fmassonn commented on #496
Don't forget to systematically add @arunranain in the tasks involving UCL,  please.
François

[2018-07-02 14:14] bouweandela opened #497 "Multi model statistics output not further preprocessed"
Issue reported by @ledm:

This previously was no problem because the multi model step was the final step. The reason that I did not implement further preprocessing steps on the multi model statistics cubes, is that there are no settings specified for those datasets in the recipe, so I'm not sure what preprocessor steps with what settings should be applied to them.

[2018-07-02 15:13] mattiarighi commented on #497
The datasets list should be updated after `multi_model_stats`, so that it contains MultiModelMean and/or MultiModelMedian as additional datasets.

In this way, every preprocessing step coming after `multi_model_stats` in the chain will be applied consistently to all datasets.

[2018-07-02 15:31] bouweandela commented on #494
The PR above should fix this issue. Note that there is an error in recipe https://github.com/ESMValGroup/ESMValTool/blob/REFACTORING_autoassess/esmvaltool/recipes/recipe_autoassess_conservation.yml that should be fixed as well before it actually works, this:
[code]
should be replaced by
[code]

[2018-07-02 15:43] bouweandela commented on #497
Not at the moment, now the settings used by the preprocessor are determined from the recipe before running anything and those settings are specific for each dataset, because some preprocessor steps depend on the dataset, e.g the [fixes](https://esmvaltool.readthedocs.io/en/version2_development/codedoc2/esmvaltool.preprocessor.html#esmvaltool.preprocessor.fix_file). I guess I could use those settin

[2018-07-02 15:49] mattiarighi commented on #497
The problem could be that multi_model is also somewhat dataset specific (due to the `exclude` key).

[2018-07-02 17:39] bouweandela commented on #494
In fact, I think this issue can be solved by just fixing the recipe. However, with the above PR you'll get a better error/log message.

[2018-07-03 09:05] bouweandela commented on #68
@fdiblen Could you have another look at this issue? It looks like dockerhub is still looking for the `docker` branch, because the build failed: https://hub.docker.com/r/esmvalgroup/esmvaltool/builds/bqerwwkn6y9khuddti5mtnu/

[2018-07-03 10:36] jvegasbsc commented on #480
I will look for a way of restoring all the metadata. Any help will be welcome, @bjlittle

[2018-07-03 10:45] jvegasbsc commented on #486
All the ones we have here are in total 14 MB (way more than five), but as they are related to specific model of wind turbines I expect this to grow in the future. I will talk with the people that is working here on this and search for a suitable strategy.

[2018-07-03 12:33] valeriupredoi commented on #494
@bouweandela you are absolutely correct, making the change in the recipe and removing the patch I put in works fine; the PR makes a nice addition to the error tho so yay. Cheers, dude!

[2018-07-03 14:20] valeriupredoi commented on #497
but `MultiModel[statistic]*.nc` files are part of the `dataset` list, together with all the other datasets, additional datasets and OBS's no? At least I know I've put this in a couple months ago - has this been removed?

[2018-07-03 14:22] valeriupredoi commented on #497
the `exclude` key determines which models are not thrown in the multimodel stats computation, it should not exclude the multimodel datasets from being members of the 'datasets' list...

[2018-07-03 14:46] valeriupredoi commented on #471
link to PR: https://github.com/ESMValGroup/ESMValTool/pull/488

[2018-07-03 14:49] valeriupredoi commented on #433
@bouweandela I had to fix this some time ago when testing the performance comparison between Py2-3 and iris1-2, I remember I removed precision since that is something Py3-specific, I think

[2018-07-05 08:38] bouweandela commented on #422
There are various ways to simplify the syntax, one option, discussed during the workshop, is to specify the common keys at variable level and only specify the ones that are different at model level. Note that keys specified at model level override those specified at variable level.

Another option, which can be combined with the first, is to make use of [yaml anchors](https://blog.daemonl.com/2016

[2018-07-05 09:37] mattiarighi commented on #422
Thanks for the suggestions.

It looks like no changes to the code are needed, so if @jvegasbsc is happy with the proposed solutions I guess this can be closed.

[2018-07-05 10:00] jvegasbsc commented on #422
I'm really happy with that. We will need to document it, so users now that they can do this kind of things

I suppose we can define multiple anchors (thinking in one for CMIP5 and another for CMIP6 when we get there)

[2018-07-05 10:47] #423 closed

[2018-07-05 10:47] #485 closed

[2018-07-05 14:46] bouweandela opened #505 "Add some more complicated example recipes"
The current example recipes are very simple and do not show what is possible. See e.g. issue #422.

[2018-07-05 14:47] bouweandela commented on #422
I've created an issue for adding some more complicated example recipes.

[2018-07-05 15:13] #457 closed

[2018-07-05 15:19] #494 closed

[2018-07-09 08:39] schlunma commented on #422
Hi Bouwe,

I tried to implement your suggestion, but unfortunately it doesn't work:

[code]

ESMValTool complains about the missing `project` key in the dataset list. However, if I set `project: str(required=False)` in `recipe_schema.yml`, it seems to run. Does this break anything?

[2018-07-09 08:44] mattiarighi commented on #422
`project` is an important key, since it determines the file and path names of the datasets.

If it is not specified, I guess it uses the default and it might work in some cases (depending on your settings in `config-user.yml`). But it probably does not work if you have datasets from different projects in your recipe.

[2018-07-09 08:48] bouweandela commented on #422
It should work just fine if you specify the project in the variable section instead of the model section. The schema is just there to warn you if you make a mistake in the recipe. I think it is indeed too strict to require that `project` is set in a model section. I'll update the schema and make PR.

[2018-07-09 09:37] mattiarighi commented on #422
This should close again the issue.

[2018-07-09 09:37] #422 closed

[2018-07-10 07:56] #467 closed

[2018-07-10 10:27] schlunma opened #510 "Access additional datasets in chained scripts"
Hi,

I have a question about chained diagnostic scripts (using the `ancestors` key). Considering the following example, how can I access the `additional_datasets` of `diag2`?

[code]

Unfortunately, the configuration dictionary for `diag2` only contains the output directory of `diag1` in `input_files`, but no data of the additional datasets in `input_data`.

[2018-07-10 10:47] mattiarighi commented on #510
I guess this is the same issue @ruthlorenz reported in #476.
If this is the case, please close this and continue the discussion there.

[2018-07-10 10:49] schlunma commented on #510
Right, it's more or less the same issue, I will add my recipe there.

[2018-07-10 10:49] #510 closed

[2018-07-10 10:50] schlunma commented on #476
#510:

I have a similar issue regarding all diagnostics, not only ncl ones. Considering the following example, how can I access the `additional_datasets` of `diag2`?

[code]

Unfortunately, the configuration dictionary for `diag2` only contains the output directory of `diag1` in `input_files`, but no data of the additional datasets in `input_data`.

[2018-07-11 10:01] bouweandela commented on #476
Thanks for the example recipe, I did not correctly understand this issue before seeing that.

[2018-07-11 14:21] mattiarighi opened #513 "Using CIS Tools capabilities in the ESMValTool"
Outcome of the telecon with @duncanwp, @bascrezee and @bouweandela (offline) about the possibility to use CIS Tools in the ESMValTool.

We have identified two major issues where CIS Tools could be useful:

1. **Reformat/Cmorization of observational data** (#232)
CIS includes a number of plug-ins to cmorize a observational data of different formats (satellite, aircraft, stations, etc.).
*Suggestion

[2018-07-11 14:59] duncanwp commented on #513
I think that sums it up nicely - thanks @mattiarighi .

Just to respond to the concerns raised by @bouweandela, those issues have been raised a while but were blocked while iris (one of our dependencies) was broken. I haven't gotten around to merging them yet as they weren't urgent. Since we don't have dedicated developer time these things can take some time, but if you hit a blocker I'm keen to c

[2018-07-12 11:09] valeriupredoi opened #514 "PORTING AutoAssess_radiation_rms_ to v2"
Starting this with the first commit on branch https://github.com/ESMValGroup/ESMValTool/tree/version2_autoassess_v1_port (Amon_all yaml namelist and v1 diagnostic so I can start changing it)

[2018-07-12 14:45] schlunma opened #516 "PORTING namelist_wenzel16jclim.xml into v2.0"
This issue will track the porting of namelist_wenzel16jclim.xml in the private repository. Progress is tracked in [this](https://github.com/ESMValGroup/ESMValTool-private/tree/version2_wenzel16jclim) branch.

Remaining issues:
- [x] Provenance tracking
- [x]  Documentation

[2018-07-13 09:38] ruthlorenz commented on #476
Thanks to @schlunma for clarifying the issue and thanks to @bouweandela for solving this with #512
Works fine now and I will close this issue.

[2018-07-13 09:38] #476 closed

[2018-07-13 12:31] #352 closed

[2018-07-16 14:18] BenMGeo opened #518 "Urgent: Handling big netcdfs in diagnostics"
There is an issue with both Iris 2.0 and Iris 1.3 reading netCDF files.

I expect preprocessed data to be read in as masked arrays (either biggus or dask), but I always get arrays with nans.

This means, I need to process and "unlazy" the data to masked arrays for further calculations. This is an issue regarding memory.

Alternatively, I tried the approach suggested by @jvegasbsc and sliced the da

[2018-07-16 14:29] bouweandela commented on #518
You can probably first apply the [`masked_invalid`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ma.masked_invalid.html#numpy.ma.masked_invalid) function to whatever slice of the input data you are applying your algorithm to. You have "unlazy" this data anyway to apply the algorithm, so I would not expect this to give you a big slowdown. However, it is difficult to recommend somethin

[2018-07-16 15:33] BenMGeo commented on #518
If I read correctly, the current collapsed-aggregators work with masked values only. Therefore, nans are not omitted. I thus think that I need the masks for all lazy aggregators.

The code I'm referring to is in branch [C3S_511_Workshop](https://github.com/ESMValGroup/ESMValTool-private/blob/C3S_511_Workshop/diag_scripts/aux/C3S_511/c3s_511_basic.py).

I additionally count the number of available

[2018-07-17 11:30] #495 closed

[2018-07-18 08:42] bouweandela commented on #518
Can you be a bit more specific about what code (e.g. which lines) this question is about? If it is this line:
[code]
You could for example try changing that to something like this
[code]

The problem with lazy masked data, is that the mask is usually not stored in netcdf files, so you only know that you need to create a masked array once you encounter a fill value somewhere in the array and that m

[2018-07-18 12:19] BenMGeo commented on #518
Basically, the problem is already in the snippet above:
I have to do
 `self.sp_data.data = np.ma.masked_array(self.sp_data.data, mask=np.isnan(self.sp_data.data))`,
but I expected to read in **preprocessed data** that delivers masked data already. After this line, everything is read in and no more lazy.

Thus, I assume the missing value is falsely defined in the meta data of the preprocessed file.

[2018-07-18 14:10] ruthlorenz commented on #431
Multiple CMIP5 model runs fail in preprocessing step with "ConcatenationError('Can not concatenate cubes {0}'.format(cubes))"
They worked fine in v1.
So far tested with variable tas, but pr seems to be similar.

piControl:
CCSM4
CESM1-BGC (AttributeError: 'NoneType' object has no attribute 'units')
MIROC5
MPI-ESM-MR

RCP2.6:
bcc-csm1-1
CanESM2
CCSM4
CESM1-CAM5
HadGEM2-ES
NorESM1-ME

RCP4.5:
bcc-cs

[2018-07-18 14:11] ruthlorenz commented on #431
Runs with Date issues in piControl:

ACCES1-0
ACCESS1-3

 File "cftime/_cftime.pyx", line 1184, in cftime._cftime.utime.num2date
 File "cftime/_cftime.pyx", line 703, in cftime._cftime.DateFromJulianDay
ValueError: day is out of range for month

[2018-07-18 14:11] ruthlorenz commented on #431
Runs with problems with snw (snow amount) (other than concatenation error above):

MIROC5, historical
esmvaltool.cmor.check.CMORCheckError: There were errors in variable None:
None: standard_name should be surface_snow_amount, not None

[2018-07-18 14:13] mattiarighi commented on #431
It should be possible to fix these issues using fix-files @jvegasbsc

[2018-07-18 14:19] valeriupredoi opened #519 "Using var for derivation and same var for diagnostic resets the file preprocessing on that var"
@bouweandela @mattiarighi here's a relatively nasty issue: I am using ```rlut``` for deriving a var called ```rtnt``` and also using ```rlut``` in my diagnostic as a diag variable, together with ```rtnt``` and a bunch of other variables; my preprocessing is only a regrid on a 1x1 grid. ```rlut``` gets regridded fine when the work is done on it but when deriving ```rtnt```, the files for ```rlut```

[2018-07-18 14:53] valeriupredoi commented on #519
guys, here is the recipe I am talkin about: https://github.com/ESMValGroup/ESMValTool/blob/version2_autoassess_v1_port/esmvaltool/recipes/recipe_autoassess_radiation_rms_Amon_all.yml

[2018-07-18 15:06] valeriupredoi commented on #514
@mattiarighi I am happily reporting that the autoassess_rms_radiation_Amon_all recipe https://github.com/ESMValGroup/ESMValTool/blob/version2_autoassess_v1_port/esmvaltool/recipes/recipe_autoassess_radiation_rms_Amon_all.yml is fully functional (together with variable derivations that I am asking you to check: https://github.com/ESMValGroup/ESMValTool/blob/version2_autoassess_v1_port/esmvaltool/pr

[2018-07-18 15:08] mattiarighi commented on #514
I will check whether I have these OBS and send them to you... :mailbox_with_mail:

[2018-07-18 15:09] valeriupredoi commented on #514
awesomepossum, cheers @mattiarighi :eggplant:

[2018-07-18 15:12] valeriupredoi commented on #514
just letting you know @mattiarighi I will be away tomorrow and on Friday (celebrations in Cardiff for my graduating friends) so I'll restart the work on this on Monday :beer: Have a look at https://github.com/ESMValGroup/ESMValTool/issues/519 in the meantime and see if you can replicate the issue yourself (by moving the derived vars at the bottom of the list) and if you got some time, check my der

[2018-07-19 09:46] BenMGeo commented on #518
I pointed to the v1 branch, as this is the branch we are currently using for the project and distributed to the partners.
Here is the branch ported to v2:
https://github.com/ESMValGroup/ESMValTool-private/tree/origin/version2_LMU
(qualassess directory and recipe recipe_C3S_511_SPQB.yml with a cmip5 data set as input, which has the same issues)

The data I use in v1 is the QA4ECV FAPAR data (OBS) i

[2018-07-19 10:34] schlunma commented on #516
Again a problem with `MIROC-ESM` and `MIROC-ESM-CHEM` (`tro3` historical data from 1979 to 2005):

[code]

[2018-07-19 10:35] bouweandela commented on #519
Hi V., you can probably work around this issue by creating a second preprocessor with a different name (same settings) and use that for `rlut`, just so the preprocessed `rlut` files are saved to a different directory and not overwritten by the files used for derivation. Can you test if that works?

[2018-07-19 10:44] bouweandela commented on #516
This last issue looks like https://github.com/ESMValGroup/ESMValTool/issues/480

[2018-07-19 12:38] #480 closed

[2018-07-19 13:04] bouweandela commented on #516
Can you test if the issue is solved now?

[2018-07-19 17:24] schlunma commented on #516
It works now, thanks @bouweandela!

[2018-07-20 09:37] mattiarighi commented on #232
I've started a branch for this issue `version2_reformat_obs`.

For now I've just created a directory `/esmvaltool/cmor/cmorize_obs`, where I moved one of the existing reformat scripts (`cmorize_obs_AURA-TES.ncl`) and some related functions. I've also created a dedicated recipe `recipe_cmorize_obs.yml` which simply calls this script as it happens with the diagnostic.

This approach has some problem

[2018-07-20 11:35] jvegasbsc commented on #232
Another option is to use the same executable, but using subcommands (argparse support it):

[code]

This way we can extend esmvaltool functionality while maintaining a single entry point

[code]

[2018-07-20 11:45] schlunma opened #523 "Variable derivation using ncl"
Is there any possibility to use ncl code to derive a new variable? For the variable [`tpp`](https://github.com/ESMValGroup/ESMValTool-private/blob/development/variable_defs/tpp.ncl) I need the ncl built-in function [`trop_wmo`](https://www.ncl.ucar.edu/Document/Functions/Built-in/trop_wmo.shtml) which does not exist in iris.

[2018-07-20 13:57] zklaus opened #525 "esmvaltool stops working due to config_developer_file: 'None'"
Starting with the discussion in #521, we noticed that esmvaltool stopped working for people that don't set an explicit  `config_developer_file` in their `config-user.yml`.

A fix was commit in dc85da7404801e7fb344dd9d80fb187e052edd7a, however, that is not working for everyone since pyyaml seems to return the string 'None' instead of the None value in read_config_user_file.

@schlunma: Could you pl

[2018-07-20 14:20] schlunma commented on #525
I don't use the `config_developer_file` option in my `config-user.yml`, so `cfg['config_developer_file']` defaults to a "real" `None`. In this case, the fix works.

However, when i explicitly set `config_developer_file = None`, you are right: the tool fails. `cfg['config_developer_file']` is set to the **string** `'None'`. This is my `cfg` after `yaml.safe_load`:

[code]

[2018-07-23 07:39] BenMGeo opened #527 "installation issues for v2 with preinstalled anaconda modules on clusters"
I currently tried to install esmvaltool on my local account on dkrz/mistral and ran into issues when using the preinstalled anaconda version(s). There, ncl cannot be installed with `conda env update`. (It can be already loaded from the module list.)
A short discussion with @bjoernbroetz resulted in the suggestion to include the hint on having a fully controlled local conda version (on clusters) in

[2018-07-23 09:50] zklaus commented on #525
It seems the yaml way of expressing this concept would be using `null` instead of `None` in the yaml file (see [here](http://yaml.org/type/null.html)). I checked that this gives indeed a `None` object from `safe_load`.
So, all in all, I see three options:

1. Use `null` in `config-user.yml` (and its template)
2. Replace all string `'None'` with object `None` after the loading
3. Check for both str

[2018-07-23 09:54] mattiarighi commented on #525
I think you are right with 1, you need `null` instead of `None` in yaml syntax.
@bouweandela can you confirm?

[2018-07-23 10:22] valeriupredoi commented on #519
cheers @bouweandela -- actually, by moving the derived vars at the top of the list it works fine as well (I am guessing if there is no multithreading on). I will put them all in a separate derived preprocessor instance, I see no reason why this shouldn't fix the issue properly -- but we need to specify this somewhere somehow so others are not gonna be running into the same issue, no?

[2018-07-23 10:39] mattiarighi commented on #519
We could do it when addressing #505

[2018-07-23 13:08] zklaus opened #529 "Time Coordinates for Climatological Data"
Working with the WOCE dataset as present in ESMValTool 1, the following problem surfaced:
Climatological datasets, for example from observations, might not have a proper time coordinate.
In principal this is just an error in the data: The time coordinate should be a single time point with bounds comprising the climatological time span. In principle, this information can be added in two ways, eithe

[2018-07-23 15:07] BenMGeo commented on #518
We found the bad boy!
The original data has the following head:

`
ncdump -h OBS_QA4ECV_ECV_avh-geo-res050_T2Ms_fAPAR_198201-201612.nc
netcdf OBS_QA4ECV_ECV_avh-geo-res050_T2Ms_fAPAR_198201-201612 {
dimensions:
	time = UNLIMITED ; // (420 currently)
	bnds = 2 ;
	lon = 720 ;
	lat = 360 ;
variables:
	float time(time) ;
		time:standard_name = "time" ;
		time:long_name = "day 1 of 1-day observation pe

[2018-07-24 07:51] jvegasbsc commented on #518
@pdearnshaw took a look at that and saw that Iris was supposed to manage this transparently and that, in fact, it hided so much information about this that this was nearly impossible to check

[code]

Anyway, can you send me a small chunk of the data and let me try to come up with something?

[2018-07-24 08:21] jvegasbsc commented on #529
the default behavior of Iris is to write scalar coordinates if possible. We should allow that also in the input.

I guess that you are having trouble with the rank check:

[code]
This check is incorrect (I was a bit naive at the time, sorry) not only because of the scalar coordinates (that are not properly handled here) but also for the unstructured grids (they have lat lon coordinates but only on

[2018-07-24 08:21] jvegasbsc opened #530 "Area slice: use intersection instead of extract?"
Currently we are defining area slice as a extract in this way:

[code]
The bad news is that this implementation does not allow to extract longitudes from (-20, 30), for example, (our cells have values in the range 0-360). We need to improve this.

Iris provide a function that can manage this, independently of the specified units: intersection
[code]

But it comes with a cost: it reorders the longi

[2018-07-24 08:22] zklaus commented on #529
Great, thanks!

[2018-07-24 08:23] schlunma opened #531 "NCL scripts are not able to read multiple variables"
Consider the following recipe:

[code]

In this case, the diagnostic cannot load `interface_scripts/interface.ncl`:

[code]

When I remove the second variable `ps`, everything runs fine.

[2018-07-24 09:10] mattiarighi commented on #531
This is because `vardeffiles` is an array when multiple variables are given in the recipe.
The `if` statement at line 22 then fails because it requires a scalar as a condition.

From the point of view of syntax, a solution would be to add an `all` in the condition:
[code]
still this would only load the file information for the first variable
[code]
I think this needs to be extended to account for

[2018-07-24 10:46] jvegasbsc commented on #530
Any preference on how to do it? It is a problem to have the box reordered for any diagnostic?

[2018-07-24 10:51] mattiarighi commented on #530
As long as the units are set back to [0, 360] reordering should not be a problem I guess.
We will need to test it anyway.

[2018-07-24 11:02] jvegasbsc commented on #530
Ok. I will implement it using the intersection and then updating the units and then we can test.

I prefer it reordered if possible because the box will look nice even if we are using tools that do not read the metadata

[2018-07-24 11:49] mattiarighi commented on #530
Since  the existing diagnostics work with global fields anyway (regional selection was not available in v1) we can be flexible.

[2018-07-24 13:49] schlunma commented on #518
I ran some test with the raw file @BenMGeo has posted: After some reformatting for the tool the preprocessor works fine and returns a properly masked file (still having `NaNf` as `_FillValue`, but iris seems to handle that well). I also tested changing that value, which will be done iris>2.0 [here](https://github.com/ESMValGroup/ESMValTool/blob/version2_development/esmvaltool/preprocessor/_io.py),

[2018-07-24 13:49] #518 closed

[2018-07-24 14:04] jvegasbsc commented on #530
Ok, bad news: longitudes mut be strictly monotonic, so we can not have reorder and (0, 360) units. I will skip the reorder, but bear in mind that this could lead to strange looking files if the metadata is not treated properly by the tool you are using (nothing that should bother our diagnostics, anyway)

[2018-07-26 09:27] BenMGeo opened #538 "preprocessor cannot handle a cubelist with differing attributes"
I need to load daily nc files (ESACCI-SST) into one big file. The preprocessor stops at function:

[code]

The error output thus is:
`Cube metadata differs for phenomenon: sea_water_temperature`

This does not explain a lot. You get more information with ` cube = iris.cube.CubeList(cubes).merge_cube()`:
`cube.attributes values differ for keys: 'date_created', 'start_time', 'time_coverage_start', '

[2018-07-26 09:32] mattiarighi commented on #538
This usually affects observational datasets, which have to be cmorized offline anyway.
The solution so far was to make sure that the global attribute are consistent when applying the cmorizing script (reformat_obs in v1).

[2018-07-26 09:53] jvegasbsc commented on #538
For these kind of attributes, I think we can add an exception at loading time and remove them. They are obviously related to the file not the dataset and we don't need that information later in the chain.

We are doing that already for others:

[code]

I am a bit worried about 'creation_date'. It should be removed at loading time

[2018-07-26 09:56] ruthlorenz commented on #538
I have seen this/similar errors with CMIP5 models as well, see e.g. below:

         title: CCSM4 model output prepared for CMIP5 RCP2.6
    Cell methods:
         mean: time (30 days)
2018-07-16 13:57:53,433 UTC [9936] ERROR   Program terminated abnormally, see stack trace below for more information
Traceback (most recent call last):
 File "/home/rlorenz/ESMValTool/ESMValTool-private/esmvaltool/p

[2018-07-26 10:06] jvegasbsc commented on #538
No, it is not. I think we should solve this at two different points:

- For the obvious ones that we can consistently remove (i.e history, tracking_id): do it at loading time

- All the others that prevent concatenating: at the fix_metadata step, so we can remove or modify as needed for each dataset

Bear in mind that for provenance purposes we will need to collect the values of some of these attr

[2018-07-26 10:41] BenMGeo commented on #538
So, @jvegasbsc, you propose that I append the specific attributes to your list? Or is this in a dataset specific fix_file? Can you point me to it?

[2018-07-26 10:58] jvegasbsc commented on #538
I will put this in the fix_metdata for a dataset. You can take esmvaltool/cmor/_fixes/CMIP5/FGOALS_g2.py as a model

[2018-07-26 13:16] #529 closed

[2018-07-26 19:00] schlunma commented on #523
I included the function in the diagnostic, not really pretty, but it works.

[2018-07-26 19:00] #523 closed

[2018-07-30 07:37] bouweandela commented on #527
Note that the number of packages that we install from conda is relatively small, at the moment:
- ncl
- basemap
- scitools-iris (pip name, conda package is called iris)
- stratify (pip name, conda package is called python-stratify)
So if these are already installed in some other way, e.g. because they are available on the cluster, there may be no need to use conda at all.

Also, at the moment the

[2018-07-30 07:42] mattiarighi commented on #527
Done :smile:
I've set the default to `version2_development`, I think this is better than `version2_master` since we are developing quite fast.

[2018-07-30 07:50] bouweandela commented on #519
Yes, that would work.

A more elegant solution, would be to slightly change the naming scheme for preprocessed files. Instead of using the diagnostic + preprocessor + short variable name for the directory, we could use variable name as defined in the recipe. I believe this already works in the recipe, but the custom variable name is not used anywhere yet, e.g. you can write
[code]
[code]

[2018-07-30 08:16] mattiarighi commented on #519
That would be a bit less user-friendly, I think.

[2018-07-30 08:40] bouweandela opened #543 "Broken environment (NCL)"
Our environment is broken since a few days, in both the `version2_master` and `version2_development` branch. Everything seems to work, except for NCL:
[code]
https://circleci.com/gh/ESMValGroup/workflows/ESMValTool/tree/version2_master
https://circleci.com/gh/ESMValGroup/workflows/ESMValTool/tree/version2_development

[2018-07-30 09:53] bouweandela commented on #531
I think we should do this by making the NCL interface the same as the python interface, using the NCL list type. Thus we can make a list of variable/dataset metadata. The var_info.ncl files would then for example look like this:
[code]

[code]

[2018-07-30 09:55] mattiarighi commented on #531
Sounds good!

[2018-07-30 10:21] bouweandela commented on #523
I think that is probably the most sensible way to do it.

The other option would be to add a preprocessor derive function that first saves the input cubes to file, then calls an ncl script that loads the files, does the computation and saves the files again, and then loads the derived cube again into the python derive function and returns it.

[2018-07-30 10:30] bouweandela commented on #519
It's not required, just a possibility. It would also allow to for example have several groups of datasets for the same variable within one diagnostic (if you attach the datasets to the variable), something that @zklaus asked me about during the workshop.

[2018-07-30 10:31] valeriupredoi commented on #519
good stuff, man @bouweandela

[2018-07-30 10:32] bouweandela commented on #519
I think the current setup is confusing, where your data may be overwritten if you happen to use the wrong order (i.e. what this issue is about).

[2018-07-30 10:42] #543 closed

[2018-07-31 10:21] mattiarighi opened #547 "Apply cmor checks (and fixes) to fx-files"
Going through the fx data in CMIP5, I've noticed that there are several issues with the mask variables `sftlf` and `sftof` which needs to be fixed (wrong units, wrong coordinates, wrong fillvalues, etc.), but this is currently not implemented, although some fixes are available (see for example [here](https://github.com/ESMValGroup/ESMValTool/blob/fc376aded0d2092b05e3d1f74132592f0a1dc2a6/esmvaltool

[2018-07-31 11:33] valeriupredoi commented on #514
as of 31 July 2018 the porting is 98% done and the PR is almost to be merged. One this is missing: the derivation of the 6 cloud formation variables that are used for the cfMon recipe. This will be done immediately after the PR gets merged into version2_development and a new branch will be started with its own PR to follow. Here is the comment from @mattiarighi that has kindly provided insight int

[2018-07-31 13:21] valeriupredoi opened #548 "File version vulnerability"
On BADC (and I assume could be the case of DKRZ as well): in ```_data_finder.py``` the two file finding funcs ```get_input_filelist()``` and ```get_input_fx_filelist()``` rely on identifying the latest version of a file on reverse sorting the list of dirs in ```part1/``` - this is correct 99% of the times, but see case below:

[code]

here the latest ```latest``` points to a very cryptic ```v1```

[2018-07-31 13:38] mattiarighi commented on #548
At DKRZ this is always `vYYYYMMDD` and the code should find the most recent date here.

For BADC, it should pickup `latest`, according to the `config-developer.yml` file for this drs.

[2018-07-31 13:44] valeriupredoi commented on #548
cheers @mattiarighi - and nope, the code assembles a reversed order list and goes through it looking for valid subdirs and stops once it finds the first existing subdir. According to this logic, it will always pick up the latest symlinked version vYYYYMMDD but this will render itself useless if ```latest``` is symlinked to another directory (as the case above)

[2018-07-31 13:47] bjoernbroetz commented on #548
On DKRZ this problem used to be present, too. But after some "restructuring" over there they only left the most recent version. There used to be a "heuristic" implemented by Simon in [interface_scripts/projects.py](/ESMValGroup/ESMValTool/blob/development/interface_scripts/projects.py) that tried to deal with this problem.

[2018-07-31 13:53] valeriupredoi commented on #548
I am sure at BADC it is the same, but hoping for the best is a bit of a trap, especially when it comes to CEDA/Jasmin/BADC :grinning: - the easiest way to correct this potential issue is to first check if there is a ```latest``` and pick up its contents, shit hits the fan if ```latest``` is symlinked against something older but I think BADC has a script that checks for that not to happen everytime

[2018-07-31 14:08] bjoernbroetz commented on #548
There is another thing. Usually in the newer version directory you only have the updated datasets. The unchanged datasets (in terms of newer version) are only available from the older version directories. So you can have:
[code]
In which case you will miss the `sic` dataset if you only look at the highest version number, as it is done in `get_input_filelist()` if I see it right.

[2018-07-31 14:12] valeriupredoi commented on #548
crap, @bjoernbroetz this issue is getting hairy, just gonna go for a smoke and forget about it then :grinning: Seriously now, I didn't know that - but are not the cluster guys supposed to symlink everything once a new release (version) is added to the database? If this is the case, then we can potentially miss a whole bunch of (older but still good) data

[2018-07-31 14:17] bjoernbroetz commented on #548
I rather think the cluster guys leave this as an exercise for the user ...
Synda is doing no such symlinks, if I see it right. And they use synda to create their folder trees.

[2018-07-31 14:41] valeriupredoi commented on #548
this fixes the problem for fx files for BADC, should we do the same for regular data files as well? https://github.com/ESMValGroup/ESMValTool/pull/488/commits/246e10423cccb3cbdba10b7cf2e0cca8997b3abf

[2018-07-31 14:54] mattiarighi commented on #548
Wait, the case raised above by @bjoernbroetz has been solved some time ago.

[2018-07-31 15:06] mattiarighi commented on #548
See #319

[2018-07-31 15:13] valeriupredoi commented on #548
look at that, I even said OK to that PR :grin: yes -- this is what the code does now and it's not picking up ```latest``` with a preference (well, not for the data files) but the latest version vYYYYMMDD, the problem is what if the really latest version is called ```v1``` or ```CAT_ON_THE_ROOF``` and correctly symlinked from ```latest```

[2018-07-31 15:32] valeriupredoi commented on #514
posting the v1->v2 comparison results:
[code]

[2018-07-31 15:37] bjoernbroetz commented on #548
After a short conversation with @mattiarighi we concluded that we need your patch 246e104 to prioritize the "latest" folder if present (for fx and regular data).

[2018-07-31 15:44] valeriupredoi commented on #514
```version2_autoassess_v1_port``` has now been merged into ```version2_development```: https://github.com/ESMValGroup/ESMValTool/commit/cba2859657b07aecd3d83c3c7f1965f84680d294

[2018-07-31 15:44] bjoernbroetz commented on #548
Just for the record:
The situation addressed here is that a bad version of data entered the system and is now there with a higher version number. The data center cannot remove this data (policy) but the corrected version is still not there. So they point their symlink "latest" to the version before. This might affect only a single variable.

[2018-07-31 15:45] valeriupredoi commented on #514
deletion of branch; need to implement (and test) the cl-vars derivation onto a new branch

[2018-08-01 12:00] zklaus commented on #230
This is implemented in the branch version2_irregular_2d_regridding. If someone wants to give it a spin, they are welcome, but at the moment automated tests are missing.

[2018-08-01 12:02] mattiarighi commented on #230
Thanks @zklaus, this is great!

Could you open a pull request? This would allow us to see code changes and comment.

[2018-08-02 12:17] valeriupredoi opened #552 "OBS ISCCP files have wrong standard_name"
Here's a basic one - what do you do when the nc files have the wrong name? This prevents ```_io.load``` with constraint=standard_name from loading even before trying to apply any fixes? Is this something that we should fix before even entering esmvaltool? @mattiarighi any thoughts?

[2018-08-02 12:25] valeriupredoi commented on #552
@mattiarighi the recipe is correct, the cube name is wrong, sorry, I meant the cube name is not the CMOR standard_name

[2018-08-02 12:25] valeriupredoi commented on #552
therefore load with constraint=standard_name fails

[2018-08-02 12:26] mattiarighi commented on #552
@jvegasbsc

[2018-08-02 12:30] #471 closed

[2018-08-02 12:30] mattiarighi commented on #226
Land/sea masking done in #488.

[2018-08-02 13:12] valeriupredoi commented on #514
this has been done and tested, cfMon fully working (ISCCP/clisccp needs fixes in _fixes/obs4mips)

[2018-08-02 13:33] mattiarighi commented on #514
If no further work on this recipe/diag is required you can close this (#552 will remind us of the problem with ISCCP) and add the :heavy_check_mark: in #503.

[2018-08-02 13:37] valeriupredoi commented on #514
would love to do that, I am actually going to right now :grin: how do you add the :heavy_check_mark: there?

[2018-08-02 13:37] #514 closed

[2018-08-02 13:42] mattiarighi commented on #514
You should be allowed to click on it, or is it only for the author of the issue?

[2018-08-02 13:44] valeriupredoi commented on #552
the ISCCP/clisccp obs4mips need these fixes (I applied them locally and all works fine afterwards):

[code]

the bugger is the first bit (the rename) can not be applied in our standard configuration since the loading is done based on the actual name constraint; the rest is just classic ```_fixes``` stuff

[2018-08-02 13:44] mattiarighi commented on #226
And with #549 we should be done with this issue.
Is there anything else missing or to be cleanup up?

[2018-08-02 13:48] valeriupredoi commented on #226
not anything missing to my knowledge, but we need to apply CMOR checks on the fx files https://github.com/ESMValGroup/ESMValTool/issues/547

[2018-08-02 14:53] valeriupredoi commented on #227
this is restructured now in ```_time_area```, ```area_pp``` and ```_volume_pp``` (with corresponding tests) especially after @ledm contributions with his Oceans diags, is there anything else that we may need (oh and the redundant code has been cleaned up to the best of my knowledge)

[2018-08-02 14:58] valeriupredoi commented on #309
work on https://github.com/ESMValGroup/ESMValTool/pull/493 (stratosphere OK, concentration nearly there - needs quite a few variable derivations). Not to be confused with ```autoassess_radiation_rms``` that was ported from v1, but sitting in the same ```diag_scripts/autoassess``` dir. Two more native Autoassess diags to be switched from Autoassess to ESMValTool: Land Surface and Land Biogeochemist

[2018-08-02 15:13] valeriupredoi commented on #387
@ledm when you back from the beach, man, can you confirm this one works now pls?

[2018-08-02 15:31] valeriupredoi commented on #440
Hi @amarjiitpandde the default shell in Ubuntu is ```bash``` symlinked to ```dash``` (Debian shell):
[code]
Having said this, there are two possible solutions: install NCL 6.5 and/or install ```bash``` under Ubuntu:

[code]

see http://sourcedigit.com/20892-bash-4-4-released-install-bash-shell-ubuntu/

NOTE: please note that I am not assuming any responsibility for any system issues related to the

[2018-08-02 15:32] valeriupredoi commented on #440
PS I believe ```bash``` is now available via Aptitude ( ```apt-get```) as well

[2018-08-02 15:44] bouweandela commented on #226
Yes, there is still work to be done:
- Documentation is unfinished.
- There is still quite a bit of unused code around, i.e. some functions are not available for use with the preprocessor and also not used for anything else. These functions should either be made available to the preprocessor or be deleted.
- Test coverage is not so good at just 45% (this will be slightly better after removing all

[2018-08-02 15:56] bouweandela commented on #227
There's still some unused code around, e.g. the function `trajectory_cube` in _area_pp.py and the functions `proportion_greater`, `is_daily`, `is_monthly`, `is_seasonal`, `is_yearly` in _time_area.py.

[2018-08-02 15:56] valeriupredoi commented on #226
@bouweandela you party pooper :grin: good points, man, I'll have a sift through the codes see if I can delete stuffs, but not this week, too hot here :sweat:

[2018-08-02 18:41] amarjiitpandde commented on #440
Thanks a lot for the reply,

I figured the reason for such anomaly, As, I was using Ubuntu on Windows as
a subsystem this issue was caused as windows defender was not allowing
ESMValTool to run bash commands through systemfunc and system thinking that
it was a security threat. So, I tried using the ESMValTool on just the
Ubuntu OS it works perfectly fine.

Apologies for not closing the issue after

[2018-08-02 18:41] #440 closed

[2018-08-03 10:28] valeriupredoi commented on #547
hey @mattiarighi it would be very useful if you could provide us with corner cases that you have seen in which the fx mask files are weird (e.g. when the probability of land/ocean is from 0 to 1 instead of 0 to 100 etc). Cheers, man! :beer:

[2018-08-03 10:41] mattiarighi commented on #547
Some examples are already available in the fix files (like `sftlf` in `EC-EARTH` has wrong units and wrong latitude ordering).

Other models with wrong units in `sftof` are `GFDL-CM2p1`, `GFDL-CM3`, `GFDL-ESM2M`, and `MIROC5`.

[2018-08-03 11:07] valeriupredoi commented on #547
cool, cheers @mattiarighi -- I took a look at these ones you mention, and have already seen the 0->1 instead of 0->100, just to double check - there are no units for the sftlf/sftof fx variables (I mean, the units is % since it's a fraction, but it will always be % or could it be some crazy stuff like cats per square inch?)

[2018-08-03 11:42] mattiarighi commented on #547
The units of `sftlf` and `sftof` are %, therefore valid min/max = 0/100 (as per [cmor table](https://github.com/ESMValGroup/ESMValTool/blob/fee2b1b47261ba25b4c88955827ee181b44bb571/esmvaltool/cmor/tables/cmip5/Tables/CMIP5_fx#L560)).

Some models use a [0,1] range, which is also a fraction, but not in %, although the write % in the `units` attribute. Hence the units are correct, but the data are n

[2018-08-03 11:45] valeriupredoi commented on #547
got it, cheers!

[2018-08-03 11:46] valeriupredoi commented on #440
cheers, @amarjiitpandde

[2018-08-06 00:47] jonnyhtw opened #554 "Can't install ESMValTool using instructions from anaconda.org"
Hi there

Currently the instructions for installing the ESMValTool on [the Anaconda](https://anaconda.org/esmvalgroup/esmvaltool) website result in the following errors...

[code]

After some consultation with the developers, the following code does work however...

[code]

Presumably the documentation needs to be changed or the relevant packages moved or copied to conda-forge?

Thanks!

Jonny

[2018-08-06 08:38] bjoernbroetz commented on #554
Thanks for reporting! I can confirm the problem

[2018-08-06 11:08] bouweandela commented on #232
I've created a simple tool `prepare_observations` in branch [`version2_prepare_observations`](https://github.com/ESMValGroup/ESMValTool/tree/version2_prepare_observations) which uses the `cis` package to read a list of files and store the variables found in those files in an output directory, one file per variable. It can be installed by running the usual `pip install -e .` command. This tool allo

[2018-08-06 12:46] bouweandela commented on #554
The install command shown on anaconda.org is indeed incorrect, but unfortunately it looks like it cannot be edited. Of course we can add some information to our README.md here on github.

Note that we are in the process of getting esmvaltool version 2 on conda-forge. However, we are still at alpha release stage, so we felt that right now was a bit early, that's why we opted for our own conda chann

[2018-08-06 23:39] jonnyhtw commented on #554
Thanks a lot for that 😄

Jonny

[2018-08-07 15:00] valeriupredoi commented on #547
hey @mattiarighi I have had a look through and thought about this issue and I think we shouldn't complicate the ```cmor``` checks with ```fx``` variable since, in effect, they are not real CMOR variables and the only bits that need to be fixed for ```fx``` files are grids and 0-100 percentages - my idea would be to create a module in ```preprocessor``` called ```_fix_auxiliary_files``` or smth lik

[2018-08-07 15:04] mattiarighi commented on #547
Actually, they are CMOR variables, they have a dedicated table in [CMIP5](https://github.com/ESMValGroup/ESMValTool/blob/version2_development/esmvaltool/cmor/tables/cmip5/Tables/CMIP5_fx) and [CMIP6](https://github.com/ESMValGroup/ESMValTool/blob/version2_development/esmvaltool/cmor/tables/cmip6/Tables/CMIP6_fx.json).

It's not only about the 0-100, there is also a case (`sftlf` in `EC-EARTH`) whe

[2018-08-07 15:08] valeriupredoi commented on #547
damn! how have I not seen the CMIPX_fx Tables until now, nevermind, I just blabbered one comment up :cow2:

[2018-08-08 13:59] mattiarighi commented on #244
A problem that might arise with the concatenation is that files from different CMIP experiments will have different global attributes (for example, `expereiment_id`) and Iris will complain about it.

This is related to #538 and we should probably address these two issues together.

[2018-08-08 15:33] mattiarighi opened #561 "How to read model keys in NCL?"
When defining model-specific keys (like `start_year`, `end_year`, etc.) in the `variables` dictionary of the recipe, these are saved as attributes of the `variable_info` logical in the `<var>_info.ncl` file, whereas they are saved in the `dataset_info` logical when defining them in the `model` dictionary.

This makes perfectly sense, but most of the NCL diagnostics and shared scripts read these in

[2018-08-09 07:58] bouweandela commented on #561
Yes, that's correct. However, I would like to revise the interface a bit, as proposed in #531.

[2018-08-09 08:00] mattiarighi commented on #561
I would still do the renaming now, since this is giving me problems in another branch.
When do you plan to implement this revised interface?

[2018-08-09 08:19] bouweandela commented on #561
I could start working on it right away, or do you think the provenance issue is more important?

[2018-08-09 08:27] bouweandela commented on #561
Ok, then I'll do it after implementing provenance.

[2018-08-09 08:28] mattiarighi commented on #561
Thanks!

I'll fix this with a simple replacement and open a PR later today.

[2018-08-09 09:34] bouweandela commented on #554
The latest release, v2.0a1 is now available on anaconda.org. I've added a note with the correct installation instructions in the description.

[2018-08-09 09:34] #554 closed

[2018-08-09 09:37] bouweandela commented on #527
Can this issue be closed? It looks like it's done.

[2018-08-09 09:40] bouweandela commented on #444
@cehbrecht I've just uploaded the package for the new v2.0a1 release to anaconda.org, the size is now 15 MB.

[2018-08-09 10:45] ruthlorenz commented on #226
Any chance we can extend the masking to glaciers/ice shelfs (sftgif)? I would need to mask ocean and ice at the same time, so not sure how complicated that is.

[2018-08-09 10:50] mattiarighi commented on #226
Does this apply to regular grids, irregular grids or both?

[2018-08-09 10:58] #561 closed

[2018-08-09 11:13] bjoernbroetz commented on #548
I think it is solved for `get_input_fx_filelist()` and merged with PR #488
but as @valeriupredoi wrote earlier it still needs to be fixed in `get_input_filelist()`. I will do it fast now.

[2018-08-09 11:51] bjoernbroetz commented on #548
A small patch is now here: 9981bc8b75e8c8ca00f907f46343c481e9181d02

[2018-08-09 11:56] mattiarighi commented on #548
Can you open a PR? I will merge it.

[2018-08-09 12:02] ruthlorenz commented on #226
sftgif is on regular grids

[2018-08-09 12:18] mattiarighi commented on #226
Is there an equivalent variable for irregualr grids? Like `sftof` / `sftlf`...

[2018-08-09 12:28] mattiarighi commented on #527
Releases are tagged versions of `version2_development`, which we do time to time when we feel that significant progress has been made w.r.t. the previous release.
But the development is still ongoing, those are alpha releases for the moment, so `version2_development` is always the most recent version.

[2018-08-09 12:40] chunxueyang commented on #527
right. Sorry my fault. When I did git pull for version2_development in my local machine it did not do the update. but now yes. Sorry about it.

[2018-08-09 13:37] ruthlorenz commented on #226
Not that I know, glaciers/ice are on land, so should not be on irregular ocean grids? but I do not know much about ice....I just want to plot variables which do not make sense over greenland/antarctica (e.g. soil moisture) but some models still have values there so should be masked.

[2018-08-09 13:51] mattiarighi commented on #226
Ok, I think we just need an extra option `ice` in the preprocessor and to use `sftgif` for it.

@valeriupredoi that should be relatively easy, right?

[2018-08-09 14:13] valeriupredoi commented on #548
cool guys @mattiarighi @bjoernbroetz :beer:

[2018-08-09 14:22] valeriupredoi commented on #226
guys, there already is a ```landsea.nc``` in the ```autoassess``` diag source: https://github.com/ESMValGroup/ESMValTool/blob/version2_development/esmvaltool/diag_scripts/autoassess/autoassess_source/landsea.nc -- it is used by the ```radiation_RMS``` diag, so how about you use it (if it's of any good, this is taken straight from v1 since the v1 version of the diag was using it and since I ported

[2018-08-09 14:29] ruthlorenz commented on #226
thats the one which actually does not include ice (even though the title says "1x1 Land-Sea Mask, 0=Ocean, 1=Land, 2=Lake, 3=Small Island, 4=Ice Shelf", but it only contains values between 0 and 3...)

Otherwise happy to use whatever works...

[2018-08-09 14:30] mattiarighi commented on #226
Using `sftgif` would be more consistent.

[2018-08-09 14:45] valeriupredoi commented on #226
@ruthlorenz that file has 477 points where the mask=4, why you sayin there are no 4's in there :grin:

[2018-08-09 15:39] #548 closed

[2018-08-10 06:26] ruthlorenz commented on #226
ok, there are 4's, but all of Antarctica and all of Greenland should be 4's (many more than 477), I think that file is weird (for me ncview shows a range of 0-3, therefore I overlooked the 4's completely, with I closer look I spotted them over Antarctica, but its only a few, which I think does not make sense).

[2018-08-10 06:41] mattiarighi commented on #226
Let's give it a try with `sftgif`.

[2018-08-10 07:51] mattiarighi opened #565 "Add a check on time selection"
Due to calendar issues, especially affecting observational data, it could happen that the time selection with `start_year` and `end_year` does not work properly and an incorrect number of time-steps is returned.

This kind of error is very difficult to detect, since the code does not return any warning and the diagnostics do not crash, unless some specific time function is applied.

It would be go

[2018-08-10 09:54] valeriupredoi commented on #226
@ruthlorenz hahah, yeah, now that you pointed out it really sounds like 477 sq degs are not quite enough for Antarctica and Greenland, that's just a parking lot in London :grinning: We could replace that file with a more sensible one of we can get that ```sftgif``` var in as @mattiarighi is saying - I can do the latter if you guys tell me what's the criterion for mask application (where ```mask ==

[2018-08-10 10:59] mattiarighi commented on #226
`sftgif` works like `sftlf` and `sftof`, with a 0-100% mask.

[2018-08-13 14:12] mattiarighi opened #568 "Issue with fix for CESM1-BGC"
Processing the model `CESM1-BGC` with a variable that requires applying [this fix](https://github.com/ESMValGroup/ESMValTool/blob/063a671bf747f54153636c75320043a2f4e4893e/esmvaltool/cmor/_fixes/CMIP5/CESM1_BGC.py#L92) (e.g., `sic`) leads to an error, since for some reason the cube is replaced with `None` and the subsequent checks fail:
[code]

The traceback refers to `fix_data`, although this is a

[2018-08-13 14:49] mattiarighi commented on #568
I think I found the issue: `fix_metadata` in [CESM1_BGC.py](https://github.com/ESMValGroup/ESMValTool/blob/063a671bf747f54153636c75320043a2f4e4893e/esmvaltool/cmor/_fixes/CMIP5/CESM1_BGC.py) changes the time units from `day since 1-01-01 00:00:00.000000 UTC` to `days since 1850-01-01 00:00:00` but does not change the time coordinate accordingly.

As a result, the time range of the cube is changed

[2018-08-13 15:09] mattiarighi commented on #568
The same issue also affects [GFDL_ESM2M.py](https://github.com/ESMValGroup/ESMValTool/blob/version2_development/esmvaltool/cmor/_fixes/CMIP5/GFDL_ESM2M.py) and [MIROC_ESM.py](https://github.com/ESMValGroup/ESMValTool/blob/version2_development/esmvaltool/cmor/_fixes/CMIP5/MIROC_ESM.py).

[2018-08-13 15:36] mattiarighi commented on #568
The solution is simpler as expected: to just remove these fixes.

They are not needed anyway, since [check.py](https://github.com/ESMValGroup/ESMValTool/blob/063a671bf747f54153636c75320043a2f4e4893e/esmvaltool/cmor/check.py#L408) always converts the time units to `days since 1950-01-01 00:00:00`.

[2018-08-16 11:38] mattiarighi opened #571 "Add --max-years command line option"
For testing purpose, it would be useful to run a given recipe using a limited amount of years.
This is something similar to `--max-datasets` (see #219), but it would be more useful since thorough tests require to check all models, although on a shorter time range to be faster.

The option should simply replace `end_year` with something like `min(end_year, start_year + max-years - 1)` for all datas