[2019-10-15 11:45] bouweandela commented on #1359
Regarding `write_table: true` in config-user.yml, I think it would be better to add that as an option for your diagnostic script in the recipe, since most diagnostics do not support this feature and config-user.yml is meant for configuration that is shared by all diagnostics/recipes.

[2019-10-15 13:53] katjaweigel opened #1380 "CVDP overwrites data when run on multiple models"
If run on multiple models the CVDP output looks ok on the first glance (as many *.nc files as models, as many panels in each figure as models), but all of these data sets and panels contain the same data (most probably only from one of these models).

Recipe: recipe_cvdp.yml

[2019-10-15 14:13] bjoernbroetz commented on #1372
And another bug in #1380

[2019-10-15 18:52] RCHG commented on #1359
Thanks for the idea @bouweandela. It might better, yes.

In my initial implementation, it did not added any conflict for others recipes but I just tried few of them. In general I found natural to add this option to config-user.yml and additional support at _config.py like

`cfg['table_dir']` = os.path.join(cfg['output_dir'], 'tables')`

and this information was propagated to other modules like **_

[2019-10-16 11:15] katjaweigel commented on #1380
The reason for the overwriting of data iss, that the at the point where cvdp_wrapper.py writes the master namefile for the *.ncl program () the model name is not part of the path.
This causes the namelist_byvar point to all data sets (with *) and not to one specific one. Therefore only one (last or first I guess) is read in by the *.ncl routines.
Changing:
<

        content.append("{0} | {1} | {2

[2019-10-17 07:34] bascrezee commented on #1027
Any update on this from the workshop ?

[2019-10-17 10:28] koir-su opened #1393 "a diagnostic for evaluation of ecosystem carbon turnover times"
The diagnostic evaluates the carbon turnover time from the models against the observation-based estimates from Carvalhais et al., 2014, Nature. The diagnostic involves deriving a non-standard CMOR variable, the total carbon mass pool ESMValGroup/ESMValCore#321 and the turnover time. May share some common features with #1229 and #1322

[2019-10-17 10:35] koldunovn opened #1394 "Arctic Ocean diagnostics"
**Short description of the diagnostic**
The main focus of this diagnostics is evaluation of ocean components of climate models in the Arctic Ocean, however most of the diagnostics are implemented in a way that can be easily expanded to other parts of the World Ocean. Most of the diagnostics aim at model comparison to climatological data (PHC3), so we target historical CMIP simulations. However sce

[2019-10-17 10:35] koldunovn commented on #1394
Working on the codacy issues.

[2019-10-17 10:40] koldunovn commented on #1394
@bouweandela Should I address `Too many local variables` and `Too many arguments` or just try to reduce the function to 50 lines?

[2019-10-17 10:40] koldunovn commented on #1394
@zklaus Can we, please,  agree on the review decision?

[2019-10-17 10:44] koldunovn commented on #1394
@bouweandela In plotting functions, I use names of the variables like `fig, ax, cb, cs`. This is basically a standard in python plotting code, and make things clear for those who use matplotlib a lot. The 'codacy' naturally complains about the length of the variables. Do you think I still have to change them?

[2019-10-17 14:10] tomaslovato opened #1396 "diagnostic for multi-model oceanic fields"
This diagnostic script address oceanic fields to plot multiple panel maps of simulated fields or biases if observational data are specified for the considered variable.

This diagnostic should be rather flexible to allow a nice multipanel plot design to adjust for the number of models included in the analysis.

As an example, a recipe using fgco2 (CO2 surface flux) will be prepared.

This developm

[2019-10-18 09:20] #1351 closed

[2019-10-21 10:42] schlunma opened #1400 "CMORizer data type not always 32bit float"
**Describe the bug**
I have the problem that some NCL functions do not work when input data is saved as 64 bit floats (`fatal:Assignment type mismatch, right hand side can't be coerced to type of left hand side`), which is sometimes the case for `OBS` datasets.

I think it would make sense to always write 32 bit float output in all CMORizer scripts. I will implement this.

[2019-10-21 11:05] mattiarighi commented on #1400
This is also the case in the `CMIP5` data: variables are `float32` (NCL `float`) and coordinates are `float64` (NCL `double`).

[2019-10-21 11:08] schlunma opened #1401 "CRU CMORizer fails"
**Describe the bug**
After #1167, the CRU CMORizer does not work anymore because the `raw_units` attribute in the configuration file is not checked anymore. There was a reason why I included this in the first place...

[code]

I will fix this.

[2019-10-21 13:44] zklaus commented on #1027
No, we are still waiting for input from @veyring, who is now on her well-deserved vacation.

[2019-10-21 14:51] Peter9192 opened #1403 "eWaterCycle: Add recipe to prepare input for WALRUS"
**Short description of the diagnostic**
Convert ERA-Interim and/or ERA5 meteorological input data to a format that can be used as forcing data for the WALRUS hydrological model. This is part of the preprocessing workflow in the eWaterCycle project.

**Branch and pull request**
Once you've started working, add the branch (and pull request)

[2019-10-22 15:15] bjoernbroetz commented on #1367
Yes.

I think so too. @glad94 do you want to give it a try to add this feature?

[2019-10-22 17:49] valeriupredoi opened #1406 "New ESMValTool logo"
Hey guys, I know this may be a bit of a side-problem, but I think the logo is a very i,portant thing for a product, so I had a bit of a remake done to our nice logo - I really like @axel-lauer new site and actually borrowed the logo and font layout from the new site but I made a couple changes:

- enhanced colours of the globe,
- added an actual (toy) satellite and put a couple lights on it;
- add

[2019-10-23 11:13] bouweandela opened #1407 "Remove the word 'obs' from CMORizer scripts"
Since the cmorizer scripts in esmvaltool/cmorizers/obs are the only cmorizer scripts and they are also used for e.g. reanalysis data, I would propose to:
- Move these scripts one level up, to esmvaltool/cmorizers
- Rename the command from `cmorize_obs` to `cmorize`
- Get rid of the `obs` suffix/infix in all other filenames

[2019-10-23 11:48] axel-lauer commented on #1406
Nice logo, couldn't find the submarine yet, though ;-) But I think we have to discuss a possible change of logo with @veyring first before deciding anything...
Regarding the gray bar on the website, I just changed that to slightly funkier semi-transparent dark blue and modified the current logo so that text and satellite orbit are now in white. The menu font is now also white. I think not having t

[2019-10-23 14:08] valeriupredoi commented on #1407
good call!

[2019-10-23 14:21] valeriupredoi commented on #1406
nice one @axel-lauer - like the blue band much better :beer: Yes, of course -- discussing the logo change with @veyring is a must -- I am just starting this thread to put forward propositions, we can have a few of them and a bunch of ideas to choose from. The submarine is in the North Atlantic but you can't see it since it's currently at 400m depth :grin:

[2019-10-24 07:18] bascrezee commented on #1371
Since it is possible to run the tools separately and also the errors are unrelated to ESMValTool I am closing this issue.

[2019-10-24 07:18] #1371 closed

[2019-10-25 12:30] axel-lauer opened #1409 "Porting more sea ice diagnostics from v1 to v2"
Porting the following sea ice diagnostics from v1 to v2:

- [x] seaice_trends.ncl (trends)
- [x] seaice_yod.ncl (year of disappearance)
- [x] seaice_ecs.ncl (emergent constraints)

Branch: version2_seaice_extensions (ESMValTool)

[2019-10-28 09:43] #1320 closed

[2019-10-28 15:29] Peter9192 opened #1412 "Update ERA-Interim recipes to OBS6"
#1297 will update the ERA-Interim CMORizer from OBS to OBS6. As noted in https://github.com/ESMValGroup/ESMValTool/pull/1297#issuecomment-546918439, recipes that currently use OBS data from ERA-Interim and need to be updated accordingly.

A draft PR has been created in https://github.com/ESMValGroup/ESMValTool/pull/1411

[2019-10-29 10:29] SarahAlidoost opened #1413 "CMOR check does not fail on wrong order of the pressure levels"
According to CMIP6 [tables](https://earthsystemcog.org/site_media/projects/wip/CMIP6_pressure_levels.pdf), the order of the pressure levels should be decreasing. The CMOR check does not fail on wrong order of the pressure levels.

[2019-10-29 13:09] #1353 closed

[2019-10-30 09:57] mattiarighi opened #1414 "recipe_autoassess_stratosphere.yml not working"
[code]

The logfile contains the following traceback:
[code]

[2019-10-30 10:30] valeriupredoi commented on #1414
Cheers @mattiarighi, I'll have a looksee today :beer:

Dr Valeriu Predoi.
Computational scientist
NCAS-CMS
University of Reading
Department of Meteorology
Reading RG6 6BB
United Kingdom

On Wed, 30 Oct 2019, 09:57 Mattia Righi, <notifications@github.com> wrote:

[2019-10-30 12:33] SarahAlidoost opened #1415 "Add orography to ERA-interim cmorizer"
The variable Geopotential is available in three versions in ERA-Interim:

- daily at several pressure levels, CMOR name =zg, CMOR table= day
- monthly at several pressure levels, CMOR name =zg, CMOR table= Amon
- invariant at surface, CMOR name =orog, CMOR table= fx

The current download script and cmorizer only support the first two versions. However, we need the last version to calculate orograp

[2019-10-30 12:48] valeriupredoi commented on #1413
the thing to look for is `"positive": "down"` or `up` for the matter; can you pls close this and reopen it in the Core https://github.com/ESMValGroup/ESMValCore/issues :beer:

[2019-10-30 13:00] Fridunn commented on #1406
Hi,
I've been following and learning a lot from your threads, so I wanted to pay it back now with some advice about the logo. First of all I see that the font style in the logo seems to be off with the scaling, could be that it is not an font style that is done in vectorized format, that is both on the ESMValTool, and the smaller text (scale the browser window and you will get quick response).

Th

[2019-10-30 16:24] #1414 closed

[2019-10-30 16:34] mattiarighi opened #1418 "sftlf error in ERA-Interim data"
The `sftlf` variable is not correctly cmorized in `ERA-Interim`.
When running `recipe_check_obs.yml` the following is returned:
[code]

I think the time coordinate has to be removed.

[2019-10-31 07:31] mattiarighi commented on #1418
Yes, that's the point, there is no time coordinate, but the variable is still rank 3:
[code]

[2019-10-31 13:22] Peter9192 commented on #1418
These are actually two separate problems:
1. The time dimension needs to be removed
2. typeland: does not exist

1 is addressed by #1416, by adding iris.util.squeeze to the cmorizer. 2 is still an open issue.

[2019-10-31 14:01] mattiarighi commented on #1418
As expected, after #1416 the error message is slightly different and points only to the typeland issue:
[code]

[2019-10-31 15:59] Peter9192 opened #1420 "Add orography to ERA5 CMORizer"
For ewatercycle we'd like to add orography (as an invariant variable) to the ERA5 cmorizer.

PR: #1419

[2019-10-31 16:38] bouweandela commented on #1312
In order to avoid too much code duplication, I would propose to re-use code as much as possible, but keep two separate copies of the code:
- one for ERA-Interim and ERA-Interim Land
- one for ERA5 and ERA5-Land
because there are some differences.

@mattiarighi What is your preferred way to get this done, small incremental changes and we ask you to test every time? Alternatively, I can collect all

[2019-11-01 10:11] bouweandela commented on #1365
Related issue https://github.com/ESMValGroup/ESMValCore/issues/138

[2019-11-01 10:18] bouweandela commented on #1394
Preferably you should address them, but if you have something like 10 or so left it's fine. Reducing the functions to about 50 lines is a great rule of thumb, because that means you can see the entire function without scrolling, which really helps to avoid unseen bugs.

I think it would be good to stick with the Codacy advice. I think names like `figure`, `axis`, `colorbar` would be nicer for thos

[2019-11-04 07:41] mattiarighi commented on #1312
The latter option would be better, thank you.

[2019-11-04 08:07] axel-lauer opened #1422 "Snowalbedo (IPCC AR5 fig. 9.45a)"
Porting diagnostic for snowalbedo from v1.1 to v2.0 (IPCC AR5 fig. 9.45a).
Branch: version2_snowalbedo

[2019-11-04 10:59] #1420 closed

[2019-11-04 15:05] valeriupredoi commented on #1418
`typeland: does not exist` is the remainder of the two-pronged issue, as @Peter9192 points out. Type-whatever is a royal pain in the arse; we're still not sure how to get around it, I would advocate removing the check that looks for it ie create a set of embargoed coords (AuxCoords) that you don't let the tool fail on, unless you are really really nitpicky, see also my proposal in https://github.c

[2019-11-04 16:25] SarahAlidoost opened #1425 "Add longwave radiation and surface pressure to ERA-interim cmorizer"
The some hydrological models need two daily variables which are not in the current ERA-interim cmorizer:
surface_downward_thermal_radiation (175.128) and surface_pressure (134.128)
-  interim name = strd and sp
-  cmor names = rlds and ps, cmor tables= day and CFday

The [PR](#1426 ) adds these variables to the cmorizer and download script.

[2019-11-05 06:39] amarjiitpandde opened #1429 "CMORize WOA"
Dear ESMValTool community,

I am trying to CMORize the WOA13 salinity data. Unfortunately, I am unable to understand how to do this? I have currently trying to run obs_WOA.yml file (copied below) and the command I am running is "cmorize_obs -c ~/anaconda2/envs/esmval2/lib/python3.7/site-packages/ESMValTool-2.0a2-py3.7.egg/esmvalcore/config-user.yml"

obs_WOA.yml code --
` preprocessors:
  nopp:  e

[2019-11-05 14:01] valeriupredoi commented on #1429
Hi @amarjiitpandde you need to edit `~/anaconda2/envs/esmval2/lib/python3.7/site-packages/ESMValTool-2.0a2-py3.7.egg/esmvalcore/config-user.yml` with a valid rootpath for the `RAWOBS` field; you should also take it out from the target install directory put it somewhere where it's easier for you to see it and edit it :beer:

[2019-11-05 15:03] SarahAlidoost opened #1430 "Add longwave radiation and surface pressure to ERA5 cmorizer"
Some hydrological models need two hourly variables which are not in the current ERA5 cmorizer:
surface_downward_thermal_radiation and surface_pressure

ERA5 name = strd and sp
cmor names = rlds and ps, cmor tables= E1hr
The [PR](#1431 ) adds these variables to the cmorizer.

[2019-11-07 13:02] valeriupredoi commented on #1269
PR beered in #1272

[2019-11-07 13:02] #1269 closed

[2019-11-07 13:57] bouweandela commented on #1312
For ERA5, I would propose a new approach where we read in the data in the ERA5 native format and CMORize using fixes. Optionally precalculated CMORized data can be stored using a recipe. See:
https://github.com/ESMValGroup/ESMValCore/pull/358
https://github.com/ESMValGroup/ESMValTool/pull/1432
I will take care of moving the content of the ERA5 cmorizer script to the branches/pull requests above.

[2019-11-07 14:46] rswamina commented on #473
@schlunma - Should I check this branch out to generate the plot using the FLUXCOM data once its CMOR-ization code has been approved ?

[2019-11-07 17:01] #1430 closed

[2019-11-07 19:14] #1425 closed

[2019-11-10 12:27] valeriupredoi commented on #1361
closed via #1364

[2019-11-10 12:27] #1361 closed

[2019-11-10 12:39] valeriupredoi opened #1434 "ESMValTool and observational (OBS) data uncertainties"
This is a broad issue (and not even an issue per se) - and pretty skinny at the moment, since it contains just a shout out - we should start thinking about implementing the use of OBS data uncertainties in dedicated diagnostics, but before that we should probably ask ourselves if there are already any functions that deal with this. We will have a discussion about this at the UKESM retreat (Novembe

[2019-11-10 12:48] rjp23 commented on #1434
I also raised this at the ESA CCI CMUG integrration meeting. A lot of obs data doesn't include uncertainties and how these uncertainties are propagated when averaging or regridding needs a lot of care and expertise from the data providers.

As a starting point, if Obs4MIP data contains an estimate of uncertainties then ESMValTool should at least be able to utilise them but this is a very complex i

[2019-11-11 09:12] zklaus commented on #1434
We should also be aware of the place this kind of data has in the current and upcoming standards.
For example, in CF there is [ancillary data](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/cf-conventions.html#ancillary-data) for this purpose (see also [CF appendix C](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/cf-conventions.html#standard-name-modifiers)).

Th

[2019-11-12 06:41] #1409 closed

[2019-11-12 07:35] glad94 commented on #1367
Hi @bjoernbroetz , my apologies, I only read the "Yes" from your earlier reply in my email notification and only just saw the rest of it! If this hasn't been introduced in the latest update yet, I'll be happy to help and try messing around and understand what's going on between the recipe, diag_script and driver.ncl.

[2019-11-12 11:08] zechlau opened #1436 "Porting namelist_wenzel14jgr to v2.0"
porting the above mentioned namelist to v2.0 by converting the file and related routines to a recipe_wenzel14jgr.

[2019-11-13 07:29] amarjiitpandde commented on #1429
Hi @valeriupredoi, I the raw WAO files are present at "/home/amarjiit/ESMValTool/userdata/v2-files/RAWobs" and I have already added this in my config-user.yml file (presnt in the installed directory) as:
"
rootpath:
  OBS:  [~/ESMValTool/userdata/v2-files/obs, ]
  RAWOBS: [/home/amarjiit/ESMValTool/userdata/v2-files/RAWobs,  ~/ESMValTool/userdata/v2-files ]
"
thank you.

[2019-11-13 13:01] valeriupredoi commented on #1434
@rjp23 would you be ok to upload your presentation from yesterday's retreat session? That'd be great, it was very informative to me :beer:

[2019-11-13 14:22] mattiarighi commented on #1057
There are some news about the future of NCL:

http://www.ncl.ucar.edu/Document/Pivot_to_Python/september_2019_update.shtml

_"To summarize the status of NCL, the project is "feature frozen". CISL does not have plans at this time to add new features to NCL. We will, however, prepare maintenance releases containing critical bug fixes and user-contributed code on an infrequent basis. Thus, there is n

[2019-11-15 13:43] mattiarighi commented on #1429
Is this solved?

[2019-11-15 13:46] #1380 closed

[2019-11-18 08:18] bjoernbroetz commented on #1374
Closed by #1387

[2019-11-18 08:18] #1374 closed

[2019-11-18 09:13] bjoernbroetz commented on #1373
Addressed in PR  #1441

[2019-11-18 11:45] ledm opened #1442 "Fx files in Omon or Ofx"
I'm finding some strange behaviour with the ocean grid cell volume `volcello` files. There are two issues.

Firstly, I don't think that iris is able to load any of these files, (using `iris.load_cube(fn)` ). I have no idea why though. They all open fine with ncdump ncview, & netCDF4.

Secondly, most the models have put the `volcello` files in the `Ofx` MIP, but some have put them in the `Omon` MIP

[2019-11-18 13:55] ledm commented on #1442
The first issue is linked with @valeriupredoi's iris issue: https://github.com/SciTools/iris/issues/3544

[2019-11-19 14:19] bjoernbroetz opened #1443 "Recipe recipe_extreme_events.yml broken because dependency has been removed from CRAN"
Recently the `ncdf4.helpers` package was removed from CRAN:
see: https://cran.r-project.org/web/packages/ncdf4.helpers/

Formerly available versions can be obtained from the archive.
Archived on 2019-11-16 as check problems were not corrected in time.

This leaves us with a broken installation for the extreme event diagnostic as it is a dependency for the `climdex.pcic.ncdf` package that was added

[2019-11-20 10:23] schlunma opened #1444 "TCR diagnostic and fig. 9.42b of flato13"
**Short description of the diagnostic**
Transient Climate Response (TCR) and fig. 9.42b of Flato13ipcc.

**Branch and pull request**
#1445

[2019-11-20 10:55] ledm commented on #1442
From @bjlittle in the iris github 3544 issue https://github.com/SciTools/iris/issues/3544:

[2019-11-20 15:43] bjoernbroetz commented on #1443
Once PR #1360 is merged there will be alternative ways to install R packages. PR #1447 tries to solve this issue by installing the `ncdf4.helpers` package from the cran-archive.

[2019-11-22 09:54] bouweandela commented on #1443
Reported the issue with the creators of the package: https://github.com/pacificclimate/ncdf4.helpers/issues/1

[2019-11-22 09:57] bouweandela commented on #1443
Note that while PR #1360 adds support for installing dependencies from GitHub and other locations, this is only meant for development purposes. It should not be needed for a normal installation of ESMValTool, as it will make the already complicated installation procedure even more error prone and unreliable.

[2019-11-22 10:42] amarjiitpandde commented on #1429
no, I still do not understand how to CMORize OBS.

[2019-11-22 13:25] valeriupredoi commented on #1429
@amarjiitpandde what is the actual error you get, please?

[2019-11-22 14:33] valeriupredoi commented on #1442
OK so this is quite a peculiar but alas very useful issue @ledm

- the first part of the issue is solved by moving to iris=3
- the second part of the issue is more touchy in that I am not sure if they will actually place the Ofx data in ESGF; eeven so, as we spoke on the phone, you pointed to me that the actual time-dependent data is needed and not the time-invariant (time-averaged). The way you u

[2019-11-25 09:49] bjoernbroetz commented on #1443
@bouweandela Would it be an option to allow installing from Github only for packages from our organization (https://github.com/ESMValGroup) in the normal installation process? In a situation like in this issue, where a package became unsupported, we could make a fork and use this instead of the original.

However, this could be only a medium term solution and the unsupported dependencies would nee

[2019-11-25 10:35] #1444 closed

[2019-11-25 14:25] rswamina opened #1450 "Plotting pressure levels on uneven scales in zonal mean maps"
I am trying to reproduce a plot for zonal mean differences between two time periods for the variable "atmospheric temperature (ta)". Is there some way in Python that I can get the scale to be non-uniform? For example the available pressure levels for this data are :
[100000.  92500.  85000.  70000.  60000.  50000.  40000.  30000.  25000. 20000.  15000.  10000.   7000.   5000.   3000.   2000.   100

[2019-11-25 16:48] ledm commented on #1442
Thanks @valeriupredoi, for the help with the iris3 installation. That did help!

Just to summarise the problem with `volcello` (and a solution) as I see it:

In CMIP5, the ocean cell volume, `volcello`, can only be provided in the `fx` MIP. It always had the same dimensions: (depth, Latitude, longitude).

In CMIP6, the ocean cell volume, `volcello`, can be provided in multiple different MIPs, but

[2019-11-26 15:33] #516 closed

[2019-11-27 10:58] koldunovn commented on #1394
Hi @bouweandela, @zklaus, @mattiarighi

Here is the status. I think I ticked all the boxes:

- provenance is added to all generated files.
- There are only 11 codacy issues left, among them, two yellow ones seem to be codacy mistakes:
  - `interpolate_esmf` has only 18 variables (at least VSCode thinks so), not 31, anyway the function is quite short now.
  - "Unused argument 'kwargs'" for `genfile

[2019-11-27 14:27] bouweandela commented on #1443
The approach so far has always been to copy/paste the code into the directory containing the diagnostic that uses certain code if no package is available. I think that can also be done in this case, if it turns out that the ncdf4.helpers R package is no longer maintained.

[2019-11-27 15:04] schlunma opened #1452 "ECS calculation in cox18nature.yml fails"
After #1445, `recipe_cox18nature.yml` fails with

[code]

[2019-11-29 06:48] glad94 opened #1455 "Error finding input GPCP-SG obs4mips file"
Hi,

I'm trying to use the GPCP-SG obs4mip pr data for the quantilebias recipe. I've left the recipe_quantilebias.yml unchanged (it uses GPCP-SG as the default observation) but the programme terminates right after ```Using input files for variable pr of dataset GPCP-SG:``` and I get the ```No input files found for variable {}``` error message.

I've set my Obs directory in config-user.yml as ```~/

[2019-11-29 12:42] #1343 closed

[2019-11-29 18:05] zklaus commented on #1450
Looking at [the example you provided in your email](https://software.ecmwf.int/static/ERA-40_Atlas/docs/section_D25/parameter_zmtsp.html), the answer is to use a logarithmic plot.
One way to achieve this that works with the iris plotting routines is to use `set_yscale` on the axis post-hoc:

[code]

That will give you essentially the plot you are after, albeit with powers of ten as labels on the y

[2019-12-02 13:04] #1341 closed

[2019-12-02 14:51] valeriupredoi commented on #1455
Hi @glad94 you will need to set an `obs4mips: ~/Obs` in your config file and declare your dataset as `- {dataset: GPCP-SG, project: obs4mips, level: L3, version: v2.3, tier: 1, start_year: XXXX, end_year: XXXX}` (replace XXXX wit your needed years) in your recipe (or leave it unchanged if it was previously declared like this)

[2019-12-02 14:55] valeriupredoi commented on #1450
yeps, semilog is your way @rswamina as @zklaus suggests: note you can use `semilogy()` out the box: https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.semilogy.html

[2019-12-02 22:04] zklaus commented on #1450
@valeriupredoi, you are of course right when it comes to "naked" matplotlib. But, as far as I know, there is `semilogy` routine in `iris.plot`, maybe because the connection between x- and y-axis on the one side and the corresponding dimensions/coordinates is not so obvious. That's why I suggested applying the logarithmic scaling post-hoc.

[2019-12-03 11:07] koldunovn commented on #1394
@zklaus Thank you for the comments. I have implemented changes you requested and remove cmorization part, I will do a separate PR with it.

@bouweandela @mattiarighi Can you, please, comment if something else should be done?

[2019-12-03 11:19] mattiarighi commented on #1394
I'll test the PR once @bouweandela has approved it, as usual.

[2019-12-04 00:39] glad94 commented on #1455
Hi @valeriupredoi , thank you it's able to locate the file now. The recipe itself isn't working for me and throws up a cdo error, I suppose from #1239 and #1294 this is expected behaviour still for now?

[2019-12-04 15:38] Peter9192 opened #1461 "WFLOW diag: wflow want's "negative longitudes""
**Describe the bug**
wflow expects longitudes above 180 degrees to be 'negative', i.e. lon 181 --> -179.

Issue emerges when trying to run wflow, so there's no esmvaltool log/error to append.

PR: #1460

[2019-12-04 15:46] valeriupredoi commented on #1455
Hi @glad94 awesome! What is the actual `cdo` error - is it the same as the one in #1239 ? I will attempt to request the latest cdo version in the environment and see if we still hit the dependency issue. Is it okay to close this for now and take the cdo-related issues to those issues? :beer:

[2019-12-04 16:04] valeriupredoi commented on #1455
@glad94 here is the fix for the environment for cdo to work again https://github.com/ESMValGroup/ESMValTool/pull/1462

[2019-12-04 16:54] #1461 closed

[2019-12-04 18:20] koldunovn commented on #1394
I have updated the environment and `fx` files do not work anymore. Looking at the issue.  Maybe @valeriupredoi can give a quick hint of where to look. I try to get `areacello` variables like this:

[code]
and when ESMValTool tries to get `areacello` from climatology, that has only one time step and defined like this:
[code]
It seems to try to concatenate two `areacello` files and naturally fails w

[2019-12-05 13:54] valeriupredoi commented on #1394
@koldunovn I am running your recipe without the PHC data (I dont have it, nor is it on Jasmin/esmeval) and am not noticing any concatenation errors: `INFO    Successfully completed task arctic_ocean/areacello (priority 0) in 0:01:25.616730` - can you pls tell me which files it is trying to concatenate and it's failing? :beer:

[2019-12-05 13:54] koldunovn commented on #1394
Ok, the problem is solved, I had two `areacello` files in the directory.

But now I have another one :) Related to https://github.com/ESMValGroup/ESMValTool/pull/1459 As suggested by @mattiarighi I changed `mip` for observations to `Oyr`. Now I am in the situation when my data (`thetao`, `so`) have `mip: Omon` , `areacello` data have `mip: fx`, and my `additional dataset` (PHC) has `mip: Oyr`.

-

[2019-12-05 13:55] koldunovn commented on #1394
@valeriupredoi thanks for the answer! Sorry, it was a stupid mistake of having two areacello files in one directory (in subdirectory actually).

[2019-12-05 14:20] valeriupredoi commented on #1394
this is why I tried to convince @mattiarighi and @bouweandela that my proposed priority assignment of mip should be: if mip specified in variable then that should be prioritized over the mip specified in the dataset dictionary! This case here is not solved without such a priority assignment; the only way around it in a nasty way is to make the PHC data Omon

[2019-12-05 14:31] koldunovn commented on #1394
For me, it's the easiest solution, so I am happy :) Thanks for looking into this!

[2019-12-05 14:40] valeriupredoi commented on #1394
okeydokey :grin:

[2019-12-05 20:21] amarjiitpandde commented on #1429
@valeriupredoi  I am not getting any error, I do not know how to cmorize WOA data. I apologize for not conveying this problem clearly. I have attached the main_log file from the run it says - "Could not find cmorizer for {'Tier2': ['WOA']}"
I have also attached the yml recipe and config-user file (both as a txt file). The WOA data is in the location specified in config-user file.
the command I am

[2019-12-05 20:32] koldunovn commented on #1429
Shouldn't it be

`cmorize_obs -c ~/Desktop/config-user.yml -o WOA `

?

[2019-12-05 21:04] amarjiitpandde commented on #1429
@koldunovn same output " Could not find cmorizer for {'Tier2': ['WOA']}" in
 cmorize_obs -c ~/Desktop/config-user.yml -o WOA

[2019-12-06 07:51] hb326 commented on #1429
What I can see from your main_log.txt file, your folder for the raw obs is called "RAWobs" and not "RAWOBS", that definitely is a problem, but I am not sure if that is your main problem.
Another thing I would try if I were you: put the raw data files in a folder structure that looks like this:

` ~/RAWOBS/Tier2/WOA/`

I think the ESMValTool needs this structure to actually find the raw data files

[2019-12-06 13:05] valeriupredoi commented on #1429
@hb326 is right about the dir structure, however, you can call your `RAWOBS` dir whatever you want to call it, be it `COWS_IN_THE_VALLEYS` :grin: But that dir must be structured as `/Tier2/WOA` inside it.

Anyways, the error is that the flow can not find the cmorizer script - @amarjiitpandde can you pls confirm that you have the script `$ESMValTool/esmvaltool/cmorizers/obs/cmorize_obs_woa.py` wher

[2019-12-06 13:40] valeriupredoi commented on #1429
@amarjiitpandde I have just added a logging line that should tell you on-screen where the cmorizer scripts live, can you pls do:

- go to ESMValTool source code dir;
- `git pull origin version2_development` to checkout the new change;
-  `pip install -e '.[develop]'` to install the new changes;
- edit the config file as per my previous comment;
- rerun `cmorize_obs -c ~/Desktop/config-user.yml -o

[2019-12-09 11:28] valeriupredoi opened #1467 "Duplicate esmvaltool package on Anaconda cloud"
Googling `esmvaltool anaconda` will result in the first result being https://anaconda.org/birdhouse/esmvaltool whereas Googling `esmvaltool conda` will give me the first result https://anaconda.org/esmvalgroup/esmvaltool - the birdhouse package is obsolete, the esmvalgroup one is the latest. We need to remove the first off the cloud :beer:

[2019-12-09 11:30] valeriupredoi commented on #1455
closing via #1462 for the second bit of the issue; the first bit confirmed solved by @glad94 :beer:

[2019-12-09 11:30] #1455 closed

[2019-12-09 11:37] valeriupredoi commented on #1239
closed via #1462

[2019-12-09 11:37] #1239 closed

[2019-12-09 11:44] valeriupredoi commented on #1266
[code]

the environment that I am trying to install to is (as usual) the `base` one - incompatibilities from `numba` because I suspect the Python<3.8 pinning is not done in the remote conda package - @bouweandela can you pls address that with the next release :beer:

[2019-12-09 11:46] valeriupredoi commented on #1266
currently installing straight from conda either via simple call (conda install) or by creating the env (conda create...) is not working

[2019-12-09 11:47] valeriupredoi commented on #1266
gonna close this because we'll test again with the new release (whenever that'll be available) :beer:

[2019-12-09 11:47] #1266 closed

[2019-12-09 11:48] valeriupredoi commented on #1434
Rob @rjp23 did you have a chance to plop them slides here, pls :beer:

[2019-12-09 12:41] mattiarighi commented on #418
@axel-lauer can we close this?

[2019-12-09 13:45] axel-lauer commented on #418
Some of this has been ported (recipe_seaice.yml), some diagnostics have not been ported yet. Since probably none of us will work on this for the time being, I would be fine with closing this.

[2019-12-09 14:08] #473 closed

[2019-12-11 11:58] #1452 closed

[2019-12-12 09:05] hb326 opened #1468 "conda environment install not working properly"
If I follow the installation instructions for setting up a new environment as described in CONTRIBUTING.md

```conda env create --name esmvaltool3 --file environment.yml```

I get the problem that the installation seems to get stuck at solving the environment. It took more than 70 minutes before I had to interrupt the installation.

Additionally, the nightly tests on CircleCI "conda_install" and "

[2019-12-12 10:59] mattiarighi opened #1469 "Bug in recipe_check_obs.yml for ERA5"
The recipe fails to read `orog` from the ERA5 data.
Apparently the cmorizer expects a time coordinate which does not exist since this is a `fx` variable.

Traceback:
[code]

[2019-12-12 11:41] valeriupredoi commented on #1469
what's the frequency of `orog`? Bet you my boots it's not `fx` and it should be

[2019-12-12 12:24] valeriupredoi commented on #1469
fix: https://github.com/ESMValGroup/ESMValCore/pull/397 - the chack on having start and end times is not exhaustive so the check on frequency needs to be reinstated -> @bouweandela you owe me a beer :beer:

[2019-12-12 12:39] valeriupredoi commented on #1468
looking into this right now -> just to confirm, the branch is `version2_development` right?

[2019-12-12 12:51] hb326 commented on #1468
It was not for my try. Not sure about the CircleCI. @bjoernbroetz, you know that, right?

[2019-12-12 12:52] hb326 commented on #1468
I will test the installation now with ```version2_development```.

[2019-12-12 12:54] valeriupredoi commented on #1468
please check your `conda` version by running `conda --version`: confirm that environment build fine with `conda=4.7.11` and `conda=4.8.0`(latest), if your `conda` is older than `4.7.11` please update it by running `conda update -n base -c defaults conda`. Closing this since it's a non issue, if you still have troubles please reopen and post the output of `conda --version && lsb_release -a && pytho

[2019-12-12 13:03] valeriupredoi commented on #1468
actually prob best to reopen before we establish why the nightly CI builds fail -> @bjoernbroetz ?

[2019-12-12 13:50] #1469 closed

[2019-12-12 13:53] bjoernbroetz commented on #1468
Nightly `conda_build` fails with

[code]

Using the `version2_development`.

But `conda_install` has been fine for this branch last night, which is what is relevant here I guess.

By the way, there is a lot testing on circle CI going on for `version2_master` which seems to be not active anymore.

[2019-12-12 13:54] SarahAlidoost opened #1470 "In ERA5 cmorizer, making latitude increasing is not implemented correctly"
There are two issues regarding "make latitude increasing" and the implementation as cube[:, ::-1, ...]:

1. it should be done before guessing bounds for coordinates.
2. the current implementation does not support a four dimensional cube. For some variables, the dimensions are [time, pressure level, latitude, longitude].

[2019-12-12 13:58] bjoernbroetz commented on #1468
Saying that. When we look back a bit:
https://circleci.com/gh/ESMValGroup/ESMValTool/tree/version2_development
we see that also `conda_install` was failing 2 days ago and before reporting

[code]
Which is the linux way to say that there was to less memory for this. We have 4GB on this VM.

[2019-12-12 14:37] valeriupredoi commented on #1468
OK - what does `conda --version` say? It takes at most 800MB for `conda-env` to run - you may have a whole lot of processes that are impeding it to run and it may sleep for long enough to be killed by the job killer. It sounds to me like a transitory issue and nothing systemic

[2019-12-12 14:56] valeriupredoi commented on #1468
whoaa hold your horses, I see what the bugger is: https://circleci.com/gh/ESMValGroup/workflows/ESMValTool?pipelines-ui-opt-out - the nightly build uses `conda install` from the nightly built package which is a turkey! The `esmvalgroup` package needs to be updated with the latest environment and should pull the latest `esmvalcore` off pip that hasn't been rebuilt for ages now - the py<3.8 pin is n

[2019-12-12 14:58] hb326 commented on #1468
The installation worked not when I am on the branch ```version2_development```. Thanks for the hint!

[2019-12-12 15:08] valeriupredoi commented on #1468
Birgit, *not* when you are on `version2_development`?

[2019-12-12 15:09] hb326 commented on #1468
Sorry, typo. I meant _now_.

[2019-12-12 15:17] valeriupredoi commented on #1468
ok so an install off the conda built package:
[code]
works eventually - it does take about 2GB for dependency solving and env setup but it goes through. It installs an older version of `esmvalcore` tho:
[code]
but `esmvalcore` is old even if it's b3 -> @bouweandela will have to update it, but better if we just wait for the latest for stable v2.0 that will come soon enough

@bjoernbroetz if you not

[2019-12-12 15:25] valeriupredoi commented on #1468
we okay to close this, guys?

[2019-12-12 15:28] hb326 commented on #1468
Good with me. Thanks again!

[2019-12-12 15:34] #1468 closed

[2019-12-12 15:44] bjoernbroetz commented on #1468
Yes, close it. Normal installation is working fine with this memory footprint:
![plot](https://user-images.githubusercontent.com/25008190/70726340-3d10bf00-1cfe-11ea-9ef9-66e96d3d317b.png)

First conda then pip then R with a spike when R makes some tests.

[2019-12-12 15:49] valeriupredoi commented on #1468
nice diagram @bjoernbroetz - I noticed something similar myself, note the almost 20min spent in the cycle of solving the environment and the almost 10min installing the R packages. It is not ideal by far, but updating `esmvalcore` to latest will improve things

[2019-12-12 15:54] valeriupredoi commented on #1468
here's a fresh example of the `Too long...` issue you noticed https://circleci.com/gh/ESMValGroup/ESMValTool/27849?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-12-12 15:58] bjoernbroetz commented on #1468
Yes, maybe we can change some setting in our Circle CI to prevent those timeouts for now.

The plot is done with my new favorite command line tool: [psrecord](https://pypi.org/project/psrecord/)

[2019-12-12 16:03] valeriupredoi commented on #1468
here https://support.circleci.com/hc/en-us/articles/360007188574-Build-has-hit-timeout-limit - am measuring the R installation time, problem is that we are piping the output to file for artefacts so the stoopid CI thinks it's dead in the water

[2019-12-12 16:05] bjoernbroetz commented on #1468
https://circleci.com/docs/2.0/configuration-reference/#run

"no_output_timeout | N | String | Elapsed time the command can run without output. The string is  a decimal with unit suffix, such as “20m”, “1.25h”, “5s” (default: 10  minutes)"

[2019-12-12 16:06] bjoernbroetz commented on #1468
Ok @valeriupredoi , you were more fast

[2019-12-12 16:12] valeriupredoi commented on #1468
right so on a good CPU it took me `real	7m5.228s` to install the R stuffs so yeah, that could easily go over 10min on a mediocre CPU, we need to fix that parameter :+1:

[2019-12-12 16:17] bjoernbroetz commented on #1468
But maybe the better way would be as you wrote above, to help Circle CI to understand what we are doing. We could use `|tee ` instead of `>` to redirect the output and let Circle CI know that we are not dead.

[2019-12-12 16:26] valeriupredoi commented on #1468
well, eventually the CI will rerun the container and tests will pass, but that's only for the user tests (for PR's) and not for the nightly builds by the looks of it. Dunno, up to you guys to decide what the best method -> `tee` will produce a ton of stdout but we do have a ton of it anyways -> I am impartial :grin:

[2019-12-13 07:51] bjoernbroetz opened #1473 "Nightly conda installation fails "with out of memory""
Nightly circle CI workflow: `conda_install` for `version2_development` fails with exit code 137 (out of memory). The VM has 4GB and the conda installation shouldn't be that demanding.

See:
https://circleci.com/gh/ESMValGroup/ESMValTool/27870

[2019-12-16 15:44] valeriupredoi commented on #1473
it's important to know where the memory goes over the edge: it looks to me that this happens at `Executing transaction` stage which only means that this is happening while running the R packages installation, and it looks to me that `cc1plus` is running a lot of instances on the same shared pool of memory although even with this it's still not clear to me why it can go over 4GB limit.

[2019-12-17 08:39] bouweandela commented on #1028
A roadmap is now available at https://www.esmvaltool.org/roadmap.html. To get stuff on there, email @bjoernbroetz

[2019-12-17 08:50] bouweandela commented on #1328
@mattiarighi Any opinion on this?

[2019-12-17 09:12] mattiarighi commented on #1328
Sorry, I've missed this issue.
Good suggestion, I agree.

[2019-12-17 09:57] bjoernbroetz opened #1475 "Xmas 2019"
![2019Xmas](https://user-images.githubusercontent.com/25008190/70984945-a2c4c880-20bb-11ea-8c6b-387fd11e9ec0.png)

[2019-12-17 09:58] bjoernbroetz commented on #1475
@ESMValGroup/esmvaltool-coreteam

[2019-12-17 10:10] valeriupredoi commented on #1475
Aw that's biutiful, cheers Bjoern! Happy home made food coma-ing :grin:
:beer:

Dr Valeriu Predoi.
Computational scientist
NCAS-CMS
University of Reading
Department of Meteorology
Reading RG6 6BB
United Kingdom

On Tue, 17 Dec 2019, 09:58 Björn Brötz, <notifications@github.com> wrote:

[2019-12-17 10:14] mattiarighi commented on #1475
What does "assigned to mattiarighi" imply?
Should I dress me up as Santa Claus now?  :santa:

All the best for Christmas and and a happy 2020 to everybody!
:christmas_tree: :gift: :snowman_with_snow:  :tada:

[2019-12-17 10:16] valeriupredoi commented on #1475
@mattiarighi you get assigned by default to everything :grin:

Dr Valeriu Predoi.
Computational scientist
NCAS-CMS
University of Reading
Department of Meteorology
Reading RG6 6BB
United Kingdom

On Tue, 17 Dec 2019, 10:14 Mattia Righi, <notifications@github.com> wrote:

[2019-12-17 13:03] bjoernbroetz commented on #1475
Assigned means you are in charge of this task: "Peace on Earth"

[2019-12-17 13:42] ledm commented on #1475
We'd like some peace in the ocean too please!

[2019-12-17 15:31] hb326 commented on #1475
Awwww!  :heart_eyes:

[2019-12-17 15:32] hb326 commented on #1475
Also from me:
Merry Christmas and a happy 2020!!
:santa: :mrs_claus: :fireworks: :champagne:

[2019-12-17 15:35] valeriupredoi commented on #1475
Just on the Transylvania Express, guys :grin: :dracula: U+2642

Dr Valeriu Predoi.
Computational scientist
NCAS-CMS
University of Reading
Department of Meteorology
Reading RG6 6BB
United Kingdom

On Tue, 17 Dec 2019, 17:31 Birgit Hassler, <notifications@github.com> wrote:

[2019-12-17 16:12] valeriupredoi commented on #1475
:U+2642: let's see maybe my unicode coding skills are better than NCL :grin:

[2019-12-17 16:14] valeriupredoi commented on #1473
Wonder if there's any way to monitor the mem usage in real time on CircleCI - @bouweandela you know of any? Shurely it's gotta be <<4gb for the R pkgs installation

[2019-12-17 16:45] valeriupredoi commented on #1475
![Slanina-700x465](https://user-images.githubusercontent.com/28983971/71016083-4e423d00-20fd-11ea-8c00-44d21091e694.jpg)

[2019-12-17 19:04] zklaus commented on #1475
I already am on vacation :) Greeting from Mexico!

Merry Christmas and a happy new year to all of you!

[2019-12-19 09:02] koldunovn commented on #1394
@bouweandela is there a chance that you will have time to look at the PR in the near future? 😳

[2019-12-19 09:45] #1238 closed

[2019-12-19 10:08] mattiarighi commented on #1442
Moving this to the core since it is `data_finder`. issue

[2019-12-19 10:10] mattiarighi commented on #1429
Is this solved @amarjiitpandde ?

[2019-12-19 10:13] mattiarighi commented on #1450
@rswamina is this solved?
If yes, please close.

[2019-12-19 10:17] mattiarighi commented on #1273
Close?

[2019-12-19 10:19] mattiarighi commented on #1267
This has been fixed as part of another issue, apparently.
Thanks for reporting.

[2019-12-19 10:19] #1267 closed

[2019-12-19 10:25] mattiarighi commented on #1174
It would also be nice to get rid of all feature branches which are no longer used.
We have 138 branches at the moment.

[2019-12-19 10:27] #1173 closed

[2019-12-19 10:27] mattiarighi commented on #1171
@rswamina please close the issue if solved.

[2019-12-19 10:28] mattiarighi commented on #1160
Isn't that a bit beyond scope?

[2019-12-19 10:31] bascrezee commented on #1273
Closed by https://github.com/ESMValGroup/ESMValTool/pull/1275

[2019-12-19 10:31] #1273 closed

[2019-12-19 11:56] #1147 closed

[2019-12-19 11:58] mattiarighi commented on #1125
Replaced by  [#193](https://github.com/ESMValGroup/ESMValCore/issues/193).

[2019-12-19 11:58] #1125 closed

[2019-12-19 11:59] mattiarighi commented on #1122
Included in the to-do-list in [#193](https://github.com/ESMValGroup/ESMValCore/issues/193).

[2019-12-19 11:59] #1122 closed

[2019-12-19 12:03] mattiarighi commented on #1110
Closing this. @rswamina reopen if you have further questions.

[2019-12-19 12:03] #1110 closed

[2019-12-19 12:05] mattiarighi commented on #1109
Point 1. is part of a more general discussion on the strategy for cmorizing observations #1120.Point 2. is a machine-specific issue.

[2019-12-19 12:05] #1109 closed

[2019-12-19 12:06] mattiarighi commented on #1077
Closing this then.

[2019-12-19 12:06] #1077 closed

[2019-12-19 12:06] mattiarighi commented on #1017
Closing this. Feel free to reopen if you have further questions.

[2019-12-19 12:06] #1017 closed

[2019-12-19 12:07] mattiarighi commented on #1005
Looks like your question has been answered.
Closing this.

[2019-12-19 12:07] #1005 closed

[2019-12-19 12:09] mattiarighi commented on #903
Is there any chance to finalize this @nperezzanon ?
If not, please close.

[2019-12-19 12:12] mattiarighi commented on #767
Solved in #1090.

[2019-12-19 12:12] #767 closed

[2019-12-19 12:14] mattiarighi commented on #718
Use of custom tables for non-derived obs-specific variables is now operationally used.

[2019-12-19 12:14] #718 closed

[2019-12-19 12:17] mattiarighi commented on #448
Still required?

[2019-12-19 12:18] #364 closed

[2019-12-19 12:19] #48 closed

[2019-12-19 14:47] nperezzanon commented on #903
Not for now, sorry.

[2019-12-19 14:47] #903 closed

[2019-12-19 15:52] rswamina commented on #1450
This is resolved. Thanks!

[2019-12-19 15:52] #1450 closed

[2019-12-19 17:20] #1470 closed

[2019-12-20 09:33] mattiarighi opened #1477 "Example recipe recipe_correlation.yml crashes"
`recipe_correlation.yml` crashes in the diagnostic part.
[log.txt](https://github.com/ESMValGroup/ESMValTool/files/3987638/log.txt)

[2019-12-20 11:28] ledm commented on #1475
And that's me done for the year. 2019 has been crazy. The February ESMValTool workshop in Norrköping feels like decades ago.

Merry Christmas and happy new year everyone.

[2019-12-23 13:31] amarjiitpandde commented on #1429
@mattiarighi @valeriupredoi  Apologies for not posting an update for so long. I was extremely busy with coursework and now I have to change my workstation.
 Yes, cmorize_obs_woa.py is missing in my current installation. So, I will update if this problem is solved in the fresh installation in the new PC.
Thank you,
Amarjiit

[2019-12-23 15:45] bouweandela commented on #1477
This is because the newly CMORized data has bounds for the pressure levels, but the running `extract_levels` on the model data results in data with no bounds for the pressure levels, thus the coordinates become incompatible. It worked because the old ERA-Interim data did not have bounds.

[2019-12-23 16:39] bouweandela opened #1479 "extract_levels does not preserve bounds when using interpolation"
Preprocessor function `extract_levels` does not preserve bounds when using interpolation. We could add the bounds in some cases, e.g. when the source of the pressure levels is another dataset we can simply copy the bounds from there. Also for the CMIP6 CMOR coordinates bounds are available.

[2019-12-23 16:39] bouweandela commented on #1477
Related to #1479

[2019-12-24 18:21] chrisdane opened #1480 "pip install [Errno 13] Permission denied"
Hi

Following the [docu](https://esmvaltool.readthedocs.io/en/latest/getting_started/install.html), running
[code]
yields the error
[code]
Note that `$ pip install --user .` yields the same error.

Unfortunately I am a newbie to the pip/conda universe so I probably made a stupid mistake.

Thanks for any help and happy Xmas,
Chris

[code]

[2019-12-26 09:38] pgierz commented on #1480
Potentially just you trying to simplify things, but is `/path/ESMValTool` copy/paste? If not, that’s your problem...

[2019-12-27 04:17] glad94 opened #1481 "recipe_validation_CMIP6 missing output"
This recipe is currently 1) not writing netCDF files of the plotted figures' data, 2) not doing seasonal analysis for the ```lat_lon``` option even when ```seasonal_analysis``` is set to ```true``` and 3) not producing Control vs Observation plots for the meridional and zonal mean plots.

For 1) I've been using a simple fix by adding in _~/anaconda3/envs/esmvaltool/lib/python 3.7/site-packages/esm

[2020-01-02 12:52] #1396 closed

[2020-01-02 17:22] chrisdane commented on #1480
no thats not the problem...

[2020-01-03 09:50] bouweandela commented on #718
@rswamina

There is a note on how to do this here: https://esmvaltool.readthedocs.io/en/latest/esmvaldiag/observations.html#check-if-your-variable-is-cmor-standard

[2020-01-03 10:07] mattiarighi commented on #1475
Christmas is over :cry:

[2020-01-03 10:07] #1475 closed

[2020-01-03 10:09] mattiarighi commented on #1479
Doesn't this belong to ESMValCore?

[2020-01-03 13:58] bouweandela commented on #1473
My experience with this error message so far is that it is often intermittent, maybe because of bugs in conda that are fixed later on. At the moment the nightly install works just fine: https://app.circleci.com/jobs/github/ESMValGroup/ESMValTool/28270

Not sure about real time, I guess you could log in using ssh and then run the steps. To get the maximum amount of memory used you can use the `time

[2020-01-03 13:59] bouweandela commented on #448
Yes

[2020-01-03 14:04] bouweandela commented on #1160
I think it would be good to have a small section, because whenever I'm at a workshop I see people who are being slowed down by their editor or making trivial mistakes because they're using emacs, but are not skilled enough at it to use it efficiently. Emacs  or vi can be great editors if you invest the time to learn how to use them, but many people are not willing to invest that time and they woul

[2020-01-03 14:51] bouweandela commented on #1480
It looks like you're updating an older conda environment. You might want to try creating a new conda environment, because updating older environments does not always work as expected. You can remove the old environment by running `conda env remove -n esmvaltool`. Since you're installing from source, you could also try to use these (shorter, but similar) instructions: https://github.com/ESMValGroup

[2020-01-03 14:52] bouweandela commented on #1394
@koldunovn My apologies for the slow reply. I just reviewed the code.

[2020-01-03 15:03] bouweandela commented on #1394
Yes, there is a better option: you can specify the additional datasets per variable:

[code]

The thing to keep in mind is that files are defined using a combination of the keys in the variable section and dataset section, where keys from the dataset section take precedence. This is also explained in the documentation: https://esmvaltool.readthedocs.io/projects/esmvalcore/en/latest/esmvalcore/reci

[2020-01-03 15:11] koldunovn commented on #1394
@bouweandela Thanks a lot for the review! I will test the changes in the next couple of days.

[2020-01-03 15:31] mattiarighi commented on #1174
I would suggest to keep a branch for v1 (`v1_master` called similar) at least until all diagnostics are ported to v2 (see #503).

[2020-01-03 15:44] bouweandela commented on #1174
The current `development` branch is identical to tag `v1.1.0.dev1` and the current `master` branch is identical to tag `v1.1.0` except for some minor changes to README.md.

[2020-01-03 15:51] bouweandela commented on #1174
I just did the following:
- Created a `version1` branch from the `development` branch
- Created a pull request to merge the `version2_development` branch into the master branch.

@mattiarighi Can you please:
- set the status of the `version1` branch to protected
- merge the above pull request
- set the `master` branch as the GitHub default branch
- remove protection from the `development`, `versio

[2020-01-03 17:18] mattiarighi commented on #1174
- set the status of the `version1` branch to protected
Done!

- merge the above pull request
Done!

- set the master branch as the GitHub default branch
Done!

- remove protection from the development, `version2_master` and `version2_development` branches
Done!

[2020-01-03 18:05] mattiarighi commented on #1174
I also changed the base branch to `master` for all active PRs (except #1465 which is merging to another feature branch).

I guess `development`, `version2_master` and `version2_development` can be removed.

[2020-01-03 20:06] bouweandela commented on #1174
Just deleted those branches

[2020-01-03 20:44] bouweandela commented on #1174
Created a pull request to update the documentation.

@mattiarighi It looks like I would be able to merge my own pull request without an approving review. Could you check that under Settings>Branches>Branch protection rules, the box in front of 'Require pull request reviews before merging' is ticked for the `master` branch?

[2020-01-03 20:51] bouweandela commented on #1174
@bjoernbroetz This issue may also be relevant for your synchronization scripts.

[2020-01-04 11:02] mattiarighi commented on #1174
Fixed.

[2020-01-04 11:03] mattiarighi commented on #1174
We first need to do the same for the private repository.
I can take care of this.

[2020-01-04 11:12] mattiarighi commented on #1174
Reopening this until the same is done for the private repository.

[2020-01-05 18:07] amarjiitpandde commented on #1429
@valeriupredoi  I installed ESMValTool on the new computer and after executing the command " cmorize_obs -c ~/Desktop/config-user.yml -o WOA " I get this as the log file. I believe the cmorize script is correct but the file being searched for cmorizing is wrong " woa13_decav81B0_t00_01.nc " and the files I want to cmorize is  " woa13_8594_t00_01v2.nc" & " woa13_95A4_t00_01v2.nc ".

[main_log.txt](

[2020-01-09 08:36] mattiarighi opened #1486 "Hard-coded path in recipe_runoff_et"
`recipe_runoff_et.yml` requires an external NetCDF file to run. The path to this file is currently hard-coded in the recipe:

https://github.com/ESMValGroup/ESMValTool/blob/cbc936f1dbf21ddccfda7baf31b7be3268927268/esmvaltool/recipes/recipe_runoff_et.yml#L42-L45

Is there a way to replace it with, e.g., `auxiliary_data_dir` from `config-user.yml`?

[2020-01-09 09:30] glad94 commented on #1481
Managed to fix 3) in my own diag script (highlighted additions)

![Validation_fix1](https://user-images.githubusercontent.com/32938454/72055153-3c6f4680-3305-11ea-828d-d9b6d472ea34.PNG)

![Validation_fix2](https://user-images.githubusercontent.com/32938454/72055176-48f39f00-3305-11ea-8b2f-29ac4859fc4c.PNG)

Still can't sort out the seasonal analysis for lat_lon yet :sweat_smile:

[2020-01-13 11:19] jvegasbsc opened #1488 "Integrate ENSO_metrics package"
The goal is to integrate the ENSO package (https://github.com/eguil/ENSO_metrics) into ESMValTool

@eguil

[2020-01-13 13:27] valeriupredoi commented on #1481
@glad94 cheers for raising this, glad to see this recipe to be this popular, it was initially done by me more of an exercise :grin:
I will plug in the needed changes now :beer:
PS - @mattiarighi this is more of an enhancement since the thing works, hence me changing the label :+1:

[2020-01-13 13:39] valeriupredoi commented on #1480
are you on a machine where you don't have super user credentials? If so, are you using the system `pip` and not the locally installed `pip` in the `esmvaltool` environment? Fairly sure the answer to both thse questions is yes, since it tries to install in `/tmp` where you dont have write permissions. If so, you either need to use the `--user` flag for `pip install` (see eg https://stackoverflow.co

[2020-01-13 13:42] valeriupredoi commented on #1473
@bjoernbroetz is this still happening? :beer:

[2020-01-13 18:49] pgierz commented on #1480
To follow up from @valeriupredoi, try:
[code]
And you should see something pointing to your Conda installation. If not, you may need `conda install pip` (although this normally happens automatically, unless you have an old Conda version)

...or stop by my office tomorrow and we can figure it out, and potentially recommend a documentation update for the ESMValTool group 😊

[2020-01-14 08:19] chrisdane commented on #1480
You are all partially right: turned out the problem was a conflict between the system-wide conda installation and my personal miniconda installation which I wanted to use (I had two conda bins in `$PATH` and the wrong was used).

Thanks for your help,
Chris

[2020-01-14 08:19] #1480 closed

[2020-01-14 10:33] valeriupredoi commented on #1480
Good stuff! cheers :beer:

[2020-01-14 12:36] koldunovn commented on #1394
Hi @bouweandela

I tested the diagnostic with all suggested changes and the latest `master` and it works for me at DKRZ. Do you think you can give it a go, so @mattiarighi test it?

[2020-01-14 12:38] koldunovn commented on #1394
The change in the YAML file does not work, it gives:

[code]

I would keep it as is. Other diagnostics also use "fake" time range for  `areacello`.

[2020-01-14 12:52] mattiarighi commented on #1394
Did you update your ESMValCore installation to the latest version?

[2020-01-14 12:56] koldunovn commented on #1394
I merged with `master` and did:

[code]

That should give me the latest released version (available from pip), I guess :)

[2020-01-14 12:58] koldunovn commented on #1394
This is what I get now:

[code]

[2020-01-14 12:59] valeriupredoi commented on #1394
not from `pip` remote but from local - did you `git pull` the latest master? Note that `conda env update` is not needed unless dependencies have changed

[2020-01-14 13:05] koldunovn commented on #1394
By `master` I mean ESMValTool master, sorry. I use ESMValCore from the pip.

[2020-01-14 13:06] mattiarighi commented on #1394
That is probably the problem.
Try to install the core in development mode, see [instructions](https://github.com/ESMValGroup/ESMValTool/blob/master/CONTRIBUTING.md#using-the-development-version-of-the-esmvaltool-core-package).

That would give you the very last version.

[2020-01-14 13:22] koldunovn commented on #1394
But isn't it a bit inconsistent? I thought the idea of having Core and Tools separated is to make it possible to develop diagnostics against something stable, not a moving target? If this diagnostic is changed to work with the latest version, merged and the user will try to use it the next day, it will not work (in this particular case at least), because he/she will get `2.0.0b3` by following inst

[2020-01-14 13:27] valeriupredoi commented on #1394
yes, but when we'll have a stable major release then we'll use that one. Also @bouweandela could update the tagged minor releases for `Core` more often :grin: :imp:

[2020-01-14 13:27] mattiarighi commented on #1394
But in this case you are (probably) trying to use a feature which has not been released yet.

Yes, let's try to see if it solves the problem.

[2020-01-14 13:41] koldunovn commented on #1394
It's not like I want to :) I am fine with the current version.

Sure, I will try it now.

[2020-01-14 13:43] mattiarighi commented on #1394
What I mean is that the issue with the missing keys in `areacello` is related to something that was recently changed in ESMValCore and I can't remember whether it is already in the latest release. ;-)

[2020-01-14 14:05] koldunovn commented on #1394
Well, after installing the latest version of ESMValCore the suggestion from @bouweandela works, and of course it more readable and understandable, when setup is formulated this way.

But again, this version not going to work with current stable :) Let me know if I should commit this version of YAML file, or stick to the previous one :stuck_out_tongue_winking_eye:

[2020-01-14 14:08] zklaus commented on #1394
Well, the current stable is ESMValTool-1.1.0 since after that there were only pre-releases. Though I admit that the current beta release is impressively stable already.

[2020-01-14 14:13] mattiarighi commented on #1394
Just go ahead if it works.
There will be anyway a new release pretty soon.

[2020-01-14 14:19] valeriupredoi commented on #1394
we don't talk about `1.1.0` :hushed:

[2020-01-14 14:19] koldunovn commented on #1394
Of course, by "stable", I mean tagged release, or more generally the latest ESMValCore you get from pypi. You right there is no stable version 2 yet :wink:

[2020-01-14 15:13] koldunovn commented on #1394
I added the new version of the yaml file. The code is working and all tests are green (except couple of acceptable codacy issues). @bouweandela @mattiarighi please let me know what actions are further necessary from my side.

[2020-01-14 17:50] valeriupredoi commented on #1481
@glad94 have a test with https://github.com/ESMValGroup/ESMValTool/pull/1490 please, I've rehauled the diag so it does all the plotting needed by you. It still needs the saving optionality but that'll be done in the morrow :beer: Also remember to turn on `seasonal_analysis: true` for all your `lat_lon/zonal/meridional` diagnostics so you get the seasonal plots!

[2020-01-15 13:40] bouweandela commented on #1394
Thanks @koldunovn! Looks good from my side. I will make some new core release soon, I have to find some time to collect the release notes. There is no ESMValCore or ESMValTool release on PyPI yet, the packages are only available on our own conda channel. I will make a PyPI package as soon as I get the green light to make a real version 2 release (instead of beta).

[2020-01-15 14:56] #1394 closed

[2020-01-17 13:19] mattiarighi opened #1492 "recipe_albedolandcover.yml still uses old fx_files specification"
`recipe_albedolandcover` still makes use of the old `fx_files` syntax for fx files, e.g.:

https://github.com/ESMValGroup/ESMValTool/blob/d5fce96e0ec0a13104b174153f4ccd127e3b365f/esmvaltool/recipes/recipe_albedolandcover.yml#L81-L87

This was changed in https://github.com/ESMValGroup/ESMValCore/pull/170 and the recipe should be changed accordingly.

[2020-01-17 13:21] bascrezee commented on #1492
So I should just remove it, that's it, right?

[2020-01-17 13:39] mattiarighi commented on #1492
If you need it in your diagnostic, you should list it as any other variable in the recipe and then adjust the diagnostic script accordingly.

[2020-01-17 16:55] ledm opened #1494 "ssp534-over question?"
I've encountered a new experiment that I've never encoutered before. The ScenarioMIP experiment, `ssp534-over` branches from the run `ssp585` in 2040.

If I put this in a recipe like this:
[code]

[2020-01-17 20:43] bouweandela commented on #1443
The climdex.pcic package has now also been removed from CRAN: https://github.com/pacificclimate/climdex.pcic/issues/21

[2020-01-17 20:48] bouweandela opened #1496 "Unable to install dependencies of BSC MAGIC recipes"
The `climdex.pcic` package has been removed from CRAN (https://github.com/pacificclimate/climdex.pcic/issues/21) and as a result the ClimProjDiags package as well: https://cran.r-project.org/web/packages/ClimProjDiags/index.html
[code]

This makes the installation procedure fail, making it impossible to run the diagnostics developed by BSC for the MAGIC project using the normal installation proced

[2020-01-20 08:44] nperezzanon commented on #1496
Hi Bouwe!
I am exploring different possibilities to solve the issue.
Núria

[2020-01-20 09:30] kserradell opened #1497 "Error when installing esmvaltool using conda"
I'm installing esmvaltool at BSC environment as usual (using conda), and I have an error that I can't solve.

`conda install -c esmvalgroup -p /shared/earth/software/ESMValTool/2.0.0b1-core-2.0.0b3 -c conda-forge esmvaltool`

It seems to be a problem when installing OpenSSL R package.
[code]
Any help would be appreciated.

[2020-01-20 11:44] valeriupredoi commented on #1497
`openssl` should be installed as a `conda` package dependency and not via the `R` packages installation - why does R need its own `openssl`? Also, the `conda` installation for ESMValTool, as a conda package has not been working for me with the usual invocation (the one you use too) since the dependencies are not playing well in the `base` environment but creating a shell environment before hand so

[2020-01-20 12:11] valeriupredoi commented on #1497
here is conda's workflow (4.8.0) with a simple install invocation:
[code]
(the env solving via individual package conflict examination is new, after conda=4.7.0, and it goes on forever and will come back as the usual could not solve environment, in this case)

[2020-01-20 12:15] valeriupredoi commented on #1496
this https://github.com/ESMValGroup/ESMValTool/pull/1454 should solve the issue no?

[2020-01-20 16:13] bouweandela commented on #1496
Thanks! The best solution would probably be if we could get the developers of the climdex package family to fix their software so it is available on CRAN again. Maybe we could offer to help with that, if they do not have the time?

No

[2020-01-20 16:18] bouweandela commented on #1497
I expect the current esmvaltool conda package is broken, because several dependencies have been removed from CRAN, see https://github.com/ESMValGroup/ESMValTool/issues/1496 and #1443. Unfortunately I do not have time to solve this issue this week, but I will make a new esmvaltool release and associated conda package next week. Until that time, you can install from source as described [here](https:

[2020-01-20 16:25] kserradell commented on #1497
Thanks @valeriupredoi for your suggestions. I realized I was using a quite old version of Miniconda.

And thanks for the news @bouweandela. I have now conflict errors with the upgraded conda.

`Found conflicts! Looking for incompatible packages.`

It's not an urgent issue. But as I'm using EasyBuild to deploy our software, I would like to stick to the conda installation procedure.

[2020-01-20 18:43] valeriupredoi commented on #1497
You can still use the conda installation if you create an empty environment and source it first, as per my comment. That's exactly how circleci does the install and runs the install test too :beer:

[2020-01-21 07:04] bascrezee opened #1499 "_FillValue not handled correctly in ERA-Interim-Land"
Probably related to https://github.com/ESMValGroup/ESMValTool/issues/302. CMORization for ERA-Interim-Land is almost identical to ERA-Interim, but the latter doesn't have any FillValues therefore this is not implemented yet. Trying to fix this.

[2020-01-21 14:56] nperezzanon commented on #1496
Hi Bouwe,

the package ClimProjDiags is again on CRAN https://cran.r-project.org/web/packages/ClimProjDiags/index.html

[2020-01-21 17:09] #693 closed

[2020-01-24 16:54] #1256 closed

[2020-01-27 11:04] #1496 closed

[2020-01-27 15:00] #1499 closed

[2020-01-27 15:01] bascrezee opened #1503 "Time for monthly data not correct in ERA-Interim-Land."

[2020-01-27 21:20] bouweandela commented on #1497
@kserradell I just uploaded a new package for the latest release, v2.0.0b2 to the esmvalgroup conda channel. Can you please check if this solves your problem (together with the excellent advice by @valeriupredoi  of course). We check that conda package installation works every night by running this code on CircleCI: https://github.com/ESMValGroup/ESMValTool/blob/52bf99f4be2d56a44de058da520d907a505

[2020-01-28 06:40] bascrezee commented on #1503
@mattiarighi Please treat this as a draft PR, until I confirm that it is ready for review, I found an additional problem with the time coordinate. Since ERA-Interim-Land is not distributed as monthly data, whereas ERA-Interim is, a more custom approach is needed.

[2020-01-28 08:14] kserradell commented on #1497
Thanks @bouweandela! I'll try this morning.

[2020-01-29 14:21] YanchunHe opened #1505 "bug in diagnostic_seaice.py"
**Describe the bug**
in line 290 of diag_scripts/ocean/diagnostic_seaice.py
`linrange = np.linspace(0., 100., 21.)` should be `linrange = np.linspace(0., 100., 21)`

log file:
[code]

[2020-01-30 11:39] ledm opened #1506 "Changes required for new interface to area_statistics"
There is an incoming change to the `area_statistics` preprocessor interface. Described here:

https://github.com/ESMValGroup/ESMValCore/issues/445
and
https://github.com/ESMValGroup/ESMValCore/pull/446

We need to change the recipes that use this preprocessor, but we also need to change the diagnostics that call the function directly and the places in the documentation where the recipe is shown. T

[2020-01-30 12:06] ledm commented on #1506
I think that these changes also benefit from the PR
https://github.com/ESMValGroup/ESMValCore/pull/439

The recipe￼ `esmvaltool/recipes/recipe_ocean_example.yml` certainly benefits from those changes.

[2020-02-03 09:09] bjoernbroetz commented on #1112
Solution is on the way with the help of @cehbrecht and colleagues at DKRZ.

[2020-02-04 13:23] YanchunHe commented on #1505
Thanks Lee! I close the issue!

[2020-02-04 13:23] #1505 closed

[2020-02-05 09:22] axel-lauer commented on #1422
Diagnostic is already merged, simply forgot to close this issue.

[2020-02-05 09:22] #1422 closed

[2020-02-06 14:56] valeriupredoi commented on #1497
@kserradell any more pains in the rear about this or we can close? :beer:

[2020-02-06 15:01] valeriupredoi commented on #1467
fixed

[2020-02-06 15:01] #1467 closed

[2020-02-06 15:03] valeriupredoi commented on #1477
fixed no? #1479 been closed for a while

[2020-02-06 15:10] mattiarighi commented on #1477
It still crashes, just tried.

[2020-02-06 15:14] valeriupredoi commented on #1429
you will have to create a new variable group and associated file (if they really are different and it's not a naming fluke) in `esmvaltool/cmorizers/obs/cmor_config/WOA.yml` - if you look there you will see that for your case it is trying to load the `woa13_decav81B0_t*` file and that's why your files are not being considered. If you look in the database for eg salinity https://data.nodc.noaa.gov/

[2020-02-06 16:13] valeriupredoi commented on #1274
@gbodeImoleayo please reopen (if need be) with a clear error message (Traceback) that you get when running the code :beer:

[2020-02-06 16:13] #1274 closed

[2020-02-06 16:17] bouweandela commented on #1477
The issue was moved, #1479 is now https://github.com/ESMValGroup/ESMValCore/issues/414.

[2020-02-06 16:18] bouweandela commented on #1477
Anyway, this is quite easy to fix, but I wonder if it's worth it, because this recipe doesn't make much sense scientifically, see also the discussion in #625.

[2020-02-06 16:20] valeriupredoi commented on #1477
we should have a talk about a proper stats corr/Kolmogorov-Smirnoff/etc recipe at the workshop, I haven't done any stats in ages :beer:

[2020-02-07 13:27] mattiarighi opened #1510 "cmorize_obs logs to stderr"
Running `cmorize_obs` as a batch job at DKRZ, I noticed that the log is being written to the standard error instead of the standard output file.

Probably easy to fix.

[2020-02-07 13:54] schlunma commented on #1510
Ahhh, that explains why my log was empty yesterday even though the job finished successfully :grinning:

[2020-02-10 13:55] valeriupredoi commented on #1510
have you given the thought that your are doing **everything** wrong? :grin: Nah, seriously, I'll have a look now :beer:

[2020-02-10 14:36] #1481 closed

[2020-02-10 14:54] valeriupredoi commented on #1510
OK guys how are you running the batch? Ie I am assuming that it's SLURM that you are using as scheduler and if it's not configured somewhat custom you will have this guy's problem https://stackoverflow.com/questions/46908216/slurm-sbatch-creates-many-small-output-files - did you turn off the `--output` and `--error` flags?

[2020-02-10 14:57] valeriupredoi commented on #1510
also here is a solution how to change the output frequency as well https://stackoverflow.com/questions/25170763/how-to-change-how-frequently-slurm-updates-the-output-file-stdout/25189364#25189364

[2020-02-10 14:57] mattiarighi commented on #1510
I'm using these settings (@schlunma as well, I guess)
[code]

Note that `esmvaltool` logs fine with the same settings.

[2020-02-10 15:03] schlunma commented on #1510
That's not an issue of SLURM. If I run

[code]

the file `AAA.out` is empty, if I run

[code]

the file includes the log. Since `2>` re-directs only the `stderr` output, all the output of `cmorizer_obs` is written to `stderr`.

[2020-02-10 15:15] SarahAlidoost opened #1513 "Improving the reference template in the config-references.yml"
The reference list in config-references.yml has some minor formatting inconsistencies, it would be good to stick to: [first author] et al., [journal abbreviation], doi:[doi], [year]
However, for those entries without a doi, we need to make another template.
An alternative to prevent duplicated information will be to remove the reference entries from the config-references.yml, and ask users to prov

[2020-02-10 15:15] valeriupredoi commented on #1510
yeah correct, hold your horses, I am just about there, want to test it first (even if I don't have sbatch) :beer:

[2020-02-10 16:17] valeriupredoi commented on #1497
closing for now, feel free to reopen :beer:

[2020-02-10 16:17] #1497 closed

[2020-02-10 16:18] valeriupredoi commented on #1486
how big is that mask file? we can add it to the masks dir and integrate in the package

[2020-02-10 16:19] valeriupredoi commented on #1486
aslo -> @mattiarighi you should assign this to whoever wrote and deployed the recipe :point_right:

[2020-02-10 16:20] valeriupredoi commented on #1473
@bjoernbroetz is hibernating? :grin: This still happening, mate?

[2020-02-10 17:58] #1510 closed

[2020-02-10 20:55] bjoernbroetz commented on #1473
Let's close this. Last time it failed was last week but it recovered the next day. For sure @bouweandela is right that this is an intermittent thing that occurs due to issues on the conda side.

[2020-02-10 20:55] #1473 closed

[2020-02-11 09:16] mattiarighi commented on #1486
Actually I only wanted to ask whether it is possible to use `auxiliary_data_dir` for storing the NetCDF file required by the recipe. I will take care of implementing and testing in case.

[2020-02-11 09:20] valeriupredoi commented on #1486
Yeah but that means the user will have to get hold of the file on their own - if that file is hard to find, they not gonna be happy :sweat:

[2020-02-11 09:26] mattiarighi commented on #1486
The file is freely available via doi, as stated in the recipe:
[code]
So the question is where to store this file after the download.
`auxiliary_data_dir` would be a better solution than `~/`

[2020-02-11 09:27] valeriupredoi commented on #1486
Yts absolutely, cheers Mattia, was lazy enough not to read the recipe :grin:

[2020-02-11 09:30] jvegreg opened #1515 "Create a workflow to test branches"
As for now, one of the most time consuming task is to test all recipes against any meaningful change we make on the core. We should create a workflow that automatises this, so we can just launch it and later check if it was successful or not.

We can use the Cylc installation is available on Jasmin for that but I don't know if we have it on DKRZ so we can test in both systems

I can help with this

[2020-02-11 09:32] mattiarighi commented on #1515
Related to #316

[2020-02-11 09:38] bjoernbroetz commented on #1515
As discussed in #1112 we will soon have a dedicated VM for this kind of testing at the DKRZ.

[2020-02-11 09:43] kserradell commented on #1497
Sorry @valeriupredoi for reacting late. I'm still having issue but it's related to our environement so keep the issue close. Thanks! :beers:

[2020-02-11 09:46] valeriupredoi commented on #1497
No problemo, let us know if we can help :ambulance:

[2020-02-11 12:16] valeriupredoi commented on #1515
and while we're at it -> `test_recipes_loading` is taking a gazillion forevers and a half, we need to speed that thing up :beer:

[2020-02-11 12:20] valeriupredoi commented on #1473
cheers @bjoernbroetz - maybe we can see a pattern of occurrences and find why that's actually happening? :mag:

[2020-02-11 12:25] valeriupredoi opened #1516 "Cmorization utilities script is poorly tested"
Currently:
[code]
I shall embark on this perilous journey on board HMS Cmor and upgrade the test coverage to a respectable percentage :beer:

[2020-02-11 16:49] valeriupredoi commented on #1516
up to a respectable 80% coverage in https://github.com/ESMValGroup/ESMValTool/pull/1517

[2020-02-11 16:59] valeriupredoi opened #1518 "Cmorization wrapper cmorize_obs.py is poorly tested"
Currently:
[code]
I shall re-emabark aboard HMS Cmor and make this a solidly tested module :grin: Tomorrow, I need beer&dinner now :beer:

[2020-02-11 17:11] valeriupredoi opened #1519 "Testing coverage in ESMValTool is generally abismal(-ish)"
Having an average coverage percentage of 22% is not great. But, there is the question of how do we want this average coverage percentage to be calculated - we are using all the PY diagnostics and PY cmorization scripts for which tests are either scarce or completely missing - but for stuff like utilities and shared libs modules the testing is decent (can be improved yes, but it's OK so far). Surel

[2020-02-12 08:48] jvegasbsc opened #1520 "Can not install ESMValTool package"
When trying to deploy the recently released version we are getting an error due to incompatible packages (in conda 4.8.2, older versions just hang):

[code]

I have been able to reproduce it both at work and at my home computer.

[2020-02-12 08:48] jvegasbsc commented on #1520
Ping @kserradell

[2020-02-12 08:49] bouweandela commented on #1226
@rswamina Does the iris 2.3 release solve this issue?

[2020-02-12 08:52] bouweandela commented on #1519
We're working on improving test coverage, also for diagnostics, see e.g. #1112, #316 and #1115.

[2020-02-12 08:58] bouweandela commented on #1520
We test this nightly on CircleCI and it seems to work fine there, see here for last night's run: https://app.circleci.com/jobs/github/ESMValGroup/ESMValTool/29089

Are you following the same steps as here?
https://github.com/ESMValGroup/ESMValTool/blob/52bf99f4be2d56a44de058da520d907a505028a8/.circleci/config.yml#L194-L218

[2020-02-12 09:07] jvegasbsc commented on #1520
Ok. The problem was that I was not adding the conda-forge channel. Thanks!

[2020-02-12 09:25] bascrezee commented on #1492
Something has broken my chain of preprocessing. `extract_month:  7` now returns None. Did anything change in the preprocessor? The problem is that the cube passed to this preprocessor function does not have a  coordinate `month_number`. Therefore the preprocessor function `extract_month` returns `None`. Easy to fix, but I wonder why this got broken?

[2020-02-12 09:49] #1520 closed

[2020-02-12 11:04] ledm commented on #1506
Who's responsibility is it to change recipes when the preprocessor interface changes? I'm happy to change the ocean recipes, but I hesitate to change the others.

[2020-02-12 11:08] mattiarighi commented on #1506
In principle the author of the preprocessor changes in ESMValCore.

Don't worry, just make the changes and assign the recipes' author(s) as reviewer(s).

[2020-02-12 12:17] #1492 closed

[2020-02-12 14:38] Peter9192 opened #1522 "Some recipes are broken after new ESMValCore release v2.0.6b."
**Describe the bug**
The new release changes the way fixes work. This leads to 2 types of errors in test_recipes.py:

1. Recipes that are now broken due to missing key `mip`. Here, the mip needs to be added to the recipes. This affects the following recipes:
- recipe_validation.yml
- recipe_validation_CMIP6.yml
- recipe_autoassess_radiation_rms_cfMon_all.yml
- recipe_autoassess_radiation_rms_Amon_

[2020-02-13 08:16] #1522 closed

[2020-02-13 12:09] amarjiitpandde commented on #1429
@valeriupredoi  I am trying to recreate figures which have WOA plotted from 1985 to 2004 and there are some anomaly plots where I would need WOA data from 1985 to 2004.
Is it possible to run cmorizer script for " woa13_8594_t00_01v2.nc" & " woa13_95A4_t00_01v2.nc " files instead of "woa13_decav81B0_t00_01.nc" ?

Thank you

[2020-02-13 13:42] bjlittle commented on #1226
We'll be cutting iris 2.4.0 soonish (the last to support both python2+3)

It would be good to know whether your issues are resolved...

[2020-02-13 14:13] valeriupredoi commented on #1226
cheers for the heads up @bjlittle - looking forward to it :beer: @rswamina it'd be good to test with the current `2.3.0` :beer:

[2020-02-13 19:03] valeriupredoi commented on #1429
@mattiarighi can you pls have a look at this :beer:

[2020-02-14 08:42] rswamina commented on #1226
Will test and check with the pre-chunked data.

[2020-02-14 10:04] glad94 opened #1525 "Observational Datasets with CVDP"
I didn't see this issue referenced in #1441 , so maybe I'm not sure how to set this up correctly. Basically I want to run the cvdp for the HadISST dataset using the CMORized datafile. By default the cvdp recipe yml has the variables tas,ts,pr,psl declared, of which ts is the only variable that HadISST has. I commented out the lines for tas,psl and pr, and set *driver.ncl* to only run the sst CVDP

[2020-02-14 13:50] #1344 closed

[2020-02-17 07:40] mattiarighi opened #1527 "Issue with NCL "sum" function"
As I reported [here](https://github.com/NCAR/ncl/issues/126), the NCL `sum` function returns unreliable results when applied to large arrays.

We should check all NCL scripts in the ESMValTool for this function and replace it with `dim_sum`.

See the above link for more details.

[2020-02-17 13:29] valeriupredoi commented on #1519
Excellent! I want to help pls :beer:

[2020-02-18 07:46] bjoernbroetz commented on #1525
Yes, the draft PR #1441 needs to be finalized including an update to the documentation on how to use CVDP inside the ESMValTool.

[2020-02-18 09:27] #1486 closed

[2020-02-18 10:11] jhardenberg commented on #1443
They fixed it and now climdex.pcic is back on CRAN.

[2020-02-18 19:41] mnichol3 opened #1532 "Conflict between Julia ArgParse and RainFarm versions"
Installation via the Conda method on a RHEL 6.6 system failed with the following error:
[code]

I can upload the entire console output if more information is needed

[2020-02-19 11:26] mattiarighi commented on #1532
Solved by #1529.

[2020-02-19 11:26] #1532 closed

[2020-02-19 13:15] rswamina opened #1533 "Merging or updating local branches with new master"
I would like some guidance on how to update my local branches under ESMValTool and ESMValTool-private with the new master branch. Specifically, I have the following questions:

a) I have a local branch which has recipes and diagnostics under development that I am not ready to push yet and will likely take a few more months before I push up. How do I update them with the master copy? I did a ''git

[2020-02-19 15:14] jhardenberg opened #1534 "setup.jl fails due to YAML (in)compatibility with Compat 3.5"
While running `julia setup.jl` installation of packages fails for YAML, due to the fact that YAML is restricted to Compat versions up to 2.*, but Compat 3.5 has been installed just before.

[code]

[2020-02-19 16:00] jhardenberg commented on #1534
Explanation:
The problem was previously masked by the fact that RainFARM.jl was installing Compat <= 2.* , (see #1530 ), but now this requirement has been dropped in the new version RainFARM v1.1.0 .
Due to this `setup.jl` installs first Compat.jl v3.5, but then when it attempts to install YAML.jl (which is obviously badly configured) it fails since YAML.jl requires Compat <= 2.*  .

Solution:
jus

[2020-02-19 16:51] valeriupredoi commented on #1533
@rswamina -> @valeriu is not me, it's someone else who's the same great and awesome name as myself :grin:

For your issue:

- point a) -> say your branch is called `ranjini_branch`: best if you push it to remote nonetheless, we can always remove it if need be
[code]

- point b) pretty much the same bar pushing to remote (that's already been done):
[code]

[2020-02-19 16:56] valeriupredoi commented on #1534
so like this:
[code]
?
:beer:

[2020-02-19 17:30] jhardenberg commented on #1534
I tested the order in
https://github.com/ESMValGroup/ESMValTool/commit/542c234f2523c376c90f765351046d4eef874027
(actually switching YAML and Compat) and that one works

[2020-02-19 17:40] jhardenberg commented on #1534
@valeriupredoi I tested it and your version works too

[2020-02-19 17:46] valeriupredoi commented on #1534
Cool-mule, you wanna open a PR? I'll approve it first thing in the morrow and we good to go :beer:

[2020-02-19 18:11] rswamina commented on #1533
Apologies @valeriupredoi ...indeed I thought the name was uniquely awesome! Will try this and post here.

[2020-02-19 18:14] valeriu commented on #1533
Hi there!  I hope all is well. 👍

[2020-02-19 21:15] mnichol3 opened #1536 "setup.jl failure due to ArgParse and Compat version conflict"
After implementing the setup.jl patch described in #1534, installation fails due to version conflicts  between ArgParse and Compat:
[code]

[2020-02-20 06:53] #1534 closed

[2020-02-20 09:43] HannoSpreeuw opened #1537 "Is changepoint detection by hyper-canny also applicable within ESMValTool?"
This idea came from @jhidding.
He wrote [hyper-canny](https://github.com/abrupt-climate/hyper-cannyl) for canny edge detection in climate data.
I was talking to him in my role as a member of the generalization team at NLeSC.
He suggested that an adjusted version of hyper-canny may be applicable within ESMValTool.

Do you think this is worth investigating?
If we conclude positively and, after inves

[2020-02-20 09:48] mattiarighi commented on #1537
Edited to fix a typo in the hyperlink.

[2020-02-20 11:43] rswamina commented on #1533
@valeriupredoi - What if the branch I used to develop some code was deleted during the cleanup? Should I create a new branch to run the tests planned and push it up afresh?

[2020-02-20 12:13] valeriupredoi commented on #1533
sorry mate, all good, just a wee mixup of user names :beer:

[2020-02-20 12:14] rswamina commented on #1533
My mistake. Sorry!

[2020-02-20 12:15] valeriupredoi commented on #1533
what is the branch name? Surely we didn't delete anything without prior asking. If it really got deleted then yes, create a new branch holding the code changes needed and push to remote and create a PR - you don't have to ask for merging right away, you can create a draft PR that you can keep working on :beer:

[2020-02-20 12:16] valeriupredoi commented on #1533
can we close this issue @rswamina ? - we can take it offline via email if need be

[2020-02-20 12:22] rswamina commented on #1533
@valeriupredoi  - It is the cmorize_FLUXCOM-GPP which I guess was deleted since all changes were pushed up and merged. So I will create a new branch to test what I need to now and put any related details under the relevant issue (https://github.com/ESMValGroup/ESMValTool/issues/1226).
At this time, I do not have unanswered questions but if I run into further issues with the merging would like to r

[2020-02-20 12:42] valeriupredoi commented on #1533
if it's merged then you are in a very good position to just grab `master` and start sailing into the code sunset afterwards :grin: ie make your changes on a new branch (`git checkout -b ranjini_new_branch`), commit then push to remote and open a new PR (could be draft or not, up to you)

[2020-02-20 12:42] #1533 closed

[2020-02-20 13:03] valeriupredoi commented on #1536
Neither me nor CircleCI can reproduce the error you are seeing, please try and repeat the install steps (in the process pls check your `julia` is `1.0.3`) **after** you have removed the Project and Manifest files eg:
[code]

[2020-02-20 14:08] valeriupredoi commented on #1537
Hi @HannoSpreeuw cheers for stopping by :beer: I've had a look at your example https://github.com/abrupt-climate/hyper-canny/blob/master/examples/mondriaan.py and it looks very cool! Sobel filters etc are really cool stuff, I used to work on these sort of things when back in LIGO. Got a couple questions for you guys: is there anywhere we can read the documentation of the package so scientists like

[2020-02-20 15:48] #1335 closed

[2020-02-20 16:55] valeriupredoi commented on #1271
closed via https://github.com/ESMValGroup/ESMValTool/pull/1317

[2020-02-20 16:55] #1271 closed

[2020-02-20 16:58] mattiarighi commented on #1271
@valeriupredoi is in "cleaning mode". :smile:

[2020-02-20 17:14] valeriupredoi commented on #1271
if I was too harsh do let me know by re-opening issues, but expect retributions :grin:

[2020-02-20 17:21] mattiarighi commented on #1271
No worries, it's much appreciated!

[2020-02-21 11:22] fserva opened #1539 "Some changes to zmNAM"
Hello, more extensive testing to zmNAM has been carried out, also on the available CMIP6 simulations (credit due to @jhardenberg).  Three changes are proposed:
- Revise how dimension attributes are read, since `long_name` is missing for some models
- Include an extrapolation procedure for pressure levels near the surface (some models have missing values below ~ 850 hPa), and revise the default pre

[2020-02-21 12:27] #1503 closed

[2020-02-21 14:55] chris-to-pher opened #1542 "Beginner's questions"
Hi all,

not reporting a bug, simply looking for help:

I followed the instructions on readthedocs and installed the ESMValTool on mistral at DKRZ. My first attempt was to run the standard example recipe_python.yml with synda. The files are found but the download does not work:
NoOptionError: No option 'destination_directory' in section: 'globustransfer'
ERROR   Failed to run download

Do I need t

[2020-02-24 10:35] rjp23 opened #1543 "Broken Recipes"
This is partly a governance question and partly a technical one.

How we're using ESMValTool in a training scenario is that we'll get it installed and working for students and then tell them to go and explore some of the existing recipes and see what they do.

**Lots of these recipes don't work.**

That might be because ESMValTool itself has changed and the recipe hasn't been updated but equally i

[2020-02-24 12:01] jhidding commented on #1537
Indeed the documentation is a bit sparse. We have some notebooks at https://github.com/abrupt-climate/notebooks/ that show how to use hyper-canny and the hyper-canny climate module can be used on (for instance) CMIP5 data. The module needs to be cleaned up, trimmed down and better documentation. Please note: A paper describing this code and results with CMIP5 is still under review.

[2020-02-24 12:18] valeriupredoi commented on #1537
awesome, cheers @jhidding :beer: We'll have a go at the notebook :+1:

[2020-02-24 13:07] valeriupredoi commented on #1543
@rjp23 can you please give some examples of recipes that don't work in the latest version installed from conda?

[2020-02-24 13:07] valeriupredoi commented on #1543
what do you mean data has moved? :beer:

[2020-02-24 13:24] valeriupredoi commented on #1542
Hi @chris-to-pher

- about the synda download, I haven't used that in ages and would not advise using it since you already have direct access to the DKRZ ESGF data node by the looks of it; maybe @bouweandela or @bjoernbroetz have used the `download` functionality more recently;

- about the concatenation error: that is happening because the code is finding **all** availbale datasets:
[code]
regard

[2020-02-24 14:43] rjp23 commented on #1543
esmvaltool -c config-user.yml recipe_flato13ipcc.yml
esmvalcore._recipe_checks.RecipeError: Missing data

I don't want to debug every recipe as I don't think I have enough experience with them all to trace the errors easily but this one suggests data is missing and has been moved, right?

[code]

[2020-02-24 14:48] rjp23 commented on #1543
[code]

This one is first an author name error but that's kind of my point. There should be a set that are kept up to date when something like the author name thing is changed.

Even when changing that, the data is still missing:

[code]

[2020-02-24 14:53] bouweandela commented on #1542
NoOptionError: No option 'destination_directory' in section: 'globustransfer'
ERROR Failed to run download

It looks like your synda configuration might not be correct, this problem is not related to ESMValTool. As @valeriupredoi mentioned, I would recommend using the data  you already have locally, but if you really want to download using synda, I would recommend having  a look at the synda docum

[2020-02-24 14:53] rjp23 commented on #1543
esmvaltool -c config-user.yml recipe_autoassess_landsurface_soilmoisture.yml

[code]

[2020-02-24 15:04] rjp23 commented on #1543
esmvaltool -c config-user.yml recipe_runoff_et.yml

[code]

You get the idea! It's most of them that fail for one reason or another.

[2020-02-24 15:05] bouweandela commented on #1519
Will keep you posted!

[2020-02-24 15:33] valeriupredoi commented on #1543
@rjp23 - there is a mix of issues that you are seeing because of a mix of issues with: your environment, your configuration file, using a branch that is either very old or not existing anymore: eg

- data issues:
[code]
why are you looking for CMIP3 data in `obsdata-v2`? -> issue with your configuration file

- recipe flato: `recipe_flato_short.yml` does not exist in the latest `master` branch

-

[2020-02-24 15:38] rjp23 commented on #1543
Maybe this relates to my other question about how to update things but I did (or thought I did) what you said.

I did this yesterday:

[code]

The flato recipe explictly looks for CMIP3 data doesn't it?  i.e. it's nothng to do with my config.

https://github.com/ESMValGroup/ESMValTool/blob/master/esmvaltool/recipes/recipe_flato13ipcc.yml

[2020-02-24 15:48] rjp23 commented on #1543
PermissionError: [Errno 13] Permission denied: '/group_workspaces/jasmin4/esmeval/autoassess_specific_files/files/ecv_soil_moisture_djf.nc'

Like I said, I didn't make this issue to start debugging every recipe but more to discuss whether it's the expectation that every packaged recipe works out of the box and if that's not guaranteed, can there be a subset that are guaranteed to work?

[2020-02-24 15:50] valeriupredoi commented on #1543
Rob, the installation is correct albeit I would avoid doing an `env update` - please don't read the circleci setup file but rather the instructions in `CONTRIBUTING.md`; you posted a failure running `recipe_flato_short.yml` that I don't know where you found but surely it's not in the `master` recipes; finding CMIP3 data has everything to do with your config file because there you specify where dat

[2020-02-24 15:56] rjp23 commented on #1543
I was following the readthedocs instructions:

https://esmvaltool.readthedocs.io/en/latest/getting_started/install.html

The recipe_flato13ipcc.yml looks for CMIP3 data but is the issue that there's not a default user config?

This is my user config file:

[code]

Thanks!

[2020-02-24 15:57] valeriupredoi commented on #1543
sorry, I forgot to set group permissions to `/group_workspaces/jasmin4/esmeval/autoassess_specific_files/` -> you should be able to rx it now, lemme know if still denied :beer:

[2020-02-24 16:01] valeriupredoi commented on #1543
you need to point the tool to CMIP3 in the same manner as you do for CMIP5,6:
[code]

[2020-02-24 16:02] valeriupredoi commented on #1543
the reason why it was looking into esmeval/obsdata-v2 is because that was (and still is) your default, and no CMIP3 path was set :beer:

[2020-02-24 16:20] rjp23 commented on #1543
Thanks!

That's now looking in the right place but the data doesn't exist there.

Skipping non-existent /badc/cmip3_drs/data/cmip3/output/BCCR/**bccr_bcm2_0**/20c3m/mo/atm/tas/run1/{latestversion}

It should be:

/badc/cmip3_drs/data/cmip3/output/BCCR/BCM2/20c3m/

[2020-02-24 16:52] valeriupredoi commented on #1543
no, that's because your ESMValCore is not up to dat - in the `esmvalcore/esmvalcore/config-developer.yml` you will see under CMIP3 the mapping:
[code]
Rob, as I said, try and install the latest `master` for both ESMValTool and Core **from source** and not from conda - ESMValCore is out of date in this case because the conda installation of ESMValTool picks up `esmvalcore` from `pip` and there it's

[2020-02-24 16:55] rjp23 commented on #1543
Thanks!
I think I probably beed telling exactly what commands to run as I thought I was doing that :-)

[2020-02-24 17:05] valeriupredoi commented on #1543
sure thing, let's take it offline (email on the esmvaltool list or private) - we'll fix those. Bottom line is that @mattiarighi is doing a stellar effort to make sure that with every code change the recipes work so I'd be surprised if, given correct installation and configuration of the latest code, you will find recipes that don't really work (apart from the autoassess few ones that I was a dumbe

[2020-02-25 11:19] chris-to-pher commented on #1542
Thanks for your help. Running the example with the local data at DKRZ works now (and I will not worry about the synda problem for now).

[2020-02-25 11:19] #1542 closed

[2020-02-25 15:13] #208 closed

[2020-02-26 20:11] BrendanMD opened #1546 "Replace extract_slice with extract_transect"
**Describe the bug**
There is no function called extract_slice in ESMValCore, only extract_transect.
Update doc string in (https://github.com/ESMValGroup/ESMValTool/blob/master/esmvaltool/diag_scripts/ocean/diagnostic_transects.py)

[2020-02-26 20:33] bouweandela opened #1547 "Conda package broken due to Julia installation"
The latest conda package is broken because of issue #1534.

The correct solution would be to change the julia installation script so it installs all packages at once and the order in which it installs things no longer matters. Next we should make a new release and new conda package.

[2020-02-27 12:39] mattiarighi opened #1548 "recipe_anav13jclim.yml not working"
`recipe_anav13jclim.yml` returns an error while reading the `HWSD` fx variable `sftlf`.
I suspect this is because `HWSD` is in the `OBS` project and should be `OBS6`, but I'm not sure.

@schlunma and/or @valeriupredoi can you confirm?

Logs here:
[main_log.txt](https://github.com/ESMValGroup/ESMValTool/files/4261616/main_log.txt)
[main_log_debug.txt](https://github.com/ESMValGroup/ESMValTool/files

[2020-02-27 12:52] schlunma commented on #1548
No, I don't think so, the `OBS` project should be correct. It looks like the data finder tries to extract a `start_year` and an `end_year` from the `fx` file, which it should no do.

I think this is exactly the issue of #448, which should be fixed as soon as #439 (or its childs) are merged.

[2020-02-27 16:17] valeriupredoi commented on #1547
why is it broken?

[2020-02-28 10:32] mwjury opened #1549 "cmorization of new obs datasets"
I have to add some obs datasets to the cmorizer that I have written in the coarse of the IPCC AR6. I am sorry I didn't find time to do this earlier. I just came across that the new direction is to add CMORization as a fix. For some of the datasets this would be possible, for others I fear not.
I have cmorizers ready for:
- [x] APHRO_MA #1555
- [x] BerkeleyEarth #1559
- [x] CowtanWay #1552
- [x] E-

[2020-02-28 10:39] mattiarighi commented on #1549
Hi @mwjury,

indeed we are trying to go towards cmorization as a fix, but if you have cmorizers ready for those datasets, just open a pull request and will test them.

Please make one pull request for each cmorizer to facilitate the review.

Thank you for your contribution!

[2020-02-28 13:02] bouweandela commented on #1547
Because of the issue mentioned above. This issue was 'solved' by changing the order of the dependency list, but that will only work until the next time things go wrong, manually sorting lists of dependencies in the hope that you find a compatible list of versions is not the way to go. The pull request referenced makes use of a Julia environment and leaves picking a set of compatible versions to th

[2020-03-02 10:00] zklaus commented on #1537
What sets hyper-canny apart from other, arguably more wide-spread canny edge detection as in scikit-image or opencv?

[2020-03-02 15:21] jhidding commented on #1537
It works in any number of dimensions, and deals with spherical geometry of Earth coordinates. You can use it to find edges in single-time snap shots (or satellite data), but also to find abrupt changes in time-dependent data.

[2020-03-03 10:53] mattiarighi opened #1561 "recipe_perfmetrices crashes due to standard name error"
[code]

Not sure what is causing the problem.
The last successfull test with this recipe was on Feb 18.

[2020-03-03 11:07] valeriupredoi commented on #1561
perfmetrics is a monster and would really not want to run it - can you pls tell us what's the offending dataset (full specs, so I can look it up on Jasmin too, might be that the actual data file changed in the meantime) :beer:

[2020-03-03 11:08] mattiarighi commented on #1561
Investigating... :mag:

The variable should be `obs550lt1aer`.

[2020-03-03 11:12] jvegasbsc commented on #1561
It is a legal standard_name, so it looks like an Iris problem. Which version are you using?

From last CF table:
[code]

[2020-03-03 11:15] mattiarighi commented on #1561
[code]

[2020-03-03 11:26] mattiarighi commented on #1561
Another hint:
[code]

[2020-03-03 11:37] jvegasbsc commented on #1561
It has the alias in its standard_names XML... Iris should accept it

[2020-03-03 11:38] mattiarighi commented on #1561
Apparently it is failing to apply a fix to `GFDL-CM3`

[2020-03-03 11:46] jvegasbsc commented on #1561
It is the automatic one correcting the standard_name when it does not match the CMOR tables. But Iris is complaining it is not legal for some reason

[2020-03-03 12:56] valeriupredoi commented on #1561
right so that dam file has got no `standard_name` and the only way to load is via `long_name` - see here (standard_name in commented out bit):
[code]
it has, however, an
[code]
and `c[0].var_name` is indeed `od550lt1aer`
Data issue, not `iris` issue :beer:

[2020-03-03 13:03] valeriupredoi commented on #1561
BTW where is the entry for `od550lt1aer` in perfmetrics recipe? Checked out latest `master` and it ain't there

[2020-03-03 13:04] mattiarighi commented on #1561
Line 1847

[2020-03-03 13:17] valeriupredoi commented on #1561
nevermind I'm blind :see_no_evil:

[2020-03-03 13:57] jvegasbsc commented on #1561
Iris issue because it is a legal standard_name and should not be treated as invalid.

[2020-03-03 14:09] valeriupredoi commented on #1561
we battling in legalities @jvegasbsc :grin: is that `invalid_standard_name` attr set by `iris` or by the data constructor? Coz if it's the second then it's the constructor (cmorizer/ESGF) at fault

[2020-03-03 14:10] mattiarighi commented on #1561
But it used to work, were there changes in the fix files?

[2020-03-03 14:17] valeriupredoi commented on #1561
I am actually using `iris=2.3` for this case so am saying - not `iris` the problemo :grin: Playing devil's advocate @bjlittle owes me a :beer:

[2020-03-03 14:25] mattiarighi commented on #1561
This means you could reproduce the issue?

[2020-03-03 14:26] valeriupredoi commented on #1561
yes, outside esmvaltool, see https://github.com/ESMValGroup/ESMValTool/issues/1561#issuecomment-593936795

[2020-03-03 14:40] jvegasbsc commented on #1561
Iris uses that attribute when it detects a standard_name that is not part of the valid list, but this is a valid standard_name, search it here http://cfconventions.org/Data/cf-standard-names/71/build/cf-standard-name-table.html.

We can also reproduce the error without any file:

[code]

[2020-03-03 14:41] #1539 closed

[2020-03-03 16:15] valeriupredoi commented on #1561
yep, same here, assigning it to the GFDL-CM3 cube:
[code]

[2020-03-03 16:20] valeriupredoi commented on #1561
funny thing is that name is actually present in `STD_NAMES` dict in `/anaconda3R/envs/esmvaltool/lib/python3.7/site-packages/iris/std_names.py` - also, why is that a fixed object (`STD_NAMES`) and not a collection from the CF library, @bjlittle ? :beer:

[2020-03-03 16:33] valeriupredoi commented on #1561
ok the problem is in `iris/_cube_coord_common.py` l/47:

[code]

`name_groups` is returned as `None` for `name_groups = valid_name_pattern.match("atmosphere_optical_thickness_due_to_pm1_ambient_aerosol")`
and even if it is a valid name it's discarded right away

[2020-03-03 16:46] valeriupredoi commented on #1561
https://github.com/SciTools/iris/issues/3677

[2020-03-04 08:33] bascrezee opened #1563 "pip error when following installation instructions in CONTRIBUTING.md"
Following the installation instructions as described in https://github.com/ESMValGroup/ESMValTool/blob/master/CONTRIBUTING.md

When executing `pip install -e '.[develop]'`

ERROR: Could not find a version that satisfies the requirement esmvalcore<2.1,>=2.0.0b6 (from ESMValTool==2.0.0b2) (from versions: none)
ERROR: No matching distribution found for esmvalcore<2.1,>=2.0.0b6 (from ESMValTool==2.0.0

[2020-03-04 09:18] katjaweigel opened #1565 ""_tkinter.TclError: couldn't connect to display" and MPLBACKEND="Agg" missing in re-run command"
**Describe the bug**
I'm actually not sure if this is a ESMValCore or an ESMValTool issue: I switched to the latest version of ESMValCore and ESMValTool yesterday and since then I get a error related to the x-server, if I try to run a diagnostic in the queue on Mistral in the log file of the diagnostic:
"self.tk = _tkinter.create(screenName, baseName, className, interactive, wantobjects, useTk, sy

[2020-03-04 09:32] katjaweigel opened #1566 "New recipe/diagnostic: recipe_li17natcc.yml for Axels GMD Paper"
**Short description of the diagnostic**
Recipe: recipe_li17natcc.yml
Diagnostic: emergent_constraints/lif1f2.py
The change between present-day and future Indian Summer Monsoon (ISM) precipitation is constrained using the precipitation over the tropical western Pacific compared to a fixed, observed amount of 6 mm d-1. Figures similar to Li et al. (2017)  figure 1 and 2 are produced for CMIP5 and CM

[2020-03-04 13:00] katjaweigel commented on #1565
Another recipe I tried:
https://github.com/ESMValGroup/ESMValTool/blob/deangelis_for_gmdpart4/esmvaltool/recipes/recipe_deangelis15nat.yml
Stops with the same error on Mistral in the queue, i.e. without available x-Server.

[2020-03-04 13:35] katjaweigel commented on #1565
The same error also occurs for:
https://github.com/ESMValGroup/ESMValTool/blob/master/esmvaltool/recipes/examples/recipe_python.yml
Therefore, it seems to be a general issue at least for python diagnostics if no x-Server is available and not related to certain diagnostics.

[2020-03-04 13:52] valeriupredoi commented on #1565
cheers @katjaweigel looking into this right now :beer:

[2020-03-04 13:57] katjaweigel commented on #1565
ok, great!

[2020-03-04 16:20] bouweandela commented on #1563
It looks like you may have forgotten to run the step right before the `pip install ..` in the instructions:
- Create the esmvaltool conda environment conda env create --name esmvaltool --file environment.yml
because ESMValCore is usually installed from conda. Installing from source is described in the next section.

[2020-03-04 16:32] valeriupredoi commented on #1563
no - the problem here is when you create the environment from esmvalcore's `environment.yml` and then try to install esmvaltool in it before (and probably forgetting to? or using an obsolete version of?) `pip install -e .` in esmvalcore - hence @bascrezee instructions in #1564

[2020-03-04 16:41] valeriupredoi commented on #1527
:ramen: :rofl:

[2020-03-05 08:05] bascrezee commented on #1563
There are quite a few steps in the installation, and I did my very best to follow them carefully. @valeriupredoi I did not create from esmvalcore's `environment.yml`, I created from esmvaltool's `environment.yml` as mentioned in the instructions. I also did the whole procedure from the start a few times (removing the environment in between) to make sure that I did not make any mistakes. I am runni

[2020-03-05 08:41] bouweandela commented on #1563
Hi Bas,

Sometimes conda silently fails to activate an environment even if you type `conda activate environment_name`. Maybe you can try deactivating and activating the esmvaltool environment again before running pip install?

The command `conda env create --name esmvaltool -file environment.yml` creates an environment called esmvaltool containing the packages listed in environment.yml. If you ope

[2020-03-05 08:44] valeriupredoi commented on #1563
Bit of a less text-verbose way to check is `conda list esmvalcore`

[2020-03-05 09:21] #1546 closed

[2020-03-05 09:22] bascrezee commented on #1563
`Sometimes conda silently fails to activate an environment`
This is a bit worrying ! But good to know.

And maybe this is indeed what happened yesterday, since I tried again, following your instructions and now everything works fine. The `conda env export --name esmvaltool` contains:

`  - esmvalcore=2.0.0b7=py_0`

Everything good. @valeriupredoi shall we close this and #1564 ?  Or do you want to

[2020-03-05 09:45] valeriupredoi commented on #1563
Nah am good bro, cheers for the extra detective work tho :beer:

[2020-03-05 09:52] bascrezee commented on #1563
Cheers :coffee:

[2020-03-05 09:52] #1563 closed

[2020-03-05 11:27] valeriupredoi commented on #1561
@jvegasbsc have a look at https://github.com/SciTools/iris/issues/3677#issuecomment-595177247 and then my cheeky comment https://github.com/SciTools/iris/issues/3677#issuecomment-595180142 - do you mind taking care of it? :beer:

[2020-03-05 11:53] jvegasbsc commented on #1561
Setting an Iris development environment right now...

[2020-03-05 13:50] valeriupredoi commented on #1536
superseded by https://github.com/ESMValGroup/ESMValTool/issues/1547 and fix in #1568

[2020-03-05 13:50] #1536 closed

[2020-03-05 16:47] bouweandela commented on #1547
The new release (v2.0.0b3) and associated conda package solved this, but unfortunately Julia diagnostics do not work in the new package. Will investigate.

[2020-03-05 21:24] bouweandela commented on #1547
Removing the directory `~/.julia` and re-installing the conda package solved the problem.

[2020-03-06 11:34] jvegasbsc commented on #1547
The nightly conda install is still failing with the same error. Any clue?

[2020-03-06 11:48] bouweandela commented on #1547
For some reason conda tries to install an old version if you do not specify one. The latest package works fine.

[2020-03-06 12:20] jvegasbsc commented on #1547
It is trying to use the linux x64 distribution instead of the noarch, maybe?

https://anaconda.org/ESMValGroup/esmvaltool

[2020-03-06 13:16] bouweandela commented on #1547
For some reason it seems to find that environment easier to solve:
[code]
takes about 75 seconds to run on my computer, while
[code]
takes just 15 seconds, but then it plans to install v2.0.0b0 of esmvaltool instead of the latest version.

[2020-03-06 14:44] mwjury commented on #1549
Hi @mattiarighi, Can I added 2 new cmorizers to the list?

- [ ] GHCN_CAMS
- [ ] GISTEMP

[2020-03-06 14:46] jvegasbsc commented on #1547
Ok. I tried it using the --debug flag. It looks that first it tries to use the linux-64. If that is denied because of the version specification, it tries noarch

[2020-03-06 14:47] jvegasbsc commented on #1547
Is there a way to remove / deprecate the linux-64 packages in conda?

[2020-03-06 14:49] jvegasbsc commented on #1547
The arch version have stricter dependencies, so there are quite a few combinations that conda must not discard by itself

[2020-03-06 14:55] bouweandela commented on #1547
Yes, we could delete the older packages, but I'm not sure if that's a good idea. What if someone is using them?

[2020-03-06 15:05] jvegasbsc commented on #1547
That's why I asked for deprecating it (i.e. leave it installable but impossible to found unless you specify that particular version).

If that is not possible, I think is worse that installing ESMValTool without any version will retrieve a random old one instead of the latest

[2020-03-06 15:43] bouweandela commented on #1547
I think is possible using e.g. `deprecated` label, people could then install the old version using something like
[code]
This will require anyone using such an old version to change their installation scripts though.

[2020-03-06 16:29] valeriupredoi commented on #1547
@bouweandela there is an issue with b3 - look at the file sizea
![CondaPks](https://user-images.githubusercontent.com/28983971/76102244-9d469280-5fc7-11ea-96ea-871f5ab32bd2.png)

[2020-03-06 16:54] valeriupredoi commented on #1547
there was an error in the production of b3:
b2: info/ is 36M with all the necessary codes in info/recipe/esmvaltool
b3: info/ is a diminutive 300k with no info/recipe/esmvaltool

Gotta rebuild it, bro :beer:

[2020-03-09 08:42] bouweandela commented on #1547
@valeriupredoi Actually there was a mistake in all the old builds which makes them huge. Conda will copy files that are in the same directory as the conda recipe into the info/recipe directory, e.g. all the pictures from the documentation. The `info` directory contains only metadata, see the [conda documentation](https://docs.conda.io/projects/conda-build/en/latest/resources/package-spec.html#pack

[2020-03-09 08:52] jvegasbsc commented on #1547
This is a price I'm willing to pay to avoid installing an old version by default

[2020-03-09 08:54] bouweandela opened #1574 "Documentation overview issue"
Here is the current documentation structure. The checkboxes are meant to indicate whether or not a section looks good now or still needs improvement.

**Introduction**
- [ ] About (introduction for both Tool and Core, objective and approach, license)
  Much shorter than the current introduction. Point to website esmvaltool.org
- [ ] Workflow (Architecture)
- [ ] Development team
- [ ] Community

[2020-03-09 08:55] bouweandela commented on #1574
@hb326 Since you're leading the documentation discussion this week, this could be of interest to you.

[2020-03-09 09:08] valeriupredoi commented on #1547
Ill have to investigate a bit more the quality of the latest b3 package as conda packed it. There are two reasons why conda decides to install an older version without expllicitly telling it to do so: either there is an issue with the newer package or the environment you ask for solves better for the older version. Since circleci solves the conda env no problemo I suspect it's the first cause - Bo

[2020-03-09 09:15] jvegasbsc commented on #1547
I did a quick test with labels:

- Put everything linux-64 in a new label called `deprecated`

- Create a new environment with the --dry-run

- Conda now installs v2.0.0b3 as expected

So we can finally conclude that this is the problem: conda prefers the specific versions above the generic. I think it assumes that if there is an architecture dependant version along with a noarch it is because the

[2020-03-09 09:36] bouweandela commented on #1547
Ok, let's do the deprecated labels thing then, I'll add them again.

[2020-03-09 09:42] bouweandela commented on #1547
I'll also see if I can unpin some packages, to make it easier to solve the environment again.

[2020-03-09 09:44] jvegasbsc commented on #1547
For me, it is way faster when I add the specific version of Python I want to install. Maybe we should add it as a hint in the documentation

[2020-03-09 09:44] valeriupredoi commented on #1547
Ah yes, even channel searching conda puts noarch after linux64, how about we build the linux64 too or remove all linux64 older packages? I don't like the deprecated flag

[2020-03-09 09:46] valeriupredoi commented on #1547
No, adding versions, subversions and hashes is something regular Joe user doesn't really know, let's not complicate the installation process even more :beer:

[2020-03-09 09:48] bouweandela commented on #1547
@valeriupredoi Working on this topic in https://github.com/ESMValGroup/ESMValTool/pull/1570

I'm not keen on removing packages, removing packages from conda puts people relying on those packages in trouble: I regularly spend a few hours fixing our installation procedure because someone decided they can remove stuff from conda or CRAN. I think the deprecated flag is a good first step. We can remove

[2020-03-09 09:50] valeriupredoi commented on #1547
Yepers, agreed! :beer:

[2020-03-09 11:44] katjaweigel opened #1575 "New recipe/diagnostic: recipe_deangelis_for_gmdpart4.yml for Axels GMD Paper"
**Short description of the diagnostic**
Recipe: recipe_deangelis15nat.yml
Diagnostics: deangelis15nat/deangelisf1b.py
                    deangelis15nat/deangelisf2ext.py
                    deangelis15nat/deangelisf3f4.py

Reproducing figure 1b, 2, 3, 4 and extended data figure 1 and 2 from DeAngelis et al. (2015).

DeAngelis, A. M., Qu, X., Zelinka, M. D., and Hall, A.: An observational radiativ

[2020-03-09 12:11] hb326 commented on #1574
Hey @bouweandela , thanks for getting this started. I will include it in the discussion for tomorrow.

[2020-03-09 12:12] bouweandela commented on #1547
Just successfully installed esmvaltool from conda and ran a few recipes. OK to close this issue? @jvegasbsc @valeriupredoi?

[2020-03-09 12:13] valeriupredoi commented on #1547
good job guys! Now by doing
[code]
it indeed wants to install:
[code]

Note that we can put a note saying that if you really want to install the pkg from linux-64 you can do it via:
[code]
which, at the moment, results in installing the `noarch` ones since all the others are deprecated. We must tell users **not to use the esmvalgroup/label/deprecated** option because that results in installing som

[2020-03-09 12:17] valeriupredoi commented on #1547
OK to close with a few pointers I'd add to the documentation:

- we can build `linux-64` specific packages but we should put them in a separate dir (like `deprecated` but call it something else) and tell the users how to do the installation fia channel label BUT honestly I dont see the point of doing that
- we must tell the users not to use the deprecated label (see comment above)
- :beer:

[2020-03-09 12:33] valeriupredoi commented on #1575
just a very general remark - maybe we should encourage developers (you guys here too) to include the actual physical process(es) that the recipes perform in their names, like here De Angelis makes me think of either the Formula 1 driver (Elio De Angelis) or the champagne (Angeli) :grin: - something for the @ESMValGroup/esmvaltool-developmentteam to debate+decide I reckon

[2020-03-09 12:38] katjaweigel commented on #1575
I though we were supposed to name recipes based on the paper? But I was wondering if this is always a good idea, too. Not that much here, since I didn't know Elio De Angelis (sorry!), but the other recipe I'm working on I actually called "recipe_drought_events.yml", although the name following the paper would be "recipe_martin18.yml". But I think "Martin" is a really too frequent name?

[2020-03-09 12:43] mattiarighi commented on #1575
Recipe reproducing (part of) the analysis of a given paper are named like the paper itself.
I think we should not change this now that our papers are about to be finalized.

In the future, we might think about grouping the recipes by topics in subdirectories.
I think there is already an issue with such suggestion or something along this line.

[2020-03-09 12:49] valeriupredoi commented on #1575
cool, makes sense then, but at least the diagnostics the recipes execute should have phenomenological names - it would be very useful to change these abstract paper-motivated recipe names once the paper gets published :beer:

[2020-03-09 12:52] valeriupredoi commented on #1575
apologies for trying to reinvent the wheel here - do we also have a list of recipes each diagnostic is run by? Ie in the diagnostic script itself, in its docstring

[2020-03-09 13:41] #1547 closed

[2020-03-10 11:54] bouweandela commented on #1574
Thanks to all my colleagues for this too, coming up with this revised structure was a team effort! @Peter9192 @SarahAlidoost @JaroCamphuijsen @nielsdrost

[2020-03-10 12:47] #261 closed

[2020-03-10 12:48] jvegasbsc commented on #259
Already implemented trough C3S-Magic

[2020-03-10 12:48] #259 closed

[2020-03-10 13:10] BenMGeo commented on #1574
**WS question was:**

"Why not having a split repository for the documentation with automated (2way) updating?"

**Reason:**

I was mainly referring to changes in the main structure or stuff that is not code related.
This way it is easier to have a compact fully explaining document with less redundancy and an easier structure to use for people who only update code specific information. We could al

[2020-03-10 13:56] ledm commented on #1574
I'm happy to help with writing documentation.  There aren't very many native English speakers here, so I'm happy get stuck in with writing!

[2020-03-10 14:37] bettina-gier commented on #1574
One thing that could be interesting - but would also be a lot of work, is to include some kind of feature changelog? Although I do check github from time to time, some things get merged rather fast and you don't realize all the new features that got added or you have to track down why things are no longer working when interfaces change.

I don't mind reading over some documentation, I'm a human sp

[2020-03-10 14:42] ledm commented on #1574
A human-readable change log (not a git log) would be nice, but generally is associated with version numbers. Are we going to add version numbers?

[2020-03-10 15:17] bouweandela commented on #1574
The human readable change logs currently live here:
https://github.com/ESMValGroup/ESMValTool/releases
https://github.com/ESMValGroup/ESMValCore/releases
I would propose moving them to readthedocs (see structure above), because that makes them easier to find.

We have version numbers, e.g. ESMValCore is currently at version 2.0.0b8 and ESMValTool at version 2.0.0b3, but at the moment they're all b

[2020-03-10 16:23] bouweandela opened #1578 "Provide guidance on using private repositories"
Here is a proposed workflow for developing a diagnostic in a private repository:

**1) Clone the private repository**
For example, to clone a repository called esmvaltool-private, you would run:
[code]
or
[code]

**2) Make a branch to develop your recipe and diagnostic:**
[code]

**3) Develop your diagnostic in that branch and push it to the private repository**
[code]
the first time and
[code]
an

[2020-03-10 16:25] bouweandela commented on #1578
@ESMValGroup/esmvaltool-coreteam Could you please review this and provide comments? Once we agree on a workflow, this can then be added to the documentation.

[2020-03-10 16:29] valeriupredoi commented on #1578
Two comments:
- add point to enter github username+password after git clone (required step only for private repos)
- remember to pull the origin everytime you start working again in case someone else made changes in the meantime
Cool, B-man! :beer:

[2020-03-10 16:30] ledm commented on #1578
Do we need to include a test/demonstrate that the recipe works as a requirement? I guess it falls in point 6, but should probably be made explicitly clear here.

Is this the process that we'll be using for merging AR6 code as well?

[2020-03-10 16:32] mattiarighi commented on #1578
Looks good to me, thanks!

[2020-03-10 16:35] bouweandela commented on #1578
I think this will be done as part of the pull request review and you can then update the figures in the paper before it gets published if the review results in major changes. Maybe we could add a link here to the contribution guidelines?

[2020-03-10 16:53] nielsdrost commented on #1578
@bouweandela Yes, this is pretty much the original plan. At the time we also had the idea/option to merge to master/develop in the private repo, but in hindsight this was a bad idea. ;-)

[2020-03-11 05:29] BenMGeo commented on #1578
I like it. I actually did not realize that private branches should directly pulled into public.
Though, I'd mention to frequently update from master.

[2020-03-11 08:41] zklaus commented on #1578
Overall that could work, I think.

That means `private/master` is identical to `public/master`?

I don't think we need to write that. If necessary, the tools will ask.

Clarification: According to the guide above, private branches should become public branches before they get their (also public) pull request.

Several people suggested frequent updates from master. I generally follow a different ph

[2020-03-11 09:44] bouweandela opened #1579 "Container (docker/singularity) outdated"
The docker (or singularity) container and documentation is outdated. Current code can be found in the `docker` folder.

Docker containers at https://hub.docker.com/u/esmvalgroup

To do:
- Update container
- Update documentation
- Add singularity support (if we need to do anything for this)
- Use container on CircleCI
- Anything more?

[2020-03-11 14:33] jvegasbsc commented on #1579
Can you please give me permissions so I can play a bit with the autobuilds?

[2020-03-11 14:50] TomasTorsvik opened #1580 "CMORize WOA 2018"
Dear ESMValTool community,

ESMValTool already includes scripts to CMORize WOA data for the 2013v2 data set (WOA13). I have been able to produce input data for ESMValTool using this setup, and I am now looking to modify these scripts for the WOA 2018 data set (WOA18). It turns out that WOA18 follows some other conventions than WOA13, so it is not enough to just change the input files. Specifically

[2020-03-12 11:44] earnone commented on #270
@bouweandela @jhardenberg @valeriupredoi I keep on having troubles using the `extreme_events` recipe as it complains trying to load the `ncdf4.helpers` library which does not get installed with the R config . Don't you have the same problem? It is not anymore on CRAN. Any suggestion?

[2020-03-12 14:13] bouweandela commented on #270
@bjoernbroetz Can you comment on the way forward with this?

[2020-03-12 14:52] bouweandela opened #1582 "Unit tests failing because pytest-html 2.1.0 is broken"
See https://github.com/pytest-dev/pytest-html/issues/282

[2020-03-12 15:42] earnone commented on #270
I understand there is a shift towards iris direct calculation of etccdi indices but is there a way to have extreme_events running now? This is to finalize PR #1133 which calls extreme_events.

[2020-03-12 15:54] bouweandela commented on #270
You could install the required packages from the CRAN archive, but that is not an installation procedure we plan to support for ESMValTool. The authors of the packages are working on getting them (back) on CRAN though.

[2020-03-12 16:00] valeriupredoi commented on #270
iris? Do you know more about that, Enrico @earnone ? :beer:

[2020-03-12 16:02] #1582 closed

[2020-03-13 08:49] earnone commented on #270
@valeriupredoi see #1577 (that's all I know). @bouweandela ok, for now I'll try to get a temporary installation, get things running in hyint and assume extreme_events will be to get the library again.  Should we somehow inform users/developers in these cases of a broken recipe?

[2020-03-13 08:54] valeriupredoi commented on #270
Right, cheers, Enrice - been working with Bjorn and Ben in #1577 - but that's using iris, and reimplementing the routines in the Tool, thought the SciTools guys themselves were planning on implementing it straight into iris (which might be a good idea, if not a bit too specific of a functionality) :beer:

[2020-03-13 09:11] bouweandela commented on #1579
I added both you @jvegasbsc and @valeriupredoi to the organization

[2020-03-13 09:16] valeriupredoi commented on #1579
Cheers Bouwe, got the notification, among all the warning emails for Corona :grin: I'll have a go at playing with the tools next week

[2020-03-13 10:03] jvegasbsc commented on #1579
I can not see neither ESMValTool nor ESMValCore repositories to enable the auto builds.  I can see our cmip6-cmor-tables fork and the tutorial one. Maybe it is an issue with my permissions on that repositories.

[2020-03-13 11:55] valeriupredoi commented on #1580
Excellent, great stuff @TomasTorsvik :beer: I am assigning @mattiarighi since he is the main point of contact wrt OBS data and I'd recommend creating a branch where you'd put your cmorizer script and tell us when ready for testing. Let me know if I can help in any way on the technical side, cheers muchly!

[2020-03-13 12:01] valeriupredoi commented on #1579
This is what I see - I believe that's all we need to see, can you not, Javi?
![AutoDockStuff](https://user-images.githubusercontent.com/28983971/76619227-4b9b8c00-6522-11ea-8498-b0b5122d30ce.png)

[2020-03-13 12:07] mattiarighi commented on #1580
@ledm could also be helpful for specific questions on this dataset.

[2020-03-13 12:58] jvegasbsc commented on #1579
I can see that, yes. And even I have been able to upload new versions of tool and core. What I can not do is to setup the autobuild because I can not see the GitHub repositories:

![esmval_docker](https://user-images.githubusercontent.com/13482714/76622864-a806a780-6532-11ea-94ff-9eb313df1628.png)

[2020-03-13 13:16] TomasTorsvik commented on #1580
Thanks for positive feedback. I will continue working on the script and see if I can fix also the time stamp issue. Will get back to you if I get stuck on something or when I have something that can be tested.

[2020-03-13 14:02] bjoernbroetz commented on #270
Yes, this climdex package and the ncdf4.helpers gave us some problems:

- #1443
- https://github.com/ESMValGroup/ESMValTool/pull/1454

among other things. In #1577 we implement the calculation of the indices based on iris/ESMValTool preprocessor functions. We want to have a drop-in replacement for the climdex package, so that on short term the depending diagnostics would not need to have big chang

[2020-03-16 11:41] bouweandela commented on #1579
Only some people from DLR have administrative permissions on the ESMValCore and ESMValTool repositories. See further discussion in email.

[2020-03-16 14:03] TomasTorsvik commented on #1580
Hi @ledm @mattiarighi ,
I'm getting a warning about units of the type

WARNING [15253] /nird/home/tomast/miniconda3/envs/esmvaltool_v2.0.0b3/lib/python3.7/site-packages/iris/fileformats/_pyke_rules/compiled_krb/fc_rules_cf_fc.py:2190: UserWarning: Ignoring netCDF variable 'i_an' invalid units 'micromoles_per_kilogram'
  warnings.warn(msg)

I am extracting the 'i_an' variable, along with 'p_an', 'o

[2020-03-16 14:33] TomasTorsvik commented on #1580
Hi @valeriupredoi @ledm @mattiarighi,
I have a question about the specification of mip 'Omon' and 'Oyr' for the WOA18 dataset. The WOA18 datasets are mostly decadal averages or longer
5564 : 1955 - 1964
6574 : 1965 - 1974
7584 : 1975 - 1984
8594 : 1985 - 1994
95A4 : 1995 - 2004
A5B7 : 2005 - 2017
decav81B0 : 1981 - 2010
all : all available years

Currently the WOA18.yml file use "mip: Omon" for 't

[2020-03-16 15:21] ledm commented on #1580
Is your output file producing the correct units? It looks like iris just doesn't like the  `micromoles_per_kilogram`' unit (and who can blame it?!)

If the data is in the correct output, I wouldn't worry about it too much.

[2020-03-16 15:43] valeriupredoi commented on #1580
That is not a CF unit I am afraid:
[code]
but `Unit("mol-3 kg-1")` is :grin: Don't worry about that warning!

[2020-03-16 15:44] ledm commented on #1580
My preference would be that the monthly data and monthly climatologies should be `Omon`, the single year average should be `Oyr` and the decadal averages should be `Odec`? It is possible to cmorise these files so that they include a time dimension and the time coordinate boundaries cover the start and finish dates, even if the time has unity length. That would be the most "correct" method, to my e

[2020-03-16 17:22] schlunma opened #1584 "Add emergent constraint for ECS of Volodin (2008)"
**Short description of the diagnostic**
Emergent constraint for ECS according to Volodin (2008). Necessary for Lauer et al. paper.

**Branch and pull request**
[add_ecs_constraints](https://github.com/ESMValGroup/ESMValTool/tree/add_ecs_constraints), #1585

[2020-03-16 20:37] irenecionni opened #1586 "adding eyring06jgr"
**Describe the bug**
I'm working on adding the eyrin06 new diagnostics on ESMVAltool2. The version of the begin of February was working fine on my machine. Now I did an update and the  version of the tool that has been merged in ESMVal2 by Birgit  is not working anymore. The preprocessing is working fine but it stop when is the time to launch the ncl script apparently without any error.  Could you

[2020-03-17 07:41] TomasTorsvik commented on #1580
I tried with 'mip: Odec'. This works for all variables except 'o2'. Apparently the standard_name for this variable is not recognized for the 'Odec' mip. I pasted in the end of the terminal output below.

2020-03-17 07:36:27,385 UTC [22322] INFO    CMORizing var o2 from file /tos-project2/NS2980K/NTK-data/rawobsdata/Tier2/WOA18/woa18_all_o00_01.nc
2020-03-17 07:36:27,407 UTC [22322] WARNING /nird/h

[2020-03-17 08:21] TomasTorsvik commented on #1580
I'm still struggling with the time variable, but this seems to be an issue with the source files. For instance woa18_decav81B0_s00_01.nc. A 'ncinfo' on this file gives
time_coverage_start: 1981-01-01                                                                                                                                time_coverage_end: 2010-12-31

[2020-03-18 14:42] ledm opened #1588 "The ESMValTool twitter account"
Hi,

we've now set up an [ESMValTool twitter account](https://twitter.com/esmvaltool), @ESMValTool . Feel free to follow us!

The twitter account is currently being set up and monitored by @ledm, but the long term goal will be to move it under the control of the User Engagement team.

At the moment, there have been several discussions on how best to manage it on the private discussions, but it's b

[2020-03-18 17:28] bouweandela commented on #1574
The new structure can be previewed at https://esmvaltool.readthedocs.io/en/doc/

[2020-03-19 08:58] mattiarighi commented on #1574
I noticed this only while reviewing the PR, but I would suggest putting Gallery after Getting started.

Any opinion?

[2020-03-19 09:41] valeriupredoi commented on #1574
Second that :beer:

[2020-03-19 10:32] hb326 commented on #1586
@mattiarighi: can you assign somebody here? So that somebody can help Irene? I just tried, and it did not work for me...

[2020-03-19 10:48] mattiarighi commented on #1586
Can you make a list of what is missing? Then I can assign someone depending on the tasks...

[2020-03-19 11:01] hb326 commented on #1586
Well, I think the biggest problem so far is that Irene can't get her diagnostics to run anymore after I merged the master branch into the version2_eyring06jgr branch.

[2020-03-19 11:16] mattiarighi commented on #1586
I would suggest to make a check list of the diagnostics here and try to share the effort.

[2020-03-19 11:24] axel-lauer commented on #1578
I followed this workflow for getting the branch 'russel18_v2' from the private into the public repository and create a pull request (#1589). That all worked fine but the commit history now contains more than 10,000 commits resulting from the automated synchronization between the master branches in public and private, e.g.:

`@bjoernbroetz Merge branch 'master' into private-branch 451a74a`
`@bjoern

[2020-03-19 11:58] zklaus commented on #1578
If we really follow this workflow it seems to mean that

- merges occur only in the public `master`, never in the private one
- `master` in private and public are identical
- all (feature) branches in private branch off of the (public) `master`

If that is the case, there is no need to maintain a separate `master` branch in the private repository. Instead, we could simply push the public `master`

[2020-03-19 12:34] hb326 commented on #1586
What kind of check list would that be? What is missing to merge? Or what is missing to do a pull request?

[2020-03-19 12:36] mattiarighi commented on #1586
I would list all the diagnostics in the recipe and we can check them individually.

[2020-03-19 13:04] hb326 commented on #1586
I have tested all the diagnostics in the recipe, and found several problems. I indicated these problems for each diagnostic below.
I marked the most important diagnostics with **Priority 1** since these are needed for the release of Version 2 (since they are part of the ESMValTool paper part 2 - Veronika's paper). The other diagnostics need to be added as well, but could be, if necessary, added at

[2020-03-19 13:07] irenecionni commented on #1586
Hi Birgit,
I try to solve the priority 1 with my old version and let you know.
Irene

[2020-03-19 15:19] irenecionni commented on #1586
Runtime error:
“fatal:NclOneDValGetClosestIndex: finish coordinate index out of range, can't continue
fatal:Could not obtain coordinate indexes, unable to perform subscript
fatal:["Execute.c":8637]:Execute: Error occurred at or near line 170 in file /mnt/lustre01/pf/b/b309143/ESMValTool-public/esmvaltool/diag_scripts/eyring06jgr/eyring06jgr_fig05b.ncl”

1) the error is about the unit of the pressu

[2020-03-19 15:22] mattiarighi commented on #1586
I just checked HALOE data, indeed the units are `Pa`, but the actual data seems to be `hPa`

[code]

My mistake, sorry. I will fix it straighy away.

[2020-03-19 15:23] hb326 commented on #1586
Perfect! That will also fix my problem for Figure 5a where the HALOE data starts at 2hPa instead of 200hPa...  :)

[2020-03-19 15:26] hb326 commented on #1586
@irenecionni: could you adjust the version of the diagnostic that is at the moment available on GitHub with the years for the climatology calculation? Then I can pull it and try to run it again.
Thanks!

[2020-03-19 15:26] irenecionni commented on #1586
Great!

[2020-03-19 15:26] irenecionni commented on #1586
The problem in figure 1 should be in the add_legend function

[2020-03-19 15:31] irenecionni commented on #1586
Yes! Done

[2020-03-19 15:34] irenecionni commented on #1586
My idea is that all the plots using HALOE are affected by the level problem, for instance figure 07b and  figure08 figure09  unless you removed the problem in the specific humidity calculation, but I don’t think so...can it be?

[2020-03-19 15:36] hb326 commented on #1586
Entirely possible.

[2020-03-19 15:36] irenecionni commented on #1586
also figure 12a and figure 12b use HALOE

[2020-03-19 15:45] nielsdrost commented on #1574
I think the Gallery is a bit odd-one-out in the documentation anyway, so putting it anywhere is fine with me :-)

[2020-03-19 15:45] mattiarighi commented on #1586
Fixed in #1590. Fixed data are already on DKRZ.

[2020-03-19 15:48] irenecionni commented on #1586
Hi Birgit,
I did a check of Figure2 and as figure05b is the old version without start year and end year attributes. I cannot understand why! I was sure about the fact that I updated the final version! Can I do now?

[2020-03-19 15:53] hb326 commented on #1586
@irenecionni: yes, you can do that now.

[2020-03-19 15:58] irenecionni commented on #1586
Sorry wait! I just noted that most of the diagnostics (figure 2, figure5a ) ,do not have the new attributes.Give me  10 minute to check all and update the new ones

[2020-03-19 16:05] hb326 commented on #1586
Ok. Let me know when you are done.

[2020-03-19 16:10] irenecionni commented on #1586
Wait  I also solved the problem in the legend of figure 1 and I’m checking figure 15 (should be the same!)

[2020-03-19 16:29] irenecionni commented on #1586
Let’s do a summary:
eyring06jgr_fig01.ncl  changed because of the error in MMM legend
eyring06jgr_fig02.ncl  changed because start and end years attributes (not sure that the  error you founded is resolved, need to be checked)
eyring06jgr_fig05a.ncl  changed because start and end years attributes (probably affected by HALOE)
eyring06jgr_fig05b.ncl  changed because start and end years attributes (p

[2020-03-19 16:31] hb326 commented on #1586
I ran Figure 5a again, and the CMIP5 and MMM look better (fixed pressure for HALOE). However, HALOE data seem to be too low. Maybe a conversion error of the units?
![eyring06f05_tro3 000001](https://user-images.githubusercontent.com/33543691/77090487-83657080-6a07-11ea-92f8-c3c0503b5b04.png)

[2020-03-19 16:32] hb326 commented on #1586
Ok, I will run the updated diagnostics again tomorrow.

[2020-03-19 16:37] bouweandela commented on #1574
Done now

[2020-03-19 16:37] mattiarighi commented on #1586
Indeed. I will fix it.

[2020-03-19 16:38] irenecionni commented on #1586
Yes, which is the UNITS name in your HALOE file?
There is an”if statement" for the conversion to ppm inside the code. Do you know if it  is possible do the conversion in the preprocessor. In that way I can move the orribile “if statement” and add the line in the preprocessor for all the models and observations involved
Irene

[2020-03-19 16:39] mattiarighi commented on #1586
The units in the cmorized HALOE data were wrong (mol/mol instead of ppbv).
I'm fixing this, then units will consistent for model and obs (as per CMOR table) and no conversion should be required any more.

[2020-03-19 16:43] bouweandela commented on #1578
I checked and this is the case

Indeed, this is a good idea. @bjoernbroetz Would it be possible to update your synchronization script so it pushes the public `master` branch to private repositories instead of works with pull requests that create noise in the git log?

[2020-03-19 16:52] mattiarighi commented on #1586
Data are fixed and available at DKRZ.

Pull request #1591

[2020-03-19 17:25] bouweandela commented on #1578
Great to hear that it worked!

I just did these steps and made a new pull request here #1592:
[code]
that way you loose the git history, but at least you get rid of the 10000 needless commits. I hope it's not a problem, if it is, feel free to close it again. Once @bjoernbroetz has updated his synchronization scripts, we should be able to use the normal procedure.

[2020-03-19 17:39] bouweandela commented on #1574
The new structure is now available on readthedocs. Do we keep this issue open to keep track of which sections still need work? As proposed by @mattiarighi during the workshop, this issue could then replace ESMValGroup/ESMValCore#193 as a to do list.

[2020-03-20 07:40] mattiarighi commented on #1586
Starting now to work on eyring06jgr_fig01, I will fix the ncl-codestyle issues and test it.

[2020-03-20 08:03] mattiarighi commented on #1586
I cleaned the recipe a bit and remove the commented parts.
If you need to test a single diagnostic, use the `--diagnostics` option instead of commenting out the other diagnostics: this is necessary to avoid conflicts if several people are simultaneously working on the same recipes.
[code]

I think we should open the pull request, so we can follow what everybody is committing.

[2020-03-20 09:46] zklaus commented on #1578
We do need to rebase all open branches in the private repo then, right?

[2020-03-20 12:25] rjp23 opened #1594 "Provide ESMValTool on JASMIN's new Jupyter Notebook service"
JASMIN has introduced a Jupyter Notebook service. Making ESMValTool available on that would be something that I feel could be an absolute game-changer in terms of uptake and usage of ESMValTool. It'd allow the tool to be used much more widely, easily used for teaching, etc.

https://help.jasmin.ac.uk/article/4851-jasmin-notebook-service

[2020-03-23 08:35] bouweandela commented on #1578
I guess so, unless you know something smarter with `git`? I tried rebasing first, but it didn't work straightaway, therefore I went for the simpler approach instead.

[2020-03-23 08:35] bouweandela commented on #1578
We could also consider not having a `master` branch in the private repositories, but maybe that would increase the risk of people accidentally pushing stuff to the public repository. Anyone an opinion on that?

[2020-03-23 08:56] bouweandela commented on #1579
@jvegasbsc Autobuilds are enabled now for `master` and tags and you should be able to change the settings too.

[2020-03-23 11:17] bouweandela commented on #1031
Splitting the ESMValCore from the ESMValTool is done now.

[2020-03-23 11:17] #1031 closed

[2020-03-23 11:19] bouweandela commented on #1207
Superseded by #1574

[2020-03-23 11:19] #1207 closed

[2020-03-23 11:23] bouweandela opened #1596 "Merge installation from source instructions"
Currently there are instructions for installing from source here:
https://esmvaltool.readthedocs.io/en/latest/quickstart/installation.html#install-from-source
and here:
https://esmvaltool.readthedocs.io/en/latest/community/introduction.html#getting-started

The latter instructions should be removed and replaced by a link, relevant information should be moved to the first location.

[2020-03-23 11:24] bettina-gier commented on #1578
I'd personally suggest to just push the same master to the private repository if that isn't a big problem. I think that's easier for a simple user who may still be struggling with git, and who are quite wary of anything that has to do with the remote repositories cause they "don't want to screw anything up".
Because otherwise it's more added instructions on how to get the public master, setting up

[2020-03-23 11:27] valeriupredoi commented on #1031
a virtual :beer: to @bouweandela

[2020-03-23 11:43] valeriupredoi commented on #1594
cool, cheers Rob @rjp23 - I will probably wait for the stable release, have a central installation done on Jasmin then I'll start looking into the notebook, indeed a lot of nice things with a Jupyter notebook :beer:

[2020-03-23 11:44] valeriupredoi commented on #1588
:bird:

[2020-03-23 12:10] valeriupredoi commented on #1580
hi @TomasTorsvik  apologies for the late reply - the tool grabs the first and last year of the data from the data cube:
[code]

so if `date` and `date2` are correct, then that's what you gonna get in the filename string. Are they?

[2020-03-23 13:08] mattiarighi opened #1597 "Broken link on ESMValTool GitHub page."
The getting started link on the ESMValTool GitHub page points to https://esmvaltool.readthedocs.io/en/latest/getting_started/index.html, which does not exist.

[2020-03-23 13:21] #1597 closed

[2020-03-24 08:07] TomasTorsvik commented on #1580
Hi @valeriupredoi ,
the 'time' variable has only one value, so the first instance of the 'if ... else' block above is the one that gets invoked. So there is only one 'year' value (and it's usually wrong unless I reset the 'time variable in the cmorize script) that gets the suffixes 01 and 12 in the file name.

The source files only contains a time averaged field over a certain interval (a decade o

[2020-03-24 10:03] valeriupredoi commented on #1580
time_coverage_start: 1995-01-01
time_coverage_end: 2004-12-31
Perhaps I could use this information, and somehow set the 'time_suffix' directly, but I guess the '01-12' suffix will be added anyway as long as the 'time' variable exist in the record.

Sorted then! Can use that one and write a function that picks those years - it would be good to put it in the actual `utilities.py` under something lik

[2020-03-24 12:00] zklaus commented on #1578
I agree with this approach. Note that this will require a forced push as well, which might affect people working on those branches. I counted about 80 open branches right now.

[2020-03-24 12:23] zklaus commented on #1578
I made a list of the open branches together with the person (name and email) who made the last commit in that branch.
[branch_owners.txt](https://github.com/ESMValGroup/ESMValTool/files/4375184/branch_owners.txt)

[2020-03-24 14:03] bouweandela commented on #1578
It might be safe to advise people to simply make a new branch off the master branch and apply the patch to that, as in the example. That way there is no risk of losing work.

[2020-03-24 17:01] zklaus commented on #1578
At least a reduced risk :) Alright. I updated the list to include the commit date of the branches. We might want to set a time limit until when this has to be done.
[branch_owners.txt](https://github.com/ESMValGroup/ESMValTool/files/4376638/branch_owners.txt)

[2020-03-24 17:24] francesco-cmcc opened #1601 "Unable to get datas by synda (Missing Data)"
Hi all,
I tried to run an example recipe from repository ([recipe_quantilebias.yml](https://github.com/ESMValGroup/ESMValTool/blob/master/esmvaltool/recipes/recipe_quantilebias.yml)) using esmvaltool from command line:
`esmvaltool -c config-user.yml -s /path/to/recipe_quantilebias.yml`
Synda tool is installed correctly, if I run (for instance): `synda get cmip5.output1.CCCma.CanESM2.historical.mon

[2020-03-25 10:28] valeriupredoi commented on #1601
`obs4mips` data is not available via synda as far as I know, maybe @zklaus can confirm this? Your best bet would be to download that data straight from source or alternatively if you have access to any of the HPC's like CEDA-jasmin or DKRZ it's there on disk already :beer:

[2020-03-25 10:54] francesco-cmcc commented on #1601
@valeriupredoi you're right.
I tried a recipe which doesn't contain `obs4mips`, Synda works correctly.

Thank you!

[2020-03-25 11:07] valeriupredoi commented on #1601
no probs, if you can get access to eg CEDA Jasmin, then you can apply for group workspace membership to the `esmeval` gws [here](http://www.jasmin.ac.uk/services/group-workspaces/) and there you'll find the `obs4mips` files w/o having to download them :beer: You OK to close the issue?

[2020-03-25 11:14] francesco-cmcc commented on #1601
Yes, the Issue can be closed.
Thanks again.
:+1: :

[2020-03-25 11:20] #1601 closed

[2020-03-25 16:20] valeriupredoi commented on #997
OK guys now we have a great looking website (kudos to @axel-lauer :beer:) but one suggestion from my UKESM colleagues was to have an active link in the Gallery so that each picture can take you to the bit of documentation that describes the recipe - it's trivial to do it in Markdown but unfortunately I don't speak html that well - can anyone help plss? @axel-lauer @schlunma @mattiarighi :beer:

[2020-03-26 14:57] jservonnat opened #1602 "Possibility to provide a '*' to the definition of a dataset in a recipe"
Hello everyone,
this issue follows our discussion during the Is-ENES3 GA with @valeriupredoi
With CliMAF we found very interesting to be able to specify a wildcard '*' to our dataset definitions, like for instance model='*', realization='*' to work on all the models or realizations available.
In the same way, we implemented the possibility to specify period='last_XXY', 'first_XXY' or '*', with XX

[2020-03-26 22:58] jgriesfeller commented on #496
Is there any progress on this issue?
In principle I wanted to bring Aeronet into ESMValTool for our next deliverable for the IS-ENES3 project (WP9/JRA2, Task3; 'providing observations to the user').
Regarding the format (admittedly not knowing CMOR very well) I would not put every station in a separate file, but use a station number dimension. Although that implies that every station has to have t

[2020-03-27 07:40] mattiarighi commented on #496
This would also mean putting all station on the same (arbitrary?) grid.
And it could be an issue if you have two or more stations in the same cell.

[2020-03-27 09:01] jgriesfeller commented on #496
latitude and longitude would have the station number as dimension. Just the time has to be the same for all stations. I will show you the aerocom data format later on (I'm in a meeting right now)

[2020-03-27 09:12] jgriesfeller commented on #496
This  a file from the HTAP-II project:
[code]

[2020-03-27 10:25] bettina-gier commented on #997
Change
`            <li class="one_quarter"><a href="./images/perfmetrics_fig_1.png"><img src="./images/perfmetrics_fig_1.png"
            title=""></a></li>
`
the `a href = ` specifies the link to it, currently they are linking to their own image for full-size view, if you want to switch to recipes, just change the link there to the documentation one? That's if you want it there directly instead

[2020-03-27 10:30] valeriupredoi commented on #997
that'd be awesome @bettina-gier Tina :beer: HTML is not ez to me :grin: @axel-lauer could you maybe allow Tina as admin for the site dev?

[2020-03-27 10:41] axel-lauer commented on #997
@bettina-gier I believe you should have access to the source code of the website, which you can find on GitLab at DKRZ here: https://gitlab.dkrz.de/ESMValGroup/esmvaltoolwebsite_v2 If you have trouble, let me know.

[2020-03-27 10:43] bettina-gier commented on #997
Yeah, that's where I copied the part above from. I assume just the regular make a branch and then pull request on gitlab?
What do you guys prefer then - change the current link to the full-size pic to documentation link or rather add a "produced with recipe x" link below the images?

[2020-03-27 10:59] axel-lauer commented on #997
I would actually prefer a link below the images, but whatever you think is best. Creating a pull request as usual sounds like the way to go.

[2020-03-27 11:12] bettina-gier commented on #997
Ok! What about images in the gallery from recipes not yet in the version2 master branch? E.g. https://www.esmvaltool.org/images/fig-9-31.png from lauer17_rse? Should I comment those out until they are in version2 and potentially add more from recipes recently added?

[2020-03-27 11:18] axel-lauer commented on #997
I guess best would be to only put images produced with v2 into the gallery.

[2020-03-27 12:38] valeriupredoi commented on #997
cheers guys - ball rolling, me happy :balloon:

[2020-03-30 08:43] schlunma opened #1603 "Add CMORizer for CarbonTracker (CT2019) data"
Add CMORize for variable `co2s` of CT2019 (https://www.esrl.noaa.gov/gmd/ccgg/carbontracker/). I will open a PR for that.

[2020-03-30 11:31] axel-lauer commented on #997
Just merged @bettina-gier 's changes into the master branch of the website source code. Thanks for your help! The updates should become appear on the website within a few hours from now.

[2020-03-30 12:03] zklaus opened #1605 "SMPI not working on CMIP6 data"
When trying to run the `recipe_smpi.yml` on CMIP6 data I run into problems with the sea ice concentration, which is `(OImon, sic)` in CMIP5 and the used observational dataset, and `(SImon, siconc)` in CMIP6.

What is the suggested way to run this recipe on CMIP6 data?

[2020-03-30 12:13] bettina-gier commented on #1605
Sounds like a similar issue as the one encountered in #1593 (https://github.com/ESMValGroup/ESMValTool/pull/1593#issuecomment-604998773), which needs to be fixed to allow for the cmip5tocmip6 conversion for obs/model separately.
For now you could run it without sea ice concentration and just have to add the caveat of the index not including that for whatever you're using it with? The diagnostic it

[2020-03-30 12:20] hb326 commented on #1605
I think @bettina-gier is right.
@jvegasbsc is working on it, according to #950.

[2020-03-30 13:49] zklaus commented on #1605
mmkay, now I get a different error:
[code]
Which comes from [here](https://github.com/ESMValGroup/ESMValTool/blob/dd6e0fe687381b843d472bcfd48c4319baa97538/esmvaltool/diag_scripts/perfmetrics/cycle_latlon.ncl#L126), I am now investigating whether that is because I use different ensemble members of the same run.

[2020-03-30 14:03] bettina-gier commented on #1605
Can you share your recipe? Could be a couple of things

[2020-03-30 14:14] zklaus commented on #1605
Sure, please find it attached here. Thanks for any help!
[recipe_smpi.yml.txt](https://github.com/ESMValGroup/ESMValTool/files/4403354/recipe_smpi.yml.txt)

[2020-03-30 14:35] bettina-gier commented on #1605
ls: cannot open directory CMIP/EC-Earth-Consortium/EC-Earth3-Veg/historical/r1i1p1f1/Amon/ta/gr/v20190605/: Permission denied

well.. that's interesting - and making it harder to check right now xD

Can you add
printVarSummary(datasetnames)
printVarSummary(smpi&models)
just before the line where it fails

and paste the output? Most likely is the ensembles giving you a list of 2 back as the modelna

[2020-03-30 15:17] zklaus commented on #1605
Interesting indeed :laughing: Is this on jasmin or mistral? There should be a newer version now available. (version v20200225, if I am not mistaken).

[perfmetrics.log](https://github.com/ESMValGroup/ESMValTool/files/4403736/perfmetrics.log)

[2020-03-30 15:41] bettina-gier commented on #1605
That's on Mistral and I don't see the new data there yet.

I'm testing myself now with a diff dataset with different ensemble members, and yeah that's the problem. I'll fix it, just needs to also have a alias-like naming convention!

[2020-03-31 06:35] bjoernbroetz opened #1606 "Add new user mailing list to the documentation"
# New user mailing list
Subscribe by sending an empty mail to:
`sympa@listserv.dfn.de`
with the subject:
`subscribe esmvaltool`
or
`subscribe esmvaltool FIRSTNAME LASTNAME`

# Caveats
+ confirmation mail after subscription is in German
+ confirmation mail is send with a delay of some hours

# Alternatively
The admin of the list can add people manually (single or bulk).

# Archive
A public archive

[2020-03-31 06:37] bjoernbroetz commented on #1606
I will add this to the docu if you think this is useful.

[2020-03-31 06:44] mattiarighi commented on #1606
:beer:

Yes, go head! :+1:

[2020-03-31 07:52] bjoernbroetz commented on #1606
We need to add some of us as admins of this mailing list. For redundancy.

[2020-03-31 12:13] #1513 closed

[2020-03-31 13:48] #1603 closed

[2020-04-01 17:04] valeriupredoi commented on #1606
we can add the esmvaltool-ukesm mailing list too esmvaltool-ukesm@lists.readingac.uk but that will change to esmvaltool-ukesm@readingac.uk soon so by the time you guys sort out ze german one we'll be ready changed too :beer:

[2020-04-02 13:37] bouweandela opened #1609 "Monthly ESMValTool meeting - May"
The next monthly ESMValTool meeting will be in May. I would propose to have it

Wednesday May 6 at 14:00 CET (13:00 BST).

The duration will be one hour. Join the [zoom meeting here](https://zoom.us/j/783495064).

@ESMValGroup/esmvaltool-developmentteam

Format and agenda
- We start the meeting by doing a round where everyone gets one minute to introduce themselves and tell what they will be worki

[2020-04-02 15:22] #1606 closed

[2020-04-06 14:04] valeriupredoi opened #1610 "Build of scikit-learn problematic if from pypi"
`python setup.py test`

Platform:
[code]
Environment:
[code]
Fail message:
[code]

Platform:
[code]
Environment:
[code]
Fail message:
[code]

I can take care of this within an hour but please post if you have seen this and know the exact cause :beer:

[2020-04-06 14:16] valeriupredoi commented on #1610
right: the cause for the second issue (gdal) is that `conda env update -f environment.yml -n esmvaltool` **did not** install `gdal` even though that was asked for in the `environment.yml`. Installing it manually fixed it. Why conda update doesn't grab the env requirements is beyond me, but I suggest we not use it -> do we have anywhere written about not recommending using `conda update`?

First is

[2020-04-06 14:18] valeriupredoi commented on #1610
Mote we are getting an annoying FLAKE8 test error:
[code]

[2020-04-06 15:53] valeriupredoi commented on #1610
OK I am getting the same `scikit-learn`-related error the second time on the same platform at repeating the env creation/installation so it's not a transitory problem, am moving to install via conda

[2020-04-07 09:30] valeriupredoi opened #1612 "libnetcdf that gets installed via esmvaltool env build doesn't offer parallel write"
`esmvaltool`'s environment building installs an older `libnetcdf` that doesn't offer parallel write:
[code]
You can see the flags via `nc-config --all`.
`libnetcdf=4.7.4` does offer parallel write, in turn (via `mpich`)

[2020-04-07 09:40] valeriupredoi commented on #1612
so here's a perk: creating an env from `esmvalcore` only allows for installing the later `libnetcdf` with parallel write:
[code]

[2020-04-08 12:17] bouweandela commented on #1612
Note that you're not supposed to use parallel write on many of the filesystems of Jasmin: https://help.jasmin.ac.uk/article/4700-understanding-new-jasmin-storage.

Also, while the netcdf library might support parallel writes, I'm not sure if this feature is supported by iris as well. Do you know anything about this?

[2020-04-08 12:21] bouweandela commented on #1610
This has been fixed in #1570.

It seems to work fine on CircleCI, maybe you could compare your environment to the one used by CircleCI?

[2020-04-08 13:53] valeriupredoi commented on #1610
it works well on CircleCI and on the Jasmin machine, it's only my home machine that is complaining, it might be having to do with the architecture since the envs are identical (apart from me using miniconda at home, but that's surely not a spanner in the works), so a good enough reason to move it to conda-forge since there **may** be other users encountering this :beer:

[2020-04-08 13:56] valeriupredoi commented on #1612
on Jasmin the FS is not allowing this so you can have all your parallel-write flags on, it's the FS that will not allow for parallel write, but other sites may, that's why it's good to have it.

iris: good question! Dunno - @bjlittle ? Ill have a look at what they say on their github page

[2020-04-08 14:05] valeriupredoi commented on #1612
just asked a question: https://github.com/SciTools/iris/issues/3697

[2020-04-08 14:23] Peter9192 opened #1613 "How to quickly get to the log.txt for debugging?"
Forwarded question:
While working on a new or improved diagnostic, I often find myself adding many print statements. I then have to look up the output directory and manually navigate to the log.txt, because the output folder always changes.

Two things I tried so far:
- Use the "re-run this diagnostic script" option to at least make sure the output folder doesn't change.
- Define an alias such as

[2020-04-08 14:26] Peter9192 opened #1614 "Add issue template for questions"
I was wondering if it would make sense to add an issue template for questions. It would be good to discuss with the new user engagement team where and how we want users to engage. Is this a good place or do you have other suggestions?

**Could you help out?**
Yes, I could help out with this if you think it's a good idea.

[2020-04-10 07:37] bouweandela commented on #1543
Hi @rjp23 and @valeriupredoi, did you manage to find a solution for this? Did you encounter technical or documentation issues that we could solve that could help make the solution easier to find for other users?

[2020-04-10 07:58] bouweandela commented on #1356
Done in 1570.

[2020-04-10 07:58] #1356 closed

[2020-04-10 08:54] bouweandela opened #1615 "Make ESMValTool conda installation more flexible"
At the moment we have about:
- 45 recipes with a Python diagnostic script
- 15 recipes with an NCL diagnostic script
- 15 recipes with an R diagnostic script
- 2 recipes with a Julia diagnostic script

Not every user will be interested in all of these diagnostics. I think it would be nicer to give people the option to install only diagnostics for a certain language. Especially since some languages

[2020-04-10 08:58] bouweandela opened #1616 "Single source of contributors"
At the moment there are two places where we define contributors:
- In CITATION.cff (and through conversion to .zenodo.json this is also the list of contributors on Zenodo)
- In esmvaltool/config-references.yml

There are many more contributors listed in the second location. It would be best if we could align this and come up with a procedure to keep it aligned.

@mattiarighi Do you think we could

[2020-04-10 12:13] axel-lauer commented on #1615
Even though that sounds nice at first sight, I am not in favor of doing this. Most scientific users and in particular first time users will usually have no idea in which language the diagnostics are written that they want to use (e.g. atmospheric chemistry diagnostics). I also believe that they usually also do not want to know because that would require additional digging through potentially a lot

[2020-04-13 15:33] YanchunHe opened #1617 "cmorize_obs does not work when installing ESMValTool with conda"
Hi,

I find the `cmorize_obs` program simply does not work. It it my first time to use it, so sorry I made sth silly.

[code]

**softeware and system information**
[code]
[code]

Any suggestions?
Please let me know if you need further information to diagnose this.
Thanks in advance!

Yanchun

[2020-04-13 19:02] mattiarighi commented on #1616
Let's put this on the agenda for the next @ESMValGroup/esmvaltool-coreteam telecon.

[2020-04-13 19:15] mattiarighi commented on #1615
I also think that classifying the recipes by language is not a good idea, since they reflect the actual scientific content of the ESMValTool.

[2020-04-14 08:33] zklaus commented on #1615
Wrt @axel-lauer's comment, I will just note that the methodology proposed by @bouweandela achieves exactly that. If you don't know any better, and you follow our installation guide, you install `esmvaltool` and this pulls in everything else. So for beginner users there would be no difference.

[2020-04-14 09:08] bouweandela commented on #1615
My apologies for writing such an unclear proposal, I guess I focussed too much on the technical implementation and not enough on what it does. I completely agree with you @axel-lauer and @mattiarighi, the default should be to install everything, because it will be a major source for confusion if we don't. I've updated the description above. Does it sound more acceptable now?

Maybe the `esmvaltool

[2020-04-14 09:32] bouweandela commented on #1610
Fine to add it to conda, but it would be rather nice if you could add a link to an issue or something, because then we know when it can be removed again.

[2020-04-14 10:48] axel-lauer commented on #1615
Thanks for the clarification. This sounds great (now that I understand). The only thing I would change is the name "esmvaltool-base" as I find this a bit confusing. An alternative name could be, for instance, esmvaltool-core (maybe for people who want to use the preprocessor functionality without the whole ESMValTool). But maybe it would be better to simply merge this with "esmvaltool-python" pack

[2020-04-14 11:11] valeriupredoi commented on #1615
yes, was about to say the same, how about that? In terms of dependencies it's gonna be light and straightforward to get the environment built. We may hit issues down the line for the `esmvaltool-ncl` or `esmvaltool-r` packages that may have to use different versions of dependencies to appease the conda gods, so there may be some headaches down the line, but I don't think it's gonna be too differen

[2020-04-14 11:21] valeriupredoi commented on #1617
You need to actually install `esmvaltool` in the ESMValTool source via `pip install -e .[develop]` - you have installed only `esmvalcore` in development mode, but the cmorization module is part of esmvaltool

[2020-04-14 11:25] valeriupredoi commented on #1612
got an offline answer from @bjlittle saying it has not been tried. I reckon we should have it nonetheless, just so we know our build is using the most modern capabilities :beer:

[2020-04-14 11:26] valeriupredoi commented on #1610
good point!

[2020-04-16 08:47] ledm opened #1620 "Minor changes to ocean recipes & diagnostics for gmd-2019-291"
I've had to make a few minor changes to a couple of the ocean recipes for the  ESMValTool v2.0 Part 2 paper. It would be nice to push these changes through to the main branch before the paper is accepted for final publication.

Some of the changes include:

- additional fields in the `recipe_ocean_scalar_fields.yml`
- improvements to some of the plotting tools.
- bug fixes in the diagnostic.

More

[2020-04-16 12:31] #1610 closed

[2020-04-16 15:19] bouweandela commented on #1617
Did you follow the [installation instructions](https://esmvaltool.readthedocs.io/en/latest/quickstart/installation.html)? As @valeriupredoi suggests, it looks like you may have missed a step somewhere.

[2020-04-16 15:22] bouweandela opened #1622 "Add rootpath and drs for common clusters to config-user-example.yml"
It would be good to add commented out values for `rootpath` and `drs` for machines like Jasmin, Mistral, etc. to the file config-user-example.yml, so all people need to do to configure esmvaltool on when they have access to one of those clusters is uncomment a few lines instead of going through lots of documentation.

[2020-04-16 16:15] bouweandela commented on #1615
Ok, the esmvaltool-base package seems utterly confusing, I will remove it from the proposal. The esmvaltool diagnostics and cmorizer code will then be included in the `esmvaltool-python` package and this will be a dependency of the other three.

[2020-04-16 16:19] bouweandela commented on #1615
This is already possible now, by doing
[code]

[2020-04-16 17:37] YanchunHe commented on #1617
Hi @valeriupredoi @bouweandela , thanks a lot for the replies, and sorry for the late response.

Both esmvaltool and ESMValCore are installed by the system admin, so that I don't have permission to install extra package by e.g., pip to the system path.
[code]

[code]

[code]

I don't understand what is the `development mode`, and how to proceed with the `pip install` for the missing step?

[2020-04-17 11:20] valeriupredoi commented on #1615
one more thing, we need to make the `esmvaltool-python` conda package build julia-agnostic, the conda installation currently dies like a hero when no julia executable is available in the environmnet:
[code]

[2020-04-17 11:53] valeriupredoi commented on #1617
OK I see your sysadmin has installed esmvaltool from conda via the `conda install -c conda-forge -c esmvalgroup esmvaltool` which is fine; I confirm that currently the package installs fine and the import works fine too but the command line call raises the same traceback as you are reporting. This is because the package is built with matplotlib<3 (2.2.5) and the environment is created with matplot

[2020-04-17 15:38] koir-su opened #1623 "updated derivation of ctotal for CMIP6 models"
**Describe the bug**
The ctotal is derived as the sum of cVeg and cSoil. But, there are differences in definition of these variables in CMIP5 and CMIP6. In order for recipe_carvalhais2014nat.yml to work for CMIP6 models, the derivation needs to be updated.

[2020-04-17 19:19] YanchunHe commented on #1617
Thanks a lot figuring this out!
I will try to ask our sysadmin to downgrade matplotlib to circumvent this.
And please update me here once you release a new package with fix.

[2020-04-18 08:57] bouweandela commented on #1617
I'll make a new conda package and also try to run the unit tests as part of the package creation, so this doesn't happen again.

[2020-04-18 12:28] YanchunHe commented on #1617
Many thanks! @bouweandela

[2020-04-20 09:58] bouweandela commented on #1111
Version 2 of `lintr` is much better and we're using it now.

[2020-04-20 09:58] #1111 closed

[2020-04-20 11:12] valeriupredoi commented on #1623
@koir-su do you mean `cVeg` and `cSoil` represent inherently different variables in CMIP6 and CMIP5? Because the derivation of `ctotal` is not project-dependent in esmvalcore's derivation script [ctotal.py](https://github.com/ESMValGroup/ESMValCore/blob/master/esmvalcore/preprocessor/_derive/ctotal.py)

[2020-04-20 11:18] koir-su commented on #1623
@valeriupredoi :
- cVeg is Lmon and cSoil is Emon in CMIP6. In CMIP5, there were both in Lmon. So, we did not need to specify mip in ctotal derivation.
- in CMIP5 and CMIP6, the variable standard name for cSoil is different and so loading them using a hardcoded variable standard name did not work.

As far as I can tell, the variables are not inherently different.

[2020-04-20 11:31] valeriupredoi commented on #1622
I have a better idea - to not crowd the config file too much, shall we add a helper file in the dir? Can be md, can be just a txt file

[2020-04-20 11:37] valeriupredoi commented on #1623
aha, good clarification, cheers mate! OK so we need `cSoil` in the mapper [dictionary](https://github.com/ESMValGroup/ESMValCore/blob/b4bf87bb137f6856dc2db9430713cdfabd92f710/esmvalcore/cmor/table.py#L106) and add the by-mip project-dependent derivation the script. Am also transferring this issue to esmvalcore

[2020-04-20 13:10] bouweandela commented on #1615
I created a pull request to implement this. If anyone would like to review it, would be great. In particular if the installation instructions are clear.

[2020-04-20 13:33] bouweandela commented on #1622
I'm more in favour of a crowded file, it's easier to find and use the information that way.

[2020-04-20 15:36] valeriupredoi commented on #1622
yeh okay lemme start one up then

[2020-04-21 14:35] #448 closed

[2020-04-21 14:35] #1615 closed

[2020-04-21 19:17] bouweandela commented on #1617
The latest release and conda package (ESMValTool v2.0.0b4) should work, could you ask your system administrator to install it and check if your problem is solved?

[2020-04-21 19:22] YanchunHe commented on #1617
@bouweandela Thanks a lot!
Our HPC system is under maintenance this week, so I will ask our sysadmin to upgrade the ESMValTool.
Hopefully it will fix this, and I will update you afterwards.

[2020-04-21 22:24] ssmithClimate opened #1629 "Error on Install - Unable to determine GEOS version"
I'm getting an error when installing using miniconda on macOSX (10.14.6 Mojave).

I've installed using miniconda (v 4.8.3) and that part ran without error.

But when I try to install ESMValTool using:
``` pip install -e '.[develop]'```

I get the following error:

[code]

When I look into this, it appears that its installed.

e.g.,

/opt/miniconda3/envs/esmvaltool/lib/libgeos-3.7.2.dylib

is prese

[2020-04-23 16:00] valeriupredoi commented on #1629
it's not `geos` the problem but `proj4` https://anaconda.org/conda-forge/proj4 - looking at your trace I can see you are not working in a pre-built `esmvaltool` environment - have you created it and `conda activate` it? Since if either of these steps have not been performed then `proj4` will not be in the installation path, can you pls post the following output:

[code]
cheers :beer:

[2020-04-23 16:12] ssmithClimate commented on #1629
I finally got it to build. I'm not 100% sure, but might have been I didn't activate first.

[2020-04-23 16:12] #1629 closed

[2020-04-23 16:15] valeriupredoi commented on #1629
cool! good to know it still works fine on OSX (I haven't tested that in a while), cheers for the heads up :beer:

[2020-04-23 17:11] ssmithClimate opened #1631 "Need test that doesn't require synda"
Synda cant be installed on our machines (isn't clear this works anyway? e.g. https://github.com/ESMValGroup/ESMValTool/issues/1601 ).

Would be useful to have the documentation point to an example that doesn't require synda. The current example (examples/recipe_python.yml) would be fine if, for example, if some directory listings were added that showed which files were downloaded and to where so t

[2020-04-23 18:27] ssmithClimate commented on #1629
@valeriupredoi What would be helpful, in the installation page, for non-python folks like myself, is to change the wording "You can activate the environment using the command:" to something such as "You should then activate the environment using the command:".

[2020-04-25 12:28] #1063 closed

[2020-04-27 10:22] valeriupredoi commented on #1629
good call, cheers, will put that in the doc :beer:

[2020-04-27 15:36] valeriupredoi commented on #1629
https://github.com/ESMValGroup/ESMValTool/pull/1634

[2020-04-27 15:46] ssmithClimate commented on #1629
Useful info in the PR. Looked like this change wasn't there yet...

"You can activate the environment using the command:" ->
"You must then activate the environment using the command:"
(Maybe also put on its own line.)

[2020-04-27 15:55] valeriupredoi commented on #1629
just tagged you in the PR at the line that changed :grin:

[2020-04-28 13:23] #1516 closed

[2020-04-28 13:23] #1518 closed

[2020-04-29 09:53] YanchunHe commented on #1617
Hi, we have upgrade ESMValTool to 2.0.0b4, and the `cmorize_obs` works perfectly now. Thanks again and this issue can be closed.

[2020-04-29 09:56] #1617 closed

[2020-04-29 11:39] Peter9192 opened #1640 "Add diagnostic for model weighting with ClimWIP"
**Short description of the diagnostic**
The [EUCP project](https://www.eucp-project.eu) develops several methods for weighting climate models and constraining climate projections. It would be really nice if we can integrate these methods in ESMValTool, so that they can easily be reused and compared.

One of the methods (ClimWIP) has already been implemented [here](https://github.com/lukasbrunner/C

[2020-04-29 12:40] #1566 closed

[2020-04-30 14:46] valeriupredoi commented on #1631
I'll have a look into this, cheers for raising it! :beer:

[2020-04-30 14:58] #1575 closed

[2020-05-04 12:51] bouweandela commented on #1609
Friendly reminder @ESMValGroup/esmvaltool-developmentteam, the meeting is this Wednesday.

[2020-05-04 15:13] zklaus commented on #1612
Iris can not do this at the moment.

[2020-05-04 15:16] zklaus commented on #1605
@bettina-gier, the new data seems to be available on mistral now. Have you had any progress in the mean time?

[2020-05-05 09:21] bettina-gier commented on #1605
Ah sorry, I got distracted, I'll get back to working on this in a bit!

[2020-05-05 14:44] valeriupredoi opened #1645 "Make all functions from cmorizers/obs/utilities.py public"
Related to discussion in issue and comments https://github.com/ESMValGroup/ESMValTool/pull/1554#issuecomment-624028743 and https://github.com/ESMValGroup/ESMValTool/pull/1554#issuecomment-624028743

[2020-05-05 15:59] mnichol3 opened #1647 "Error running my_little_diagnostic.py"
I'm attempting to run `my_little_diagnostic.py`, and keep getting the following Iris error:
[code]
which I believe arises from the Iris cube arithmetic in line 114:
[code]
When lines 114 & 116 are commented-out and `cube` is passed directly to `area_statistics`, the script executes with no problem.

Attached are `log.txt`, `main_log.txt`, & `main_log_debug.txt`

Cheers,
Matt

[main_log.txt](https:

[2020-05-06 10:58] bettina-gier commented on #1605
Turns out I was one typo away from fixing this last month..
Try the change in #1649, see if that fixes your issue.
I'll need to double-check this works fine with the perfmetrics as well, as SMPI and perfmetrics share the same diagnostics.

[2020-05-06 12:54] zklaus commented on #704
Just to let you know: AMOC is [here](https://github.com/ESMValGroup/ESMValCore/blob/master/esmvalcore/preprocessor/_derive/amoc.py), both AMOC and NAO are in [CVDP](https://github.com/ESMValGroup/ESMValTool/blob/master/esmvaltool/recipes/recipe_cvdp.yml).

[2020-05-06 13:35] bouweandela opened #1650 "Standards for climate indices and PyPi package are now available"
Standards for climate indices are now available at https://bitbucket.org/cf-index-meta/cf-index-meta/src/master/

It would be good to
1) identify which diagnostics in ESMValTool produce indices listed in the repository mentioned above
2) Make sure those indices follow the standard

@zklaus Would you be able to have a go at point 1?

[2020-05-06 13:45] bouweandela commented on #1609
Notes from the meeting:

- Make a doodle for the next meeting @bouweandela
- We would like to get started with the teams as we agreed at the workshop in the governance discussion @bouweandela will send out an mail to the core development team to see if we can get people assigned to the scientific core development team and/or technical core development team and get rid of the current mixed core dev

[2020-05-07 13:24] #1549 closed

[2020-05-08 08:18] axel-lauer commented on #1609
Thanks for the update. For the next meeting, I would propose to put the release schedule of v2.0 on the agenda. It would be helpful to decide on things that are critical yet still missing and thus blocking release of v2.0 as well as to collect other items that could also go into a v2.0.1.

[2020-05-12 10:22] bouweandela opened #1653 "Use squash and merge to create an easy to follow git history"
It would be nice to start using the squash and merge feature of GitHub to merge our pull requests. This will create a much shorter and easy to understand git history, which will make it easier to e.g. find where a new feature or bug was introduced. Because we keep a [nice changelog](https://esmvaltool.readthedocs.io/en/latest/changelog.html), using this feature will also make it easy to relate the

[2020-05-12 10:34] #1339 closed

[2020-05-12 12:12] jvegasbsc commented on #1653
For those that do not know how it will look, we adopted this for an internal package in BSC (the one I want to replace with ESMValTool). Take a look at the graph and guess when I did the change:

https://earth.bsc.es/gitlab/es/earthdiagnostics/-/network/master

[2020-05-12 13:05] mattiarighi opened #1655 "Using CIS Tools capabilities in the ESMValTool"
Outcome of the telecon with @duncanwp, @bascrezee and @bouweandela (offline) about the possibility to use [CIS Tools](http://www.cistools.net/) in the ESMValTool.

We have identified two major issues where CIS Tools could be useful:

1. **Reformat/Cmorization of observational data** (#232)
CIS includes a number of plug-ins to cmorize a observational data of different formats (satellite, aircraft,

[2020-05-12 13:11] bouweandela commented on #1655
Hi @bjoernbroetz

I'm not sure. I made an example implementation of using CIS tools a long time ago for @mattiarighi , but it was never really used I believe. I opened a draft pull request to at least make it visible. Maybe you can have a look and see if it works for you?

[2020-05-12 15:19] bjoernbroetz commented on #1655
Thanks! Looking at the activity of the CIS repo in the last years we should clarify first if this is still the way forward. There are many things that changed since this issue started (e.g. Iris itself and the observation data that I mentioned above).

[2020-05-12 15:34] duncanwp commented on #1655
Hi both! From my point of view CIS is still in the same position as before and I can support any issues that are blocking you. It was still the preferred way of loading non-CF and observational datasets into Iris cubes the last time I spoke with the Iris team. (There are some plans to split that aspect into a separate package to streamline the process but this needn't block you.)

I and others wer

[2020-05-13 11:50] bouweandela opened #1658 "Monthly ESMValTool meeting - June"
The next monthly ESMValTool meeting will be in June. The result of the poll is that it will be on

Wednesday June 3 at 12:00 CET (11:00 BST).

The duration will be one hour. Join the [zoom meeting here.](https://zoom.us/j/783495064)

@ESMValGroup/esmvaltool-developmentteam

Format and agenda

- We start the meeting by doing a round where everyone gets one minute to introduce themselves and tell wh

[2020-05-13 12:19] axel-lauer commented on #1658
I would like to propose to put the release schedule of v2.0 on the agenda. It would be helpful to decide on things that are critical yet still missing and thus blocking release of v2.0 as well as to collect other items that could also go into a later release, e.g. v2.0.1.

[2020-05-14 07:57] SarahAlidoost opened #1659 "era5 cmorizer: incorrect year values in the file name of monthly data"
In the recipe_era5.yml, there is a [comment as](https://github.com/ESMValGroup/ESMValTool/blob/7c47134439370ef71c690501c997e9ef64f7a1af/esmvaltool/recipes/cmorizers/recipe_era5.yml#L18):

 for example `start_year: 1990, end_year: 1991`.  This is not the case for the monthly diagnostics, user can choose `start_year: 1990, end_year: 1990`.
However, after running the cmorizer, the year values in the

[2020-05-14 08:06] bouweandela commented on #1659
The most reliable solution would be to simply read the start and end year from the cube and use that in the filename.

[2020-05-14 09:21] Peter9192 commented on #1659
Good find Sarah. I partly agree with Bouwe. On the other hand: this recipe doesn't even read the cubes, so that's quite a lot of extra code just to set the year. A quicker fix would be to change the if-statement to
[code]

[2020-05-14 18:33] bouweandela commented on #1647
@valeriupredoi Would you be able to help with this?

[2020-05-14 18:57] mnichol3 commented on #1647
I believe the issue was that I didn't realize the preprocessor extracted a single level (1000 hPa I believe) from the cube, so trying to slice using four dimensions when there are really only three would understandably result in an error.

[2020-05-14 19:06] bouweandela commented on #1647
Great that you found what was causing the problem!

[2020-05-14 19:06] #1647 closed

[2020-05-15 07:59] bascrezee opened #1660 "utilities.ncl does not support incomplete years for monthly (and daily?) data"
When trying to `cmorize` data for `CDS-SATELLITE-SOIL-MOISTURE` (up to Apr 2020) I get the following error:

[code]

@mattiarighi Can you confirm that at the moment incomplete years are not supported when CMORizing with NCL? Can this maybe be changed?

[2020-05-18 11:40] mattiarighi commented on #1660
Yes, that's the case, there is a check in the `format_time` function in `utilities.ncl`, which makes sure the number of timesteps in the output data is consistent, but it assumes complete years.

The easiest solution would be to remove the check, it's not very useful anyway.

[2020-05-18 13:48] bjoernbroetz commented on #1112
Thanks to DKRZ (@cehbrecht and colleagues) we now have a dedicated CI machine. Details will be discussed via mail.

[2020-05-18 13:48] #1112 closed

[2020-05-18 13:51] #1622 closed

[2020-05-19 19:02] mnichol3 opened #1663 "Question about customized recipe datasets and experiments"
Hi all,

@ssmithClimate and I are using ESMValTool to compare the output of different configurations of the GISS model.  It would be extremely helpful to be able to define custom `dataset` and `exp` names in order to easily tell the output files from the different configurations apart, something like:
[code]
Is this possible?

When running ESMValTool with the CMIP6 directory structure and filename

[2020-05-20 07:48] bouweandela commented on #1663
The `activity` and the `institute` are needed to find the data, you can read more about that [here](https://esmvaltool.readthedocs.io/projects/esmvalcore/en/latest/quickstart/configure.html#developer-configuration-file). For known datasets, the tool can add those automatically. However, if you use an unknown dataset, you have to provide them yourself in the recipe, for example like this:
[code]
Do

[2020-05-20 09:29] bouweandela commented on #1594
Yes, this would be particularly useful once we have implemented a more complete Python API as proposed in ESMValGroup/ESMValCore#498. We hope to complete this in the next few months.

[2020-05-20 18:39] mnichol3 commented on #1663
That seems to have solved it. Thank you!

[2020-05-20 18:39] #1663 closed

[2020-05-21 12:28] ledm commented on #1620
Just to summarise (mostly for my own notes), the diagnostics/ocean plots made the figures:

- Figure 21. The volume weighted global mean temperature anomaly in several CMIP5 models,
- Figure 22. The Atlantic Meridional Overturn Circulation (AMOC) in several CMIP5 models
- Figure 23. The Antarctic circumpolar current calculated through Drake Passage for a range of CMIP5
- Figure 24. The global tota

[2020-05-22 10:24] mattiarighi commented on #1561
Any news here?

[2020-05-22 10:27] mattiarighi commented on #1527
It looks like `sum` is only applied to small arrays in the diagnostics.

[2020-05-22 10:27] #1527 closed

[2020-05-22 10:32] mattiarighi commented on #1407
What about the `mip_convert` subdirectory. Does it still belong there?

But @bouweandela suggestion does not affect the input data structure, does it?

[2020-05-22 10:37] mattiarighi commented on #1277
Is this still needed given that now ERA5 is cmorized on-the-fly?

[2020-05-22 10:38] mattiarighi commented on #1226
@rswamina any news here?

[2020-05-22 10:39] mattiarighi commented on #1205
Still relevant?

[2020-05-22 10:43] mattiarighi commented on #1171
Any update?

[2020-05-22 10:48] mattiarighi commented on #1072
This is in the documentation now, can we close? @valeriupredoi

[2020-05-22 10:49] #1033 closed

[2020-05-22 10:49] mattiarighi commented on #1033
Reopen if necessary.

[2020-05-22 10:51] mattiarighi commented on #953
@bjoernbroetz can you check whether this issue overlaps with the other issues about CVDP and in case close it?

[2020-05-22 10:51] #823 closed

[2020-05-22 10:52] mattiarighi commented on #813
Reopen if necessary.

[2020-05-22 10:52] #813 closed

[2020-05-22 10:53] mattiarighi commented on #772
Related to #1586

[2020-05-22 10:56] #662 closed

[2020-05-22 11:34] mattiarighi commented on #1658
As an input to the discussion on the final release, I went through all the issues and sort them out in two projects: [v2.0 release](https://github.com/ESMValGroup/ESMValTool/projects/4) and [v2.1 release](https://github.com/ESMValGroup/ESMValTool/projects/9).

It would be good if someone could do the same for ESMValCore.

[2020-05-22 13:46] koldunovn commented on #421
Hi @mattiarighi . I will close this old issue since it is not relevant anymore.

[2020-05-22 13:46] #421 closed

[2020-05-25 07:33] Peter9192 commented on #1328
I think this was done recently, when the documentation structure was changed. The figure now features on the 'introduction' page (under "What ESMValTool can do for you). So I think this can be closed.

[2020-05-25 09:04] bouweandela commented on #1658
@ESMValGroup/esmvaltool-developmentteam The meeting will take place on Wednesday June 3 at 12:00 CET (11:00 BST).

[2020-05-25 14:48] bouweandela commented on #1407
Indeed the suggestion is about the names used in code/files containing code.

[2020-05-25 14:50] #1328 closed

[2020-05-25 14:52] bouweandela commented on #1205
Yes

[2020-05-25 14:56] bouweandela commented on #1072
I don't think the procedure for getting access to the data on Jasmin and DKRZ is in the documentation yet

[2020-05-28 07:39] Peter9192 commented on #671
Just came across this thread when I was looking for similar functionality. I agree that it would be nice to have this ship as a utility with ESMValTool. Any updates or new insights on this?

[2020-05-28 09:31] bettina-gier commented on #671
While I have not done any more work on the primitive tool above, @debe-kevin has been developing a recipe completion tool that takes a template recipe as input. Once it's ready, there will be a pull request here! Soon<sup>TM</sup>

[2020-05-28 15:32] bjoernbroetz commented on #496
As discussed during the IS-ENES telco today with @jgriesfeller and @mattiarighi we should find a solution *soon* about the question on how to handle station data in the ESMValTool. There are two options identified:

-  integrate the [CIS Tools](http://www.cistools.net/) to the ESMValTool, see #1655
-  agree to a standard for station data (this issue)

The option for a common standard is preferred

[2020-06-01 18:07] mnichol3 opened #1668 "Able to use output from multiple MIPs from the same dataset in recipe?"
Hi all,

@ssmithClimate and I are attempting to use `AERmon` and `Amon` model output from the same model/dataset in a recipe, e.g.,
[code]

But I keep getting the following error:
[code]
even though the `rlut` variable defines its mip as `Amon` further down in the variable section of the recipe:

[code]
The recipe and diagnostic work fine when only `Amon` or `AERmon` variables are used. Is there a

[2020-06-02 07:44] jgriesfeller commented on #496
Any progress on how we want to do this? I will only need a couple of days to get a downloader ready and need then a decision about how to proceed.

[2020-06-02 07:45] bouweandela commented on #1658
I would also like to make a decision on #1653 in the meeting.

[2020-06-02 07:48] mattiarighi commented on #496
@ESMValGroup/esmvaltool-coreteam we need to take a decision on how to proceed here.
Should we discuss this at the monthly telecon tomorrow?

[2020-06-02 07:49] bouweandela commented on #808
@mattiarighi Is this still relevant? I think we have made instructions a bit more generic here and there and I believe you're one of the main people who doesn't use bash?

[2020-06-02 07:50] mattiarighi commented on #808
Looks ok to me.

[2020-06-02 07:50] #808 closed

[2020-06-02 07:53] bouweandela commented on #270
@earnone Now that both #1052 and #1133 have been merged, is this issue done? Or is there still work remaining?

[2020-06-02 09:03] bouweandela commented on #1616
After some discussion we agreed that CITATION.cff (and zenodo) is the most up to date source of contributors, but needs to be updated with contributors from config-references.yml that are actually listed as authors of a recipe/diagnostic. The other contributors are probably still there from v1.

[2020-06-02 09:29] mattiarighi commented on #1658
We should also make a decision on #496.

[2020-06-02 11:10] valeriupredoi commented on #1668
that is because the `mip` in the variable section gets overwritten by the `mip` defined in the `dataset` section (or, better said, it is ignored, once it finds a `mip` entry in the `dataset` dictionary). What you need to do is to specify multiple `mip` entries in the dataset section eg:
[code]

[2020-06-02 11:11] valeriupredoi commented on #1668
or alternatively, don't specify the `mip` at all in the `dataset` dictionary and specify it individually per requested variable in each variable's section :beer:

[2020-06-02 13:11] valeriupredoi commented on #1658
we should defo talk about releasing 2.0 soon :bullettrain_side:

[2020-06-02 13:16] duncanwp commented on #1658
Happy to provide input to that discussion if it would be useful

[2020-06-02 15:12] mnichol3 commented on #1668
@valeriupredoi thank you for the quick response!

Omitting the `mip` key & value from the `dataset` dictionary solved it!

I just wanted to note, specifying multiple mips in the `dataset` dictionary
[code]
resulted in the following error:
[code]

Thanks again for your help 🍺

[2020-06-02 15:59] bjoernbroetz commented on #1658
Thanks @duncanwp. @jgriesfeller you might like to join the call too!

[2020-06-02 20:21] pabretonniere opened #1669 "Obs data for recipe_anav13jclim.yml"
Hello,

I'm trying to run the recipe "recipe_anav13jclim.yml" and I have some issues trying to collect all the observational data needed.

Without redownloading everything from each individual data source, I imagine somebody gathered the data somewhere to test the recipe. Would it be possible to point me to a place where I could obtain the data (cmorized or not)? Else, if you have the list of acce

[2020-06-03 10:01] alistairsellar commented on #1658
Please can someone give me the meeting password (by mail if you don't want to post it here)?

[2020-06-03 10:02] bouweandela commented on #1658
Just a minute, I'll try to figure out what it is, apparently zoom added passwords to all meetings recently

[2020-06-03 10:03] bouweandela commented on #1658
The password is 8iyQMx

[2020-06-03 10:31] bouweandela commented on #1653
https://github.blog/changelog/2019-12-19-improved-attribution-when-squashing-commits/

[2020-06-03 10:41] bouweandela commented on #1658
Topic: Station data
Time: Jun 3, 2020 01:00 PM Amsterdam

Join Zoom Meeting
https://us02web.zoom.us/j/82443796765?pwd=b3QrT3EwS0FQRERzNUdRTkFZblpWQT09

Meeting ID: 824 4379 6765
Password: 7mhyp2

[2020-06-03 10:42] bouweandela commented on #1658
Topic: Tutorial
Time: Jun 3, 2020 01:00 PM Amsterdam

Join Zoom Meeting
https://us02web.zoom.us/j/84127203139?pwd=TWx5dkJnRTJCaldTYkhodENwdDdEUT09

Meeting ID: 841 2720 3139
Password: 2CQN1e

[2020-06-03 10:42] duncanwp commented on #1658
These are the relavent CF Conventions: http://cfconventions.org/Data/cf-conventions/cf-conventions-1.8/cf-conventions.html#appendix-examples-discrete-geometries

[2020-06-03 10:43] duncanwp commented on #496
These are the relavent CF Conventions: http://cfconventions.org/Data/cf-conventions/cf-conventions-1.8/cf-conventions.html#appendix-examples-discrete-geometries

[2020-06-03 10:45] nielsdrost commented on #1658
"The host has another meeting in progress" :-(

[2020-06-03 10:47] bouweandela commented on #1658
Solved that by making @SarahAlidoost the host for the Tutorial meeting, you should now be able to join one of both meetings.

[2020-06-03 10:53] nielsdrost commented on #1658
Still does not work for me.

[2020-06-03 10:57] bouweandela commented on #1658
@nielsdrost Reported he was able to join after installing the zoom application.

[2020-06-03 11:30] valeriupredoi commented on #1658
it's not gonna install itself, is it now :rofl:

[2020-06-03 12:53] bouweandela commented on #1668
Great that you managed to get it to work! You can read more about this topic here: https://esmvaltool.readthedocs.io/projects/esmvalcore/en/latest/recipe/overview.html#variable-and-dataset-definitions

If your question is completely answered, could you please close the issue?

[2020-06-03 12:53] bouweandela commented on #1668
Accidentally clicked the button myself :blush:

[2020-06-03 12:56] bouweandela commented on #1669
Are you running the recipe on your own computer, or on a scientific compute cluster?

Note that we also have some work in progress to make it easier to download observational datasets: https://github.com/ESMValGroup/ESMValTool/pull/1657