[2020-06-03 13:31] pabretonniere commented on #1669
Thanks for your prompt reply! I'm working on a scientific cluster.

Actually I'm working together with @jvegasbsc who just pointed me to https://github.com/ESMValGroup/ESMValTool/tree/master/esmvaltool/cmorizers/obs in which there seems to be indication on how to download most of the observations used in this recipe. So now that I have more detailed instructions on each sources in the comments of

[2020-06-03 13:38] bouweandela commented on #1658
Thanks for attending everyone!

Here is a short summary

- We would like to release v2 soon. @bouweandela will make a doodle to set up a meeting with @ESMValGroup/esmvaltool-coreteam. Before the meeting, please apply the appropriate milestone to issues you think you can complete before the due date https://github.com/ESMValGroup/ESMValCore/milestone/3 and https://github.com/ESMValGroup/ESMValTool/

[2020-06-03 13:41] #1609 closed

[2020-06-03 13:55] bouweandela opened #1670 "Monthly ESMValTool meeting - July"
The next monthly ESMValTool meeting will be in July. The result of the poll is that it will be on

Thursday July 9 at 13:00 CET (12:00 BST).

The duration will be one hour. Join the [zoom meeting here](https://us02web.zoom.us/j/86356385817).

@ESMValGroup/esmvaltool-developmentteam

Format and agenda

- We start the meeting by doing a round where everyone gets one minute to introduce themselves an

[2020-06-03 14:35] earnone commented on #270
@bouweandela I think we can close this if we deal with the climdex package issue somewhere else.

[2020-06-03 14:47] valeriupredoi commented on #1658
yeah cheers for organizing and leading these calls @bouweandela - they are pretty useful indeed! :beer:

[2020-06-03 15:02] bjlittle commented on #1561
Just merged @jvegasbsc PR https://github.com/SciTools/iris/pull/3679 on `iris` to resolve this issue here.

Thanks Javier :beers:

This change will be included in the forthcoming `iris` `v3.0.0` release, which is `Python3` only.

We're aiming to get `v3.0.0` out this summer... when I know firmer dates I'll be sure to let you guys know. Alternatively just ping me (I don't mind) and ask if you need

[2020-06-03 15:03] bouweandela commented on #270
Do you mean #1443?

[2020-06-03 15:05] mattiarighi commented on #1561
Thanks @bjlittle

[2020-06-03 15:08] bouweandela commented on #1669
Which cluster are you on? We have a common pool of downloaded data available on a few systems @valeriupredoi, @mattiarighi or @bjoernbroetz might be able to tell you more about that.

[2020-06-03 15:10] bouweandela commented on #1669
Documentation on how to run the cmorizer scripts can be found here: https://esmvaltool.readthedocs.io/en/latest/input.html#using-a-cmorizer-script, but indeed information on how to download is still missing from the documentation on readthedocs #1219.

[2020-06-03 15:24] #1668 closed

[2020-06-03 16:17] bouweandela opened #1671 "python setup.py test is deprecated"
So our documentation on running tests as well as the test scripts that run on CircleCi need to be updated.

Related to pypa/setuptools#1684

[2020-06-03 16:23] pabretonniere commented on #1669
Apart from the BSC facilities, I have access to Jasmin for example.

[2020-06-05 11:53] mattiarighi commented on #1443
Can we close this?

[2020-06-08 07:22] bouweandela commented on #1443
Only when the `ncdf4.helpers` package is back on CRAN and we have put it back in our list of dependencies so recipe_extreme_events.yml works again..

[2020-06-08 11:54] axel-lauer opened #1672 "adding wenzel16nature"
Adding diagnostics of wenzel16nature as described in the GMDD paper Lauer et al.

Branch: https://github.com/ESMValGroup/ESMValTool/tree/wenzel16nature

[2020-06-08 12:07] bouweandela commented on #1407
This will probably be superseded by #1657. Removed the v2.0.0 milestone because it seems unlikely that #1657 will be finished in time.

[2020-06-08 13:44] bouweandela commented on #1669
Great, in that case @valeriupredoi should be able to help you out!

[2020-06-08 14:33] pabretonniere commented on #1669
Thanks! I got access the esm(e)val workspace on Jasmin (/group_workspaces/jasmin4/esmeval/obsdata-v2) on Friday but could only find the data from CRU and HADISST, so I started contacting the different providers, based on the information from https://github.com/ESMValGroup/ESMValTool/tree/master/esmvaltool/cmorizers/obs but if the whole data is available somewhere on Jasmin, I'll be very happy to a

[2020-06-10 08:27] tommibergman opened #1676 "Conda package 2.0.0b4 broken?"
I was trying to install the default version ESMValTool from Conda and it got jammed in infinitely collecting package metadata. Switching to 2.0.0b3 works better. Also notable is the size of 2.0.0b4 Conda package, which is only 23.4kB. Well I do not know how it is supposed to work, but default version, which I assume is 2.0.0b4, is not installing with Conda.

[2020-06-12 08:45] bouweandela commented on #1676
A new build of the package [is now available on conda](https://anaconda.org/ESMValGroup/esmvaltool/files) and installs in about 2 minutes on my computer. I had to label all older versions of the package with the `deprecated` label to make it work.

@tommibergman Could you check if this solves your problem?

[2020-06-12 08:48] bouweandela commented on #1676
Regarding the size difference between the v2.0.0b3 and v2.0.0b4 packages: in the b4 version we introduced [subpackages](https://docs.esmvaltool.org/en/latest/quickstart/installation.html#installation-of-subpackages), i.e. the `esmvaltool` is now just a placeholder with four dependencies `esmvaltool-python`, `esmvaltool-r`, `esmvaltool-julia`, `esmvaltool-ncl`, that's why it's so small.

[2020-06-12 12:01] valeriupredoi commented on #1676
legend, @bouweandela :beer: I shall test this myself now!

[2020-06-12 12:18] tommibergman commented on #1676
It is faster and looks good, but no cigar. esmvaltool-julia fails due to inability clone  General.git:

`LoadError: git repository not found at `https://github.com/JuliaRegistries/General.git``
I did a bit of digging, and it seems our proxy might be causing this. I will test some changes next week.

Also R-packages fail to install:
`cannot open URL 'https://cloud.r-project.org/src/contrib/PACKAGES

[2020-06-12 12:30] bouweandela commented on #1676
Are you interested in running a particular recipe or all of them? If you don't need the R or Julia recipes, you can also install the tool with just
[code]
That will get about 70 percent of the recipes working.

[2020-06-12 13:59] jhardenberg commented on #1443
ncdf4.helpers also seems to be on CRAN allright
https://cran.r-project.org/web/packages/ncdf4.helpers/index.html

[2020-06-12 14:19] jhardenberg commented on #1443
Indeed they put it back on CRAN just 4 days ago!
I tried to put `ncdf4.helpers `back among the R dependencies and I got a successful install.

[2020-06-15 12:56] #1443 closed

[2020-06-16 09:10] jgriesfeller opened #1680 "Documentation: link to the ana4mips project in the is broken"
for the IS-ENES3 project I am going through all the available observations in the ESMValtool.

In the documentation https://docs.esmvaltool.org/en/latest/input.html#observations there's this link to the ana4mips project https://esgf.nccs.nasa.gov/projects/ana4mips/

The link is dead.

Looking at the site https://climatedataguide.ucar.edu/climate-model-evaluation/obs4mips-datasets-and-documentation

[2020-06-17 07:06] mattiarighi commented on #1680
Thanks for spotting. Fixed in #1681.

[2020-06-17 16:14] valeriupredoi commented on #1680
cheers both :beer:

[2020-06-17 16:50] #1680 closed

[2020-06-18 21:59] mnichol3 opened #1683 "Relative diagnostic paths"
After installing ESMValTool on a RHEL6 HPC cluster, ESMValTool looks for diagnostics in the Conda environment's ESMValTool site-package directory instead of the directory specified in the recipe. The [docs](https://docs.esmvaltool.org/en/latest/develop/diagnostic.html#instructions-for-personal-diagnostic) state that this shouldn't be an issue, and it wasn't when I installed in dev mode on my perso

[2020-06-18 23:19] ssmithClimate commented on #1683
I'm now getting what may be the same error on my mac OS.  I moved some folders around and re-created the conda environment, etc. and I'm getting
`esmvalcore._task.DiagnosticError: Cannot execute script 'emissions_mip/initial_analysis-giss.py' (/opt/miniconda3/envs/esmvaltool/lib/python3.7/site-packages/esmvaltool/diag_scripts/emissions_mip/initial_analysis-giss.py): file does not exist.`
How do I

[2020-06-19 07:29] bouweandela commented on #1683
The easiest solution, for now, would be to use absolute paths in the recipe. Does that work for you?

At the moment the behavior when using relative paths in the recipe is the following: the `esmvaltool` command looks if there is an installation of `ESMValTool` somewhere by running `import esmvaltool`. If `ESMValTool` is installed and the path to the diagnostic script is relative, it is relative t

[2020-06-19 07:45] bouweandela commented on #1670
@ESMValGroup/esmvaltool-developmentteam Just a few days left to fill the doodle

[2020-06-19 09:17] valeriupredoi commented on #1658
@bouweandela says I should indicate my availability here so here goes: available for all sorts of things including work on ESMValTool, marriage (with reservations), talking about Formula 1 and history over Zoom beers, and not available for other things including travelling outside Reading, talking to people that don't trust science, and socializing with an angry cat. Is this good enough? :grin:

[2020-06-19 09:31] earnone commented on #270
@bouweandela yes, it was about the missing `ncdf4.helpers` library. Problem solved, I close this.

[2020-06-19 09:31] #270 closed

[2020-06-19 10:01] nielsdrost commented on #1658
Yes! Also consider filling in the Doodle for this month's meeting here: https://github.com/ESMValGroup/ESMValTool/issues/1670

[2020-06-19 10:10] valeriupredoi commented on #1658
I did :beer:

[2020-06-19 11:30] ssmithClimate commented on #1683
Is this in the documentation? (I don't believe either of us noticed this - would be good to make sure this is clearer there.)

While we can use absolute paths (and we were doing that in some configurations before), that means that our scripts and recipes are no longer cross platform. Which is an inconvenience since its now more difficult to develop on a local machine, sync to our repo, and then do

[2020-06-19 11:55] bouweandela commented on #1683
It's mentioned at the end of this section: https://docs.esmvaltool.org/projects/esmvalcore/en/latest/recipe/overview.html#the-diagnostics-section-defines-tasks, but you're right that it could be made more explicit that it's the installed version of the tool.

For now, you could use paths like `~/src/ESMValTool/esmvaltool/diag_scripts/examples/diagnostic.py` on both machines. The `~` will be expand

[2020-06-19 13:48] bouweandela commented on #1653
In order to make sure all authors of a pull request are credited for their work, it is important to leave the lines starting with `Co-authored-by` in the commit message, if you decide to edit it before merging.
[code]

See also [here](https://github.blog/2018-01-29-commit-together-with-co-authors/).

[2020-06-19 14:15] bouweandela commented on #1653
At the last monthly meeting, we decided to start using this way of merging. The repositories have now been configured such that the squash merge is the way to merge pull requests.

[2020-06-19 14:15] #1653 closed

[2020-06-19 16:10] bjoernbroetz commented on #1578
So, we will make a forced push of the master branch of the public to the master branch of the private repository. This will eliminate the 10.000 useless merge commits that are currently in the master of the private. Then I will use a basic `git push private master` to bring automatically the public master to the private. @bettina-gier is right about the issue of keeping things simple for the diagn

[2020-06-19 23:39] ssmithClimate commented on #1683
Thank you!
For now I just hard coded the paths and have separate recipes for testing locally and analysis runs with the full dataset.

Just in summary for anyone else who encounters this, I only had to hard code paths in the path to the diagnostic script in the recipe file. The paths in the configuration file work fine as relative paths. (e.g. output_dir: ../../output ).

[2020-06-20 00:11] ssmithClimate opened #1684 "Preprocessor documentation clarification"
We figured some useful things about how to use the pre-processor, and I was going to write up some suggested text for the documentation, but I wanted to make sure I understood why what we did worked!

So have the following in our recipe:
[code]
So we have preprocessor blocks for both data that have levels and data that does not. I believe this is working as expected. A couple questions:

1) are th

[2020-06-22 13:02] bouweandela commented on #1578
Yes, you can edit that out when writing the commit message for the merge. I guess the box for the message will get pre-filled with a very long text though, but let's deal with that when it happens.

[2020-06-22 13:49] bouweandela commented on #1670
@ESMValGroup/esmvaltool-developmentteam The meeting will take place on Thursday July 9 at 13:00 CET (12:00 BST).

[2020-06-22 14:12] bouweandela commented on #1684
For every variable in the `variables` section of the recipe, a preprocessor can be defined. The names `preproc_nolev` and and `preproc_sfc` have to be used there to indicate what preprocessor to apply to that variable.

For example:
[code]
would apply the functions as defined in `preproc_sfc` to variable `ta` and the functions as defined in `proproc_nolev` to variable `tas`. If a variable has no `

[2020-06-22 14:14] bouweandela commented on #1684
Thanks! That would be very welcome!

[2020-06-22 16:22] schlunma commented on #1548
After the merge of ESMValGroup/ESMValCore#670 `recipe_anav13jclim.yml` works again.

[2020-06-22 16:22] #1548 closed

[2020-06-22 17:25] axel-lauer commented on #1578
OK, so I just made this forced push. Fingers crossed...

[2020-06-23 09:07] hb326 commented on #1586
The following four diagnostics were added to a pull request to be merged for the version 2 release (see pull request #1686):

- diagnostic 01
- diagnostic 05a
- diagnostic 05b
- diagnostic 15

[2020-06-23 09:10] mattiarighi commented on #1586
Removing from the milestone: we won't be able to solve the whole issues in time for the release, but the four diagnostics in #1686 are enough, since these are the ones in the paper.

[2020-06-23 14:39] bascrezee opened #1687 "Multi product comparison (MPQB)"
**Short description of the diagnostic**
The `MPQB` (multi-product quality brief) diagnostic is available in the branch `C3S_511_MPQB` and contains the following (main) functionality:

- theil-sen trend estimation
- mann-kendall trend test
- pearsonr correlation between two datasets
- taylor diagram
- visual comparison of spatial and temporal resolution of dataset (by @BenMGeo)

The branch is now b

[2020-06-24 02:41] ssmithClimate commented on #1684
Your links lead me to parts of the documentation that I hadn't found before. So much of what I was going to suggest is either on the docs page, or in the newer docs on github. I had a few suggestions below for documentation additions to help people find some of this info.

Here:
https://docs.esmvaltool.org/projects/esmvalcore/en/latest/recipe/overview.html
at the end of the "The diagnostics sectio

[2020-06-24 08:41] katjaweigel opened #1688 "New recipe/diagnostics: recipe_martin2018grl.yml"
**Short description of the diagnostic**
Following Martin (2018) drought characteristics are calculated based on the standard precipitation index (SPI). These characteristics are frequency, average duration, SPI index and severity index of drought events.

Diagnostics:

   * droughtindex/diag_save_spi.R
   * droughtindex/collect_drought_obs_multi.py
   * droughtindex/collect_drought_model.py
   * d

[2020-06-24 11:56] mattiarighi commented on #1561
Remove from the milestone, since we will not get Iris 3 before ESMValTool v2.0 release.

[2020-06-24 11:58] bascrezee commented on #1687
I added a recipe that can be used for testing.

[2020-06-24 14:51] ssmithClimate opened #1690 "Level extraction for atmospheric data"
We're having difficulty using the pre-processor to extract data from a model file. The data file uses hybrid sigma pressure coordinates.

What we want is to extract data from the lowest atmosphere model level. How do we do that? (I can't find an example of this in the docs, although maybe its there somewhere).

I tried this:
    extract_levels:
      levels: 0.949999988079071
      scheme: linear

[2020-06-25 12:37] bouweandela commented on #1578
Looks like it worked :tada:

[2020-06-25 14:31] bouweandela commented on #1684
Thank you for the suggestions! Would you be able to make a pull request with the proposed changes? That will make it easier to include them. If you're not familiar with making pull requests, I would be happy to try and find some resources to guide you through the process. You can find instructions on setting up a development installation in [our contribution guidelines](https://docs.esmvaltool.org

[2020-06-29 07:01] #1688 closed

[2020-06-30 22:45] ssmithClimate commented on #1684
Done:
https://github.com/ESMValGroup/ESMValCore/pull/690

[2020-06-30 22:47] ssmithClimate commented on #1690
@bouweandela any thoughts on this?

[2020-07-02 09:30] bascrezee opened #1693 "New obs dataset GRACE"

[2020-07-02 11:39] TomasTorsvik opened #1695 "Problem running recipe_ocean_bgc.yml"
**Describe the bug**
A clear and concise description of what the bug is. If you are developing a new diagnostic script, please provide a link to the code/branch on GitHub that you are working in.

I'm getting an error when running the standard recipe_ocean_bgc.yml script. The script runs part way through and creates some plots, but returns an error on the step "esmvalcore._task:236 Starting task d

[2020-07-02 11:51] egalytska opened #1696 "Issue with pwd"
**Describe the bug**
A clear and concise description of what the bug is. If you are developing a new diagnostic script, please provide a link to the code/branch on GitHub that you are working in.

**Please attach**
  - The recipe that you are trying to run, you can find a copy in the `run` directory in the output directory
  - The `main_log_debug.txt` file, this can also be found in the `run` dire

[2020-07-02 12:04] bascrezee commented on #1660
It does not work for me yet. Can you confirm Mattia that it is supposed to work now also for daily data ending half way a certain month? Or was there a misunderstanding?

[2020-07-02 12:10] mattiarighi commented on #1660
I tested it with `CDS-SATELLITE-SOIL-MOISTURE` in #1661
That's the only case I know with incomplete time-series.

[2020-07-02 12:16] bascrezee commented on #1660
For me it works fine for the year 2019, but not for the year 2020. Same error as before... :/

[2020-07-02 14:46] mattiarighi opened #1697 "Final test for v2.0.0 release"
A checklist of the ESMValTool recipes to be tested before the release

- [x] recipe_era5.yml
- [x] recipe_check_obs.yml
- [x] recipe_concatenate_exps.yml
- [x] recipe_correlation.yml
- [x] recipe_extract_shape.yml
- [x] recipe_julia.yml
- [x] recipe_my_personal_diagnostic.yml
- [x] recipe_ncl.yml
- [x] recipe_preprocessor_derive_test.yml
- [x] recipe_preprocessor_test.yml
- [x] recipe_python_objec

[2020-07-02 14:57] ledm opened #1698 "Installation issues with v2.0"
I'm having some serious installation issues with ESMVAlTool in developper mode today.

I've followed these instructions: https://docs.esmvaltool.org/en/latest/community/introduction.html

Basically, it boils down to this:
[code]

The strange this is that I now have two versions installed.

In the ESMValCore directory, I get the new help interface:
[code]

but in my working directory and in ESMValT

[2020-07-02 15:43] valeriupredoi commented on #1698
`esmvaltool` should be the one and only and single executable, that calls the CLI utilities; look for `which esmvaltool`; also I suggested you install first Core than Tool, you did exactly the opposite; I am repeating your steps and see what I get :beer:

[2020-07-02 16:01] valeriupredoi commented on #1698
OK I have repetead exactly the same steps as yours and can not replicate the issue: `esmvalcore` is indeed the release v2:
[code]
and previously before installing it from source it came from the installation of ESMValTool (from the conda package) that is still older one:
[code]
which is the correct behaviour. For the executable you should have something that is common to both tool and core and sit

[2020-07-02 16:25] ledm commented on #1698
[code]

The order of installing tool then core is what the installation instructions advise: https://docs.esmvaltool.org/en/latest/community/introduction.html

[2020-07-02 16:35] valeriupredoi commented on #1698
well I see you are in the `ar6` conda environment but all your env creation and installation steps were done in `esmvaltool`, which one is it then? Also no need to `conda list <env>` - if you want to check all your installed packages in current env it's just `conda list`

[2020-07-02 16:53] ledm commented on #1698
No, it was all done in ar6. I just wrote esmvaltool here to keep it clear.

I thought that the problem what that my esmvalcore was taking some strange behaviour from old commits, so I re-did everything with a fresh master branch and I have the same problem again.

[2020-07-02 17:04] valeriupredoi commented on #1698
OK I repeated your steps in the AR6(private) branch too - all fine. What exactly is the problem you are encountering again?

[2020-07-03 08:09] ledm commented on #1698
If we need to install core first, then the [read the docs installation instructions](https://docs.esmvaltool.org/en/latest/community/introduction.html) are wrong.

[2020-07-03 09:21] ledm commented on #1698
So, I just ran though this yet again on jasmin sci2.

- I updated conda.
- Created a new local master branch from remotes/origin/master in core and in ESMValTool-AR6.
- Created a new environment with the ESMValCore's environment.yml in a newly created local copy of the master branch.
- installed core in develop mode
- Updated the new conda environment from the esmvaltool-ar6 environment.yml from a

[2020-07-03 10:06] ledm commented on #1698
Could it be a specific issue with the esmvaltool-ar6 private branch?

[2020-07-03 11:04] bjoernbroetz commented on #1698
So I'm not sure if this is helpful but when I installed to ESMValTool in the past in an environment with a different name than "esmvaltool" I also needed to manually change the `name` in the `environment.yml` file (both of them). Else it used to install/update the environment mentioned in the `environment.yml` file.

[2020-07-03 11:17] ledm commented on #1698
Surely you should be able to overwrite the environment name with the `--name` flag?
[code]

[2020-07-03 12:34] TomasTorsvik commented on #1695
The problem seems to be connected only to the "mfo" variable. I commented out the diag_timeseries_scalars https://github.com/ESMValGroup/ESMValTool/blob/71e2c7298197ac37921284b19188b8fc403269a5/esmvaltool/recipes/recipe_ocean_bgc.yml#L324-L332
This caused the recipe to run without errors.

[2020-07-03 12:48] TomasTorsvik commented on #1695
I'm getting a very similar error also with recipe_ocean_amoc.yml, but this time for the "amoc" variable. It is also using the script "ocean/diagnostic_timeseries.py".

[2020-07-03 13:04] TomasTorsvik commented on #1695
I see that I might have stumbled over something that has been mentioned in another issue
https://github.com/ESMValGroup/ESMValTool/pull/1621#issuecomment-634604856

[2020-07-06 10:57] valeriupredoi commented on #1698
on Jasmin at the moment, installing the AR6/master as @ledm has tried, will report back in a jiffy with me findings :beer:

[2020-07-06 11:48] axel-lauer commented on #1696
It looks like you need to write fix files for the 2 EC-Earth models that multiply siconca by a factor of 100. This would look very similar to this example for the CMIP5 version of the same model: https://github.com/ESMValGroup/ESMValCore/blob/master/esmvalcore/cmor/_fixes/cmip5/ec_earth.py

[2020-07-06 11:57] valeriupredoi commented on #1698
OK - so I repeated exactly the same steps that @ledm has followed and posted in the OP and ran the preprocessing test recipe no problemo:
[code]
entering/exiting source dirs for esmvaltool/esmvalcore does not change the help message (??) - @ledm you need to tell me what exactly is your issue by posting a Traceback here, not simply by telling me it ain't working :beer:

[2020-07-07 09:12] ledm commented on #1698
I've been trying to install ESMValTool-AR6 without ESMValCore right now. Even installing the ESMValTool-AR6 master seems to give me the old interface.

I just need something, *anything*, so I can continue to work. Haven't been able to make any progress on IPCC stuff for two weeks. That September deadline is looming.

I've just hit the JASMIN home directory space limit. Is there any chance that `co

[2020-07-07 10:13] jvegasbsc commented on #1698
I am having similar issues with the container. The main issue here is that conda always install its esmvalcore package

The solution for me is to rerun the `pip install ...` for ESMValCore *after* installing ESMValTool in development mode

[2020-07-07 10:17] valeriupredoi commented on #1698
no, if you install esmvaltool (and the installation will install esmvalcore as conda package, of course) then install esmvalcore from source, locally with `pip install` then the conda esmvalcore package will be switched to the develop pip installed one

[2020-07-07 11:44] valeriupredoi commented on #1698
OK so @ledm and myself went together through a test install in his $HOME dir and noticed the following:

- install esmvalcore from source with pip -> all good, 2.0.0 installed;
- conda update the env for esmvaltool and then install esmvaltool -> bad, it will pick up 2.0.0b9 again;
- go back and reinstall esmvalcore from source - still bad, 2.0.0b9 still picked up;

Proves out that conda always pre

[2020-07-07 12:55] valeriupredoi commented on #1698
OK so here is the synopsis in @ledm case:

- install esmvalcore from source -> all OK;
- update the env for esmvaltool -> it will create a dir eg `~/anaconda3R/envs/esmvaltool-ar6-master/lib/python3.8/site-packages/esmvalcore/` since it thinks it needs esmvalcore
- go back and re-install esmvalcore -> it will pick up the versioning from the /lib/site-packages version and use that all over

I hones

[2020-07-07 15:51] ledm commented on #1698
What works for me is :

[code]

[2020-07-08 08:19] jvegasbsc commented on #1698
See conda doc: https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-pkgs.html#installing-non-conda-packages

They prioritize conda packages over pip, so that's the reason.

I think that we may remove esmvalcore from the `environment.yml` file and add a first step asking the developers to install esmvalcore first, giving them two options:

- From conda, with the instruction to cre

[2020-07-08 09:46] ehogan opened #1703 "Is there a way to optimise looking for files required for recipes?"
The [recipe_diurnal_temperature_index.yml](https://github.com/ESMValGroup/ESMValTool/blob/master/esmvaltool/recipes/recipe_diurnal_temperature_index.yml) recipe requires 12 files; in the `main_log_debug.txt` file there are 12 entries with the format `Looking for files matching ['<filename>.nc'] in ['<data_path>']`. However, the `data_path` we are using contains many files (38T!), which means that

[2020-07-08 13:06] bouweandela commented on #1698
Unfortunately I'm not able to reproduce @ledm's issue on my own computer.

I would recommend following the instructions [here](https://docs.esmvaltool.org/en/latest/community/introduction.html#getting-started) and as summarized by @ledm at the top of this issue, instead of trying to reverse the order.

I think it would be better to keep it as is. Many diagnostic developers do not need to install E

[2020-07-08 15:42] bouweandela commented on #1690
Could you please share the output of `ncdump -h your_file.nc`? I suspect there might be some problem with the input data, is it formatted according to the CF-conventions?

@schlunma has been done quite a bit of work on this type of coordinate, so he might be able to help out too.

[2020-07-08 15:43] bouweandela commented on #1684
Thanks!

[2020-07-08 16:05] ssmithClimate commented on #1690
Thank you. Here you go:

[so2-r1i1p5f101.txt](https://github.com/ESMValGroup/ESMValTool/files/4891844/so2-r1i1p5f101.txt)

[2020-07-09 08:26] Peter9192 commented on #1670
@ESMValGroup/esmvaltool-developmentteam reminder meeting is today.

[2020-07-09 08:52] bouweandela commented on #1670
Please note that the zoom link has been updated.

[2020-07-09 09:02] alistairsellar commented on #1670
Hi Bouwe,

Sorry I can’t make it today.

Alistair

From: Bouwe Andela <notifications@github.com>
Sent: 09 July 2020 09:53
To: ESMValGroup/ESMValTool <ESMValTool@noreply.github.com>
Cc: Sellar, Alistair <alistair.sellar@metoffice.gov.uk>; Team mention <team_mention@noreply.github.com>
Subject: Re: [ESMValGroup/ESMValTool] Monthly ESMValTool meeting - July (#1670)

Please note that the zoom link has

[2020-07-09 09:31] bouweandela opened #1704 "recipe_arctic_ocean.yml fails to run"
When I run the recipe `recipe_arctic_ocean.yml`, it fails with the following stack trace:
[code]

Here are some version numbers that might be relevant:
[code]

[2020-07-09 09:36] koldunovn commented on #1704
Matplolib change the handling of the colormap names. I will fix it.

[2020-07-09 09:49] mattiarighi commented on #1660
- Is the error on the daily or on the monthly data?
- Can you send me a list of the input .nc files you are using?
- Can you also send me `ncdump -c file.nc` for the last input files in the timeseries (for both monthly and daily)

[2020-07-09 10:14] bouweandela opened #1705 "provenance of recipe_combined_indices.yml broken"
When I run recipe_combined_indices.yml, it results in the following error:
[code]

This is because the diagnostic write the provenance file `run/combine_indices/main/diagnostic_provenance.yml` like this:
[code]
while it should look like this:
[code]

[2020-07-09 10:22] bouweandela opened #1706 "recipe_cox18nature.yml broken"
When I run recipe_cox18nature.yml, the run stops with the following error message:

[code]

I think this might be because there is no coordinate `year` added to the cube before doing:
https://github.com/ESMValGroup/ESMValTool/blob/4507da5b9eff99523aaf8d5e6144d99254030386/esmvaltool/diag_scripts/emergent_constraints/cox18nature.py#L510

[2020-07-09 11:58] ledm commented on #671
I've written up a script that has worked in the past, but is not currently working. Shouldn't take too much effort it bring it up to speed.

However, I'm not 100% happy with the interface. It may need some work to get it to be truly flexible.

[2020-07-09 12:16] Peter9192 commented on #671
@ledm That sounds like a great start. Can you make a (draft) PR to add it to the utils directory? Then we can further tune it there.

[2020-07-09 13:40] bouweandela commented on #1670
Thanks for attending everyone!

Here is a short summary

- We will postpone the deadline for submitting new features for ESMValTool v2.0.0 (e.g. recipes, diagnostics, cmorizers, anything that isn't a bugfix) to July 22nd. This will allow us to test the pull requests with the released version of ESMValCore v2.0.0, which will be released on July 20.
- We discussed about why we are using the released

[2020-07-09 13:40] #1658 closed

[2020-07-09 16:08] ledm commented on #671
Created a PR with my recipe-filler: #1707

[2020-07-09 18:55] bouweandela commented on #1695
Indeed this looks like the same issue. It was solved in https://github.com/ESMValGroup/ESMValCore/pull/657 and will be included in the next release of ESMValCore (scheduled for July 20). If you would like to run the recipe earlier, you could install ESMValCore from source as described in [this section and the next one](https://docs.esmvaltool.org/en/latest/community/introduction.html#getting-start

[2020-07-09 19:06] TomasTorsvik commented on #1695
@bouweandela
Thanks for getting back to me about this. I'm probably going to wait until the next release then to see if things improve :)

[2020-07-09 19:06] #1695 closed

[2020-07-10 07:22] bascrezee opened #1739 "cmorize_obs is broken"
My guess would be that it is related to the recent change to using `fire`. 🔥

[code]

[2020-07-10 14:51] #1684 closed

[2020-07-10 15:55] mattiarighi opened #1709 "recipe_ensclus.yml broken"
The recipe returns the following error:
[code]
Log file:
[log.txt](https://github.com/ESMValGroup/ESMValTool/files/4904111/log.txt)

[2020-07-10 16:00] mattiarighi opened #1710 "recipe_anav13jclim.yml broken"
Apparently there is a missing setting in the diagnostic section of the recipe.

See logs:

[main_log.txt](https://github.com/ESMValGroup/ESMValTool/files/4904138/main_log.txt)
[log.txt](https://github.com/ESMValGroup/ESMValTool/files/4904140/log.txt)

[2020-07-10 16:12] mattiarighi opened #1711 "provenance of recipe_hyint_extreme_events.yml broken"
[code]

Same problem as reported in #1705 apparently.

[2020-07-10 16:29] mattiarighi opened #1712 "recipe_modes_of_variability.yml broken"
[code]
[log.txt](https://github.com/ESMValGroup/ESMValTool/files/4904292/log.txt)

[2020-07-10 16:34] mattiarighi opened #1713 "provenance of recipe_multimodel_products.yml broken"
Same error as in #1705 and #1711:
[code]

[2020-07-10 16:46] mattiarighi opened #1714 "recipe_russell18jgr broken"
[code]

[2020-07-10 16:48] mattiarighi opened #1715 "recipe_rainfarm.yml broken"
[log.txt](https://github.com/ESMValGroup/ESMValTool/files/4904380/log.txt)

[2020-07-10 17:22] mattiarighi opened #1716 "Provenance warning in recipe_hyint.yml"
The recipe runs fine, but a lot of warnings are raised by the provenance.

[main_log.txt](https://github.com/ESMValGroup/ESMValTool/files/4904540/main_log.txt)

@katjaweigel you had a similar issue in one of your last PR, do you remember the solution?

[2020-07-10 17:32] mattiarighi opened #1717 "Provenance of recipe_spei.yml broken"
Again as in #1705, #1711, #1712, #1713.

[code]

[2020-07-11 08:05] mattiarighi opened #1718 "Provenance of recipe_extreme_events.yml and recipe_extreme_index.yml broken"
Same error as in #1705, #1711, #1713, #1717

[code]

[2020-07-11 08:13] mattiarighi commented on #1697
@jvegasbsc how do you run the cmorizers with the new interface?

[2020-07-11 08:34] valeriupredoi commented on #1697
like this @mattiarighi (not sure about `tcsh`, this is for `bash` only though):
[code]

and the broken bit is because:
[code]
@jvegasbsc you need to make that arg optional for console scripts :beer:

[2020-07-11 09:09] jvegasbsc commented on #1697
I am on it, but in the meanwhile you can just past there an empty dict and it should work

[2020-07-11 09:11] valeriupredoi commented on #1697
cheers @jvegasbsc - why are we on GitHub on a Saturday? :beach_umbrella:

[2020-07-11 12:13] xiaoyujiaxyj opened #1719 "Error running an example recipe"
Hi, I just started using ESMValTool and try to run an example recipe but failed.

**Please attach**
  - The recipe that you are trying to run, you can find a copy in the `run` directory in the output directory
https://github.com/ESMValGroup/ESMValTool/blob/master/esmvaltool/recipes/examples/recipe_python.yml

  - The `main_log_debug.txt` file, this can also be found in the `run` directory in the o

[2020-07-13 06:30] katjaweigel commented on #1716
Yes, this happens if you give the provenance file as a string to ancestors instead of a list, which contains one string. I made an issue in the core, how this warning could be made more readable, see https://github.com/ESMValGroup/ESMValCore/issues/686, but had no time yet to really complete it and to make a branch how this could be fixed. For the hyint/hyint.R you'll get rid of the warning, if yo

[2020-07-13 08:36] earnone commented on #1716
I see. Thanks @katjaweigel for the hint, I'll test it. The issue was that it should work also when only one ancestor is present and it didn't when I included `list` in the previous version. Same for #1711 and I guess for #1705

[2020-07-13 08:47] mattiarighi commented on #1716
Please open a PR if it works, also fixing the other similar cases if possible. Thanks!

[2020-07-13 08:47] katjaweigel commented on #1716
Dear @earnone yes, I saw them and wondered about it, I used list() in https://github.com/ESMValGroup/ESMValTool/blob/master/esmvaltool/diag_scripts/droughtindex/diag_save_spi.R, there it worked

[2020-07-13 10:19] schlunma commented on #1706
I just tested `recipe_cox18nature.yml` in the current `master` branch for ESMValTool and the branch `v2.0.0` for ESMValCore and I didn't get the error. The plots look also fine.

Do I need to test this in another branch?

[2020-07-13 11:17] bettina-gier commented on #1710
I've also got some local changes for the Anav diagnostics I had to make for CMIP6, such as removing a hardcoded "CMIP5" in the plots and some unit issues when it runs through tos - Do you want me to make a pullrequest for them before the release?

[2020-07-13 11:40] mattiarighi commented on #1710
Same branches at DKRZ.

[2020-07-13 12:10] mattiarighi commented on #1710
Which DRS did you use?
I have to use the ETHZ, otherwise I get missing data.

[2020-07-13 12:46] schlunma commented on #1710
Hmmm, that's weird. I used DKRZ (I have my own link tree that has all data available), but I will try with the ETHZ data now.

[2020-07-13 13:04] mattiarighi commented on #1710
The ETHZ tree is also DKRZ integrated with missing data and another drs.

[2020-07-13 13:26] mattiarighi commented on #1710
Tried again with ETHZ and it ran successfully.
Not sure what happened...

[2020-07-13 13:26] #1710 closed

[2020-07-13 13:56] mattiarighi commented on #1710
Yes, please.

[2020-07-13 18:38] mattiarighi commented on #1716
@koldunovn in #1722 just reported that this error does not occur in the stable ESMValCore.

[2020-07-14 08:28] axel-lauer opened #1724 "recipe_flato13ipcc.yml (figs. 9.6 and 9.14) broken"
Testing of the following figures in recipe_flato13ipcc.yml (ESMValTool master branch) with ESMValCore v2.0.0 (https://github.com/ESMValGroup/ESMValCore/tree/v2.0.0) failed:

* fig. 9.6 (pattern correlations)
* fig. 9.14 (SST zonal mean and equatorial, multi model mean)

All other diagnostics in recipe_flato13ipcc.yml have been tested successfully and look fine.

Errors:

* fig. 9.6: "different cal

[2020-07-14 08:49] mattiarighi commented on #1724
Fig. 9.6 is pattern correlation, not perfmetrics. I think this was implemented by @LisaBock

[2020-07-14 08:52] schlunma commented on #1724
This should be fixed in the `v2.0.0` branch of ESMValCore

[2020-07-14 09:10] bettina-gier commented on #1724
The 9.6. thing seems to be a preprocessor problem though with "failed to concatenate cubes". Does the log name a specific model or is it the multi-model mean that recently had some changes with its time handling?

[2020-07-14 09:11] mattiarighi commented on #1724
@axel-lauer could it be that you test this with ESMValCore `master` instead of `v2.0.0` branch?
There have been a few hotfixes recently.

[2020-07-14 09:12] axel-lauer commented on #1724
I tested with v2.0.0 (just double-checked). I am now retesting fig. 9.6 with the latest fixes...

[2020-07-14 10:46] axel-lauer commented on #1724
Pulling the lastest fixes of ESMValCore v2.0.0 solves the problem with fig. 9.14. The error "different calendars" in fig. 9.6 persists, however, this time for variable rlut.

[2020-07-14 10:54] axel-lauer commented on #1724
Doesn't seem to be a specific model, here is the log file.
[main_log_debug.txt](https://github.com/ESMValGroup/ESMValTool/files/4918280/main_log_debug.txt)

[2020-07-14 12:29] bettina-gier commented on #1724
Just tested 9.6. myself, ran fine. Did you remember that CMIP3 cannot be run with parallel processing? https://github.com/ESMValGroup/ESMValCore/issues/430

[2020-07-14 12:30] mattiarighi commented on #1724
Thanks @bettina-gier for recalling this!

Maybe we should add a comment in the recipe about this.

[2020-07-14 12:47] axel-lauer commented on #1724
I used only 1 task as the recipe gets "stuck" before doing any preprocessing when trying to use 2 or more tasks. I'd love to reproduce your success, but doesn't work for me.

[2020-07-14 12:58] bettina-gier commented on #1724
Hmm interesting. Try running it with CMIP5 only just as a test?

[2020-07-14 13:40] schlunma commented on #1690
Hi @ssmithClimate , sorry for the delay. Can you try replacing `coordinate: lev` with `coordinate: atmosphere_hybrid_sigma_pressure_coordinate`? The code looks for the `standard_name` of the coordinate (which is `atmosphere_hybrid_sigma_pressure_coordinate`) and not for the `var_name` of it (which is `lev`).

[2020-07-14 14:21] ssmithClimate commented on #1690
Thanks @schlunma . I tried that and now get an error of:
 File "/people/d3k117/anaconda3/envs/esmvaltool/lib/python3.7/site-packages/iris/cube.py", line 965, in add_aux_coord
    raise ValueError('Duplicate coordinates are not permitted.')
ValueError: Duplicate coordinates are not permitted.

[2020-07-14 14:23] schlunma commented on #1690
Can attach the full log file please? I tested it with a similar file (another ensemble member of the same model output) and it worked for me.

[2020-07-14 14:54] ssmithClimate commented on #1690
Sure, here they are:
[main_log_debug.txt](https://github.com/ESMValGroup/ESMValTool/files/4919485/main_log_debug.txt)
[main_log.txt](https://github.com/ESMValGroup/ESMValTool/files/4919487/main_log.txt)

[2020-07-14 15:17] schlunma commented on #1690
Thank you for the log files. Unfortunately this is a known bug in iris (see  SciTools/iris#3637) which will hopefully be fixed in their version 3.0. I suggest you add the calculation of the annual means to your diagnostic. This way you can remove the coordinate that causes the troubles. In python, this would be something like this:

[code]

Hope this helps. Please close this issue if you think tha

[2020-07-14 15:22] bascrezee commented on #1698
The same problem as @ledm when following instructions [here](https://docs.esmvaltool.org/en/latest/community/introduction.html#getting-started) as recommended by @bouweandela. Proposed 'solution' by @ledm works for me as well.

[2020-07-14 16:36] ssmithClimate commented on #1690
Thanks! This is rather unfortunate. This means we have some variables for which the pre-processor is calculating annual means and for others its not.

What would be a good way in the processor script to detect if a data cube has monthly resolution so that we can perform the above conversion?

[2020-07-14 16:55] schlunma commented on #1690
You only need to check if `year` coordinate is present. Then you can use the code above for monthly and yearly data:

[code]

[2020-07-14 17:04] ssmithClimate commented on #1690
Thank you!

[2020-07-15 08:42] nperezzanon commented on #1713
Hi @jvegasbsc could you help me? Thanks in advance!

[2020-07-15 08:43] nperezzanon commented on #1712
Hi @jvegasbsc could you help me also with this issue? Thanks!

[2020-07-15 08:43] axel-lauer commented on #1724
@bettina-gier: Successfully tested figure 9.6 with CMIP5 data only. This suggests the problem is caused by CMIP3 models, which is strange as I am using the data located in our standard directory "ESMValTool2/CMIP3" on Mistral.

[2020-07-15 09:56] bettina-gier commented on #1724
I tested it first with "/work/kd0956/CMIP3/" on Mistral, reran it with the directory you used and it worked fine. Using the latest master branch in the core. Retested again with the v2.0.0 core branch and that ran through as well.
@mattiarighi can you run the diagnostics just to see if Axel or me is the outlier?

[2020-07-15 12:09] schlunma commented on #1690
@ssmithClimate Closing this issue for now, feel free to re-open if necessary!

[2020-07-15 12:09] #1690 closed

[2020-07-15 15:08] earnone commented on #1716
@mattiarighi do you mean there is no need for the fix? Or should we apply it anyway?

[2020-07-15 15:12] mattiarighi commented on #1716
Since the error is the same it's like that a fix in ESMValCore will solve the problem.
I would wait.

[2020-07-15 15:19] bascrezee commented on #1687
I just pushed what we discussed in our telcon. Please note that the 'alias' is not used directly as label, one still needs to add the label to the dictionary in `recipe_mpqb_cfg.yml`. This is needed for me to deal with a dataset having two different versions that I want to compare.

[2020-07-16 08:24] LisaBock commented on #1724
I tested it now also with ESMValTool `master` and ESMValCore `v2.0.0`. And it works for me. (Took more than 8,5 hours.) I used the same CMIP3 directory like @bettina-gier. I could start now a test with the directory "ESMValTool2/CMIP3" on Mistral.
@mattiarighi Were you successfull?

[2020-07-16 08:48] mattiarighi commented on #1724
I have this path to CMIP3 in our local data pool: `/mnt/lustre02/work/bd0854/DATA/ESMValTool1/CMIP3`, @axel-lauer did you also use it?

[2020-07-16 08:51] axel-lauer commented on #1724
@mattiarighi I used /work/bd0854/DATA/ESMValTool2/CMIP3 which is a symbolic link pointing to the path you mentioned. Since the diagnostic works for @bettina-gier and @LisaBock , I would propose to mark flato13ipcc.yml as tested successfully in #1697.

[2020-07-16 09:56] mattiarighi commented on #1724
But then we should change remove the CMIP3 in our datapool (ESMValTool1 and, as link, ESMValTool2) and replace them with links to `/work/kd0956/CMIP3/`.

If I understand correctly, the latter is the path successfully used by @bettina-gier and @LisaBock for testing Fig. 9.6, right?

[2020-07-16 09:57] LisaBock commented on #1724
I tested it again with `/work/bd0854/DATA/ESMValTool2/CMIP3/` on Mistral. It was also successfull. (This time much faster wiht less than 1 hour.) The problem must be somewhere else.

[2020-07-16 09:57] mattiarighi commented on #1724
Ok, let me try 9.6 and the we can close this hopefully.

[2020-07-16 10:04] bettina-gier commented on #1724
My runs took 25-30 min on mistral each, with both cores and both paths.
How old is your environment Axel? Katja told me before that updating env wasn't enough for her at times and forced her to set up a new one instead. Maybe an older iris version?

[2020-07-16 10:22] mattiarighi commented on #1724
After one of the latest update it was also necessary to run `pip install` again, not just updating the branch(es).

[2020-07-16 11:01] mattiarighi commented on #1724
Tested successfully.
Closing.

[2020-07-16 11:01] #1724 closed

[2020-07-16 11:41] hb326 opened #1727 "Update to cmorizer PERSIANN-CDR"
We added the code to also calculate and write out a monthly mean data file.

[2020-07-16 13:20] mattiarighi opened #1729 "cmorizer Eppley-VGPM-MODIS broken"
[code]

The raw files are in HDF4 format, which according to the [xarray documentation](http://xarray.pydata.org/en/stable/io.html#formats-supported-by-pynio) require the [PyNIO](https://www.pyngl.ucar.edu/Nio.shtml) to be read.

[2020-07-16 13:25] mattiarighi opened #1730 "cmorizer ESACCI-OC broken"
[code]

[2020-07-16 15:13] mattiarighi commented on #1660
@bascrezee, as part of #1697 I tested again the cmorizer for `CDS-SATELLITE-SOIL-MOISTURE` and it works fine. This is the output I get:
[code]

[2020-07-16 15:17] hb326 opened #1731 "ERA5 on-the-fly cmorizer produces wrong date format"
I just ran the ERA5 cmorizer recipe "recipe_era5.yml" to produce a monthly mean ERA5 total precipitation file.
This is the recipe that I used:

    description: CMORize ERA5 data

    - andela_bouwe
    - kalverla_peter

    - acknow_project

    - ewatercycle

  monthly:
    description: CMORize monthly ERA5 data
    scripts:
      rename:
        script: cmorizers/era5.py
    variables:
      pr

[2020-07-16 15:28] mattiarighi commented on #1731
For 1., the reason could be here:
https://github.com/ESMValGroup/ESMValTool/blob/6d118c5c9dfd4eb4db85d04f135ec1ebbdf022d0/esmvaltool/diag_scripts/cmorizers/era5.py#L29-L31

Why is it `int(end_year) - 1`?

[2020-07-16 15:31] mattiarighi opened #1732 "cmorizer CDS-SATELLITE-ALBEDO broken"
[code]

[2020-07-16 15:37] mattiarighi opened #1733 "cmorizer JMA-TRANSCOM broken"
[code]

It seems to be related to a change in the preprocessor. @valeriupredoi ?

[2020-07-17 07:04] SarahAlidoost commented on #1731
Please see issue #1659

[2020-07-17 07:55] bascrezee commented on #1732
A bit surprising that this only pops up for this cmorizer. I made a fix, see the PR I opened.

[2020-07-17 08:47] axel-lauer commented on #1714
Initially, I had a different problem with this recipe:

`Traceback (most recent call last):
  File "/mnt/lustre02/work/bd0854/b380103/ESMValCore/esmvalcore/_main.py", line 428, in run
    fire.Fire(ESMValTool())
  File "/mnt/lustre02/work/bd0854/b380103/miniconda3/envs/esmvaltool/lib/python3.7/site-packages/fire/core.py", line 138, in Fire
    component_trace = _Fire(component, args, parsed_flag_a

[2020-07-17 08:49] mattiarighi commented on #1714
Thanks for the feedback, I will give it a try!

[2020-07-17 08:49] schlunma commented on #1733
I will open a PR with a fix for that

[2020-07-17 13:29] #1733 closed

[2020-07-17 14:35] JaroCamphuijsen opened #1736 "Current output of hydrology/recipe_lisflood.yml recipe is not usable by the LISFLOOD model"
**Describe the bug**
Some extra steps need to be added to the diagnostic script to put the output of hydrology/recipe_lisflood.yml in the exact format that the LISFLOOD hydrological model requires:

1- drop extra coordinates and keep only necessary variables
2- reindex data to a global coordinates set

[2020-07-17 17:25] mattiarighi commented on #1714
It works.

[2020-07-17 17:25] #1714 closed

[2020-07-18 14:02] evertrol opened #1738 "Website TLS version is out of date"
I recently visited https://www.esmvaltool.org/ , and Firefox (version 78) refused to load the webpage; its error message suggests the TLS version is too old, i.e., version 1.1 or 1.0. These two version have been deprecated in 2020. Chrome (version 84) does load the page, but shows a "Not Secure" indication, even if the URL starts with `https`.

Probably, the webserver software needs an update.

Si

[2020-07-20 07:21] axel-lauer commented on #1738
Just updated the ESMValGroup URL from http to https and inquired with our it department about the possibility of updating the TLS version used by esmvaltool.org.

[2020-07-20 10:00] valeriupredoi commented on #1698
good stuff @bascrezee - @bouweandela the order does not matter, more so when one reinstalls at the second or third iteration, the essence of the problem is conda being authoritative and annoying. Now, more importantly, @ledm and @bascrezee each owe me a weissbier and I am going to close the issue since we fixed it - do we want to add a note in the documentation? :beer:

[2020-07-20 10:00] #1698 closed

[2020-07-20 10:58] #1732 closed

[2020-07-20 14:49] mattiarighi commented on #1739
Fixed by #1721

[2020-07-20 14:49] #1739 closed

[2020-07-20 15:16] #1727 closed

[2020-07-20 16:08] #1704 closed

[2020-07-21 11:19] #1672 closed

[2020-07-21 12:42] katjaweigel commented on #1717
I think the issue is caused by line 233 in diag_spei.R
`xprov$ancestors <- list(modfile1, modfile2)`
because modfile1 and modfile2 are already lists, this create a list containing lists. But what should result is a combined list:
`xprov$ancestors <- c(modfile1, modfile2)`
I can't test this at the moment while Mistral is not really working, maybe later today

[2020-07-21 12:57] mattiarighi commented on #1717
Would this fix apply to the other issues with a similar error message?

[2020-07-21 13:00] rswamina opened #1741 "Some questions regarding multiprocessing in ESMValTool"
I would like some clarification regarding multiprocessing capabilities in ESMValTool. A few questions specifically to help better understand how it is implemented and plan resource usage --

1. How is parallel processing incorporated within ESMValTool? Does max_tasks in the config file have any meaning when esmvaltool is run interactively?(I ask specifically with respect to the use of sci nodes on

[2020-07-21 14:17] katjaweigel commented on #1717
In principle, yes. But I looked in hyint.R and it is rather complex to find all places where this happens. The source of the issue is, that often in these routines ancestors is set as string for one model and for plots with one model (this can lead to this now corrected warning). Then they are assembled into a multi model list (for multi model plots). In some cases it happens that then ancestors i

[2020-07-21 14:21] mattiarighi opened #1742 "recipe_ocean_example.yml and recipe_ocean_bgc.yml broken"
The error message is similar for both recipes.

[code]

[2020-07-21 14:28] mattiarighi opened #1743 "recipe_ocean_amoc.yml broken"
[code]

[2020-07-21 14:55] mattiarighi commented on #1717
Then just open a PR with the fix for `recipe_spei.yml` you mentioned above.

Maybe @earnone, @jhardenberg and @nperezzanon can then extend it based on your example.

[2020-07-21 15:02] mattiarighi commented on #1706
I can confirm that it runs with the ESMValTool v2.0.0 release.

[2020-07-21 15:02] #1706 closed

[2020-07-21 15:06] mattiarighi commented on #1715
It looks like it's related to my environment
[code]

I have the same problem with `recipe_example_julia.yml`.

Can anybody try this please?

[2020-07-21 15:10] mattiarighi commented on #1709
This was just a memory issues. Running with a lower number of parallel tasks it works.

[2020-07-21 15:10] #1709 closed

[2020-07-22 07:36] #1717 closed

[2020-07-22 10:50] #1705 closed

[2020-07-22 11:07] #1713 closed

[2020-07-22 12:55] YanchunHe opened #1748 "Use a user-specified/modified cmorize_obs_*.ncl/py file"
**Is your feature request related to a problem? Please describe.**

Currently, the default cmorize_obs_*.ncl/py file installed under ESMValTool_root/cmorizers/obs is used for cmorization observational datasets.

For example:
[code]
will use the cmorizers/obs/cmorize_obs_ncep.ncl

As sometimes the esmvaltool is installed with root privilege, the users can not directly modify the cmorizer script. Th

[2020-07-22 13:32] bouweandela commented on #1645
Moving this to the next milestone, as @jvegasbsc is working on a major overhaul of the cmorizers in  #1657

[2020-07-22 13:48] bouweandela commented on #1742
This looks like a bug in esmvalcore. It looks like multimodel statistics cannot be computed if the time axis only contains a single point. @valeriupredoi Could you have a look?

[2020-07-22 13:52] bouweandela commented on #1743
This is a bug in ESMValCore. There is a fix that rounds the coordinate points of the longitude coordinate, but it doesn't check if the variable even has that coordinate before trying to fix it.

[2020-07-22 14:09] bouweandela commented on #1743
Created issue https://github.com/ESMValGroup/ESMValCore/issues/728

A workaround for now could be to exclude the FGOALS-g2 CMIP5 model from the recipe.

[2020-07-22 14:38] mattiarighi commented on #1743
See #1749

[2020-07-22 14:43] jvegasbsc commented on #1712
There is a problem with `ano` call is the responsible.

See this output:
[code]

It looks like the `sdate` name is missing in the clim. Can this be the source of the error, @nperezzanon?

[2020-07-22 15:11] #1743 closed

[2020-07-22 15:57] SarahAlidoost commented on #1300
For this issue, a PR is submitted https://github.com/ESMValGroup/ESMValTool/pull/1750

[2020-07-22 21:45] malininae opened #1751 "siextentn and siextents derivation"
**Is your feature request related to a problem? Please describe.**

Hello, I'm new to the tool, so appologies, if the issue is premature.

I'm trying to create a diagnostic for one of the IPCC figures. One of the features I need, is to derive siextentn and siextents  (they are in the CMOR Tables for CMIP6, but not for CMIP5). The variable is not in ESMValCore/esmvalcore/preprocessor/_derive yet. W

[2020-07-23 07:21] mattiarighi commented on #1748
@valeriupredoi I think it is currently not possible to run a cmorizer from an arbitrary location outside the tool, is it?

@YanchunHe I would recommend installing the tool locally to add new features (see the [user guide](https://docs.esmvaltool.org/en/latest/quickstart/installation.html#install-from-source)).

[2020-07-23 07:23] bascrezee commented on #1660
Hi @mattiarighi, I can confirm that it works fine for complete months as in your case, but it does not yet work for incomplete months for me. But I can live with that, we can close this.

[2020-07-23 07:25] mattiarighi commented on #1660
If you can point to some data where I can test this I think the fix should be quite easy.

[2020-07-23 07:29] bascrezee commented on #1660
Ok, thanks for looking into it. In your example, just remove the last e.g. 5 days of May for the daily data. That should lead to an error.

[2020-07-23 07:45] #1712 closed

[2020-07-23 07:52] mattiarighi commented on #1660
Did you use `cdo` for that?
Because I experience some issues with the time coordinate when using it.
I can also do that with `nco`.

[2020-07-23 07:56] mattiarighi commented on #1697
We are getting there.
@bouweandela @valeriupredoi @jvegasbsc it would be good if you could test the recipes assigned to you, unfortunately I missed the data to do this myself.

@earnone @jhardenberg please fix the errors related to your recipes, @katjaweigel can also help with this.

@tomaslovato there are two of your cmorizers which are not working, it would be great if you could fix them.

I sti

[2020-07-23 08:02] bascrezee commented on #1660
There should be one file per day, right? So what I usually do when playing around with the available input files, is move the whole set of files to another folder. Then linking the subset of files to the `RAWOBSDIR`. (wait for more instructions... working on it)

[2020-07-23 08:04] mattiarighi commented on #1660
Yes, you are right!

Then it's easy, I'll just try moving out some data for the `RAWOBSDIR`.

Stay tuned.

[2020-07-23 08:30] earnone commented on #1697
@mattiarighi great. I understood #1752 by @katjaweigel solved the issues with `recipe_hyint.yml` (#1716), `recipe_hyint_extreme_events.yml` (#1711) and `recipe_extreme_events.yml` (#1718). So we are left with `recipe_rainfarm.yml` (#1715) @jhardenberg . OK?

[2020-07-23 08:33] mattiarighi commented on #1697
Correct.

[2020-07-23 08:35] katjaweigel commented on #1697
@earnone currently I'm  just testing recipe_hyint.yml. Yesterday I had a version which run, but now something went wrong again when I tried to sort my changes into a new branch. Hope I have at least recipe_hyint.yml running again, soon.

[2020-07-23 09:13] YanchunHe commented on #1748
Thanks a lot @mattiarighi
If this is not possible, then I will have to install a personal copy.

[2020-07-23 09:19] #1748 closed

[2020-07-23 10:12] mattiarighi commented on #1741
@bouweandela may correct me if I'm wrong... :grin:

Yes, it does. It will run in parallel using the number of tasks you specified (assuming there are available resources on your machine).

Yes, running in parallel increases the memory usage, since many tasks will load data simultaneously.
This is also written in the log:
https://github.com/ESMValGroup/ESMValCore/blob/d2933db10fd510c907ef0a28aca9a1

[2020-07-23 10:12] #1741 closed

[2020-07-23 10:31] bettina-gier commented on #1751
I remember Daniel did something with sea ice extent before. Found a ncl diagnostic that calculates it in
https://github.com/ESMValGroup/ESMValTool/blob/master/esmvaltool/diag_scripts/seaice/seaice_aux.ncl
Might be possible to use this as a base?

[2020-07-23 10:45] jvegasbsc commented on #1751
I am not sure if it is a good idea to do a derived variable for the `siextentn/s`, although is the most direct way. I doubt mainly because  if you go this way and produce the timeseries as a derived variable it is not easy to extend / customize to get the extent for a specific region, which is something that my colleagues usually request a lot.

My advise will be to compute it in the diagnostic.

[2020-07-23 11:04] jvegasbsc commented on #1697
Regarding my recipes, `recipe_seaice_feedback` already tested and `recipe_seaice_drift` is ongoing. I had to cmorize the NSIDC data, as we only have ERA5 and ERA-Interim in the Tier3 of the common data pool. This is intended, @valeriupredoi ?  Should I put the data I cmorized there?

[2020-07-23 11:15] mattiarighi commented on #1719
This seems to be related to `synda`.
@valeriupredoi can you please help?

[2020-07-23 11:17] #1683 closed

[2020-07-23 11:39] bouweandela commented on #1741
In addition to the explanation by @mattiarighi: [this](https://docs.esmvaltool.org/projects/esmvalcore/en/latest/recipe/overview.html#the-diagnostics-section-defines-tasks) is the documentation we have available on the topic. Note that a single task can actually use multiple processors, this is especially true for preprocessing tasks, because they use iris which in turn uses [dask arrays](https://

[2020-07-23 12:08] bouweandela commented on #1715
Maybe you could try deleting the `~/.julia` directory and running `julia esmvaltool/Julia/install/setup.jl` again?

[2020-07-23 12:26] mattiarighi commented on #1715
Thanks, this solves the problem.

I still have issues with `recipe_example_julia.yml`, but I will reporting this in a separate issue.

[2020-07-23 12:26] #1715 closed

[2020-07-23 12:29] mattiarighi opened #1755 "recipe_julia.yml broken"
[log.txt](https://github.com/ESMValGroup/ESMValTool/files/4965859/log.txt)

[2020-07-23 13:20] tomaslovato commented on #1729
@mattiarighi Hi there!
I found out that xr.open_dataset behaviour is slightly changed wrt to older versions (e.g. 0.13) that I used to develop the code and now it is necessary to specify the pynio engine to correctly open the HDF4 files (as you suggested).
Thus, it will be necessary to add pynio to the environment file ..

Beside that, there a two more corrections to be included in the `cmorize_ob

[2020-07-23 13:24] mattiarighi commented on #1729
Please create a branch `fix_1729` and implemented the suggested changes.
When you are done open a PR and we will test it.

[2020-07-23 13:25] bouweandela commented on #1755
[code]
This looks like a permission error on your filesystem. Do you have the right to read the file?

[2020-07-23 13:27] mattiarighi commented on #1755
I do, `/pf/b/b309057/` is my `$HOME`:

[code]

but only for reading, should it be `r-x`?

[2020-07-23 13:30] bouweandela commented on #1755
Maybe you need write permissions? On my computer it looks like this:
[code]

[2020-07-23 13:31] tomaslovato commented on #1729
@mattiarighi fine ... I'll open a branch from the current master following your indication!

[2020-07-23 13:37] jvegasbsc commented on #1697
Finished ok

[2020-07-23 13:41] #1711 closed

[2020-07-23 13:41] #1716 closed

[2020-07-23 13:42] mattiarighi commented on #1755
Indeed, changing the permissions to `rw` solves the problem.
Closing this for now, although it would be good to know whether someone has a similar issue at DKRZ (@schlunma ?)

[2020-07-23 13:42] #1755 closed

[2020-07-23 13:43] #1300 closed

[2020-07-23 16:26] tomaslovato commented on #1730
@mattiarighi
The code rises an error due to a rather stringent criteria introduced in the function `fix_coords` of `esmvaltool/cmorizers/obs/utilities.py` that requires lon and lat variables to have `standard_name` defined as longitude and latitude to be catched in coords definition.
Unfortunately, the `standard_name` was not an attribute of the ESACCI_OC data.

The simplest solution is to add in

[2020-07-23 16:28] valeriupredoi commented on #1697
I will spend a good bit of next week making sure all my autoassess shtuff still works fine and is ready for the big launch :rocket:  Dealing with some other annoyances, ahem, interesting phenomena in the meantime :grin:

[2020-07-23 19:14] malininae commented on #1751
Thank you @bettina-gier and @jvegasbsc ! I'll proceed with diagnostic calculation then.

[2020-07-23 19:14] #1751 closed

[2020-07-23 19:29] #1730 closed

[2020-07-24 07:31] jvegasbsc commented on #1697
@bouweandela, I tried to run the hydrology recipes but I can not find where to get the shapefiles that they require. It is nor in the recipe nor in the documentation. Is there a reason why you are not telling where to get them?

[2020-07-24 10:02] #1729 closed

[2020-07-24 10:15] bouweandela commented on #1697
@jvegasbsc In principle, the recipes are intended to work with any shapefile describing a river catchment. We recently discussed adding a link to the place where we downloaded them from to the recipe documentation, but this hasn't been done yet. Maybe @nielsdrost can say more about this?

Specifically, copies of the shapefiles mentioned in the recipes can be found here: https://github.com/eWaterCy

[2020-07-24 12:25] mattiarighi commented on #1176
This is due a NCL issue with `.he5` data, see
https://www.ncl.ucar.edu/Support/talk_archives/2010/2310.html

Basically, opening the input file with `addfile` produces a Segmentation fault.

I think the only way out is to rewrite the cmorizer in Python.

[2020-07-24 14:03] bouweandela commented on #1669
Ping @valeriupredoi Could you please have a look at this?

[2020-07-24 14:17] nielsdrost commented on #1697
The hydrology recipes should in principle work with any shape. Usually these will come from HydroSHEDS (https://www.hydrosheds.org/), or some custom shape depending on the use-case. We though about including a few example shapes, but could not figure out how to best do this in ESMValTool. Committing them to the repo did not seem to be the best idea, but I also do not really regard them as a "datas

[2020-07-24 14:46] bouweandela opened #1761 "Monthly ESMValTool meeting - August 2020"
The next monthly ESMValTool meeting will be in August. The result of the poll is that it will be on

Monday August 3 at 14:00 CEST (13:00 BST).

The duration will be one hour. Join the [zoom meeting here](https://us02web.zoom.us/j/86356385817).

@ESMValGroup/esmvaltool-developmentteam

Format and agenda

- We start the meeting by doing a round where everyone gets one minute to introduce themselves

[2020-07-24 14:58] bouweandela commented on #1697
Yes, I think it would be really helpful to put a link to HydroSHEDS in https://github.com/ESMValGroup/ESMValTool/blob/master/doc/sphinx/source/recipes/recipe_hydrology.rst. Maybe we could replace the names of shapefiles in the recipes so their names match a shapefile from that site?

[2020-07-24 15:16] nielsdrost opened #1762 "Reference to HydroSHEDS in Hydrology recipe documentation."
As discussed in #1697:

The Hydrology recipes need the shape of a catchment to work. These usually come from HydroSHEDS (https://www.hydrosheds.org/). We should document this better

https://github.com/ESMValGroup/ESMValTool/blob/master/doc/sphinx/source/recipes/recipe_hydrology.rst.

If we can refer to a nice default share from Hydrosheds we could even replace the default shape in the recipe with

[2020-07-24 15:18] nielsdrost commented on #1697
Created a separate issue (#1762)

[2020-07-24 17:00] chengzhuzhang opened #1763 "OBS and OBS6 data retrieve"
Thank you for making this powerful evaluation tool! I'm working on setting up the tool on a machine at Lawrence Livermore National Lab, which we have access to CMIP, obs4mip, ana4mip data. However, it is not clear how to get OBS and OBS6 data transferred to make best use of the tool. Would you please advise if there is a way to download both data?

[2020-07-27 06:21] mattiarighi commented on #1763
Dear @chengzhuzhang, thank you for your interest in the tool!

Unfortunately we are not allowed to redistribute the observational data together with the tool itself.

The standard procedure for obtaining the `OBS` and `OBS6` data is to download the raw data from the respective sources and apply the cmorizers given in `esmvaltool\cmorizers\obs\`, which also contain details about the data source and

[2020-07-27 06:21] #1763 closed

[2020-07-27 10:58] valeriupredoi commented on #1697
tested the ones that had my name against them plus the two validation ones plus the preprocessor derive (note for the last one no OImon data for HadGEM2-A on Jasmin/BADC neither in output1 nor output2, maybe we should use a slightly less obscure dataset?) :beer:

[2020-07-27 15:22] mattiarighi opened #1764 "Provenance of recipe_ecs_constraints.yml to be improved"
See discussion in https://github.com/ESMValGroup/ESMValTool/pull/1585#pullrequestreview-446454302.

[2020-07-27 15:22] #1584 closed

[2020-07-28 06:49] #1393 closed

[2020-07-28 06:54] mattiarighi commented on #1718
@earnone @jhardenberg any news here?

@katjaweigel would it be possible for you to implement the same fix of #1752 in `extreme_events\extreme_events.R` and `magic_bsc\extreme_index.R`?

[2020-07-28 11:49] #1660 closed

[2020-07-28 11:56] valeriupredoi opened #1765 "esmvaltool.org site down or inaccessible if TLS1 and 1.1 not enabled"
![esmvaltoolorg-down](https://user-images.githubusercontent.com/28983971/88662334-b7495480-d0d1-11ea-9433-5d3503bf36f3.png)

[2020-07-28 11:58] valeriupredoi commented on #1765
[code]

[2020-07-28 12:02] axel-lauer commented on #1765
I think the problem is the outdated TLS version used by our website (see also https://github.com/ESMValGroup/ESMValTool/issues/1738). I have been in contact with our IT department and they promised to update the TLS version soon...

[2020-07-28 12:19] valeriupredoi commented on #1765
cool! cheers @axel-lauer - feel free to close this, if duplicate :beer:

[2020-07-29 07:10] #1765 closed

[2020-07-29 07:20] mattiarighi commented on #1176
Actually, it is possible to convert 'he5' to 'nc' using 'ncks'.
I implemented the fix in #1766.

[2020-07-29 12:14] #1176 closed

[2020-07-30 09:35] katjaweigel commented on #1718
I'm testing it, branch fix_extreme_events_ancestor

[2020-07-30 12:52] bouweandela opened #1770 "ERA-Interim CMORizer does not add positive attribute to plev coordinate"
The `plev` coordinate of data produced by the ERA-Interim CMORizer looks like this:
[code]
while it should look like this
[code]
according to the CMOR tables.

[2020-07-30 13:25] bouweandela commented on #1697
I changed the mip of the last diagnostic in #1768, so now at least it runs, but just realized that it probably was the wrong way to fix it, because the description is `Test sispeed`, so probably the variable name was wrong too. A more likely test would be
[code]
@jvegasbsc I think you originally added this. Is it OK to leave it as is? If not, can you fix it?

[2020-07-30 14:50] jvegasbsc commented on #1697
Fixed, waiting for the test to finish on Jasmin...

[2020-07-30 15:15] #1477 closed

[2020-07-30 15:18] #1770 closed

[2020-07-30 17:13] bouweandela commented on #1761
@ESMValGroup/esmvaltool-developmentteam The meeting will take place on Monday August 3 at 14:00 CEST (13:00 BST).

[2020-07-31 11:36] bouweandela opened #1775 "Autoassess recipes documentation"
We have the following Autoassess recipes available in ESMValTool:

- recipe_autoassess_landsurface_permafrost.yml
- recipe_autoassess_landsurface_snow.yml
- recipe_autoassess_landsurface_soilmoisture.yml
- recipe_autoassess_landsurface_surfrad.yml
- recipe_autoassess_radiation_rms_Amon_all.yml
- recipe_autoassess_radiation_rms_Amon_obs.yml
- recipe_autoassess_radiation_rms_cfMon_all.yml
- recipe_a

[2020-07-31 12:15] valeriupredoi commented on #1775
@bouweandela the only autoassess recipes that need to be included in the release are:
- recipe_autoassess_radiation_rms_Amon_all.yml
- recipe_autoassess_radiation_rms_Amon_obs.yml
- recipe_autoassess_radiation_rms_cfMon_all.yml
- recipe_autoassess_stratosphere.yml
since the others have not been reviewed yet. The stratosphere one has documentation prepared by @alistairsellar and I would feel uncomf

[2020-08-03 05:57] #1718 closed

[2020-08-03 09:17] #1579 closed

[2020-08-03 09:42] mattiarighi commented on #1697
We are almost there:

- @valeriupredoi any news on `recipe_autoassess_radiation_rms_cfMon_all.yml`
- it looks like we can't fix #1742 without a new ESMValCore release, is there a workaround?

[2020-08-03 09:47] valeriupredoi commented on #1697
yes - done, forgot to check the box :grin:

[2020-08-03 09:51] #1659 closed

[2020-08-03 09:51] #1731 closed

[2020-08-03 11:28] bouweandela commented on #1697
We could try removing the multi model statistics from the recipes as a workaround, but it looks like @ledm is still working on these recipes in #1331 and  #1621, so my impression is that this is not ready for the current release.

[2020-08-03 11:31] valeriupredoi commented on #1742
no of course not, because you can't build a reliable statistic from a single point - not a bug but a featurette :grin:

[2020-08-03 11:32] mattiarighi commented on #1697
That's bad, because it is in the Part II paper.
I would suggest to at least remove the multimodel stats if the recipe is running.

[2020-08-03 11:33] mattiarighi commented on #1742
Is there a way to fix this without touching the Core?

[2020-08-03 11:34] bouweandela commented on #1742
But the statistic is along the dataset dimension right, not time?

[2020-08-03 11:35] valeriupredoi commented on #1742
oh is that a single point in time? in that case it should be fine, let me check

[2020-08-03 11:39] bouweandela commented on #1742
Yes, see also this comment here: https://github.com/ESMValGroup/ESMValCore/pull/685#discussion_r450186746

[2020-08-03 11:44] valeriupredoi commented on #1742
ah right, sorry - just read the trace message - this is a problem that'll bite us anywhere we are calling `guess_bounds()` from iris - it's dirty to implement an exception for a single point outside iris so I suggest we fix this the right way - by asking the iris guys to fix it - they can set some synthetic bounds for such cases. At any rate, a single time point can be chosen in the diagnostic so

[2020-08-03 12:59] mattiarighi commented on #1742
This is the log for `recipe_ocean_bgc.yml`: [main_log.txt](https://github.com/ESMValGroup/ESMValTool/files/5016066/main_log.txt)

[2020-08-03 13:41] #1762 closed

[2020-08-03 13:49] #1697 closed

[2020-08-03 14:00] mattiarighi commented on #1742
As as workaround, we excluded `WOA` from `recipe_ocean_bgc` and `multi_model_stats` preprocessor from `recipe_ocean_example.yml`.

[2020-08-03 14:06] bouweandela commented on #1761
Thanks for attending everyone!

Here is a summary with some news:

- @katjaweigel Submitted the new paper on diagnostics for extreme events, regional and impact evaluation
- @SarahAlidoost Reported that there has been a lot of progress on [the new tutorial](https://esmvalgroup.github.io/ESMValTool_Tutorial/) ([source repository](https://github.com/esmvalgroup/esmvaltool_tutorial)) in tutorial spri

[2020-08-03 14:06] #1670 closed

[2020-08-03 14:13] bouweandela commented on #1742
Closing this issue, as we have a workaround in place in `master` and v2.0.0 now.

Related to #1331 and #1621

[2020-08-03 14:13] #1742 closed

[2020-08-03 14:28] mattiarighi opened #1780 "Change ERA-Interim to Tier 2"
The ECMWF just announced that several of their products "will be governed by the Creative Commons 4.0 licence (CC-BY-4.0) as of Wednesday 05 August 2020."

This affects the [real-time catalogue](https://www.ecmwf.int/en/forecasts/datasets/catalogue-ecmwf-real-time-products) as well as the [archived catalogue](https://apps.ecmwf.int/archive-catalogue/), i.e. `ERA-Interim` is now Tier 2.

[2020-08-03 15:21] bouweandela opened #1782 "Add Eyring 2020 GMD paper to list of references"
It would be good to add this paper to config-references.yml:
https://gmd.copernicus.org/articles/13/3383/2020/
and refer to it from the recipes/diagnostics it describes. It could also be added on the recipe documentation page.

[2020-08-03 15:23] mattiarighi commented on #1782
The same applies to [Lauer et al.](https://gmd.copernicus.org/preprints/gmd-2020-60/) (in press) and Weigel et al. (submitted).

[2020-08-04 07:53] #679 closed

[2020-08-07 07:54] bouweandela opened #1788 "Automate testing of docker containers"
Dockerhub can automatically run tests when building docker containers. It would be good to automate testing of our containers. Instructions are here: https://docs.docker.com/docker-hub/builds/automated-testing/

[2020-08-07 07:59] bouweandela commented on #1676
@tommibergman Any news? Did you manage to solve the issue with the proxies? It would be interesting to know how you did it, because then we can add that as a hint to our installation instructions. Note that we released a new version of ESMValTool, v2.0.0 and a new conda package in the mean time.

[2020-08-07 08:00] bouweandela commented on #1588
@ledm It would be great if you could tweet about the v2.0.0 release

[2020-08-07 08:15] valeriupredoi commented on #1788
would love to take care of this! next week though, starting Tuesday (am taking Mon off) :beer:

[2020-08-07 08:45] bouweandela commented on #1354
@bascrezee Is this issue still open? I just tested with ERA5 data and there it seems to work fine:
[code]

[2020-08-07 08:51] bouweandela commented on #1277
@bascrezee Feel free to re-open this issue if it's still relevant.

[2020-08-07 08:51] #1277 closed

[2020-08-07 08:53] bouweandela commented on #1312
Closing this, as an overview issue does not seem needed for just two remaining issues.

[2020-08-07 08:53] #1312 closed

[2020-08-07 08:58] bouweandela commented on #1156
There is a FAQ section in the documentation now: https://docs.esmvaltool.org/en/latest/faq.html, it can be edited [here](https://github.com/ESMValGroup/ESMValTool/blob/master/doc/sphinx/source/faq.rst).

[2020-08-07 08:59] #1028 closed

[2020-08-07 09:02] bouweandela commented on #997
The website has been updated some time ago. It would be good to open a new issue if additional changes are needed.

[2020-08-07 09:02] #997 closed

[2020-08-07 09:05] bouweandela commented on #715
@katjaweigel This was the issue I was talking about last meeting.

[2020-08-07 09:12] katjaweigel commented on #715
Ok, thanks! Its probably a good idea to provide that also for R, although I'm not sure if it would solve the issue. I managed to provide also the wrong data type (string instead of list) for the python provenance as well. String instead of list for ancestors now leads to a warning instead of an error, therefore I was wondering if that could not be done for nested list instead of list as well (This

[2020-08-07 09:57] bouweandela commented on #715
I was planning to make the tool more strict on providing the correct type and allow only 1 type, e.g. list of strings for `ancestors`, because allowing multiple options is more difficult to understand for new users. I think that will avoid the problem for Python, because then we already find that something is wrong when we're testing the recipes in the pull request. Of course, this might require s

[2020-08-07 10:13] bouweandela commented on #1775
It would be a great start if you could make sure that there is documentation for each recipe and that it follows the [template](https://github.com/ESMValGroup/ESMValTool/blob/master/doc/sphinx/source/recipes/recipe_template.rst.template), that would mostly be technical work. I assigned you to this issue, because you're listed as the maintainer. If you feel that other people would be more suited fo

[2020-08-07 13:13] bascrezee commented on #1354
Yes, if I remember correctly, this has been solved by https://github.com/ESMValGroup/ESMValTool/pull/1471, can be closed.

[2020-08-07 13:13] #1354 closed

[2020-08-12 08:40] #1736 closed

[2020-08-21 13:05] stefsmeets opened #1791 "Use pre-commit to run formatters and linters"
Hi, ESMValTool is fairly strict on coding practices, but it places a lot of the burden on the contributors to do those checks and fixes by hand. While some of the most commont pep8/flake8 errors are fairly easy to fix automatically (sorting imports, redundant white-space). I was discussing with @Peter9192 whether it would be worth adding some automated tools for this.

I have good experience with

[2020-08-21 15:25] thomascrocker opened #1792 "Installing R dependencies fails"
I tried to install ESMValTool via conda but ran into an issue when it was installing some R packages.
I then tried installing from source. The installation was successful (I think) but when running
`$ esmvaltool install R`
I get the following error message (this is the same error I got when trying to install the conda package originally):

installing R packages, please wait...
Compiling may take u

[2020-08-24 07:57] bouweandela commented on #1791
Related to ESMValGroup/ESMValCore#642

[2020-08-24 09:03] bouweandela commented on #1791
Related to #1160

[2020-08-24 09:13] bouweandela commented on #1791
Indeed pre-commit is nice. The same effect can be achieved by installing plugins for an IDE that automatically run isort, yapf and editorconfig when a file is saved and a pylint or prospector plugin that shows warnings before lines that contain problems.

Good documentation is important for the pre-commit hooks, because we would really like to avoid the situation where potential contributors are d

[2020-08-24 11:45] bouweandela commented on #1792
It looks like you previously installed the R yaml library for version 3.6.1 of the R interpreter, but are now trying to use the same installation with version R version 4.0.2.

Are you sure the conda environment correctly activated? When I run the command above, the message is
[code]
i.e. the environment called `esmvaltool` is stored inside the conda installation in a directory called `envs`. Assu

[2020-08-24 12:22] bouweandela opened #1793 "Summaries in API not building correctly with autodocsumm 0.2.0"
Version 0.2.0 of autodocsumm includes imported functions in the summary.

The unit test is failing on CircleCI too: `python setup.py build_sphinx --warning-is-error` gives:
[code]
because it tries to add the [`product`](https://docs.python.org/3.8/library/itertools.html#itertools.product) function from the `itertools` library and then fails to handle the `*` in the argument name correctly.

[2020-08-24 12:47] thomascrocker commented on #1792
Thanks, I just figured it out. I was inside the correct conda environment, but the version of R that conda had installed was conflicting with a system wide one that was loaded. (via the module system)
I did
`module unload R`
to unload that module and then tried
`esmvaltool install R`
again and got installation successful.

Just checked and
`python setup.py test`
Has passed 100% of tests. :-)

Than

[2020-08-24 12:47] #1792 closed

[2020-08-24 14:28] bouweandela commented on #1791
Also related: https://github.com/ESMValGroup/ESMValCore/issues/756

[2020-08-25 02:12] malininae opened #1797 "Land-sea mask use, threshold"
Hi,

I was wondering, if there is any chance to create a land-sea mask over certain threshold in the preprocessor? For example, mask out the cells with the land fraction under 50%?

If I understand it correctly, the current feature

mask_landsea:
      mask_out: sea
      fx_variables: [{'short_name': 'sftlf', 'exp': 'piControl'}]

will just mask out only  sea cells, right?
Or such a custom maskin

[2020-08-25 11:12] jgriesfeller opened #1798 "www.esmvaltool.org does not support TLS 1.2 for SSL"
Hi,

not sure if this is the right place to report this, but as you might know current browsers want to face out TLS1.0 and TLS 1.1 because they are considered insecure. Current firefox complains so that one has to make an effort to use www.esmvaltool.org:
[code]
Future browser versions will drop TLS 1.0 and 1.1 support entirely.

I think you might want to update your web server software.

[2020-08-25 11:38] Peter9192 commented on #1797
Hi @malininae ,
You're right, the `mask_landsea` preprocessor masks out any cells where the majority (>50%) is either land or sea.

There is also a [`mask_above_threshold` function](https://docs.esmvaltool.org/projects/esmvalcore/en/latest/recipe/preprocessor.html#minimum-maximum-and-interval-masking), but that is directly applied to a cube itself, rather than to other cubes like you would want. M

[2020-08-25 19:47] malininae commented on #1797
Hello @Peter9192 ,

Thank you for your answer! So the **mask_out: sea** will mask the the cells, which are covered > 50 % with sea and not 100%? Then it is exactly what I was looking for :+1: :) Sorry, should have read the source code more attentively.

[2020-08-26 08:09] Peter9192 commented on #1797
Great! I'll close this issue then :+1:

[2020-08-26 08:09] #1797 closed

[2020-08-26 09:25] #1793 closed

[2020-08-26 09:27] bouweandela commented on #1798
Thanks for reporting! I looks like this issue is a duplicate of #1738.

[2020-08-26 09:29] #1798 closed

[2020-08-26 09:29] bouweandela commented on #1738
@axel-lauer Any news from the IT department?

[2020-08-27 12:10] bouweandela opened #1801 "Monthly ESMValtool meeting September"
The next monthly ESMValTool meeting will be in September. I have created a doodle where you can choose preferred days and times, please do so before September 2 if you would like your preference to be taken into account:

https://doodle.com/poll/8qz3v5hnvcr36c9i

The duration will be one hour. Join the [zoom meeting](https://us02web.zoom.us/j/86356385817).

@ESMValGroup/esmvaltool-developmentteam

[2020-08-28 10:17] bjoernbroetz opened #1802 "New CMORizers for some observations/reanalyis."
We need a few more observational data sets and reanalysis available for the ESMValTool. Here we would like to add:

- COBESST2 #1784
- HadSLP2 #1785
- NCEPslp #1800
- NOAACires20crv2c #1786
- NOAA-ERSSTv3b #1799
- NOAA-ERSSTv5 #1799
- ERA20c

[2020-08-28 11:05] valeriupredoi commented on #1801
anytime's good for me, bud as long as you tell me the BST time :grin:

[2020-08-28 12:04] valeriupredoi commented on #1775
Yup, that's called for. My apologias for ignoring these - I was always hopeful we could fix them and review them before the release. @alistairsellar and myself will work on a branch, I will move them there in a jiffy :+1:

[2020-08-28 13:12] stefsmeets opened #1803 "Problem with CMORized E-OBS dataset in detrend preprocessor"
**Describe the bug**
When implementing a new recipe (https://github.com/ESMValGroup/ESMValTool/pull/1648) we came accross an problem when using a CMORized E-OBS dataset.

Specifically once we added the detrend preprocessor, an error was raised because of NaNs in the data. This might be a problem with the CMORizer as suggested here https://github.com/ESMValGroup/ESMValTool/pull/1648#discussion_r477

[2020-08-28 13:56] bouweandela commented on #1803
@stefsmeets Could you confirm that the NaNs are not masked?

[2020-08-28 14:24] stefsmeets commented on #1803
I could, but I don't know how

[2020-08-28 14:59] bouweandela commented on #1803
You could open the data with iris and use numpy to see if there are any nan values that are not masked, e.g. using `numpy.isnan`. Or you could use `ncdump` to print the content of the file to stdout, masked values are represented by `_`. I guess you could use `grep` to search for NaNs, I'm not sure how `ncdump` represents those.

[2020-08-31 15:17] #1791 closed

[2020-09-01 13:47] stefsmeets commented on #1803
Thanks for the suggestion. I checked the datasets with iris, and there do not seem to be any NaN values in the data. The mask is quite large though (~77%).

- `OBS_E-OBS_ground_v21.0e-0.25_Amon_pr_195001-201912.nc`
- `OBS_E-OBS_ground_v21.0e-0.25_Amon_tas_195001-201912.nc`

[2020-09-02 11:03] bouweandela commented on #1803
Thanks for checking! In that case, the NaNs are probably introduced either in the preprocessor as defined in the recipe in #1648 or in the diagnostic in the same pull request. Maybe you could have a look at the files in the `preproc` directory of the run to see if the NaNs are introduced by the preprocessor?

[2020-09-02 11:46] axel-lauer commented on #1738
It's still on their radar but more urgent tasks are keeping them busy at least all of September... I will inquire again early October just to make sure they did not forget.

[2020-09-02 13:29] bouweandela commented on #1801
@ESMValGroup/esmvaltool-developmentteam The meeting will take place on Thursday September 10 at 10:00 CEST (9:00 BST).

[2020-09-02 13:57] bouweandela commented on #694
Done some time ago

[2020-09-02 13:57] #694 closed

[2020-09-02 14:20] bouweandela commented on #1803
I looked at this in a bit more detail, but looks like `scipy.signal.detrend` completely ignores the mask:
[code]
gives
[code]
so it looks like the `detrend` preprocessor is not able to handle masks: https://github.com/ESMValGroup/ESMValCore/blob/594cb65498f92e6c08586e86d05933538be09de1/esmvalcore/preprocessor/_detrend.py#L32

[2020-09-04 12:43] #1671 closed

[2020-09-07 15:42] valeriupredoi opened #1807 "Installation on OSX"

[2020-09-07 15:43] valeriupredoi commented on #1253
closing this because it is deprecated, reopen new issue in #1807

[2020-09-07 15:43] #1253 closed

[2020-09-08 12:11] valeriupredoi commented on #1807
Can one of the tech devs look into the OSX issues please (I would do it myself but I don't have access to a Mac, and I am really phobic to them anyway :grin: ) - we need to sort these issues out albeit I am quite pessimistic about the Python 3.8.5 env solvability :beer:

[2020-09-10 08:39] bouweandela commented on #1801
Release strategy discussion #1809

[2020-09-10 08:51] schlunma commented on #1801
Multimodel masking: ESMValGroup/ESMValCore#487, ESMValGroup/ESMValCore#767

Preprocessor ordering (`extract_time`): ESMValGroup/ESMValCore#762

[2020-09-10 09:18] nielsdrost commented on #1807
Thanks @valeriupredoi for this! Unfortunately I do not have a mac either :-(

[2020-09-10 10:19] rswamina opened #1810 "Preprocessor taking very long time processing large data files like ocean data"
I encountered a problem when processing large data sets (e.g. ocean variable like thetao and pi-ctrl data running to several hundered years). Despite ordering preprocessors in what I thought would be an efficient way to process the data, the program either hangs/runs out of memory. I reduced the number of years to a very small number and did manage to complete the preprocessing. I ran these on JAS

[2020-09-10 15:27] valeriupredoi commented on #1807
@nielsdrost not a worry! I got me access to a remote OSX via a VM: good news - installation from source via a miniconda3 environment works all fine for an osx=10.14.6 - I'll test more stuffs, bad news - I don't know where to get an osx=10.15 but hey, a bit older but golden :grin:

[2020-09-10 15:47] valeriupredoi commented on #1807
OK - progress (sort of): on an osx=10.14.6 with fresh miniconda3 install and python=3.8.5 I get the same exact (cryptic) error as the GA machine reports:
[code]
But not even creating en empty environment and trying to install python=3.8.5 doesn't work, not even doing anything esmvaltool-y:
[code]
so that means there is something inherently wrong with conda and python 3.8.5 on OSX! testing now with

[2020-09-10 15:59] valeriupredoi commented on #1807
...and starting from a Python=3.8.3 or 3.8.5 from (base) esmvaltool env creating works but reverts Python to 3.7.3 and trying to shove 3.8 in results in condatears:
[code]

[2020-09-10 16:37] valeriupredoi commented on #1807
OK I give up - I created a test environment with just `python=3.8` as dependency and tried both the esmvaltool conda installation and the installation from source with prior `conda env update -n testpy38 -f environment.yml` and I am still hitting the same deps conflicts and conda not being able to solve the environment; and the damn thing is not clearly telling me which is which one creating confl

[2020-09-11 08:04] LisaBock opened #1811 "Extend WOA cmorizer for WOA18 data"
We need to extend the WOA cmorizer for the newer WOA18 data.

[2020-09-11 08:21] #1761 closed

[2020-09-11 09:03] bouweandela commented on #1801
Thanks for attending @ESMValGroup/esmvaltool-developmentteam!

Here is a summary with some news:
- We have a proposal for when and how we will make the releases in the coming year #1809, please comment if you have an opinion
- We may have another (online) workshop this autumn. @axel-lauer will look into organizing this, starting with creating an issue to collect topics we could work on
- @axel-lau

[2020-09-11 09:12] bouweandela opened #1813 "Monthly ESMValtool meeting October"
The next monthly ESMValTool meeting will be in October.  The result of the poll is that it will be on

Thursday October 1 at 16:00 CEST (15:00 BST).

The duration will be one hour. Join the [zoom meeting](https://us02web.zoom.us/j/86356385817).

@ESMValGroup/esmvaltool-developmentteam

Format and agenda

- We start the meeting by doing a round where everyone gets one minute to introduce themselves

[2020-09-11 09:27] chrisdane opened #1814 "for ECS, how exactly is the anomaly between 4CO2 and piControl defined?"
Hi

To calculate the equilibrium climate sensitivity (ECS), `dT = T_4CO2 minus T_piControl` needs to be calculated. My question is, what exactly is subtracted from what? I tried to understand
https://github.com/ESMValGroup/ESMValTool/blob/815dc31f56cc579481dd5ea5c26885262be4438c/esmvaltool/diag_scripts/climate_metrics/ecs.py#L61-L80
but unfortunately I failed :( Why do you calculate the linear tre

[2020-09-14 09:34] schlunma commented on #1814
Hi @chrisdane

Thanks for your interest in the ESMValTool!

When we defined the the ECS diagnostic of ESMValTool, we had the same problem that you mention in your question: in most papers, it is not clearly stated how to calculate the anomaies from the `abrupt4xCO2` run and the `piControl` run.

Since one of the first plots regarding ECS that we implemented in the ESMValTool was [Figure 9.42](http

[2020-09-14 11:20] chrisdane commented on #1814
Thanks @schlunma! Maybe someday I'll find the time to implement other methods as you suppose ;) (controversal question: is the larger CMIP6 vs CMIP5 ECS simply due to this subtraction issue? :P)

Chris

[2020-09-14 11:20] #1814 closed

[2020-09-14 12:09] schlunma commented on #1814
I would hope that everyone comparing CMIP5 vs. CMIP6 ECS uses the same method of calculating ECS for both model ensembles :wink:

[2020-09-14 12:25] bouweandela opened #1816 "ESMValTool v2.0.0 build 0 conda package uses system compilers"
It was reported by @bjoernbroetz that the ESMValTool v2.0.0 build 0 conda package uses compilers provided by the system instead of the `compilers` package from conda-forge. This leads to unexpected behavior when users are trying to install ESMValTool on a machine where the installed compilers are too old or too new.

[2020-09-14 13:32] valeriupredoi commented on #1816
I highly doubt this! Can we pls get some actual stdout with the error @bjoernbroetz :beer:

[2020-09-14 13:35] valeriupredoi commented on #1807
found the bugger! `conda` is like a woman that says ALL'S FINE but inreality stuff's anything but fine, it should really be more verbose -> it's `libunwind` that is conflicting with other packages for python=3.8 - interestingly enough it doesn't complain for >=3.7 even though `libunwind` does not have support for OSX (!!!) see [here](https://anaconda.org/conda-forge/libunwind)

[2020-09-15 07:27] axel-lauer opened #1817 "Topics for ESMValTool workshop in November"
Dear ESMValTool developers,

During the last monthly ESMValTool meeting (#1801), the idea came up to have another ESMValTool workshop this year. At the moment, this would probably be a remote workshop, similar to the one we had in [March 2020](https://www.esmvaltool.org/pdf/Summary_ESMValTool_Workshop_Mar_2020.pdf). Here, I would like to collect possible topics for our next workshop. Ideas for top

[2020-09-15 07:58] axel-lauer opened #1818 "Scientific reviewers for pull requests"
Dear ESMValTool developers,

Some pull requests are open for a long time because it is often hard to find developers that could do the scientific review of a new recipe. Here, I would like to compile a list of potential developers that could be asked to do such a review as discussed at the last monthly ESMValTool meeting (#1801). I tried to sort the proposed potential reviewers by scientific theme

[2020-09-15 09:59] SarahAlidoost opened #1819 "Improve documentation on how to check the code style"
The documentation in `Contributing to the community/Introduction/Code style` now covers instructions on checking codes using **pre-commit** and **python-related tools** i.e. isort. Yapf, docformmater, and prospector. It seems that it recommends users first, running pre-commit and then run one of those tools to fix any formatting errors and invalid syntax. This section benefits from a better explan

[2020-09-15 10:38] bjoernbroetz commented on #1816
Entwarnung. The conda package is working fine. No mixing-up with the system compilers. Sorry for generating this noise :beer:

[2020-09-15 10:38] #1816 closed

[2020-09-15 10:53] bouweandela commented on #1578
@bettina-gier This could be interesting for you.

[2020-09-16 05:53] jgriesfeller commented on #1818
Raising my hand for Atmosphere - aerosols.
I am working for @MichaelSchulzMETNO.

[2020-09-16 07:15] axel-lauer commented on #1818
@jgriesfeller : Thanks! That's great! I added you to the list.

[2020-09-18 09:27] bouweandela opened #1823 "Check if command line arguments are valid"
At the moment the `esmvaltool` command does not check if any invalid arguments are provided, e.g. a command like this
[code]
will happily run and try to use the configuration file in `~/.esmvaltool/config-user.yml`. This is very confusing if that file contains an error and you do not spot the typo in the command.

[2020-09-18 09:28] bouweandela commented on #1823
@jvegasbsc Would you be able to have a look at this?

[2020-09-18 09:31] stefsmeets commented on #1823
I have a working fix for this in https://github.com/ESMValGroup/ESMValCore/pull/785

[2020-09-18 10:25] ledm opened #1824 "Diagnostic to calculating a given time range in the picontrol"
Hey,

I wrote a short and pretty basic diagnostic script which takes the historical netcdf attributes like `branch_time_in_parent` and calculates the equivalent time range in the PI control.

This has helped me fill out the dataset time range value in recipes that need to detrend the historical using the behaviour of the PI-control over the same time period.

Is that useful for anyone else?

[code

[2020-09-18 12:10] goord opened #1825 "The 'mip' keyword in recipe yaml is confusing"
The 'mip' field in the datasets dictionaries refer to CMIP-tables, not to MIP's themselves. There is certainly not a one-to-one correspondence between the two concepts, so I suggest to rename the key to e.g. 'table'

[2020-09-18 12:13] goord opened #1826 "esmvaltool recipes list unordered"
I would suggest to order the recipe names from `esmvaltool recipes list` alphabetically within each subsection.

[2020-09-18 14:14] stefsmeets commented on #1826
Good suggestion! That's simple enough to do, I made a PR here: https://github.com/ESMValGroup/ESMValCore/pull/790

[2020-09-18 15:37] jvegasbsc commented on #1823
I added me as a reviewer to keep track of it. Let me know if you need help with anything

[2020-09-18 15:49] Peter9192 commented on #1823
Is it simple enough to make a separate PR with that fix @stefsmeets ? Because #785 seems to be quite big, and may take a while to get merged.

[2020-09-21 07:18] stefsmeets commented on #1823
I think this would be tricky. Although we could easily make a PR out of the config validation by itself, we would have to do something with the nested variables (mostly `rootpath` and `drs`) in the user config, and the 'session directories' (e.g. `run_dir`, `work_dir`). In the end I think we would end up writing some code that we would have to change if #785 goes through, so I would rather like to

[2020-09-21 11:37] valeriupredoi commented on #1823
sneaky - shouldn't this be a builtin of `fire` instead of us patching it?

[2020-09-21 12:11] #1826 closed

[2020-09-21 12:19] stefsmeets commented on #1823
Yeah, you would think so. But it does not seem to have any way to add defaults or type checking in the way that argparse does. I think the main objective of Fire is to be simple and easy to use. Since ESMValCore pushes all the command line variables to the config anyway, it seems logical to do validation there.

[2020-09-21 12:43] bouweandela commented on #1825
@ESMValGroup/esmvaltool-developmentteam Is there anyone with an opinion on this proposal?

[2020-09-21 12:50] bouweandela commented on #1113
Now that we have `pre-commit` set up (#1791), we could probably run `pre-commit` as a separate job on CircleCI on any changed files in the pull request to check the style. This would need to exclude the spell checker though, as it produces too many warnings about things that are not wrong.

This has been implemented using GitHub actions (#1806), but it is not mentioned anywhere in the documentatio

[2020-09-21 12:56] axel-lauer commented on #1825
The official CMIP(5) Data Reference Syntax (DRS) speaks of 'MIP table', but I agree that 'mip' is probably confusing if you do not know this field actually refers to 'mip table'. I would prefer to call it e.g. 'mip_table' instead of 'table' to be more precise this time.

[2020-09-23 10:27] valeriupredoi commented on #1825
I'm with @axel-lauer on this one! `table` can be easily confused with CMOR tables

[2020-09-23 10:35] Peter9192 commented on #1825
@valeriupredoi I'm confused now. Can you explain the difference between 'MIP table' and 'CMOR table'? I was looking at the explanation [here](https://redmine.dkrz.de/projects/cmip6-dicad/wiki/MIP_table_-_differences_between_CMIP5_and_CMIP6), which seems to suggest they're the same thing:

i.e. they talk about CMIP6 MIP tables, but refer to a repo which is named CMIP6 CMOR tables...

[2020-09-23 10:49] valeriupredoi commented on #1825
they are the same by name - CMOR tables are constructed based on the specifications laid down by the CMIP Data Request in mip [tables](http://clipc-services.ceda.ac.uk/dreq/index/miptable.html); the thing is I am saying, just as Axel, that we should be more specific with your variable naming convention and don't use the general `table` because this is for the DRS and has nothing to do with CMOR va

[2020-09-23 10:52] valeriupredoi commented on #1825
@zklaus @jvegasbsc are Dreq/MIP/CMOR experts so I'd be interested what they think :+1:

[2020-09-23 10:54] Peter9192 commented on #1825
Ah okay thanks for the clarification Vi! BTW I totally agree that it's better to be specific

[2020-09-24 09:04] bouweandela commented on #1515
Related to #1205

[2020-09-24 11:17] bouweandela commented on #1817
I would like to propose that we work on getting many of the currently open pull requests merged or closed with everybody happy about the outcome. A lot of work has gone into creating these pull requests, so it would be great if we could finalize it. Having (part of) a week where we all work together, could really help to get these across the finish line!

Here is a list, in no particular order:

@

[2020-09-24 11:27] valeriupredoi commented on #1817
thank you for putting this together @bouweandela :beer: - it's a very good idea and I will be there (sad it's not near a Bavarian beer garden but such is pandemic life); I've added a couple more PR's under me name in your list - specially the dependency and solving the OSX install and portability are important!

[2020-09-24 11:50] ruthlorenz commented on #1818
is there information on what is expected from a scientific review? or a "how to guide" with best practices? might be helpful for people who have never done it before

[2020-09-24 13:13] zechlau commented on #1818
I am fine reviewing a GHG pull request. Could someone point me to these? Could nod find any label adressing it....

[2020-09-25 08:57] nielsdrost commented on #1817
I really like the idea of focusing on getting PRs merged! How do we prioritize? Oldest first?

[2020-09-25 13:58] bouweandela commented on #1825
I agree with @valeriupredoi  that it would be good to follow the existing conventions, though maybe not with the capitalization. @valeriupredoi Is there a similar document for CMIP6?

[2020-09-28 13:36] bouweandela commented on #1818
@ruthlorenz Very good suggestion, we'll need to write one!

@zechlau Great! The list is intended as a reference of who to ask when a pull request comes in. What does GHG stand for? Then we can add you as a specialist for this topic.

[2020-09-28 14:32] lukasbrunner opened #1830 "Inconsistend longitude convention?"
Hi all!

I am currently testing the new recipe ClimWIP, which, among other things, calls the pre-processor to extract the following region:
https://github.com/ESMValGroup/ESMValTool/blob/414d7d2e84a62a777dfada79297c0ed400b6bbd3/esmvaltool/recipes/recipe_climwip.yml#L52-L56

For me the resulting longitude values look like this:
` lon = -1.25, 1.25, 3.75, 6.25, 8.75, 11.25, 13.75, 16.25, 18.75, 21.2

[2020-09-28 15:18] Peter9192 commented on #1818
greenhouse gases, already enlisted ;-)

Perhaps we could indeed add labels for the topics that Axel used above? I'm not sure if that list is exhaustive though. What to do with PRs that don't fit in these categories?

[2020-09-28 15:36] axel-lauer commented on #1818
The labels are a good idea. Any ideas/wishes how these should look like? Also, please feel free to add to our list, this was meant as a starting point only. Any input is welcome!

[2020-09-29 09:14] axel-lauer commented on #1817
Another topic could be a brief summary of the work done for the ESMValTool tutorial.

[2020-09-29 13:09] valeriupredoi commented on #1830
Hello @lukasbrunner cheers for raising this! This should indeed not happen since the longitude coordinate is CMOR standardized and has 0-360 bounds, in fact, the proprocessor function `extract_region` subsets the region on 0-360 by:
[code]
I will have a look and try reproduce the issue. In the meantime I suggest  @Peter9192 and/or @stefsmeets have a look at the recipe since you guys are recipe mai

[2020-09-29 13:50] mattiarighi commented on #1120
Talking about intake, today's tech-talk by DKRZ on this subject might be of interest:
https://www.dkrz.de/up/de-news-and-events/de-tech-talks/de-dkrz-tech-talk-intake-taking-the-pain-out-of-data-access

It should be available on their [video channel](https://www.youtube.com/channel/UCDQ5_DZHS48H9jIF-nyUGhA) soon.

[2020-09-29 17:14] valeriupredoi commented on #1830
I ran the `extract_region` preprocessor on (most of) the data in that recipe (a few files are missing off the CEDA ESGF node on JASMIN), and I can not reproduce the bhaviour of negative longitude points; could you please tell mw which dataset gives you those negative points by running this little script, on data that has been preprocessed only with the `extract_region` preprocessor:

[code]
where

[2020-09-29 17:18] valeriupredoi commented on #1825
yep, found it! authored by our own @bnlawrence [here](https://www.earthsystemcog.org/site_media/projects/wip/CMIP6_global_attributes_filenames_CVs_v6.2.6.pdf)

[2020-09-30 07:28] bouweandela commented on #1825
From the document mentioned above, it looks like it is `table_id` in CMIP6. It does not look very nice to me to put `_id` and `_label` behind every facet in the recipe, as is done in the CMIP6 DRS. If we leave out the `_id` part again, plain `table` seems to be most in line with the CMIP6 DRS.

[2020-09-30 07:40] lukasbrunner commented on #1830
Hey @valeriupredoi!

Thanks for looking into this! As far as I can tell its all the files, attached is the output from your script. Its wired that you don't get that behaviour, I had a college check on her setup and she got the same issue (though it is the same data - the ETH archive). Is there anything else I can provide or check? Not sure how much of a problem that can become for us.

[esmval_ch

[2020-09-30 08:05] Peter9192 commented on #1830
perhaps you can run with
`esmvaltool run ... ... --save_intermediary_cubes=true`
Then you can see exactly after which step these errors are introduced. But it produces a lot of data, so you may want to remove them manually afterwards.

[2020-09-30 08:30] Peter9192 commented on #1830
I managed to reproduce the problem, and indeed it first appears after the extract region step.

[2020-09-30 08:38] Peter9192 commented on #1830
Further pinned down to exactly this line you mentioned @valeriupredoi
[code]

this doesn't seem to work as expected.

[2020-09-30 08:40] valeriupredoi commented on #1830
good stuff @Peter9192 - could you please tell me what datasets produce this behavior and also tell me what `iris` version you using? :beer:

[2020-09-30 08:55] Peter9192 commented on #1830
{dataset: ACCESS1-0, project: CMIP5, exp: [historical, rcp85], ensemble: r1i1p1, start_year: 1995, end_year: 2014, mip: Amon, short_name: tas}
iris 2.4.0

[2020-09-30 10:19] valeriupredoi commented on #1830
cool, cheers for the info @Peter9192 - there is something rather fishy going on here, I am printing out the lon points righte before and right after the cube intersection on the [0, 360] interval:

- before: `[-9.375, -7.5  , -5.625, -3.75 , -1.875,  0.   ,  1.875,  3.75 ,..., 37.5]`
- after: `[  0.   ,   1.875,   3.75... 37.5  , 350.625, 352.5  , 354.375, 356.25 , 358.125]`

So as you can see the

[2020-09-30 10:24] Peter9192 commented on #1830
Interesting!

Before: `[-8.75, -6.25, -3.75, -1.25,  1.25,  3.75,  6.25,  8.75, 11.25, ..., 36.25, 38.75]`
After: `[ -1.25,   1.25,   3.75,   6.25,   8.75,  11.25,  13.75,  16.25, ..., 38.75, 351.25, 353.75, 356.25]`

[2020-09-30 10:31] Peter9192 commented on #1830
do you have bounds? So for me the extracted region (the outer bounds) is -10 to 40 rather than -10 to 39.

[2020-09-30 10:48] valeriupredoi commented on #1830
OK I found the cause - this thing gets spookier the closer you look - the points I have in the [comment](https://github.com/ESMValGroup/ESMValTool/issues/1830#issuecomment-701301097) are from running **just** the `extract_region` prproc step in the preprocessor; now, if you add the `regrid` step right before that I can reproduce the problem ad literam (before/after that cube intersection)

- befor

[2020-09-30 19:59] katjaweigel opened #1833 "Recipe for ESA CMUG H2O including new diagnostics for cold point tropopause"
**Short description of the diagnostic**
Any T3M variable can be calculated at the cold point tropopause. Needs Air Temperature ta given on the same grid to get the pressure of the cold point tropopause. There are two different diagnostics for Latitude Longitude grids and zonal averages.

**Branch and pull request**
Branch  CMUG_ESACCI_H2O  (and pull request)

[2020-10-01 09:46] bouweandela commented on #1818
Labels are nice for categorizing, but we would also need some way to attract the attention of relevant reviewers to a pull request. Maybe we could publish the list above in a new **Review** chapter in https://docs.esmvaltool.org/en/latest/community/, along with some instructions on how to request a review and how to contribute a review/what to look out for when doing a review?

[2020-10-01 14:26] stefsmeets commented on #1813
https://github.com/ESMValGroup/ESMValCore/issues/795

[2020-10-01 14:26] rswamina opened #1835 "CMIP6 Data missing or withdrawn"
This issue keeps track of any CMIP6 data that has been withdrawn (temporarily or permanently) to be corrected/CMOR-ized again and so on. Mostly these are not recorded on any Errata page and were likely available at some point and now are not.

Currently CESM2 data for Amon variable tas is now withdrawn.

[2020-10-01 15:09] bouweandela commented on #1578
@bettina-gier @schlunma @rswamina @hb326 This is the issue I mentioned with a possible procedure for getting things from the private repos used for developing papers to being included into the ESMValTool. Could you have a look if this would work, probably with some adjustments? Maybe we can make a pull request and add this to the guidance here: https://docs.esmvaltool.org/en/latest/community/?

[2020-10-01 15:33] bouweandela commented on #1813
Thanks for attending @ESMValGroup/esmvaltool-developmentteam!

Here is a summary with some news:

- @hb326 Announced that the next workshop will be a 3-day online event, to be held in November :partying_face:  She will send around an email to ask for input on what the best week would be
- We talked about sharing the reviews among the contributors, so we can speed up the process of reviewing and me

[2020-10-01 15:42] bouweandela opened #1836 "Monthly ESMValtool meeting November"
The next monthly ESMValTool meeting will be in November. The result of the poll is that it will be on

Thursday, November 5th at 13:00 CET (12:00 GMT).

The duration will be one hour. [Join the zoom meeting](https://us02web.zoom.us/j/86356385817).

@ESMValGroup/esmvaltool-developmentteam

Format and agenda

- We start the meeting by doing a round where everyone gets one minute to introduce themsel

[2020-10-02 08:15] hb326 opened #1837 "Possible ESMValTool workshop dates"
Hey all @ESMValGroup/esmvaltool-developmentteam,
please indicate your availability for the next ESMValTool workshop here if you are interested in attending:
https://terminplaner4.dfn.de/fMdPwioVbUpfoKle

The poll will be open until Oct 14, 2020.

[2020-10-02 11:13] bouweandela commented on #968
@jvegasbsc This is what I was talking about this morning

[2020-10-02 11:30] hb326 commented on #1833
@katjaweigel: that is awesome that you have worked on this! I might need that in November right away...

[2020-10-02 12:59] jvegasbsc commented on #968
We should it, after all is just you being added automatically as a reviewer when somebody mess with your code

[2020-10-02 16:50] #1605 closed

[2020-10-06 12:04] valeriupredoi opened #1846 "Documentation for 2.1: call to run tests"
Change from `python setup.py test` to `pytest` and `pytest -m "not installation"` in documentation

[2020-10-07 11:30] valeriupredoi opened #1841 "obs4mips ISCCP irregular file naming on Jasmin/esmeval"
I have these types of files on Jasmin/esmeval/obsdata-v2 for Tier1/ISCCP: `/group_workspaces/jasmin4/esmeval/obsdata-v2/Tier1/ISCCP/pctisccp_obs4MIPs_ISCCP_L3_V1.0_200806-200806.nc` - they contain an extra `obs4MIPs` string in the file name - none other obsr4mips (Tier1) files have this string in the file name, hence the data finder fails to find the actual existing data. @bjoernbroetz and @mattia

[2020-10-07 12:29] Peter9192 opened #1842 "Add links to RTD in CLI recipes list"
The CLI command `esmvaltool recipes list` prints all available recipes. It would be super useful if that list provides a link to the corresponding entry in the documentation.

[2020-10-07 12:57] katjaweigel commented on #1833
@hb326 hope I manage laps rate tropopause before. At the moment I still have to sort out some part of provenance and reduce the number of variables. I also want to add, that it is possible to use ta (or later ta and zg for lapsrate tropopause) from a reference data set (because the observational data sets often have only one variable, so far it needs ta + any variable to interpolate to the tropopa

[2020-10-07 12:59] bettina-gier commented on #1841
I can confirm that the filenames are the same on DKRZ.

[2020-10-07 13:00] bouweandela opened #1843 "Update CircleCI configuration so it logs on to Docker Hub to avoid slow test runs after November 1, 2020"
https://circleci.com/docs/2.0/private-images/#section=configuration

[2020-10-07 13:06] valeriupredoi commented on #1841
OK that means it's a problem with the parent data at DKRZ, cheers much Tina! @bjoernbroetz @mattiarighi can you guys pls see about this :beer:

[2020-10-07 14:22] schlunma opened #1844 "Add recipe for Schlund et al., JGR: Biogeosciences, 2020"
I will include my recently accepted paper on "Constraining uncertainty in projected gross primary production with machine learning". It would be really nice to include this in `v2.1`! I will add a link to the paper once it is available online.

Since there will be many additions I will split this into three PRs:

- [x] Changes to already existing functions (#1845)
- [x] Adding CMORizer for Scripps

[2020-10-08 11:30] stefsmeets commented on #1825
In the same way, the `dataset` is also confusing as it seems to refer to a model (and is also called model elsewhere, e.g. the dkrz search).

[2020-10-08 12:02] Peter9192 commented on #1825
This is only the case for model data. Note that we also support observational datasets.

[2020-10-08 12:32] stefsmeets commented on #1825
Fair enough, thanks for pointing out my lack of knowledge 😅 Doesn't make it less confusing!

[2020-10-08 13:45] jvegasbsc commented on #1825
The exact reason we replaced the `model` tag with `dataset`

[2020-10-08 15:50] bouweandela commented on #1588
@ESMValGroup/esmvaltool-developmentteam Who would be willing to help out with posting ESMValTool related messages on Twitter? It would be great if 2 or 3 people would be willing to occasionally post a tweet, e.g. when we have a new release or recipe, or to announce the upcoming workshop, a tutorial, etc. There is no need to make up the content yourself, it will be provided by whoever is making the

[2020-10-09 11:00] lukasbrunner opened #1849 "Add ensemble member recognition to the ClimWIP diagnostic"
**Description**
A basic version of ClimWIP was recently implemented in ESMValTool via #1648. We would like to add some functionality to this diagnostic. In particular, when called with more than one initial-condition ensemble member of the same model each of these ensemble members should receive the same weight. In the basic implementation this is not yet the case as each run is treated as separat

[2020-10-09 11:45] ruthlorenz opened #1850 "Updating ClimWIP recipe to reproduce Brunner et al. 2020 ESD (CMIP6, more variable groups including trend)"
**Is your feature request related to a problem? Please describe.**
A basic version of ClimWIP was recently implemented in ESMValTool via #1648. The use case is very simple and does not represent a published paper. We would like to update or extend the recipe to reproduce Brunner et al. [2020](https://doi.org/10.5194/esd-2020-23). This will make use of CMIP6 data and use additional variable groups

[2020-10-09 15:07] Peter9192 commented on #1850
@ruthlorenz can you provide a link to the paper? Also wonder if this update depends on other issues/PRs. I think we identified some, right?

[2020-10-09 15:19] Peter9192 commented on #1849
This is what you had in that PR from your own fork, right? Could you open a new PR from a branch in the ESMValTool repo?

And just for my understanding: Is this as simple as just excluding all but the first ensemble member from the weights calculation, and then assigning the value of the first ensemble member to all other members before writing/plotting the output?

[2020-10-09 15:29] lukasbrunner commented on #1849
Yes will do, just got distracted by other things. I will add more description about the idea in a bit.

[2020-10-12 07:44] lukasbrunner commented on #1850
I've linked the paper in @ruthlorenz original comment.

**Dependencies** (please add if I forgot something):
[ ] Calculation of average weight for initial-condition ensemble members: #1849
[ ] Option to use different metrics for performance and independence (this might already be possible? @ruthlorenz @Peter9192 )

[2020-10-12 08:18] hb326 commented on #1837
@ESMValGroup/esmvaltool-developmentteam: this is a reminder to please fill out the poll about your availability for the next ESMValTool workshop in November. The poll will close on Oct 14, so please indicate your date preferences if you would like to attend the (virtual) workshop.

[2020-10-12 08:56] ruthlorenz commented on #1850
the recipe will need variable groups "anomalies", calculated as climatology CLIM minus the global mean. I have not figured out how to do this with existing preprocessors (the existing anomalies preprocessor is not doing this, correct me if it is already possible, then I would be interested in how and we can forget about this).
This can certainly be done within the diagnostic (calculate CLIM and gl

[2020-10-12 09:00] lukasbrunner opened #1853 "Allow different relative contributions of variable groups in ClimWIP"
**Description**
A basic version of ClimWIP was recently implemented in ESMValTool via #1648. Here we would like to discuss the option of allowing different relative contributions of included metrics when calculating the weights (the default is an unweighted average over all metrics). This idea was introduced and used in Brunner et al [2020](https://doi.org/10.5194/esd-2020-23) and is needed for #1

[2020-10-12 09:16] ruthlorenz commented on #1853
do we really only need this for the performance metrics or potentially also for the independence ones (once we have them separated)? if for both I would avoid the "performance" in the name.
metric_scaling_factor?
I think default 1, 2 for twice the weight, 0.5 for half the weight etc. is intuitive.
I would not suggest to expect them to sum to 1 (3 metrics with equal importance would then need 0.333

[2020-10-12 09:49] lukasbrunner commented on #1853
I would keep it as flexible as possible and allow it for performance and independence. But that also means that we need the 'performance' in the name as we would want different weights for performance and independence, right?

About the summing up point: yes I agree I though of the same potential problem.

[2020-10-12 10:00] ruthlorenz commented on #1853
I guess this depends on where we want to set this parameter. I would have set it with the variable, but that might be a bad idea.
Something like that?
[code]
and then yes, we should have the performance in the parameter name.

[2020-10-12 11:21] lukasbrunner commented on #1853
Setting it with the variable would be consisted with the parameters `performance` and `independence` that determine if a variable is use for either part of the weighting.

But I can also see the advantage of setting it directly under climwip, this seems to be a slightly better fit conceptually I guess?

In any case I think they need to be set both in the same place. So either something like this
[

[2020-10-12 11:24] lukasbrunner commented on #1853
Additional comment: I noticed I started to use the term 'metric' for the combination of variable, time period, time aggregation, region, etc. (so what we call 'diagnostic' in our papers). I think this is a correct name for it conceptually, is there any collision with ESMValTool terminology? Otherwise we could consistently stick with it.

[2020-10-12 11:49] bjlittle opened #1854 "[PI] Test ESMValTool with Iris 3.0.0rc0"
The release candidate `3.0.0rc0` for `iris` is now available, see [here](https://github.com/SciTools/iris/releases/tag/v3.0.0rc0).

I wanted to propose this issue as a parent issue `[PI]`, to ensure,

- that `esmvaltool` testing has been performed with `iris` `v3.0.0rc0`
- capture and track any subsequent outcomes or follow-on tasks resulting from testing `esmvaltool` with the `iris` release candi

[2020-10-12 11:52] bjlittle commented on #1836
@bouweandela It would be great to get some feedback on `esmvaltool` testing of the `iris` release candidate `v3.0.0rc0`, see https://github.com/ESMValGroup/ESMValTool/issues/1854 👍

[2020-10-12 12:04] valeriupredoi commented on #1854
@bjlittle we've already started looking into this in ESMValCore, see https://github.com/ESMValGroup/ESMValCore/pull/819

[2020-10-12 13:53] stefsmeets opened #1855 "Version conflict with ESMValCore 2.1"
**Describe the bug**
As ESMValCore is being prepped for the 2.1 release, I have been getting lots of version conflicts over the last week with the development version of ESMValCore.
```pkg_resources.VersionConflict: (ESMValCore 2.1.0 (/home/stef/r/esmvalcore), Requirement.parse('esmvalcore<2.1,>=2.0.0'))```

To prevent this in the future, I'm wondering if we can change the version pin from:
`esmva

[2020-10-12 16:10] bouweandela commented on #1836
Were working on it in issue #378 and pr #819, the first results look promising.

[2020-10-13 07:32] Peter9192 commented on #1853
I thought it made sense to have everything related to a single variable group together under the same header. That way, if you add or remove a variable group, you only change the variable group, and you don't have to worry that some other part of the recipe breaks.

But if you prefer passing them as parameters to the script, that's also fine. Then I'd suggest to make a dict instead of 2 lists:

[c

[2020-10-13 07:38] Peter9192 commented on #1853
I don't think there's a real clash, but I'm also not sure whether it is immediately obvious to other ESMValTool users/developers that you use the term 'metric' to refer to a 'variable group'. I first thought you wanted to support medians etc in addition to the mean.

At least this is way less confusing than 'diagnostic' ;-)

[2020-10-13 07:53] lukasbrunner commented on #1853
I like this! Maybe I would be in favour of setting it to 0 by default, this seems to be less prone to unexpected things happening?!

[2020-10-13 09:29] lukasbrunner commented on #1853
The meaning of variable groups seems less obvious to me but then again this is mainly used in the backend so it might be better to stay consistent with ESMValTool terminology (I think I did not realize this was 'official' terminology until just now). I will try to get myself to use that than.  :)

[2020-10-14 15:08] Peter9192 commented on #1631
Does #1827 address this?

[2020-10-14 15:11] Peter9192 opened #1861 "Example recipes documentation"
In #1827 we added documentation for the example python recipe. It would be nice to also add documentation for some other example recipes, especially for the NCL, R and Julia examples. Then, we could also group them together in a separate 'examples' section.

**Would you be able to help out?**
Maybe in a few months.

[2020-10-14 15:38] Peter9192 commented on #1850
@ruthlorenz I'm not sure I understand what you mean. For the KCS recipe, we did this:

[code]
So this first calculates annual means and global means, and then subtracts the average over 1981-2010 from those data.

In your case, you're using a regional mean. Is that your issue? So then you could compute the anomalies first (for the full grid), and then extract and average over the region.

[2020-10-14 18:02] ruthlorenz commented on #1850
The issue I have is that I do not want to average over the region for the climatology. So what I want in the end is a lat,lon field. So I need the climatological mean (lat,lon) but minus the global mean (that one averaged over the region).

[code]
and then what I actually want is the climatological_mean - global_mean.
Does that make sense?
Can this be done as a preprocessor?

[2020-10-15 07:43] Peter9192 commented on #1850
So these are spatial anomalies then? The difference of each grid point from the global mean? Sorry if I'm slow to understand...

[2020-10-15 08:02] ruthlorenz commented on #1850
Yes exactly, spatial anomalies, I struggle putting these things into clear words...

[2020-10-15 09:09] Peter9192 commented on #1850
Okay, good that we're on the same page now :-). Indeed, this is not currently available, as far as I know. So it would be best to make an issue about adding this as an official preprocessor function. Until then, we'll have to do it in the diagnostic script.

[2020-10-15 12:38] valeriupredoi opened #1862 "Switch to iris3 testing"
**Steps towards validation and inclusion of iris3**

*Install against source-installed esmvalcore with iris3*

- build an esmvalcore environment with the test environment file from https://github.com/ESMValGroup/ESMValCore/pull/819
- update the environment with deps for esmvaltool using `env update -n esmvaltool-iris3 -f environment.yml`
- install the tool against an already source-installed esmva

[2020-10-15 12:46] valeriupredoi commented on #1862
I'd like to ask some peeps to run some recipes but am afraid to do that just now since we'll ask them to run **all** the recipes for the upcoming esmvaltool 2.1 release next week :grin:

[2020-10-15 13:16] lukasbrunner opened #1863 "Add a mapplot diagnostic to ClimWIP"
We would like to add a diagnostic to visualize weighted results on a geographical map to the ClimWIP recipe, similar to what is already possible for timeseries: https://github.com/ESMValGroup/ESMValTool/blob/master/esmvaltool/diag_scripts/weighting/weighted_temperature_graph.py

[2020-10-16 12:49] hb326 opened #1866 "ESMValTool workshop on November 24-26, 2020"
Hey all @ESMValGroup/esmvaltool-developmentteam,
the majority of people indicating interest in participating in the next ESMValTool (virtual) workshop have chosen the dates **24-26 November 2020**. So please pencil these dates into your calendars.
We will send around a draft agenda at the beginning of November.

[2020-10-16 13:31] bouweandela commented on #1855
No. There are a few reasons for this:
- If a new release of ESMValCore contains breaking changes, making a new ESMValCore release would immediately break the existing ESMValTool package, therefore we would need to release both packages at the same time and that is something we currently do not do
- If new features are added in a new release of ESMValCore, e.g. a new preprocessor function, and thos

[2020-10-16 13:34] bouweandela commented on #1719
@xiaoyujiaxyj Did the suggestion above (help you) solve your issue?

[2020-10-16 13:35] bouweandela commented on #1676
Please re-open the issue if this is still a problem.

[2020-10-16 13:35] #1676 closed

[2020-10-17 23:22] ssmithClimate commented on #1631
I'm not quite sure. While the docs say to download data from ESGF, our understanding is that the data must be stored in the specific compliant folder hierarchy for the system to work (e.g., /AerChemMIP/NASA-GISS/GISS-base/no-season-so2/r1i1p5f101/Amon/rsuscs/gn/v20191120/). Is that explained somewhere?

[2020-10-19 06:58] Peter9192 commented on #1631
Ah, I see. Well, the easiest way out is to store all data in a single 'flat' folder, and use the following keywords in your user configuration:
[code]

The corresponding documentation is [here](https://docs.esmvaltool.org/projects/esmvalcore/en/latest/quickstart/find_data.html#explaining-config-user-drs-cmip5-or-config-user-drs-cmip6), but I understand that this is not obvious. It's one of the thi

[2020-10-19 07:18] stefsmeets commented on #1855
I understand that you will want the version pinned for the release. The problem I'm running into that it makes it very difficult to have both the development version of esmvalcore/esmvaltool, when they are not in sync. This happened several occassions during the release (and lasted about 2 weeks until setup.py was updated). Is there a better way we can handle this?

[2020-10-19 15:29] #1844 closed

[2020-10-19 15:32] schlunma opened #1870 "Missing DOI for schlund20jgr"
For the reference `schlund20jgr` the DOI is not yet available and needs to be added.

[2020-10-19 15:34] schlunma opened #1871 "Improve test coverage for custom sklearn functions used for MLR diagnostics"
To ensure that all custom `sklearn` functions in [this](https://github.com/ESMValGroup/ESMValTool/blob/master/esmvaltool/diag_scripts/mlr/custom_sklearn.py) module are working, the test coverage needs to be improved.

[2020-10-20 08:20] jvegreg opened #1873 "Move diagnostic helper functions to ESMValCore"
Talking about the deployment of ESMValCore 2.1 in BSC, @sloosvel  and I realized that it is not that useful for us because all our diagnostics are using the helper functions that we have in `esmvaltool/diag_scripts/shared`.

If we really want users to be able to develop their diagnostics using just ESMValCore, we must move them to the core.

What do you think, @ESMValGroup/esmvaltool-developmentte

[2020-10-20 08:33] stefsmeets commented on #1873
Great idea! I have not been involved with the project for super long, but one thing I have noticed that ESMValCore and ESMValTool are very tightly coupled. ESMValCore should really be able to stand by itself. I actually opened a related issue last week: https://github.com/ESMValGroup/ESMValCore/issues/826

[2020-10-20 09:10] stefsmeets commented on #1862
I just tried to run the tests with the iris3 branch of esmvalcore. The good news is that the tests passed right away! The bad idea is that we have no idea how some of the recipes are affected.

I found a few instances of `extract_strict`, which I have updated (these avoided the tests apparently). I could not find any obvious dimensionless coordinates.

[code]

[2020-10-20 09:21] stefsmeets commented on #1862
Created a PR here: #1874

[2020-10-20 10:43] valeriupredoi commented on #1862
good stuff, cheers @stefsmeets :beer:

[2020-10-20 11:05] valeriupredoi opened #1875 "Test before ESMValTool v2.1.0 release"
Hello @ESMValGroup/esmvaltool-developmentteam - it's me the release manager asking you a big favour - can peeps grab their favorite recipe(s) and run it with the release [branch](https://github.com/ESMValGroup/ESMValTool/tree/release_2.1) and if so tick the box(es) below, please? We will be releasing ESMValTool v2.1.0 on next Monday (26 October) and it would be great to have tested all these recip

[2020-10-21 06:34] bouweandela commented on #1873
I agree that it would be a good idea to move some functions to the ESMValCore, but we would need to make a selection and clean up a bit, as there are currently two interfaces implemented and quite a bit of stuff that is not generic enough to move to the core. We need to make sure that the code in the core does not grow into a many headed spaghetti monster.

[2020-10-21 09:41] tobstac opened #1876 "Tag replacement not working"
My recipes (landveg and runoff_et) fail because input files are not found. Debug output states
`Skipping non-existent /work/bm0986/m214103/ESGF_Data/Tier[tier]/[dataset]`
even though the directory exists - albeit with correct values for `[tier]` and `[dataset]`. Digging deeper I had the impression, that my tags are not replaced correctly in the `_replace_tags` function as there
`re.findall(r'{([^}

[2020-10-21 12:35] valeriupredoi commented on #1876
let me run these on Jasmin, not 100% what's going on, but I suspect config issues. I am running a very hefty recipe at the mo and as soon as it's done I'll run those and see what's the hap :beer:

[2020-10-21 13:24] valeriupredoi commented on #1876
so a correct finding is producing this output (as in the case of my run on Jasmin):
[code]

what does the `/work/bm0986/m214103/ESGF_Data/` dir contain and what is the entry for `rootpath: OBS:` say in your configuration file?

[2020-10-21 13:28] valeriupredoi commented on #1876
also could you make sure that your config developer file has this entry for OBS:
[code]
you might have changed that and forgot about it?

[2020-10-21 16:42] tobstac commented on #1876
I replaced my OBS entry with yours and this already solved much of the problem - know my obs and cmip5 directories are found. My config developer file uses `[ ]` for all tags but obviously now `{ }` are used. I replaced these throughout the file, but now get a complaint about:
`KeyError: "Dataset key _. must be specified`
which either means I replace a `[` too much or maybe I am missing some chang

[2020-10-21 17:05] valeriupredoi commented on #1876
ahaa therein lies the trouble! You have multiple options to update the config-developer, probably the easiest one is to run `esmvaltool config get_config_developer` - that'll grab the default config-developer file and put it in a `$HOME/.esmvaltool` dir. Your default config-developer may be out of date if the esmvalcore package you are using is old (e.g. you installed it in developer mode and cust

[2020-10-21 17:55] valeriupredoi commented on #1875
hey guys @ESMValGroup/esmvaltool-developmentteam we'd really appreciate it if you got your favorite recipe run and ticked the box - just a couple days til the release and if these things don't get tested before the day of the release we'll exclude your recipe that wasn't tested (just kidding...or maybe not :grin: ) Cheers muchly! :beer:

[2020-10-22 06:56] Peter9192 commented on #1875
@jeromaerts would you have time to run some simple hydrology recipes with this branch?

[2020-10-22 06:57] tobstac commented on #1876
Thanks a lot, that solved my problem!

[2020-10-22 06:57] #1876 closed

[2020-10-22 09:00] remi-kazeroni commented on #1875
I successfully ran all the recipes in examples except the following ones:

- `recipe_extract_shape.yml` (auxiliary data missing at DKRZ: `Elbe.shp`)
- `recipe_julia.yml` (most likely due to my installation)
- `recipe_check_obs.yml` (preprocessor issue)
- `recipe_preprocessor_derive_test.yml` ((same?) preprocessor issue)

Could someone doublecheck for these?

[2020-10-22 09:52] ruthlorenz commented on #1875
recipe_extract_shape.yml does not work for me either.
recipe header says "The shapefile can be copied from
    esmvaltool/diag_scripts/shapeselect/testdata/Elbe.shp and
    placed in the auxiliary_data_dir defined in config-user.yml."

I did that, but then it crashes with "fiona.errors.DriverError: Unable to open /ESMVal/auxiliary_data/Elbe.shx or /ESMVal/auxiliary_data/Elbe.SHX. Set SHAPE_RESTORE

[2020-10-22 09:56] ruthlorenz commented on #1875
I also run most of recipe_collins13ipcc.yml
I cannot check one diagnostic in it because of missing obs data (the second last, fig12-31ad).
Rest runs fine just takes forever (my bad so I should not complain ).

[2020-10-22 10:00] bouweandela commented on #1875
@ruthlorenz You need to copy all the `Elbe.*` files, not just the one with the `.shp` extension.

[2020-10-22 10:04] valeriupredoi commented on #1875
@ruthlorenz @remi-kazeroni cheers for the help guys! Ruth, as Bouwe says - it needs all the metadata files for the Elbe region, shapefiles come as a collection of files for each of the region they describe. @bouweandela you got time to check the other non-obvious fails, Jasmin is belly up today, great timing for it to go

[2020-10-22 10:06] bouweandela commented on #1875
recipe_preprocessor_derive_test.yml ((same?) preprocessor issue)

@remi-kazeroni Could you attach the file `run/main_log_debug.txt` so we can see what's going wrong?

[2020-10-22 10:22] remi-kazeroni commented on #1875
[main_log_debug_recipe_check_obs.txt](https://github.com/ESMValGroup/ESMValTool/files/5421973/main_log_debug_recipe_check_obs.txt)
[main_log_debug_recipe_preprocessor_derive_test.txt](https://github.com/ESMValGroup/ESMValTool/files/5421974/main_log_debug_recipe_preprocessor_derive_test.txt)

and the recipes I used (one or two missing datasets commented out)

[recipe_check_obs.yml.txt](https://gith

[2020-10-22 10:25] ruthlorenz commented on #1875
My bad, copying all files helps but recipe still fails.

[main_log_debug.txt](https://github.com/ESMValGroup/ESMValTool/files/5422001/main_log_debug.txt)
[log.txt](https://github.com/ESMValGroup/ESMValTool/files/5422003/log.txt)

[2020-10-22 10:59] SarahAlidoost commented on #1875
I am working on "cmorizers: recipe_era5.yml", after that I can test some of the hydrology recipes. @Peter9192 and @jeromaerts FYI.

[2020-10-22 11:00] valeriupredoi commented on #1875
@remi-kazeroni I have run the PIOMAS task OK with esmvalcore installed both as a dependency package from ESMValTool (off conda-forge) and source-installed from the latest `master` and had no issues, can you please make sure you have the latest `master` installed and not some dev branch?

[2020-10-22 11:15] valeriupredoi commented on #1875
@ruthlorenz cheers for your efforts - I have reproduced your issue with recipe_extract_shape.yml and will look into it :beer:

[2020-10-22 12:18] valeriupredoi opened #1878 "recipe_extract_shape should not call iris.quickplot or use a 2D variable or reduce the 3D variable to a 2D variable"
**Describe the bug**
Trying to `iris.quickplot` a 3D variable (`pr`) in [recipe_extract_shape](https://github.com/ESMValGroup/ESMValTool/blob/master/esmvaltool/recipes/examples/recipe_extract_shape.yml) when quickplot only works with 2D vars (lat-lon frozen in time)

**Please attach**
  - [recipe_extract_shape](https://github.com/ESMValGroup/ESMValTool/blob/master/esmvaltool/recipes/examples/recip

[2020-10-22 12:19] valeriupredoi commented on #1875
OK @bouweandela - as recipe admin - you have a bug, sir :grin: https://github.com/ESMValGroup/ESMValTool/issues/1878

[2020-10-22 14:53] remi-kazeroni commented on #1875
@valeriupredoi you are right, I didn't have the lastest `master` branch, sorry... I have retested all the example recipes and I still could not run the same two ones, namely: `recipe_check_obs.yml` and `recipe_preprocessor_derive_test.yml`. These stop at the same point as before, including the PIOMAS task for `recipe_check_obs.yml`. Could it be due to mssing data on DKRZ?

[2020-10-22 16:04] valeriupredoi commented on #1875
I too don't have the full data on Jasmin, but mines stop at Missing data, as it should be the case when there's no data. I did manage to run the PIOMAS though since there is data on Jasmin (albeit not correctly named in file names); I am bit confused how @mattiarighi ran them last time (last release) - Mattia, any chance you can try them yourself again, mate? Sorry, I know you busy :beer:

[2020-10-22 16:19] katjaweigel commented on #1875
I found an issue with recipe_deangelis15nat.yml: The recipe is running, but at least several figures are not displayed correctly (deangelisf3f4/deangelisf3f4/fig3a_<MODELNAME>.png, deangelisf3f4/deangelisf3f4/fig3b.png, and deangelisf3f4/deangelisf3f4/fig4.png). Looks like an issue with the x axis limits. The recipe is unchanged since the last test on 7 October. I'll try to find the reason tomorro

[2020-10-22 17:05] valeriupredoi opened #1879 "Recipe recipe_multimodel_products complaining about dimensions when using CMIP5 and CMIP6 data"
Hey guys, a colleague of mine is trying to run the [recipe_multimodel_products](https://github.com/ESMValGroup/ESMValTool/blob/master/esmvaltool/recipes/recipe_multimodel_products.yml) using CMIP5 **and** CMIP6 data, eg, minimal example just adding UKESM1 to the datasets list:
[code]
but the diagnostic is failing with what it looks to be a discrepancy between data dimensions (although CMIP6 data i

[2020-10-22 17:06] valeriupredoi commented on #1879
CC @alasdairhunter :+1:

[2020-10-22 17:09] valeriupredoi commented on #1875
cheers @katjaweigel - it could be a different version of whatever package is used to plot the plots? :beer:

[2020-10-22 18:12] bouweandela commented on #1875
@remi-kazeroni The recipes stop because there is not a single dataset defined for the variable you're trying to process, because you commented the one dataset that was there out. The error message is not very informative unfortunately, I've created an issue to report it https://github.com/ESMValGroup/ESMValCore/issues/843.

[2020-10-22 18:13] #1878 closed

[2020-10-22 22:34] koldunovn commented on #1875
`recipe_arctic_ocean.yml` runs, but with one caveat :) After environment update I get `matplotlib 3.3.1`, that has a bug, that affects the plotting (https://github.com/mwaskom/seaborn/issues/2194). This was fixed in `matplotlib 3.3.2`, so with this version everything runs smoothly. You might consider to put `matplotlib!=3.3.1` in setup.py.

[2020-10-22 23:15] koir-su commented on #1875
recipe_carvalhais14nat.yml runs.

[2020-10-23 07:01] katjaweigel commented on #1875
I had a closer look at the figures and it is not the axis but the value which changed (factor 100.0). Has any unit changed from 1 to % ? (It's in a variable calculated from several other once, including prw and radiance units but maybe also others. I'll check which of them could have changed.)

[2020-10-23 07:06] bouweandela commented on #1875
@katjaweigel I suspect this might be related to https://github.com/ESMValGroup/ESMValCore/pull/754

[2020-10-23 07:27] axel-lauer commented on #1875
I just successfully tested the full examples/recipe_check_obs.yml on Mistral (DKRZ).

[2020-10-23 08:01] katjaweigel commented on #1875
@bouweandela thanks, yes it looks like there is a change in the derived variable rsnstcsnorm (which is in %) it is already too high by the factor 100 in the preprocessed data. In _derive/rsnstcsnorm.py I calculated manually times 100.0, I guess this is now done automatically in addition? I'll remove the manual factor and try if it changes the plots.

[2020-10-23 08:09] bouweandela commented on #1875
@schlunma Could you answer that question?

[2020-10-23 10:05] bouweandela commented on #1879
Maybe you could try making sure that you're adding data for the same years for all models? This looks like a mismatch in the time dimension.

[2020-10-23 10:08] bouweandela commented on #1861
Added documentation for `recipe_extract_shape.yml` too in #1880.

[2020-10-23 10:08] valeriupredoi commented on #1879
no @bouweandela - that's not the problem since the recipe works fine w/o the add-on CMIP6 model (at the top of the list) and all those CMIP5 models have mismatched years to start with - the complaint about the X-dim (as R spits it out) is not the time-coord, the time one is 360 and 1980 as from the error message :beer:

[2020-10-23 10:12] bouweandela commented on #1879
The CMIP5 models that are there have matching time periods: for each model data is selected from two periods, 1961 - 1990 and 2006 - 2099. the model you're adding only has one period with data from 1850 - 2014.

[2020-10-23 10:26] valeriupredoi commented on #1879
OK @bouweandela - I reran the test with just these datasets for matching years:
[code]
and the error is the same! I'm telling you it's got something to do with the height coord being treated differently for the CMIP6 model :beer:

[2020-10-23 11:39] valeriupredoi commented on #1875
@schlunma is on hols, he ain't gonna reply until the week after, looking through the PR it looks like the % units are now updated automatically :+1:

[2020-10-23 11:41] katjaweigel commented on #1875
@schlunma and @bouweandela Adding `rsnstcsnorm_cube.units = Unit('percent')` in ESMValCore/esmvalcore/preprocessor/_derive/rsnstcsnorm.py solves the issue with the factor 100.0 (or leaving the factor 100.0 out, but I think the other one is more "backward compatible"). But this is in the Core - I guess it should nevertheless be fixed now instead of putting some work around into the diagnostic?

[2020-10-23 11:44] valeriupredoi commented on #1875
cheers @koldunovn for both running the test and for pointing to us the Matplotlib bug - I don't think there's a need to restrict the version since 3.3.2 has been out and about for more than a month now (see [release table](https://anaconda.org/conda-forge/matplotlib/files) ) and any newer environment will pick up 3.3.2 no problemo :+1:

[2020-10-23 11:48] valeriupredoi commented on #1875
@katjaweigel the units should be set correctly in Core from PR #754 so technically no need to set them - is this a case that's missed by the said PR?

[2020-10-23 11:56] katjaweigel commented on #1875
@valeriupredoi They are set correctly, but to calculate percentage I always had the factor 100.0 in there (but I forgot to set the unit manually to percentage). So the old version was:
`rsnstcsnorm_cube = (((rsdt_cube - rsutcs_cube) -
                             (rsdscs_cube - rsuscs_cube)) / rsdt_cube) * 100.0
`
(all cubes despite the result with the same radiance unit). As long as it did not ca

[2020-10-23 12:13] koldunovn commented on #1875
Well, I did an update with `conda env update --name esmvaltool --file environment.yml` and I got the 3.3.1, so maybe some dependency is more conservative on the matplotlib site. But of course in a few months the chances to hit this problem will be fewer :)

[2020-10-23 12:23] valeriupredoi commented on #1875
@koldunovn - good point! `conda update` works in mysterious ways, `conda env create` picked up 3.3.2 for me so that's why I'm not too concerned
@katjaweigel cheers! I would not change the current Core - but is the resulting cube unit from the derivation script wrong? If it's wrong then it needs to be fixed in there and not by the external fix :beer:

[2020-10-23 12:31] katjaweigel commented on #1875
The resulting value is now wrong (with the factor 100.0 because it is used twice). Therefore I'd like to add
`rsnstcsnorm_cube.units` = `Unit('percent')`
in ESMValCore/esmvalcore/preprocessor/_derive/rsnstcsnorm.py then the values for rsnstcsnorm_cube are correct again

[2020-10-23 12:35] valeriupredoi commented on #1875
good stuff @katjaweigel - could you pls open a PR for that in le Core :beer:

[2020-10-23 12:38] katjaweigel commented on #1875
ok

[2020-10-23 12:46] valeriupredoi commented on #1875
Danke schoen! :beer:

[2020-10-23 12:52] katjaweigel commented on #1875
@valeriupredoi Should I use master or release_2.1 as base?

[2020-10-23 12:56] valeriupredoi commented on #1875
for Core, use `master` please, we've made the release and we should delete that branch :beer:

[2020-10-23 15:32] SarahAlidoost opened #1884 "Where to find the correct frequency for ERA5 hourly variables?"
The default [drs of native6](https://github.com/ESMValGroup/ESMValCore/blob/8091bf4ec1678e340ccbf55b4f1fae655e4c8d86/esmvalcore/config-developer.yml#L191) contains the parameter {frequency}. The drs is used for ERA5 data in [recipe_era5.yml](https://github.com/ESMValGroup/ESMValTool/blob/master/esmvaltool/recipes/cmorizers/recipe_era5.yml).
Where to find the correct frequency for hourly variables

[2020-10-23 15:38] valeriupredoi opened #1885 "Cmorization and data inclusion for OBS: ESACCI-SST"
Just to let peeps know that @cjroberts and myself will be conducting operations for cmorization and data inclusion in our OBS database for ESACCI-SST - we have a bit of it currently but Charles and his colleagues have produced more up-to-date data and they believe the cmorizer in esmvaltool is a good way to get the data in a standard CMOR format and propagated for analysis for scientific needs so

[2020-10-23 15:58] SarahAlidoost commented on #1875
For these recipes from hydrology folder run was successful:

- recipe_lisflood.yml
- recipe_marrmot.yml
- recipe_pcrglobwb.yml
- recipe_wflow.yml

I didn't run recipe_hype.yml, because I am looking for the shapefile needed by the recipe.

For cmorizer: recipe_era5.yml, some files are still downloading. Also, I'm working on setting the correct default drs, see this [issue](https://github.com/ESMVal

[2020-10-23 16:34] axel-lauer commented on #1885
Just added @cjroberts to the ESMValTool development team!

[2020-10-23 17:36] soufianekar commented on #1875
successfully tested recipe_cvdp.yml

[2020-10-26 08:50] Peter9192 commented on #1875
I wonder why the test of recipe_python crashed in this bot test: https://github.com/ESMValGroup/ESMValTool/pull/1882

[2020-10-26 09:20] Peter9192 commented on #1884
Related to: https://github.com/ESMValGroup/ESMValCore/pull/645 where this was first introduced.

[2020-10-26 09:24] Peter9192 commented on #1884
I think the DRS was updated in #645, but the recipe was not updated then. So the recipe still contains the old DRS settings (using ERA5_freq and ERA5_name.

[2020-10-26 10:17] bouweandela commented on #1875
Successfully tested examples/recipe_julia.yml

[2020-10-26 10:25] earnone commented on #1875
We have an issue with the plotting part of recipe_extreme_events.yml. @jhardenberg is looking into that.

[2020-10-26 10:33] jvegasbsc commented on #1879
I will investigate

[2020-10-26 10:35] valeriupredoi commented on #1879
cheers much, Javi! :beer:

[2020-10-26 10:40] valeriupredoi commented on #1875
@Peter9192 - am running that myself; @earnone will run it too. BTW it would be useful if the Bot could post the environment in which it works, most of the issues stem from dependencies with different versions :+1:

[2020-10-26 10:40] valeriupredoi commented on #1875
OK `examples/recipe_python.yml` tested successfully :+1:

[2020-10-26 10:51] Peter9192 commented on #1875
There is an issue about this in the bot repo.

I managed to reproduce the examples/recipe_python.yml errors on a fresh install from the release branch. Then, upgrading cartopy to 0.18.0 fixed the issue for me.

[2020-10-26 10:54] bouweandela commented on #1875
This information would be so useful for debugging, that we could also consider including it in the debug log: https://github.com/ESMValGroup/ESMValCore/issues/847

[2020-10-26 10:54] Peter9192 commented on #1875
https://github.com/SciTools/cartopy/issues/1615 btw this was the cartopy issue that we had in the example recipe

[2020-10-26 10:55] valeriupredoi commented on #1875
OK so this seems to be a bit of an endemic (**not** pandemic :grin: ) issue - reported above by @koldunovn (Matplotlib in that case) - either a conda update or just a simple fresh install will not cut it, recreating the env from scratch will do (as in my case, I built my env a few days ago, so fairly new) - it looks like a few dependencies have now become very sensitive to versioning and we must r

[2020-10-26 11:00] valeriupredoi commented on #1875
good point! how about we just write a file `current_environment.yml` to disk anyway, so that people can easily use it for a `conda create -f current_environment.yml -n blast-why-did-it-crash`

[2020-10-26 11:07] bouweandela commented on #1875
Good idea, but let's take that discussion to ESMValGroup/ESMValCore#847

[2020-10-26 13:28] sloosvel commented on #1875
Regarding PRIMAVERA recipes, recipe_seaice_feedback.yml runs fine but recipe_seaice_drift.yml crashes due to an error with pyproj CRS. I tried running it with an old environment and the recipe finishes fine, whereas with the new environment it crashes.

[2020-10-26 14:31] bouweandela opened #1887 "ESMValTool v2.1.0 conda package does not always pull in latest ESMValTool dependencies"
Running
[code]
will install esmvaltool v2.1.0, but the dependencies `esmvaltool-python`, `esmvaltool-julia`, `esmvaltool-ncl`, and `esmvaltool-r`, can still be v2.0.0.

A workaround is to install these packages separately, i.e. use the command
[code]
but we will need to change and re-build the conda package so it pulls in the correct dependencies.

[2020-10-26 14:46] valeriupredoi commented on #1887
This manifests itself only when 2.0.0 packages are already present in the `/miniconda3/pkgs/` dir - if one starts from a clean sheet with no older packages or one removes them by doing a `conda uninstall esmvaltool-python esmvaltool-ncl esmvaltool-r esmvaltool-juli` they will be installed with the correct 2.1.0 version subsequently - I reckon it's conda thinking oh I got these, no need to get them

[2020-10-26 14:52] valeriupredoi commented on #1875
hey @ESMValGroup/esmvaltool-developmentteam thank you much and much for helping us by running a LOT of recipes! We have now released version [2.1.0](https://github.com/ESMValGroup/ESMValTool/releases/tag/v2.1.0) and appreciate your help. Am gonna close this issue, but can I please ask you the ones that have had issues with recipes to open issues so we fix those before the next release? It would be

[2020-10-26 14:52] #1875 closed

[2020-10-26 14:56] valeriupredoi commented on #1875
one more thing: I have just removed the `release_2.1` branch so all's clean now - `master` is your go-to as usual :+1:

[2020-10-26 15:18] valeriupredoi opened #1888 "Rolling issue: update central installations on CEDA/Jasmin and DKRZ"
**List of installed versions**

- 28/20/2020 CEDA/Jasmin ESMValCore/ESMValTool=2.1.0
- 03/12/2020 CEDA/Jasmin ESMValCore=2.1.0/ESMValTool=2.1.1

**Guff**

- we should update the central installs on Jasmin and DRKZ with the latest version :+1:
- EDIT 28/10/2020 - this is done on Jasmin; log in `/apps/jasmin/community/esmvaltool/install_logs`
Summary: example recipes (python, ncl, julia and r) run f

[2020-10-27 10:04] SarahAlidoost commented on #1884
@Peter9192 thank you for the link.  Let me explain the issue better.

The [default drs for native6](https://github.com/ESMValGroup/ESMValCore/blob/b7ddbeaf56ac6ec02ee68c731ca8cbe10f053f8a/esmvalcore/config-developer.yml#L194) is: 'Tier{tier}/{dataset}/{latestversion}/{frequency}/{short_name}'. The {frequency} can be defined as one of the frequencies in [cmip6_CV](https://github.com/ESMValGroup/ESM

[2020-10-27 10:33] SarahAlidoost opened #1889 "Recipe era5_recipe.yml needs some fixes"
The [recipe_era5.yml](https://github.com/ESMValGroup/ESMValTool/blob/master/esmvaltool/recipes/cmorizers/recipe_era5.yml) has several issues:
1. The `ERA5_freq` and `ERA5_name` can be removed. However, I think `ERA5_name` gives some uesful information and I like to keep it. See this [issue](https://github.com/ESMValGroup/ESMValTool/issues/1884).
2. The description should include the purpose of the

[2020-10-27 10:33] SarahAlidoost commented on #1884
Agree that recipe_era5.yml needs several fixes. I made [another issue](https://github.com/ESMValGroup/ESMValTool/issues/1889).

[2020-10-27 12:37] Peter9192 commented on #1884
Okay, so if I understand it correctly: if you want to store the ERA5 data according to the default DRS, it is very unclear which values to use for the `frequency` tag. Right?

[2020-10-28 13:24] valeriupredoi opened #1890 "tests/unit/diag_scripts/mlr/test_preprocess.py fails on select machines"
**Summary**

Said test fails on select machines e.g. on Jasmin:

[code]

Note that on my laptop and GA machine it doesn't (they are both Ubuntu, whereas Jasmin is CentOS, see below); also I checked the environments and none of the sfoftware packages differ in version for Jasmin vs my laptop.

**Jasmin OS (test fails) vs my OS (test doesnt fail)**

- Jasmin:
[code]

- me laptop:
[code]

[2020-10-28 14:31] tpalmer42 opened #1891 "Implement cube_helper (MO developed iris module) in ESMValTool?"
It is time consuming to preprocess many CMIP models in IRIS due to mis-matches in the met data between files. This is a module that was developed at the Met Office to assist with these problems and make the preprocessing of CMIP data in IRIS easier.

**Would you be able to help out?**
I may be able to help out with the implementation. The code is publicly available here:

https://github.com/MetOff

[2020-10-28 14:49] bouweandela commented on #1884
The ESMValCore determines the frequency of a variable by looking it up in the CMOR table, based on the project, mip table, and variable name provided in the recipe. However, if this does not give the correct frequency, it can be overridden by specifying the frequency in the recipe.

[2020-10-28 14:52] SarahAlidoost commented on #1884
Right.

[2020-10-28 14:55] bouweandela commented on #1884
I think that would only be the case for variables that are sampled at specific points in time, not for accumulated ones like precipication and radiation, these are accumulated values over the past hour in ERA5 and we convert them to a flux by dividing by the time, so these are averaged over the hour so they should probably have frequency 1hr (without Pt).

[2020-10-28 15:01] SarahAlidoost commented on #1884
Thanks. So, we need to add the frequency to the `dataset` section in the recipe for each diagnostic, e.g. for hourly:
[code]

Is it right?

[2020-10-28 15:02] bouweandela commented on #1890
Looks like a typo in the test, it should probably be:
[code]

[2020-10-28 15:03] bouweandela commented on #1884
Only if what is looked up from the CMOR table does not provide the correct frequency.

[2020-10-28 15:04] SarahAlidoost commented on #1884
I agree. However, esmvaltool does not accept them in `1hr` by default. When I run recipe_check_obs.yml., it says that all variables should be in `1hrPt` except the variable `pr`.

[2020-10-28 15:06] bouweandela commented on #1884
You might need to specify the frequency in that recipe too.

[2020-10-28 15:07] bouweandela commented on #1884
It might look more intuitive to specify the frequency in the variable section in the recipe, but with the dataset should work fine too.

[2020-10-28 15:44] valeriupredoi commented on #1890
nope, still fails - the x and y arrays are different, defo having to do with how the machine computes them, hence the test passing on select systems :+1:

[2020-10-29 08:37] Peter9192 commented on #1884
Just a note to avoid confusion: when you say 'should be', I think you mean 'ESMValTool seems to expect this, based on the error messages produced by recipe_check_obs', right? Whereas I would use 'should be' to state what I think ESMValTool should do, based on my own reasoning, regardless of what ESMValTool *actually* does...

Otherwise I agree that specifying it in the recipe would be the best sol

[2020-10-29 08:41] Peter9192 commented on #1891
@bouweandela I was wondering if you see any use cases for this. One concrete thing I can think of is that it might help with preparing the cubes for the multi-model statistics preprocessor. But there might be more parts of the code where it could be useful.

[2020-10-29 09:19] bouweandela commented on #1884
No

Yes, me too, but you need to tell ESMValTool what the correct frequency is, because it cannot magically know this.

[2020-10-29 09:42] bouweandela commented on #1891
@tpalmer42 Thanks for contacting us! `cube_helper` looks like very nice and useful Python module, it contains a lot of functionality that we have also implemented in the [ESMValCore](https://github.com/ESMValGroup/ESMValCore) package, which is what use use to run the scientific recipes and diagnostics available in the ESMValTool package.

I'm not sure I understand what you would like to achieve wi

[2020-10-29 10:08] tpalmer42 commented on #1891
@bouweandela @Peter9192 So I use the cube_helper for preprocessing CMIP data when I want to create 20 - 50 year averages and other general statistics in IRIS that require me to concatenate a lot of cubes from a number of files. IRIS is very strict (as Im sure you know) and this deals with things like metadata mismatches. Im not familiar with the ESMValTool code so I don't know if you have modules

[2020-10-29 10:48] Peter9192 commented on #1884
I was quoting @SarahAlidoost... trying to make sure we're all on the same page ;-)

[2020-10-30 11:58] bsolino opened #1894 "examples/recipe_python.yml terminated because: Diagnostic script examples/diagnostic.py failed with return code 1"
**Describe the bug**

Running `examples/recipe_python.yml` fails because

[code]

**Please attach**
  - The recipe that you are trying to run, you can find a copy in the `run` directory in the output directory
  [recipe_python.yml.txt](https://github.com/ESMValGroup/ESMValTool/files/5464950/recipe_python.yml.txt)

  - The `main_log_debug.txt` file, this can also be found in the `run` directory in

[2020-10-30 13:19] bouweandela commented on #1891
Thanks! At the moment I think we have pretty much the same code (and quite a bit more), but it looks like a very useful library so it would be good to keep it in mind for the future, maybe we could replace some of our code by using this library. I will move this issue to the ESMValCore repository because that is where most of the code for doing these kind of things lives.

[2020-10-30 14:43] Peter9192 commented on #1894
Hello @bsolino. We've recently seen this in https://github.com/ESMValGroup/ESMValTool/pull/1882 as well.
Updating cartopy to 0.18.0 should solve it. Can you try that?

[2020-10-30 15:40] bouweandela commented on #1854
I tested:
- examples/recipe_python.yml
- examples/recipe_preprocessor_test.yml

with the `iris3` branch from https://github.com/ESMValGroup/ESMValTool/pull/1874 and compared the runtime and results with the `master` branch.

The runtime is similar and the resulting netcdf files are too, though there was some minor difference in the time axis of the multimodel statistics of diagnostic_1 of the prep

[2020-10-30 15:40] bsolino commented on #1894
How should I install that version? It seems conda only has version 0.17.0: Even after `conda install -c conda-forge cartopy`, from the [Cartopy install guide](https://scitools.org.uk/cartopy/docs/latest/installing.html#installing) the version doesn't change:

[code]

[2020-11-02 08:17] Peter9192 commented on #1894
You could use pip (after activating your conda environment):
`pip install cartopy==0.18.0`

[2020-11-02 09:14] bsolino commented on #1894
I completely forgot that I could specify versions! I'm trying now with conda `conda install -c conda-forge cartopy=0.18.0`, but conda is failing to solve the environment (and it's taking a long time to do it). I will look into if it's possible to see what packages are in conflict.

If they are still in conflict, would be a good idea to install from pip? I'm a bit wary of making a bigger mess of th

[2020-11-02 10:55] bsolino commented on #1894
Here's the conflict information from conda:
[cartopy0.18-conda-forge-conflicts.txt](https://github.com/ESMValGroup/ESMValTool/files/5474398/cartopy0.18-conda-forge-conflicts.txt)

I'm trying right now to do it on the main channel, instead of conda-forge, but it seems it's failing as well.

[2020-11-02 10:55] Peter9192 commented on #1894
What I usually do is try to install as much as possible via conda, and then resort to pip if necessary. Note that ESMValTool already has some dependencies that are only available via pip. You can see them in the full output of `conda list`: there are already some `pypi` entries in the `Channel` column.

Note that we're also trying to solve this issue in the ESMValTool conda package in #1893, but u

[2020-11-02 12:09] schlunma commented on #1890
Can you replace these lines:

https://github.com/ESMValGroup/ESMValTool/blob/6fa4b199f7cc9d30752b7e909e9de092df3a406d/tests/unit/diag_scripts/mlr/test_preprocess.py#L20

https://github.com/ESMValGroup/ESMValTool/blob/6fa4b199f7cc9d30752b7e909e9de092df3a406d/tests/unit/diag_scripts/mlr/test_preprocess.py#L43

with

[code]

?

I cannot test myself since the tests are not failing for me.

[2020-11-03 11:53] axel-lauer commented on #1866
Hi all @ESMValGroup/esmvaltool-developmentteam,
As promised, here is a first draft agenda for the next ESMValTool workshop. Comments and feedback welcome!

### Agenda Technical ESMValTool Workshop (via video call)
**(all times are given in CET)**

**Tuesday, 24 November 2020**
10.00 am – 10.30 pm 	Introduction and Welcome (Birgit)
10.30 pm – 11.30 pm 	Overview workshop topics incl. discussion (Axe

[2020-11-03 11:54] axel-lauer commented on #1817
A first draft agenda is now available for comments and feedback: #1866

[2020-11-03 12:57] valeriupredoi commented on #1890
@schlunma do you have access to Jasmin? They're only failing there (coz of the OS most prob), or alternatively if you can try running on a CentOS - I will try make the change and test in a jiffy :beer:

[2020-11-03 12:58] valeriupredoi commented on #1879
any updates on this @jvegasbsc @nperezzanon @alasdairhunter :beer:

[2020-11-03 13:04] schlunma commented on #1890
No, I don't :grimacing: Also no access to another CentOS machine...or is there an easy way to do this? Maybe using `docker`?

[2020-11-03 13:11] valeriupredoi commented on #1890
good news! with that change the test passes :partying_face:

[2020-11-03 13:16] schlunma commented on #1890
Awesome!!

[2020-11-03 13:37] valeriupredoi commented on #1855
both releases out, binning this :+1:

[2020-11-03 13:37] #1855 closed

[2020-11-03 13:47] valeriupredoi commented on #1854
So here's what I propose we do:

- we have tested quite extensively the integration functionality with iris3rc but apart from Bouwe's tests, we have not made much benchmarking vs iris2; in any case that's a bit of a *fait acompli* since we'll not keep using iris2 and the tests made by Bouwe sound promising;
- we need to test all Python recipes since there may be a creeping one using bits of iris2

[2020-11-03 16:22] morobking opened #1896 "ESACCI LST"
**Short description of the diagnostic**
This will use the ESA CCI LST data to allow comparison to CMIP6 data.
We use the L3C data from a single platform, Aqua MODIS (placeholders will be written in help further platforms being added at a later date).
First a CMORizer is written to get data in an appropriate format and to combine the CCI's day time and night time overpass monthly average files into

[2020-11-03 16:47] bouweandela commented on #1894
@bsolino How are you installing the tool? From conda or from source?

@Peter9192 All dependencies are available from conda, either from the `conda-forge` or `esmvalgroup` channel, except for the R dependencies, those are installed from CRAN.

[2020-11-04 09:53] bouweandela commented on #1890
@schlunma Yes, just run

[code]
or have a look at dockerhub for the other available versions of CentOS: https://hub.docker.com/_/centos

[2020-11-04 10:14] bouweandela commented on #1866
Looks good, thanks for creating the agenda agenda and organizing the workshop!

If possible, I would like to move the topic 'Guidelines review pull requests incl. discussion (tbd)' to much earlier in the workshop, as I hope that together we will be able to review and merge many of the currently open pull requests during this workshop, so it would be good to have clear guidelines on how to do this

[2020-11-04 10:24] axel-lauer commented on #1866
@bouweandela excellent point! I moved the item to the beginning of the first afternoon. A small group could then work on the guidelines in the morning which can then be presented and discussed in the afternoon.

[2020-11-04 10:28] bouweandela commented on #1866
Thanks!

[2020-11-04 10:58] bouweandela commented on #1894
@bsolino Usually conda is much better at solving new environments than updating existing ones, you might want to try to create a new environment, e.g.
[code]
completes works for me.

[2020-11-04 11:21] #1894 closed

[2020-11-04 13:04] #1863 closed

[2020-11-04 16:50] valeriupredoi commented on #1890
@schlunma you gunna put that fix in a PR or you want me to do it? :beer:

[2020-11-04 17:16] schlunma commented on #1890
It would be nice if you can do it, you already made the change :smile:

[2020-11-04 17:34] valeriupredoi commented on #1890
lazybum! OK shall do :beer:

[2020-11-04 17:46] bouweandela commented on #1894
@bsolino If you're still having trouble, please re-open the issue and will try to help you solve it.

[2020-11-05 12:28] rswamina commented on #1866
@hb326 , @ledm , @Peter9192 - Would it be a good idea to use on of the "Work individually" slots for a User Engagement group meeting? I am not able to add Lisa's username here but can send an email with some discussion points ahead of time. Posting this here so any others can contribute as well.

[2020-11-05 13:39] valeriupredoi commented on #1866
@rswamina Lisa Bock you mean?

[2020-11-05 13:42] rswamina commented on #1866
Yes, for some reason I wan't able to see it auto-filled or on the assignee list. Strangely am able to do so now!

@LisaBock - Please see previous comment. Thanks!

[2020-11-05 13:51] valeriupredoi commented on #1866
![DLR_Logo svg](https://user-images.githubusercontent.com/28983971/98249272-f9562200-1f6d-11eb-82da-17d9ee5f1a61.png)
May I propose a logo for the workshop? :grin:

[2020-11-05 14:39] bouweandela commented on #1836
Thanks for attending @ESMValGroup/esmvaltool-developmentteam!

Here is a summary with some news:

- @axel-lauer has created an agenda for the upcoming workshop (virtual, november 24-26) here: https://github.com/ESMValGroup/ESMValTool/issues/1866#issuecomment-721071109, please comment in the issue if you would like to add something and invite all (potential) ESMValTool enthusiasts you know to join

[2020-11-05 15:47] #1887 closed

[2020-11-05 15:59] bouweandela opened #1900 "Monthly ESMValtool meeting December"
The next monthly ESMValTool meeting will be in December. The result of the poll is that it will be on

Monday, December 7 at 10:00 CET (09:00 GMT).

The duration will be one hour. [Join the zoom meeting](https://us02web.zoom.us/j/86356385817).

Calendar invitations to the meeting are sent to the mailing list, join it [here](https://docs.esmvaltool.org/en/latest/community/contact.html#user-mailing-

[2020-11-05 16:00] #1813 closed

[2020-11-05 16:31] chrisdane opened #1901 "transient climate response TCR from year 61 to 80 or 60 to 80; 20 or 21 years?"
Hi

Do I understand it correctly that
https://github.com/ESMValGroup/ESMValTool/blob/e15f70545cd3f69bb4a704549a493d1fe1c1a410/esmvaltool/diag_scripts/climate_metrics/tcr.py#L49-L50
uses 21 years (`length(60:80) = 21`) for the transient climate response (TCR) calculation?

I am asking since the given ref [Gregory and Forster 2008](https://agupubs.onlinelibrary.wiley.com/doi/full/10.1029/2008JD01040

[2020-11-05 16:52] bsolino commented on #1894
It solved it and it's installing now. Thanks for the `conda` insights!

[2020-11-06 14:28] valeriupredoi commented on #1738
ping the DLR IT geeks via @axel-lauer :grin:

[2020-11-06 15:33] schlunma commented on #1901
Hi @chrisdane,

thanks for question and interest in the ESMValTool!

The time period considered here is actually the years 61-80 just like given in Gregory and Forster (2008). There are two reason why we need to code it like this:

1. In Python, array indexing starts with `0`, i.e. if we put the 150 annual mean temperatures into an array, the index of year 1 is `0`, the index of year 2 is `1`, etc

[2020-11-06 15:51] axel-lauer commented on #1738
The update had been scheduled for yesterday but then had to be postponed. Hoping this will take place soon...

[2020-11-06 20:21] valeriupredoi commented on #1738
they're watching the US Eelections, don't get fooled they're busy :grin:

[2020-11-06 20:32] chrisdane commented on #1901
Great thanks!

[2020-11-06 20:32] #1901 closed

[2020-11-10 11:35] #1853 closed

[2020-11-10 12:15] Peter9192 opened #1902 "Implement perfect model test for ClimWIP"
**Description**
A basic version of ClimWIP was recently implemented in ESMValTool via #1648. We would like to add some functionality to this diagnostic. In particular, we would like to add a perfect model test.

@lukasbrunner can you please edit this issue and elaborate on what the perfect model test should do?

**Would you be able to help out?**
We might be able to make some time for this during

[2020-11-10 14:51] lukasbrunner commented on #1902
# Perfect model test: the idea
(to keep it conceptually simple I will only talk about performance weighting here)

A core part of the model weighting is the transition from model-observation distances to model weights. Theoretical background can, e.g., be found in Knutti at al. [2017](http://doi.wiley.com/10.1002/2016GL072012), in particular we use formula (1) described there:
https://github.com/E

[2020-11-10 15:07] lukasbrunner commented on #1902
# Perfect model test: practical considerations

Apart from the theory presented in my comment above, the details of the perfect model test can take different forms and I think it would be good to keep it flexible, possible allowing different ways of estimating sigma.

What we do in the current implementations: the sigma are chosen in a way that the perfect model falls within the weighted 80% range

[2020-11-10 15:18] lukasbrunner commented on #1902
@Peter9192  I'm happy to discuss this and for any help. Maybe we can talk a couple of minutes tomorrow.

[2020-11-10 16:04] Peter9192 commented on #1902
I envision we can make it a separate diagnostic script (perhaps calling some shared functions?). In the recipe we can make it a separate diagnostic section, and use that as an ancestor for the weighting diagnostic. You can then easily skip that step (or not). Note that it's possible to run like `esmvaltool run .... --diagnostics climwip/calibrate_sigmas` to specify individual tasks that should be

[2020-11-11 11:56] Peter9192 commented on #1866
How can we sign up for the workshop? @hb326 @axel-lauer

[2020-11-11 15:56] rswamina commented on #1836
As per @bouweandela 's request I mention here the issue I had with processing pi-control runs for ocean data variables. This is documented (initial problem, what is currently being done with iris and some possible workarounds ) in (https://github.com/ESMValGroup/ESMValCore/issues/775) if anyone wants to know more.

[2020-11-12 14:53] hb326 commented on #1866
@Peter9192, @ESMValGroup/esmvaltool-developmentteam:
We had first thought that it might not be necessary to sign up for the workshop. After all, it is virtual, and we don't have to register people at the DLR entrance. But, it might be nice to get an overview about how many people would like to attend when, so here is a list where you can indicate on which day you plan to attend the workshop.

Name

[2020-11-12 16:04] morobking commented on #1896
Diagnostic was written to calculate CCI LST minus Model LST.
Model LST is the mean LST of several ensemble members.
The LST used is the area average.

[2020-11-13 09:13] Peter9192 commented on #1866
@hb326 We've been working on running ESMValTool in the Jupyter Hub environment hosted at DKRZ. This is related to the development of a Python API we're doing for the EUCP project, and the infrastructure developments in IS-ENES3. Perhaps it would be nice if we can briefly present this during the workshop. Do you think we can still squeeze this in?

[2020-11-13 09:53] axel-lauer commented on #1866
@Peter9192 that's a great idea! I added this topic to the agenda (from 10-10.30 on Thursday). I hope that day/time is fine, otherwise we'll find another time slot.

[2020-11-16 10:30] ruthlorenz commented on #1866
I normally do not work Tuesdays, but I'll see if I can organise someone for childcare. I will try to be there at least for the "review pull requests".

[2020-11-16 10:38] jvegasbsc commented on #1866
Added myself to the list.

[2020-11-16 12:36] valeriupredoi commented on #1866
sames, one thing left to do - find ze German bier :beer:

[2020-11-16 14:08] schlunma opened #1903 "Recipes that include variables with generic level coordinates (e.g. cl) might not work anymore"
After the merge of ESMValGroup/ESMValCore#598 recipes which use variables with generic level coordinates (e.g. `cl`) might not work anymore, since that PR included a checker for issues that have been detected before.

**Example recipe:**
https://github.com/ESMValGroup/ESMValTool/blob/master/esmvaltool/recipes/recipe_ecs_constraints.yml.

**Example issues:**
[code]

[2020-11-16 14:43] valeriupredoi commented on #1903
wait - why should `lev` be in units 1 and not hPa?

[2020-11-16 14:48] valeriupredoi commented on #1903
also note that these recipes are still functional with `--check_level ignore` as an interim solution :+1:

[2020-11-16 15:50] schlunma commented on #1903
`cl` uses a hybrid pressure coordinate (see https://scitools.org.uk/iris/docs/latest/iris/iris/aux_factory.html#iris.aux_factory.HybridPressureFactory), so this `lev` coordinate is only an auxiliary coordinate used to define the actual `air_pressure` coordinate.

[2020-11-16 16:12] valeriupredoi commented on #1903
ach so, fair dos, the intricacies of CMOR are getting at me, cheers dude :beer:

[2020-11-19 14:13] lukasbrunner commented on #1902
Hey @Peter9192 !

We had a really fruitful discussion about the theoretical backgrounds of the performance and independence shape parameter (sigma) calibration today. Now I'm trying to come up with how to best structure the code. There I could really use your help from a software engineering perspective. Here is the starting position:

- the calculation of independence_sigma and performance_sigma

[2020-11-19 14:16] lukasbrunner commented on #1902
I'm not sure if it makes sense to put this here but I started writing some skeleton pseudo code to see if everything works out like we thought. I'm putting this here in case it is helpful. (it became way too long ':) )

[code]

[2020-11-20 00:50] malininae commented on #1866
Hi everyone, I wouldn't be able to attend because of the time difference. Is there a chance to record some of the generic sessions? Thanks in advance!

[2020-11-20 07:39] Peter9192 commented on #1902
I think I agree. We can start with writing everything in the main script. If we strive to make the code as modular as possible, we can also easily refactor it into separate diagnostics later. One idea in this respect is that we can also add a function to easily load the intermediate files.

With respect to the implementation, I was thinking of a slightly different approach. I'm curious to hear you

[2020-11-21 09:18] lukasbrunner commented on #1902
Yes I've played around with minimize before and also with some gradient descent ideas to be smarter about this but nothing came out of it at the time. I can definitely have a look at this. I would start with the surrounding functionality next week and keep the actual skill calculation until the end.
About our last point: yes I had not included that in the pseudo code yet.  The idea was that the `e

[2020-11-23 08:42] Peter9192 commented on #1902
Okay I see. I like the idea of being able to optimize either, or both. If you want to balance both criteria, you will have to think about how to that anyway, right? But once you know that, you might as well use scipy to do it, e.g. something like [this](https://stackoverflow.com/a/21810002).

Personally I feel that thinking about it in this way helps to make the code more modular. Perhaps as a com

[2020-11-23 09:22] bettina-gier commented on #1866
So it seems that Mistral will be down on Thursday for maintenance, which makes the workshop harder for anyone using it - any plans to potentially switch to more "presentation-heavy" content for Thursday or are we just going to have to deal with it somehow?

[2020-11-23 09:33] hb326 commented on #1866
### Telcon details

Hey all @ESMValGroup/esmvaltool-developmentteam,
please find here the information on how to join the workshop via DFN telcon:
[Telcon_info.docx](https://github.com/ESMValGroup/ESMValTool/files/5581996/Telcon_info.docx)
[Telcon_info.pdf](https://github.com/ESMValGroup/ESMValTool/files/5581997/Telcon_info.pdf)

[2020-11-23 12:26] lukasbrunner commented on #1902
I can see this working! Thanks a lot for your input @Peter9192!! I think the performance sigma calibration is by far the more complex part of the two, so I guess it makes sense to try and get this to run during the workshop. (fingers crossed) @ruthlorenz  and i will discuss this tomorrow and get going :)

One thing I was wondering about: it might make sense to implement the really heavy lifting (b

[2020-11-23 13:56] hb326 commented on #1866
Hey all again @ESMValGroup/esmvaltool-developmentteam,
we will use Gitter for the upcoming workshop for communication if we are not in the virtual meeting. You can find the Gitter channel that we will use here:
https://gitter.im/ESMValGroup/Lobby?utm_source=share-link&utm_medium=link&utm_campaign=share-link

I have also added people to the channel already if they indicated in the table that they a

[2020-11-23 14:03] hb326 commented on #1866
Hey @malininae,
the workshop will be focusing mostly on technical details, so there will not be many generic presentations. However, there are three presentations that will introduce new developments, and we will record them so that they can be viewed outside the workshop hours.

[2020-11-23 14:19] Peter9192 commented on #1902
I don't have any experience with cython either. I'd say let's start with normal python, see if we can use scipy for managing the optimization (outer loop), and go from there in making it more efficient. I'm not entirely sure, but the inner loop doesn't seem to be too complex, so maybe we could just try to implement it efficiently in numpy or scipy? Something along the lines of the distance matrix

[2020-11-23 14:58] bouweandela commented on #1843
This has been postponed, from the link above:

[2020-11-23 14:58] #1843 closed

[2020-11-23 15:07] bouweandela commented on #1866
@malininae Depending on your time zone, you might be able to join one of our Monthly meetings? The next meeting will be in December #1900. If the times proposed in the doodle do not suit you, you could also comment on the issue and we could try to pick a time that works for everyone?

[2020-11-23 18:32] malininae commented on #1866
Thank you @hb326 and @bouweandela ! Sorry it was a bit unclear with the "generic sessions". What was meant were the talks like Introduction ESMValTool tutorial, Introduction virtual machine and bot at DKRZ and Running ESMValTool in the Jupyter Hub environment, which supposedly you were planning on recording anyway. And thanks in advance for doing that! Have a fruitful workshop!

[2020-11-24 08:26] bouweandela commented on #1719
Please re-open the issue if you need further help.

[2020-11-24 08:26] #1719 closed

[2020-11-24 08:30] bouweandela commented on #1818
A pull request with guidelines for doing reviews is now available in #1872 and I created the @ESMValGroup/science-reviewers team. @axel-lauer Would you have time to add the people who signed up to be scientific reviewers to that team so they can be tagged as a group when someone needs a scientific review?

[2020-11-24 11:19] #1849 closed

[2020-11-24 12:10] ledm opened #1904 "Pont-by-point detrending historical and futurte simulations using pre-industrial data"
I've written a diagnostic-level tool to detrend historical and future scenarios data using the pre-industrial data. This goes beyond the functionality of the detrending preprocesor, which detrends a cube using its own trend.

The tool takes the pre-industrial file path and a historical dataset path. It works like this:
- it opens both files as cubes - we assume that they've been manipulated such t

[2020-11-24 15:55] hb326 commented on #1578
@bouweandela: I just tested if I could push a branch from the private to the public repository. It worked fine for me with the description you had provided. I think we can open a pull request here.

[2020-11-25 08:59] axel-lauer commented on #1818
@bouweandela I removed you from the team @ESMValGroup/science-reviewers. So far, no one has signed up to be a (science) reviewer, people listed above are taken from the list of all ESMValTool developers who indicated interest in a specific field. I guess we need to contact people and ask.

[2020-11-25 09:11] bouweandela opened #1907 "Mention mamba as a fast alternative to conda in the installation instructions"
https://github.com/mamba-org/mamba

[2020-11-25 09:26] bouweandela opened #1908 "Add instructions for reducing the number of messages from GitHub to the FAQ"
Because the default is just too many.

[2020-11-25 09:56] zklaus commented on #1616
This sounds rather bite-sized. I recently did some `yq` processing to get all authors from a certain set of recipes. I can probably adapt that, if I know exactly what information is needed. @bouweandela, can we hash that out?

[2020-11-25 10:33] remi-kazeroni commented on #1866
Here is the call to participate to the IS-ENES3 survey on Model Evaluation Need of Earth System Modelling communities:

### **Participate to the IS-ENES3 Survey "Model Evaluation Needs of Earth System Modelling communities" !**

**Assimila Limited** has been contracted by the [IS-ENES3](https://is.enes.org/) (European Network for Earth System Modelling) project to carry out a **survey of model eva

[2020-11-25 10:42] SarahAlidoost opened #1909 "Including recipe_era5.yml under the folder cmorizer is misleading the users."
ESMValTool provides (limited) support for data in their native format. In this case, the steps needed to reformat the data are executed as datasets fixes during the execution of an ESMValTool recipe. This has the advantage that the user does not need to store a duplicate (cmorized) copy of the data. Instead, the cmorization is performed ‘on the fly’ when running a recipe. ERA5 is the first dataset

[2020-11-25 10:45] bouweandela commented on #1537
@jhidding You mentioned in an email that you put the PI of this in contact with @veyring. Did this result in anything?

[2020-11-25 10:59] nielsdrost opened #1910 "Trigger ESMValBot from an Issue"
Reported by @bouweandela: It would be useful if the bot could run a recipe also from issues. It should use the `master` branch for that. This will be useful for trying to reproduce reported problems and for testing before releases.

[2020-11-25 11:03] nielsdrost opened #1911 "Add capability for ESMValBot to run custom recipe"
@valeriupredoi asks:  can you make the bot run on a recipe one can post in a comment eg `@esmvalbot please run recipe below`
[code]

[2020-11-25 11:08] nielsdrost opened #1912 "Add install log and used environment to ESMValBot output"
When debugging a problem with conflicting libraries and such, looking at the environment for versions of packages is one of the first things to do.

The bot does not actually save the installation output at the moment. We should write the log and/or an environment print to the output folder that is served by nginx so the user can inspect it.

[2020-11-25 11:14] SarahAlidoost commented on #1909
@bouweandela , @Peter9192, @katjaweigel please let me know what you think.

[2020-11-25 11:18] bouweandela commented on #1909
Hi @SarahAlidoost,

Good point, maybe we could move the example use for hourly and monthly data to `recipe_check_obs.yml`, because that contains all examples of using this kind of data and move the daily data diagnostic to a recipe `cmorizers/recipe_daily_era5.yml`, because there we do want to pre-cmorize?

[2020-11-25 11:23] katjaweigel commented on #1909
I'm not sure. Without a hint from Birgit @hb326  I didn't manage to find them there, when I first wanted to use ERA5 data, so I agree that it is probably not the best the place. But I'm not sure your suggestions make it easier. Also based on what Birgit told me and my own workflow I'd expect that a lot of users will actually use them as cmorizors to use OBS6 in the actual recipes to make them fast

[2020-11-25 11:38] bettina-gier opened #1915 "Implementing Gier et al 2020"
**Short description of the diagnostic**
Analysis of column-averaged CO2 from satellite observations and CMIP5&CMIP6 models
Paper is accepted in biogeosciences (https://bg.copernicus.org/preprints/bg-2020-170/)

**Branch and pull request**
Pull request Tool: #1914 - draft while I work out some things
Pull request Core: to be opened. Will include fix files and XCO2 derivation.

Some open issues:
1.

[2020-11-25 11:40] bouweandela commented on #1909
What frequency do you mean @katjaweigel? For hourly or monthly data, I would be surprised if using cmorized data was any faster than just the native data.

[2020-11-25 11:41] katjaweigel commented on #1909
It is also confusing, that there is the diagnostic:
ESMValTool/esmvaltool/diag_scripts/cmorizers/era5.py
and the fix:
ESMValCore/esmvalcore/cmor/_fixes/native6/era5.py
with the same name. Maybe the diagnostic should be renamed?

[2020-11-25 11:42] katjaweigel commented on #1909
Monthly data

[2020-11-25 12:07] SarahAlidoost commented on #1909
Thank you. I am still concerned about including monthly/hourly dataset with project `native 6 ` in the `recipe_check_obs.yml`. This recipe is meant for checking cmorized data that are `OBS/OBS6`, am I right? Also, it would be difficult to find examples there. The monthly/hourly diagnostics sections are meant as an example. So it would be nice to have them in the `example folder` and notify users i

[2020-11-25 12:18] jhidding commented on #1537
Not that I'm aware; I know they talked but nothing beyond that. I can ask again.

[2020-11-25 12:34] Peter9192 commented on #1909
I like this suggestion. Maybe we don't need to keep all variables in the example either. Just show the variety of what possible.

[2020-11-25 12:47] schlunma opened #1916 "Add recipe for Schlund et al., ESD (2020)"
I will add a recipe for [Schlund et al., ESD (2020)](https://esd.copernicus.org/articles/11/1233/2020/).

The code for this paper was already developed in ESMValTool (basically went through a full peer-review), so a thorough scientific review will not be necessary.

I add this recipe in three PRs:

- [x] Changes to ESMValCore (ESMValGroup/ESMValCore#955)
- [x] Changes to shared modules (#1967)
- [

[2020-11-25 12:49] katjaweigel commented on #1909
I don't really like it. I think it makes it really hard to find and forces the user to check the code to find available variables (with fixes) and just try it for all others. I also like that the recipe currently provides the translation between ERA5 and cmor variable name, this is often not easy to find (could be moved to the description though, like we discussed for ERA5-Land).

[2020-11-25 12:58] Peter9192 commented on #1909
Actually this has changed, and the era5_name and era5_frequency are no longer needed. The current DRS to find the right ERA5 data is:

[code]

so it depends on the user putting the right variables inside the right folders. I agree that this is not pretty. Perhaps we should add a table with this mapping to the documentation instead?

[2020-11-25 13:26] bouweandela commented on #1909
Yes, I agree, and a check that they did it right in the era5 fix.

[2020-11-25 13:29] bouweandela commented on #1909
@katjaweigel @hb326 It would be great if you could share a recipe and some run times, if you happen to have this.

[2020-11-25 14:33] lukasbrunner opened #1918 "Restructure ClimWIP files"
During the discussion about additional functionality for the ClimWIP weighting method we identified the need to re-structure some of the existing functions and files. To keep things clean I will make a pull request where these changes are isolated.

Main idea:
- move several functions which will be re-used by new functionality in a new core_functions.py and an io_functions.py file.
- create a new

[2020-11-25 15:16] schlunma commented on #1903
Found another related problem:

See ESMValGroup/ESMValCore#598:

I still have this weird issue that (I think) depends on the order of which the datasets are read:

The following recipe sometimes works, sometimes fails with

[code]

for `HadGEM3-GC31-MM` and sometimes with the same error for `ACCESS-ESM1-5`.

Each of theses dataset does **NOT** throw an error when used alone.

What is going on here

[2020-11-25 15:33] zklaus commented on #1616
Ok we had a quick chat offline and the practical upshot is that it is probably a bit more work than I thought. Since `.zenodo.json` is already generated from `CITATION.cff`, the link that should be cleaned up is between `CITATION.cff` and `config-references.yml`.

We agreed that it would be easier to generate `config-references.yml` from `CITATION.cff` than the other way around. Caveat is that `co

[2020-11-25 15:57] valeriupredoi commented on #1866
@bouweandela is looking pretty serious today, surely a beer tomorrow will cheer him up :rofl: - don't forget about our social session tomorrow (beer session) which is at 830pm CET - @hb326 correct me if I got the time wrong, this UK-EU time difference is killing me :grin:  :beer:
![Bouwe](https://user-images.githubusercontent.com/28983971/100251423-a7823580-2f36-11eb-9fd2-bef61646633e.png)

[2020-11-25 15:59] bouweandela commented on #1866
Haha, I'm becoming invisible...

[2020-11-26 08:43] bouweandela commented on #1866
@ESMValGroup/esmvaltool-developmentteam Here is the [zoom link](https://us02web.zoom.us/j/83422925216?pwd=V0c0S2Z0WVNFbERINnMyZ0JRd1FKdz09) for the drinks tonight, from 8:30 PM onwards!

[2020-11-26 08:50] LisaBock opened #1921 "adding eyring13jgr Fig. 12"
New issue for adding diagnostic of eyring13jgr Fig. 12 based on @irenecionni 's branch

[2020-11-26 10:59] almerrifield opened #1923 "Tutorial Issue: running recipe_python.yml"
**Describe the bug**
A clear and concise description of what the bug is. If you are developing a new diagnostic script, please provide a link to the code/branch on GitHub that you are working in.

I am running the tutorial using the complete esmval package on an ETHZ server:
(conda create -n esmvaltool -c conda-forge -c esmvalgroup esmvaltool)
The installed version is:
ESMValCore: 2.1.0
ESMValTool

[2020-11-26 11:15] Peter9192 commented on #1923
Hi @almerrifield thanks for reporting this. In the debug log one of the last lines is: `See the log in /home/meranna/esmvaltool_output/recipe_python_20201126_100020/run/map/script1/log.txt`. Could you attach that log file as well?

Perhaps this is similar to the recent issue we've seen here: https://github.com/ESMValGroup/ESMValTool/issues/1894
There the problem was related to a bug in cartopy v0.

[2020-11-26 11:27] almerrifield commented on #1923
[log.txt](https://github.com/ESMValGroup/ESMValTool/files/5602593/log.txt)

I'll give it a try, thank you!

[2020-11-26 11:56] almerrifield commented on #1923
Unfortunately, upon running:
conda create -n esmvaltool esmvaltool 'cartopy>=0.18' -c conda-forge -c esmvalgroup -y

There seems to be a conflict between esmvaltool-python and cartopy version >= 0.18.

UnsatisfiableError: The following specifications were found to be incompatible with each other:
Output in format: Requested package -> Available versions
Package cartopy conflicts for:
cartopy[versi

[2020-11-26 12:45] Peter9192 commented on #1923
The log is not super clear, but it appears to be a very similar plotting issue indeed.

I just tried and the command above *does* work on my system without conflicts. Did you remove the existing `esmvaltool` environment you made earlier? The command is to create a new environment - that usually works better than trying to update an existing environment. You could also try to create another environ

[2020-11-26 13:15] #1918 closed

[2020-11-26 14:36] bouweandela commented on #1616
Or even better, read the authors directly from CITATION.cff (instead of from config-references.yml), but that might be a bit more work. And improve the documentation on how to add yourself as an author.

[2020-11-26 14:54] almerrifield commented on #1923
I did remove the esmvaltool environment using:
conda remove --name esmvaltool --all

Even with a new environment name, the same conflict occurs...

[2020-11-26 23:25] swartn commented on #1923
I had the same issue with this recipe, relating to:

[code]

Following the suggestion above, and installing a new environment, it switches to a different issue:

[code]

[2020-11-27 08:42] Peter9192 commented on #1923
@swartn that's very helpful information, thanks!

@bouweandela @valeriupredoi any thoughts on these version conflicts?

[2020-11-27 08:47] #1817 closed

[2020-11-27 09:27] bouweandela commented on #1866
Thanks everyone for an amazing workshop!

[2020-11-27 10:13] axel-lauer commented on #1866
@ESMValGroup/esmvaltool-developmentteam videos of the presentations at the November 2020 workshop:

(1) Niels Drost: [Testing ESMValTool (with ESMValBot)](https://drive.google.com/file/d/1rHpOzJTGGbLXT5BX37kvF48dVmQ3u7YD/view?usp=sharing)
(2) Peter Kalverla: [Bringing ESMValTool to the Jupyter Hub/Lab/Notebook environment](https://drive.google.com/file/d/1nTd7dfceWXMSEKO8LG9POav-dKOCWLTS/view?usp=

[2020-11-27 10:15] hb326 commented on #1866
@bettina-gier, @malininae: The links to the recorded workshop presentations are posted now. Have fun watching!  :)

[2020-11-27 10:22] almerrifield commented on #1923
@swartn Thank you for the recommendation! We are currently triaging the situation in-house with the following updates:

-On our servers, we as users cannot update the conda environment, but have access to conda 4.9.2

The following works to create the environment, but not run the recipe:

`conda create -n esmvaltool_full -c conda-forge -c esmvalgroup esmvaltool
`
The following cannot create the en