[2019-03-13 12:01] valeriupredoi commented on #887
great stuff! :beer: I suggest getting in touch with the iris guys via the associated SciTools issue and present them with the solution, mention @bjlittle and myslef please so we can keep track of the implementation, it's best to have it straight in iris than in esmvaltool - but yeah, cool stuff so far!

[2019-03-13 12:23] jhardenberg commented on #801
I kept experimenting with provenance for the figure .... Actually, @bouweandela  is it just my impression or provenance for figures through the 'plot_file' attribute is implemented only for png files and does not work e.g. for eps files ?

[2019-03-13 12:42] ledm opened #963 "Preprocessor generality"
Some preprocessors like `zonal_mean` and `area_average` have recently (#825) been expanded to allow more generic operation beyond just a simple mean. This means that while they're called `mean` or `average`, they can also do medians, standard deviations, variance, etc.

It would be great to add this functionality to the other spatial and temporal preprocessors:
- `average_volume`
- `seasonal_mean`

[2019-03-13 12:50] valeriupredoi commented on #918
the cdo-ncl broken relation is now solved (hence I changed the name of this issue); the r-base-ncl relation is still broken (really badly!) and I have opened an issue on the NCL gitHub since I am not able to find any conda-elegant solution: https://github.com/NCAR/ncl/issues/87

Note that if you don't need the R diags you can cleanly create the environment with the files from https://github.com/ES

[2019-03-13 13:47] #756 closed

[2019-03-13 20:09] RCHG commented on #664
As far as I know it is solved in this thread, althought I don't know it if is already implemented on the master version. On my working repository it works with Iris 1.13 and Iris 2 as well with the remarks done before.

[2019-03-14 10:49] bouweandela commented on #801
Yes

[2019-03-14 11:41] #882 closed

[2019-03-14 11:41] #918 closed

[2019-03-14 11:58] valeriupredoi opened #966 "Conda switch to gcc7 and inherent conda-forge environment solvability"
__DO NOT CLOSE THIS UNTIL WE ARE FULLY BACK TO__ `conda-forge`
To monitor: issue on conda/issues: https://github.com/conda/conda/issues/8413

[2019-03-14 12:24] valeriupredoi commented on #949
@zklaus would you be too angry at me if I asked you to look at this? I ahve a metric ton of crap that I need to take care of and I feel I am going to sideline this - plus you are working closely with the iris stuff anyways. Beer from me when we next meet :beer:

[2019-03-14 12:31] valeriupredoi commented on #925
also, the first bits are Debian (Ubuntu?) messages - I might be Dr Obvious here, but did you do a `sudo apt-get update && sudo apt-get upgrade`? :grin:

[2019-03-14 12:36] valeriupredoi commented on #847
can we close this @ledm ?

[2019-03-14 12:38] valeriupredoi commented on #842
this is tabled on the iris folks milestones https://github.com/SciTools/iris/milestone/41 so am gonna close fully trusting the iris guys

[2019-03-14 12:38] #842 closed

[2019-03-14 12:44] ledm commented on #847
Nope, it's still open as we've only half addressed it.

[2019-03-14 12:52] schlunma commented on #925
No, but I can't because I run the tool on DKRZ's mistral :grimacing:

You mean those?

These are error messages of `pip install -e ".[develop]"`.

[2019-03-14 12:55] valeriupredoi commented on #925
yesh, those ones. Darn! Tell those mistral admins to stop watching cats on the internet and update their system :grin:

[2019-03-14 14:11] bouweandela commented on #127
@nperezzanon Can you please remove ESMValTool from your private Codacy account?
https://app.codacy.com/project/nperezzanon/ESMValTool/dashboard

[2019-03-14 14:52] bouweandela commented on #664
This is not solved, a solution was suggested in this issue, but no-one has made a pull request.

[2019-03-14 14:55] bouweandela commented on #775
Renaming the OBS files has been done. I think `field` can now be removed from almost all recipes (except from a few NCL diagnostics where the diagnostic script uses it).

[2019-03-14 15:15] bouweandela commented on #906
There's probably something wrong with they names of the coordinates or something. Are they according to the cf-conventions? http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/cf-conventions.html#latitude-coordinate

[2019-03-14 15:35] #825 closed

[2019-03-14 16:36] valeriupredoi commented on #664
I can have a look at this tomorrow, since I've just gone through a whole bunch of time tools anyway; just to confirm, @ruthlorenz you have your environment up-to-date and using iris=2.2.0 and cf-units=2.0.2 right? Can you pls tell me  for what dataset/var it is failing and what is the actual Trace message? Cheers :beer:

[2019-03-14 19:57] bouweandela opened #968 "Add code owners file?"
Could be useful: https://help.github.com/en/articles/about-code-owners

[2019-03-14 20:08] #699 closed

[2019-03-14 20:09] #323 closed

[2019-03-14 20:10] #381 closed

[2019-03-14 20:11] #486 closed

[2019-03-14 20:11] #357 closed

[2019-03-14 20:12] #697 closed

[2019-03-14 20:12] #306 closed

[2019-03-14 20:13] #272 closed

[2019-03-14 20:14] #339 closed

[2019-03-14 20:14] #698 closed

[2019-03-14 20:15] #340 closed

[2019-03-14 20:16] #271 closed

[2019-03-14 20:16] #372 closed

[2019-03-14 20:25] #329 closed

[2019-03-15 10:03] maritsandstad opened #969 "Fill in the running part of the user documentation?"
Can someone please fill in this part of the user manual?
.....
Running the ESMValTool
Summarize basic steps.

I keep forgetting how and then wasting tons of time (I frankly don't have) trying to figure it out again. A simple command onliner would help greatly!

[2019-03-15 10:18] ruthlorenz commented on #664
actually no, my environment is not up to date, I did not dare to update it after some of my colleagues had trouble, but will do as soon as I am finished with the other stuff I started. I let you know!

[2019-03-15 13:36] bouweandela commented on #969
Use `esmvaltool --help` to get help. I'll add a short description in the documentation.

[2019-03-15 14:58] valeriupredoi commented on #664
env creation is now safe as of yesterday with the env files on `version2_development`, not a worry

[2019-03-15 15:01] ruthlorenz commented on #664
well with the latest environment I get:

Traceback (most recent call last):
  File "/net/tropo/climphys/rlorenz/conda/envs/esmvaltool/lib/python3.6/site-packages/pkg_resources/__init__.py", line 581, in _build_master
    ws.require(__requires__)
  File "/net/tropo/climphys/rlorenz/conda/envs/esmvaltool/lib/python3.6/site-packages/pkg_resources/__init__.py", line 898, in require
    needed = self.r

[2019-03-15 15:13] valeriupredoi commented on #664
it's best if you created the environment from scratch ie `conda env create -n esmvaltool_stable -f environment.yml` - usually `conda env update` should work as well but better be safe than sorry

[2019-03-15 15:16] valeriupredoi commented on #968
ooh scary - too much responsibility :grin:

[2019-03-15 15:23] ruthlorenz commented on #664
never mind, forgot to reinstall...
conda env update seems to have worked.

But:

2019-03-15 15:13:36,127 UTC [42238] ERROR   Program terminated abnormally, see stack trace below for more information
Traceback (most recent call last):
  File "/home/rlorenz/ESMValTool/ESMValTool-private/esmvaltool/_main.py", line 228, in run
    conf = main(args)
  File "/home/rlorenz/ESMValTool/ESMValTool-private/e

[2019-03-15 16:23] valeriupredoi commented on #664
sorry @ruthlorenz I cant run anything at the moment - there is an issue with the config-references and with the cmor/table that need attention, will be back here once those get fixed

[2019-03-15 16:30] valeriupredoi opened #972 "CMOR table fails to read correct coordinates"
**Describe the bug**
 - branch: `version2_development`
 - problem code: `esmvaltool/cmor/table.py`
 - problem: fails to read the CMOR table correctly

**Please attach**
 - recipe: `recipes/examples/recipe_preprocessor_test.yml`
 - trace:
[code]

__NOTE__: this kicks in no matter what recipe I use!

This is rather important since I can't run __any__ esmvaltool instance.
@jvegasbsc @bouweandela @mat

[2019-03-15 16:36] valeriupredoi opened #973 "Loading provenance tags without specifying the encoding prduces weird yaml crashes"
@bouweandela - have a look at this: fresh install of `version2_developemnt` on Jasmin and I get this crap:
[code]

if in `_config.py` line 198 we specify the encoding like `with open(filename, encoding='utf-8') as file:` it works fine, but why would this work when there is no actual need of it?

Also, we need to tell @mattiarighi and others to stop adding entries with special characters (like acce

[2019-03-15 16:38] valeriupredoi commented on #972
ie I made the change in #973

[2019-03-16 11:00] jhardenberg opened #974 "setup.R does not work with new version2_development environment"
After the latest changes in #965 setting up R does not work anymore.
Here is my sequence on jasmin, in branch version2_development, starting from a fresh environment:
[code]
The result is the attached log file, which ends with:
[code]

[setup_R_log.txt](https://github.com/ESMValGroup/ESMValTool/files/2973796/setup_R_log.txt)

[2019-03-17 09:54] valeriupredoi commented on #974
hi @jhardenberg cheers for raising this! The solution is explained in `CONTRIBUTING.md` ie you need to install a recent enough `gcc/g++`; I am currently on Jasmin and I have this setting:
[code]
and with it all R packages installed correctly.

@bouweandela I found out that gcc/8.2.0 didn't work (issues with RcppArmadillo) so we should probably tell people to use 7.3.0 in CONTRIBUTING.md

[2019-03-17 11:14] jhardenberg commented on #974
Thank you. Indeed I confirm that gcc/8.2.0 does not work, but with `module load contrib/gnu/gcc/7.3.0` everything works perfectly on Jasmin.
Two details:
1) CONTRIBUTING.md in the version2_development branch only says "Install gcc, g++ and gfortran if these are not available on your system.": It does not give any warning about versions.
2) Should this info not be in the "Installing ESMValTool" sec

[2019-03-17 11:22] valeriupredoi commented on #974
Both very good points, Jost! Cheers, will temporarily add that info
(temporarily since we expect the full use of conda-forge again in the near
future, and that environment will come with gcc7 from conda)

Dr Valeriu Predoi.
Computational scientist
NCAS-CMS
University of Reading
Department of Meteorology
Reading RG6 6BB
United Kingdom

On Sun, 17 Mar 2019, 11:14 Jost von Hardenberg, <notifications@

[2019-03-18 08:29] #969 closed

[2019-03-18 11:21] bouweandela commented on #973
Hi V,

I think it's somehow related to the locale setup of your system. Can you try adding
[code]
at the top of esmvaltool/_main.py and see if that helps?

[2019-03-18 11:25] bouweandela commented on #973
Some more information: the default `encoding` value use by open is whatever is returned by  `locale.getpreferredencoding()`, so I think we should be able to fix this for all files by ensuring that is ``UTF-8'` using `locale.setlocale(locale.LC_ALL, 'C.UTF-8')`.

See also:
https://docs.python.org/3/library/functions.html#open
https://docs.python.org/3/library/locale.html#locale.getpreferredencoding

[2019-03-18 11:26] bouweandela commented on #973
I don't think I agree with this. I think that people should be able to spell their names etc. correctly if possible.

[2019-03-18 11:34] valeriupredoi commented on #973
@bouweandela so here's a dubious situation I am in: everytime I connect from my laptop to Jasmin, all works fine wrt this issue (ie I am not getting it); everytime I connect to Jasmin via a local Reading machine (the only way I can access Jasmin from outside the campus domain eg when I am at home or traveling) I get the encoding-related issue. Also adding the lines you suggest up a few comments in

[2019-03-18 11:37] bouweandela commented on #973
Ok, let's not add that to _main.py then, because apparently we cannot rely on that locale being present. I think you'll just need to set your locale to something that uses 'utf-8'. See e.g. here for some advice on how to do that: https://www.tecmint.com/set-system-locales-in-linux/

[2019-03-18 11:46] valeriupredoi commented on #973
good pointer dude! So I found out that if I get on to Jasmin from oak.reading.ac.uk my `locale` is totally messed up:
[code]
whreas if I am onto Jasmin straight from my computer:
[code]
I will investigate with the Jasmin folk as why the hell this is happening

[2019-03-18 12:06] valeriupredoi commented on #973
of relevance: https://stackoverflow.com/questions/29609371/how-do-not-pass-locale-through-ssh

setting `locale` as in the link you sent will not work on a site where one doesn't have admin rights (like me on Jasmin); also that explanation in the stackoverflow issue does not apply to me since I am not sending any environment via ssh

[2019-03-18 12:08] bouweandela commented on #973
Read on a bit, at the bottom it says how to change it if you're not admin.

[2019-03-18 12:10] valeriupredoi commented on #973
yes I tried man :grin: It don't work:
[code]

[2019-03-18 12:20] valeriupredoi commented on #973
solution: add
[code]
in `.profile` - note that this is a workaround rather than a solution since the `ENV` gets passed through via `ssh` even if I don't explicitly ask for it (that is very odd! my .ssh/config has absolutely no mention of the `SendEnv` variable).

Anyway, maybe we should put this information somewhere in the documentation so people don't get totally bamboozled

[2019-03-18 12:32] valeriupredoi commented on #973
nevermind Bouwe, that IS the solution, just talked to Andy Heaps, the admin of oak, and the node is actually `SendEnv`-ing the environment; I'll add this to the documenation and also add the pointer to use gcc7 as per #974

[2019-03-18 12:33] mattiarighi commented on #973
Don't look at me, I've never done that :eyes:

[2019-03-18 12:45] valeriupredoi commented on #973
the Boss always gets it :grin:

[2019-03-18 12:46] valeriupredoi commented on #973
https://github.com/ESMValGroup/ESMValTool/pull/977

[2019-03-18 12:46] valeriupredoi commented on #974
https://github.com/ESMValGroup/ESMValTool/pull/977

[2019-03-18 14:29] valeriupredoi commented on #972
OK some updates here: I have updated to the latest conda (4.6.8) and recreated the virtual envs both on my local machine and Jasmin: I have identical environments:
[code]
and running identical setups: on my machine it works fine, on Jasmin I still get that error above and the bloody thing just dies noqa

Come on guys, @mattiarighi @bouweandela @jvegasbsc I need you guys to test as soon as you get

[2019-03-18 14:32] tomaslovato commented on #972
@valeriupredoi Hi Valeriu, did You pull today's version of `version2_development` with the updated CMOR tables for CMIP6?
`olevel` was not present in the previous version of the tables, that's probably why you get the error.

[2019-03-18 14:47] valeriupredoi commented on #972
indeed I have and the tables are identical on my local machine vs Jasmin:
[code]
Note that I am using CMIP5 data for this test
[code]
but the recipe is not important since any recipe doesn't work for me on Jasmin

[2019-03-18 15:30] valeriupredoi commented on #972
OK I found the problem: on Jasmin, the installation to target creates a custom variable file called `CMOR_ohc.dat` that contains `olevel` as spatial coordinate. The question how the hell is this created out of thin air? I source I have:
[code]
and in target:
[code]
completely removing the target egg and reinstalling (`python setup.py install`) reinstates that `ohc` var file. Where is that one cach

[2019-03-18 15:35] valeriupredoi commented on #972
aaah fucketyfuck I forgot to remove the `build` directory ARGHHHHH, damn! :angry:

BTW are we actually telling people anywhere that they should remove `build` for a super-fresh installation?

[2019-03-18 15:37] #972 closed

[2019-03-18 15:38] mattiarighi commented on #972
Can we add an option `clean` to `setup.py`?

[2019-03-18 16:07] ValerioLembo opened #979 "CircleCI looking for NCL"
I am testing my diagnostics in the branch [version2_Thermodyn_diagtool](https://github.com/ESMValGroup/ESMValTool/tree/version2_Thermodyn_diagtool) and I am having this error from `ci/circleci: python3_install`:

The thing is that I am not using NCL anywhere in my script, nor it is mentioned in [my recipe](https://github.com/ESMValGroup/ESMValTool/blob/version2_Thermodyn_diagtool/esmvaltool/recipe

[2019-03-18 16:43] valeriupredoi commented on #664
apologies for the tardy fix @ruthlorenz - have a look at https://github.com/ESMValGroup/ESMValTool/pull/980 and see if it does the trick for you (I tested in minimal mode)

[2019-03-18 16:43] bouweandela commented on #979
The failing test is a unit test that tests if ncl scripts can be executed.

Try merging the latest `version2_development` branch into your own branch.

[2019-03-18 16:46] ValerioLembo commented on #979
It seems already up-to-date...

[2019-03-18 17:16] tomaslovato opened #981 "missing frequency using CMIP6 datasets"
Executing a recipe with variables from CMIP6 Omon table (e.g., chl) generates an error in fix_metadata of model dataset ..

Here below the error message

[code]
Note that in `fix_metadata` the **frequency** field is empty.

For some reason, the code is not picking up the `frequency` field from the variable of the CMIP6 table, but if I hack the CMIP6_Omon.json table by adding the frequency in the f

[2019-03-19 09:07] zklaus commented on #901
Some more context for the practicalities of fx files:

- Some "fx" files might be not so fxed: At least `thkcello`, `masscello`, and `volcello` can live either in `Ofx` or in (`Omon` and `Odec`) depending on the model. My reading of the data request suggests that these are the only ones.
- At least IPSL is embedding at least some fx information (certainly `areacello`) in their data files. Maybe we

[2019-03-19 09:19] zklaus opened #982 "Determine `activity` from `exp`"
In CMIP6 the `activity_id` that is part of the path is determined by the `experiment_id`. Hence, I suggest we determine it from that information in a similar way as we already find institutes from `source_id`s, thus making it optional to specify them explicitly in the recipe.

[2019-03-19 09:47] zklaus opened #983 "Problem with native grids in `_check_dim_names` for CMIP6 data"
The cmor checker complains as follows about some CMIP6 data:
[code]
I think this is because it checks whether the `var_name` agrees with the `out_name` of the respective cmip6 table. Unfortunately, this seems not to be in line with the intentions of CMIP6, see [this discussion at the cmip6 tables](https://github.com/PCMDI/cmip6-cmor-tables/issues/215).

So requiring presence and `var_name` for coo

[2019-03-19 10:47] mattiarighi commented on #982
Can we add this as a dictionary in `config_developer` (like `institutes`)?

[2019-03-19 10:49] #624 closed

[2019-03-19 11:21] tomaslovato commented on #981
The problem here is the assumption that `table.frequency` is defined also in CMIP6 tables, but
it was changed in favor of having `frequency` defined for each variable.

The solution is to modify `ESMValTool/esmvaltool/cmor/table.py` as follow

[code]
I tested it and it only requires the removal of `ESMValTool/esmvaltool/cmor/tables/cmip6/Tables/CMIP6_CFsubhrOff.json` that is obsolete and  not more

[2019-03-19 11:57] valeriupredoi commented on #983
I would suggest starting to add @sloosvel for such matters since I think @jvegasbsc is already off to be dad

[2019-03-19 11:59] maritsandstad commented on #906
Thanks so much for the data! Now they pass nicely through the checks. However, I still can't really test my diagnostic, as I get Exec error. From the error it seems like the code might be trying to parse my R-diagnostic as python code... I'm not sure what to do about that...

  File "/div/pdo/extreme/masan/V2/ESMValTool/esmvaltool/_main.py", line 158, in main
    process_recipe(recipe_file=recipe,

[2019-03-19 12:19] zklaus commented on #982
Good idea! I don't know what else is necessary in terms of backend mechanics.

[2019-03-19 12:20] zklaus commented on #983
Ok, didn't know that. Thanks, V!

[2019-03-19 12:23] valeriupredoi commented on #906
the call to `subprocess` does not mean it is trying to execute your R script as Python script, it is common to any subprocess launched from Python but that can execute any supported process (R, NCL etc). R scripts work from exactly that subprocess launcher but it looks like there is something that Python doesn't like about __execution__ rather than running a process, so I'd do the following if I w

[2019-03-19 12:28] valeriupredoi commented on #906
here is an example of R diag that @jhardenberg is working on, he knows well R (unlike me) so he can probably help more, but as I see in your diag, that `interface_data` dir seems not to have a properly set path to it (surely it isn't in the dir where the diagnostic is) https://github.com/ESMValGroup/ESMValTool/blob/REFACTORING_rainfarm/esmvaltool/diag_scripts/rainfarm/rainfarm.R

[2019-03-19 12:33] maritsandstad commented on #906
Ok, thanks so much! That is very useful!

I guess I find it quite difficult to understand the error messages as there is so much wrapper on top of what is actually going on... Me being dumb though, mostly, I guess...

[2019-03-19 12:37] valeriupredoi commented on #906
well, it's never easy with cross-platform stuff :grin: Do you have a diagnostic log file at all? It might be that the execution stopped right before writing anything to the diagnostic log so you are stuck with only what the task manager tells you. Anyways, I think here it's just a case that your `interface_data` dir is not found since there is no explicit path setter for it

[2019-03-19 12:40] maritsandstad commented on #906
I think you are right. Probably tons of other things as well

BTW I doubt the .r extension is to blame for anything. All the magic scripst are .r ...

[2019-03-19 13:42] valeriupredoi commented on #979
it is not up to date, looking at `git log`, the last merge was:
[code]
I will merge it now, but be sure to check status next time :checkered_flag:

[2019-03-19 13:46] valeriupredoi commented on #979
handy commands:
[code]

[2019-03-19 14:01] valeriupredoi commented on #979
resolved my `version2_development` merge

[2019-03-19 14:01] #979 closed

[2019-03-19 15:38] jmcgove commented on #803
Hi @valeriupredoi <https://github.com/valeriupredoi>, sorry for delay, was
away. I am not at ECMWF in Reading; I run on ecmwf cca from a different
centre.

Almost there. I tried conda update again, works ok now
Executing transaction: / dbus post-link :: /etc/machine-id not found ..
dbus post-link :: .. using /proc/sys/kernel/random/boot_id
done

The next step,                 python setup.py insta

[2019-03-19 15:40] mattiarighi commented on #982
It should only affect `_data_finder.py`.

[2019-03-19 16:21] mattiarighi commented on #981
This seems to affect `obs4mips` data as well. I get exactly the same error with the `GPCP-SG` and `CERES-EBAF` dataset.

[2019-03-19 16:40] #775 closed

[2019-03-19 16:53] valeriupredoi commented on #981
for `chl` in `CMIP6_Omon.json`
[code]
we can't hack CMOR tables, if they are obsolete then we update those via git rather than hacking them manually.
Can you provide a minimal recipe that I can use to reproduce this issue pls? :beer:

[2019-03-19 17:07] valeriupredoi commented on #981
ah no need to worry about a recipe example, it fails straight away for `tas` as well - question is - has the current implementation worked __at__all__ for CMIP6 data?

[2019-03-19 17:11] valeriupredoi commented on #981
it works if you add it in the recipe: `frequency: mon`

[2019-03-19 17:18] tomaslovato commented on #981
@valeriupredoi  My bad!!  I forgot to say that with the correction proposed there is no need to hack cmor tables.

[2019-03-19 17:18] schlunma commented on #981
Yes, ~ one week ago I successfully ran this:

https://github.com/ESMValGroup/ESMValTool/blob/864260c8e27f15d8a34b08be61372e8a3db32432/esmvaltool/recipes/recipe_ecs.yml#L77-L95

[2019-03-19 19:57] valeriupredoi commented on #981
OK here's the bugger: in `table.py`: `table.frequency = header.get('frequency', '')` -- problem is in the latest CMIP6 tables the Header member does not contain the frequency anymore but it is specified at variable levels; also the same variable shows up in different modeling realms and the realm is treated as a single concatenated string; I changed it a bit like this:
[code]
and I checked that th

[2019-03-19 21:59] tomaslovato commented on #981
@valeriupredoi Why not to try to simply force assignment of `frequency` to the table as I did in the solution proposed above. Here below a simple addition to your code ...

[code]
As part of previous consideration, this assignment should be kept to avoid compatibility issue with CMIP5 tables.

The obsolete table I was referring (`ESMValTool/esmvaltool/cmor/tables/cmip6/Tables/CMIP6_CFsubhrOff.json

[2019-03-19 22:10] valeriupredoi commented on #981
hey @tomaslovato and @mattiarighi have a look at this one https://github.com/ESMValGroup/ESMValTool/pull/985 and test please, when you gots time, I will fix the test as soon as I hear you guys had success testing!
@tomaslovato cheers for the suggestion - have a look at the code changes in the PR pls, it is pretty much just as you suggest, only that the table gets forced a `frequency` attribute dep

[2019-03-19 23:44] tomaslovato commented on #981
:top: I'll do it !!

[2019-03-20 07:38] mattiarighi commented on #981
But why is this affecting `obs4mips` as well?
We didn't change those tables, did we?

[2019-03-20 07:49] valeriupredoi commented on #981
Good question - it's the checker that is calling CMIPXInfo (there is no
function dedicated to obs4mips info from CMOR Table) and the problem was
there - in fact, I am not even 100% sure why we even had the problem after
all, for any model, since the syntax in CMIP6Info() was correct and
accounting for the two cases that frequency can be in the var dictionary or
the header of the CMOR Table. Forcin

[2019-03-20 09:48] bascrezee opened #986 "Create an overview table of custom CMOR entries."
When more observational datasets are added to ESMValTool, the number of custom CMOR entries will grow. The .dat files have consistent but short names. Therefore, it can be hard to find if a certain ('flavour' of a) variable is listed already. An overview table of all the inputs in the folder
'~/ESMValTool/esmvaltool/cmor/tables/custom' would be helpful.

**Would you be able to help out?**
Yes, fro

[2019-03-20 11:39] earnone commented on #703
Running into the same problem both with historical going further than 200512 or one month only overlapping and the like. For cmip5 we know how each run was performed, can't we preprocess and re-archive these data once or all? I.e. historical ending 200512 and rcp starting at 200601.

BTW, if two dataset of the exact same experiment are present covering two time spans, why would one want to use the

[2019-03-20 12:57] jmcgove commented on #803
Hi @valeriupredoi , sorry for delay, was away. I am not at ECMWF in Reading; I run on ecmwf cca from a different centre.

Almost there... conda (updates etc...) work ok now. When I do `python setup.py install` it is ok, though hangs at
[code]
Doing then esmvaltool --help gives
`pkg_resources.DistributionNotFound: The 'yamale' distribution was not found and is required by ESMValTool`

It looks like

[2019-03-21 09:35] schlunma opened #988 "Use of fx files in variable derivation fails"
**Describe the bug**
Since #970, the use of `fx_files` in variable derivation does not work anymore.

**Problem**
The `settings` dictionary is not updated here:
https://github.com/ESMValGroup/ESMValTool/blob/f2f86a296e1a90a0a9528f2653460dfb1c44120e/esmvaltool/_recipe.py#L361-L370

**Solution**
Add `settings['derive']['fx_files'] = fx_files` to the code above.

I will open a PR for that.

[2019-03-21 12:34] mattiarighi commented on #937
To be solved in #985

[2019-03-21 14:01] valeriupredoi commented on #988
cheers for the find and cheers for the fix @schlunma :beer

[2019-03-21 16:56] bouweandela commented on #270
@bjoernbroetz @earnone What is the status of this?

[2019-03-22 13:45] #974 closed

[2019-03-22 13:46] #973 closed

[2019-03-22 14:39] earnone commented on #270
The files preprocessed by v2 are not readable by the climdex.pcic.ncdf library at the core of this dlr namelist. So that halted the porting into v2. There was also an overlap with hyint, in the sense that hyint can read the results from this namelist and do further processing. If this is not going to be ported, we can run directly climdex adding a subroutine to hyint if we find a way to make climd

[2019-03-22 15:12] valeriupredoi commented on #947
hows stuff going in here @npgillett :beer:

[2019-03-22 16:56] valeriupredoi commented on #883
I am trying this locally first then I will see what we can do to get it uploaded to the channel nightly, man

[2019-03-25 11:06] sloosvel commented on #983
Hi @zklaus,
For which datasets and variables did you have this problem?

[2019-03-25 11:18] nperezzanon commented on #127
Dear Boweandela,
I've close my Codacy account as I don't think I need for now.
Could you check if this is ok for you?
Thanks!

[2019-03-25 12:07] bouweandela commented on #127
Thanks

[2019-03-25 12:07] #127 closed

[2019-03-25 13:12] bascrezee opened #992 "Saving CMORized files with monthly precision when input data has incomplete years."
In order not to lose any data, I suggest modifying the function utilities.py/_save_variable to also take months as input.

[2019-03-25 13:21] bascrezee opened #993 "Largest area fraction regridding as part of CMORization procedure."
I am working on the CMORization of a 1-km resolution satellite dataset. One of the variables on the dataset is 'landcover' and it needs 'largest area fraction'-type (sometimes also referred to as 'mode') regridding. Is there any functionality available already for this special type of regridding?

My current implementation is outside ESMValTool, making use of the [ `gdal` Python bindings ](https:/

[2019-03-25 13:46] BenMGeo commented on #992
This needs to be the "first step" actually.

To treat obs reasonable or apply different obs aggregations to compare them to model data, it should be possible to keep the original resolution and range. ( => similar issue on 1hr step width, etc.)

[2019-03-25 13:55] valeriupredoi commented on #992
I will change this in a short bit today;
Note that for the specific problem of missing data in time: for the actual running of esmvaltool if you have, say three datasets all with end_year: YYYY in the recipe, but one of them is missing a few months from the end, you should be able to run OK but bear in mind for any multimodel operation that that dataset will be shorter in time; the tool does not a

[2019-03-25 14:17] valeriupredoi commented on #993
short answer: no. Having said that I am fairly confident we can put something in to reproduce such a functionality; my main concern is that the regrid module will not be able to handle such fine grids without serious rewriting though

[2019-03-25 16:27] bouweandela commented on #993
It looks like we already have gdal as a dependency of a dependency, so adding it is probably not such a big issue.

I would recommend using the [rasterio](https://rasterio.readthedocs.io) packages instead of the gdal python bindings, as it's much more user friendly.

[2019-03-25 19:37] npgillett commented on #947
I understand that I can pass the filename of the sftlf file to my script and regrid myself there, by masking one of the other input variables. I'm not sure how to do this without masking one of the input variables (I don't want to mask these). What I really want is to regrid in the preprocessor.

[2019-03-26 14:34] nperezzanon commented on #903
Hi @bouweandela,

I'll try to answer recipe by recipe:

- **Toy Model:**
beta range -> DONE
data -> it should work with monthly and daily data.
            see Jasmin folders /work/scratch-nompiio/nperez/
                               recipe_toymodel_wp4_20190212_113407
                               recipe_toymodel_wp4_20190213_114615

- **Multi-model product:**
time_series_plot the documentatio

[2019-03-26 14:40] valeriupredoi commented on #992
so in light of my comment above and https://github.com/ESMValGroup/ESMValTool/pull/942#issuecomment-476675715 I don't think we need months in the saver function __unless__ it's daily data (but we need to address that case on a totally different level anyway)

[2019-03-26 16:19] nperezzanon commented on #903
Hi again,

I’ve improved:

- **recipe_capacity_factor_wp7.yml**
It would be nice if the plot contained the names of the wind turbine, so you can see what is what.
 --- > names added!
You could check the output on Jasmin: /work/scratch-nompiio/nperez

- **Naming of recipes** --> Removed "_wp#"

- **Combined Climate Extreme Index documentation page**

[code]
I don't understand this comment, sorry. T

[2019-03-27 08:16] bouweandela commented on #903
Hi Nuria,

Thank you for the updates and explanations. Can you please make a pull request? That makes it a bit easier for me to see what is going on.

**Toy model**

It would be great if you could add that in the documentation

**Multi-model product**

The R code can read the dates from the metadata provided to the diagnostic script by the preprocessor, similar to how to you get the filenames, hav

[2019-03-27 08:26] bouweandela commented on #947
If you do as recommended here https://github.com/ESMValGroup/ESMValTool/issues/947#issuecomment-470883790, no input variables will be masked, this will only provide you with the paths to the fx files.

[2019-03-27 09:11] nperezzanon commented on #903
Hi @bouweandela,
Thanks for your comments, I've created the pull request.
I need time to have a look to all the information.
Núria

[2019-03-27 09:35] #988 closed

[2019-03-27 09:40] bouweandela commented on #903
Thank you! Note that `field` can be removed from all recipes, it is no longer needed with the latest version of esmvaltool.

[2019-03-27 10:54] nperezzanon commented on #903
Hi,
I've removed 'field' from the recipes. Other modifications are:
-**recipe_extreme_index_wp7.yml**
Setting metric to cdd results in a crash
   --> It works with precipitation (See output on Jasmin)
The metric options are not correctly formatted on the documentation page
  --> I have updated the documentation.

In fact, these comments are related to your last suggestion of include all combinatio

[2019-03-27 11:19] bouweandela commented on #903
Yes, it will affect the portal, but I think it's absolutely fine if all metrics are always computed. The user can then just view the results they are interested in (it does not matter if there are extra results, right?).

[2019-03-27 11:40] nperezzanon commented on #903
Oh, I see... And what about the time of computation and the memory used? I think this is very important to optimize the performance of the portal.

[2019-03-27 12:54] bouweandela commented on #903
I think it will not make a big difference in run time, as esmvaltool computes diagnostics in parallel. There will probably be an increase in memory use, but there are other recipes that also use a lot of memory (e.g. I just ran the perfmetrics recipe and it needs about 50 GB of memory). By the way, there is a command line option, `esmvaltool --diagnostics`, to run only a selection of the diagnosti

[2019-03-27 13:17] valeriupredoi opened #997 "New (or improved) website"
The tool's website https://www.esmvaltool.org/ looks dated (nice one if we were still in the 1990s :grin: ) in terms of design and if relatively up-to-date with version2 (but not really), I suggest we actually design a nicer-looking website and add a whole lot of nice examples of running the tool and their respective (eye-catching) output plots. I unfortunately don't have neither the experience no

[2019-03-27 13:21] bouweandela commented on #293
Note that provenance is still missing. This is a deliverable for MAGIC, so it would be good if someone could start working on adding this soon.

[2019-03-27 13:25] valeriupredoi commented on #997
I guess the first question to answer if we want to go ahead with this (at some point in the near future) is if we want this done by ourselves or a third-party web dev; the cheaper way is in-house development ie anyone has an MSc or PhD student who would embark on this?

[2019-03-27 13:31] bouweandela commented on #997
I think we could just make the readthedocs page nicer, that's what most software projects do.

There's also the magic portal, which is fairly nice: https://portal-dev.c3s-magic.eu

[2019-03-27 14:23] valeriupredoi commented on #997
read the docs yes, but we need a nice website that says esmvaltool not C3S bla (that portal is nice indeed, maybe we can use the html source for esmvaltool.org?) - esmvaltool.org is the first gateway for potential new users or developers, it has to be eye-catching and give a nice roadmap for where they want to go next ie read the documentation, go to gitHub, go to the C3S portal etc; it's like you

[2019-03-28 10:48] bouweandela opened #1002 "python-stratify still needed?"
It looks like iris supports vertical regridding: https://scitools.org.uk/iris/docs/latest/userguide/interpolation_and_regridding.html#interpolating-non-horizontal-coordinates

@bjlittle Do we still need python-stratify for vertical interpolation? Additionally, do we still need to do cube slicing if the levels are already available, is this shortcut not taken by the iris vertical interpolator?

Her

[2019-03-28 12:33] valeriupredoi opened #1003 "Problems with variable derivation"
I am trying to make @tillku 's PR #922 work (again; it is currently an obsolete PR that needs a proper merge of `version2_development`). Here's some outstanding issues I ran into and solved as I went along: merging `version2_development` in:

 - the custom CMOR file now needs the `generic_levels` field and can not handle `olevel` if not specified as a generic level (previously it was specified in

[2019-03-28 15:25] schlunma commented on #1003
This was removed in #755 (not by me). I think the current approach is to simply not use a `standard_name` which is not valid for iris, i.e. remove the `standard_name` in your custom CMOR table, e.g.

[code]

[2019-03-28 15:37] valeriupredoi commented on #1003
aha cjeers @schlunma but I don't think I agree with that change then - why not leave the customized standard name? That won't affect any further functionality unless it is reset to a different (non-standard) name - plus, how will a `None` standard name be handles in a diagnostic that uses more than one non-standard (hence `None`) standard name?

[2019-03-28 16:55] valeriupredoi commented on #887
@bouweandela good stuff - but have you tested the implementation of https://github.com/SciTools/iris/pull/3299 within ESMValTool?

[2019-03-29 11:29] valeriupredoi commented on #943
hi @LisaBock - is this been done (by you) or you need any help implementing it? :beer:

[2019-03-29 11:33] valeriupredoi commented on #547
This is unfortunately not fully solved - see #1003 and https://github.com/ESMValGroup/ESMValTool/pull/922#issuecomment-477238580 I will try fix it today

[2019-03-29 12:13] mattiarighi commented on #1003
This has been extensively discussed and the outcome was to leave `standard_name` for custom variables empty, since these variable are not standard and therefore cannot have a `standard_name`.

[2019-03-29 12:16] valeriupredoi commented on #1003
sounds good! I am happy with the principle, as I said above, I am not happy with the prcticality of it: what do you do in a diagnostic that uses several of these variables - ie how do you operate your cubes, select only by `long_name`/`short_name`?

[2019-03-29 12:55] valeriupredoi commented on #1003
also with no standard name it don't work:
[code]

[2019-03-29 13:08] valeriupredoi commented on #1003
my apologies, pls disregard the previous (now minimized) comment, I am being a dumbarse and testing with some dirty changes, it works fine with `None` for standard name, no panic :grin:

[2019-03-29 13:13] mattiarighi commented on #1003
Then we can close #547 again, right?

[2019-03-29 13:15] valeriupredoi commented on #1003
No - in terms of CMOR fixes to fx files:  it doesn't work ie for fx files used in derivation the metadata fixes are not applied

[2019-03-29 14:08] BenMGeo opened #1005 "Development help tools collection"
Not a real feature request, but:

Do we want to have a possibility to share scripts or commands to make development easier (read: analyze the output on memory usage, etc.)?

I'll just add some examples here:

[2019-03-29 14:12] BenMGeo commented on #1005
Use case: In diagnostic development, you sometimes want to optimize your diagnostics on memory usage. Therefore you do not want to, repeatedly, look into directory structures and switch back and forth. It usually is easier to compare based on a single multi-line plot.

Producing a multi-line plot to analyze memory usage of single diagnostics:
[code]

This is how it looks:

![example](https://user-

[2019-03-29 14:20] BenMGeo commented on #1005
Use case: In diagnostic development, you sometimes want to optimize your diagnostics on memory usage. For a fast check if your diagnostic exceeds the backend's memory, you only want to see the maximum memory usage of your call of ESMValTool.

You can run your recipe with and without your diagnostics with the embracing command `time` (usually standard command):

`/usr/bin/time -f "\t%M Max Resident

[2019-03-29 14:22] bouweandela commented on #1005
We have various such tools in esmvaltool/utils. The script would need some cleanup though, at the very least you would need to make sure it can be imported without executing it. Adding a command line parser would also be nice.

If it's just a  one liner, the developer documentation might be a better place, maybe create a tips and tricks section or something..

[2019-03-29 14:26] BenMGeo commented on #1005
I did not find any post/meta analyzers there. Therefore, the question.

Great, so I will add these, when I improved on style, etc.

[2019-03-29 16:05] #851 closed

[2019-03-29 16:05] #819 closed

[2019-03-29 16:41] valeriupredoi commented on #547
ok chaps so after much fiddling around with mostly dead-end options, I have come to propose a relatively straightforward method to address this issue: see example only for the derived vars that use fx files, extendable to all other fx cases picked up from recipe:
[code]
so basically, right after the fx files are found (off whatever remote server or local DB) we fix and check them (the bits in comm

[2019-04-02 12:21] valeriupredoi commented on #547
https://github.com/ESMValGroup/ESMValTool/pull/1009

[2019-04-02 13:11] valeriupredoi commented on #1003
cmor checks for fx files in https://github.com/ESMValGroup/ESMValTool/pull/1009

[2019-04-02 14:29] bascrezee opened #1010 "How to deal with a diagnostic that takes as input several variables where at least one of them, but not all need to be available?"
I have a diagnostic that looks something like this:

[code]

How should I deal with this in the recipe? To me it looks as if one needs to specify for each diagnostic the variables that are needed as input. But what I would need is a conditional passing of variables, i.e., if the variable is on the dataset, pass it, but do not raise an error if on this particular dataset the variable is not present

[2019-04-02 15:28] valeriupredoi commented on #1010
if a variable is not needed don't put it in the recipe: no need for it - no need to spend cpu time and memory on any preprocessing that may be done on its data; if your diagnostic needs to check what variables are passed to it use the sorting functionality that assembles a dictionary keyed on variables eg:

[code]

[2019-04-03 07:58] bascrezee commented on #1010
Thanks for your help and cheers ! :coffee:

If a variable is present on the file, it is needed. But not every dataset has all variables present. My data exists of fractions of land cover. A few different landcover classes are defined. E.g. a category can be `crops_and_grasses`. Whereas model A has both `cropFrac` and `grasFrac` present, model B has only `cropFrac` present. My diagnostic, will take

[2019-04-03 08:25] bouweandela commented on #1010
All variable/dataset combinations specified in the recipe have to exist. However, it is possible to specify datasets per variable by using the `additional_datasets` keyword at variable level, so there should be no problem in putting your use case in a recipe.

See e.g.:
[recipe_cox18nature.yml](https://github.com/ESMValGroup/ESMValTool/blob/version2_development/esmvaltool/recipes/recipe_cox18natur

[2019-04-03 09:34] jmcgove commented on #803
Hi @valeriupredoi I got it compiled and installed with conda ok now.

In config-developer.yml it shows all options in CMIP6 for drs in config-user.yml:
[code]
In config-user.yml, there is
[code]
do the options in config-developer.yml need to be added into config-user.yml?

[2019-04-03 10:24] valeriupredoi commented on #803
awesome, good stuff!!
You need to specify the `drs` type in `config-user.yml` eg if you are using `CMIP6` data from a BADC-type drs you should specify it as
[code]
 or, if you have all your data in an unstructured directory called `my_data` you need to set it as default and specify the dra with it
[code]
Have a look at the documentation: https://esmvaltool.readthedocs.io/en/version2_development/us

[2019-04-03 14:09] valeriupredoi commented on #993
so the question here is do we want to make this part of the core functionality or not?

[2019-04-05 11:39] valeriupredoi commented on #883
Hey @bouweandela -- some good news bro - I managed to create a conda package for esmvaltool and actually install the tool from the local channel (using that package):
[code]
(this might be child's play for you but it's the first time I've done it!)
This is what I used:
[code]
in my case I had to do it on my local machine (laptop) since symlinking the julia path would not work on Jasmin (unless in

[2019-04-05 11:47] valeriupredoi commented on #883
right birdhouse is only for yamale
[code]
come one, surely we can find that one somewhere else, birdshit is not to my linking :grin:

[2019-04-05 12:59] zklaus commented on #993
For me, the question is even more naive: What is this? According to [this](https://code.mpimet.mpg.de/boards/1/topics/925) it doesn't really seem to be a regridding at all. The horizontal grid stays completely the same. It's rather a sort of argmax operation along a 'type' axis.
For example I took the file
[code]
which has
[code]
the resulting cube in iris looks like
[code]
and if I understood you

[2019-04-05 13:29] bascrezee commented on #993
@valeriupredoi : Yes, I think that is the question.

@zklaus : Unfortunately I don't have time to look into detail to what you suggest. But if I read your example correctly, you are taking 'fraction' data as example (e.g. fraction of a certain landcover, fraction of sea-ice). For those data, I agree with you.

However, I was thinking about categorical data (e.g. the data contains integers [1, 2, 3

[2019-04-05 14:02] zklaus commented on #993
@bascrezee since you were speaking of CMORization I was looking into the CMIP6 data request to find which variable you might be talking about and `landCoverFrac` came closest. Indeed, this contains the fractions for different types, and is categorical data in that sense.

But let's revisit this when you come back to it.

[2019-04-05 14:10] bascrezee commented on #993
Yes, I fully understand the confusion. I now changed the title and description a bit, to make it more clear. Thanks for your support and let's revisit this later. :)

[2019-04-05 14:30] valeriupredoi commented on #883
OK, a few more points:
 - the user actually needs to install esmvaltool in its own environment; this is one one hand clunky and annoying since an installation in the base environment doesn't really work (I noticed a lot of weird older versions of dependencies not being updated and some not installed at all), on the other hand it's nice because it teaches users to have separate envs for separate wo

[2019-04-08 06:53] mattiarighi commented on #951
I have a related issue, but I do not know whether it is related to `log_provenance` or it is more general.

The current approach does not work when the diagnostic generates more than one nc file (in workdir) and/or more than one plot (in plotdir), since in `diagnostic_provenance.yml` the corresponding keys are not defined as lists.

Is it in enough to extend `log_provenance` or is it a more genera

[2019-04-08 10:18] valeriupredoi commented on #992
fixed in https://github.com/ESMValGroup/ESMValTool/pull/942 so closing this one :beer:

[2019-04-08 10:18] #992 closed

[2019-04-08 10:20] axel-lauer opened #1013 "CMOR fix applied twice"
Fixes are erroneously applied twice if
* derived: true in the recipe
* variable is available with no derivation needed for a data set with an existing fix file

This is typically the case if a variable needs to be derived for models but is readily available from observations *and* a fix file for the observations exists, e.g. (from [version2_lauer17rse](https://github.com/ESMValGroup/ESMValTool/tre

[2019-04-08 10:24] valeriupredoi commented on #869
#867 was merged so closing this

[2019-04-08 10:24] #869 closed

[2019-04-08 10:30] valeriupredoi commented on #803
can we close this @jmcgove :beer:

[2019-04-08 10:52] valeriupredoi commented on #1013
@axel-lauer why are you saying they are applied erroneously twice? As in, the fix is applied once on the CMOR variable and then it's applied again on the derived variable?

[2019-04-08 12:12] valeriupredoi commented on #1013
ah I see now: `xco2` from `obs4mips` gets fixed twice = once at the very beginning (together with all the other CMOR variables that enter the derivation) and one more time after derivation completed

[2019-04-08 12:19] valeriupredoi commented on #1013
and the xplanation for those two checks is that the second and last one is done on the actual derived variable and the first one is done on the input obs4mips variable that is consudered as secondary variable, see the output structure:
[code]
so I think this is all good, man, there is the need to do both these checks

[2019-04-08 15:02] valeriupredoi commented on #1013
that is happening because the code first looks for xco2 files, for each dataset eg:
[code]
and in the obs4mips case it actually finds them and uses them as input CMOR variable files. There has to be a hook in whereas the actual xco2 files should not be considered as eaw CMOR varable files and treated separately. One suggestion would be to put the obs4mips dataset in a separate preprocessor, that w

[2019-04-09 06:26] axel-lauer commented on #1013
Not sure how putting things in two separate preprocessors would look like, so I couldn't try this trick. In any case, I think this would be a recipe for producing wrong results because this would be very difficult for users of the ESMValTool to understand (requires users to know about variable derivation, what exactly is provided by observations, fixes available for observations, type of fix, etc.

[2019-04-09 06:41] valeriupredoi commented on #1013
Yes you are right, not sure what I was thinking when I was suggesting
putting the dataset in a different preproc :grin: We'll have to look
exactly where the input variable (which is also the output one in the
obs4mips case) is treated as derive member

Dr Valeriu Predoi.
Computational scientist
NCAS-CMS
University of Reading
Department of Meteorology
Reading RG6 6BB
United Kingdom

On Tue, 9 Apr 2

[2019-04-09 15:00] ddocquier commented on #208
Hi @jvegasbsc, could you update me on the status of this metric please? If you need any help in implementing it, let me know.

[2019-04-09 15:39] ledm commented on #997
I think that this would be the best way forward. It's time to mothball [www.esmvalool.org](https://www.esmvaltool.org/).

The readthedocs landing page is particularly stark. We should immediately put some kind of header on there. Even a brief subtitle describing ESMValTool before the table of contents would be a great start.

(Yes, I'm back at work now. yay?)

[2019-04-10 08:57] mattiarighi commented on #496
Now that the CMORizers are up and running, we are ready to tackle this issue.
Some general thoughts for discussion:
- station data are usually 1-D time-series at a specific location, so the cmorized variable should have dimensions like (time, lat, lon), with lat and lon of size 1. The boundaries would be somewhat arbitrary, but they are anyway not needed since regridding is not applicable to point

[2019-04-10 09:01] mattiarighi commented on #416
Can we close this?

[2019-04-10 09:04] mattiarighi commented on #603
@valeriupredoi can we close this issue?

[2019-04-10 09:07] BenMGeo commented on #496
Thank you, Mattia, for bringing this back. So basically a single lat and lon attribute/dimension should be enough? Sounds promising. We are at deliverables these days, maybe our C3S_511 service will have to wait to add to this until end of April.

[2019-04-10 09:14] mattiarighi commented on #814
@rjp23 if this solved the issue please close it. Thanks!

[2019-04-10 09:20] rjp23 commented on #814
I'm happy to close it. I don't think there's a real solution though. As Tobias points out it might not even be scientifically correct to be doing these comparisons at all.

I think from a technical/data side there isn't much to be done unless there's some way to flag this as really the dimension is not the same as the models that have fixed levels but I don't think we can reflect that any way in t

[2019-04-10 09:20] #814 closed

[2019-04-10 09:22] mattiarighi commented on #496
We would need to test this with Iris, but defining lat and lon as global attributes is definitely not the solution.

[2019-04-10 12:42] valeriupredoi commented on #997
Yes, we should do it like the iris docs and site, I like that one and has
loads of practical examples. But I still think the site should be called
esmvaltool.org or dot something so that it's easily found when doing a
google search. I volunteer to assemble the practical examples and plug them
in the documentation. Also welcome back @ledm :beer:

Dr Valeriu Predoi.
Computational scientist
NCAS-CMS

[2019-04-10 12:51] valeriupredoi commented on #603
cf_units is at 2.0.1 or .2 (depending which conda channel is used ie
cf20190130 has 2.0.1) so I think we just need to check if the fix is there
(and it should be) and we can then close the issue. Didnt bring my laptop
to EGU, so can someone check pls :beer:

Dr Valeriu Predoi.
Computational scientist
NCAS-CMS
University of Reading
Department of Meteorology
Reading RG6 6BB
United Kingdom

On Wed, 1

[2019-04-10 14:17] maritsandstad commented on #906
So, my diagnostic depends on a couple of not so standard R-packages... Should I include their installation in the diagnostic script, or how should I best handle this so that the user gets a functioning version?

[2019-04-11 19:24] npgillett commented on #983
Hi  @sloosvel @zklaus ,
I found this error when reading in ocean/sea ice data from CanESM5 and MIROC6. esmvaltool hangs with the error above. Before I saw this issue here, and thinking this was a problem with our processing of the CanESM5 data, my colleague Andrew Shao raised this on the CMOR  issue tracker here:
https://github.com/PCMDI/cmor/issues/470
Karl Taylor confirmed there that using 'lati

[2019-04-12 07:29] sloosvel commented on #983
Hi @npgillett and @zklaus,

I'll check what can be done to fix this.

[2019-04-15 10:25] mattiarighi commented on #947
@npgillett did the above suggestion solve your problem?
If yes, please close.
Thanks!

[2019-04-15 11:49] valeriupredoi commented on #1013
I will be on annual/Easter leave from tomorrow until Tuesday 23rd but will look into this asap after I get back; by the way @axel-lauer your poster at EGU was well liked, @bouweandela and myself we stood by it since @hb326 had to be by her own poster in the same session :beer:

[2019-04-15 12:07] bouweandela commented on #951
Can you describe the issue in a bit more detail? The top level keys (typically preceded by a `?`) in the `diagnostic_provenance.yml` are the filenames of the netcdf/plot files, so clearly there can be more than one in the file. For example, the [example in the documentation](https://esmvaltool.readthedocs.io/en/version2_development/developer_guide2/index.html#generic-interface-between-diagnostic-a

[2019-04-15 12:10] bouweandela commented on #906
Pease add all required R packages (in alphabetical) order in the file esmvaltool/install/R/r_requirements.txt

[2019-04-15 12:26] #416 closed

[2019-04-15 12:41] mattiarighi commented on #951
Ok, then the issue is in `log_provenance`, which should be easier to solve :smiley:

When a NCL diagnostic writes multiple nc files (and multiple corresponding plots), `log_provenance` is usually called multiple times within a loop, but it always overwrites `diagnostic_provenance.yml`. So in the end, I get provenance information only for the last nc-file/plot in the loop.

I think the solution is

[2019-04-15 13:18] #431 closed

[2019-04-15 14:27] ledm opened #1016 "Loading CMIP6 data"
Hi everone,

Related to the PR #1015. That PR address the problems with UKESM & MIROC6. The problem both of these models was that they used the terms `latitude` and `longitude` instead of `lat` & `lon`.

The other models that are available now on JASMIN are:
- CESM2
- CNRM-CM6-1
- GISS-E2-1-G
which seem to work fine with ESMValTool.

The models:
- BCC-CSM2-MR
- BCC-ESM1
- IPSL-CM6A-LR
don't work a

[2019-04-15 14:56] ledm commented on #1016
I've found a way to add the IPSL fix into PR #1015,  [here](https://github.com/ESMValGroup/ESMValTool/pull/1015/commits/dda04a906f08a1841848173e82f4c9dc2dd251bf). However, I want to know whether there is a way to take an `cell_area` cube and set it as the `area_cello` attribute of another cube. Any ideas?

[2019-04-15 15:14] mattiarighi commented on #951
I quickly tried that and it works! :tada:

[2019-04-15 15:44] ledm commented on #1016
Okay, I've managed a fix for the two BCC models. These fixes have only been tested with the recipe `esmvaltool/recipes/recipe_ocean_temperature_cmip6.yml`

[2019-04-15 21:38] npgillett commented on #703
Hi all, I'm getting this same problem with running ESMValTool on CMIP6 data on mistral. Some CMIP6 data is on the main archive, but some is in a separate buffer directory `/work/bd0854/CMIP6_buffer` . I want to run esmvaltool using data from both sources, because some data is in one place and some is in the other. Including both directories in the CMIP6 data path works, except that in some cases t

[2019-04-16 15:02] mattiarighi commented on #615
Can we close this?

[2019-04-16 15:06] ledm commented on #615
Sure!

[2019-04-16 15:06] #615 closed

[2019-04-16 15:55] jmcgove opened #1017 "no input file found - recipes"
Hi @valeriupredoi, I got esmvaltool set up ok. When I run a test case, ocean_example,
`esmvaltool -c config-user.yml recipes/recipe_ocean_example.yml`
 I get no input file errors.

[code]
I have in config-develop.yml, the default CMIP6 set, and in config-user.yml
[code]
I checked default paths to the data, these are ok. It could be to do with the recipe or the data. I get the following,
`If you su

[2019-04-17 09:41] bouweandela commented on #1017
Have a look in the file `/scratch/ms/ie/dujm/esmvaltool_output/recipe_ocean_
example_20190416_153649/run/main_log_debug.txt `to see where esmvaltool is looking for your data. If you cannot figure it out, please attach the file to this issue as suggested in the error message.

[2019-04-17 12:00] mattiarighi commented on #951
I will open a PR soon, which also fixes the `domains` issue you raised above.

Concerning `plot_type`, I think this is needed for tagging the CMIP results on the webpage.
@bjoernbroetz or @LisaBock know more about it...

[2019-04-17 12:39] ruthlorenz opened #1018 "'year' coordinate missing after regridding irregular ocean grids, failing annual_means"
I realized that calculating annual_mean with the preprocessor does not work for ocean variables which are on irregular grids. For annual_means the Error message is:
iris.exceptions.CoordinateNotFoundError: 'Expected to find exactly 1 year coordinate, but found none.'

So I assume the year coordinate somehow gets lost when regridding irregular ocean grids.
So either it needs to be preserved when re

[2019-04-17 19:33] bouweandela commented on #1013
It looks like I made a mistake with the default preprocessor settings in esmvaltool/_recipe.py, I'll have a look at this on Friday.

[2019-04-18 08:53] mattiarighi commented on #951
I have another strange issue with the provenance.

When the `ancestors` key in `diagnostic_provenance.yml` contains many datasets, the NCL diagnostic goes through, writes the nc files, the plots, and the `.yml`/`.xml` provenance files (not the `.svg`), but then the tool hangs forever and nothing happens any more. The last debug message is:
[code]
This can be easily reproduced running the `cycle` s

[2019-04-19 09:33] bouweandela commented on #951
I guess so, it will become a very large plot. I'll try to have a look at this soon.

[2019-04-19 11:28] bouweandela commented on #208
@sloosvel can you help with this? Is @jvegasbsc already back?

[2019-04-19 14:08] bouweandela commented on #983
The example in the CF conventions suggests that the names should still be lat/lon instead of latitude/longitude, even for grids:
http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/cf-conventions.html#_two_dimensional_latitude_longitude_coordinate_variables

[2019-04-23 08:15] sloosvel commented on #208
Hi @ddocquier and @bouweandela ,

@jvegasbsc is not back yet. Regarding the metric, I am afraid I don't have much info about it, sorry. But my understanding was that it was mostly finished but it needed some clean-up?

[2019-04-23 08:40] zklaus commented on #1018
@bouweandela thanks. I think though the problem is that I basically lose all auxiliary coordinates. So I think I have to provide a proper fix for this in the regridder, do you agree?

[2019-04-23 09:25] zklaus opened #1022 "Changed time units break branch_time information"
In CMIP6, some(many) experiments start off from initial conditions provided by other experiments. For deck and historical runs, there is a `piControl-spinup` that starts from observations and has arbitrary times that don't correspond to any real time, which is the parent to `piControl`, which is run with constant 1850 forcing, thus again having fictitious time.
From `piControl`, the `historical` s

[2019-04-23 09:51] zklaus commented on #983
I don't see anything in CF that mandates variable names for latitude and longitude. Circumstantial evidence seems to suggest the names are arbitrary, for example in chapter 4 it is described how to identify latitude and longitude from the units string (which seems to be done for backwards compatibility with the [COARDS conventions](https://ferret.pmel.noaa.gov/Ferret/documentation/coards-netcdf-co

[2019-04-23 10:24] valeriupredoi commented on #983
@zklaus cheers for the detailed explanation and quoted sources! The problemo is with the CF conventions used by iris so as much as we dealt with it if we don't take it upstream with the iris team to revise their standards, this is gonna bite us in the rear everytime we have to save a cube that doesn't comply with iris standards (specifically `var_name == CMOR out_name`) :beer:

[2019-04-23 10:43] zklaus commented on #983
@valeriupredoi really? Could you point me there? Because for me, when I bypass `esmvaltool.cmor.check._check_dim_names` the problem disappears. Also, I have read many CF files with iris outside of esmvaltool from cmip5, cmip6, and other sources and never encountered the problem. Finally, despite reading quite a bit in the iris sources, including the whole [Pyke](http://pyke.sourceforge.net/) rules

[2019-04-23 11:19] axel-lauer commented on #1013
I tested the fix with my branch version2_lauer17rse and it works! Thanks! I would be fine closing this issue then if there are no vetoes...

[2019-04-23 11:23] valeriupredoi commented on #983
indeed the CF stuff is in `iris/fileformats/cf.py` and can not find any CMOR references either; in fact, I just tried to give latitude `var_name = 'longitude'` and iris has absolutely no problems with it:
[code]

so I guess the issue is a non-issue anymore :grin:

[2019-04-23 12:38] valeriupredoi commented on #983
so here's a question for @ledm and @zklaus and anyone else who's actually run into ESMValTool complaining about the var_name not being correctly set - I have taken a look at the offending code: `esmvaltool/cmor/check.py` l.243-268 in `_check_dim_names(self)` - the var_name exception will be triggered if and only if `self._cube.coord(var_name=coordinate.out_name)` results in an `iris.exceptions.Coo

[2019-04-23 13:27] valeriupredoi commented on #983
attn: #1023

[2019-04-23 14:14] sloosvel commented on #983
I personally would not be so quick to remove checks that have worked so far, especially because this issue is due to such a subtle difference in the tables. @jvegasbsc will be back very soon, but I got the chance to review some things with him earlier today.

The difference between the out_names for latitude and longitude in the grids and coordinates tables leads a bit of an ambiguous situation in

[2019-04-23 14:17] zklaus commented on #983
Well, it's just a check, so nothing bad will happen per se, and indeed I have been running all my CMIP6 stuff with this disabled. But of course, by that line of reasoning we could just remove the whole `check.py`; after all, the whole point is just to notice problems with the data.

The problem here is rather specific: In the cmip tables, eg [Omon](https://github.com/PCMDI/cmip6-cmor-tables/blob/m

[2019-04-23 14:21] zklaus commented on #983
I think what @sloosvel suggests is a good middle ground. That is, if both `latitude` and `longitude` are present in the table, ie in `self._cmor_var.coordinates.items()` (check.py, l. 242), then turn the error for them missing into a warning that states that this is ok for non spherical grids.

*There is no need for fixes. These names should not be changed.*

[2019-04-23 14:28] valeriupredoi commented on #983
__nobody__ reads the warnings :grin: I really don't see any need for neither a warning nor the more strict error for this particular case (just the lats-lons); having said that please go ahead and change #1023 as you see more appropriate but I reckon re-introducing the error would give us extra cleaning work by making us produce fix files that are not really needed (as Klaus points out); although

[2019-04-23 14:38] ledm commented on #983
This is a bit of an aside, but the two CMIP6 BCC models have some really confusion names for latitude and longitude. It's an irregular grid where the x dimension is `lon` and the y dimension is `lat`, but the latitude and longitude fields are `latitude` and `longitude`.

All the CMIP5 models used the same terms for the values of latitude and longitude fields (`lat` and `lon`), so this model data i

[2019-04-23 15:00] zklaus commented on #983
Well, yes, but that is a different issue. In this case the files are simply faulty. Both sets of coordinates cannot be correct at the same time, hence one is simply wrong. This should be communicated to the modeling group. Then they should register the error with the es-doc errata service, fix their data, and unpublish/republish on ESGF.

If one wanted to write a fix for *that* problem, it would b

[2019-04-23 15:27] valeriupredoi commented on #226
I will work on this starting tomorrow: will do the following:
 - double-check the code usability status;
 - add tests for funcs that are not tested;
 - make funcs that could be preprocessored available to the preprocessor;
 - review the documentation.

@bouweandela maybe you'll have some time to look into dask-ing stuff in `_mask.py`, but I guess that should be done after we cleanup the module fir

[2019-04-24 08:06] bascrezee commented on #1010
Thanks a lot for this example Bouwe. Through making use of labels, it is possible to significantly reduce the number of input lines needed for my diagnostics. There is one thing that I do not get working yet, I try to demonstrate with a code sample:

[code]

This results in the following error:
[code]

[2019-04-24 08:20] valeriupredoi commented on #1010
I think you need to put a <<: in front of each of your starred labels and
place each on a new and indented line. I might be just blabbering tho,
Bouwe knows yaml better than I do :beer:

Dr Valeriu Predoi.
Computational scientist
NCAS-CMS
University of Reading
Department of Meteorology
Reading RG6 6BB
United Kingdom

On Wed, 24 Apr 2019, 09:06 bascrezee, <notifications@github.com> wrote:

[2019-04-24 08:43] zklaus commented on #983
@sloosvel do you want to have a go at changing #1023 according to your idea?

[2019-04-24 09:47] bascrezee commented on #1010
Thanks Valeriu!  :tea:

I did not succeed yet. The problem seems to be that the `<<` (merge key) can only be used for mappings, whereas our datasets are defined as a sequence. See e.g. [here.](https://yaml.org/type/merge.html) @bouweandela  any ideas?

[2019-04-24 09:54] sloosvel commented on #983
Sure but it's going to take me a while. If you are in a hurry just merge #1023.

[2019-04-24 11:58] bouweandela commented on #1010
It looks like the short syntax you want is not possible with YAML, see e.g. this feature request https://github.com/yaml/yaml/issues/35, so you may end up having to write a few more lines of YAML.

[2019-04-24 12:04] bouweandela commented on #1018
It might be nice, but I'm not sure how much improvement this offers: datasets seem to come in with a pretty random set of auxiliary coordinates. I think that preprocessor functions that rely on a certain auxiliary coordinate will always have to add that if it is not present yet, to ensure they work.

[2019-04-24 12:05] zklaus commented on #1018
Hm, my impression was that datasets usually don't come with auxiliary coordinates, but that the preprocessor adds a standard set of them?

[2019-04-24 12:19] valeriupredoi commented on #1003
**Status:** fixed in #1004

**Status:** @schlunma and @mattiarighi confirmed empty field does the trick. Tested and it works OK

**Status:** fixed correctly in #922

**Status:** fixed correctly in #922

**Status:** fixed in #1009

[2019-04-24 12:20] bascrezee commented on #1010
Ok, thanks, good to know that it is not possible at the moment.

[2019-04-24 12:20] #1010 closed

[2019-04-24 12:20] valeriupredoi commented on #1003
closing this since all previous issues have or are being addressed in PR's

[2019-04-24 12:20] #1003 closed

[2019-04-24 12:30] valeriupredoi commented on #817
the issues related to this issue seem to have been addressed - eh @ledm ?

[2019-04-24 12:48] valeriupredoi opened #1024 "Use dask whenever possible in preprocessor to keep memory intake low"
This is a followup from a lot of suggestions and work (mainly done by @bouweandela and @jvegasbsc ). Examples of high memory intake can be seen in various issues like #810 or #922 ; also work is underway in PRs like #1001 or initiated by issues like #949 . There are also the issues related to inherent changes of iris and handling of lazy data eg see #887 So far, actual work is done as follows:

**

[2019-04-24 12:51] bouweandela commented on #1018
You're right, they are added by the function `cmor_check_metadata` here:
https://github.com/ESMValGroup/ESMValTool/blob/259b6b8d0261e017188891546c3ea474563b7dbc/esmvaltool/cmor/check.py#L538-L547

@jvegasbsc Is there a reason why the cmor checker adds those coordinates? Are they part of the CF or CMOR conventions?

They even appear to be added if `automatic_fixes` is set to `False`, which looks li

[2019-04-24 12:54] zklaus commented on #1018
They are not part of CF nor CMIP6/CMOR. The addition can also take quite some time for long time series.

[2019-04-24 13:07] zklaus commented on #983
Great! :+1: How much time to you need? Let me know if you need help!

[2019-04-25 10:33] bouweandela opened #1027 "Make governance structure more visible and publish on esmvaltool.org or readthedocs"
At the moment it is not clear to everyone, especially to people not intimately familiar with the project, how decisions are made on ESMValTool development. Therefore it would be good to clarify this in a document describing the governance.

Examples from other projects:
- [Paper describing best practices for scientific software with example of scientific project](https://www.ncbi.nlm.nih.gov/pmc/a

[2019-04-25 10:39] bouweandela opened #1028 "Collect roadmap and publish on readthedocs"
ESMValTool is used in various projects, e.g. IS-ENES3 and each of those projects is planning to add features or improve ESMValTool in some other way. The planned changes should be documented in a roadmap and published on readthedocs so it is visible to all users and contributors what is planned and when. This will also help identifying overlapping or conflicting plans.

The best way to get started

[2019-04-25 10:57] valeriupredoi commented on #1027
@bouweandela I will comment in detail (and with examples) in a very short bit, but before that: 1. cheers for opening this, this is very useful and important! 2. we may want to make this thread private before we reach a unanimously-accepted conclusion

[2019-04-25 11:23] sloosvel commented on #983
Thank you, do I open a pull request for that? I am not sure how do you prefer to review the changes or make comments so any kind of help is welcome.

[2019-04-25 11:30] zklaus commented on #983
No need to open a new pull request. Just use the one that @valeriupredoi opened (#1023).
Basically, every PR is associated with a branch. In this case the branch is `version2_development_relax_varnameCMORrequirement`, so you can just

- checkout that branch
- make the modifications
- commit them *to that very branch*
- push the changes

Then they will automatically show up in the pull request.

[2019-04-25 12:40] bouweandela commented on #1027
I'm happy to discuss this in public: I think everyone should be able to contribute to the discussion and I think it's actually nice if people can see why certain decisions are made. It will be a good precedent for the rest of ESMValTool development. If we have an initial version ready before June, we can also ask the ESMValTool users and developers present at the workshop in June for feedback.

[2019-04-25 13:17] bouweandela opened #1029 "Consider using the intake library"
It could be interesting to replace our home grown esmvaltool/_data_finder.py module by the much more advanced [`intake`](https://intake.readthedocs.io/en/latest/index.html) library and the associated [`intake-iris`](https://github.com/informatics-lab/intake-iris) plugin.

[2019-04-25 13:23] bouweandela opened #1030 "Create Jupyter notebook showing use of preprocessor"
Demonstrate how to use the `find_files` and preprocessor functions from a Jupyter notebook.

This functionality would be similar to what is provided by the [Climaf](https://climaf.readthedocs.io/en/master/) package developed at IPSL.

[2019-04-25 13:53] valeriupredoi commented on #226
#1025 needs approval, then we close dis :beer:

[2019-04-25 14:18] bouweandela opened #1031 "A plan for making esmvaltool more stable and user/developer friendly"
Below I describe an idea for making ESMValTool more friendly to use for developers and users, based on the discussion in  #769 and elsewhere. Please comment if you have any ideas about this @ESMValGroup/esmvaltool-coreteam

### Split core from diagnostic code

As discussed in #769, it would be desirable to split the core esmvaltool code (i.e. the `esmvaltool` command, recipe parsing code, preproce

[2019-04-25 14:51] bouweandela opened #1032 "Improve provenance logging"
Many ideas for ways in which the ESMValTool provenance recording can be improved are listed in the pull request with the original implementation, https://github.com/ESMValGroup/ESMValTool/pull/649. When there is time, it would be good to try to implement some of those.

A good provenance viewer that can zoom/collapse details would also be much desired, to make it possible for a human to view the r

[2019-04-25 15:05] valeriupredoi commented on #1027
OK @bouweandela I am very happy to keep things public too, all I wanted to avert by saying we should make the discussion private (and by private I meant within both the core dev team and wider diag dev team, so basically all of us, but not everyone else) was a prolonged and argumentative thread that may not be of much use to anyone who comes over here and is new.

About governance examples - I can

[2019-04-25 15:22] valeriupredoi commented on #1031
cheers for the plan, General Bouwe @bouweandela :medal_military:
I completely agree with all, but we need to make sure that the diagnostic packages are maintained at the same level as the independent core (continuous integration, good testing etc) which is gonna be hard since we need to designate people for that, and we're not too many at the moment. How do you see we get around that?

[2019-04-26 08:16] bascrezee opened #1033 "Where does preprocessing of CMIP5 model input data that is used in a diagnostic fit in?"
A diagnostic makes use of some land surface data (from CLM) that is used as input for several CMIP models. This land surface data needs some preprocessing and is later read by the diagnostic. In a way, it could be treated as OBS data, but this might be confusing since it clearly is a different category. Also, it does not fit into the category of a derived variable. Any thoughts where this might fi

[2019-04-26 10:35] bouweandela commented on #1031
I'm not sure if that is quite on topic here, but just to answer your question: the easiest way to do continuous integration/test diagnostics is probably to get a big machine with all the data on it and run the diagnostic and compare the output to a previous run whenever something changes in the code. Everything automated as much as possible. i think that we cannot expect every scientist that contr

[2019-04-26 10:46] valeriupredoi commented on #1031
In theory all sounds good, man, the true logistics will be much harder for the real situations that we'll face, hence my concern about the number of man hours per qualified dev person that will have to maintain each of the separate language packages. In any case, let's not dabble on it just yet, I am very happy with the plan you put forward irrespective of what sort of manpower issues we may face.

[2019-04-26 10:49] #1018 closed

[2019-04-26 11:21] #1013 closed

[2019-04-26 12:02] valeriupredoi commented on #1016
so here's a question for you @ledm - what kind of UKESM1 did you look at Jasmin BADC that you noticed the var name issues? I am looking at the UKESM1 data pushed to ESGF on April 6 and all looks fine to me:
[code]

[2019-04-26 12:11] valeriupredoi commented on #1016
and same for MIROC:
[code]

[2019-04-26 12:53] ledm commented on #1016
Hi V,

it was the ocean temperature tos fields, historical, r1i1p1f1, monthly,
latest.

ie:

/badc/cmip6/data/CMIP6/CMIP/MOHC/UKESM1-0-LL/historical/r1i1p1f2/Omon/tos/gn/latest/tos_Omon_UKESM1-0-LL_historical_r1i1p1f2_gn_185001-194912.nc

Please visit our new website at www.pml.ac.uk and follow us on Twitter @PlymouthMarine

We have updated our Privacy Notice which is available at http://www.pml.a

[2019-04-26 14:14] valeriupredoi commented on #1016
cheers @ledm I can see that behavior looking at the file you pointed me to. What still baffles me is why, if both creation processes used the same CMOR tables, the coords diffe. They indeed used the same specs as per the files metadata:
[code]
Anyhoo, it's Friday, so won't beat it too much :beer:

[2019-04-29 10:08] bascrezee commented on #1033
@mattiarighi  Any idea's? Or can you tag someone who can help? The raw data is available after registration. However, as mentioned, it does not fit in the OBS category. It is CMIP input data.

[2019-04-29 10:19] mattiarighi commented on #1033
The solution could be to use the `auxiliary_data_dir` in `config-user.yml`, which is designed for such auxiliary data. @ledm used that in one of his recipes, if I remember correctly.

[2019-04-29 11:29] valeriupredoi commented on #901
a heads up that I have also noticed this for IPSL and CNRM-CERFACS: on BADC:
[code]
these files are totally identical (well, data is, almost all metadata is too, the parent ensemble is r1i1p1f1). Does any of you guys know what the strategy for including these files in the DRS is - @tillku is already starting to have headaches for his diagnostic that uses `volcello` and that one is not yet present

[2019-04-29 12:10] valeriupredoi commented on #1033
if you need that data only during the diagnostic phase then it can be an input to the diagnostic settings see for example https://github.com/ESMValGroup/ESMValTool/blob/version2_development/esmvaltool/recipes/recipe_autoassess_landsurface_snow.yml where `climfiles_root:` points to the root where various specialty masks are extracted from for use during the diag. If preprocessing is needed then you

[2019-04-29 12:36] valeriupredoi commented on #1028
@bouweandela I added a couple more projects and names, it's better if we get a couple people (no more than three) assigned for each project methinks

[2019-04-29 12:49] ledm commented on #1033
When I used the `auxiliary_data_dir` field, it was to pass datafiles to Cartopy, so that cartopy could access the land/sea interface datasets and to add the continents to our figures. We didn't want this auxiliary data to be loaded by ESMValTool,

It sounds like @bascrezee wants to add initial conditions datasets to the recipe and treat them in a similar way to CMIP data (ie, preprocess them and s

[2019-04-29 13:06] bascrezee commented on #1033
Yes, exactly, that is the case.

Yes, I will go for that.

[2019-04-29 13:12] mattiarighi commented on #1033
I would avoid defining another category of data if we can use `auxiliary_data` for the same purpose, just to keep it simple.

@bouweandela what do you think?

[2019-04-29 13:24] bascrezee commented on #1033
Fine with me, as long as I can pass all the data in auxiliary_data through the preprocessor (I can, right?) as defined in the recipe.

[2019-04-29 13:28] mattiarighi commented on #1033
It should be possible, I remember we discussed it as a possible application of `auxiliary_data_dir` but there is no example yet.

[2019-04-29 14:04] valeriupredoi commented on #901
OK guys I got confirmation of the standard CMIP6 fx paths from Ruth Petrie, data guru at STFC UK:

me: So, in a nutshell, should we expect to find fx files in a DRS like

/badc/cmip6/data/CMIP6/CMIP/[institute]/[dataset]/[experiment]/[ensemble]/[fxdir]/

where [fxdir] will be the same for each [ensemble] but have different names (fx, Ofx...) depending on [experiment]?

Ruth: Yes that is correct. I

[2019-04-29 14:20] zklaus commented on #901
Indeed, neither the table nor the variable name depends on the experiment.

Additionally, some of these are actually `cell_measures`, so the most elegant way, imho, to deal with them would be to add the fx files to the list of input filenames before they are loaded as cubes into iris.
Then, iris will automatically sort them out and make them available via `cube.cell_measure()`.
Grepping the tables

[2019-04-29 14:37] valeriupredoi commented on #901
started working on a functional implementation in #1037 - let's take the discussion there, guys :beer:

[2019-04-29 15:50] schlunma commented on #901
Good call, I think this would also remove the `UserWarning: Missing CF-netCDF measure variable ...` which appears very often (see #853).

[2019-04-30 13:29] bascrezee opened #1038 "CMORize Duveiller2018"
I am building on cmorize_obs_Landschuetzer2016.py to cmorize another obs dataset. This is my yml file:

Content of Duveiller2018.yml
[code]

I follow very closely the script by @tomaslovato . Also the variable 'alb' is defined in the custom tables. However, I run into the following error:

[code]

I tried to further trace down the problem, but at some stage I got lost. See my own attempt of a trac

[2019-04-30 13:30] mattiarighi commented on #1038
Since `alb` is a custom variable you need to read from the custom table.

[2019-04-30 13:43] zklaus commented on #1027
Good initiative!

I'd like to propose some things that might be related. Not sure though if this ticket is the place to discuss it, so please let me know if you would prefer, for example, separate tickets!

# Release Strategy
To account for the rapid rate of improvements and to provide a stable platform for developers, both of aspects of the backend like preprocessors and of diagnostics, I advocat

[2019-04-30 15:11] nperezzanon commented on #903
Dear Bouwe,

To fix the problem with setting frequency to MAM in recipe_modes_of_variability_wp4.yml, I've fixed a bug in the ClimProjDiags R package. A new version is already published on CRAN (https://cran.r-project.org/web/packages/ClimProjDiags/index.html). I think I don't need to update anything else in ESMValTool to include this update.

After some considerations, I have created a new branch

[2019-04-30 15:18] jhardenberg commented on #270
To be precise, the problem is the following:
when the climdex R library attempts to process a file generated by the ESMValTool preprocessor it gets confused by the time_bnds, lon_bnds and lat_bnds and spits the following error message:
[code]

[2019-04-30 15:20] jhardenberg commented on #270
I just found a solution: to remove the bound information from the input files. If an input file is further preprocessed with nco, for example using the following script, the climdex library works as expected and does not complain:

[code]

[2019-05-01 10:08] bouweandela commented on #1018
@jvegasbsc Could you comment on this https://github.com/ESMValGroup/ESMValTool/issues/1018#issuecomment-486215036?

[2019-05-01 11:14] bouweandela commented on #1031
As a first step in implementing this, we will need to rename/move some directories and come up with names for them. We need names for the various packages listed above (suggestions welcome!) and will need to move any directories that are not part of the esmvaltool core framework out of the `esmvaltool` directory into the root of the repository (and give them more meaningful names).

Idea for renam

[2019-05-01 11:26] bouweandela commented on #809
After some discussion at DLR it was decided not to publish the NCL documentation to readthedocs, but simply provide any relevant information on the documentation page of recipes.

[2019-05-01 11:26] #809 closed

[2019-05-01 12:43] bouweandela commented on #1033
The auxiliary data dir is meant for extra files needed by the recipe that do not need processing. For example, we have a recipe that uses shapefiles to cut out a particular area. The shapefiles can be stored in the auxiliary data dir and the path in the recipe is relative to that directory, see [recipe_shapeselect.yml](https://github.com/ESMValGroup/ESMValTool/blob/version2_development/esmvaltool/

[2019-05-01 14:20] jhardenberg commented on #906
Hi folks,
have you seen my comment in https://github.com/ESMValGroup/ESMValTool/issues/270#issuecomment-487995350
?
Basically I found out that removing the bounds info from the preprocessed files allows the climdex library to work correctly.

[2019-05-01 17:06] mattiarighi commented on #1031
What about esmvaltool-core, consistent with the other names you suggested?

One question: shouldn't cmorizers and utils be part of the core?

[2019-05-01 17:13] #312 closed

[2019-05-02 08:55] bouweandela commented on #906
Closing this issue, it is a duplicate of #270.

[2019-05-02 08:55] #906 closed

[2019-05-02 09:04] maritsandstad commented on #906
Now I am very confused. Should I consult a different branch? Is someone else doing the climdex porting (that would be wonderful really:-))? Do you want it to start over from scratch? Have you guys been working on some things to port this and then I should work from there, or just stay away?

[2019-05-02 09:07] maritsandstad commented on #270
Now I am very confused. Should I consult a different branch? Is someone else doing the climdex porting (that would be wonderful really:-))? Do you want it to start over from scratch? Have you guys been working on some things to port this and then I should work from there, or just stay away? Also should this be part of the MAGIC tools?

[2019-05-02 09:34] earnone commented on #270
@maritsandstad yes, we were looking at making the extremeEvents working in v2 since the hyint recipe uses climdex output files as input for further post-processing. The only issue that halted us was the fact that the climdex.pcic.ncdf library was not able to digest input files pre-processed by esmvaltool v2, and this was sorted by @jhardenberg with the above nco commands (removing bounds). I am af

[2019-05-02 09:38] earnone commented on #270
See [https://github.com/ESMValGroup/ESMValTool/tree/version2_ExtremeEvents_v2](https://github.com/ESMValGroup/ESMValTool/tree/version2_ExtremeEvents_v2)

[2019-05-02 09:41] maritsandstad commented on #270
Ok, I'd be super happy for anyone else to help with the work! The original code not only included generation of ETCCDI index calculation, but also generation of some plots (Glecker and timeseries). I suppose that is still a feature that should be ported? Will you port that too, or just the index generation? Also what branch are you working in? Making use of your work would at least very much speed

[2019-05-02 09:49] earnone commented on #270
Good, I think it is much faster if we finalise the porting and interact with you for what needed to avoid duplicates. From the R coding point of view you will easily understand the various changes, it just takes some time to get acquainted with v2. The plotting part was included in the porting. See the branch here above.

[2019-05-02 10:29] jhardenberg commented on #906
Hello Marit, actually I was just going to post here about work I did yesterday exactly on this. The fact that Bouwe just closed this issue is by chance ;)

As you will see in #270 there is a need for the ETCCDI calculation also in the MAGIC project and there has been some confusion in the past months on who was doing what. Actually things stopped already months ago once we realised that the curren

[2019-05-02 10:36] jhardenberg commented on #270
Hi Marit, I also left a comment in #906 , let's continue here.
For now https://github.com/ESMValGroup/ESMValTool/tree/version2_ExtremeEvents_v2
computes only the indices but only because I did not yet have time to test the plots.
I will try and give a look later.

To document what is needed to test the diagnostic:
some additional packages are needed in the environment. We will add those to environ

[2019-05-02 12:05] maritsandstad commented on #270
Ok, thank you both, that sounds great! I will have a look and start testing soon.

[2019-05-02 13:13] bouweandela commented on #903
Thank you. Can you make a pull request?

[2019-05-02 13:34] bouweandela commented on #270
Please add them to the file esmvaltool/install/R/r_requirements.txt instead, as this is the correct location for R dependencies.

[2019-05-02 13:50] bouweandela commented on #1031
That would be a rather long name for a Python package, e.g. to use a preprocessor function, you would need the python code
[code]

I think most of the utils are mostly tools for diagnostic development and not really part of the `esmvaltool` Python package as it is defined at the moment.

Regarding the cmorizers, wasn't the plan to start using cistools in the future? Why are we writing our own cmor

[2019-05-02 13:51] mattiarighi commented on #1031
Not only, also because not all datasets we use are included in CIS.

[2019-05-02 15:14] bouweandela commented on #1031
Yes, but wouldn't it be better contribute a [plugin](http://www.cistools.net/plugins?field_plugin_type_tid%5B%5D=2) for those datasets? That will make the cmorization script available to a much wider community and also we avoid doing duplicate work by not having to implement and maintain our own cmorization framework.

[2019-05-02 15:32] valeriupredoi commented on #1031
I like `esmval` for the core!
I also like `esmval-toolkit` that can include `cmorizers` and `utils`
I also like `esmval-diagnostics`
I also like beer :beer:

[2019-05-02 15:35] valeriupredoi commented on #1031
maybe. But bear in mind that the cmorizers are as the diagnostics -> community developed and I bet you my boots only 10% of scientists are familiar with CIS and know how to work and develop with it

[2019-05-03 06:38] axel-lauer commented on #1031
Just another thought in case we decide to split the ESMValTool into two repositories (core and diags): what happens to the documentation? So far, I always saw the documentation as a "user's and developer's guide". Such a manual naturally contains documentation of both, the core functionality and the diagnostics. In some cases, things are mixed up as they do not clearly belong to one or the other p

[2019-05-03 07:54] jhardenberg commented on #270
Not in this case: I actually tried that first, but at least when I tested in my environment, installing these directly from R would fail, while adding them from conda works .... but I will try again.

We actually have another important issue: the climdex.pcic.ncdf R library does not exist on CRAN, using install_github is the only official method of installation (see https://github.com/pacificclima

[2019-05-03 08:00] bouweandela commented on #1031
I think we'll need to split the documentation too, This shouldn't be too big a problem, because we can always link from one readthedocs page to another, so there will be no need to duplicate things. A good starting point can be that esmvaltool diagnostics build on top of esmvaltool core, so we would mostly refer from the diagnostic documentation to the core documentation, where needed.

This would

[2019-05-03 08:02] bouweandela commented on #1031
Yes, but at least we wouldn't be forcing them to learn two systems, ESMValTool cmorizers and CIS, just knowing CIS would be enough

[2019-05-03 08:11] bouweandela commented on #270
I think we should contact the developers of this library and ask them nicely if they would be willing to release their software on CRAN. If necessary we can help them do that. Does anyone know them personally? @jhardenberg @earnone @maritsandstad @ESMValGroup/esmvaltool-coreteam

[2019-05-03 08:17] jhardenberg commented on #270
Ok, the current version of branch version2_ExtremeEvents_v2 now also produces the timeseries and gleckler plots :)

@maritsandstad : there was probably a missing configuration file, since some parameters were undefined, I made a new internal config file "cfg_extreme.r" containing these with some educated guesses (for example parameters controlling the alignment of graphic elements such as `gl_xsca

[2019-05-03 08:20] jhardenberg commented on #270
PS, additional comment on cdo: at a certain point we should convert the code to use the cdo wrapper using system2 which we devoloped and use in the quantilebias diagnostic.

[2019-05-03 08:31] jhardenberg commented on #270
I somehow doubt that this will be successful. This library is nowadays the official reference to compute the ETCCDI indices (there are some subtle details to be taken into account in their apparently simple definitions), so that everybody is using them. I am sure that this request has already been made....

Alternative: on their official webpage http://pacificclimate.github.io/climdex.pcic.ncdf/ t

[2019-05-03 08:37] maritsandstad commented on #270
Know him personally would be an overstatement, but I have his contact information and have been in touch with him from time to time. My boss knows him though. If you would like, I can definitely send a request to him about releasing the code on CRAN. However, I also think it is not highly likely that he will concede to making CRAN-release.

All this developement sounds great!

Yes, the Comparison

[2019-05-03 09:06] bouweandela commented on #270
@maritsandstad Yes, if you could ask him would be great. You can tell him that I would be willing to help out, if the reason that he does not want to do this is time constraints. Or do you think it is another reason?

@jhardenberg Because ESMValTool should be reliable and installing from anywhere else then the official repository for a language is not reliable.

If there will be no release on CRAN

[2019-05-03 09:13] maritsandstad commented on #270
@bouweandela : I'll send him an email now. Time constraints may very well be the reason, but there may be other reasons too.

@jhardenberg : The CMIP_name is the legend to be used for the ensemble spread in the time series plot. So it would be whatever the user would like to dub his or her model ensemble. Maybe CMIP_name isn't the greatest denotation, MIP_name might be more apt, however, a descrip

[2019-05-03 09:18] jhardenberg commented on #270
Ok, we can include MIP_name in the recipe then. What about the other parameters in cfg_extreme.r? Do you have better default values? (you will find the file in the version2_ExtremeEvents_v2 branch)

[2019-05-03 09:24] maritsandstad commented on #270
@jhardenberg : I will have a look at the defaults this afternoon

[2019-05-03 10:14] valeriupredoi commented on #1027
I got a meeting with Bryan Lawrence to discuss this matter next week, I'll post the discussion outcome here. In the meantime, keep it rolling, guys, like lots what @zklaus posted! :beer:

[2019-05-03 11:29] bouweandela commented on #903
I have just merged #995 and marked the issues that it solved in the issue description above. Could you please have a look at the remaining items?

[2019-05-03 11:36] maritsandstad commented on #270
@jhardenberg , like the idiot I am, can I just ask how you have been running (which config file are you using)?

[2019-05-03 12:37] bouweandela opened #1043 "Create version of recipe_smpi.yml that works with CP4CDS dataset"
Currently recipe_smpi.yml does not work with the CP4CDS dataset. This is because:
- variable `hfds` is not part of the CP4CDS dataset
- not all combinations of variables and models are available in the CP4CDS dataset

For the MAGIC project it is required that diagnostics work with the CP4CDS dataset.

[2019-05-03 12:40] bouweandela commented on #1043
Closing this issue, as there is still the original issue  #767

[2019-05-03 12:40] #1043 closed

[2019-05-03 12:41] bouweandela commented on #767
The recipe currently merged into the `version_development` branch does not work with the CP4CDS dataset. This is because:
- variable `hfds` is not part of the CP4CDS dataset
- not all combinations of variables and models are available in the CP4CDS dataset

For the MAGIC project it is required that diagnostics work with the CP4CDS dataset.

[2019-05-03 13:48] mattiarighi opened #1044 "Remove unused NCL plot routines"
Some of the plotting routines in `esmvaltool/diag_script/shared/plot/*.ncl` are currently not used and will never be used, because the diagnostics using them have already been or will be ported in a different language (like the monsoon diagnostics). It would be good to remove them before the next release.

These include:

- `GO_panels.ncl`: the NCL diagnostics using them have been replaced by @led

[2019-05-03 13:57] mattiarighi commented on #738
@schlunma #1045 should solve your issue, can you check again?

[2019-05-03 14:45] maritsandstad commented on #270
@bouweandela : I'm in contact with the climdex.pcic person now. Apparantly they had tried to put the climdex.pcic.ncdf package on CRAN previously, but got rejected from CRAN because the package was not of "general use". Could you possibly offer some help on that count?

[2019-05-03 15:10] schlunma commented on #738
Yes, that particular case (`ncdf_write`) works 👍

[2019-05-03 16:54] jhardenberg commented on #270
Hi, I am not sure that I understood your question: At the moment I am using my default version2_development conda environment, modified with some additional packages as described above https://github.com/ESMValGroup/ESMValTool/issues/270#issuecomment-488625895
in order to allow installing devtools and the climdex library. Is this what you meant?
If you mean instead the missing parameters, these ar

[2019-05-03 16:56] jhardenberg commented on #270
I updated the branch: now the diagnostic does not use direct system calls anymore and uses the wrapper cdo() function as we do in the quantilebias diagnostic (@maritsandstad  there was a long discussion in the PR for that metric on why this would be better ....)

[2019-05-04 12:50] #738 closed

[2019-05-05 11:11] jhardenberg commented on #270
Ok, I fixed the default offsets and scales in`cfg_extfremes.r` a bit. Now both the timeseries and Gleckler plot look good ;)
Multiple obs datasets are now supported providing a list of "reference_dataset".
@maritsandstad if you could check if all is ok, we could then probably move to the next step and make this into a PR ?

[2019-05-06 07:41] bjoernbroetz commented on #293
Provenance was added by @mattiarighi in PR https://github.com/ESMValGroup/ESMValTool/pull/1035

[2019-05-06 07:58] jhardenberg commented on #270
Hello @maritsandstad , we noticed one thing which may need to be corrected, but would like your opinion first.
As it is now, the diagnostic assumes that the climdex base.range (the reference period in which reference percentiles etc are computed) goes from the maximum of the model start years to the minimum of the model end years (i.e. the largest common period). So essentially the metric is compu

[2019-05-06 08:26] maritsandstad commented on #270
Yes, you are correct that the base period probably shouldn't be the whole period. However, setting a default can be somewhat difficult... In case of the two plots the diagnostic now produces. The most important thing is to use the same base periods and periods of interest (those two would normally be different) for each of the models and reanalysis being compared. Ideally a base period should be o

[2019-05-06 08:37] zklaus commented on #1044
I will port the monsoon diagnostics, and yes, they will be in python.

[2019-05-06 08:55] mattiarighi commented on #1044
Will it be also the case for the `mjo` recipes? They are available on the private repo only, at the moment.

[2019-05-06 09:00] jhardenberg commented on #270
You are right that making this selection compulsory in the recipe is really needed. Actually the user will need to specify two things: the base period and the period of interest. The model data provided will need to cover both in full. Ok, I will try and add this quickly.

Well, I have my own config-user.yml pointing to the original model data on our machine, but that should not be a problem. The

[2019-05-06 09:22] maritsandstad commented on #270
Yes, that would be great if you could add that!

config file, I think, but I'll try again now.

[2019-05-06 10:52] jhardenberg commented on #270
Hi @maritsandstad : currently the plots are created regridding all datasets over a common grid. Currently simply the first file found in the working directory is used (in function createGrid). This is a bit random. It would be better to ask the user to specify the dataset to use as reference and as default maybe use the first reference dataset, no?

[2019-05-06 11:14] maritsandstad commented on #270
@jhardenberg : Yes, I agree that would be a better choice.

[2019-05-06 11:16] mattiarighi commented on #270
I would also suggest to make `reference_dataset` a mandatory setting in this case.
Random (i.e. not reproducible) results should be avoided if possible.

[2019-05-06 11:17] maritsandstad commented on #270
Also I updated the environment to test and it seems the environment setup does not work well with the reference_dataset list:
`ValueError:
Error validating data /net/pdo/div/pdo/extreme/masan/V2/ESMValTool/esmvaltool/recipes/recipe_extreme_events.yml with schema /uio/kant/div-cicero-u1/masan/.conda/envs/esmvaltool/lib/python3.6/site-packages/ESMValTool-2.0a1-py3.6.egg/esmvaltool/recipe_schema.yml

[2019-05-06 11:19] bouweandela commented on #953
Two more issues:
 - [ ] There is no provenance
- [ ] The documentation page is incomplete, e.g. the list of variables is missing

[2019-05-06 11:33] bouweandela commented on #270
Yes, `reference_dataset` when defined in the variable can only be a single dataset. Maybe you could use `reference_datasets`? Note that in that case we do not check if the data is available, though we could in the future. You could also define the reference_datasets in the diagnostic script section, if they are the same for all variables anyway.

[2019-05-06 11:35] bouweandela commented on #703
Not at the moment unfortunately. This issue is still an open issue.

[2019-05-06 13:27] bascrezee commented on #1038
I ran into another error. I am quite sure that the 'standard_name' in CMOR_alb.dat is supposed to be left empty, but it raises an error. However, changing it to some random other valid standard name does not remove the error, so it seems not fully related.

2019-05-06 15:24:49,085 INFO     esmvaltool.utils.cmorizers.obs.cmorize_obs_Duveiller2018,89    CMORizing var alb from file /net/exo/landclim/

[2019-05-06 13:52] mattiarighi commented on #1038
@tomaslovato or @valeriupredoi can you help?

[2019-05-06 14:07] jhardenberg commented on #270
@maritsandstad did you do a pull to the latest version of the branch before testing?
That should not have happened.

Actually I took the liberty to make one small change in esmvaltool/recipe_schema.yml writing
`reference_dataset: any(str(), list(str()), required=False)`
instead of
`reference_dataset: str(required=False)`

@bouweandela  please notice that this change maintains existing functionalit

[2019-05-06 14:15] jhardenberg commented on #270
Fixed the envirionment, now after doing conda update and Rscript setup.R you only still need to do `install_github('pacificclimate/climdex.pcic.ncdf', ref='release')` by hand from R for the time being.

[2019-05-06 14:18] bouweandela commented on #270
Unfortunately I don't think that is a very good idea: the reference_dataset value can e.g. be used as a target grid for the regridding function. However, if you specify multiple datasets with differing grids, what dataset should we regrid to? By changing the schema, the user will no longer get an easy to understand error message, but probably the program will crash later on if you try to use the r

[2019-05-06 16:55] jhardenberg commented on #270
I do not agree, since I would find it very confusing for users to have both a `reference_dataset `and a `reference_datasets` tag. As for the regridding target this could be simply the first reference dataset given (this is actually the solution which I will implement).
In any case no big deal, I will follow your suggestion, also because it is indeed better to have one single tag in the diagnostic

[2019-05-06 17:24] jhardenberg commented on #270
- now using` reference_datasets` in the diagnostic section  to list the 'obs' files
- added the two tags base_range and analysis_range in the recipe to specify the base.range for climdex and the range to be used for pliotting the timeseries and computing the Gleckler plot.  The model data will need to include both periods (this is checked)

[2019-05-06 18:52] jhardenberg commented on #270
Now a tag `regrid_dataset` can be used in the recipe to specify which dataset to use for regridding all datasets. If not specified the first `reference_dataset` is used.

[2019-05-06 19:05] jhardenberg commented on #270
To start testing the branch I started a PR (please ignore #1051 (closed) , I was a bit clumsy in creating the PR)

[2019-05-07 05:44] axel-lauer commented on #772
Note: this also includes the following diagnostics from eyring13jgr:
- eyring13jgr_fig01.ncl
- eyring13jgr_fig02.ncl
- eyring13jgr_fig04.ncl

[2019-05-07 13:36] tomaslovato commented on #1038
@bascrezee At first I would say that it is a problem with the standard_name definition...

I saw that the following branch exists `version2_development_cmorize_duveiller2018`
If it is yours or connected to this issue, could you please upload in there both the **Duveiller2018.yml** and **cmorize_obs_Duveiller2018.py** so it will much easier to reproduce the error !

[2019-05-07 13:56] bascrezee commented on #1038
I just staged the files and pushed them. Thanks for looking into this!

[2019-05-07 14:32] valeriupredoi commented on #1038
the error is a standard iris error for non-standard standard names (CF conventions) :grin:

Here is an example of a custom cmor table for a variable which will not have any standard name since otherwise will break CF conventions and hence get the iris error above
[code]

[2019-05-07 14:48] valeriupredoi commented on #1038
the problem here is that the custom cmor table will not contain any entry for standard_name since it's a derived variable so the cmorizer will always fail because of that `cube.standard_name = var_info.standard_name` line. So we need to plug in a special case in the cmorizer utilities that accounts for derived variables. That's not going to be easy because the purpose of the cmorizer is to make cm

[2019-05-07 14:54] bascrezee commented on #1038
Thanks Valeriu, I think I kind of get what you mean.

What you suggest as a solution, is not a solution here, since this observational dataset has no rsds or rsus. There is just values of (difference in) albedo.

[2019-05-07 15:05] valeriupredoi commented on #1038
in that case put a check in `utilities.py` eg

[code]

that will save the cube ok and will be ok when running it through ESMValTool since standard_name is None anyway from the custom table

[2019-05-07 15:19] mattiarighi commented on #1038
That's correct.
Derived variables are designed for models only, in order to compare with a variable which is only available in the OBS.

[2019-05-07 15:27] bascrezee commented on #1038
Solution works :)  I'll keep the issue open until I finished the CMORization :)

[2019-05-08 09:44] jvegasbsc commented on #1022
I think the issue here is that propagation of untis change is not done to the `branch_time_in_child` attribute. Fixing this should eliminate the problem. If we choose this, we may also want to normalize the `parent_time_units` and `branch_time_in_parent` to be consistent

The other issue here is if we still want to normalize all time untis. This is something we have inherited from v1, I think. All

[2019-05-08 11:24] zklaus commented on #1022
The problem with changing these attributes is that they refer to other files that we might not have control over. If, for example, somebody sees an analysis of a `historical` run and wants to check the corresponding period in the `piControl`, they might be steered towards a wrong period.

Therefore I support the idea to remove the changing of time units. After all, when it comes to ncl, it seems n

[2019-05-08 14:07] mattiarighi opened #1057 "The future of NCL in the ESMValTool"
The discussion about the future of NCL support in the ESMValTool has come up quite frequently in the last weeks in various GitHub issues here.

The reason behind this discussion is (should be) well known: [NCAR](http://www.ncl.ucar.edu/open_letter_to_ncl_users.shtml) has decided to stop the development of NCL, which has been put into maintenance mode. Graphics routine have been translated to Pytho

[2019-05-08 15:03] bouweandela opened #1058 "recipe_shapeselect does not work with model GFDL-ESM2G"
recipe_shapeselect.yml does not appear work with model GFDL-ESM2G, probably this is because this model contains masked data.

[2019-05-08 21:17] bouweandela commented on #1057
A bit of good news here is that they are translating this particular example to Python as a pilot, see: https://github.com/NCAR/ncl/issues/64#issuecomment-461256463

[2019-05-08 21:20] bouweandela commented on #1057
From the [roadmap](http://www.ncl.ucar.edu/Document/Pivot_to_Python/NCL_Pivot_to_Python_Roadmap_and_Software_Diagram.pdf) it also looks like there will be training available.

[2019-05-09 08:56] zklaus commented on #1057
Thanks for picking this up, @mattiarighi !

I completely agree that this is a process, cannot happen over night, and should have (almost) zero bearing on v2.0 (the exception just being that, all else being equal, I wouldn't prefer NCL for new developments).
I think your suggestion below for recommendations to developers is a good thing, more on that below.

@bouweandela has that covered. I think t

[2019-05-09 12:44] mattiarighi opened #1059 "Provenance logger leads to significant increase in computing time"
As noted while testing PR #1035, the provenance logger leads to an increase of the computing time, in particularly for diagnostics generating a large number of output files.

As an example, the average computing time for `recipe_perfmetrics_CMIP5.yml` increased from ~45 to ~75 minutes.

[2019-05-09 12:46] mattiarighi commented on #951
This has been solved by #1035

As I said, I think this is needed for tagging the CMIP results on the webpage.

[2019-05-09 13:10] bouweandela commented on #951
Would plot_type be a required attribute for every plot? And if so, I guess it would have to be one of the types from the list in config-references.yml, right? (this does not work at the moment, because it is called plot_type in the diagnostic/recipe and plot_types in config_references). And should it be specified in the recipe or in the diagnostic script? I guess it makes more sense to do that in

[2019-05-09 13:21] bouweandela commented on #364
KNMI has decided not to finish this for the MAGIC project.

[2019-05-09 13:47] PeterBergSMHI commented on #1058
Is the problem already with iris?
I am reading in data like this:
cube = iris.load_cube(filename)

However,
cube = iris.load_cube("tas_Amon_GFDL-ESM2G_historical_r1i1p1_19810101-19851231.nc")
gives the following error:

_/home/a001850/miniconda2/envs/esmvaltool/lib/python3.6/site-packages/iris/fileformats/cf.py:798: UserWarning: Missing CF-netCDF measure variable 'areacella', referenced by netCDF

[2019-05-09 14:12] bouweandela commented on #1058
I think there is some problem with your data. Everything works fine for me, up to the point where I get the following stack trace:
[code]
I changed the dataset in the recipe to this:
`  - {dataset: GFDL-ESM2G, project: CMIP5, mip: Amon, exp: historical, ensemble: r1i1p1, start_year: 1981, end_year: 1985}`

[2019-05-09 15:51] valeriupredoi commented on #1058
@PeterBergSMHI you can't simply `load_cube` on that dataset, without any callbacks or filters, the GFDL is a cube list:

[code]

[2019-05-09 15:59] valeriupredoi commented on #1057
I got 0 NCL lines :rofl:

So this will be easier to discuss when we will have split ESMValTool (at least) into core and diagnostics. The core is and will be Python; the diagnostics are a bit more relaxed and the shepherding of the scientists developing them towards Python (and away from NCL) can be done in a bit more of a relxaed way rather than at gun point if it was for the core

[2019-05-10 07:43] bouweandela commented on #1032
Suggestion by @axel-lauer: also record provenance for files from `auxiliary_data_dir`.

It would also be good to issue a warning or raise an error if there is a mistake in diagnostic_provenance.yml (e.g. trying to record a file as ancestor that is not a direct ancestor), in addition to #885.

[2019-05-10 08:42] axel-lauer commented on #233
I would like to put this issue on the agenda of the coding workshop in June. Being able to read EMAC data would be essential for us here for a number of reasons. Not sure who could look into this, though. @valeriupredoi would you possibly be willing to take a look during the workshop?

[2019-05-10 08:45] valeriupredoi commented on #233
can do! :beer:

[2019-05-10 09:22] hb326 commented on #767
@bjoernbroetz and @axel-lauer, could you check that please? I will be on vacation next week, and I don't want that dragging on.
Basically, it does not matter which variables are used for the SMPI, it is just a matter that the same variables are used for all models. So taking hfds out is not a problem. However, it might be a little tricker to figure our which variables are all available for all the

[2019-05-10 09:30] bouweandela commented on #322
@earnone @jhardenberg Now that  #754 is merged, can this issue be closed?

[2019-05-10 09:32] bouweandela commented on #293
Provenance for the collect script does not work yet, see also the discussion here: https://github.com/ESMValGroup/ESMValTool/pull/1035#issuecomment-490952242

[2019-05-10 09:47] PeterBergSMHI commented on #1058
My knowledge on cubes is (obviously) limited. Is there a more generic version of load_cube that I can use and have the rest of the code intact?

[2019-05-10 09:48] #322 closed

[2019-05-10 09:50] earnone commented on #324
These functionalities are included into the hyint main diagnostic now mergerd.

[2019-05-10 09:51] #324 closed

[2019-05-10 10:00] axel-lauer commented on #767
Where is the CP4CDS dataset to be used located?

[2019-05-10 10:09] earnone commented on #342
@bouweandela I guess there is no reason why we still have the REFACTORING_example_r branch in the repository right? Can I delete it?

[2019-05-10 11:15] bouweandela commented on #324
The last point in the list has not been implemented yet, right?

[2019-05-10 11:16] bouweandela commented on #342
Yes!

[2019-05-10 11:18] bouweandela commented on #767
On Jasmin in /group_workspaces/jasmin2/cp4cds1/data/c3s-cmip5/output1/ and the observational data is in /group_workspaces/jasmin2/cp4cds1/data/dkrz_pool

[2019-05-10 11:23] bouweandela commented on #1058
See the [iris documentation](https://scitools.org.uk/iris/docs/latest/userguide/loading_iris_cubes.html). However, based on the stack trace shown above, I do not think the problem is related to iris. `iris.load_cube` works just fine on the preprocessed data that is passed to your diagnostic script, as the preprocessor removes the spurious cubes from the original model data.

[2019-05-10 11:30] earnone commented on #324
Not openly: it is all already hidden in the code and I am doing some adjustment in parallel with the extreme_events v2 in a separate branch. This involves a new  `recipe_hyint_extremes` with a few extra settings in the `recipe_hyint` and a preprocessor to merge climdex data into the hyint files. Then everything else works exactly the same.  I prefer to open a separate issue/pull request for that s

[2019-05-10 14:54] earnone opened #1063 "Hyint with inclusion of ETCCDI indices from extreme_events_v2"
The `hyint` functionality that allows inclusion of etccdi indices calculated by the `extreme_events `recipe is working and under test. This is currently reading the data from a user preset directory pointing to the ./work where the etccdi indices were stored. Once `extreme_events` is merged into `version2_development`, then we can have a unique recipe calling the `extreme_events` diagnostic follow

[2019-05-10 15:03] earnone commented on #1063
Here is the preprocessing routine needed for dealing with etccdi indices in hyint:
[hyint_etccdi_preproc.R](https://github.com/ESMValGroup/ESMValTool/files/3167006/hyint_etccdi_preproc_R.txt)

And here the recipe with the few extra settings (see `etccdi_preproc` `etccdi_dir` `etccdi_list_import` `select_indices`):
[recipe_hyint_extremes.yml](https://github.com/ESMValGroup/ESMValTool/files/3167005/

[2019-05-13 08:15] axel-lauer commented on #767
A recipe_smpi_4cds.yml has been added and updated with the CP4CDS datasets available on Jasmin in branch **magic_smpi_cp4cds**: https://github.com/ESMValGroup/ESMValTool/blob/magic_smpi_cp4cds/esmvaltool/recipes/recipe_smpi_4cds.yml
The recipe is currently being tested on Jasmin, a pull request will be created once the new recipe was run successfully.

[2019-05-13 09:40] earnone commented on #1063
I have pushed a temporary branch having both the current version of extreme_events and hyint refined to read its output and further processes it. All is working.

The recipe with both diagnostics looks like this: [recipe_hyint_extreme_events.yml](https://github.com/ESMValGroup/ESMValTool/blob/REFACTORING_hyint_extremes/esmvaltool/recipes/recipe_hyint_extreme_events.yml)

The preprocessing of extre

[2019-05-13 11:52] PeterBergSMHI commented on #1058
I solved the problem. This model has a non-string attribute which fails to write to the xlsx. I have a fix: diag_shapeselect.py L155 should be:         worksheet.write(row, 1, str(getattr(ncfile, attr)))

What is the procedure to add this to the version2_development? My development branch is gone. Shall I branch out and you add it back in?

[2019-05-13 12:12] bouweandela commented on #1058
Yes, please create a new branch from `version2_development` and create a pull request.

[2019-05-13 12:41] bouweandela commented on #1063
Make use of the `ancestors` key in the script section, add  `ancestors: [extreme_events/main]` in the section describing the hyint/main script. Do you also need the `pr` preprocessed data for hyint? In that case you should add `ancestors: [pr, extreme_events/main]`.
[code]
Or if the preprocessed `pr` data can be the same for extreme events and hyint (now you only mask out sea data for hyint), you

[2019-05-13 13:03] earnone commented on #1063
Good, thanks. Sure, I will apply the same approach and avoid double preprocessing of pr.

[2019-05-13 14:20] #1058 closed

[2019-05-14 14:30] bascrezee commented on #1038
I now arrived at taking care of the 'time' axis. This is a somewhat special case, since it is a climatological dataset. How should I deal with this within ESMValTool? (See ncdump below). There are [CF conventions describing how NetCDF files with climatological statistics](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/cf-conventions.html#climatological-statistics) should look like

[2019-05-15 08:09] bascrezee commented on #1038
Climatological data are not officially supported yet by Iris (https://github.com/SciTools/iris/issues/2904).  Soon it will be possible to vote for this functionality in Iris (https://github.com/SciTools/iris/issues/3307). I now wonder if it makes sense to CMORize this dataset at this moment. Is it possible to simply read and plot this dataset in a custom diagnostic without running the CMORizing sc

[2019-05-15 08:19] mattiarighi commented on #1038
@ledm has cmorized some climatological data from the `WOA` dataset, you can try to use his script as an example.

[2019-05-15 08:37] tomaslovato commented on #1038
@bascrezee Actually You can define the timeline of the dataset using `time` instead of `mon`, by setting the correct year of reference for the climatology as done for `WOA` data. This make even more sense since the climatology is representative of a certain period and it should be better to have it explicitly associated to the data .

You can add a custom variable for the reference year similarly

[2019-05-15 09:11] bascrezee commented on #1038
Sounds like a good approach. The original data contains a monthly climatology over 4 years (2008-2012). Is my understanding correct, that with the approach you suggest, 4 files will be written, one for each year. Each file will hold exactly the same data values. Since the data is not too big, this is a fine workaround.

[2019-05-15 09:28] bascrezee commented on #1038
I now run into another error:
[code]

It has been reported before (https://github.com/ESMValGroup/ESMValTool/issues/516). For @schlunma it did work when using `Iris v2.2.0`, but not for me. Any idea's?

[2019-05-15 09:34] tomaslovato commented on #1038
@bascrezee since you have a monthly climatology you need to set only one reference year, in this case I would suggest to set 2010 (middle of climatological period). Only one file has to be generated.

Note that source should point to the exact download path of the data so
https://github.com/ESMValGroup/ESMValTool/blob/0b4ef0e7b1f124897a75981b0c82e47153742068/esmvaltool/utils/cmorizers/obs/cmor_con

[2019-05-15 09:38] bascrezee commented on #1038
Ok, thanks. But the start and end of the period should be included somehow as well, to describe the data correctly. I guess adding them to the global attributes makes sense?

[2019-05-15 09:38] mattiarighi commented on #1038
Or in the filename?

[2019-05-15 09:48] tomaslovato commented on #1038
time in filename so far matches with data content, so in this case the final cmorizes name should contain `201001-201012`. It may be a good idea to add it in the global attributes.

@bascrezee  To solve the issue with time the you reported it would probably be better to use a `callback` function when iris load the data to set the cube reference time and `units`.

[2019-05-15 13:06] bouweandela commented on #270
when the climdex R library attempts to process a file generated by the ESMValTool preprocessor it gets confused by the time_bnds, lon_bnds and lat_bnds and spits the following error message: ...

The output of the ESMValTool is written by iris, so it can be expected to comply with the cf-conventions. Instead of using external tools to modify the data so the climdex R library understands it, I thin

[2019-05-15 13:10] maritsandstad commented on #270
You can always try, but I would bet any substantial sum that they will make the necessary changes. However, might be worth a try...

[2019-05-15 13:16] bascrezee commented on #1038
Thanks. This `callback` works fine indeed. It now ran through :)

Now I am checking the file with `recipe_check_obs.yml`:
[code]

But I run into the following error. I do not fully understand the error message. It does not find the `dataset` key, but it is specified in the recipe.

[code]

Branch: https://github.com/ESMValGroup/ESMValTool/tree/version2_development_cmorize_duveiller2018

[2019-05-15 14:15] ledm opened #1068 "We shouldn't require authors to be in config-references.yml to run a recipe"
In the documentation section of recipes, there is an obligatory field: `authors`. This requires the names listed in the `authors` section of the recipe to be in the `config-references.yml` file.

Otherwise, you will get an error like this one:
[code]

This should 100% be a requirement for pushing recipes back to github.

However, this excludes new users from ownership of their own recipe if they d

[2019-05-15 14:54] bjoernbroetz commented on #767
Recipe tested on Jasmin. See: PR https://github.com/ESMValGroup/ESMValTool/pull/1069

[2019-05-15 15:23] mattiarighi commented on #951
Yes.

Yes.

I fixed that for NCL, see #1070.

In many recipe it looks like it is just a setting for the diagnostics, not necessarily matching the `plot_types` in `config-references.yml`. Also because the latter are quite general types, while in the recipe they are more specific.

[2019-05-15 16:01] valeriupredoi commented on #1068
Right on @ledm ! This is particularily needed when the tool is centrally installed on a large data-store cluster like Jasmin or DKRZ - brand new users will want to first run an existing recipe with that sourceable installation and then write their own recipe - they have the option to keep the provenance info on a given existing recipe (which is not nice) or they should be able to use a `new_author

[2019-05-16 06:38] mattiarighi commented on #1068
What about adding an entry in `config-references.yml` for such cases, something like:
[code]

[2019-05-16 07:40] bascrezee commented on #1038
Oops.. :stuck_out_tongue_closed_eyes: Yes, I will look at the source code next time.

[2019-05-16 09:06] bnlawrence commented on #1027
The other thing to do is have a clear distinction between governance and management ... i.e. between strategic direction and oversight versus routine activities (release plan, ticket priorities etc).

[2019-05-16 09:11] bnlawrence commented on #1027
Incidentally, the discussion above about private/public ... I *strongly* urge you never to have private discussions about ESMValTool .. the open development piece is *incredibly* important to having stakeholders believe in both your strategy and your ability to implement what they want on useful timescales.

[2019-05-16 09:25] jvegasbsc commented on #1027
Just to clarify: we are only talking about working in private for diagnostics, not the tool itself. Some scientists worry about developing new science in the open by fear of been copied before they are able to publish their results.

The ESMValTool-private repository aims to be a place to develop new science without those fears, nothing more. Failing to provide this kind of environment will probab

[2019-05-16 09:40] bascrezee commented on #1038
Making progress. I added the dimension `vegetation_transition_code` to `CMOR_albDiff.dat`:

`dimensions:        longitude latitude time vegetation_transition_code`

But I run into the following error:
[code]

It seems as if I still need to define this dimension somewhere. Maybe @jvegasbsc can help me, since I noted that `CMOR_clisccp.dat` includes a 'custom' dimension named `tau`.

[2019-05-16 09:43] bouweandela commented on #1027
@bnlawrence Thank you for the extensive comments!

I think the project will need to be more clear about both topics.

[2019-05-16 11:10] valeriupredoi commented on #1027
cheers muchly for the extensive comments and meeting @bnlawrence :beer:

In the meeting Bryan has also mentioned the importance of management on prioritizing decisions on the project evolution based on input from both users and input from the funding bodies (these groups may overlap at times).

On the same topic I may go a bit further and propose a management structure that includes not only core

[2019-05-16 11:14] valeriupredoi commented on #1068
sounds good @mattiarighi - can it be `Batman` instead? :grin:
@bouweandela you the main provenance person, what say you (about putting this in, not `Batman`)

[2019-05-16 11:34] valeriupredoi opened #1072 "OBS data cmorization procedure, checklist and current issues"
**Summary**

This is to summarize the procedures for cmorizing and including new OBS data. This is meant for those who are not aware of the procedures just yet. It also raises a few points that need to be discussed.

**Approach**
- get the RAW data
- write a cmorizer script for that data based on existing scripts as seen in [cmorizers](https://github.com/ESMValGroup/ESMValTool/tree/version2_develo

[2019-05-16 11:42] mattiarighi commented on #1072
Thanks!
Can you check whether this is consistent with what I wrote in the corresponding section in the user guide? It should, but maybe I missed something.

For that, you can assign me as a reviewer of the corresponding PR.

Each new dataset needs a CMORizer, which would need to go through a PR and a review.
I always add new data to the DKRZ pool when testing the PRs.
In that sense, DKRZ is the pr

[2019-05-16 11:57] mattiarighi commented on #1068
No, that might disappoint Marvel fans.

[2019-05-16 12:14] bouweandela commented on #1068
I'm not so sure about this issue: I think it is best if people check out the diagnostics repository (after the planned split) and start developing in there, this will make it much easier to later create a pull request to add what you're developing back to esmvaltool. If you just want to try out esmvaltool, I think it's not necessary to put yourself as an author on the recipe, it only makes sense t

[2019-05-16 12:33] bouweandela commented on #270
I have created an issue to ask the authors of the `climdex.pcic.ncdf` package about publication on CRAN: https://github.com/pacificclimate/climdex.pcic.ncdf/issues/16.

[2019-05-16 12:38] bouweandela commented on #270
@jhardenberg Could you please open an issue about this https://github.com/ESMValGroup/ESMValTool/issues/270#issuecomment-487994554 in the relevant repository?

[2019-05-16 12:53] ledm commented on #1068
I've got to disagree with you @bouweandela. It takes several hours to install a personal copy of ESMValTool from scratch. When host a 4 hour ESMValTool tutorial, we don't want to spend half of it installing ESMVallTol. This means that nearly all new users will always use a central installation ESMValTool, at least on day one.

Say you're a new user: you take some one else's recipe, changes the few

[2019-05-16 13:02] bouweandela commented on #1068
After we've split the core and diagnostics installation (in preparation to actually splitting the repositories), it should be easy to use a centrally installed version of esmvaltool with a custom diagnostics scripts location, so long as you're not changing the dependencies, because the diagnostic scripts do not actually need to be installed, just their dependencies.

It' that's the case, this is a

[2019-05-16 13:35] ledm commented on #1068
With regards to an installation from scratch, it takes a while to install on jasmin, as users need to install miniconda2 in addition to all the packages listed in `environment.yml`.

In all cases, a full installation can be a significant hurdle to jump for a new user.

We're going to be hosting an ESMValTool or UKESM users in mid-june so it would be great to have resolved this issue before then. (

[2019-05-16 14:24] LisaBock opened #1074 "Read in CMIP3 datasets"
I need to read in **CMIP3** datasets in the ESMValTool. I started to implement this feature in the code but it was not successful as I did something wrong or missed something for sure.
Is there anyone who could support me?

What I did:
I modified `cmor/table.py` and `config-developer.yml` and added the CMOR table file `cmor/tables/cmip3/Tables/CMIP3_A1` (see branch `version2_development_cmip3`).
A

[2019-05-17 08:20] tomaslovato commented on #1038
@bascrezee You need to add the information about your new axis `vegetation_transition_code` in `CMOR_coordinates.dat`, following the structure of the already available non-standard dimension.

[2019-05-17 08:37] jvegasbsc commented on #1074
Hi Lisa

I will take a look. We are talking about pre-CMOR here, so probably it will need quite a lot of manual effort. it looks like there is not even a common file format

[2019-05-17 08:53] bouweandela commented on #1032
Another idea for improvement: record provenance per panel in multi-panel plots.

[2019-05-17 09:02] LisaBock commented on #1074
I just found the definition of output on the [PCMDI website](https://pcmdi.llnl.gov/ipcc/standard_output.html). Nothing else.

[2019-05-17 09:39] jvegasbsc commented on #1074
I have updated the branch with a couple of fixes. Now it works, as long as you change the variable in the recipe to `tas` because it is the one defined in A1

I also added unit testing for the CMIP3 tables

[2019-05-17 10:10] LisaBock commented on #1074
Thanks. I will test it on Monday.

[2019-05-17 12:57] #951 closed

[2019-05-20 15:19] rswamina opened #1077 "CMOR Check error for soil moisture (mrsos) standard name in CMIP6 data"
**Is your feature request related to a problem? Please describe.**
The standard name for soil moisture in the upper portion of soil column (mrsos) is defined as mass_content_of_water_in_soil_layer (https://github.com/PCMDI/cmip6-cmor-tables/blob/master/Tables/CMIP6_Lmon.json)  for CMIP6 data. In CMIP5 it is defined as moisture_content_of_water_in_soil_layer (https://github.com/PCMDI/cmip5-cmor-tab

[2019-05-20 15:20] LisaBock commented on #1074
@jvegasbsc Perfect, now the ESMValTool found my CMIP3 files.

But there are still more problems:

- The ESMValTool wants to find start_year and end_year in the filename which is not always possible in the CMIP3 models.
File names are e.g. `tas_A1_1.nc, tas_A1.20C3M_1.CCSM.atmm.1870-01_cat_1879-12.nc, tas_A1_a42_0007-0147.nc, tas_A1.GISS1.20C3M.run1.nc, tas_A1.nc`

- Frequency is named "mo" instead

[2019-05-20 15:47] bouweandela commented on #646
@ValerioLembo Now that your pull request has been merged, can this issue be closed?

[2019-05-20 15:50] ValerioLembo commented on #646
I do not know if @valeriupredoi and @jvegasbsc have finally addressed that problem with ACCESS1-3 and IPSL-CM5A-LR. it completely fell off my radar... Anyway, it is not necessarily related to my diagnostic tool, it is more an issue of the preprocessor...

[2019-05-20 15:51] bouweandela commented on #1077
It looks like this is related to #950

[2019-05-20 16:24] rswamina commented on #1077
Yes, I believe it is exactly the same issue.

[2019-05-22 03:39] bjoernbroetz commented on #953
Provenance was added in PR #1080

[2019-05-22 04:28] bjoernbroetz commented on #953
Documentation has been enhanced (same PR)

[2019-05-22 07:35] bouweandela commented on #646
I've changed the issue title so it is more clear what needs to be fixed.

[2019-05-22 08:39] jvegasbsc commented on #1074
Let me take a look...

[2019-05-22 11:06] mattiarighi commented on #50
In the v2 doc there is no section on Documentation of source code at the moment, where else could we add the statement about numpy docstrings?

[2019-05-22 11:23] bouweandela commented on #50
Maybe we should add a section on code quality and documentation, or link to CONTRIBUTING.md and add more information there.

[2019-05-22 12:36] hb326 commented on #767
PR #1069 was approved and the branch was merged. So can we close this issue here?

[2019-05-22 13:08] bouweandela commented on #767
There are a few issues with the SMPI recipe.
- The provenance for the collect script is not implemented correctly: ancestor files should be the files created by the tasks listed under `ancestors` in the recipe, not the preprocessor files used as input to those tasks.
- Some diagnostic script options either don't work or are not correctly documented. For example, I tried changing `plot_type` to cyc

[2019-05-22 13:13] jvegasbsc commented on #1074
This should be solved now in the CMIP3 branch

[2019-05-22 13:27] valeriupredoi opened #1082 "Cube concatenation failure for ocean thetao IPSL data"
**Describe the bug**
While running @tillku ocean heat recipe with IPSL CMIP6 data I encountered this problem:
Failure to concatenate cubeList:

[code]

It looks like the `thetao` variable is packaged in two separate cubes - one for the variable itself and one for the cell measures. This is not a problem for eg UKESM1 data that comes correctly cmorized eg
[code]

I am not sure what the best approac

[2019-05-22 13:32] valeriupredoi commented on #1074
just gotta say - hats off to you guys for doing this, CMIP3 data is probably older than me and I am pretty ancient myself :rofl: One idea - can we use the OBS cmorizers to cmorize CMIP3 data in advance of using it?

[2019-05-22 15:48] valeriupredoi commented on #1068
yes, I fully support a `john-doe` user group

[2019-05-22 16:21] valeriupredoi commented on #1029
I started sniffing around `intake` - easy to install via conda and looks easy to use (I ran the little exaple here [https://buildmedia.readthedocs.org/media/pdf/intake/latest/intake.pdf][docs] but it looks to me this something accountants or auditors would rather use than us...maybe I'll find something cooler the more I look at it

[2019-05-23 08:21] hb326 commented on #767
We have two recipies for the SMPI. The one for Jasmin is called "recipe_smpi_4cds.yml", similar to the recipe for the perfmetrics. In this recipe only the diagnostic for "hfds" is commented out since this variable is not available for the models on Jasmin. However, we think we should leave the commented out section in the recipe so that we can keep track of possible diagnostics to add to the recip

[2019-05-23 08:22] hb326 commented on #767
We changed the header of the recipe to be more consistent with the other recipies.

[2019-05-23 08:43] bouweandela commented on #767
https://github.com/ESMValGroup/ESMValTool/issues/767#issuecomment-495117470 was about recipe_smpi.yml, not about recipe_smpi_4cds.yml, as it says in the comment.

It looks like it was only changed for recipe_smpi_4cds.yml, not for recipe_smpi.yml?

[2019-05-23 14:44] hb326 commented on #767
We followed with our description the example of the perfmetrics. SMPI is basically a very specific case of the perfmetrics with one additional step added. Therefore we would like to keep the provenance for now the same as for the perfmetrics. However, we might want to rethink our strategy what we think should be included in the provenance at the workshop in June.

[2019-05-23 14:46] hb326 commented on #767
I updated the documentation for the recipe. I hope it does make more sense now.

[2019-05-23 14:48] hb326 commented on #767
I added anchors for the start_year and end_year of the variables. See pull request #1088.

[2019-05-23 15:00] hb326 commented on #767
The lines with the model specifications were commented out because we tested the recipe with the first two models after minor code adjustments. I fixed this now. I also adjusted the header of the recipe, and added the anchors for the start_year and end_year definition for the variables.

[2019-05-23 15:21] bouweandela commented on #767
Indeed provenance was also not correctly implemented for perfmetrics. If you look at the resulting provenance file or plot, you can see that all information is missing. Does the collect script use the preprocessor files directly in any way? Or only the files from the work_dir of the ancestors as defined in the recipe?

[2019-05-23 15:27] mattiarighi commented on #767
--> only the files from the work_dir of the ancestors as defined in the recipe

[2019-05-23 15:30] bouweandela commented on #767
Ok, in that case it really makes sense to record those in the provenance instead of the preprocessor files.

[2019-05-23 15:32] bouweandela commented on #767
There is a command line option to select the number of models, see `esmvaltool --help`, so there is no need to change the recipe for this kind of test.

[2019-05-24 13:35] jvegasbsc commented on #1072
About the raw data, we should put this in a centralized location on JASMIN or DKRZ for testing the pull requests? We must still check if the instructions for download are OK, but is better to do that downloading one year instead of 50

[2019-05-24 13:41] valeriupredoi commented on #1072
I'd argue the raw data should be downloaded from the remote source, last thing we want is to maintain a DB of raw data and God forbid if we don't account for their latest versions and someone publishes results using an obsolete version - plus, there isn't much room on Jasmin. We could have samples of raw data locally stored on Jasmin and DKRZ for testing the cmorization. Speaking of which - we don

[2019-05-24 16:21] jvegasbsc commented on #1072
I was just talking about keeping full RAW in a common place *before* merging, to make easier to test/contribute to other people.

[2019-05-27 06:38] mattiarighi commented on #1059
The problem got significantly worse.

Now both ` recipe_perfmetrics_CMIP5.yml` and `recipe_smpi.yml` hang after a while.
The diagnostics scripts go through, writing nc files, plots and the `diagnostic_provenance.yml` file.
Some `.xml` provenance files are written but then nothing happens.

@axel-lauer and I tried a lot of configurations (at DKRZ), down to 1 parallel task, with the latest and with

[2019-05-27 09:48] bouweandela commented on #1059
The error messages from the netcdf library are probably not related, and according to this issue https://github.com/Unidata/netcdf-c/issues/1207 not important either.

[2019-05-27 09:50] bouweandela commented on #1059
Is this with the current `version2_development` branch, or related to pull request https://github.com/ESMValGroup/ESMValTool/pull/1090?

[2019-05-27 09:52] mattiarighi commented on #1059
In both.

[2019-05-27 09:53] mattiarighi commented on #1059
Looking at my previous tests, it seems like the last successful run was with commit `7b56bdd`.

[2019-05-27 10:00] bouweandela commented on #1059
Thanks, I'll have a look

[2019-05-27 10:23] bouweandela commented on #1059
I just ran `recipe_perfmetrics_CMIP5_4cds.yml` with 42 models succesfully for branch `fix_pm_prov` in 17 minutes on the [DAS5](https://www.cs.vu.nl/das5/), so the issue may be specific to your installation. Where does it hang exactly for you? Do all NCL scripts finish successfully and is it the main process that hangs? Can you attach run/main_log_debug.txt here?

[2019-05-27 10:32] mattiarighi commented on #1059
These are the logs from a test run with 1 parallel task, hanging after completing `rsut/grading`.

[main_log.txt](https://github.com/ESMValGroup/ESMValTool/files/3223345/main_log.txt)
[main_log_debug.txt](https://github.com/ESMValGroup/ESMValTool/files/3223362/main_log_debug.txt)

An identical test hanged after `ta5/cycle`.

[2019-05-27 12:13] bouweandela commented on #1059
I've just created a pull request (see above) to add some timing information, because at the moment it's not possible to see from the log whether we're waiting for the diagnostic script to finish or waiting for the function that collects the provenance.

[2019-05-27 12:56] mattiarighi commented on #1059
These are the logs:
[main_log.txt](https://github.com/ESMValGroup/ESMValTool/files/3223813/main_log.txt)
[main_log_debug.txt](https://github.com/ESMValGroup/ESMValTool/files/3223814/main_log_debug.txt)

I'm running this interactively with 1 parallel task. This is the list of current processes while esmvaltool hangs:
[code]

[2019-05-27 13:02] bouweandela commented on #1059
Somehow the diagnostic script process never returns:
[code]
We've been seeing similar issues, but have not been able to find the cause so far, because it's hard to reproduce the issue on our systems, sometimes it works and sometimes it doesn't. This is probably not related to collecting provenance. Maybe you could try if it is related to this https://github.com/ESMValGroup/ESMValTool/pull/1075? Th

[2019-05-27 13:06] mattiarighi commented on #1059
But commenting out all calls to `log_provenance` in the `diag_scripts/perfmetrics/` scripts the problem does not occur. Is it just a coincidence?

You mean reverting that PR?

[2019-05-27 13:42] jvegasbsc commented on #1082
this is usually because the extra variable is not added to the coordinates attribute

[2019-05-27 13:55] jvegasbsc commented on #1082
By the way, a fix for thetao will be enough for this. Share the dataset definition and let me test

[2019-05-27 14:01] jvegasbsc opened #1096 "Version not in fx filename for observations"
We have version in the default filename for observations but not for the fx variables. I think it should also be there to be consistent.

I looked in `/group_workspaces/jasmin4/esmeval/obsdata-v2/` and the only fx file there (from ERA-Interim) has the version. There are also those generated in my pending pull requests (#1042 , #1066, #1064) which also have the version.

[2019-05-27 14:32] mattiarighi commented on #1096
There is no other `fx` file in the current OBS pool apart ERA-Interim.
Is there anything to be fixed there?

[2019-05-27 14:44] jvegasbsc commented on #1096
One of two things:
- ERA-Interim cmorizer if we don't want the version in fx filenames
- config-developer file if we want the version in fx filenames

[2019-05-27 14:46] mattiarighi commented on #1096
I prefer the second option.

[2019-05-27 14:58] jvegasbsc commented on #1096
I know. I just discovered that was a problem with my branch. you fixed it a while ago. Sorry to bother you

[2019-05-27 14:58] #1096 closed

[2019-05-27 15:35] mattiarighi commented on #1059
Indeed, reverting the changes in #1075 (i.e., reverting `_task.py` before commit 2a134a51cd40df62ce75130136258a4e60ef471a) solves the issue.
@bouweandela how do you want to proceed, should I open a PR with the reverted changes?

By the way, the reason for the increased cpu time in `recipe_perfmetrics_CMIP5.yml` is to be (mostly) ascribed to `sm/grading`: this diagnostic writes pretty large NetCDF

[2019-05-27 15:48] bouweandela commented on #1059
Are you sure? Because for me it sometimes works and sometimes doesn't, so testing just once doesnt' say very much.

There is a revert button, we could also try using that

[2019-05-27 15:54] mattiarighi commented on #1059
I'm sure that the current version does not work, since both @axel-lauer and me tried many times.
Before that commit I can't remember we ever encountered this problem (at DKRZ and DLR-Cluster).

Opening a PR we can allow others to test as well, on different machines.

[2019-05-28 11:06] valeriupredoi commented on #1082
@jvegasbsc absolutely, I was tied up with a whole bunch of other stuff otherwise I would have written the fix myself and not bother you. Buuut since you're on the ball... :grin:

[code]

:beer:

[2019-05-28 11:31] valeriupredoi commented on #1059
@mattiarighi I am seeing that your `locale` encoding is `'LC_CTYPE': 'en_US'` -- this is a bit of a half-ass and sometimes produces errors related to text encoding/decoding - try set it to `'LC_CTYPE': 'en_US.UTF-8'`, and `'LANG': 'en_US'`

[2019-05-28 12:52] tillku commented on #1082
@jvegasbsc @valeriupredoi glad to see this activity *smile*  but I thought we can't analyse the CMIP6 data anyway because the volcello files aren't yet on the ESGF?

[2019-05-28 12:56] valeriupredoi commented on #1082
@tillku yes but the IPSL file and fix has nothing to do with the volcello data missing, it's something that needs to be done anyway :beer:

[2019-05-28 15:18] valeriupredoi commented on #1059
so my run pf perfmetrics has suddenly died:
[code]

which is because of our lovely CMIP5 BADC database:
[code]

but up to here all was running fine and dandy (10-11GB max mem, but that's normal). My question is the following: if you think something related to tasking/provenance is affecting perfmetrics then it means it **should** affect all other runs (there's nothing special related to perfmetric

[2019-05-28 15:24] mattiarighi commented on #1059
Concerning the increased CPU time: it mostly depends on the `sm/grading` diagnostics, since the NetCDF files in workdir are ~10 times larger than for other variables and apparently adding the provenance attributes to those files takes ages. Can you test this diagnostic on your machine?

[2019-05-28 15:26] schlunma opened #1098 "Preprocessor uses wrong start and end year when leading 0 are given"
I want to report a rather strange issue:

In a recipe, I load the following data (CMIP6):

[code]

Somehow, the `start_year` and `end_year` are randomly changed to `105`-`192`. This already happens when the recipe is parsed: Printing `raw_recipe` here

https://github.com/ESMValGroup/ESMValTool/blob/91fcb3b533b336e24fa6f607e2ad7a53f4346673/esmvaltool/_recipe.py#L56-L60

yields

[code]

So this is a

[2019-05-28 15:26] valeriupredoi commented on #1059
I think this guy is running in the same issue as you before he runs in the `TypeError`: https://stackoverflow.com/questions/33283603/python-popen-communicate-str-encodeencoding-utf-8-errors-ignore-cr

[2019-05-29 08:35] yoniv1 opened #1099 "No input data found when running example scripts"
### **Describe the bug**
Hi all,

I tried running the ESMValTool using example scripts, where I did not change the user-config or recipe files:

But apparently, the input data cannot be found. Also, there is no 'esmvaltool_input' folder, do I have to create this manually? Where can I find the proper input data?

### **Please attach**

### Recipe

### main_log_debug file

Thanks!

[2019-05-29 09:28] mattiarighi commented on #1099
The input data (CMIP5 models and OBS for the recipe you are running) need to be available on your machine and the proper paths have to be specified in `config-user.yml`.

CMIP5 data can be downloaded from the ESGF archive.
OBS data needs to be generated using the CMORizers (see [documentation](https://github.com/ESMValGroup/ESMValTool/blob/version2_development/doc/sphinx/source/user_guide2/observa

[2019-05-29 09:36] yoniv1 commented on #1099
Hi Mattia,

I’m running this script on my local laptop which is connected to the terminal of the VUB-HPC (the supercomputer of the VUB, Brussels, Belgium) via PuTTY. All other directories (cmor, diag_scripts, preprocessor, etc.) are installed but there are no .nc files like “OBS_ERA-Interim_reanaly_1_T3M_ta_2000-2002.nc” embedded in the source material so it seems.

So I have to download the data

[2019-05-29 09:43] mattiarighi commented on #1099
Correct, the ESMValTool is just the source code, we are not allowed to distribute data and anyway it would not be feasible due to the huge amount.

You need to download the data and set the proper input directory in `config-user.yml`, at least for `CMIP5` and `OBS`:
[code]
For CMIP5 there are different ways of structuring the data, this is the `drs`, and examples for some machines are to be found

[2019-05-29 10:48] valeriupredoi commented on #1059
@mattiarighi I ran the sm bit and I am getting this:
[code]
what's it mean?

[2019-05-29 11:12] mattiarighi commented on #1059
Do you have the OBS data for `sm`?
Can you send me the `sm_info.ncl` file?

[2019-05-29 11:23] valeriupredoi commented on #1059
I am running on Jasmin and pointing to `esmeval/obsdata-v2` for obses, no idea if it's the correct data, obviously it found some data otherwise the preprocessor would have failed,
[sm_info.txt](https://github.com/ESMValGroup/ESMValTool/files/3232177/sm_info.txt)
here is the `sm_info.ncl`

[2019-05-29 11:39] mattiarighi commented on #1059
Are you in `version2_development` ?
How do you select the `sm` bit, using the  --diagnostics` option?

[2019-05-29 11:51] valeriupredoi commented on #1059
I am in `version2_development` - I wrote the sm-related bits of perfmetrics in a separate recipe
[recipe_sm.txt](https://github.com/ESMValGroup/ESMValTool/files/3232278/recipe_sm.txt)

[2019-05-29 11:53] mattiarighi commented on #1059
Try again using `--diagnostics sm`.

[2019-05-29 11:55] valeriupredoi commented on #1059
awww whats wrong with my recipe :sob: I will, am running perfmetrics full again now (minus the bloody CMCC dataset)

[2019-05-29 11:57] mattiarighi commented on #1059
Your recipe also runs `sm` with `plot_type = cycle`, which is not in the original recipe.
It should work anyway and I'm trying to find the error, but it's a different thing.

[2019-05-29 12:01] valeriupredoi commented on #1059
Different is cool these days, man :grin: On the serious side, will let you know about the full perfmetrics when it finishes then I'll run with `--diagnostics sm` and will let you know

[2019-05-29 12:02] mattiarighi commented on #1059
Meanwhile I found out why your recipe was not running, it's a really minor bug. I'll PR it in a while.

[2019-05-29 12:03] valeriupredoi commented on #1059
oh cool so I've done smth useful after all :grin:

[2019-05-29 12:07] mattiarighi commented on #1059
Your recipe should now work in #1101.

[2019-05-29 12:29] bouweandela commented on #1059
Some more info on the time it takes to collect provenance in perfmetrics 4cds with 42 datasets, total run time 18 minutes on a 32 core machine:
[code]

[2019-05-29 13:00] bouweandela commented on #270
The recipe/diagnostic script has now been merged. I noticed however, that provenance is not correctly recorded for a number of files. After running the default recipe, the following files do not have a reference to any preprocessor output files, so very probably have a wrong provenance record:
[code]

[2019-05-29 13:38] tomaslovato commented on #1082
@valeriupredoi I run into a similar problem with other ocean variables (e.g., intpp, fgco2, dpco2 etc) from `IPSL-CM6A-LR`. As I work with the same ocean model, I'm strongly convinced that all variables related to the ocean realm will contain both the variable itself and the `area` aux coordinate, so the fix in PR #1100 should be generalized.

Anyway, since the ocean cell area is provided through

[2019-05-29 14:04] mattiarighi commented on #1059
Here is the result of `recipe_perfmetrics_CMIP5.yml` at DKRZ:
[code]

Times are longer since I have more datasets, but as you can see `sm/grading` is significantly slower.
Total runtime was 53'47" with 8 parallel tasks.

[2019-05-29 14:07] bouweandela commented on #1099
The model data can be downloaded from ESGF, e.g. here https://esgf-data.dkrz.de/projects/esgf-dkrz/

A tool that makes it easier to download model data is [synda](https://github.com/Prodiguer/synda). ESMValTool has some support for automatically downloading required data from ESGF using synda, see `esmvaltool -h`, look for the `-s` flag. It works if you have synda installed.

Observational dataset

[2019-05-29 14:32] mattiarighi commented on #1057
DKRZ is still organizing [NCL workshops](https://www.dkrz.de/up/news-and-events/workshops-and-trainings/2d-visualization-with-ncl-hands-on-workshop-07-2019/2d-visualization-with-ncl-hands-on-workshop-07-2019) for the users, so they are probably not planning to retire NCL support soon.

[2019-05-29 14:39] bouweandela commented on #1027
Regarding the changelog, I think we can simply collect the titles and a link of all pull requests that have been merged since the previous release, like [dask](https://docs.dask.org/en/latest/changelog.html) does. This does mean that we will need start writing more intelligible titles for pull requests.

[2019-05-29 14:46] bouweandela commented on #1098
Yes, numbers starting with 0 are interpreted as octal integers: https://yaml.org/refcard.html

[2019-05-29 14:48] mattiarighi commented on #1098
Is there a point in the existing documentation where we can add this caveat?
If yes, @schlunma please do that and we can close this.

[2019-05-29 14:49] bouweandela commented on #1098
I would suggest to add it in the recipe documentation (mostly missing still): https://esmvaltool.readthedocs.io/en/version2_development/user_guide2/index.html#esmvaltool-recipe

[2019-05-29 14:49] schlunma commented on #1098
Okay, that explains a lot :grin:, thanks @bouweandela. I will add it to the documentation (probably on Monday).

[2019-05-29 15:21] zklaus commented on #1027
Good idea! In that case we might contemplate to follow dasks lead also in using squashed commits to keep/make our history readable.

[2019-05-29 16:02] valeriupredoi commented on #1099
alternatively you can request access to compute clusters that also host large model and obs databases (eg CEDA-Jasmin or DKRZ), depending on your project - I can assist with Jasmin if you find out you are allowed to work there (eg you are either CRESCENDO or ISENES3)

[2019-05-30 08:51] jvegasbsc commented on #1027
I like this. It is possible to make this the default way of merging on GitHub, to avoid manual errors?

[2019-05-30 08:55] jvegasbsc commented on #1057
Just remember that the end of python 2 support seemed to be far far away

[2019-05-30 09:34] valeriupredoi commented on #1057
I am working with Met Office software which is (as expected) Python2 and everytime I try and update Py2 deps I get warnings about the looming dat of January 1st 2020 :grin:

[2019-05-31 08:27] ledm commented on #739
The associated PR was merged, so I'm closing this issue.

[2019-05-31 08:27] #739 closed

[2019-05-31 08:53] ledm commented on #608
Did we ever make a decision on this issue?

@bouweandela  wrote:

I agree that this would be a nice change, as long of the old method (specified by year only) was also supported.

This would be a nice change to the way that we load datasets by time range, notably for seasonal calculations, instead of just loading a range of years.

[2019-05-31 08:57] ledm commented on #613
I think that this issue was addressed when we added the support for FX files, which simplifies the calculations. We certainly don't need to add this as a preprocessor anymore.

[2019-05-31 08:57] #613 closed

[2019-05-31 09:01] #642 closed

[2019-05-31 09:05] mattiarighi commented on #1099
I'm closing this now, @yoniv1 feel free to reopen it if needed.

[2019-05-31 09:05] #1099 closed

[2019-05-31 09:39] ledm commented on #671
The utility created by @bettina-gier looks quite practical. Would it be worth putting together a command line tool based on this inside ESMValTool? This would allow us to explicitly output the exact expressions needed in a recipe.

[2019-05-31 09:54] ledm commented on #688
Still no word from @bjlittle on this issue. The bad bit of code is still hardwired into [iris.analysis.cartography.py](https://github.com/SciTools/iris/blob/master/lib/iris/analysis/cartography.py#L404). I can't quite remember whether we raised it at the meeting with them in March.

Nevertheless, I believe that many of the preprocessors now work with irregular grids without any changes from iris.

[2019-05-31 10:13] ledm commented on #737
I think that most of these issues were addressed over several PRs, notably #740 & #763.

[2019-05-31 10:13] #737 closed

[2019-05-31 10:15] yoniv1 commented on #1099
Ok, thanks for the help. I will come back to you if I encounter any troubles.

Yoni Verhaegen

Verzonden vanaf mijn Samsung Galaxy-smartphone.

-------- Oorspronkelijk bericht --------
Van: Mattia Righi <notifications@github.com>
Datum: 31/05/19 11:05 (GMT+01:00)
Aan: ESMValGroup/ESMValTool <ESMValTool@noreply.github.com>
Cc: yoniv1 <yoni_verhaegen@hotmail.com>, Mention <mention@noreply.github.com

[2019-05-31 10:41] ledm commented on #827
So, is the installation on OSX working properly at the moment? Should we add Mac specific installation instructions?

[2019-05-31 11:12] valeriupredoi commented on #827
afraid I haven't actually touched a Mac since ages :grin: Maybe someone will bring a Mac to the workshop or @mattiarighi or @hb326 can get their hands on one? If so I will volunteer to smash it..ahem, try install the tool on it

[2019-05-31 11:19] valeriupredoi commented on #688
reopening issue since the mother issue https://github.com/SciTools/iris/issues/3211 is still open; we need to bust @bjlittle 's balls at the workshop :grin:

[2019-05-31 11:51] valeriupredoi commented on #1098
since we are on the 007 topic, a heads up that some models produce piControl data and some OBS data that starts at Jesus H Christ year of 0000 on the time axis (`'days since 0000-01-01 00:00:00'`, even though the real year is 1850 or smth like this) - that is a massive pain in the arse since, even if iris reads it fine, the conversion to the real year has to be done manually (see the `utilities.py

[2019-05-31 13:21] valeriupredoi opened #1107 "Migrating installing deps from conda-forge to PyPi"
We should, as much as possible, migrate as many deps from conda-forge to PyPi (since PyPi is more stable and robust). I started off with an old gripe of mine, `iris`. Proves out installing `iris>=2.2` from PyPi in a conda virtual environment is much harder than I thought. I got it working in a test base environment with this recipe:
[code]
but it's not elegant. I opened an issue https://github.com

[2019-05-31 13:37] zklaus commented on #1107
Hm, I have a bit of a different take on the premise: It is generally difficult to install projects that contain binary code or have dependencies with binary code from PyPi. This is because in that case we rely on a build environment and things become brittle fast, more when users use modified `LD_LIBRARY_PATH` environment variables, as is often the case on super computers with and without the modu

[2019-05-31 14:04] valeriupredoi commented on #1107
the reverse problem with picking up deps from conda is its brittle nature of its dependency tree hence solving the environment failures, hence the need for pinning/unpinning/adding deps in the env file etc - this is something that @bouweandela and myself had to do quite a few times recently; PyPi offers stability in this respect and the more deps from PyPi the less from conda hence less possible p

[2019-05-31 14:09] zklaus commented on #1107
Just to be clear: I absolutely agree that it's nice to get things from PyPi. But for binary dependencies this turns out to be difficult, hence I would get these from conda by default.

What do you mean by

? The dependency tree is the same, no matter the package manager, no?

[2019-05-31 14:14] valeriupredoi commented on #1107
yes the dependency tree is the same in terms of package names (and probably broad versions) but conda uses a lot of identifiers for for establishing the conda-correct dependency tree shape: name, version, build, channel and these clash more often than for other package managers and conda fails to solve an environment that can probably be more relaxed and solved by other managers

[2019-05-31 14:20] zklaus commented on #1107
Well, as I said above, conda keeps track of the build environment (compiler, standard libraries, ...) and that means it has to have more comprehensive identifiers. But that isn't really any easier with pip---it is just ignored and burdened on the user. Of course, that is a completely valid approach but I think this is for experts and if we choose to go down this road, we should be conscious that t

[2019-05-31 14:23] valeriupredoi commented on #1107
yes! solid point, man. But pip-ing surely makes our lives (as core devs) easier :grin: Anyways, what are others thinking of this: B-man, Javi, Bill?

[2019-05-31 15:08] valeriupredoi commented on #1107
In any case - I finally have an env file that now installs iris from pypi (working environment, the tool installs and runs fine): iris, matplotlib (version controlled by iris) and xarray from PyPi:
[code]

[2019-06-02 14:22] nielsdrost opened #1108 "Conda package for 2.0a2 depends on julia"
The new Conda 2.0a2 Conda package depends on Julia. If Julia is not installed the post-install script fails

[code]

A simple fix was to install the (newly fixed) julia conda package first:

[code]

[2019-06-02 19:56] rswamina opened #1109 "Strategy to integrate large observational data sets"
If not already available, we need to put in place guidelines for handling new obs data sets that could run to large files ~20TB (primarily satellite data ).  As far as I can see here are at least a couple of issues that need to be addressed:
1. CMOR-ization scripts should try not to create another copy of the data and may need to CMOR-ize the data in chunks. Once reviewed and accepted, these can b

[2019-06-02 20:14] rswamina opened #1110 "Missing data in observations and masking"
Raising this issue to discuss a need (or lack thereof) of preprocessor functions for different kinds of masking due to the nature of satellite observation data. Satellite observations have missing data from time to time due to reasons like cloud coverage etc.

1. Some data may have missing values on the time axis. For e.g.,monthly data may be missing a month in a sequence. Should this be addressed

[2019-06-03 07:24] nielsdrost commented on #1108
Side note: The Julia Conda package gave me some trouble on the Jasmin, most likely due to the homes being on NFS and git (used for managing packages in Julia) not liking this much, so I ended up manually cloning the git repo before the Julia Conda install.

[code]

[2019-06-03 07:30] nielsdrost opened #1111 "Improved R lintr"
The R lintr is not quite up to the job (see #416, #726, and #812)

Perhaps it would be a good idea to start contributing to an R lintr to be able to use it in ESMValTool more effectively.

We should make sure to integrate it into Codacy as well.

[2019-06-03 07:42] nielsdrost opened #1112 "Acquire CI Machine for testing diagnostics"
One of the problems when developing and testing diagnostics is the lack of data and compute power on the public CI systems (such as CircleCI).

Perhaps it would be a good idea to run a dedicated ESMValTool diagnostic test machine, with a fair amount of CMIP Data (say 2TB) so we can automatically test pull requests for metrics.

This would require to find a machine to run this on (probably best to

[2019-06-03 07:46] nielsdrost opened #1113 "Improve CircleCI setup"
The CircleCI setup currently runs two tests: python3_test and python3_install. To the uninformed user, this does not say much. Perhaps we should update the settings to use more descriptive labels.

We should also consider making the PEP8 / syle check a separate test in CircleCI so it is easy to see that no further consideration needs to be given to a pull request.

Lastly, The Conda package is bui

[2019-06-03 07:55] nielsdrost opened #1114 "PreProcessor-as-a-diagnostic"
It has been discussed a number of times on how to best implement a diagnostic that needs pre-processing functionality _after_ some custom calculations have been done by a diagnostic. Especially when not implemented in Python this is problematic. This also puts pressure on ESMValTool to include these custom calculations as preprocessing functions.

I propose we implement a diagnostic that has pre-p

[2019-06-03 07:59] nielsdrost opened #1115 "Automated testing of diagnostic options"
We should be able to test the different options of a Metric before merging it. This is currently a lot of manual work.

Bouwe has started a script for this https://github.com/ESMValGroup/ESMValTool/pull/764. This should be a good basis to get this automated. We should also consider adding support listing options in a recipe (e.g. via #190)

[2019-06-03 09:00] nielsdrost opened #1116 "Debian container without conda"
Conda is causing a lot of noise testing ESMValTool as packages are very much as moving target.

We should build a Debian container using only Debian and Pypi packages. We can then use this to make the CircleCI testing faster and/or more stable. It also serves as a working example of how to install ESMValTool on a Debian/Ubuntu machine.

[2019-06-03 12:11] jvegasbsc commented on #827
I just updated my environment yesterday to prepare for the workshop and found no problem. I have not done a clean installation for a while, though.

The question is, ¿can we test the MacOS installation automatically? If we can, I think we can make the extra effort to support it

[2019-06-03 12:38] valeriupredoi commented on #1109
yes this is a valid question: I will also have a chat with @agstephens about this - the risk of users running their own cmorizers on sites like CEDA Jasmin is that they will produce large amounts of data that will be used only once or twice by then and the next user that needs to do that will produce the data again and not use the first user's data. This is inefficient and results in `$HOME/$USER`

[2019-06-03 13:00] agstephens commented on #1109
@valeriupredoi : Yes, this certainly needs to be managed centrally if possible. Let's chat.

[2019-06-03 13:16] ledm opened #1117 "Is there any reason why the area_average and volume_average preprocessors need to receive the coord1 and coord2 arguments?"
Is there any reason why the `area_average` and `volume_average` preprocessors need to receive the `coord1` and `coord2` arguments?

At the moment, I think we might as are hardwire these to `latitude` and `longitude`. I don't think that anyone is using `area_average` to calculate the transect-weighted average, it's always lat and lon.

Alternatively, instead of hard-wiring `latitude` and `longitude

[2019-06-03 13:38] ledm commented on #1117
Started working on this with @schlunma in https://github.com/ESMValGroup/ESMValTool/tree/version2_development_areavolume_average_1117

[2019-06-03 14:21] valeriupredoi commented on #1107
adding `anaconda` as option channel helps a lot as @bjlittle pointed out. This env file:
[code]
reduces the number of packages installed from `conda-forge` from 170 with our current setup to 67, with a lot more now straight off PyPi :beer:

[2019-06-04 10:31] ledm commented on #1117
At the moment, to take the area average, the call looks like this:
[code]
I think this could be confusing, as the `mean` operaation is implied.

I think that we should remove the default operator for these two functions. This means that we would require the operator to be explicitly listed.

[2019-06-04 10:49] BenMGeo opened #1118 "PORTING LMU diagnostic object to V2"
**Short description of the diagnostic**
The v1 LMU diagnostic object was handling various variables by delegating subdiagnostics.
v1 was based on geoval (by @bulli92) but ported to v2 will be based on iris for reducing the number of dependencies. (#503)
Major recoding is required.

**Branch and pull request**
The working branch is https://github.com/ESMValGroup/ESMValTool/tree/version2_LMU

**To D

[2019-06-04 10:59] BenMGeo commented on #1118
To Do list for Porting:

- [X] Setup simple recipe for start
- [ ] Correct management of new cfg information
- [ ] Port basic functionality/object (exchange geoval for iris)
- [ ] Port all variables
  - [ ] alb
  - [ ] fAPAR
  - [ ] fire
  - [ ] landcover
  - [ ] sm
  - [ ] sst
- [ ] Port specific diagnostics

[2019-06-04 10:59] bascrezee opened #1119 "Use cases for station data"
@zklaus and me discussed yesterday of potential use cases of station data in ESMValTool. The use cases are user-specific, but for design considerations it is good to list them here. We came up with the following:

- plot dots at the station location on top of a map with the colour determined by the value of the variable
- collocation of gridded data with the non-gridded observational data (with in

[2019-06-04 11:09] BenMGeo commented on #1119
Possible functionalities (suggestions, open for discussion)

- include footprint for masking gridded data
- calculate thyssen polygones for masking gridded data
  (Both for the case of inverse comparison of grid-to-point not point-to-grid)
- using station data for transects over gridded data? (possible use in iris)

Biggest question

- how to provide station data? single netcdfs? shapefiles?

[2019-06-04 11:20] bascrezee opened #1120 "Why do we want to CMORize all observational datasets?"
Maybe we should rather define certain interfaces to existing packages that take care of reading datasets into common Python data structures. E.g. particularly suitable for reading a very diverse set of data in different formats is [intake](https://intake.readthedocs.io/en/latest/). Another interesting project focusing on satellite datasets is [open data cube](https://www.opendatacube.org/).

[2019-06-04 11:28] bascrezee commented on #1119
Thanks Ben. See also #1120 about how to provide station data.

[2019-06-04 11:50] ledm opened #1122 "My slides for the UKESM LTSM ESMValTool tutorial"
Here are the slides that I intend to present at the UKESM LTSM ESMValTool workshop.

These slides contain several descriptions of the key components of ESMValTool, and some basic information about how recipes work, how diagnostics work and so on. I'm happy for us to use the text here as a starting point for the missing documentation.

[de Mora - UKESM ESMValTool intro  2019-05-13.pptx](https://git

[2019-06-04 13:38] zklaus commented on #1119
Nice ideas! @BenMGeo, could you clarify the difference between the two masking options that you suggested and what exactly you have in mind for the transects?

[2019-06-04 13:39] zklaus commented on #1119
@lbdreyer, looking at the list at the top of this page, do you have any comments/thoughts on the applicability of iris?

[2019-06-04 14:05] ledm opened #1125 "Documentation sprint at the DLR meeting."
The following issues were raised by users and core developpers and should be addressed whenever possible.

- [x] Redesign or abandon main [esmvaltool website](https://www.esmvaltool.org/). @bjoernbroetz
- [x] ~~Re-order the ReadTheDocs page~~ **DONE!**
- [x] ~~Include a gallery page (like Matplotlib) on the ReadTheDocs (PR #1145)~~ **DONE!**
- [ ] Unify the three sets of installation instructions.

[2019-06-04 14:06] ledm commented on #1125
I'm going to start by copying as much of the talk in #1122 as possible in the ReadTheDocs page.

[2019-06-04 14:23] bouweandela commented on #1108
I've added a note on the [conda page](https://anaconda.org/esmvalgroup/esmvaltool).

[2019-06-04 14:24] bascrezee commented on #1038
Interestingly, whereas for all custom variable definitions we leave the standard_name blank, but not for the CMOR_coordinates.dat file. Do you have any idea why?

[2019-06-04 14:36] bascrezee commented on #1120
@mattiarighi just answered this question offline to me, his answer is :
`because we want to have a pool of observational data`.

[2019-06-04 14:55] bouweandela commented on #1117
Would it make sense to allow multiple operators instead?

I like `area_statistics` better than `area_stats`, I think it's more clear and more aligned with other parts of the tool, where we also try to use the full names of things to make it accessible for less technical people.

[2019-06-04 14:56] bouweandela commented on #1122
Very good points, let's get this fixed!

[2019-06-04 15:05] earnone commented on #1063
The `hyint` version working in pipe to `extreme_events` (which is now in `version2_development`) was uploaded to branch [version2_hyint_extremes](https://github.com/ESMValGroup/ESMValTool/tree/version2_hyint_extremes).

[2019-06-04 15:09] ledm commented on #1117
Also, when we have merged this PR, @mattiarighi will need to change the documentation paper (table 1.) which holds a description of these preprocessors.

[2019-06-04 19:13] BenMGeo commented on #1119
The two masking options relate to
  a) station measurements which have a spatial footprint that they are covering with their measurement (Flux stations for example have a varying footprint depending on wind direction). This usually is not of great use in ESMs at current stage, but for high resolution data it could become relevant at some point. (like for drone observations compared to station data

[2019-06-04 19:48] BenMGeo commented on #1119
Some thoughts/questions for the table above:

functionality|kind|potential location|description|comment
---------------|-----|---------------------|---------------|----------------
plot|shared diag function|iris|plot dots at the station location on top of a map with the colour determined by the value of the variable|also, this is highly depending on the diagnostic considering optimal shape, or sub

[2019-06-04 21:28] bjlittle commented on #1107
@valeriupredoi What more do you need to do to close this issue?

[2019-06-04 21:47] bjlittle commented on #1082
@valeriupredoi I don't have access to the actual netcdf file/s, but I'd be interested in seeing an `ncdump -h` of the files/s in question to determine whether `iris` is not attaching the correct metadata into your target phenomenon cubes e.g. `sea_water_potential_temperature`

[2019-06-04 22:18] bjlittle commented on #1002
@bouweandela I highly suspect that the generic core `iris.analysis.Linear` interpolator scheme will not be performant enough for you. Not even close.

The attraction of `python-stratify` is that it is cythonized, therefore closer to bare metal speed. However, you are right, it isn't lazy. I'm keen to do a couple of things here...

- [ ] Move the `python-stratify` package from our experimental `Sci

[2019-06-04 22:39] bjlittle commented on #983
@zklaus and @valeriupredoi Just to confirm, `iris` doesn't do any CMIP/CMOR checks whatsoever, and doesn't inspect or derive any meaning from the NetCDF variable name i.e. `iris` strictly uses the CF attributes attached to a NetCDF variable to determine what kind of coordinate or cube it is.

HTH

[2019-06-04 23:44] bjlittle commented on #607
@jvegasbsc @valeriupredoi @LisaBock

The reason why `iris` is having difficulty loading this file is that the CF is incorrect. Ideally, it should look like this...
[code]
That is, more specifically:
* the `lev_bnds` variable has the `standard_name` attribute removed
* the `ap` variable has a `bounds` attribute specifying the name of the variable containing its bounds, namely `ap_bnds`
* the `b` va

[2019-06-05 07:11] BenMGeo opened #1130 "Necessity of regridding funtionality to Common Spectral Model Grid Resolutions ?"
**Is your feature request related to a problem? Please describe.**
There are some "usual suspects" when it comes to gaussian grids, accessible with e.g. cdo.
As far as I know, there is no functionality in the preprocessor to regrid to these. A list can be accessed here: https://www.ecmwf.int/en/forecasts/documentation-and-support/data-spatial-coordinate-systems.

**Would you be able to help out?**

[2019-06-05 07:33] katjaweigel commented on #1038
At least in case of the derived variables I created the reason was, that the standard name in the variable definition hat to be in the list in IRIS std_names.py. Else You get an error. To remove that the easiest way is to leave the standard name blank in the derived variable file.

[2019-06-05 08:38] zklaus commented on #1130
@BenMGeo do you want handling of actual spectral coefficients? Or regridding in grid space to and from those grids?

[2019-06-05 08:50] bjlittle commented on #688
Started the conversation (finally) on https://github.com/SciTools/iris/issues/3211 ...

[2019-06-05 08:52] bjlittle commented on #1082
@jvegasbsc Confirmed to me that this is a CF conventions issue within the data file, rather than an issue with `iris` specifically.

[2019-06-05 09:14] lbdreyer commented on #1119
With cf discrete geometries it would be possible to store timeseries for multipe stations in a single netCDF file.

As for your usecases
* plotting each station, would be done via iplt.scatter which is already supported in iris.
* colocation - we do have some code for [interpolating trajectories](https://scitools.org.uk/iris/docs/latest/iris/iris/analysis/trajectory.html) which may be suitable. I'

[2019-06-05 09:50] koir-su commented on #827
I have not tried installing it again. Last time the issue was somewhat related to the iris. If that has been resolved, I can give it a go.

[2019-06-05 10:27] valeriupredoi commented on #1107
so far I think we're in good shape but the `environment.yml` has not changed yet on the main branch so let's keep this open until we change the env :beer:

[2019-06-05 10:29] valeriupredoi commented on #1082
indeed @bjlittle nothing to do with iris :grin:

[2019-06-05 11:02] ledm opened #1131 "Sphinx documentation: .inc vs .rst"
@zklaus  and I have been looking at the documentation. We're not entirely sure why the documentation files are saved with the `.inc` extension instead of the `.rst` extension.

We propose to switch the extension to `rst` because:
1. It makes it explicitly clear what the documentation format is.
2. It will most likely help with syntax highlighting in editors.
3. It may make it easier for users to c

[2019-06-05 11:50] zklaus commented on #1119
In an offline discussion we agreed to proceed by trying to define a CF version of a selected observational dataset. Most likely this will make use of discrete geometries as defined in [CF 1.7, Chapter 9](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/cf-conventions.html#discrete-sampling-geometries).

[2019-06-05 11:53] BenMGeo commented on #1130
@zklaus as said offline: If you follow the link, there is a list of grid specifications that are commonly used, also compare a limited list here: https://climatedataguide.ucar.edu/climate-model-evaluation/common-spectral-model-grid-resolutions

cdo is capable of regridding these and also can do some analysis. We might increase interest in the (overlapping) community if we can provide similar resul

[2019-06-05 12:08] zklaus commented on #1130
To clarify: The idea is to accept strings like N48 as target grid specifiers, for now limited to regular gaussian grids in grid space.

[2019-06-05 12:13] BenMGeo commented on #1130
Yes, using these instead of something like "1x1". I'm more into the Txx naming standards, but yeah.

cdo has, for example, the following option:
`cdo  remapbil,t63  ifile  ofile`
this will regrid ifile linearly into t63.

Having a similar naming in ESMValTool would make the transition really easy.

[2019-06-05 12:30] #1131 closed

[2019-06-05 12:33] ledm commented on #1131
Just to summarise the discussion, we don't want to do this because it would mean that a lot of the documentation would be added twice: in an individual page, but also it would be appended to the lander page, creating an extremely long (and intimidating) single documentation page.

[2019-06-05 12:35] zklaus commented on #1131
What you guys said. Just that we thereby decide to go with *only* the extremely long (and intimidating) single documentation page.

Makes sense to keep things simple for now; might be revisited later on.

[2019-06-05 13:36] hb326 commented on #1044
The functions and procedures in `misc_function.ncl` are indeed still needed in eyring06jgr and eyring13jgr, even in v2. It is fine to move them to `aux_plotting.ncl`.

[2019-06-05 13:57] ledm commented on #1117
I think we should also prepare an announcement to go along with the PR. Here's a rough draft:

In addition to the structural changes in ESMValTool described in issue #1031, the most recent update of the `version2_development` branch includes several changes to the preproccesor functions `average_region` and `volume_average`.

**This update will cause any recipes that use the preprocessor functions

[2019-06-05 14:59] #226 closed

[2019-06-05 15:12] #50 closed

[2019-06-06 07:39] zklaus commented on #1119
I just stumbled across this new feature in the upcoming CF conventions 1.8: [geometries](https://github.com/cf-convention/cf-conventions/blob/master/ch07.adoc#geometries) this will allow us in the future to also support polygons in CF compliant netcdf files.

[2019-06-06 07:46] BenMGeo commented on #1119
@lbdreyer

No, they would be along a number of coordinates. Like having the point measurements in a specific order and extracting the information form the compared iris cube. (I expect something like an aggregated cube with the coordinate "station number" instead of "latitude" and "longitude")

[2019-06-06 07:59] ledm opened #1137 "Zonal and meridional statistics preprocessor"
This is an extension of Issue #1117 and PR #1123.

The following jobs need to be completed for the documentation paper (Table 1).

- Change `zonal_means` preprocesor function into two functions: `zonal_statistics` and `meridional_statistics`.
- Rename the `mean_type` to `operator`, like in the new `area_statistics`
- Create associated tests
- Add the new preprocessors to the ocean example recipe
-

[2019-06-06 08:22] bouweandela commented on #1120
That does not really answer the question, because you can also have a pool of observational data without reformatting it.

I think the real answer is probably more a perceived run-time advantage, reformatting takes some time, so if you have to do it every time you run a recipe, it could potentially be slower.

[2019-06-06 08:28] BenMGeo opened #1138 "Currently the cmorizer does not return helpful information when data set is not found"
**Is your feature request related to a problem? Please describe.**
If you want to cmorize and data cannot be found the only information you get is:
[code]

It would be nice to get an information that the required directory structure could not be found or that there is no dataset to be processed.  Something like that.

**Would you be able to help out?**
I can have a look, depending on the prioritie

[2019-06-06 08:36] #1044 closed

[2019-06-06 09:34] #1117 closed

[2019-06-06 09:41] ledm commented on #1137
I think that the absence of `fx_files` is a significant mathematical problem that we will need to address in the `meridional_statistics` function when using the `mean` operator.

In the zonal direction, the weighting is less of a problem.

[2019-06-06 09:43] yoniv1 opened #1139 "Missing required field error"
****Describe the bug****
Hi,

I'm running the ESMValTool with examples scripts from https://github.com/ESMValGroup/ESMValTool-private/tree/C3S_511_v2_snow/
When I run the tool, I get the following error. What does it mean and how can I resolve it?

Thanks!

[code]

**Recipe**
[code]

**Main_log_debug file**
[code]

**NC file characteristics**

[code]

[2019-06-06 11:17] BenMGeo commented on #1139
Dear Yoni, you opened this in the public, though the recipe is private. Please keep private things private ;)

The core requirements switched at some point and I do not know the exact status, here, but:

In the recipe: can you change
[code]
to
[code]

and try again?

[2019-06-06 11:23] bjoernbroetz commented on #601
After a discussion with @ledm, @bouweandela, @jvegasbsc @zklaus and myself at the June 2019 workshop we came up with the following points that might need to be addressed to put this to action:

1. ESMValTool acting on native model output (i.e. netcdf but not following cf-convention etc.) for each model that the monitoring shall be applied to
2. persistent data files/folder that keep the informatio

[2019-06-06 11:28] mattiarighi commented on #601
Related to #233.

[2019-06-06 12:25] bouweandela opened #1143 "Add Zenodo integration"
For reproducibility and to make the it easier to cite the ESMValTool, we should add Zenodo integration, this will automatically upload a copy of the source code to Zenodo and generate a DOI for it every time we make a release on github. See [here](https://guide.esciencecenter.nl/citable_software/making_software_citable.html) for instructions.

[2019-06-06 13:22] ddocquier commented on #208
Hi @jvegasbsc ,

The second ESMValTool run that I launched on Tuesday (before leaving the workshop) also didn't work FYI. There is a memory error. See JASMIN: /gws/nopw/j04/primavera1/cache/ddocquier/esmval_outputs/recipe_seaice_drift_20190604_151345/run/. I'll try to run only 1 year for the observations (as for the model). Can it be because I run it on jasmin-sci1? I could try on jasmin-sci3.

[2019-06-06 13:26] #1138 closed

[2019-06-06 13:36] ddocquier commented on #208
Hi again, I've tried to relaunch esmvaltool but PIOMAS data (for sit) seem not to be present anymore on JASMIN. Is that the case?

[2019-06-06 14:49] valeriupredoi commented on #1110
This is definitely needed at the cmorization stage, since a time coordinate that is not coniguous, albeit supported by iris, is a major data problem that needs to be fixed before running anything with the data; setting missing values would work fine

Why mask them only for seasonal avgs? That data is not there so by computing the annual average with missing values we can actually assign weights an

[2019-06-06 15:26] mattiarighi commented on #1125
A note to the reviewers on the documentation PRs: please focus about the content and correct errors and typos, but do not worry too much about the writing style at this stage.

Everyone writes with his/her own style and this would need to be homogeneized at the end, but now the priority should be to get the documentation in readthedocs.

[2019-06-07 08:05] bouweandela commented on #1116
@zklaus I assigned you because you offered to help out with this. Please let me know if I can support you in any way.

[2019-06-07 08:10] bouweandela commented on #1114
We will have to check what preprocessor functions can be used in a useful way if implementing it like this. Some preprocessor functions rely heavily on the recipe parser (esmvalcore/_recipe.py) for supplying the arguments. This is especially the case if the arguments are not of data types that can be specified in YAML or that depend e.g. on the dataset.

[2019-06-07 08:12] bouweandela commented on #1114
An alternative could be to just use the normal preprocessor definition as we have it now in the recipe, but allow also for using this after diagnostic code. In either case, we will have to think carefully about keeping the interface simple.

[2019-06-07 09:04] mattiarighi opened #1147 "End of ERA-Interim data"
ECMWF announced the end of ERA-Interim data on 31 August 2019.
As I understood, the dataset will be replaced by ERA-5.

For back compatibility and reproducibility of old results I think we should keep ERA-Interim in our pool (and the CMORizer as well), maybe updating it to the latest (and last) version before it goes.

[2019-06-07 09:05] mattiarighi commented on #1147
More [here](https://www.ecmwf.int/en/newsletter/159/meteorology/global-reanalysis-goodbye-era-interim-hello-era5).

[2019-06-07 15:08] bouweandela commented on #817
Except for this bit:

A lot of duplication i.e. copy/paste style of coding is still reported by Codacy, #763 (comment).  This code should be moved into functions to keep it maintainable. If  you later want to change something about this code, you will have to  search all over the place for copies.

[2019-06-07 15:35] bouweandela commented on #817
I've just had a look, but unit tests are still half missing for the preprocessor functions introduced here. @ledm Would you have time to look at this? You can view the coverage locally by checking out the ESMValTool Core repository and running:
[code]
We should soon have the coverage results available on Codacy again. In the mean time, they are available on CircleCI if you click the artifacts tab,

[2019-06-07 16:05] bjoernbroetz opened #1155 "Fix documentation after code split"
@bouweandela So this are my thoughts on how to join the spited documentations of the core and diag part of the tool.
The `Subprojects` of RTD are not as strait forward as we needed them to be. You get them all accessible under one URL but the remain pretty much separate). So I dropped this idea.

With this repo we have a kind of Superproject that contains core and diag part as `git submodules`. Th

[2019-06-09 12:13] bjlittle opened #1149 "sign the python3statement"
We've just added `iris` to https://python3statement.org/, also with a timeline of when it will be Python3 only.

You guys are Python3 only already (whoop!), but it would be pretty awesome to see the logo and timeline of ESMValTool there as well - it's all about project public relations, and the python3statement is giving a really nice platform for projects to advertise not only their commitment to

[2019-06-09 12:13] bjlittle commented on #1149
Ping @valeriupredoi - we briefly talked about this a the ESMValTool Technical Workshop :wink:

[2019-06-10 12:50] ledm opened #1150 "Revisit the Architecture diagram?"
Now that the split has completed (#1031) should we change the [architecture diagram](https://esmvaltool.readthedocs.io/en/version2_development/preface/index.html#fig-schematic) to reflect the difference between the esmvaltool and esmvalcore repositories?

Perhaps this diagram could be revisited to really highlight the differences between the tool and core repositories?

[2019-06-10 16:58] mattiarighi commented on #1150
I'm working on that as part of Paper 1.
Will open a PR once finished.

[2019-06-11 09:01] mattiarighi commented on #1017
@jmcgove any news here?
If the issue is solved please close it. :+1:

[2019-06-11 09:09] mattiarighi commented on #966
Solved by #1041

[2019-06-11 09:09] #966 closed

[2019-06-11 09:28] mattiarighi commented on #925
I close this since it is not an ESMValTool issue.

[2019-06-11 09:32] mattiarighi commented on #847
Replaced by [#24](https://github.com/ESMValGroup/ESMValCore/issues/24).

[2019-06-11 09:32] #847 closed

[2019-06-11 09:36] #803 closed

[2019-06-11 09:38] mattiarighi commented on #776
@valeriupredoi is this still relevant?

[2019-06-11 09:40] valeriupredoi commented on #776
Nope, can be closed :beer:

Dr Valeriu Predoi.
Computational scientist
NCAS-CMS
University of Reading
Department of Meteorology
Reading RG6 6BB
United Kingdom

On Tue, 11 Jun 2019, 10:38 Mattia Righi, <notifications@github.com> wrote:

[2019-06-11 09:40] mattiarighi commented on #769
Repositories are split, we can close this.

[2019-06-11 09:40] #769 closed

[2019-06-11 09:42] mattiarighi commented on #748
You need to add the auxiliary coordinate.
Check how it works with `height2m` for `tas` in `ERA-Interim`, it should be exactly the same problem.

[2019-06-11 09:46] mattiarighi commented on #679
This would now be esmvalcore python package, right @bouweandela ?
If yes, please rename this issue and transfer it to core.

[2019-06-11 09:50] mattiarighi commented on #639
I slightly changed the title, since I believe this does not belong to the preprocessor and one of the options suggested above should be implemented instead.

[2019-06-11 09:51] #776 closed

[2019-06-11 09:56] mattiarighi commented on #593
I suggest to close this: these are intrinsic problems of the regridding procedures and not related to the specific ESMValTool implementation.

Using cdo or any other package you would probably get to the same conclusions, as the algorithms behind them are basically the same.

We have added a comment in the paper that summarize the discussion.

[2019-06-11 09:56] #593 closed

[2019-06-11 10:00] mattiarighi commented on #360
Closing since now covered by #1125

[2019-06-11 10:00] #360 closed

[2019-06-11 10:01] mattiarighi commented on #236
Closing since already covered by #873

[2019-06-11 10:01] #236 closed

[2019-06-11 10:32] ddocquier commented on #208
Hi @jvegasbsc , I have checked the Part 2 paper of Veronika and updated accordingly for the sea-ice drift metric. 2 things: 1) Could you check for PIOMAS please (see above)? 2) For observations, it's better to keep OSI-450 for sea-ice concentration (and remove OSI-409).

[2019-06-11 11:19] jvegasbsc commented on #208
I can not connect to jasmin now. I will cjeck when I can

[2019-06-11 11:24] ddocquier commented on #208
Me neither: there is a maintenance today. For the Part 2 paper, since I wasn't able to correctly run the metric on ESMValTool yet, is it possible that you produce the figure with 1 of the CMIP5 models (ideally average over 1979-2013 for both the model and observations)?

[2019-06-11 12:31] jvegasbsc commented on #208
I will try

[2019-06-11 12:39] ddocquier commented on #208
Haven't you succeeded to run the metric on JASMIN previously?

[2019-06-11 12:43] jvegasbsc commented on #208
Yes, but I am a bit puzzled about your issue with PIOMAS

[2019-06-11 14:37] zklaus commented on #1116
I'll have a look.

[2019-06-11 16:16] #1150 closed

[2019-06-12 06:21] BenMGeo commented on #1119
@zklaus

I attached 2 examples for station data.
The DWD data is cmorized with V2, the ISMN data is cmorized with v1 (@bascrezee).

We would need to be able to handle a number of each stations read in within a recipe.

[OBS_Stations.zip](https://github.com/ESMValGroup/ESMValTool/files/3279825/OBS_Stations.zip)

[2019-06-12 09:10] bjoernbroetz commented on #1125
For the documentation appearing united at ReadTheDocs I would like to propose this:
https://github.com/ESMValGroup/ESMValTool-doc/issues/1

[2019-06-12 13:29] bouweandela commented on #925
It is actually an issue with our installation scripts, I think we may need to pin some dependencies.

[2019-06-12 20:14] ddocquier commented on #208
I've just tried to run esmvaltool with recipe_seaice_drift.yml again but it ends up with the same error linked to PIOMAS. See my log file on JASMIN: /gws/nopw/j04/primavera1/cache/ddocquier/esmval_outputs/recipe_seaice_drift_20190612_200551/run. When I look at /group_workspaces/jasmin4/esmeval/obsdata-v2, it seems that PIOMAS data disappeared (I'm sure they were present during the workshop, I coul

[2019-06-13 06:39] BenMGeo commented on #48
@koldunovn can we close this? as we drop V1 and I need to recode everything for V2 either way.

[2019-06-13 08:56] bouweandela commented on #769
It's not done until #1148 is merged